<!-- Revolution Slider -->
<section class="revolution-slider">
    <div class="bannercontainer">
        <div class="banner">
            <ul>
                {% for ownership in ownerships %}
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <!-- Main Image -->
                        <img src="{{ asset('uploads/ownershipImages/'~ownership.photo) }}"  alt="{{ ownership.own_name }}"  data-bgposition="center center" data-kenburns="on" data-duration="6000" data-ease="Power4.easeInOut" data-bgfit="140" data-bgfitend="100" data-bgpositionend="center center">
                        {#<img src="{{ asset('uploads/ownershipImages/originals/'~ownership.photo) }}" style="opacity:0;" alt="{{ ownership.own_name }}"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">#}
                        <!-- Layers -->
                        <!-- Layer 1 -->
                        <div class="tp-caption sfl lfl large_bold_white_25 caecilia-roman"
                             data-x="left"
                             data-y="center"
                             data-speed="700"
                             data-voffset="-50"
                             data-hoffset="10"
                             data-start="1700"
                             data-easing="easeOutBack">
                            <span>{{"SLOGAN_1" | trans}} {{"SLOGAN_2" | trans}}</span>
                        </div>
                        <!-- Layer 2 -->
                        <div class="tp-caption sfl lfl medium_text_shadow caecilia-roman"
                             data-x="left"
                             data-y="center"
                             data-voffset="0"
                             data-hoffset="10"
                             data-speed="800"
                             data-start="1900"
                             data-easing="easeOutBack">
                            <span>{{ 'SLOGAN_3'|trans }}</span></div>

                        <!-- Layer 2 -->
                        <div class="tp-caption sfr lfr large_bold_white_24 caecilia-roman"
                             data-x="right"
                             data-y="center"
                             data-voffset="-50"
                             data-hoffset="-10"
                             data-speed="800"
                             data-start="1900"
                             data-easing="easeInQuad">
                            <span>{{ ownership.own_name }} {{ 'IN'|trans }} {{ ownership.destination }}</span> </div>

                        <!-- Layer 2 -->
                        <div class="tp-caption sfr lfr medium_text_shadow caecilia-roman"
                             data-x="right"
                             data-y="center"
                             data-voffset="0"
                             data-hoffset="-10"
                             data-speed="900"
                             data-start="1900"
                             data-easing="easeInQuad">
                            <span>{{ 'FROM_PRICES'|trans }} {{ ownership.minPrice | price }}</span></div>
                        <!-- Layer 3 -->
                        <div class="caption sfr lfr"
                             data-x="right"
                             data-y="center"
                             data-voffset="50"
                             data-hoffset="-10"
                             data-speed="1000"
                             data-start="1900"
                             data-easing="easeInQuad">
                            <a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | urlNormalize}) }}" onClick= "_gaq.push(['_trackEvent','Botones','portada','Cantidad clic',2]);" class="button btn btn-success btn-lg">{{ 'SEE_NOW'|trans }}</a>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
