{% set main_tab = 1 %}
{% set is_home = 1 %}
{% extends 'FrontEndBundle:layout:base.html.twig' %}
{%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_HOMEPAGE')%}

{#{% block title %}{{"HOMEPAGE_TITLE" | trans | title}}{% endblock %}#}

{% block include_javascripts_and_css %}
    <script>
        // Added this just so I didn't have to wait 5 seconds to see if the transition worked. //
        $(document).ready(function() {
            $('#myCarousel').carousel({
                interval:   5000
            });
        });
    </script>
{% endblock %}

{% block big_banner %}
    <div id="full-width-slider">
        {{ include('FrontEndBundle:layout:carousel.html.twig') }}
    </div>
    <div id="banner-msg-cont">
        <div id="banner-msg">
            <h1 class="caecilia-roman">{{"SLOGAN_1" | trans}}<br> {{"SLOGAN_2" | trans}}</h1>
            <h2>{{"SLOGAN_3" | trans}}</h2>
        </div>
    </div>
    <div id="main-search">
        {{ render(controller('FrontEndBundle:Ownership:orangeSearchBar')) }}
    </div>
{% endblock %}
{% block body %}
    <div id="map-cont">
        <div class="container">
            <h2 class="text-center caecilia-roman h-grey h-size-2">{{"PLACE_IN_CUBA_TO_VISIT" | trans}}</h2>
        </div>
        <div style="background-color: #ECEAEB; padding: 15px 0 30px 0; margin-top: 15px">
            {{ render(controller('FrontEndBundle:Destination:getBigMap')) }}
        </div>
    </div>
    <div  class="container">
        <!--div class="row home_cat">
    <div class="col-md-4">
        <a href="">
        <div data="icon-map" class="select">
            <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-categ icon-map">
            <h4 class="caecilia-roman">Casas Particulares</h4>
        </div>
        </a>
    </div>
    <div class="col-md-4" style="padding: 0 2px;">
        <a href="">
            <div data="icon-bag">
                <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-categ icon-bag">
                <h4 class="caecilia-roman">Paquetes</h4>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="">
            <div data="icon-table">
                <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-categ icon-table">
                <h4 class="caecilia-roman">Guía e información</h4>
            </div>
        </a>
    </div>
</div-->
        <div class="text-center"><span class="caecilia-roman h-dark-grey">{{"HOMEPAGE_SUBTITLE_1" | trans}}</span></div>
        <p style="color: #000000; ">{{"HOMEPAGE_TEXT" | trans}}</p>
        {#<h1 class="text-center"><small><h1 class="caecilia-roman" style="margin-top: 13px; font-size: 24px">{{"HOMEPAGE_SUBTITLE_2" | trans}}</h1></small></h1>#}
        <div class="text-center"><label class="caecilia-roman" style="margin-top: 13px; font-size: 24px; font-weight:normal;color: #999999;margin-bottom:11.5px">{{"HOMEPAGE_SUBTITLE_2" | trans}}</label></div>

        <div id="top_rated_placeholder" data-url="{{path('frontend_top_rated_callback_ownership')}}"
             data-url-change-category="{{path('frontend_top_rated_change_category_callback_ownership')}}">
            {{ include('FrontEndBundle:ownership:homeTopRatedOwnership.html.twig', {'own_top20_list':own_top20_list,
                'premium_total': premium_total,
                'midrange_total': midrange_total,
                'economic_total': economic_total}) }}
        </div>
        {{ render(controller('FrontEndBundle:Public:homeCarrousel')) }}
    </div>
    <script type="text/javascript">
        old_class='';
        $('.home_cat .col-md-4 div').mouseover(function(){
            elem=$('.'+$(this).attr('data'));
            old_class= elem.attr('class');
            elem.addClass('hover');
        })
        $('.home_cat .col-md-4 div').mouseout(function(){
            elem=$('.'+$(this).attr('data'));
            elem.attr('class',old_class);
        });
    </script>
{% endblock %}
