{% set main_tab = 1 %}
{% set is_home = 1 %}
{% extends 'frontEndBundle:layout:base.html.twig' %}

{% block include_javascripts_and_css %}
<script src="{{ asset('bundles/frontend/js/jquery.royalslider.min.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#full-width-slider').royalSlider({
            numImagesToPreload:0,
            arrowsNav: true,
            loop: true,
            keyboardNavEnabled: true,
            imageScaleMode: 'fill',
            arrowsNavAutoHide: false,
            autoScaleSlider: true,
            autoScaleSliderWidth: 1466,
            autoScaleSliderHeight: 350,
            controlNavigation: false,
            thumbsFitInViewport: false,
            navigateByClick: true,
            startSlideId: 0,
            autoPlay: true,
            transitionType:'move',
            globalCaption: false,
            deeplinking: {
                enabled: true,
                change: false
            }
        });

        /*var slider = $("#full-width-slider").data('royalSlider');

        slider.ev.on('rsAfterSlideChange', function(event) {
            $('img.rsImg').attr('src','/newInterface/web/bundles/frontend/img/slideshow/1/2.jpg');
        });
        /*jQuery(document).ready(function($) {
            $('.rsImg').each(function(){

            });
        });*/

    });


</script>
{% endblock %}

{% block big_banner %}
<div id="full-width-slider" class="royalSlider rsDefault">
    <img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/1.jpg') }}" alt="" />
    <img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/2.jpg') }}" alt="" />
    <img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/3.jpg') }}" alt="" />
    <img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/4.jpg') }}" alt="" />
    <img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/5.jpg') }}" alt="" />
</div>
<div id="banner-msg-cont">
<div id="banner-msg">
    <h1 class="caecilia-roman">{{"SLOGAN_1" | trans}}</br> {{"SLOGAN_2" | trans}}</h1>
    <h2 class="helvetica-roman">{{"SLOGAN_3" | trans}}</h2>
</div>
</div>
<div id="main-search">
{% render "frontEndBundle:ownership:orangeSearchBar" %}
</div>
{% endblock %}
{% block body %}
<div id="map-cont">
<div class="container">
    <h2 class="text-center caecilia-roman h-grey h-size-2"><b>{{"PLACE_IN_CUBA_TO_VISIT" | trans}}</b></h2>
</div>
<div style="background-color: #ECEAEB; padding: 15px 0 30px 0; margin-top: 15px">
    {% render('frontEndBundle:destination:get_big_map') %}
</div>
</div>
<div  class="container">
<h1 class="text-center caecilia-roman h-dark-grey">{{"HOMEPAGE_SUBTITLE_1" | trans}}</h1>
    <p style="color: #000000; ">{{"HOMEPAGE_TEXT" | trans}}</p>
    <h1 class="text-center"><small><h1 class="caecilia-roman" style="margin-top: 13px; font-size: 24px">{{"HOMEPAGE_SUBTITLE_2" | trans}}</h1></small></h1>
    
<div id="top_rated_placeholder" data-url="{{path('frontend_top_rated_callback_ownership')}}"
     data-url-change-category="{{path('frontend_top_rated_change_category_callback_ownership')}}">
    {{ include('frontEndBundle:ownership:homeTopRatedOwnership.html.twig', {'own_top20_list':own_top20_list,
                                                                            'premium_total': premium_total,
                                                                            'midrange_total': midrange_total,
                                                                            'economic_total': economic_total}) }}
</div>

{% render 'frontEndBundle:public:home_carrousel' %}
</div>
{% endblock %}
