{% set main_tab = 1 %}
{% extends 'frontEndBundle:layout:base.html.twig' %}

{% block include_javascripts_and_css %}
<link href="{{ asset('bundles/frontend/css/royalslider.css') }}" rel="stylesheet" >
<script src="{{ asset('bundles/frontend/js/jquery.royalslider.min.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#full-width-slider').royalSlider({
            arrowsNav: true,
            loop: false,
            keyboardNavEnabled: true,
            imageScaleMode: 'fill',
            arrowsNavAutoHide: false,
            autoScaleSlider: true,
            autoScaleSliderWidth: 1466,
            autoScaleSliderHeight: 350,
            controlNavigation: 'bullets',
            thumbsFitInViewport: false,
            navigateByClick: true,
            startSlideId: 0,
            autoPlay: false,
            transitionType:'move',
            globalCaption: false,
            deeplinking: {
                enabled: true,
                change: false
            }
        });
    });


</script>
{% endblock %}

{% block big_banner %}
<div id="full-width-slider" class="royalSlider heroSlider rsMinW">
    
    <div class="rsContent"><img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/1.jpg') }}" alt="" /></div>
    <div class="rsContent"><img class="rsImg" src="{{ asset('bundles/frontend/img/slideshow/'~slide_folder~'/2.jpg') }}" alt="" /></div>
</div>
<div id="banner-msg-cont">
<div id="banner-msg">
    <h1 class="caecilia-roman">{{"SLOGAN_1" | trans}}</br> {{"SLOGAN_2" | trans}}</h1>
    <h2 class="helvetica-roman">{{"SLOGAN_3" | trans}}</h2>
</div>
</div>
<div id="main-search">
{% render "frontEndBundle:ownership:orangeSearchBar" %}
</div>
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center caecilia-roman h-grey h-size-2"><b>{{"PLACE_IN_CUBA_TO_VISIT" | trans}}</b></h2>
</div>
<div style="background-color: #ECEAEB; padding: 40px 0 50px 0; margin-top: 15px">
    {% render('frontEndBundle:public:get_big_map') %}
</div>
<div  class="container">
<h1 class="text-center caecilia-roman h-dark-grey">{{"HOMEPAGE_SUBTITLE_1" | trans}}</h1>
    <p style="color: #000000; ">{{"HOMEPAGE_TEXT" | trans}}</p>
    <h1 class="text-center"><small><h1 class="caecilia-roman" style="margin-top: 13px; font-size: 24px">{{"HOMEPAGE_SUBTITLE_2" | trans}}</h1></small></h1>
    
<div id="top_rated_placeholder" data-url="{{path('frontend_top_rated_callback_ownership')}}"
     data-url-change-category="{{path('frontend_top_rated_change_category_callback_ownership')}}">
    {{ include('frontEndBundle:ownership:homeTopRatedOwnership.html.twig', {'own_top20_list':own_top20_list}) }}
</div>

{% render 'frontEndBundle:public:home_carrousel' %}
</div>
{% endblock %}
