{% extends 'frontEndBundle:layout:base.html.twig' %}

{% block content_nav_top_body %}
{{"HOME_DESCRIPTION_MAIN_MENU" | trans}}
{% endblock %}

{% block include_javascripts_and_css %}
<link href="{{ asset('bundles/frontend/css/royal_slider/royalslider.css') }}" rel="stylesheet" >
<link href="{{ asset('bundles/frontend/css/royal_slider/rs-default.css') }}" rel="stylesheet" >
<link href="{{ asset('bundles/frontend/css/tooltip.css') }}" rel="stylesheet" media="screen">
<script src="{{ asset('bundles/frontend/js/royal_slider/jquery.royalslider.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/full_slider.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/top_rated_ownership.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/mapper.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/cvi_tip_lib.js') }}"></script>
{% endblock %}

{% block big_banner %}
<div id="full-width-slider" class="royalSlider rsDefault">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/'~slide_folder~'/1.jpg') }}" alt="">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/'~slide_folder~'/2.jpg') }}" alt="">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/'~slide_folder~'/3.jpg') }}" alt="">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/'~slide_folder~'/4.jpg') }}" alt="">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/'~slide_folder~'/5.jpg') }}" alt="">
</div>

<div style="background-color: #A1CB37; height: 10px; z-index: 500">&nbsp;</div>
{% endblock %}

{% block big_banner_info %}
<div style="position: relative; z-index: 500; bottom:-25px">
    {% render "frontEndBundle:ownership:orangeSearchBar" %}
</div>

<div class="info_message banner">
    {{"SLOGAN_1" | trans}}<br/>{{"SLOGAN_2" | trans}}
    <div class="message"><b>MyCasaParticular.com</b>, {{"SLOGAN_3" | trans}}</div>
</div>
{% endblock %}
{% block body %}
<div class="banner_map_cont row-fluid" style="margin-left: 10%">
    <img id="gmipam_3_canvas" usemap="#map_of_cuba" src="{{ asset('bundles/frontend/images/translations/'~app.request.locale~'/banner_map.png') }}" class="mapper noborder iopacity50 icolorff0000" />
    <map name="map_of_cuba">
        {%for province in provinces%}
        {% if province.ProvMapPolyCoords != null or province.ProvMapPolyCoords != ""%}
        <area id="area_{{province.provcode}}" alt="{{province.provname}}" tooltip="{{province.provname}}" onmouseover="cvi_tip._show(event);" onmouseout="cvi_tip._hide(event);" onmousemove="cvi_tip._move(event);" href="{{ path('frontend_search_ownership',{'text':province.provName, 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}" coords="{{province.ProvMapPolyCoords}}" shape="poly">
        {%endif%}
        {%endfor%}
    </map>

</div>
<div class ="row-fluid">
    <div class="span8">
        <div class="info_message no_banner">
            {{"HOMEPAGE_SUBTITLE_1" | trans}}
            <div class="message"><b>{{"HOMEPAGE_SUBTITLE_2" | trans}}</b></div>
        </div>
        <div class="justify">
            {{"HOMEPAGE_TEXT" | trans}}
        </div>
    </div>
    <div class="span4 destinations">
        {{ include('frontEndBundle:destination:homePopularDestinationsList.html.twig') }} 
    </div>
</div>
<div id="top_rated_placeholder" data-url="{{path('frontend_top_rated_callback_ownership')}}">
    {{ include('frontEndBundle:ownership:homeTopRatedOwnership.html.twig', {'own_top20_list':own_top20_list}) }}
</div>
{% render 'frontEndBundle:public:home_carrousel' %}
{% endblock %}
