{% extends 'frontEndBundle:layout:base.html.twig' %}

{% block content_nav_top_body %}
{{"HOME_DESCRIPTION_MAIN_MENU" | trans}}
{% endblock %}

{% block include_javascripts_and_css %}
<link href="{{ asset('bundles/frontend/css/royal_slider/rs-minimal-white.css') }} rel="stylesheet" media="screen">
<link href="{{ asset('bundles/frontend/css/royal_slider/royalslider.css') }}" rel="stylesheet" media="screen">
<link href="{{ asset('bundles/frontend/css/bootstrap/bootstrap-datepicker.css') }}" rel="stylesheet" media="screen">
<script src="{{ asset('bundles/frontend/js/royal_slider/jquery.royalslider.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/full_slider.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/bootstrap/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/bootstrap/bootstrap-datepicker.es.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/home_search.js') }}"></script>
{% endblock %}

{% block big_banner %}
<div id="full-width-slider" class="royalSlider heroSlider rsMinW">
    <div class="rsContent">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/1.jpg') }}" alt="">
    </div>
    <div class="rsContent">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/2.jpg') }}" alt="">
    </div>
    <div class="rsContent">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/3.jpg') }}" alt="">
    </div>
    <div class="rsContent">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/4.jpg') }}" alt="">
    </div>
    <div class="rsContent">
        <img class="rsImg" src="{{ asset('bundles/frontend/images/slideshow/5.jpg') }}" alt="">
    </div>
</div>
{% endblock %}
{% block big_banner_info %}
<div id="banner_search">
    <div class="row-fluid">
        <div class="perc_40 where"><input type="text" id="input_text" placeholder="{{"PLACE_WATERMARK" | trans}}" autocomplete="off" data-highlighter="null" class="input-block-level" data-items="5" data- data-provide="typeahead" data-source='{{autocomplete_text_list}}'/></div>
        <div class="perc_15"><input type="text" id="input_arrival_date" placeholder="{{"ARRIVAL_WATERMARK" | trans}}" class="input-block-level start" data-localization='{{locale}}'/></div>
        <div class="perc_15"><input type="text" id="input_departure_date" placeholder="{{"DEPARTURE_WATERMARK" | trans}}" class="input-block-level end" data-localization='{{locale}}'/></div>
        <div class="perc_15"><input type="text" id="input_guests" placeholder="{{"GUEST_WATERMARK" | trans}}" class="input-block-level guest numeric" /></div>
        <div class="perc_15">
            <button type="submit" id="btn_search" class="btn btn-block orange_button" data-url="{{ path('frontend_search_ownership',{'text':'_text', 'arrival':'_arrival','departure':'_departure','guests':'_guests'})}}">
            <i class="icon-search icon-white"></i> {{"SEARCH" | trans}}
            </button></div>
    </div>
</div>
<div class="info_message banner">
    {{"SLOGAN_1" | trans}}<br/>{{"SLOGAN_2" | trans}}
    <div class="message"><b>MyCasaParticular.com</b>, {{"SLOGAN_3" | trans}}</div>
</div>
{% endblock %}
{% block body %}
<div class="banner_map_cont row-fluid">
    <img src="{{ asset('bundles/frontend/images/translations/'~app.request.locale~'/banner_map.png') }}"/>
</div>
<div class ="row-fluid">
    <div class="span8">
        <div class="info_message no_banner">
            {{"HOMEPAGE_SUBTITLE_1" | trans}}
            <div class="message"><b>{{"HOMEPAGE_SUBTITLE_2" | trans}}</b></div>
        </div>
        <div class="justify">
            {{"HOMEPAGE_TEXT" | trans}}
        </div>
    </div>
    <div class="span4 destinations">
        <div class="row-fluid">
            <div class="span6">
                <ul>
                    <li><a href="">Pinar del Río</a></li>
                    <li><a href="">La Habana</a></li>
                    <li><a href="">Soroa</a></li>
                    <li><a href="">Guanabo</a></li>
                    <li><a href="">Baracoa</a></li>
                    <li><a href="">Matanzas</a></li>
                    <li><a href="">Varadero</a></li>
                    <li><a href="">Playa Larga</a></li>
                    <li><a href="">Villa Clara</a></li>
                </ul>
            </div>
            <div class="span6">
                <ul>
                    <li><a href="">Pinar del Río</a></li>
                    <li><a href="">La Habana</a></li>
                    <li><a href="">Soroa</a></li>
                    <li><a href="">Guanabo</a></li>
                    <li><a href="">Baracoa</a></li>
                    <li><a href="">Matanzas</a></li>
                    <li><a href="">Varadero</a></li>
                    <li><a href="">Playa Larga</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="head_menu_top_rated">
    {{"TOP_HOUSES_HOME_TITLE" | trans}}
</div>
{% if own_top20_list | length%}
<div class="top_rated_items">
    {%set cont=0%}
    {%for ownership in own_top20_list%}
    {% if cont <4 %}
    <div class="item">
        <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownname}}">
            <div class="image" style="background-image: url('{{ asset("uploads/ownershipImages/" ~ own_top20_photos[ownership.ownid])}}')">
            <div class="rating">{%if ownership.owncommentstotal > 0%}+{%endif%}{{ownership.owncommentstotal}}</div></div>
            <div class="title">{{ ownership.ownname| title }}
            <div class="place">({{ownership.ownaddressprovince}})</div>
            </div>
            <div class="description">
                {%if own_top20_descriptions[ownership.ownid] != null%}
                <p>{{own_top20_descriptions[ownership.ownid] |striptags |capitalize}} (...Más)</p>
                {%endif%}

            </div>
        </a>
    </div>
    {% set cont=cont+1 %}
    {% else %}
        {% set cont=0 %}
        </div>
        <div class="top_rated_items">
            <div class="item">
                <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownname}}">
                    <div class="image" style="background-image: url('{{ asset("uploads/ownershipImages/" ~ own_top20_photos[ownership.ownid])}}')">
                        <div class="rating">{%if ownership.owncommentstotal > 0%}+{%endif%}{{ownership.owncommentstotal}}</div></div>
                    <div class="title">{{ ownership.ownname| title }}
                        <div class="place">({{ownership.ownaddressprovince}})</div>
                    </div>
                    <div class="description">
                        {%if own_top20_descriptions[ownership.ownid] != null%}
                        <p>{{own_top20_descriptions[ownership.ownid] |striptags |capitalize}} (...Más)</p>
                        {%endif%}

                    </div>
                </a>
            </div>
    {% endif %}
    {%endfor%}
{% endif %}
</div>
<div class="top_rated_tools row-fluid">
    <div class="tool">{{"VISUALIZE" | trans}} 3 x
        <div class="btn-group">
            <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                2
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                
            </ul>
        </div></div>
    <div class="tool">{{"PAGER" | trans}}</div>
    <div class="tool"><span class="hide_small_screen">{{"TELL_A_FRIEND" | trans}}:</span> 
            <img title="{{"CONTACT_US" | trans}}" src="{{ asset('bundles/frontend/images/mail.gif') }}">
            <img title="{{"FOLLOW_US_FACEBOOK" | trans}}" src="{{ asset('bundles/frontend/images/facebook.gif') }}">
            <img title="{{"FOLLOW_US_TWITTER" | trans}}" src="{{ asset('bundles/frontend/images/twitter.gif') }}">
    </div>
</div>

<div class="secondary_tab row-fluid">
    <div class="nav-tabs_cont">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#popular_destinations">{{"POPULAR_DESTINATIONS_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#last_added">{{"LAST_ADDED_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#economic_houses">{{"ECONOMIC_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#midrange_houses">{{"MIDRANGE_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#premium_houses">{{"PREMIUM_HOME_TABS" | trans}}</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="popular_destinations" class="tab-pane fade in active">
            <div class="row-fluid">
            {% for destination in popular_places %}
                <div class="span3">
                    <a href="{{ path('frontend_details_destination',{'destination_id':destination.desid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{destination.desName}}">
                    <img src="{{ asset("uploads/destinationImages/" ~ popular_places_photos[destination.desid])}}"/>
                    <label>{{destination.desName}}</label>
                    </a>
                    <label class="place">{{popular_places_localization[destination.desid]}}</label>
                </div>
            {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
            {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"POPULAR_DESTINATIONS_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_list_destinations')}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>
        <div id="last_added" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in last_added %}
                <div class="span3">
                    <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownName}}">
                        {% if last_added_photos[ownership.ownid]=='no_photo.png'%}
                            <img src="{{ asset("uploads/destinationImages/" ~ last_added_photos[ownership.ownid])}}"/>
                        {% else %}
                            <img src="{{ asset("uploads/ownershipImages/" ~ last_added_photos[ownership.ownid])}}"/>
                        {% endif %}

                        <label>{{ownership.ownname}}</label>
                    </a>
                    <label class="place">{{ownership.ownaddressprovince}}</label>
                </div>
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"LAST_ADDED_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_last_added_ownership')}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>
        <div id="economic_houses" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in economic_own_list %}
                <div class="span3">
                    <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownName}}">
                        {% if economy_own_photos[ownership.ownid]=='no_photo.png'%}
                        <img src="{{ asset("uploads/destinationImages/" ~ economy_own_photos[ownership.ownid])}}"/>
                        {% else %}
                        <img src="{{ asset("uploads/ownershipImages/" ~ economy_own_photos[ownership.ownid])}}"/>
                        {% endif %}

                        <label>{{ownership.ownname}}</label>
                    </a>
                    <label class="place">{{ownership.ownaddressprovince}}</label>
                </div>
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"ECONOMIC_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_category_ownership',{'category':'economy'})}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>

        <div id="midrange_houses" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in medium_own_list %}
                <div class="span3">
                    <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownName}}">
                        {% if medium_own_photos[ownership.ownid]=='no_photo.png'%}
                        <img src="{{ asset("uploads/destinationImages/" ~ medium_own_photos[ownership.ownid])}}"/>
                        {% else %}
                        <img src="{{ asset("uploads/ownershipImages/" ~ medium_own_photos[ownership.ownid])}}"/>
                        {% endif %}

                        <label>{{ownership.ownname}}</label>
                    </a>
                    <label class="place">{{ownership.ownaddressprovince}}</label>
                </div>
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"MIDRANGE_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_category_ownership',{'category':'rango_medio'})}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>

        <div id="premium_houses" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in premium_own_list %}
                <div class="span3">
                    <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownName}}">
                        {% if premium_own_photos[ownership.ownid]=='no_photo.png'%}
                        <img src="{{ asset("uploads/destinationImages/" ~ premium_own_photos[ownership.ownid])}}"/>
                        {% else %}
                        <img src="{{ asset("uploads/ownershipImages/" ~ premium_own_photos[ownership.ownid])}}"/>
                        {% endif %}

                        <label>{{ownership.ownname}}</label>
                    </a>
                    <label class="place">{{ownership.ownaddressprovince}}</label>
                </div>
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"PREMIUM_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_category_ownership',{'category':'premium'})}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}