<div class="tabbable carousel-bottom">
        <ul class="nav nav-tabs" id="homeCarrousel">
            <li class="active"><a data-toggle="tab" href="#popularDestinations">{{"POPULAR_DESTINATIONS_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#lastAdded">{{"LAST_ADDED_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#economic">{{"ECONOMIC_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#medium">{{"MIDRANGE_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#premium">{{"PREMIUM_HOME_TABS" | trans}}</a></li>
        </ul>
        <div class="tab-content">
            <div id="popularDestinations" class="tab-pane active">
                <div class="carousel slide" id="th-destination-carousel">
                    <div class="carousel-inner thumbs-houses">
                        {% set flag_item = 0 %}
                        {% for i in 1..4 %}
                            <div class="item {% if i == 1 %}active{% endif %}">
                                <div class="row">
                                    {% for e in 1..3%}
                                        {% if popular_places[flag_item] is defined %}
                                            {{ include('FrontEndBundle:destination:homeItemDestination.html.twig',{'destination_id': popular_places[flag_item]['des_id'],
                                            'destination_name':popular_places[flag_item]['des_name'],
                                            'is_in_favorite': popular_places[flag_item]['is_in_favorites'],
                                            'photo': popular_places[flag_item]['photo'],
                                            'localization': popular_places[flag_item]['municipality_name'] ~ ' / ' ~ popular_places[flag_item]['province_name'],
                                            'statistics': {'total': popular_places[flag_item]['count_ownership'], 'minimum_prize': popular_places[flag_item]['min_price']},
                                            'list_preffix': 'popular_places'}) }}
                                            {% set flag_item = flag_item + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="row text-right">
                                    <a href="{{path("frontend_list_destinations")}}">
                                        <small>{{'RESERVATION_CONFIRM_DESTINATION_MORE' | trans | lower}} <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-medium icon-more" alt="{{"Pixel" | trans}}"/></small>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="item active">
                                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                            </div>
                        {% endfor %}

                    </div>
                    {%if popular_places | length > 3%}
                        <a data-slide="prev" href="#th-destination-carousel" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#th-destination-carousel" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    {%endif%}
                </div>
            </div>
            <div id="lastAdded" class="tab-pane" data-url="{{ path("frontend_carrousel_last_added_callback") }}" data-has-content="false">
               {{ "LOADING_MESSAGE" | trans }}
            </div>
            <div id="economic" class="tab-pane" data-url="{{ path("frontend_carrousel_bycategory_callback") }}" data-has-content="false">
                {{ "LOADING_MESSAGE" | trans }}
            </div>
            <div id="medium" class="tab-pane" data-url="{{ path("frontend_carrousel_bycategory_callback") }}" data-has-content="false">
                {{ "LOADING_MESSAGE" | trans }}
            </div>
            <div id="premium" class="tab-pane" data-url="{{ path("frontend_carrousel_bycategory_callback") }}" data-has-content="false">
                {{ "LOADING_MESSAGE" | trans }}
            </div>
        </div>
    </div>

<script type="text/javascript">
    $('#homeCarrousel a[href="#lastAdded"]').click(function () {
        loadLastAdded();
    });

    $('#homeCarrousel a[href="#economic"]').click(function () {
        loadAccommodationsByCategory("Económica", "economic", "economy");
    });

    $('#homeCarrousel a[href="#medium"]').click(function () {
        loadAccommodationsByCategory("Rango medio", "medium", "mid_range");
    });

    $('#homeCarrousel a[href="#premium"]').click(function () {
        loadAccommodationsByCategory("Premium", "premium", "premium");
    });


    function loadLastAdded()
    {
        var hasContent = $("#lastAdded").attr("data-has-content");

        if(hasContent == "false") {
            var url = $("#lastAdded").attr("data-url");
            $.post(url, null,
                    function (data) {
                        $("#lastAdded").html(data);
                        $('#homeCarrousel a[href="#lastAdded"]').tab('show');
                        $("#lastAdded").attr("data-has-content", "true");
                        manage_favorities(".favorite_off_action");
                        manage_favorities(".favorite_on_action");
                    });
        }

        return false;
    }

    function loadAccommodationsByCategory(category, id, realCategory)
    {
        var hasContent = $("#" + id).attr("data-has-content");

        if(hasContent == "false") {
            var url = $("#" + id).attr("data-url");
            $.post(url,
                    {
                        'category': category,
                        'elementId': id,
                        'realCategory': realCategory
                    },
                    function (data) {
                        $("#" + id).html(data);
                        $('#homeCarrousel a[href="#' + id+ '"]').tab('show');
                        $("#" + id).attr("data-has-content", "true");
                        manage_favorities(".favorite_off_action");
                        manage_favorities(".favorite_on_action");
                    });
        }

        return false;
    }

</script>
