
<!--link href="{{ asset('bundles/frontend/css/jquery.jcarousel.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/frontend/css/jcarousel/skin.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/frontend/js/jquery.jcarousel.js') }}"></script-->
	
<script type="text/javascript">

$(document).ready(function() {
	//$('.bottom_tab_carousel').jcarousel();
});

</script>
	

<div class="secondary_tab row-fluid">
    <div class="nav-tabs_cont">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#popular_destinations">{{"POPULAR_DESTINATIONS_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#last_added">{{"LAST_ADDED_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#economic_houses">{{"ECONOMIC_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#midrange_houses">{{"MIDRANGE_HOME_TABS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#premium_houses">{{"PREMIUM_HOME_TABS" | trans}}</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="popular_destinations" class="tab-pane fade in active">
            <div class="row-fluid">
                <!--ul class="bottom_tab_carousel jcarousel-skin-tango"-->
                {% for destination in popular_places %}
                        <!--li class="span3"-->
                        <div class="span3">
                            {{ include('frontEndBundle:destination:homeItemDestination.html.twig',{'destination_id': destination['des_id'], 
                                    'destination_name': destination['des_name'],
                                    'is_in_favorite': destination['is_in_favorites'],
                                    'photo': destination['photo'],
                                    'localization': destination['municipality_name'] ~ ' / ' ~ destination['province_name'],
                                    'statistics': {'total': destination['count_ownership'], 'minimum_prize': destination['min_price']},
                                    'list_preffix': 'popular_places'}) }}
                        <!--/li-->
                            </div>
                    
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
                <!--/ul-->
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"POPULAR_DESTINATIONS_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_list_destinations')}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>
        <div id="last_added" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in last_added %}
                {{ include('frontEndBundle:ownership:homeItemOwnership.html.twig',{
                        'own_id': ownership['own_id'],
                        'own_name': ownership['own_name'],
                        'own_comments': ownership['comments_total'],
                        'own_rating': ownership['rating'],
                        'own_province': ownership['prov_name'],
                        'own_minimum_price': ownership['minimum_price'],
                        'is_in_favorite': ownership['is_in_favorites'],
                        'photo': ownership['photo'],
                        'list_preffix': 'last_added_owns'}) }} 
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"LAST_ADDED_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_last_added_ownership')}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>
        <div id="economic_houses" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in economic_own_list %}
                {{ include('frontEndBundle:ownership:homeItemOwnership.html.twig',{
                            'own_id': ownership['own_id'],
                            'own_name': ownership['own_name'],
                            'own_comments': ownership['comments_total'],
                            'own_rating': ownership['rating'],
                            'own_province': ownership['prov_name'],
                            'own_minimum_price': ownership['minimum_price'],
                            'is_in_favorite': ownership['is_in_favorites'],
                            'photo': ownership['photo'],
                            'list_preffix': 'economic_owns'}) }} 
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"ECONOMIC_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_category_ownership',{'category':'economy'})}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>

        <div id="midrange_houses" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in medium_own_list %}
                {{ include('frontEndBundle:ownership:homeItemOwnership.html.twig',{
                            'own_id': ownership['own_id'],
                            'own_name': ownership['own_name'],
                            'own_comments': ownership['comments_total'],
                            'own_rating': ownership['rating'],
                            'own_province': ownership['prov_name'],
                            'own_minimum_price': ownership['minimum_price'],
                            'is_in_favorite': ownership['is_in_favorites'],
                            'photo': ownership['photo'],
                            'list_preffix': 'medium_owns'}) }} 
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"MIDRANGE_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_category_ownership',{'category':'mid_range'})}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>

        <div id="premium_houses" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership in premium_own_list %}
                {{ include('frontEndBundle:ownership:homeItemOwnership.html.twig',{
                            'own_id': ownership['own_id'],
                            'own_name': ownership['own_name'],
                            'own_comments': ownership['comments_total'],
                            'own_rating': ownership['rating'],
                            'own_province': ownership['prov_name'],
                            'own_minimum_price': ownership['minimum_price'],
                            'is_in_favorite': ownership['is_in_favorites'],
                            'photo': ownership['photo'],
                            'list_preffix': 'premium_owns'}) }} 
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
            <div style="margin-top: 5px; text-align: right">
                <a title="{{"PREMIUM_TOOLTIP_HOME_TAB" | trans}}" href="{{ path('frontend_category_ownership',{'category':'premium'})}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>
            </div>
        </div>
    </div>
</div>