{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}{{ "LOG_IN" | trans }}{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{ "HOMEPAGE_TITLE" | trans }}">{{ "HOME_MAIN_MENU" | trans }}</a>
    <span>››</span>
    <a href="#" class="active" title="{{ "LOG_IN" | trans }}">{{ "LOG_IN" | trans }}</a>
{% endblock %}
{% block body %}
    {% include 'FrontEndBundle:oauth:facebookJsSdk.html.twig' %}
    <style>
        .btn-fb:hover,.btn-fb:focus,.btn-fb:active  {
            text-decoration: none;
        }
        @media (min-width: 768px){
            .fb-login-form{
                padding-top: 50px;
                padding-left: 50px;
            }
        }

        @media (max-width: 768px){
            .col-xs-offset-1 {
                margin-left: 8.33333%;
            }
            .col-xs-offset-2
            {
                margin-left: 16.6666%;
            }
            .col-xs-offset-3 {
                margin-left: 25%;
            }
        }

    </style>
    <div class="container">
        <h2 class="caecilia-roman big-price-green text-center no-margin"
            style="font-weight: normal;">{{ "LOG_IN" | trans }}
        </h2>

        <div>
            <img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}"
                 style="width: 100%; height: 1px; margin: 16px 0"/>
        </div>
        <div class="col-md-12">
            {# Errors row#}
            <div class="row">
                <div class="col-xs-12">
                    {% if error %}
                        <div class="alert alert-danger text-center"
                             style="margin-bottom: 15px">{{ error.message|trans }}</div>
                    {% endif %}
                    {% for message in app.session.flashbag.get('message_error_local') %}
                        <div class="alert alert-danger text-center"
                             style="margin-bottom: 15px">{{ message |trans }}</div>
                    {% endfor %}
                </div>
            </div>

            {# Form Row#}
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="text-center fb-login-form ">

                                <a class="btn-fb" href="javascript:void(0);" onclick="javascript:FB.login(checkLoginState, {scope: 'public_profile,email'});">
                                    <img style="margin-top: -5px;" src="{{ asset('bundles/frontend/img/facebook-logo.png') }}">
                                    <span style="color: #3C5A98; font-size: 20px; margin-left: 10px;">{{ 'with Facebook'|trans }}</span>
                                </a>
                                <span style="color: #777777; font-size: 20px;"> {{ 'or'|trans }}...</span>
                                <div id="status" class="hide flash-message alert alert-info"></div>

                                <div id="continueAfterLogin" class="hide">
                                    {{ render(controller('FrontEndBundle:OAuth:facebookLogin')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="border-left: 1px solid #E9E9E9;" >
                    <div class="hidden-fb-auth col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <form class="form-horizontal" action="{{ path("frontend_ckeck") }}" role="form" method="post">
                            <div class="form-group">
                                <!--<label class="col-sm-3 control-label" for="inputUsername" style="font-weight: normal">{{ "FORMS_EMAIL" | trans }}:</label>#}-->
                                <div class="text-center">
                                    <input type="text" class="form-control" id="inputUsername" name="_username"
                                           value="{{ last_username }}" placeholder="{{ "FORMS_EMAIL" | trans }}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <!--<label class="col-sm-3 control-label" for="inputPassword" style="font-weight: normal">{{ "FORMS_PASSWORD" | trans }}:</label>-->
                                <div class="text-center">
                                    <input type="password" id="inputPassword" class="form-control" name="_password"
                                           placeholder="{{ "FORMS_PASSWORD" | trans }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" />
                                            {{ "FORMS_REMEMBER_ME" | trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-block"
                                            type="submit">{{ "FORMS_IDENTIFY" | trans }}</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="text-center">
                                    <a href="{{ path('frontend_restore_password_user') }}">{{ "FORMS_FORGOT_PASSWORD_QUESTION" | trans }}</a>
                                </div>
                                <div class="text-center">
                                    <a href="{{ path('frontend_register_confirmation_user') }}">{{ "FORMS_CONFIRMATION_QUESTION" | trans }}</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group hidden-fb-auth">
                    <div class="text-center">
                        <a href="{{ path('frontend_register_user') }}" style="text-decoration: none; ">
                            <h4 class="caecilia-roman h-orange link-under-line">{{ "FORMS_CREATE_ACCOUNT_QUESTION" | trans }}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">

    </script>
{% endblock %}