<style type="text/css" media="screen">
    .icon-destination{
        width: 28px; height: 26px ;
        margin: 0 12px;
        cursor: pointer;
        background-image: url("{{ asset('bundles/frontend/img/icons/icons-destination.png') }}")
    }
    .icon-des-beach{background-position: -56px 0}
    .icon-des-buc{background-position: 0 0}
    .icon-des-mirr{background-position: 0 -26px}
    .icon-des-mus{background-position: -56px -26px}
    .icon-des-walk{background-position: -56px -52px}
    .icon-des-mar{background-position: 0 -52px}
    .icon-des-bike{background-position: -56px -78px}
    .icon-des-fish{background-position: 0 -78px}
    .icon-des-casc{background-position: -56px -104px}
    .icon-des-for{background-position: 0 -104px}
    .icon-des-mount{background-position: 0 -130px}
    .map-signal{visibility: hidden; position: absolute}
</style>
<div class="container text-center">
    <img id="icon-beach" title="" data-placement="top" rel="tooltip" href="#" data-original-title="Playas" class="icon-destination icon-des-beach" data="beach" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Buceo" class="icon-destination icon-des-buc" data="buc" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Miradores" class="icon-destination icon-des-mirr" data="mirror" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Museos" class="icon-destination icon-des-mus" data="museum" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Senderismo" class="icon-destination icon-des-walk" data="walk" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Marinas" class="icon-destination icon-des-mar" data="marina" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Ciclismo" class="icon-destination icon-des-bike" data="bike" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Pesca" class="icon-destination icon-des-fish" data="fishing" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Cascadas" class="icon-destination icon-des-casc" data="cascade" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Bosques" class="icon-destination icon-des-for" data="forest" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Montañas" class="icon-destination icon-des-mount" data="mountain" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
</div>
<hr style="border-color: #D7D6D6; width: 100%; margin: 0"/>
<hr style="border-color: #ffffff; width: 100%; margin: 0 0 30px"/>
<div class="container" style="padding: 0 8%">
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Andares Viñales" class="map-signal walk" style="left:27%; margin-top: 6%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Área de Buceo Varadero" class="map-signal buc" style="left:40.2%; margin-top: 1.3%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Playa Varadero" class="map-signal beach" style="left:550px; margin-top: 1.3%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Mirador Valle de Yumurí" class="map-signal mirror" style="left:40.2%; margin-top: 2%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Mirador Topes de Coyantes" class="map-signal mirror" style="left:47.2%; margin-top: 8%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Andares Ciénaga de Zapata" class="map-signal walk" style="left:38%; margin-top: 6%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Museo Plaza Ernesto Ché Guevara" class="map-signal museum" style="left:47%; margin-top: 5%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Montañas Viñales" class="map-signal mountain" style="left:27%; margin-top: 6%;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <img class="full-width" src="{{ asset('bundles/frontend/img/map.gif') }}">
</div>
<script type="text/javascript">

    $(window).bind('resize', function () {
        win_w = $(window).width();
        win_h = $(window).height();

        element=$('.beach');
        elem_left=element.css('left');
        alert(elem_left);

    });

    $('.icon-destination').click(function(){
        element=$(this);
        bg=element.css('backgroundPosition');
        bg_array=bg.split(' ');
        for(a=0;a < bg_array.length; a++)
        {
            bg_array[a]=parseInt(bg_array[a].replace('px',''));
        }
        class_element=element.attr('class');
        class_element_array=class_element.split(' ');
        if(class_element_array[2])
        {
            bg_array[0]=bg_array[0]+28 + 'px';
            element.removeClass('focus');
            remove_destinations(element.attr('data'));

        }
        else
        {
            bg_array[0]=bg_array[0]-28 + 'px';
            element.addClass('focus');
            display_destinations(element.attr('data'));
        }
        bg_array[1]=bg_array[1] + 'px';
        element.css('backgroundPosition',bg_array[0]+' '+bg_array[1]);

    });

    function display_destinations(category)
    {
        $('.'+category).css('visibility','visible');
    }
    function remove_destinations(category)
    {
        $('.'+category).css('visibility','hidden');
    }

    $('#icon-beach').trigger('click');
</script>