<style type="text/css" media="screen">
    .icon-destination{
        width: 28px; height: 26px ;
        margin: 0 12px;
        cursor: pointer;
        background-image: url("{{ asset('bundles/frontend/img/icons/icons-destination.png') }}")
    }
    .icon-des-beach{background-position: -56px 0}
    .icon-des-buc{background-position: 0 0}
    .icon-des-mirr{background-position: 0 -26px}
    .icon-des-mus{background-position: -56px -26px}
    .icon-des-walk{background-position: -56px -52px}
    .icon-des-mar{background-position: 0 -52px}
    .icon-des-bike{background-position: -56px -78px}
    .icon-des-fish{background-position: 0 -78px}
    .icon-des-casc{background-position: -56px -104px}
    .icon-des-for{background-position: 0 -104px}
    .icon-des-mount{background-position: 0 -130px}
    .map-signal{visibility: hidden; position: absolute}
</style>
<div class="container text-center">
    <img id="icon-beach" title="" data-placement="top" rel="tooltip" href="#" data-original-title="Playas" class="icon-destination icon-des-beach" data="beach" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Buceo" class="icon-destination icon-des-buc" data="buc" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Miradores" class="icon-destination icon-des-mirr" data="mirror" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Museos" class="icon-destination icon-des-mus" data="museum" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Senderismo" class="icon-destination icon-des-walk" data="walk" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Marinas" class="icon-destination icon-des-mar" data="marina" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Ciclismo" class="icon-destination icon-des-bike" data="bike" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Pesca" class="icon-destination icon-des-fish" data="fishing" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Cascadas" class="icon-destination icon-des-casc" data="cascade" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Bosques" class="icon-destination icon-des-for" data="forest" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Montañas" class="icon-destination icon-des-mount" data="mountain" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
</div>
<hr style="border-color: #D7D6D6; width: 100%; margin: 0"/>
<hr style="border-color: #ffffff; width: 100%; margin: 0 0 30px"/>
<div class="container" style="padding: 0 100px">
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Maria La Gorda" class="map-signal buc" style="left:320px; margin-top: 90px;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <a href=""><img title="" data-placement="top" rel="tooltip" href="#" data-original-title="Playa Varadero" class="map-signal beach" style="left:550px; margin-top: 15px;" src="{{ asset('bundles/frontend/img/map-signal.png') }}"></a>
    <img class="full-width" id="big-map" src="{{ asset('bundles/frontend/img/map.gif') }}">
</div>
<script type="text/javascript">


        img_elem=$('#big-map');
        img_w=img_elem.width();
        img_h=img_elem.height();
        img_left=img_elem.position().left;
        $('.map-signal').each(function(){
            $(this).attr('default_margin_top',$(this).css('marginTop').replace('px',''));
            $(this).attr('default_margin_left',$(this).position().left - img_left);
        });

        $(window).bind('resize', function () {
            new_img_w=img_elem.width();
            new_img_left=img_elem.position().left;
            new_img_h=img_elem.height();
            $('.map-signal').each(function(){
                new_pos_left= $(this).attr('default_margin_left') * new_img_w / img_w + new_img_left;
                new_pos_height= $(this).attr('default_margin_top') * new_img_h / img_h;
                $(this).css('left',new_pos_left+'px');
                $(this).css('marginTop',new_pos_height+'px');
            });
        });

    /*point_elem=$('.beach');
    img_elem=$('#big-map');
    img_w=img_elem.width();
    img_h=img_elem.height();
    img_left=img_elem.position().left;
    img_margin_top=point_elem.css('marginTop');
    point_left=point_elem.position().left;
    var point_l_img_default= point_left-img_left;
    var point_mt_img_default= img_margin_top.replace('px','');
    var img_width_default= img_w;
    var img_height_default= img_h;


    $(window).bind('resize', function () {

        img_w=img_elem.width();
        img_left=img_elem.position().left;
        new_pos = (point_l_img_default * img_w / img_width_default) + img_left;
        point_elem.css('left',new_pos+'px');

        img_h=img_elem.height();
        new_pos = (point_mt_img_default * img_h / img_height_default);
        point_elem.css('marginTop',new_pos+'px');
        /*win_h = $(window).height();
         win_w = $(window).width();
        element=$('.beach');
        elem_left=parseInt(element.css('left').replace('px',''));
        element.css('left',parseInt(550 * win_w / 1349 )+'px');*/


    $('.icon-destination').click(function(){
        element=$(this);
        bg=element.css('backgroundPosition');
        bg_array=bg.split(' ');
        for(a=0;a < bg_array.length; a++)
        {
            bg_array[a]=parseInt(bg_array[a].replace('px',''));
        }
        class_element=element.attr('class');
        class_element_array=class_element.split(' ');
        if(class_element_array[2])
        {
            bg_array[0]=bg_array[0]+28 + 'px';
            element.removeClass('focus');
            remove_destinations(element.attr('data'));

        }
        else
        {
            bg_array[0]=bg_array[0]-28 + 'px';
            element.addClass('focus');
            display_destinations(element.attr('data'));
        }
        bg_array[1]=bg_array[1] + 'px';
        element.css('backgroundPosition',bg_array[0]+' '+bg_array[1]);

    });

    function display_destinations(category)
    {
        $('.'+category).css('visibility','visible');
    }
    function remove_destinations(category)
    {
        $('.'+category).css('visibility','hidden');
    }

    $('#icon-beach').trigger('click');
</script>
