<style type="text/css" media="screen">
    .icon-destination{
        width: 28px; height: 26px ;
        margin: 0 12px;
        cursor: pointer;
    }
    .map-signal{visibility: hidden; position: absolute}
</style>
<div class="container text-center">
    {% for des_cat in des_categories_lang %}
        <img focus="0" {% if loop.index0 == 0 %} id="first_atraction" {% endif %}title="" style='background-image: url("{{ asset('uploads/destinationImages/icons/'~des_cat.getDesCatIdCat.getDesIcon ) }}")' data-placement="top" rel="tooltip" href="#" data-original-title="{{ des_cat.getDesCatName }}" class="icon-destination" data="cat{{ des_cat.getDesCatIdCat.getDesCatId }}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    {% endfor %}
</div>
<hr style="border-color: #D7D6D6; width: 100%; margin: 0"/>
<hr style="border-color: #ffffff; width: 100%; margin: 0 0 30px"/>
<div class="container text-center">
    <canvas id="map_canvas" style="background: url('{{ asset('bundles/frontend/img/map.gif') }}') bottom left no-repeat; background-size: 45%"  width="849" height="323"></canvas>
</div>
<script type="text/javascript">
{% set categories='' %}
{% set signal_pos='' %}
{% set links_dest='' %}
{% for des_map in destinations_map %}
{% if des_map.getDesCatLocationX %}
{% for des_map_cat in des_map.getDesCategories %}
{% set categories = categories~"'cat"~des_map_cat.getDesCatId~"'," %}
{% set links_dest = links_dest~"'"~path('frontend_details_destination',{'destination_name':des_map.getDesName|lower|replace(' ','_')})~"'," %}
{% set signal_pos = signal_pos~"["~des_map.getDesCatLocationX~","~des_map.getDesCatLocationY~"]," %}
{% endfor %}
{% endif %}
{% endfor %}

var poly_signal_positions=[{{ signal_pos|slice(0,(signal_pos|length)-1)|raw }}];
var poly_signal_category=[{{ categories|slice(0,(categories|length)-1)|raw }}];
var links_destination=[{{ links_dest|slice(0,(links_dest|length)-1)|raw }}];
var accommodations_url="{{path('frontend_search_ownership')}}";

</script>
<script type="text/javascript" src="{{ asset("bundles/frontend/js/map.js") }}"></script>
<script type="text/javascript">

</script>
