<style type="text/css" media="screen">
    .icon-destination{
        width: 28px; height: 26px ;
        margin: 0 12px;
        cursor: pointer;
    }
</style>

<div class="container text-center">
    {% for des_cat in des_categories_lang %}
        <img data-focus="0" {% if loop.index0 == 0 %} id="first_atraction" {% endif %}title="{{ des_cat.getDesCatName }}" style='background-image: url("{{ asset('uploads/destinationImages/icons/'~des_cat.getDesCatIdCat.getDesIcon ) }}")' data-placement="top" rel="tooltip" data-original-title="{{ des_cat.getDesCatName }}" class="icon-destination" data-catid="cat{{ des_cat.getDesCatIdCat.getDesCatId }}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="{{"Pixel" | trans}}"/>
    {% endfor %}
</div>
<hr style="border-color: #D7D6D6; width: 100%; margin: 0"/>
<hr style="border-color: #ffffff; width: 100%; margin: 0 0 30px"/>
<div class="container text-center">
    <canvas id="map_canvas" style="background: url('{{ asset('bundles/frontend/img/map.gif') }}') bottom left no-repeat; background-size: 45%"  width="849" height="323"></canvas>
</div>
<script type="text/javascript">
{% set categories='' %}
{% set signal_pos='' %}
{% set destinations='' %}
{% for des_map in destinations_map %}
{% if des_map.locationX %}
{% set categories = categories~"'cat"~des_map.catId~"'," %}
{% set destinations = destinations~"'"~des_map.name|lower|replace(' ','-')~"'," %}
{% set signal_pos = signal_pos~"["~des_map.locationX~","~des_map.locationY~"]," %}
{% endif %}
{% endfor %}
var poly_signal_positions=[{{ signal_pos|slice(0,(signal_pos|length)-1)|raw }}];
var poly_signal_category=[{{ categories|slice(0,(categories|length)-1)|raw }}];
var destinations=[{{ destinations|slice(0,(destinations|length)-1)|raw }}];
var link_destination="{{ path('frontend_details_destination',{'destination_name':'-1'}) }}";
link_destination=link_destination.replace('/-1','');
var accommodations_url="{{path('frontend_search_ownership')}}";

</script>
{% javascripts
'@FrontEndBundle/Resources/public/js/map.min.js'
filter='?uglifyjs2'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<div id="signal_tooltip" style="left: -500px;position: absolute; top: 0;background-color: #1A1A1A; border-radius: 4px; color: #fff; font-size: 12px; padding: 2px 6px"></div>
