{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"FAVORITIES"  | trans }}
{% endblock %}
{% set main_tab = 2 %}

{% block body %}
<div class="container">
    <div style="margin: 40px 0 20px">
        <h1 class="caecilia-roman h-green no-margin"> {{ 'FAVORITIES'|trans }}</h1>
    </div>
<div id="loading" class="alert alert-info hidden"> <img style="width: 20px" src="{{ asset('bundles/frontend/img/loading.gif') }}"/> {{"LOADING_MESSAGE" | trans}}</div>
        <ul class="nav nav-tabs margin-t-t">
            <li class="active"><a data-toggle="tab" href="#owns_favorities"><i class="icon-home"></i> {{"OWNERSHIPS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#destination_favorities">{{"DESTINATIONS" | trans}}</a></li>
        </ul>
    <div class="tab-content">
        <div id="owns_favorities" class="tab-pane active">
            <div class="row-fluid result_list ownerships_list thumbs-houses" id="div_result">
                {{ include('frontEndBundle:ownership:ownershipArrayItemList.html.twig', 
                {'list': ownership_favorities,
                'list_preffix' : 'own_favorities',
                'is_in_favorites_list': true,
                }) }}      
            </div>
        </div>
        <div id="destination_favorities" class="tab-pane in">
            <div class="row-fluid result_list" id="div_result_destinations">
                {{ include('frontEndBundle:destination:arrayItemListDestination.html.twig', 
                {'list': destination_favorities,
                'list_preffix' : 'own_favorities'
                }) }}      
            </div>
        </div>
    </div>
</div>
</div>
{% block include_javascripts %}
<!--script src="{{ asset('bundles/frontend/js/category_ownership.js') }}"></script-->    
{% endblock %}
{% endblock %}
