<a class="count-info" title="{{"FAVORITIES" | trans }}" href="{{ path('frontend_list_favorite') }}">
    <img  style="width: 26px; height: 23px;" class="icon big-heart-icon" alt="{{"Heart" | trans}}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>
    <span class="label" id="count-fav"> {{ count_fav }} </span>
</a>