<div id="faq_results">
<div id="loading" class="hidden">
                <div class="layer-loading"></div>
                <div class="loading-signal"><img class="img-circle load-icon" src="{{ asset('bundles/frontend/img/loading.gif') }}" alt="{{"Loading" | trans}}"/></div>
            </div>
{%for faq in faq_list%}
<div class="item">
    <div class="row-fluid">
    <div class="row-fluid">
        <h4>{{faq.faqlangquestion | raw}}</h4>
    </div>
    <div class="row-fluid">        
        <p>{{faq.faqlanganswer | raw}}</p>
    </div>
    </div>
</div>
{%else%}
<div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}

{%if faq_list | length  and total_items > items_per_page%}
<div class="text-center">
    {{ simple_paginator_render('frontend_list_faq',null,{
    'container_class': 'pagination',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': {'items_per_page':items_per_page}
}) }}
    </div>
{%endif%}
    </div>
