{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"FAQ_PAGE_TITLE" | trans}}
{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('frontend_welcome') }}" title="{{"GO_HOME_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
<span>››</span>
<a href="#" class="active" title="{{"FAQ" | trans}}">{{"FAQ" | trans}}</a>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail" style="background-color: #fff; padding: 0">
                <ul id="faq_categories" style="padding: 0" data-url-filter="{{ path('frontend_filter_faq') }}">
                    <li data-value="-1" class="active">{{"ALL_FAQS" | trans}}<i class="pull-right icon-chevron-right"></i></li>
                    {%for category in categories%}
                        <li data-value="{{category.faqcatidcat.faqcatid}}">
                            {{category.faqcatdescription}}
                            <i class="pull-right icon-chevron-right"></i>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="col-sm-8" id="div_result">
        {{ include('frontEndBundle:faq:itemListFaq.html.twig', 
               {'faq_list': faq_list}) }} 
        </div>

    </div>
</div>
{% block include_javascripts %}
<script src="{{ asset('bundles/frontend/js/faq.js') }}"></script>
{% endblock %}
{% endblock %}