<!-- Modal -->
<div class="modal disable inmodal fade "  id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"  >
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="text-muted fa fa-shopping-cart"></i> <strong>Generar Factura</strong></h4>
            </div>
            <div class="modal-body" >
                <div class="alert alert-succes" id="succes-modal"></div>

                <div class="pull-left col-md-8">
                    <div class="row-fluid">
                    <div class="span3"><label>Agencia:</label>
                        <select id="filter_agency_modal"  name="filter_agency" class="input-block-level" style="width: 180px;">
                            <option></option>
                            {{ render(controller('PartnerBundle:Backend:get_agency_names', {'post': {'selected':filter_agency}})) }}
                        </select>

                    </div>
                    </div>

                    <div class="row-fluid">
                    <div class="span3" id="fechas_modal" style="width: 180px;display:none"><label>Rango Fecha:</label>
                        <input type="text" class="input-block-level" name="datefilter_modal" value="" />
                        <input style="display: none" id="filter_date_reserve_modal" name="filter_date_reserve_modal" type="text" class=" input-block-level" />
                        <input style="display: none" id="filter_date_reserve_modal2" name="filter_date_reserve_modal2" type="text" class=" input-block-level" />
                        <input style="display: none" id="mindate"value="{{ date1|date('m/d/Y') }}">
                        <input style="display: none" id="maxdate"value="{{ date2|date('m/d/Y') }}">
                    </div>
                    </div>
                </div>
                <img style="padding-top: 50px; display: none;
                   padding-left: 50px;" id='loading-indicator'src="{{ asset('bundles/mycp/images/loading.gif')}}"/>

                <div class="pull-right col-md-8">

                    {#<label>Logo:</label>#}
                    <img style="width: 180px" id='preview-img'src="{{ asset('bundles/partner/img/logos/agency.png')}}"/>
                    </br>
                    {#<input type="file" name="file" id="file">#}
                    </div>
                </div>

                <div class="clearfix"></div>
                <p class="open_info hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>

            <div class="modal-footer" >



                <div class="append-content">

                </div>

                <div class="text-right pull-right col-md-3">

                     <a id="generar"  class="tooltip_msg btn btn-success">Generar</a>
                   
                </div>


            </div>
        </div>
    </div>
</div>
<!-- fim Modal-->