{% extends 'MyCpCasaModuleBundle::layout_clean.html.twig' %}
    {% block stylesheets %}
        {% stylesheets
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/iCheck/custom.css'
        filter='?uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>

            #terms-error {
                margin-top: 2px;
                min-width: 230px;
            }
            .control-label{
                font-size: 18px;
            }
            .middle-box{
            padding-top: 100px;}
        </style>
    {% endblock %}
{% block alerts %}{% endblock %}
{% block content %}
    <div class="middle-box loginscreen text-center animated fadeInDown">
        <div>
            <img src="{{ asset('img/mycp.png') }}">
        </div>
        <h2 class="font-blue">¿Olvidó su contraseña?</h2>
        <p>Escriba su dirección de correo y le enviaremos un link para su nueva contraseña</p>
        {% for message in app.session.flashbag.get('message_ok') %}
                    <div class="alert alert-info alert-dismissable">
                        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}</div>
                {% endfor %}
                {% for message in app.session.flashbag.get('message_error') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}</div>
                {% endfor %}
        {% if error is defined and error is not null %}
            <div class="alert alert-danger alert-dismissable">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>{{ error.message | trans }}</div>
        {% endif %}
        <form class="form-horizontal" action="{{ path('my_cp_forget_password') }}" method="post" id="forgotPassword">
            <div class="bg-gray m-t-20" style="text-align: center; padding: 10px 30px;">
                <div class="form-group row">
                   <label class="control-label"> Código Casa</label>
                        {{ form_widget(form.user_name,{'attr': {'placeholder': 'Código casa'}}) }}
                        {{ form_errors(form.user_name) }}

                </div>
                <div class="form-group row">
                  <label class="control-label">Correo electrónico</label>
                    {{ form_widget(form.user_email, {'attr': {'placeholder': 'Correo electrónico'}}) }}
                    {{ form_errors(form.user_email) }}

                    {{ form_rest(form)}}
                </div>


            </div>
            <div class="col-md-12 m-t-20 m-b-20">

            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@FrontEndBundle/Resources/public/js/jquery-validation/jquery.validate.min.js'
    '@MyCpCasaModuleBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/localization/messages_'~app.request.locale~'.js') }}"></script>
    <script type="text/javascript">
        $(document).on('ready', function(){
            $('.i-checks').iCheck({
//             checkboxClass: 'icheckbox_square-green',
                checkboxClass: 'iradio_square-green',
                radioClass: 'iradio_square-green'
            });
        });
    </script>
{% endblock %}