{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    <link href='{{ asset('bundles/mycp/css/fullcalendar.min.css') }}' rel='stylesheet'
          xmlns="http://www.w3.org/1999/html"/>
    <link href='{{ asset('bundles/mycp/css/fullcalendar.print.css') }}' rel='stylesheet' media='print' />
    <link href="{{ asset('bundles/mycp/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
        <li class="active">Disponibilidad</li>
    </ul>
{% endblock %}
    {% block helpContent %}
    <p>Utilice el formulario de la derecha para agregar no disponibilidades en alguna de las habitaciones de su propiedad.</p>
    <p>Si da clic sobre algún elemento del calendario etiquetado como "Reservada MyCP" o "Cancelada por cliente" se mostrará la página que contiene los detalles de la reservación correspondiente. Este tipo de elemento no podrá ser editado ni eliminado.</p>
    <p>Los elementos etiquetados como "No disponibles" podrán ser modificados o eliminados sólo si la fecha en que ocurren es mayor o igual a la fecha del día de hoy. Para modificar o eliminar estos elementos, dé clic sobre ellos y se visualizará su información en el formulario que aparece en la derecha.</p>
    {% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span3"><h2>Disponibilidad</h2></div>
        <div id="loading" class="span9">
                <img src="{{ asset('bundles/mycp/images/ajax-loader-7.gif') }}" alt="{{"Loader" | trans}}">
            </div>
    </div>


<hr/>

    <div id="calendar-div" class="row-fluid">
        <div class="span8">
        <div id='calendar' class="row_fluid"></div>
        <div class="row_fluid" style="text-align: right;padding-top: 3px">
        <div style="text-align: center; width:100px; display:inline;" class="badge badge-warning">No disponible</div>
        <div style="text-align: center; width:100px; display:inline;" class="badge badge-info">Reservada MyCP</div>
        <div style="text-align: center; width:120px; display:inline;" class="badge badge-important">Cancelada por cliente</div>
    </div>
        </div>
        <div class="span4">
        <h4>Gestionar disponibilidad</h4>
        {%if hasError%}
        <label class="error">Los campos marcados con (*) son obligatorios</label>
        {%endif%}
        <form class="sfgen" {{form_enctype(form)}} method="POST" action="{% if edit_detail is defined %}{{path('mycp_lodging_unavailabilityDetails_calendar',{'id_detail':edit_detail})}}{% else %}{{path('mycp_lodging_unavailabilityDetails_calendar')}}{% endif %}" novalidate="true">
        {{form_widget(form)}}
          <div class="row-fluid">
              <label class="required">Estado (*)</label>
              <select name="status" id="status" style="width:100%" required="required">
                  <option></option>
                  <option value="0" {% if edit_detail is defined %}selected="true"{%endif%}>No disponible</option>
                  {% if edit_detail is defined %}
                  <option value="1">Disponible</option>
                  {%endif%}
              </select>
          </div>
        <div>
          <button class="btn btn-success" type="submit">Guardar</button>
          <a class="btn" href="{{path('mycp_lodging_unavailabilityDetails_calendar')}}">Cancelar</a>
          {% if edit_detail is defined %} <a class="btn btn-danger" href="{{path('mycp_lodging_delete_unavailabilityDetails', {'id_detail':edit_detail})}}">Eliminar</a> {% endif %}
        </div>
        </form>
        </div>
    </div>



    <div class="modal hide fade" id="modal-warning">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Error</h3>
        </div>
        <div class="modal-body">
            Se ha producido un error cuando se cargaban los detalles de no disponibilidad.
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cerrar</a>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}

    {% javascripts
    '@mycpBundle/Resources/public/js/moment.min.js'
    '@mycpBundle/Resources/public/js/fullcalendar.min.js'
    '@mycpBundle/Resources/public/js/fullcalendar-lang-all.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.es.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

        $(document).ready(function() {

            $('.datepicker-from').datepicker({
                format:'dd/mm/yyyy',
                todayBtn:'linked',
                language:'es',
                autoclose: true
            }).on('changeDate', function(ev){
                var date = new Date(ev.date);
                date.setDate(date.getDate() + 1);
                datepicker_to.setStartDate(date);
                datepicker_to.setDate(date);
            });

            var datepicker_to = $('.datepicker-to').datepicker({
                format:'dd/mm/yyyy',
                todayBtn:'linked',
                autoclose: true,
                language: 'es'
            }).data('datepicker');

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },
                defaultDate: '{{ data.today | date("Y-m-d") }}',
                editable: false,
                lang: 'es',
                eventLimit: false, // allow "more" link when too many events
                events: {
                    url: '{{ path('mycp_lodging_unavailabilityDetails_get_json') }}',
                    error: function() {
                        $('#modal-warning').show();
                    }
                },
                loading: function(bool) {
                    if (bool)
                    {
                        $('#loading').show();

                    }
                    else
                    {
                        $('#loading').hide();


                    }
                }
            });

        });

    </script>
{% endblock %}