{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    <link href='{{ asset('bundles/mycp/css/fullcalendar.min.css') }}' rel='stylesheet'
          xmlns="http://www.w3.org/1999/html"/>
    <link href='{{ asset('bundles/mycp/css/fullcalendar.print.css') }}' rel='stylesheet' media='print' />
    <script src='{{ asset('bundles/mycp/js/moment.min.js') }}'></script>
    <script src='{{ asset('bundles/mycp/js/fullcalendar.min.js') }}'></script>
    <script src='{{ asset('bundles/mycp/js/fullcalendar-lang-all.js') }}'></script>

    <script>

        $(document).ready(function() {

            loadRooms();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                defaultDate: '2014-09-12',
                editable: true,
                lang: 'es',
                eventLimit: true, // allow "more" link when too many events
                events: {
                    url: '{{ path('mycp_lodging_unavailabilityDetails_get_json') }}',
                    error: function() {
                        $('#modal-warning').show();
                    }
                },
                loading: function(bool) {
                    if (bool)
                    {
                        $('#loading').show();

                    }
                    else
                    {
                        $('#loading').hide();


                    }
                }
            });

        });

    </script>
{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
        <li class="active">Disponibilidad</li>
    </ul>
{% endblock %}
{% block content %}
<h2>Disponibilidad</h2>
<hr/>
    <form id="newUDForm" method="POST">
        <div class="row-fluid well span10">
            <div class="span3">
                <select class="input-block-level" name="ownership_id" id="ownership_id" {% if data['ownership'] is defined%} disabled="disabled" {% endif %}/>
                    {{ render(controller('mycpBundle:BackendReservation:get_ownerships', {'data': data})) }}
                </select>
            </div>
            <div class="span2">
                <select class="input-block-level" name="room_id" id="room_id" />
                    {% if data['ownership'] is defined%}
                        {{ render(controller('mycpBundle:BackendReservation:get_rooms_by_ownership', {'id_ownership': data['ownership'], 'selected_room':'0'})) }}
                    {% endif %}
                </select>
            </div>
            <div class="span3">
                <a class="btn" href="javascript:go_to_form()"><i class="icon-plus"></i> Adicionar Detalle</a>
            </div>
            <div id="loading" class="span3">
                <img src="{{ asset('bundles/mycp/images/ajax-loader-7.gif') }}">
            </div>
        </div>
    </form>

    <div id="calendar-div" class="row-fluid">
        <div id='calendar' class="span10"></div>
    </div>


    <div class="modal hide fade" id="modal-warning">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Error</h3>
        </div>
        <div class="modal-body">
            Se ha producido un error cuando se cargaban los detalles de no disponibilidad.
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cerrar</a>
        </div>
    </div>

    <script type="text/javascript">
        function go_to_form()
        {
            id_own = $("#ownership_id").val();
            id_room = $("#room_id").val();

            if (id_own == "" || id_room == "")
            {
                alert('Debe seleccionar una propiedad y una habitación');
            }
            else
            {
                url='{{ path('mycp_lodging_new_unavailabilityDetails', {'id_room':'-1'}) }}';
                url=url.replace('/-1','');
                $(location).attr('href',url+id_room);
            }
        }

        $('#ownership_id').change(function(){
            loadRooms();
        });

        function loadRooms()
        {
            $('#room_id').html('<option value="">Cargando...</option>');
            code = $('#ownership_id').val();
            url = '{{ path('mycp_get_rooms_by_ownership', {'id_ownership':'-1'}) }}';
            url=url.replace('/-1','');
            $.ajax({
                type:"POST",
                url:url + '/' + code,
                success:function (msg) {
                    $('#room_id').html(msg);
                }
            });
        }

    </script>
{% endblock content %}