{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
 {% block another_in_head %}
     <link href='{{ asset('bundles/mycp/css/fullcalendar.min.css') }}' rel='stylesheet' xmlns="http://www.w3.org/1999/html"/>
     <link href='{{ asset('bundles/mycp/css/fullcalendar.print.css') }}' rel='stylesheet' media='print' />
 {% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}">{{ ownership.ownMcpCode }}</a><span class="divider">/</span></li>
    <li class="active">Hab. #{{num_room}}</li>
    <li class="pull-right"><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}">Habitaciones</a> <span class="divider">/</span></li>
    <li class="active">Hab. #{{num_room}}</li>
    <li class="pull-right"><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block content %}
<h2>Habitaciones: {% include 'mycpBundle:utils:ownership_header.html.twig' with {'ownership':ownership}%}</h2><br/>
<h5>Hab. #{{num_room}} - {{room.roomType}}</h5>
<h5>Calendario (.ics): {{room.getICalUrlFromRequest(app.request)}}</h5>
<hr/>
 <a class="btn" href="{{ path('mycp_new_unavailabilityDetails', {'num_room':num_room, 'id_room': id_room}) }}"><i class="icon-plus"></i> Adicionar no disponibilidad</a>&nbsp;
 <a class="btn btn-info" href="{{room.getICalUrlFromRequest(app.request)}}" title="Descargar calendario (.ics)"><i class="icon-calendar"></i> Descargar calendario</a>
 <br/><br/>
{% if details %}
    <div id="loading" class="row-fluid">
        <img src="{{ asset('bundles/mycp/images/ajax-loader-7.gif') }}">
    </div>
    <div class="row-fluid">
        <div id='calendar' class="row_fluid"></div>
        <div class="row_fluid" style="text-align: right;padding-top: 3px">
            <div style="text-align: center; width:100px; display:inline;" class="badge badge-success">No disponible</div>
            <div style="text-align: center; width:100px; display:inline;" class="badge badge-important">Reservada MyCP</div>
        </div>
    </div>
<script src="{{ asset('bundles/mycp/js/jquery.ui/jquery.ui.core.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/mycp/js/jquery.ui/jquery.ui.widget.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/mycp/js/jquery.ui/jquery.ui.mouse.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/mycp/js/jquery.ui/jquery.ui.sortable.js') }}" type="text/javascript"></script>

<script src='{{ asset('bundles/mycp/js/moment.min.js') }}'></script>
<script src='{{ asset('bundles/mycp/js/fullcalendar.min.js') }}'></script>
<script src='{{ asset('bundles/mycp/js/fullcalendar-lang-all.js') }}'></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            defaultDate: '{{ "today" | date("Y-m-d") }}',
            editable: true,
            selectable: true,
            lang: 'es',
            eventLimit: false, // allow "more" link when too many events
            events: {
                url: '{{ path('mycp_get_unavailability_details_json', {'idRoom': id_room}) }}',
                error: function() {
                    $('#modal-warning').show();
                }
            },
            loading: function(bool) {
                if (bool)
                {
                    $('#loading').show();

                }
                else
                {
                    $('#loading').hide();


                }
            },
            selectHelper: true,
            select: function(start, end) {
                var confirmCreate = confirm('¿Desea crear una nueva no disponibilidad?');
                var eventData;
                if (confirmCreate) {
                    eventData = {
                        title: "No disponible",
                        start: start,
                        end: end,
                        color: "#468847"
                    };

                    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                }
                $('#calendar').fullCalendar('unselect');
            },
            eventRender: function(event, element) {
                $(element).tooltip({title: event.title});
            }
        });

    });

</script>
{% else %}
<p> <div class="alert alert-block">No hay detalles de disponibilidad almacenados.</div></p>
{% endif %}
{% endblock %}
