{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}">Habitaciones</a><span class="divider">/</span></li>
    <li><a href="{{path('mycp_list_room_details_unavailabilityDetails',{'id_room':id_room, 'num_room':num_room})}}">Hab. #{{num_room}}</a></li>
    <li class="pull-right"><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}">Habitaciones</a> <span class="divider">/</span></li>
    <li><a href="{{path('mycp_list_room_details_unavailabilityDetails',{'id_room':id_room, 'num_room':num_room})}}">Hab. #{{num_room}}</a></li>
    <li class="pull-right"><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-primary" type="submit">Guardar</button>
    {% if edit_detail is defined %}
    <a class="btn btn-danger" href="{{ path("mycp_delete_unavailabilityDetails",{"num_room":num_room, "id_detail": edit_detail}) }}">Eliminar</a>
    {% endif %}
    <a class="btn" href="{{path('mycp_list_room_details_unavailabilityDetails',{'id_room':id_room, 'num_room':num_room})}}">Cancelar</a>
</div>
</form>

{% stylesheets
'@mycpBundle/Resources/public/css/datepicker.css'
filter='?uglifycss'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
'@mycpBundle/Resources/public/js/bootstrap-datepicker.js'
'@mycpBundle/Resources/public/js/bootstrap-datepicker.es.js'
filter='?uglifyjs2'
%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $('.datepicker-from').datepicker({
            format:'dd/mm/yyyy',
            todayBtn:'linked',
            language:'es',
            autoclose: true
        }).on('changeDate', function(ev){
            var date = new Date(ev.date);
            date.setDate(date.getDate() + 1);
            datepicker_to.setStartDate(date);
            datepicker_to.setDate(date);
        });

    var datepicker_to = $('.datepicker-to').datepicker({
        format:'dd/mm/yyyy',
        todayBtn:'linked',
        autoclose: true,
        language: 'es'
    }).data('datepicker');
    </script>
{% endblock %}
{% block content %}
<h2>Habitaciones: {% include 'mycpBundle:utils:ownership_header.html.twig' with {'ownership':ownership}%}</h2><br/>
<h5>Hab. #{{num_room}} - {{room.roomType}}</h5>
<h5>Calendario (.ics): {{room.getICalUrlFromRequest(app.request)}}</h5>
<a class="btn btn-info" href="{{room.getICalUrlFromRequest(app.request)}}" title="Descargar calendario (.ics)"><i class="icon-calendar"></i> Descargar calendario</a>
<hr/>

<h4>{% if edit_detail is defined %}Editar {% else %}Adicionar {% endif %} no disponibilidad</h4>

<form class="sfgen" {{form_enctype(form)}} method="POST" action="{% if edit_detail is defined %}{{path('mycp_edit_unavailabilityDetails',{'id_detail':edit_detail, 'num_room': num_room})}}{% else %}{{path('mycp_new_unavailabilityDetails',{'id_room':id_room, 'num_room': num_room})}}{% endif %}" novalidate="true">
{{form_widget(form)}}

{% endblock %}
