{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}">Habitaciones</a><span class="divider">/</span></li>
    <li><a href="{{path('mycp_list_room_details_unavailabilityDetails',{'id_room':id_room, 'num_room':num_room})}}">Hab. #{{num_room}}</a></li>
    <li class="pull-right"><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}">Habitaciones</a> <span class="divider">/</span></li>
    <li><a href="{{path('mycp_list_room_details_unavailabilityDetails',{'id_room':id_room, 'num_room':num_room})}}">Hab. #{{num_room}}</a></li>
    <li class="pull-right"><a href="{{ path('mycp_list_rooms_unavailabilityDetails',{'id_ownership': ownership.ownid}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn" href="{{path('mycp_list_room_details_unavailabilityDetails',{'id_room':id_room, 'num_room':num_room})}}">Cancelar</a>
</div>
</form>
<link href="{{ asset('bundles/mycp/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('bundles/mycp/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/mycp/js/bootstrap-datepicker.es.js') }}" charset="UTF-8"></script>
    <script>
        $('.datepicker-from').datepicker({
            format:'dd/mm/yyyy',
            todayBtn:'linked',
            language:'es',
            autoclose: true
        }).on('changeDate', function(ev){
            var date = new Date(ev.date);
            date.setDate(date.getDate() + 1);
            datepicker_to.setStartDate(date);
            datepicker_to.setDate(date);
        });

    var datepicker_to = $('.datepicker-to').datepicker({
        format:'dd/mm/yyyy',
        todayBtn:'linked',
        autoclose: true,
        language: 'es'
    }).data('datepicker');
    </script>
{% endblock %}
{% block content %}
<h2>Habitaciones: {% include 'mycpBundle:utils:ownership_header.html.twig' with {'ownership':ownership}%}</h2><br/>
<h5>Hab. #{{num_room}} - {{room.roomType}}</h5>
<hr/>
<h4>{% if edit_detail is defined %}Editar {% else %}Adicionar {% endif %} no disponibilidad</h4>
<hr/>
<form class="sfgen" {{form_enctype(form)}} method="POST" action="{% if edit_detail is defined %}{{path('mycp_edit_unavailabilityDetails',{'id_detail':edit_detail, 'num_room': num_room})}}{% else %}{{path('mycp_new_unavailabilityDetails',{'id_room':id_room, 'num_room': num_room})}}{% endif %}" novalidate="true">
{{form_widget(form)}}

{% endblock %}
