{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('mycp_backend_front') }}">Administración</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span>
        </li>
        <li class="active">{{ ownership.ownMcpCode }} </li>
        <li class="pull-right"><a href="{{ path('mycp_list_unavailabilityDetails') }}"><i class="icon-hand-left"></i>
                Volver atrás</a></li>
    </ul>
{% endblock %}
{% block form_actions %}
    <ul class="breadcrumb">
        <li><a href="{{ path('mycp_backend_front') }}">Administración</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_list_unavailabilityDetails') }}">Disponibilidad</a> <span class="divider">/</span>
        </li>
        <li class="active">Habitaciones</li>
        <li class="pull-right"><a href="{{ path('mycp_list_unavailabilityDetails') }}"><i class="icon-hand-left"></i>
                Volver atrás</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h2>Habitaciones: {% include 'mycpBundle:utils:ownership_header.html.twig' with {'ownership':ownership} %}</h2>
    <hr/>
    {% if rooms %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th style="width:100%">Habitación</th>

                <th>Calendario</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% set break = false %}
            {% for room in rooms if not break %}
                <tr>
                    <td>Hab. {{ room.roomownership.owntype }}</td>
                    <td style="text-align: center;"><a class="btn btn-mini btn-info"
                                                       href="{{ room.getICalUrlFromRequest(app.request) }}"
                                                       title="Descargar calendario (.ics)"><i class="icon-calendar"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('mycp_list_room_details_unavailabilityDetails',{'id_room':room.getRoomId, 'num_room': loop.index}) }}">Disponibilidad</a>
                    </td>
                </tr>
                {% if room.roomownership.isRentalTypeFull() %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
        <div class="alert alert-block">No hay habitaciones disponibles.</div></p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% javascripts
        '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.core.js'
        '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.widget.js'
        '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.mouse.js'
        '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.sortable.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
