<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        body{font: 11px Verdana, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;}
        h2{font-size: 15px; letter-spacing: 0.5px;}
        h4{font-size: 12px; letter-spacing: 0.5px}
        h3{font-size: 13px; letter-spacing: 0.5px}
        h6{font-size: 8px; letter-spacing: 0.5px; font-weight: normal;}
        #logo{margin-bottom: 10px; width: 260px; height: 50px}
        hr{border: none;border-bottom:solid 1px #84B231;}
        .h-green,a{color:#80AA2A}
        p{line-height: 18px}
        .text-right{text-align: right}
        .h-only-blue{color: #218CDC;}
        .voucher-subtitle{color: #80AA2A; padding:3px 5px; background: #EBE9EA; width: 70%;}
        .h-green-line{border-bottom: 1px solid #80AA2A;}
        .b-cyan{background: #EBE9EA;}
        .c-bbbb{ color: #bbb;}
        hr.upper-bottom{ margin:15px 0 0; border-color:#bbb;}
        .hr-grey-wide{border-color:#C8C8C8; border-width: 3px;}
        .no-margin{margin: 0}
        table{border-collapse: collapse; width: 100%; border-spacing: 0;}
        /*table td{ padding: 2px; border-top: 1px solid #bbb;}*/
        .cursive{font-style: italic;}

    </style>
</head>

<body>
{% set currency_symbol= user_currency.currSymbol %}
{% set currency_rate= user_currency.currCucChange %}

<table style="width: 100%">
    <tr>
        <td colspan="2" style="text-align: right">{{'now'| date('M d, Y') }}</td>
    </tr>
    <tr>
        <td>
            <img src="bundles/partner/img/logos/agency.png" alt="agency" style="height: 50px"/>
        </td>
        <td style="text-align: right; vertical-align: top; color: #cccccc">
            <img id="logo"  src="bundles/mycp/images/logo.jpg" alt="my casa particular"/>
        </td>
    </tr>
</table>
<br/>
<h2 class="h-green no-margin">{{ 'RESERVATION_CONFIRM'|trans({}, "messages", user_locale) }}</h2>
<hr/>
<h4 style="font-size: 14px; margin: 10px 0px 0px 5px">{{"DEAR_MR"|trans({}, "messages", user_locale)}} {{ client.fullname }}</h4>
<p>
    {{"THANKS_RESERVATION_MYCP_PARTNER"|trans({}, "messages", user_locale)}}
    {{"PLEASE_PRINT_CONFIRMATION_OF_SERVICE"|trans({}, "messages", user_locale)}}<br/>
</p>
<h2 class="h-green no-margin">{{ 'CLIENT_INFORMATION'|trans({}, "messages", user_locale) }}</h2>
<hr/>
<p>
<table style="width: 100%">
    <tr>
        <td><b>{{"RESERVATION_NUMBER"|trans({}, "messages", user_locale)}}:</b></td>
        <td>ID_{{ booking.getBookingId }}</td>
        <td><b>{{"CLIENT_NAME"|trans({}, "messages", user_locale)}}:</b></td>
        <td>{{ client.fullname }}</td>
    </tr>
    <tr>
        <td><b>Cuba Travel Network References{#{"label.name.agency"|trans({}, "messages", user_locale)}#}:</b></td>
        <td colspan="3">
            {% set own1 = own_res[0] %}
           {{ own_res_rooms[own1.id][0].reference }}
        {#{ user.getUserUserName }} {{ user.getUserLastName }#}
        </td>
    </tr>
</table>
<br/>

{% for own in own_res %}
    {% if loop.index0 > 0 %}
        <div style="page-break-after: always"></div>
    {% endif %}
    <hr class="hr-grey-wide"/>
    <table style="width: 100%">
        <tr>
            <td style="width: 70%">
                <h3 class="h-green h-green-line"  style="padding-bottom: 5px">
                    <img src="bundles/frontend/img/icons/vhouse.png" alt="{{"House" | trans}}">
                    {{"ACCOMMODATION"|trans({}, "messages", user_locale)}} {{loop.index}}
                </h3>
            </td>
            <td style="vertical-align: middle; text-align: right;width:30%">
                <b>{{"RESERVATION_NUMBER"|trans({}, "messages", user_locale)}}:</b> ID_{{ booking.getBookingId }}
            </td>
        </tr>
    </table>
    <table  style="width: 100%">
        <tr style="border-top:none;">
            <td style="border-top:none; width:30%"><b>{{"ACCOMMODATION_NAME"|trans({}, "messages", user_locale)}}:</b></td>
            <td style="border-top:none; width:40%">{{ own.name }}</td>
            <td rowspan="5" style="border-top:none;width:30%">
                <div class="thumbnail" style="padding: 12px; margin-left: 12px;">
                    {#<img src='https://maps.googleapis.com/maps/api/staticmap?center={{own.geo_x}},{{own.geo_y}}&zoom=15&size=200x200&sensor=false&markers=icon:{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}%7C{{own.geo_x}},{{own.geo_y}}&a.jpg' alt="{{"Maps" | trans}}"/>#}
                    <img src="uploads/ownershipImages/thumbnails/{{ own.photo }}" alt="my casa particular" style="width: 200px"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>{{"ID_HOME"|trans({}, "messages", user_locale)}}:</b></td>
            <td>{{ own.mycp_code }}</td>
        </tr>
        <tr>
            <td><b>{{"OWNERS_NAME"|trans({}, "messages", user_locale)}}:</b></td>
            <td>{{ own.owner_1 }} {% if own.owner_2 %}& {{ own.owner_2 }}{% endif %}</td>
        </tr>
        <tr>
            <td><b>{{"ADDRESS"|trans({}, "messages", user_locale)}}:</b></td>
            <td>{{"ADDRESS_STREET" | trans({}, "messages", user_locale)}} {{ own.main_street }} {{"ADDRESS_NUMBER" | trans({}, "messages", user_locale)}} {{ own.number }} {%if own.street_1 != "" and own.street_2 != ""%}, {{ own.street_1 }} & {{ own.street_2 }}{%endif%}.
                {{ own.municipality }} ,{{ own.province }}.
            </td>
        </tr>
        <tr>
            <td><b>{{"FORMS_PHONE"|trans({}, "messages", user_locale)}}:</b></td>
            <td>{%if own.prov_code != ""%}(+53) {{ own.prov_code }} {{ own.phone_number }}{%else%} - {%endif%}</td>
        </tr>
        {% if own.own_email_1 != "" or own.own_email_2 != "" %}
            <tr>
                <td><b>{{"FORMS_EMAIL"|trans}}:</b></td>
                <td>{% if own.own_email_1 == "" and own.own_email_2 == "" %}-{% else %}<a href="mailto:{{ own.own_email_1 }}">{{ own.own_email_1 }}</a>{% if own.own_email_1 != "" and own.own_email_2 != "" %}, {% endif %}<a href="mailto:{{ own.own_email_2 }}">{{ own.own_email_2 }}</a>{% endif %}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3">
                {% if user_locale == "es" %}
                    {{ own.description_es }}
                {% elseif user_locale == "fr" %}
                    {{ own.description_fr }}
                {% elseif user_locale == "it" %}
                    {{ own.description_it }}
                {% else %}
                    {{ own.description_en }}
                {% endif %}
            </td>
        </tr>
    </table>

    {%for res_room in own_res_rooms[own.id] %}

        <h4 class="voucher-subtitle no-margin" style="margin-bottom: 0px; width: 100%">
            <img src="bundles/frontend/img/icons/vbed.png" alt="{{"BEDS_ROOMS" | trans}}"/>
            {{"RESERVATION_DETAILS"|trans({}, "messages", user_locale)}} {{loop.index}}
        </h4>
        <br/>
        <table style="width:100%">
            <tr>
                <td colspan="6"><h4 class="h-only-blue no-margin">{{res_room.own_res_room_type|trans({}, "messages", user_locale)}}</h4></td>
            </tr>
            <tr>
                {% set difference = date(res_room.own_res_reservation_to_date|date('Y/m/d')).diff(date(res_room.own_res_reservation_from_date|date('Y/m/d'))) %}
                {% set nights = difference.days %}
                <td><b>{{"ARRIVAL_RESERVATION"|trans({}, "messages", user_locale)}}:</b></td>
                <td>{{ res_room.own_res_reservation_from_date| date("d/m/Y") }}</td>
                <td><b>{{"DEPARTURE_RESERVATION"|trans({}, "messages", user_locale)}}:</b></td>
                <td>{{ res_room.own_res_reservation_to_date| date("d/m/Y") }}</td>
                <td><b>{{"NIGHTS"|trans({}, "messages", user_locale)}}:</b></td>
                <td>{{ nights }}</td>
            </tr>
            <tr>
                <td><b>{{"SELECT_ROOM_TYPE_OPTION"|trans({}, "messages", user_locale)}}:</b></td>
                <td>{{ res_room.own_res_room_type|trans({}, "messages", user_locale) }}</td>
                <td><b>{{"ADULTS"|trans({}, "messages", user_locale)}}:</b></td>
                <td>{{ res_room.own_res_count_adults }}</td>
                <td><b>{{"KIDS"|trans({}, "messages", user_locale)}}:</b></td>
                <td>{{ res_room.own_res_count_childrens }}</td>
            </tr>
        </table>
    {%endfor%}

    {#<h4 class="voucher-subtitle no-margin" style="margin-bottom: 0px;">#}
        {#{{"Clients"|trans({}, "messages", user_locale)}}#}
    {#</h4>#}
    {#<br>#}
{#<table style="width:100%">#}

    {#{% for agency in own.travelAgencyDetailReservations %}#}
        {#<tr>#}
            {#<td colspan="6"> <strong>  {{" label.name.client "|trans({}, "messages", user_locale)}}:</strong> {{agency.reservation.client.fullName }}</td>#}
        {#</tr>#}
    {#{% endfor %}#}
{#</table>#}
{% endfor %}
<br/>
<table style="width: 100%;">
    <tr style="border-top:none;">
        <td style="border-top:none;padding:0px; width: 100%;">
            <hr class="upper-bottom"/>
        </td>
        <td style="text-wrap: none; border-top:none;text-align: right;padding:0px" nowrap="nowrap">
            <h3 class="no-margin c-bbbb">{{"END_OF_YOUR_RESERVATION" | trans({}, "messages", user_locale)}}</h3>
        </td>
    </tr>
</table>
<br/><br/>
<table style="width: 100%;">
    <tr style="border-top:none;">
        <td style="text-wrap: none; border-top:none;text-align: center;padding:0px" nowrap="nowrap">
            <h1 class="h-green no-margin">{{"VOUCHER_PAYED" | trans({}, "messages", user_locale)}}</h1>
        </td>
    </tr>
</table>
<br>
<br>

<h3 class="h-green h-green-line"  style="padding-bottom: 5px">
    <img src="bundles/frontend/img/map-signal.png" alt="{{"House" | trans}}">
    CONTACT US
</h3>
<table style="width: 100%; font-size: xx-small">
    <tr style="border-top:none; font-size: xx-small" >
        <td style="font-size: xx-small">
            <small>
                <b>Main Office:</b>
                 <p>Phone:+53 7 204 9201,+53 7 204 9202 <br> Address:CTN House, Avenida 31 entre 14 y 18 <br> No. 1411, Miramar, Playa, Havana, Cuba<br>Email:reservations@cubatravelnetwork.com  </p>

            </small>
        </td>

        <td style="font-size: xx-small">
            <small>
                <b>Representative:</b>
                 <p>Havana: <br> Phone:(0)5 286 8492 (Alexie) ,  (0)5 279 9533 (Deisy) <br> International Airport: (0)5 286 0670 (Manuel)</p>

            </small>
        </td>

        <td style="font-size: xx-small">

            <small>
                {% for own in destinys %}
                    <b>Representative:</b>
                    {% if own =="Santiago de Cuba" %}

                            <p>Santiago de Cuba: <br> Phone:(01)5 285 5730 (Fernando)<br> Address:Avenida Manduley #304 entre 11 y 13, Reparto Vista Alegre</p>

                    {% elseif own =="Trinidad" %}

                            <p>Trinidad: <br> Phone:(01)5 285 6855 (Floor)</p>
                    {% elseif own == "Baracoa" %}
                            <p>Baracoa: <br> Phone:(0)21 64 51 64 (Roger) <br> Address:c/o Gaviota Tours, Cafetería El Parque, Maceo s/n esq. Rafael Trejo</p>

                    {% endif %}
                {% endfor %}
            </small>
        </td>
    </tr>
</table>




</body>
</html>


