{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Configuraciones<span class="divider">/</span></li>
    <li class="active">Descargas</li>
</ul>
{% endblock %}
{% block content %}
<h2>Descargas</h2>
<hr/>
<h5>Listado para AirBnb</h5>
<div>
    <div id="selected_cont" data-url="{{path("mycp_export_accommodation_list")}}">
        <div class="disable_table_cont"></div>
        <img class="load_table_cont" src="{{asset('bundles/mycp/images/loading.gif')}}"/>
        <ul class="cont_list" id="double">

        </ul>
    </div>

    <div class="contacts_selectors">
        <div id="option_cont">
            <div class="selectors_cont">
                (
                <a id="select_all_cont" href="">Todos</a>
                |
                <a id="unselect_all_cont" href="">Ninguno</a>
                )
            </div>
                <button class="btn btn-success exportButton" data-url="{{path("mycp_download_info_airbnb")}}" id="exportToAirBnb">Descargar listado</button>
            <button id="del_cont" class="btn btn-danger exportButton">Borrar del listado</button>


            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/mycp/js/export.js') }}"></script>

<script type="text/javascript">
    $(".bAction").click(function() {
        url = $(this).attr("data-url");
        mail = $("#tEmail").val();
        url = url + '/' + mail;
        $('#form').attr('action', url);
        $('#form').submit();
    });
    </script>
{% endblock %}
