{% extends 'mycpBundle:layout:base.html.twig' %}
{% block title %}Autenticarse{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="#">Inicio</a> <span class="divider">/</span></li>
        <li class="active">Autenticarse</li>
    </ul>
{% endblock %}
{% block body %}


<div class="row-fluid ">

    <div class="span6 offset3">
        <div class="well ">
            <h2 class="form">Autenticarse</h2>
            <hr/>
            {% for message in app.session.flashbag.get('message_ok') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('message_error') %}
                <div class="alert alert-error">{{ message }}</div>
            {% endfor %}
            {% if error %}
                <div class="alert alert-error">{{ error.message | trans }}</div>
            {% endif %}
            <form class="form-horizontal" action="{{ path( urlLogin ) }}" method="post" id="login">
                <div class="control-group">
                    {#dump({{ app.request.attributes.get('_route') }})#}
                    {% if  app.request.attributes.get('_route') =="backend_login"%}


                    <label class="control-label" for="inputUsername">Usuario </label>
                    {% else %}
                    <label class="control-label" for="inputUsername">Código de la Casa </label>
                    {% endif %}
                    <div class="controls">
                        <input type="text" class="span9" id="inputUsername" placeholder="Usuario" name="_username"
                               value="{{ last_username }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Contraseña</label>

                    <div class="controls">
                        <input type="password" class="span9" placeholder="Contraseña" id="inputPassword"
                               name="_password"/>
                        <br/><br/>
                        <label class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" /> Recuérdame en este ordenador
                        </label>

                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Autenticarse</button>
                        <div style="margin-top: 6%;">
                            <a class="forgotLink" href="{{ path("mycp_forget_password") }}">¿Olvidó su clave?</a>
                        </div>
                    </div>
                </div>


            </form>

        </div>
    </div>

</div>
{% endblock %}
