{% extends 'LayoutBundle:Layout:layout_partner_frontend.html.twig' %}
{% block navbar %}
{% endblock %}
{% block carousel %}
{% endblock %}
{% block login_register %}
{% endblock %}
{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="middle-box loginscreen text-center animated fadeInDown">
            <div>
                <a href="{{ path('frontend_partner_home') }}">  <img src="{{ asset('img/mycp.png') }}"></a>
            </div>
            <div class="row">
                <form novalidate class="form-horizontal" id="change-password-form" action="{{ path('frontend_partner_change_password_user',{'string':string}) }}" method="post">
                    {{ form_widget(form)}}
                    <button style="margin-top: 20px" type="submit" class="btn btn-primary btn-block">{{"PASSWORD_RECOVERY_BUTTON_TEXT" | trans}}</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    label=$('.form-horizontal label')
    label.css('fontWeight','normal');
    label.css('display','block');
    label.css('marginTop','10px');
    $('.form-horizontal input').attr('class','form-control');
    ul=$('.form-horizontal ul');
    ul.css('listStyle','none');
    ul.css('padding','0');
    ul.attr('class','alert alert-danger text-center');
    $("#change-password-form").validate({
        submitHandler: function(form) {
            form.submit();
        },
        ignore: "",
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false // do not focus the last invalid input
        ,
        invalidHandler: function(event, validator) { //display error alert on form submit

        },
        rules: {
            'mycp_frontendbundle_change_password_usertype[user_password][Clave]':{
                required: true,
                minlength: 6
            },
            'mycp_frontendbundle_change_password_usertype[user_password][Repetir]': {
                equalTo: "#mycp_frontendbundle_change_password_usertype_user_password_Clave"
            }
        },


        highlight: function(element) { // hightlight error inputs
            $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        },

        success: function(label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        }
    });
</script>
{% endblock javascripts %}
{% block footer %}
{% endblock %}