{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{path('mycp_list_awards')}}">Premios</a> <span class="divider">/</span></li>
    <li class="active">{{ award.name }}</li>
</ul>
{% endblock %}
{% block content %}
<h2>Alojamientos premiados - {{ award.name }}</h2>
<hr/>
    <a class="btn" ><i class="icon-asterisk"></i> Premiar</a>&nbsp;
<br/><br/>
{% if list %}
<div class="alert">
    <div class="row-fluid">
        <div class="pull-left">
            Mostrando del {{items_per_page * current_page - items_per_page}} al {% if items_per_page * current_page >  total_items%}{{total_items }}{% else %}{{ items_per_page * current_page }}{% endif %} de {{total_items}} registros
        </div>
        <div class="pull-right">
            Mostrar:
            <a class="{% if items_per_page == 100 %}selected{% endif %}" href="{{ path('mycp_accommodation_award_list',{'id': award.id, 'items_per_page':100})}}">100</a>
            <a class="{% if items_per_page == 300 %}selected{% endif %}" href="{{ path('mycp_accommodation_award_list',{'id': award.id,'items_per_page':300})}}">300</a>
            <a class="{% if items_per_page == 500 %}selected{% endif %}" href="{{ path('mycp_accommodation_award_list',{'id': award.id,'items_per_page':500})}}">500</a>
            <input class="hidden" name="items_per_page" value="100">
        </div>
    </div>
</div>
<div class="paginator-cont span11">
    {{ simple_paginator_render('mycp_accommodation_award_list',null,{
'container_class': 'paginator',
'previousPageText': '«',
'nextPageText': '»',
'currentClass': 'current',
'firstPageText': 'Primera',
'lastPageText': 'Última',
'route_params': {'id': award.id,'items_per_page':items_per_page}
}) }}
</div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Casa</th>
            <th>Año</th>
            <th style="text-align: right">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
        <tr>
            <td>{{item.accommodation.ownMcpCode}} - {{ item.accommodation.ownName }}</td>
            <td>{{ item.year}}</td>
            <td style="text-align: right">
                <a class="btn btn-mini" href="{{ path('mycp_remove_accommodation_award',{'accommodation_id':item.accommodation.ownId, 'award_id':item.award.id}) }}">Remover premio</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="paginator-cont span11">
    {{ simple_paginator_render('mycp_accommodation_award_list',null,{
    'container_class': 'paginator',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'Primera',
    'lastPageText': 'Última',
    'route_params': {'id': award.id,'items_per_page':items_per_page}
    }) }}
</div>
    {% else %}
    <p> <div class="alert alert-block">No hay alojamientos premiados disponibles.</div></p>
    {% endif %}
{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea remover el premio del alojamiento seleccionado?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}