{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    {% stylesheets
    '@mycpBundle/Resources/public/css/bootstrap-wysihtml5.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_awards') }}">Premios</a> <span class="divider">/</span></li>
    {% if edit_award is defined %}
    <li class="active">Editar premio</li>
    {% else %}
    <li class="active">Adicionar premio</li>
    {% endif %}
    <li class="pull-right"><a href="{{ path('mycp_list_awards') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_awards') }}">Premios</a> <span class="divider">/</span></li>
    {% if edit_award is defined %}
    <li class="active">Editar premio</li>
    {% else %}
    <li class="active">Adicionar premio</li>
    {% endif %}
    <li class="pull-right"><a href="{{ path('mycp_list_albums') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_awards') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if edit_award is defined %}Editar premio ({{award.name}}){% else %} Adicionar premio {% endif %}</h2>
        <hr/>
{% if errors is defined %}<label class="alert alert-error">Debe llenar el formulario correctamente.</label>{%endif%}
<form action="{% if edit_award is defined %}{{ path('mycp_edit_award', {'id': edit_award})}}{% else %}{{ path('mycp_new_award')}}{% endif %}" method="POST" novalidate="true" class="sfgen" enctype="multipart/form-data">
{% if edit_award is defined %}<input style="display: none;" name="edit_award" value="{{edit_award}}"> {% endif %}
    <div >
    {% if edit_award is defined and award.iconOrClassName %}
        <img src="{{ asset("uploads/awards/") ~ award.iconOrClassName }}" style="vertical-align: bottom; border: 0;"/>
    {% endif %}
    {% if edit_award is defined and award.secondIconOrClassName %}
        <img src="{{ asset("uploads/awards/") ~ award.secondIconOrClassName }}" style="vertical-align: bottom; border: 0;"/>
    {% endif %}
    </div>
    {{form_widget(form)}}
{% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            var url_css_color="{{ asset('bundles/mycp/css/wysiwyg-color.css') }}";
        </script>

        {% javascripts
        '@mycpBundle/Resources/public/js/wysihtml5-0.3.0.min.js'
        '@mycpBundle/Resources/public/js/bootstrap-wysihtml5.js'
        filter='?uglifyjs2'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            $('.textarea').wysihtml5();
        </script>
    {% endblock %}