<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        body{font: 13px Verdana, Arial, Helvetica, sans-serif; }
        #logo{margin-bottom: 10px; width: 260px; height: 50px}
        hr{border: none;border-bottom:solid 1px #84B231;}
        .h-green,a{color:#80AA2A}
        p{line-height: 20px}
        .text-right{text-align: right}
    </style>
</head>
<body>
<table style="width: 100%">
    <tr>
        <td>
            <img id="logo"  src="bundles/mycp/images/logo.jpg" alt="my casa particular"/>
        </td>
        <td style="text-align: right; vertical-align: top; color: #cccccc">
            {{'now'| date('M d, Y') }}
        </td>
    </tr>
</table>
<br/>
<h2 class="h-green">{{ 'RESERVATION_CONFIRM'|trans }}</h2>
<hr/>
<h4 style="font-size: 20px; margin: 15px 0px 0px 5px">{{"DEAR_MR"|trans}} {{ user.getUserUserName }} {{ user.getUserLastName }}</h4>
<p>
    {{"THANKS_RESERVATION_MYCP"|trans}} <a href="{{ url('frontend_welcome') }}">MyCasaParticular.com</a><br/>
    {{"PLEASE_PRINT_CONFIRMATION_OF_SERVICE"|trans}}<br/>
    {{"CAN_FOLLOWING_RESERVATIONS_MYCT"|trans}} <a href="{{ url('frontend_mycasatrip_pending') }}">MyCasaTrip</a>
</p>
<h2 class="h-green">{{ 'CLIENT_INFORMATION'|trans }}</h2>
<hr/>
<p>
<table style="width: 100%">
    <tr>
        <td><b>{{"RESERVATION_NUMBER"|trans}}:</b></td>
        <td>ID_{{ booking.getBookingId }}</td>
        <td><b>{{"EMAIL_TO"|trans}}</b></td>
        <td>{{ user.getUserEmail }}</td>
    </tr>
    <tr>
        <td><b>{{"CLIENT_NAME"|trans}}:</b></td>
        <td>{{ user.getUserUserName }} {{ user.getUserLastName }}</td>
        <td><b>{{"NACIONALITY"|trans}}:</b></td>
        <td>{{ user.getUserCountry.getCoName }}</td>
    </tr>
</table>
<br/>
{% for own in own_res %}
<h2 class="h-green">{{ 'ACCOMMODATION'|trans }}</h2>
<hr/>
<table style="width: 100%">
    <tr>
        <td width="30%"><b>{{"ACCOMMODATION_NAME"|trans}}:</b></td>
        <td width="40%">{{ own.getOwnResGenResId.getGenResOwnId.getOwnName }}</td>
        <td rowspan="5">
            <div style="padding: 12px; margin-left: 12px; border: solid 1px #cccccc;">
                <!--div id="big_map_details" class="google-maps" style="width:100%;height: 100px;"
                     data-x="{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateX}}"
                     data-y="{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateY}}"
                     data-name="{{own.getOwnResGenResId.getGenResOwnId.getOwnName}}"
                     data-description=""
                     data-image=""
                     data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"
                </div>-->
                <img src='http://maps.googleapis.com/maps/api/staticmap?center={{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateX}},{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateY}}&zoom=15&size=200x200&sensor=false&markers=icon:{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}%7C{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateX}},{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateY}}&a.jpg'/>
            </div>
        </td>
    </tr>
    <tr>
        <td><b>{{"ID_HOME"|trans}}:</b></td>
        <td>{{ own.getOwnResGenResId.getGenResOwnId.getOwnMcpCode }}</td>
    </tr>
    <tr>
        <td><b>{{"OWNERS_NAME"|trans}}:</b></td>
        <td>{{ own.getOwnResGenResId.getGenResOwnId.getOwnHomeowner1 }} {% if own.getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 %}y {{ own.getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 }}{% endif %}</td>
    </tr>
    <tr>
        <td><b>{{"ADDRESS"|trans}}:</b></td>
        <td>{{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressStreet }}, número {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressNumber }}, entre {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet1 }} y {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet2 }}.
            {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName }}, {{own.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName }}.
        </td>
    </tr>
    <tr>
        <td><b>{{"FORMS_PHONE"|trans}}:</b></td>
        <td>(+53) {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvPhoneCode }} {{ own.getOwnResGenResId.getGenResOwnId.getOwnPhoneNumber }}</td>
    </tr>
</table>
<br/>
<h2 class="h-green">
    {{"RESERVATION_DETAILS"|trans}}: {{"ROOM_PLURAL"|trans}}
</h2>
<hr/>
<table style="width: 100%">
    <tbody>
    <tr>
        <td colspan="6"><b>{{"RESERVATION_ROOM"|trans}} ({{own.getOwnResRoomType|trans}})</b></td>
    </tr>
    <tr>
        <td><b>{{"ARRIVAL_RESERVATION"|trans}}:</b></td>
        <td>{{ own.getOwnResReservationFromDate| date("d/m/Y") }}</td>
        <td><b>{{"DEPARTURE_RESERVATION"|trans}}:</b></td>
        <td>{{ own.getOwnResReservationToDate| date("d/m/Y") }}</td>
        <td><b>{{"NIGHTS"|trans}}:</b></td>
        <td>{{ nights[loop.index0] }}</td>
    </tr>
    <tr>
        <td><b>{{"SELECT_ROOM_TYPE_OPTION"|trans}}:</b></td>
        <td>{{ own.getOwnResRoomType|trans }}</td>
        <td><b>{{"ADULTS"|trans}}:</b></td>
        <td>{{ own.getOwnResCountAdults }}</td>
        <td><b>{{"KIDS"|trans}}:</b></td>
        <td>{{ own.getOwnResCountChildrens }}</td>
    </tr>
    <tr>
        <td><b>{{"SELECT_BATHROOM_TYPE_OPTION"|trans}}:</b></td>
        <td colspan="5">{{ rooms[loop.index0].getRoomBathroom|trans }}</td>
    </tr>
    </tbody>
</table>
{% endfor %}
<br/>
<h2 class="h-green">
    {{"PAYMENT_DETAILS"|trans}}: {{"BILL"|trans}}
</h2>
<hr/>
<table style="width: 100%">
    <tbody>
    <tr>
        <td><b>{{"PRICE_OF_ACCOMMODATION_SERVICE"|trans}}</b></td>
        <td class="text-right"><b>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ ceil_round(total_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))}}</b></td>
    </tr>
    <tr>
        <td>{{"RESERVATION_TOTAL" | trans}} {{"SERVICE_RECHARGE"|trans|lower}}</td>
        <td class="text-right">{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ 10 * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</td>
    </tr>
    <tr>
        <td>{{"OTHER_SERVICES_HEADING_FILTER"|trans}}</td>
        <td class="text-right">0</td>
    </tr>
    <tr>
        <td><h3 style="margin: 0">{{"RESERVATION_TOTAL" | trans}}</h3></td>
        <td class="text-right"><h3 style="margin: 0">
                {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ ceil_round(total_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))}}
            </h3></td>
    </tr>
    <tr>
        <td>- {{"TOTAL_PREPAYMENT"|trans}} ({% for comm in commissions %}{{comm}}%{% if not loop.last %}, {% endif %}{% endfor %})</td>
        <td class="text-right">{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ceil_round((total_percent_price) * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))) }}</td>
    </tr>
    <tr>
        <td><b>{{"TOTAL_TO_PAY_SERVICING"|trans}}</b></td>
        <td class="text-right">{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ceil_round(((total_percent_price) + 10)*(app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))}}</td>
    </tr>
    </tbody>
</table>
<script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.infobox.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/ownership.min.js') }}"></script>
</body>
</html>