{% extends 'frontEndBundle:mycasatrip:layout_blank.html.twig' %}
{% block body_inner %}
<div class="row" style="margin-top: 30px">
    <div class="col-sm-10">
        <h1 class="caecilia-roman h-green h-size-1 no-margin">{{"RESERVATION_CONFIRM"|trans}}</h1>
    </div>
    <div class="col-sm-2">
        <a target="_blank" href="{{ path('frontend_boucher_reservation',{'id_booking': booking.getBookingId}) }}" class="btn btn-primary btn-block">
            {{"PRINT"|trans}}
        </a>
    </div>
</div>
<hr class="hr-green"/>
<h4 class="h-grey" style="font-size: 30px">{{"DEAR_MR"|trans}} {{ user.getUserUserName }} {{ user.getUserLastName }}</h4>
{{"THANKS_RESERVATION_MYCP"|trans}} <b><a href="{{ path('frontend_welcome') }}">MyCasaParticular.com</a></b><br/>
{{"PLEASE_PRINT_CONFIRMATION_OF_SERVICE"|trans}}<br/>
{{"CAN_FOLLOWING_RESERVATIONS_MYCT"|trans}} <a href="{{ path('frontend_mycasatrip_pending') }}">MyCasaTrip</a>
    <br/>
    <br/>
<h4 class="h-green">{{"CLIENT_INFORMATION"|trans}}</h4>
<div class="row">
    <div class="col-sm-6">
        <table class="full-width table table-type-1">
            <tr>
                <td><b>{{"RESERVATION_NUMBER"|trans}}:</b></td>
                <td>ID_{{ booking.getBookingId }}</td>
            </tr>
            <tr>
                <td><b>{{"CLIENT_NAME"|trans}}:</b></td>
                <td>{{ user.getUserUserName }} {{ user.getUserLastName }}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-type-1">
            <tr>
                <td><b>{{"EMAIL_TO"|trans}}</b></td>
                <td>{{ user.getUserEmail }}</td>
            </tr>
            <tr>
                <td><b>{{"NACIONALITY"|trans}}:</b></td>
                <td>{{ user.getUserCountry.getCoName }}</td>
            </tr>
        </table>
    </div>
</div>
    {% for own in own_res %}
        <h4 class="h-green">
            {{"RESERVE_SERVICE"|trans}}: {{"ACCOMMODATION"|trans}}
        </h4>
        <table class="table table-type-1">
            <tbody>
            <tr>
                <td width="30%"><b>{{"ACCOMMODATION_NAME"|trans}}:</b></td>
                <td width="40%">{{ own.getOwnResGenResId.getGenResOwnId.getOwnName }}</td>
                <td rowspan="5">
                    <div class="thumbnail" style="padding: 12px; margin-left: 12px">
                        <!--<div id="big_map_details" class="google-maps" style="width:100%;height: 150px;"
                             data-x="{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateX}}"
                             data-y="{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateY}}"
                             data-name="{{own.getOwnResGenResId.getGenResOwnId.getOwnName}}"
                             data-description=""
                             data-image=""
                             data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}">
                        </div>-->
                        <img src='http://maps.googleapis.com/maps/api/staticmap?center={{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateX}},{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateY}}&zoom=15&size=200x200&sensor=false&markers=icon:{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}%7C{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateX}},{{own.getOwnResGenResId.getGenResOwnId.getOwnGeolocateY}}&a.jpg'/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"ID_HOME"|trans}}:</b></td>
                <td>{{ own.getOwnResGenResId.getGenResOwnId.getOwnMcpCode }}</td>
            </tr>
            <tr>
                <td><b>{{"OWNERS_NAME"|trans}}:</b></td>
                <td>{{ own.getOwnResGenResId.getGenResOwnId.getOwnHomeowner1 }} {% if own.getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 %}y {{ own.getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 }}{% endif %}</td>
            </tr>
            <tr>
                <td><b>{{"ADDRESS"|trans}}:</b></td>
                <td>{{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressStreet }}, número {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressNumber }}, entre {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet1 }} y {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet2 }}.
                    {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName }}, {{own.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName }}.
                </td>
            </tr>
            <tr>
                <td><b>{{"FORMS_PHONE"|trans}}:</b></td>
                <td>(+53) {{ own.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvPhoneCode }} {{ own.getOwnResGenResId.getGenResOwnId.getOwnPhoneNumber }}</td>
            </tr>
            </tbody>
        </table>
        <h4 class="h-green">
            {{"RESERVATION_DETAILS"|trans}}: {{"ROOM_PLURAL"|trans}}
        </h4>
        <table class="table table-type-1">
            <tbody>
            <tr>
                <td colspan="6"><b>{{"RESERVATION_ROOM"|trans}} ({{own.getOwnResRoomType|trans}})</b></td>
            </tr>
            <tr>
                <td><b>{{"ARRIVAL_RESERVATION"|trans}}:</b></td>
                <td>{{ own.getOwnResReservationFromDate| date("d/m/Y") }}</td>
                <td><b>{{"DEPARTURE_RESERVATION"|trans}}:</b></td>
                <td>{{ own.getOwnResReservationToDate| date("d/m/Y") }}</td>
                <td><b>{{"NIGHTS"|trans}}:</b></td>
                <td>{{ nights[loop.index0] }}</td>
            </tr>
            <tr>
                <td><b>{{"SELECT_ROOM_TYPE_OPTION"|trans}}:</b></td>
                <td>{{ own.getOwnResRoomType|trans }}</td>
                <td><b>{{"ADULTS"|trans}}:</b></td>
                <td>{{ own.getOwnResCountAdults }}</td>
                <td><b>{{"KIDS"|trans}}:</b></td>
                <td>{{ own.getOwnResCountChildrens }}</td>
            </tr>
            <tr>
                <td><b>{{"SELECT_BATHROOM_TYPE_OPTION"|trans}}:</b></td>
                <td colspan="5">{{ rooms[loop.index0].getRoomBathroom|trans }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}

    <h4 class="h-green">
        {{"PAYMENT_DETAILS"|trans}}: {{"BILL"|trans}}
    </h4>
    <table class="table table-type-1">
        <tbody>
        <tr>
            <td><b>{{"PRICE_OF_ACCOMMODATION_SERVICE"|trans}}</b></td>
            <td class="text-right"><b>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ ceil_round(total_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))}}</b></td>
        </tr>
        <tr>
            <td>- {{"TOTAL_PREPAYMENT"|trans}} ({% for comm in commissions %}{{comm}}%{% if not loop.last %}, {% endif %}{% endfor %})</td>
            <td class="text-right">{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ceil_round((total_percent_price) * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))) }}</td>
        </tr>
        <tr>
            <td>{{"RESERVATION_TOTAL" | trans}} {{"SERVICE_RECHARGE"|trans|lower}}</td>
            <td class="text-right">{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ 10 * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</td>
        </tr>
        <tr>
            <td>{{"TOTAL_ALL_PREPAYMENT" | trans}}</td>
            <td class="text-right">{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{10 * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))+(ceil_round((total_percent_price) * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))) }}</td>
        </tr>
        <tr>
            <td>{{"OTHER_SERVICES_HEADING_FILTER"|trans}}</td>
            <td class="text-right">0</td>
        </tr>
        <tr>
            <td><h2 class="no-margin">{{"TOTAL_TO_PAY_SERVICING" | trans}}</h2></td>
            <td class="text-right"><h2 class="no-margin">
                {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ ceil_round(total_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))- (ceil_round((total_percent_price) * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')))) }}
                </h2></td>
        </tr>
        </tbody>
    </table>
    <hr class="hr-green"/>
    <div class="row">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-2">
            <a target="_blank" href="{{ path('frontend_boucher_reservation',{'id_booking': booking.getBookingId}) }}" class="btn btn-primary btn-block">
                {{"PRINT"|trans}}
            </a>
        </div>
    </div>
    <script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/frontend/js/jquery.ui.map.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/jquery.ui.map.infobox.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/ownership.min.js') }}"></script>
{% endblock %}