{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"RESERVATION_CONFIRM" | trans}}
{% endblock %}

{% set main_tab = 5 %}
{% block content_nav_top_body %}
destinos
{% endblock %}
{% block breadcrumbs %}
    <br/>
    <div class="container">
        <div class="breadcrumb">
            <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
            <span>/</span>
            {{"RESERVATION_CONFIRM"|trans}}
        </div>
    </div>
{% endblock %}
{% block body %}
    <div style="padding: 30px 0px 40px" class="bg-solid-ligth-blue">
        <div class="container">
            <h1 class="h-size-1 h-blue-4 text-center caecilia-roman">{{"RESERVATION_CONFIRM_TITLE"|trans}}</h1>
            <h2 class="text-center h-size-4 no-margin">{{"RESERVATION_CONFIRM_SUBTITLE"|trans}}</h2>
            <br>
            <div class="text-center">
                <img src="{{ asset('bundles/frontend/img/icons/ok.png') }}"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bg-solid-orange-bar"><h1 class="caecilia-roman h-white text-center">
                {{"RESERVATION_CONFIRM_GREENBAR_TEXT" | trans}}</h1></div>
        <h3 class="h-size-4 h-grey text-center no-margin">{{"RESERVATION_CONFIRM_GREENBAR_SUBTEXT" | trans}}</h3>
        <br/>
        <div class="row thumbs-houses-2">
            {%for own in owns_in_destination%}
                {{ include('frontEndBundle:ownership:checkReviewMosaicOwnership.html.twig',{
                        'own_id': own.own_id,
                        'own_name': own.own_name,
                        'own_comments': own.comments_total,
                        'own_rating': own.rating,
                        'own_type': own.type,
                        'own_province': own.prov_name,
                        'own_municipality': own.mun_name,
                        'own_rooms_count':own.rooms_count,
                        'own_minimum_price': own.minimum_price,
                        'is_in_favorite':own.is_in_favorites,
                        'photo': own.photo,
                        'category': own.category,
                        'list_preffix': 'owns_in_destination' }) }}
            {%endfor%}
        </div>
        <br/>
        <br/>
        {% if other_destinations | length%}
        <h1 class="text-center caecilia-roman no-margin h-size-3">
            {{"RESERVATION_CONFIRM_DESTINATION_AREA_TITLE" | trans}}
        </h1>
        <hr/>
        <div class="row thumbs-houses thumbs-destination">
            {%for destination in other_destinations%}
            {{ include('frontEndBundle:destination:destinationItem.html.twig',{
                        'des_name': destination.desname,
                        'des_photo': destination.photo,
                        'des_poblation': destination.desPoblation,
                        'des_refPlace': destination.desRefPlace,
                        'des_description': destination.description,
                        'is_in_favorite':destination.is_in_favorites,
                        'des_id': destination.desid,
                        'des_count_owns': destination.count_ownership }) }}
            {%endfor%}
        </div>
        {%endif%}

        {% render 'frontEndBundle:public:home_carrousel' %}
    </div>




{% endblock %}