{% extends 'FrontEndBundle:mycasatrip:layout_blank.html.twig' %}
{% block body_inner %}
{%if total_errors > 0%}
<div class="alert alert-danger" style="margin-top: 40px">
{{"FILL_FORM_CORRECTLY" | trans}}</div>
{%endif%}
    {% set night=0 %}
    {% for res in reservations %}
        {% set night=night+nights[loop.index0] %}
    {% endfor %}

<h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal;">{{"RESERVATION_DETAILS" | trans}}
    {% if  night >=10 %}
        <span rel="tooltip"  title="More than 10 nights " class="discount float-lg-right badge badge-pill badge-warning ">-30%</span>
    {% endif %}
</h1>
{#<div class="h-blue t-size-12" style="font-weight: normal"><b >{{"ARRIVAL_RESERVATION" | trans}}:</b> {{ dates_string_day[0] }}{{dates_string[0]}} <b style="margin-left: 20px">{{"DEPARTURE_RESERVATION" | trans}}:</b> {{dates_string_day[dates_string_day|length -1]}}{{dates_string[dates_string|length -1]}}</div>#}
<div class="items-cart">

{% for reservation in reservations %}
    {% set accommodation = reservation.ownResGenResId.genResOwnId %}
<div class="item">

    <table cellpadding="15" class="full-width">
        <tbody><tr>
            <td class="date"><span>{{ loop.index }}</span></td>
            <td>
                <b>{{ accommodation.ownName }}</b><br/>
                {{ accommodation.ownAddressMunicipality.munName }}, {{ accommodation.ownAddressProvince.provName }} <br/>
                <small>
                    {% if reservation.ownResGenResId.completeReservationMode %}
                        {{ "Propiedad completa" | trans }}, {{ reservation.ownResGenResId.genResOwnId.ownRoomsTotal }} {{ "ROOMS" | trans }}
                    {% else %}
                        {{reservation.ownResRoomType|trans}}
                    {% endif %}
                    , {{"ADULTS" | trans}}: {{reservation.ownResCountAdults}}, {{"KIDS" | trans}}: {{reservation.ownResCountChildrens}}<br/>
                    {{"ARRIVAL_WATERMARK" | trans}}: {{reservation.ownResReservationFromDate |date('d/m/Y')}}, {{"DEPARTURE_WATERMARK" | trans}}: {{reservation.ownResReservationToDate|date('d/m/Y')}}, {{ "NIGHTS" | trans }}: {{ nights[loop.index0] }}
                </small>
            </td>
            <td class="text-right cost">
                {% if reservations | length > 1 %}<a href="{{ path("frontend_reservation_removing_payment_page", {"idReservation": reservation.ownResId }) }}"><i class="fa fa-times"></i></a> <br/>{% endif %}
                <h3 class="no-margin">
                    {{reservation.ownResTotalInSite | price}}
                </h3>
            </td>
        </tr>
     </tbody>
     </table>
</div>
{% endfor %}
    </div>
    {#{% set nights = (dates_string | length) - 1 %}#}
    {#% set touristTax = total_price * touristTax(reservations | length, nights , (total_price / nights)) %#}
    {% set prepayment =  ((total_percent_price + currentServiceFee.fixedFee + touristTax)-discount) | price%}
    <div class="row">
        <div class="col-sm-3" rel="tooltip" title="{{ "ACCOMMODATION_TOTAL_COST_PLURAL_TOOLTIP" | trans }}">{{"ACCOMMODATION_TOTAL_COST" | trans}} <br/><span>{{total_price | price}}</span></div>
        <div class="col-sm-1">
            <label>+</label>
        </div>
        <div class="col-sm-2" rel="tooltip" title="{{ "SERVICE_TOURIST_TAX_TITLE" | trans }}">{{"SERVICE_TOURIST_TAX" | trans}}: <br/><span>{{touristTax | price}}</span></div>
        {% if discount >0 %}
        <div class="col-sm-1">
            <label>-</label>
        </div>
            <div class="col-sm-2 text-warning" rel="tooltip">Discount: <br/><span>{{discount | price}}</span></div>

        {% endif %}

        <div class="d-none col-sm-2" rel="tooltip" title="{{ "SERVICE_FIXED_TAX_TITLE" | trans }}">{{"SERVICE_FIXED_TAX" | trans}}: <br/><span>{{currentServiceFee.fixedFee | price}}</span></div>
        <div class="col-sm-1">
            <label>=</label>
        </div>
        <div class="col-sm-2 text-right" style="font-size: larger; font-weight: bold">
            {{ 'RESERVATION_TOTAL_PRICE' | trans }} <br/>
            <span>{{(total_price + touristTax + currentServiceFee.fixedFee-discount) | price}}</span>
        </div>
    </div>
    <div class="row" style="line-height: 25px; color: #218CDC">
        <div class="col-sm-6" rel="tooltip" title="{{ "PREPAYMENT_TOOLTIP" | trans }}">
            {{"PREPAYMENT" | trans}}: <span>{{(total_percent_price +touristTax + currentServiceFee.fixedFee-discount) | price}}</span>
        </div>
        <div class="col-sm-6 text-right" rel="tooltip" title="{{ "TOTAL_PAY_AT_SERVICE_TOOLTIP" | trans }}">
            {{"TOTAL_PAY_AT_SERVICE" | trans}}: <span>{{(total_price - total_percent_price) | price}}</span> <br/>
            {% set currSymbol = app.session.get('curr_symbol') != null ? app.session.get('curr_symbol'): default_currency().currsymbol %}
            {% if currSymbol != "CUC" %}
                <span style="font-size: small">CUC {{ (total_price - total_percent_price) | number_format(2) }}</span>
            {% endif %}
        </div>
    </div>

<div >
<div class="pull-right">
    <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
         class="icon-services question" rel="tooltip" title="{{ "RESERVATION_TRIPLE_CHARGE" | trans}} {{configuration_triple_room_charge | price}}" alt="{{"Question" | trans}}"/>
    </div>
    </div>
<hr/>
{#<h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal; margin-top: 20px">{{"YOUR_DATA" | trans}}</h1>#}
{#<div class="h-blue t-size-12" style="font-weight: normal; margin-bottom: 0"><b >{{"REQUIRED_FIELDS_NEXT_STEP" | trans}}:</b> </div>#}
<form  method="POST" action="{{ path('frontend_reservation_reservation') }}" novalidate target="_blank">
    {#<input type="hidden"  name="user_tourist_gender" id="user_tourist_gender" value="{{ post["user_tourist_gender"] is defined  ? post["user_tourist_gender"] : user_tourist.getUserTouristGender}}"/>#}
    {#<input type="hidden" name="user_tourist_nationality" id="user_tourist_nationality" value="{{post["user_tourist_nationality"] is defined and post["user_tourist_nationality"] != "" ? post["user_tourist_nationality"] : user.UserCountry.coid}}"/>#}
    {#<input type="hidden" name="reservation_hour" id="reservation_hour" value="{{post["reservation_hour"] is defined and post["reservation_hour"] != "" ? post["reservation_hour"]: ("SELECT" | trans)}}"/>#}
{#<div class="row form-cont">#}
    {#<div class="col-sm-6">#}
        {#<label>{{"GENDER" | trans}} {%if errors["user_tourist_gender"] is defined and errors["user_tourist_gender"] !="" %}<span class="reservation_error">{{errors["user_tourist_gender"]|trim(':')}}</span>{%endif%}</label>#}
        {#<select class="form-control" name="user_tourist_gender">#}
            {#<option value="0" {%if (post["user_tourist_gender"] is defined and post["user_tourist_gender"]==0) or (user_tourist.UserTouristGender == 0)%}selected{%endif%}>{{"MALE" | trans}}</option>#}
            {#<option value="1" {%if (post["user_tourist_gender"] is defined and post["user_tourist_gender"]==1) or (user_tourist.UserTouristGender == 1)%}selected{%endif%}>{{"FEMALE" | trans}}</option>#}
        {#</select>#}

        {#<label>{{"FORMS_NAME" | trans}} {%if errors["user_tourist_name"] is defined  and errors["user_tourist_name"] !="" %}<span class="reservation_error">{{errors["user_tourist_name"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input type="text" name="user_tourist_name" class="form-control" value="{{ post["user_tourist_name"] is defined ? post["user_tourist_name"] | capitalize : user.getUserUserName |capitalize}}"/>#}

        {#<label>{{"FORMS_EMAIL" | trans}} {%if errors["user_tourist_email"] is defined and errors["user_tourist_email"] !="" %}<span class="reservation_error">{{errors["user_tourist_email"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input type="text" name="user_tourist_email" class="form-control"  value="{{post["user_tourist_email"] is defined ? post["user_tourist_email"] : user.getUserEmail}}"/>#}

        {#<label>{{"COUNTRY" | trans}} {%if errors["user_tourist_nationality"] is defined and errors["user_tourist_nationality"] !=""  %}<span class="reservation_error">{{errors["user_tourist_nationality"]|trim(':')}}</span>{%endif%}</label>#}
        {#<select class="form-control" name="user_tourist_nationality">#}
            {#{%for country in countries%}#}
                {#<option value="{{country.coid}}" {%if (post["user_tourist_nationality"] is defined and post["user_tourist_nationality"]==country.coid) or (user.UserCountry.coid == country.coid)%}selected{%endif%}>{{country.coname}}</option>#}
            {#{%endfor%}#}
        {#</select>#}

        {#<label>{{"FORMS_PHONE" | trans}} {%if errors["user_tourist_phone"] is defined and errors["user_tourist_phone"] != ""%}<span class="reservation_error">{{errors["user_tourist_phone"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input type="text"  name="user_tourist_phone" class="form-control"  value="{{post["user_tourist_phone"] is defined and  post["user_tourist_phone"] != "" ? post["user_tourist_phone"] : user.getUserPhone}}"/>#}
    {#</div>#}
    {#<div class="col-sm-6">#}
        {#<label>{{"ZIPCODE" | trans}} {%if errors["user_tourist_zip_code"] is defined  and errors["user_tourist_zip_code"] !="" %}<span class="reservation_error">{{errors["user_tourist_zip_code"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input name="user_tourist_zip_code" type="text" class="form-control" value="{{post["user_tourist_zip_code"] is defined  ? post["user_tourist_zip_code"] : user_tourist.UserTouristPostalCode}}"/>#}

        {#<label>{{"FORMS_LASTNAME" | trans}} {%if errors["user_tourist_last_name"] is defined and errors["user_tourist_last_name"] !="" %}<span class="reservation_error">{{errors["user_tourist_last_name"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input type="text" name="user_tourist_last_name" class="form-control" value="{{post["user_tourist_last_name"] is defined ? post["user_tourist_last_name"] | capitalize : user.getUserLastName |capitalize}}"/>#}

        {#<label>{{"CONFIRM_MAIL" | trans}} {%if errors["user_tourist_email_confirm"] is defined and errors["user_tourist_email_confirm"] !=""  %}<span class="reservation_error">{{errors["user_tourist_email_confirm"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input type="text" name="user_tourist_email_confirm" class="form-control" value="{{(post["user_tourist_email_confirm"] is defined and post["user_tourist_email_confirm"] != null) ? post["user_tourist_email_confirm"] : user.getUserEmail}}"/>#}

        {#<label>{{"ARRIVAL_TIME" | trans}} {%if errors["reservation_hour"] is defined and errors["reservation_hour"] !=""  %}<span class="reservation_error">{{errors["reservation_hour"]|trim(':')}}</span>{%endif%}</label>#}
        {#<select class="form-control" name="reservation_hour">#}
            {#{%for hour in (0..23)%}#}
                {#<option value="{{(hour < 10 ? "0"~hour: hour) ~ ":00"}}" {%if post["reservation_hour"] is defined and post["reservation_hour"] == (hour < 10 ? "0"~hour: hour) ~ ":00"%}selected{%endif%}>{{(hour < 10 ? "0"~hour: hour) ~ ":00"}}</option>#}
                {#<option value="{{(hour < 10 ? "0"~hour: hour) ~ ":30"}}" {%if post["reservation_hour"] is defined and post["reservation_hour"] == (hour < 10 ? "0"~hour: hour) ~ ":30"%}selected{%endif%}>{{(hour < 10 ? "0"~hour: hour) ~ ":30"}}</option>#}
            {#{%endfor%}#}
        {#</select>#}

        {#<label>{{"CELL_NUMBER" | trans}} {%if errors["user_tourist_cell"] is defined and errors["user_tourist_cell"] !=""  %}<span class="reservation_error">{{errors["user_tourist_cell"]|trim(':')}}</span>{%endif%}</label>#}
        {#<input type="text"  name="user_tourist_cell" class="form-control" value="{{post["user_tourist_cell"] is defined and  post["user_tourist_cell"] != "" ? post["user_tourist_cell"] : user_tourist.UserTouristCell}}"/>#}
    {#</div>#}
{#</div>#}
{#<hr/>#}

    <div class="row">
        <div class="col">
            <h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal; margin-top: 20px">{{ "YOUR_PAYMENT" | trans }}</h1>
        </div>
        <div class="col-xs-4" style="font-weight: normal; padding-top: 20px">
            <a  title="{{"PUBLICATION_DETAIL" | trans}}" href="{{ path('frontend_publication_details')}}"><u>{{"PUBLICATION_DETAIL" | trans}}</u></a>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-3 text-center checkbox_skrill "style="margin-bottom: 1em;">
        <img class="thumbnail full-width" style="padding: 40px; background-color: #F3F3F3; margin-bottom: 5px" src="{{ asset('bundles/frontend/img/skrill.gif') }}" alt="{{"Skrill" | trans}}">
        <input type="radio" class="i-checks" name="payment_method" value="skrill" checked> {{"SKRILL_PAYMENT" | trans}} </label>
    </div>
    <div class="col-sm-6 text-center">
        <img class="thumbnail full-width" style="padding: 28px; background-color: #F3F3F3; margin-bottom: 5px" src="{{ asset('bundles/frontend/img/Todospostfinance.png') }}" alt="{{"Postfinance" | trans}}">
        <input type="radio" class="i-checks" name="payment_method" value="postfinance"> {{"POSTFINANCE_PAYMENT" | trans}} </label>
    </div>
    {#<div class="col-sm-3">#}
        {#<img class="thumbnail full-width" style="padding: 30px; background-color: #F3F3F3; margin-bottom: 5px" src="{{ asset('bundles/frontend/img/visa.png') }}" alt="{{"Postfinance" | trans}}">#}
        {#<input type="radio" class="i-checks" name="payment_method" value="visa"> {{"VISA_PAYMENT" | trans}} </label>#}
    {#</div>#}
    {#<div class="col-sm-3">#}
        {#<img class="thumbnail full-width" style="padding: 30px; background-color: #F3F3F3; margin-bottom: 5px" src="{{ asset('bundles/frontend/img/mastercard.png') }}" alt="{{"Postfinance" | trans}}">#}
        {#<input type="radio" class="i-checks" name="payment_method" value="mastercard"> {{"MASTERCARD_PAYMENT" | trans}} </label>#}
    {#</div>#}
</div>
<hr/>
<h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal; margin-top: 20px">{{"FINAL_STEP" | trans}}</h1>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" {% if post['terms_conditions'] is defined %} checked="checked" {% endif %}  class="custom-control-input" id="terms_conditions" name="terms_conditions">
        <label class="custom-control-label" for="terms_conditions">{{"ACCEPT_TERMS_CONDITIONS" | trans}}</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" {% if post["user_tourist_send_newsletter"] is defined or user.UserNewsletters %}checked{%endif%}  class="custom-control-input" id="user_tourist_send_newsletter" name="user_tourist_send_newsletter">
        <label class="custom-control-label" for="user_tourist_send_newsletter">{{"SEND_ME_OFFERS" | trans}}</label>
    </div>

<h3 class="h-grey">{{"AMOUNT_TO_PAY_NOW" | trans}}: {{prepayment}}</h3>

<button id="btn_payment" style="margin-top: 35px"  type="submit" class="btn btn-action btn-warning btn-block" disabled="disabled"><b>{{"PAYMENT_CONFIRM" | trans}}</b></button>
<a href="{{ path("frontend_mycasatrip_available") }}" style="margin-top: 35px; margin-left: 15px"><b>{{"GO_MYCASATRIP" | trans}}</b></a>
<p  style="margin-top: 0; font-size: 12px; color: #6C726B">{{"PAYMENT_CONFIRMATION_TEXT" | trans}}: {{prepayment}}</p>
</form>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function initJSTwig() {
            $('#mct_change_order').on('change', function () {
                $('#order_by_form').submit();
            });

            if($('#terms_conditions').is(":checked"))
                $('#btn_payment').removeAttr('disabled');
            else
                $('#btn_payment').attr('disabled','disabled');

            $('#terms_conditions').on('change',function(){
                if($('#terms_conditions').is(":checked"))
                    $('#btn_payment').removeAttr('disabled');
                else
                    $('#btn_payment').attr('disabled','disabled');
            });

        }
    </script>
{% endblock %}
