{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"CART" | trans}}
{% endblock %}

{% set main_tab = 5 %}
{% block content_nav_top_body %}
{{"CART_DESCRIPTION" | trans}}
{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li><a href="{{ path('frontend_welcome') }}" title="{{"GO_HOME_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a> <span class="divider">»</span></li>
    {% if ownership.getOwnId is defined %}<li><a href="{{ path('frontend_details_ownership',{'own_name':ownership.getOwnName  | lower | replace(' ','_')}) }}" title="">{{ ownership.getOwnName }}</a> <span class="divider">»</span></li>{% endif %}
    <li class="active">{{'RESETVATION_BREADCRUMB'|trans}}</li>
</ul>
<div class="row-fluid">
    <h4 class="head_1">{{'RESERVATION_DETAILS'|trans}}</h4>
    {%if services%}
    <a href="{{ path('frontend_remove_cart_reservation') }}" class="btn pull-right btn-danger" style="margin-top: -40px"><i class="icon-trash icon-white"></i> {{"EMPTY_CART"|trans}}</a>
    {%endif%}
    <div id="res_main_cont" class="thumbnail" style="border-radius: 8px; padding: 0">
        {% if services %}
        <div id="content_body_review">
            {% render ('frontEndBundle:reservation:get_body_review_reservation')%}
        </div>
        {% else %}
            <div style="margin: 10px" class="alert alert-info">{{"EMPTY_LIST"|trans}}</div>
        {% endif %}
    </div>
    <label class="pull-right" style="font-size: 10px;  color: #d80407;">{{ "RESERVATION_TRIPLE_CHARGE" | trans}} {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')| upper}}{{10 * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</label>
    <form method="POST" action="">
        <input style="visibility:hidden;" type="text" value="" name="data_reservation" id="data_reservation"/>
        <div class="row-fluid">
            <div class="{% if services %}span6{% else %}span8{% endif %}"></div>
            <div class="{% if services %}span3{% else %}span4{% endif %}"><a href="{{ path('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'})}}" class="btn mycp_btn_blue mycp_btn input-block-level">{{"KEEP_SEARCHING"|trans}}</a></div>
            {% if services %}
            <div class="span3"><a href="{{ path('frontend_review_confirm_reservation') }}" class="btn mycp_btn_green mycp_btn input-block-level">{{"RESERVATION_CHECK_AVAILABILITY"|trans}}</a></div>
            {% endif %}
        </div>
    </form>
</div>

<div class="tiny modal fade hide" id="confirmation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <p>{{"REMOVE_RESERVATION_CONFIRM"|trans}}</p>
        <br/>
        <div class="row-fluid">
            <div class="span6"><button data-dismiss="modal" class="btn btn-block mycp_btn_grey mycp_btn">{{"CANCEL"|trans}}</button></div>
            <div class="span6"><button id="delete_button" class="btn btn-block mycp_btn_orange mycp_btn">{{"REMOVE"|trans}}</button></div>
        </div>
    </div>
</div>


<script type="text/javascript">


    $('#delete_button').click(function(){
            string_url="{{ path('frontend_remove_from_cart_reservation',{'data':0})}}";
            data_remove=$(this).attr('data');
            $('.btn_delete').attr('disabled','disable');
            string_url=string_url.substr(0,string_url.length -1);
            string_url = string_url + data_remove;
            $('#'+$(this).attr('btn_launch')).attr('class','in_process');
            $('#confirmation_modal').modal('hide');
            $.ajax({
                type: "POST",
                url: string_url,
                data: "data="+data_remove,
                success: function(msg){
                    $('.btn_delete').removeAttr('disabled');
                    if(msg=='0')
                    {
                        window.location='{{path('frontend_review_reservation')}}';
                    }
                    else
                    {
                        $('#content_body_review').html(msg);
                    }

                }
            });
    });
</script>
{% endblock %}