

<a class="dropdown-item" href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}">{{"RESPONSE_PENDING" | trans}} ({{counts['pending']}})</a>
<a class="dropdown-item" href="{{ path('frontend_mycasatrip_available', {'order_by':0}) }}">{{"DISPONIBILITY" | trans}} ({{counts['available']}})</a>


<a class="dropdown-item" href="{{path('frontend_mycasatrip_payment') }}">{{"RESERVED" | trans}}  ({{counts['payed']}})</a>
