{% set menu = 3 %}
{% extends 'MyCpMobileFrontendBundle:mycasatrip:layout_order_by.html.twig' %}

{% block breadcrumbs %}
<a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
<span>››</span>
<a href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}" title="MyCasa Trip">MyCasa Trip</a>
<span>››</span>
<a href="#" class="active" title="{{"RESERVES" | trans}}">{{"RESERVES" | trans}}</a>
{% endblock %}

{% block body_inner %}
<div class="thumbs-houses houses-list myct-records lazy-cont">
{% for res in res_payment %}
{% if res['own_res_reservation_booking']['booking_id'] is defined %}
        <div class="row no-margin">
            <div class="col-xs-12">
                <div data-text="&nbsp;&nbsp;&nbsp;{{'RESERVE_SINGULAR' | trans}}&nbsp;&nbsp;&nbsp;" class="thumbnail has-ribbon-blue has-ribbon has-ribbon-left">
            {% if photos[loop.index0]%}
                        <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
                            <img class="lazy" data-src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0]) }}" src="{{ asset('bundles/frontend/img/nophoto-transp.png') }}" alt="{{"Thumbnails" | trans}}"/>
                            <noscript><img class="nolazy" src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0]) }}" alt="{{"Thumbnails" | trans}}"></noscript>
                        </a>
            {% else %}
                        <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
                            <img class="lazy" data-src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}" src="{{ asset('bundles/frontend/img/nophoto-transp.png') }}" alt="{{"Thumbnails" | trans}}"/>
                            <noscript><img class="nolazy" src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}" alt="{{"Thumbnails" | trans}}"></noscript>
                        </a>
            {% endif %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
                        <h1 class="h-blue">{{ res['own_res_gen_res_id']['gen_res_own_id']['own_name'] }}</h1>
                    </a>
                    <small class="top">{{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_municipality']['mun_name']|title }} , {{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_province']['prov_name']|title }}
                        <br>{{res['own_res_room_type']|trans}}</small>
                    <small class="top">{{"ADULTS" | trans}}: {{res['own_res_count_adults']}} {{"KIDS" | trans}}: {{res['own_res_count_childrens']}}</small>
                    <small class="top">{{"FROM_PRICES" | trans}}: {{res['own_res_reservation_from_date']|date('d/m/Y')}} {{"TO_PRICES" | trans}}: {{res['own_res_reservation_to_date']|date('d/m/Y')}}</small>
                </div>
                <div class="col-xs-12 text-center">
                    <h2 class="col-xs-12 no-margin h-grey ">
                                    {%if res['own_res_night_price'] != 0%}
                                    {{(res['own_res_night_price'] *(nights[loop.index0])) | price}}
                                    {%else%}
                                        {{res['own_res_total_in_site'] | price}}
                                    {%endif%}
                        </h2>
                        <div class="col-xs-12">
                            <a style="width: 150px; color: #ffffff" target="_blank" class="btn btn-danger" href="{{ path('frontend_view_confirmation_reservation',{'id_booking':res['own_res_reservation_booking']['booking_id']}) }}">
                {{ 'VIEW_CONFIRMATION'|trans }}</a></div>
                            <div style="margin-top: 10px">{{"ID_RESERVATION" | trans}}: <b>{{res['own_res_gen_res_id']['gen_res_id'] | getCASId}}</b></div>
                        </div>
                    </div>
                    <hr/>
{% endif %}
{% else %}
                    <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{% endfor %}
 {%if res_payment | length and total_items > items_per_page%}
                    <div class="text-center">
    {{ simple_paginator_render('frontend_mycasatrip_payment',null,{
    'container_class': 'pagination',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': null
}) }}
                        </div>
            {%endif%}
    <div class="text-center">
        <!-- Your like button code -->
        <div class="col-md-6">
            <div class="fb-like" data-href="https://www.facebook.com/MyCasaParticular" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="col-md-6">
            <div class="fb-comments" data-href="https://www.facebook.com/MyCasaParticular" data-width="100" data-numposts="5"></div>
        </div>

    </div>

                    </div>
    <script type="text/javascript">
        var locale_plugins="{{app.request.locale}}";
        var faceAppId = "{{ fb_app_id }}";

        var language_fb=(locale_plugins=='es')?"//connect.facebook.net/es_LA/sdk.js":"//connect.facebook.net/en_US/sdk.js";
        window.fbAsyncInit = function () {
            FB.init({
                appId: faceAppId,
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = language_fb;
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>
{% endblock %}

