<section class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>{{ 'label.section.one'| trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center">
            <a href="#"><i class="fa fa-home"></i></a>
            <h2>{{ 'label.section.one_vacation'| trans }}</h2>
            <p>{{ 'label.section.vacation_description'| trans }}</p>
        </div>
        <div class="col-lg-3 text-center">
            <a href="#"><i class="fa fa-home"></i></a>
            <h2>{{ 'label.section.one_easy'| trans }}</h2>
            <p>{{ 'label.section.easy_description'| trans }}</p>
        </div>
        <div class="col-lg-3 text-center">
            <a href="#"><i class="fa fa-home"></i></a>
            <h2>{{ 'label.section.one_service'| trans }}</h2>
            <p>{{ 'label.section.service_description'| trans }}</p>
        </div>
        <div class="col-lg-3 text-center">
            <a href="#"><i class="fa fa-home"></i></a>
            <h2>{{ 'label.section.one_sites'| trans }}</h2>
            <p>{{ 'label.section.sites_description'| trans }}</p>
        </div>
    </div>
</section>