<section class="win container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>{{ 'label.section.one'| trans }}</h2>
        </div>
    </div>
    <div class="row m-t-xl">
        <div class="col-lg-3 text-center">
            <a><img class="" src="{{ asset('bundles/partner/img/icon/vacaciones_toda_velocidad.png')}}" alt="{{"label.home" | trans}}"/></a>
            <h3>{{ 'label.section.one_vacation'| trans }}</h3>
            <p>{{ 'label.section.vacation_description'| trans }}</p>
        </div>
        <div class="col-lg-3 text-center">
            <a><img class="" src="{{ asset('bundles/partner/img/icon/mas_sencillo_imposible.png')}}" alt="{{"label.home" | trans}}"/></a>
            <h3>{{ 'label.section.one_easy'| trans }}</h3>
            <p>{{ 'label.section.easy_description'| trans }}</p>
        </div>
        <div class="col-lg-3 text-center">
            <a><img class="" src="{{ asset('bundles/partner/img/icon/servicios_asombrosos.png')}}" alt="{{"label.home" | trans}}" style="margin-top: -22px"/></a>
            <h3>{{ 'label.section.one_service'| trans }}</h3>
            <p>{{ 'label.section.service_description'| trans }}</p>
        </div>
        <div class="col-lg-3 text-center">
            <a><img class="" src="{{ asset('bundles/partner/img/icon/sitio unico.png')}}" alt="{{"label.home" | trans}}"/></a>
            <h3>{{ 'label.section.one_sites'| trans }}</h3>
            <p style="margin-top: 32px">{{ 'label.section.sites_description'| trans }}</p>
        </div>
    </div>
</section>