{% extends 'FrontEndBundle:layout:translatedbaseMailTemplate.html.twig' %}

{% block content %}
<h4 style="font-family: Arial; font-size: 20px">{{"USER_CART_FULL_REMINDER"|trans({}, "messages", user_locale)}}</h4>
<p style="font-family: arial; font-size: 14px">
    {{"DEAR_MR" | trans({}, "messages", user_locale)}} {{user_name}},<br/><br/>
    {{ "USER_CART_FULL_TEXT1"|trans({}, "messages", user_locale) }} <br/><br/>
    <p style="font-size: 14px;font-family: arial">
            <a href="{{url('frontend_check_availability_cart_remarketing',{'locale':user_locale,'_locale':user_locale})}}">{{"RESERVATION_CHECK_AVAILABILITY"|trans({}, "messages", user_locale)}}</a><br/><br/>
            <a href="{{url('frontend_search_ownership_remarketing',{'locale':user_locale,'_locale':user_locale,})}}">{{"BOOK_OTHER_ACCOMMODATIONS"|trans({}, "messages", user_locale)}}</a>
        </p>
        {% for own in owns %}
            <table width="100%" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td bgcolor="#F5F5F5" style="background-color: #F5F5F5;border: 1px solid #E3E3E3;">
                        <table width="100%" cellpadding="6" cellspacing="0" border="0">
                            <tr>
                                <td width="76%" valign="top" align="left" >
                                    <table cellpadding="4" border="0" cellspacing="0">
                                        <tr>
                                            <td style="background-color: #FFFFFF; border: solid 1px #cccccc;">
                                                <a href="{{ url('frontend_details_ownership_remarketing',{'own_name':own.ownName | urlNormalize,'locale':user_locale,'_locale':user_locale,}) }}">
                                                    <img width="100%" style="display:block;" border="0" src="{{ url('mycp_main')~'uploads/ownershipImages/thumbnails/'~photos[own.ownid]}}">
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td valign="top" style="font-family: arial; font-size: 13px; line-height: 18px">
                                                <h3 style="color: #084D74">
                                                <a class="titleLink" href="{{ url('frontend_details_ownership_remarketing',{'own_name':own.ownName | urlNormalize,'_locale':user_locale|lower,'locale':user_locale|lower}) }}">
                                                {{own.ownName}}
                                                </a>
                                                </h3>
                                                {{own.getOwnAddressProvince.getProvName}} - {{own.getOwnAddressMunicipality.getMunName}}<br/><br/>
                                                {%for item in cartItems[own.ownid]%}
                                                    {{item.cartRoom.roomType|trans({}, "messages", user_locale)}}<br/>
                                                    {{item.cartCountAdults}} {{"ADULTS"|trans({}, "messages", user_locale)}},
                                                    {{item.cartCountChildren}} {{"KIDS"|trans({}, "messages", user_locale)}}<br/>
                                                    {{"FROM_DATE"|trans({}, "messages", user_locale)}} {{item.cartDateFrom | date('d/m/Y')}} {{"TO_DATE"|trans({}, "messages", user_locale)}} {{item.cartDateTo | date('d/m/Y')}}<br/><br/>
                                                 {%endfor%}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="24%" valign="top" align="right" style="font-family: arial; font-size: 13px; line-height: 20px; text-align: right">
                                    <span style="background-color: #BBBBBB; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"CART"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span>

                                    <br/><br/>
                                        {{"INITIAL_DEPOSIT" | trans({}, "messages", user_locale) | upper}}<br/>
                                        <h3 style="padding:0; margin:0">{{prices[own.ownid][0].initialPayment | price(user_currency)}}</h3><br/>
                                        {{"RESERVATION_TOTAL" | trans({}, "messages", user_locale) | upper}}<br/>
                                        <h3 style="padding:0; margin:0">{{prices[own.ownid][0].totalPrice | price(user_currency)}}</h3><br/>
                                      <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_details_ownership_remarketing',{'own_name':own.getOwnName | urlNormalize,'locale':user_locale,'_locale':user_locale,}) }}">{{"VIEW_DETAILS"|trans({}, "messages", user_locale)}}</a>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
        {% endfor %}
{{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
    {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}},<br/>
    {{"MYCP_TEAM" | trans({}, "messages", user_locale)}}
</p>
{% endblock %}
