{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}
{% set user_locale='es' %}
{% block content %}
<h4 style="font-family: Arial; font-size: 20px">Nuevos comentarios recibidos </h4>
<p style="font-family: arial; font-size: 14px">
    {{"DEAR_MR" | trans({}, "messages", 'es')}} {{host_user_name}},<br/><br/>
    Nuevos clientes han valorado su alojamiento.<br/>
    Usuario {{ user_name }} ha comentado:<br/>
    {{ comment }}<br/><br/>

    Entre y descubra todas las valoraciones de los usuarios a su trabajo desde nuestro sitio web <a href='{{ url ('frontend_welcome.es')  }}' target="_blank">mycasaparticular.com</a>
    <br/><br/>
    {{"EMAIL_GREETINGS" | trans({}, "messages", 'es')}}.<br/>
    {{"EMAIL_GREETINGS_2" | trans({}, "messages", 'es')}},<br/>
    {{"MYCP_TEAM" | trans({}, "messages", 'es')}}
</p>
{% endblock %}