<h1 style='font-size: 20px'>Contacto de huesped</h1>
<p style="font-size: 12px">El Sr(a). {{ tourist_name }} {{ tourist_last_name }}, con numero de teléfono {{ tourist_phone }},
y email {{ tourist_email }} ha hecho el siguiente comentario:<br/> {{ tourist_comment }}</p>
