{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">Bienvenido a MyCasaParticular</h4>
    <p style="font-family: Arial; font-size: 14px">
        Estimado Sr(a). {{ user_full_name }}:
        <br/>
        Le informamos que hemos creado un acceso para que Ud. pueda administrar su alojamiento, {{ own_name }},
        publicado en MyCasaParticular.com.
        <br/>
        Su nombre de usuario se corresponde con el código de su casa en nuestro sitio: {{ user_name }}. Por favor,
        active su cuenta a través del siguiente enlace: <a
                href="{{ url('frontend_userCasa_activateAccount',{'token':secret_token,'locale':'es','_locale':'es'}) }}">Activar</a>
        <br/>
        Con esta cuenta usted podrá acceder al módulo de administración web disponible en este <a
                href="{{ url('casa_login') }}">enlace</a>. En este módulo de
        administración usted podrá verificar los datos fundamentales de su alojamiento, el estado de las reservas
        recibidas a través de nuestro sitio, así como también actualizar la disponibilidad de sus habitaciones.
        <br/>
        Haciendo uso de esta misma cuenta usted también podrá hacer uso de la aplicación móvil MyCasa Renta, la cual se
        encuentra disponible para su descarga en este enlace. La aplicación móvil en esta versión le permitirá gestionar
        fácilmente la disponibilidad de sus habitaciones en renta, desde cualquier dispositivo móvil con un sistema
        operativo Android.
        <br/>
        <br/>
        Saludos Cordiales,
        <br/>
        Equipo de MyCasaParticular.com
        <br>
        <br>
        (Enlace para aplicación móvil en Google Play: <a
                href="https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid">
            https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid</a>
        )
    </p>
{% endblock %}