{#{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}#}
{% extends 'FrontEndBundle:layout:baseMailTemplate2.html.twig' %}

{% block content %}
<h4 style="font-family: Arial; font-size: 20px">Bienvenido a MyCasaParticular</h4>
<p style="font-family: Arial; font-size: 14px">
    <p>Hola {{user.userUserName}}: <br/></p>
    <p>
    Es maravilloso darte la bienvenida a la familia de <b>MyCasaParticular</b>. Desde ahora tu alojamiento {{ accommodation.ownName }} está visible en nuestra plataforma web con el código <b>{{ accommodation.ownMcpCode }}</b>. Visítala aquí <a href="{{ url('mycp_own_details',{'own_code':accommodation.ownMcpCode}) }}">www.mycasaparticular.com/{{accommodation.ownMcpCode}}</a>.
    </p>
    <p>
        Pensamos en todo y, esencialmente, pensamos en ti. ¿Quieres gestionar las habitaciones y realizar tus propios cambios? Edita fácilmente el perfil de tu propiedad a través de esta dirección electrónica: <a href="https://www.mycasaparticular.com/mycasa">https://www.mycasaparticular.com/mycasa</a>
    </p>
    <p>
        (Si alguno de estos enlaces no funciona, copia y pega cualquiera de las url directamente en tu navegador.)
    </p>
    <p>
        Para acceder, solo necesitas el código de tu alojamiento (que es único y te lo mostramos arriba) y esta contraseña <b>{{password}}</b>.
    </p>
    <p>
        Te recomendamos que al activar tu cuenta en <b>MyCasaParticular</b> cambies la contraseña enviada para mayor seguridad. ¿Cómo hacerlo? En el menú, ve a la opción <b>Perfil</b> y al <b>Cambio de contraseña</b>.
    </p>
    <p>
        <b>Conserva estos datos</b> sobre tu alojamiento, los necesitarás siempre para realizar operaciones con nuestro equipo y ofrecer nuevos servicios como anfitrión.
    </p>
    <p>
        ¿Quieres conseguir tantas reservas como sea posible? Te sugerimos actualizar diariamente la disponibilidad de tus habitaciones de renta. Puedes hacerlo desde el perfil de tu casa en el menú ve a la opción <b>Reservaciones</b> y selecciona <b>Disponibilidad</b>.
    </p>
    <p>
        Lo facilitamos para ti con nuestra aplicación móvil gratuita <b>MyCasaRenta</b>. Descárgatela aquí para Android:<br/><br/>
        <a href="https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid">https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid</a><br/><br/>
        <a href="https://www.mycasaparticular.com/es/apprenta">https://www.mycasaparticular.com/es/apprenta</a>
    </p>
    <p>
        Y para IPhone:<br/><br/>
        <a href="https://itunes.apple.com/us/app/mycasarenta/id1168650534?ls=1&mt=8">https://itunes.apple.com/us/app/mycasarenta/id1168650534?ls=1&mt=8</a>
    </p>
    {% if existsManual %}
        <p>
            Te explicamos paso a paso cómo gestionar tu disponibilidad con nuestra aplicación móvil gratuita <b>MyCasaRenta</b>. Consulta un <b>breve manual</b> que preparamos para ti en {{ manualPath }}.
        </p>
    {% endif %}
    <p>
        Cualquier duda sobre la colaboración con <b>MyCasaParticular</b> comunícate con nuestro equipo a través del correo electrónico <a href="mailto:casa@mycasaparticular.com">casa@mycasaparticular.com</a> o llámanos al (+53) 7867 3574. ¡Será estupendo poder atenderte!
    </p>
    <p>
        <br/><br/>
        Feliz comienzo,</p>
    <b>Equipo de MyCasaParticular.com</b></p>
{% endblock %}
