{% extends 'frontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
        <h4>{{"GOOD_MORNING"|trans}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        <p class="note"> {{"REQUEST_STATUS_CHANGED"|trans}}
        <br/>
        <p class="thanks">{{"THANKS_RESERVATION_TEAM"|trans}}</p>
        </p>
        {% for reservation in reservations %}
        <div class="well">
            <table width="100%">
                <tr>
                    <td width="33%" style="vertical-align: top;">

                        <a href="{{ url('frontend_details_ownership',{'owner_id':reservation.getOwnResGenResId.getGenResOwnId.getOwnId}) }}">
                            {% if photos[loop.index0][0].getPhoName is defined %}
                            <img style="width: 90%" class="span12 img-polaroid" src="{{ url('mycp_main')~'../uploads/ownershipImages/thumbnails/'~photos[loop.index0][0].getPhoName}}">
                            {% else %}
                            <img class="span12 img-polaroid" src="{{ url('mycp_main')~'../uploads/ownershipImages/no_photo_square.gif'}}">
                            {% endif %}
                        </a>
                    </td>
                    <td width="50%">
                        <h4 class="title_1">{{reservation.getOwnResGenResId.getGenResOwnId.getOwnName}}</h4>
                        <p class="note">
                            {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}
                            - {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}
                            <br/><b>{{reservation.getOwnResRoomType|trans}}</b>
                            <br/><b>{{reservation.getOwnResCountAdults|trans}}</b> {{"ADULTS"|trans}}
                            <br/><b>{{reservation.getOwnResCountChildrens|trans}}</b> {{"KIDS"|trans}}
                            <br/><b>{{"ARRIVAL_RESERVATION"|trans}}:</b> {{reservation.getOwnResReservationFromDate | date('d/m/Y')}}
                            <br/><b>{{"NIGHTS"|trans}}:</b> {{reservation.getOwnResReservationToDate | date('d/m/Y') - reservation.getOwnResReservationFromDate | date('d/m/Y')}}
                        </p>
                    </td>
                    <td>
                        <p class="note" style="margin-top: 0"><b>ID {{"RESERVATION_RESERVE"|trans}}:</b> CAS.{{reservation.getOwnResId}}
                            <br/>
                            <br/>
                            {% if (reservation.getOwnResStatus == 1)%}
                            <span class="badge badge-warning">{{"AVAILABLE"|trans}}</span>
                            {% endif %}
                            {% if (reservation.getOwnResStatus == 0)%}
                            <span class="badge">{{"PENDING"|trans}}</span>
                            {% endif %}
                            {% if (reservation.getOwnResStatus == 3)%}
                            <span class="badge badge-info">{{"NOT_AVAILABLE"|trans}}</span>
                            {% endif %}
                        <h4>TOTAL: {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ reservation.getOwnResTotalinSite * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</h4>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right">
                        {% if (reservation.getOwnResStatus == 1)%}
                        <a href="{{ url('frontend_mycasatrip_available') }}" class="btn btn_orange">{{"CONTINUE_RESERVING"|trans}}</a>
                        {% endif %}
                        {% if (reservation.getOwnResStatus == 0)%}
                        <a href="{{ url('frontend_details_ownership',{'owner_id':reservation.getOwnResOwnId.getOwnId}) }}" class="mycp_btn btn mycp_btn_green">{{"VIEW_DETAILS"|trans}}</a>
                        {% endif %}
                        {% if (reservation.getOwnResStatus == 3)%}
                        <a href="{{ url('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}" class="mycp_btn btn mycp_btn_blue">{{"LOOK_FOR_ALTERNATIVE"|trans}}</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        
{% endblock %}