{% extends 'frontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{"GOOD_MORNING"|trans}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        <p class="note"> {{"THANKS_CHECK_AVAILABLE"|trans}} <br/> {{"REQUEST_IN_PROCESS_24_HOURS"|trans}}
        <br/>

        </p>
        {% for reservation in reservations %}
            <table width="100%" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td bgcolor="#F5F5F5" style="background-color: #F5F5F5;border: 1px solid #E3E3E3;">
                        <table width="100%" cellpadding="6" cellspacing="0" border="0">
                            <tr>
                                <td width="66%" valign="top" align="left" >
                                    <table cellpadding="4" border="0" cellspacing="0">
                                        <tr>
                                            <td style="background-color: #FFFFFF; border: solid 1px #cccccc;">
                                                {% if photos[loop.index0] is defined %}
                                                    <a href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | lower | replace(' ','_')}) }}">
                                                        <img width="100%" style="display:block;" border="0" src="{{url('mycp_main')}}../uploads/ownershipImages/thumbnails/{{photos[loop.index0]}}"></a>
                                                {% else %}
                                                    <a href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | lower | replace(' ','_')}) }}"><img width="100%" style="display:block;" border="0" src="{{ asset('uploads/ownershipImages/no_photo_square.gif')}}"></a>
                                                {% endif %}
                                            </td>
                                            <td>&nbsp;</td>
                                            <td valign="top" style="font-family: arial; font-size: 13px; line-height: 18px">
                                                <h3 style="color: #084D74">{{reservation.getOwnResGenResId.getGenResOwnId.getOwnName}}</h3>
                                                {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}
                                                - {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}<br/>
                                                {{reservation.getOwnResRoomType|trans}}<br/>
                                                {{reservation.getOwnResCountAdults}} {{"ADULTS"|trans}}<br/>
                                                {{reservation.getOwnResCountChildrens}} {{"KIDS"|trans}}<br/>
                                                {{"ARRIVAL_RESERVATION"|trans}}: {{reservation.getOwnResReservationFromDate | date('d/m/Y')}}<br/>
                                                {{"NIGHTS"|trans}}: {{nigths[loop.index0]}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="34%" valign="top" align="right" style="font-family: arial; font-size: 13px; line-height: 20px; text-align: right">
                                    <b>Reservation ID:</b> CAS.{{reservation.getOwnResGenResId.getGenResId}}<br/><br/>
                                    <span style="background-color: #BBBBBB; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"PENDING"|trans}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    <h3>TOTAL: {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{reservation.getOwnResTotalInSite * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</h3>
                                    <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | lower | replace(' ','_')}) }}" class="btn mycp_btn_green">{{"VIEW_DETAILS"|trans}}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
        {% endfor %}
    <h4 style="font-size: 16px; font-weight: normal; font-style: italic">Gracias, equipo de reservación.</h4>
{% endblock %}