{% extends 'frontEndBundle:layout:translatedbaseMailTemplate.html.twig' %}

{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{"GOOD_MORNING"|trans({}, "messages", user_locale)}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        {% if message is defined and message|length %}{{ message }}{% endif %}
        <p style="font-size: 14px;font-family: arial"> {{"REQUEST_STATUS_CHANGED"|trans({}, "messages", user_locale)}}</p>
        {% if  booking is not defined %}
        <p style="font-size: 14px;font-family: arial"> {{"VALID_OFFER_FOUR_EIGHT"|trans({}, "messages", user_locale)}}</p>
        {% endif %}
        {% for reservation in reservations %}
            <table width="100%" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td bgcolor="#F5F5F5" style="background-color: #F5F5F5;border: 1px solid #E3E3E3;">
                        <table width="100%" cellpadding="6" cellspacing="0" border="0">
                            <tr>
                                <td width="66%" valign="top" align="left" >
                                    <table cellpadding="4" border="0" cellspacing="0">
                                        <tr>
                                            <td style="background-color: #FFFFFF; border: solid 1px #cccccc;">
                                                <a href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | lower | replace(' ','-'),'_locale':user_locale|lower,'locale':user_locale|lower}) }}">
                                                    {% if photos[loop.index0][0].getPhoName is defined %}
                                                        <img  width="100%" style="display:block;" border="0" src="{{ url('mycp_main')~'../uploads/ownershipImages/thumbnails/'~photos[loop.index0][0].getPhoName}}">
                                                    {% else %}
                                                        <img  width="100%" style="display:block;" border="0" src="{{ url('mycp_main')~'../uploads/ownershipImages/no_photo_square.gif'}}">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td valign="top" style="font-family: arial; font-size: 13px; line-height: 18px">
                                                <h3 style="color: #084D74">({{reservation.getOwnResGenResId.getGenResOwnId.getOwnMcpCode}}) {{reservation.getOwnResGenResId.getGenResOwnId.getOwnName}}</h3>
                                                {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}
                                                - {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}<br/>
                                                {{reservation.getOwnResRoomType|trans({}, "messages", user_locale)}}<br/>
                                                {{reservation.getOwnResCountAdults}} {{"ADULTS"|trans({}, "messages", user_locale)}}<br/>
                                                {{reservation.getOwnResCountChildrens}} {{"KIDS"|trans({}, "messages", user_locale)}}<br/>
                                                {{"ARRIVAL_RESERVATION"|trans({}, "messages", user_locale)}}: {{reservation.getOwnResReservationFromDate | date('d/m/Y')}}<br/>
                                                {{"NIGHTS"|trans({}, "messages", user_locale)}}: {{nights[loop.index0]}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="34%" valign="top" align="right" style="font-family: arial; font-size: 13px; line-height: 20px; text-align: right">
                                    <b>ID {{"RESERVATION_RESERVE"|trans({}, "messages", user_locale)}}:</b> CAS.{{reservation.getOwnResGenResId.getGenResId }}<br/><br/>
                                    {% if (reservation.getOwnResStatus == 1)%}
                                        <span style="background-color: #FF7300; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"AVAILABLE"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == 0)%}
                                        <span style="background-color: #BBBBBB; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"PENDING"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus > 1 and reservation.getOwnResStatus < 5)%}
                                        <span style="background-color: #1E4C97; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"NOT_AVAILABLE"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == 5 and booking is not defined)%}
                                        <span style="background-color: #1E4C97; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"NOT_AVAILABLE"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == 5 and booking is defined)%}
                                        <span style="background-color: #c43c35; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"PAYED"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if reservation.getOwnResStatus != 3 %}
                                    <h3>{{"RESERVATION_TOTAL" | trans({}, "messages", user_locale) | upper}}: {{ (reservation.getOwnResNightPrice * nights[loop.index0]) | price}}</h3>
                                    {% else %}
                                    <br/>
                                    {% endif %}
                                    <br/>
                                    {% if (reservation.getOwnResStatus == 1)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_mycasatrip_available',{'locale':user_locale,'_locale':user_locale,}) }}">{{"CONTINUE_RESERVING"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == 0)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | lower | replace(' ','-'),'locale':user_locale,'_locale':user_locale,}) }}">{{"VIEW_DETAILS"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus > 1 and reservation.getOwnResStatus < 5)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1','locale':user_locale,'_locale':user_locale,}) }}">{{"LOOK_FOR_ALTERNATIVE"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == 5 and booking is not defined)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1','locale':user_locale,'_locale':user_locale,}) }}">{{"LOOK_FOR_ALTERNATIVE"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == 5 and booking is defined)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_view_confirmation_reservation',{'id_booking':booking,'locale':user_locale|lower,'_locale':user_locale|lower}) }}">{{ 'VIEW_CONFIRMATION'|trans({}, "messages", user_locale) }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
        {% endfor %}
    <h4 style="font-size: 16px; font-weight: normal; font-style: italic">{{"THANKS_RESERVATION_TEAM"|trans({}, "messages", user_locale)}}</h4>
{% endblock %}