{% extends 'FrontEndBundle:layout:translatedbaseMailTemplate.html.twig' %}

{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{"DEAR_MR"|trans({}, "messages", user_locale)}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        <p style="font-size: 14px;font-family: arial">{{"EXPIRED_OFFER_TEXT_1"|trans({"%link%": url('frontend_search_ownership',{'locale':user_locale,'_locale':user_locale,})}, "messages", user_locale) | raw}}
        {{"EXPIRED_OFFER_TEXT_2"|trans({}, "messages", user_locale) | raw}}.
        </p>
        <p style="font-size: 14px;font-family: arial"> {{"EXPIRED_OFFER_TEXT_3"|trans({}, "messages", user_locale)}}</p>

        {% for reservation in reservations %}
            {{ include('FrontEndBundle:utils:reservationControl.html.twig', {"index" : loop.index0, "reservation": reservation}) }}
            <br/>
        {% endfor %}

    <h4 style="font-size: 16px; font-weight: normal; font-style: italic">
        {{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
        {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}},<br/>
        {{"MYCP_TEAM" | trans({}, "messages", user_locale)}}
    </h4>
{% endblock %}
