{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
<h4 style="font-family: Arial; font-size: 20px">{{"EXTRA_SERVICES_SUBJECT"|trans({}, "messages", user_locale)}}</h4>
<p style="font-family: arial; font-size: 14px">
    {{"DEAR_MR" | trans({}, "messages", user_locale)}} {{user_name}},<br/><br/>
    {{ "EXTRA_SERVICES_1"|trans({}, "messages", user_locale) }}<br/><br/>
    {{"EXTRA_SERVICES_2" | trans({}, "messages", user_locale)}}<br/><br/>
    {{"EXTRA_SERVICES_3" | trans({}, "messages", user_locale)}} <a href="mailto:services@mycasaparticular.com">services@mycasaparticular.com</a><br/><br/>
    {{"EXTRA_SERVICES_4" | trans({}, "messages", user_locale)}}<br/><br/><br/><br/>
    {%for destination in main_destinations%}

    <div class="row thumbs-houses thumbs-destination">

    <div class="col-sm-4 lazy-cont">

           <a href="{{ path('frontend_details_destination',{'destination_name':destination[0].desName|lower|replace(' ','-')}) }}">
           <h3 class="h-blue">{{destination[0].desName}}</h3>
           </a>
        <table class="col-sm-12">
            <tr>

                <td>

                    <div class="square-grey-cont">
                        <div class="cont">
                            {{"DES_REF_PLACE" | trans}}<br/><b>{{ destination[0].desRefPlace | slice(0, 20)}}</b>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
            <div class="dest-description">
           {{ destination[1] | striptags| raw }}
            </div>

           <hr/>


    </div>


    </div>

{%else%}
    <div class="noData">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}

</p>
{% endblock %}