{% extends 'FrontEndBundle:layout:translatedbaseMailTemplate.html.twig' %}

{% block content %}
<h4 style="font-family: Arial; font-size: 20px">{{"FEEDBACK_REMINDER"|trans({}, "messages", user_locale)}}</h4>
<p style="font-family: arial; font-size: 14px">
    {{"DEAR_MR" | trans({}, "messages", user_locale)}} {{user_name}},<br/><br/>
    {{ "USER_FEEDBACK_TEXT1"|trans({}, "messages", user_locale) }} <br/><br/>
    {{ "USER_FEEDBACK_TEXT2"|trans({}, "messages", user_locale) }} <br/><br/>
   
        {% for reservation in reservations %}
            <table width="100%" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td bgcolor="#F5F5F5" style="background-color: #F5F5F5;border: 1px solid #E3E3E3;">
                        <table width="100%" cellpadding="6" cellspacing="0" border="0">
                            <tr>
                                <td width="66%" valign="top" align="left" >
                                    <table cellpadding="4" border="0" cellspacing="0">
                                        <tr>
                                            <td style="background-color: #FFFFFF; border: solid 1px #cccccc;">
                                                <a href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | urlNormalize,'locale':user_locale,'_locale':user_locale,}) }}">
                                                    {% if photos[loop.index0][0].getPhoName is defined %}
                                                        <img width="100%" style="display:block;" border="0" src="{{ url('mycp_main')~'../uploads/ownershipImages/thumbnails/'~photos[loop.index0][0].getPhoName}}">
                                                    {% else %}
                                                        <img width="100%" style="display:block;" border="0" src="{{ url('mycp_main')~'../uploads/ownershipImages/no_photo_square.gif'}}">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td valign="top" style="font-family: arial; font-size: 13px; line-height: 18px">
                                                <h3 style="color: #084D74">
                                                <a class="titleLink" href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | urlNormalize,'_locale':user_locale|lower,'locale':user_locale|lower}) }}">
                                                {{reservation.getOwnResGenResId.getGenResOwnId.getOwnName}}
                                                </a>
                                                </h3>
                                                {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}
                                                - {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}<br/>
                                                {{reservation.getOwnResRoomType|trans({}, "messages", user_locale)}}<br/>
                                                {{reservation.getOwnResCountAdults}} {{"ADULTS"|trans({}, "messages", user_locale)}}<br/>
                                                {{reservation.getOwnResCountChildrens}} {{"KIDS"|trans({}, "messages", user_locale)}}<br/>
                                                {{"ARRIVAL_RESERVATION"|trans({}, "messages", user_locale)}}: {{reservation.getOwnResReservationFromDate | date('d/m/Y')}}<br/>
                                                {{"NIGHTS"|trans({}, "messages", user_locale)}}: {{nights[loop.index0]}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="34%" valign="top" align="right" style="font-family: arial; font-size: 13px; line-height: 20px; text-align: right">
                                    <b>ID {{"RESERVATION_RESERVE"|trans({}, "messages", user_locale)}}:</b> CAS.{{reservation.getOwnResGenResId.getGenResId}}<br/><br/>
                                    <span style="background-color: #c43c35; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"PAYED"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/><br/><br/>
                                    <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | urlNormalize,'locale':user_locale,'_locale':user_locale,})  }}">{{ 'COMMENT'|trans({}, "messages", user_locale) }}</a>                                
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
        {% endfor %}
{{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
    {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}},<br/>
    {{"MYCP_TEAM" | trans({}, "messages", user_locale)}}
</p>
{% endblock %}
