{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{#% set  mailPaymentUrl = url('frontend_mycasatrip_available', { 'locale': user_locale|lower,'_locale':user_locale|lower })%#}
{#% set  mailCancelReservationUrl = url('frontend_mycasatrip_cancel_offer', { 'generalReservationId':generalReservationId, 'locale': user_locale|lower,'_locale':user_locale|lower })%#}
{% set mailPaymentUrl = mail_base_url ~ '/mycasatrip-email/available/'~ user_locale|lower~'/'~ user_locale|lower %}
{% set mailCancelReservationUrl = mail_base_url ~ '/cancel-offer-email/'~generalReservationId~'/'~ user_locale|lower~'/'~ user_locale|lower %}

{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{"DEAR_MR"|trans({}, "messages", user_locale)}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        <p style="font-size: 14px;font-family: arial">{{"LAST_REMINDER_TEXT_1"|trans({"%link%":mailPaymentUrl}, "messages", user_locale) | raw}} {{initial_payment | price}}.</p>
        <p style="font-size: 14px;font-family: arial"> {{"LAST_REMINDER_TEXT_2"|trans({}, "messages", user_locale)}}</p>
        <p style="font-size: 14px;font-family: arial">
            <a href="{{mailCancelReservationUrl}}">{{"NOT_INTERESTED_ANYMORE"|trans({}, "messages", user_locale)}}</a><br/><br/>
            <a href="{{mailPaymentUrl}}">{{"BOOK_OTHER_ACCOMMODATIONS"|trans({}, "messages", user_locale)}}</a>
        </p>

        {% for reservation in reservations %}
            {{ include('FrontEndBundle:utils:reservationControlRemarketing.html.twig', {"index" : loop.index0, "reservation": reservation}) }}
            <br/>
        {% endfor %}

    <h4 style="font-size: 16px; font-weight: normal; font-style: italic">
        {{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
        {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}},<br/>
        {{"MYCP_TEAM" | trans({}, "messages", user_locale)}}
    </h4>
{% endblock %}
