<h1 style='font-size: 20px'>Contacto de propietario</h1>
<p style="font-size: 12px">
El Sr(a). {{ owner_fullname }} , desea incluir una nueva casa con los siguientes datos:<br/>
Dueño(a): {{ owner_fullname }} <br/>
Correo electrónico: {{ email }} <br/>
Nombre de la casa: {{own_name}} <br/>  
Provincia: {{province}} <br/>  
Municipio: {{municipality}} <br/>  
Comentarios: {{comments}}
</p>
