{% extends 'frontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
    <b>Hola, {{from}} desea recomendarte un alojamiento en mycasaparticular.com</b>
<br>
<hr>
<div class="well">
    <div class="row-fluid">
        <div class="span4"><img class="span12 img-polaroid" src="assets/img/house.jpg"></div>
        <div class="span8" style="margin-left: 10px">
            <table>
                <tr>
                    <td>
                        <h4 class="title_1">{{property.getOwnName}}</h4>
                        <p class="note">
                            Centro Habana - La Habana
                            <br/><b>{{property.getOwnMobileNumber}}</b>
                        </p>
                        
                    </td>
                    <td>
                        <p class="note">
                            <span class="avaliable">Disponible</span>
                            <h4>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{property.getOwnMinimumPrice * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</h4>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ url('frontend_details_ownership',{'owner_id':property.getOwnId}) }}">​
                           <label class=​"mycp_btn_orange">{{'SEEMORE_LINK_TEXT' | trans}}</label>
                        </a>​
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}