{% extends 'FrontEndBundle:layout:baseMailTemplate.html.twig' %}

{% block content %}
    <h4 style="font-family: Arial; font-size: 20px">{{"HELLO"|trans}}</h4>
    <p style="font-family: Arial; font-size: 14px">{{ from }} {{ 'DO_YOU_WISH_TO_RECOMEND_THIS_ACCOMODATTION'|trans }}.</p>

    <table width="100%" cellpadding="10" cellspacing="0" border="0">
        <tr>
            <td bgcolor="#F5F5F5" style="background-color: #F5F5F5;border: 1px solid #E3E3E3;">
                <table width="100%" cellpadding="6" cellspacing="0" border="0">
                    <tr>
                        <td width="66%" valign="top" align="left" >
                            <table cellpadding="4" border="0" cellspacing="0">
                                <tr>
                                    <td style="background-color: #FFFFFF; border: solid 1px #cccccc;">
                                        <img width="100%" style="display:block;" border="0" src="{{url('mycp_main')}}../uploads/ownershipImages/thumbnails/{{photo}}"/>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td valign="top" style="font-family: arial; font-size: 13px; line-height: 18px">
                                        <h3 style="color: #084D74">{{property.getOwnName}}</h3>
                                        {{property.getOwnAddressProvince.getProvName}}
                                        - {{property.getOwnAddressMunicipality.getMunName}}<br/>

                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="34%" valign="top" align="right" style="font-family: arial; font-size: 13px; line-height: 20px; text-align: right">

                            <h3>{{'FROM_PRICES' | trans}}: {{property.getOwnMinimumPrice | price}}</h3>
                            <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{ url('frontend_details_ownership',{'own_name':property.getOwnName | urlNormalize}) }}">{{"VIEW_DETAILS"|trans}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
