{% extends 'FrontEndBundle:layout:translatedbaseMailTemplate.html.twig' %}

{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{"DEAR_MR"|trans({}, "messages", user_locale)}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        <p style="font-size: 14px;font-family: arial">{{"REMINDER_TRIP_ORGANISATION"|trans({}, "messages", user_locale)}} {{initial_payment | price}}.</p>
        <p style="font-size: 14px;font-family: arial"> {{"REMINDER_OPPORTUNITY"|trans({"%link%": url('mycp_main') ~'en/mycasatrip/available'}, "messages", user_locale) | raw}}</p>
        <p style="font-size: 14px;font-family: arial">
            {{url('mycp_main') ~'en/mycasatrip/available'}}
        </p>
        <p style="font-size: 14px;font-family: arial"><b>{{"VALID_OFFER_TWENTY_FOUR_ACCOMMODATION"|trans({}, "messages", user_locale)}}</b></p>

        {% for reservation in reservations %}
            {{ include('FrontEndBundle:utils:reservationControlRemarketing.html.twig', {"index" : loop.index0, "reservation": reservation}) }}
            <br/>
        {% endfor %}

    <p style="font-size: 14px;font-family: arial"><b>{{"VALID_OFFER_TWENTY_FOUR"|trans({}, "messages", user_locale)}}</b></p>
    <h4 style="font-size: 16px; font-weight: normal; font-style: italic">
        {{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
        {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}},<br/>
        {{"MYCP_TEAM" | trans({}, "messages", user_locale)}}
    </h4>
{% endblock %}
