{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{#% set mailPaymentUrl =  url('frontend_mycasatrip_available', { 'locale': user_locale|lower,'_locale':user_locale|lower })%#}
{% set mailPaymentUrl = mail_base_url ~ '/email-mycasatrip/available/'~ user_locale|lower~'/'~ user_locale|lower %}
{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{ "REMINDER_EMAIL_PREHEADER" |trans({}, "messages", user_locale) }}</h4>
        <p style="font-size: 14px;font-family: arial">{{"DEAR_MR"|trans({}, "messages", user_locale)}} {{user.getUserUserName|capitalize}},</p>
        <p style="font-size: 14px;font-family: arial">{{"REMINDER_TRIP_ORGANISATION"|trans({"%prepayment%": initial_payment | price}, "messages", user_locale) | raw}}.</p>
        <p style="font-size: 14px;font-family: arial"> {{"REMINDER_OPPORTUNITY"|trans({}, "messages", user_locale) | raw}}</p>
        <p style="font-size: 14px;font-family: arial">
           <a href="{{ mailPaymentUrl }}">{{mailPaymentUrl}}</a>
        </p>

        {% for reservation in reservations %}
            {{ include('FrontEndBundle:utils:reservationControlRemarketing.html.twig', {"index" : loop.index0, "reservation": reservation, 'photos': photos}) }}
            <br/>
        {% endfor %}

    <p style="font-size: 14px;font-family: arial"><b>{{"VALID_OFFER_TWENTY_FOUR"|trans({}, "messages", user_locale)}}</b></p>
    <p style="font-size: 14px;font-family: arial">
        {{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
        {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}}<br/><br/>
        <b>{{"MYCP_TEAM" | trans({}, "messages", user_locale)}}</b>
    </p>
{% endblock %}
