{% extends 'FrontEndBundle:layout:translatedbaseMailTemplate.html.twig' %}

{% block content %}
        <h4 style="font-family: Arial; font-size: 20px">{{"DEAR_MR"|trans({}, "messages", user_locale)}} {{user.getUserUserName|capitalize}} {{user.getUserLastName|capitalize}}</h4>
        <p style="font-size: 14px;font-family: arial">{{"REMINDER_TRIP_ORGANISATION"|trans({}, "messages", user_locale)}} {{initial_payment | price}}.</p>
        <p style="font-size: 14px;font-family: arial"> {{"REMINDER_OPPORTUNITY"|trans({"%link%": app.request.getSchemeAndHttpHost() ~ getUrl('frontend_mycasatrip_available',{'locale':user_locale,'_locale':user_locale,})}, "messages", user_locale) | raw}}</p>
        <p style="font-size: 14px;font-family: arial">
            {{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_mycasatrip_available',{'locale':user_locale,'_locale':user_locale,})}}
        </p>
        <p style="font-size: 14px;font-family: arial"><b>{{"VALID_OFFER_TWENTY_FOUR_ACCOMMODATION"|trans({}, "messages", user_locale)}}</b></p>

        {% for reservation in reservations %}
            <table width="100%" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td bgcolor="#F5F5F5" style="background-color: #F5F5F5;border: 1px solid #E3E3E3;">
                        <table width="100%" cellpadding="6" cellspacing="0" border="0">
                            <tr>
                                <td width="66%" valign="top" align="left" >
                                    <table cellpadding="4" border="0" cellspacing="0">
                                        <tr>
                                            <td style="background-color: #FFFFFF; border: solid 1px #cccccc;">
                                                <a href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | urlNormalize,'locale':user_locale,'_locale':user_locale,}) }}">
                                                    {% if photos[loop.index0][0].getPhoName is defined %}
                                                        <img width="100%" style="display:block;" border="0" src="{{ app.request.getSchemeAndHttpHost()~asset('uploads/ownershipImages/thumbnails/'~photos[loop.index0][0].getPhoName)}}">
                                                    {% else %}
                                                        <img width="100%" style="display:block;" border="0" src="{{ app.request.getSchemeAndHttpHost()~asset('uploads/ownershipImages/no_photo_square.gif')}}">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td valign="top" style="font-family: arial; font-size: 13px; line-height: 18px">
                                                <h3 style="color: #084D74">
                                                <a class="titleLink" href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | urlNormalize,'_locale':user_locale|lower,'locale':user_locale|lower}) }}">
                                                {{reservation.getOwnResGenResId.getGenResOwnId.getOwnName}}
                                                </a>
                                                </h3>
                                                {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}
                                                - {{reservation.getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}<br/>
                                                {{reservation.getOwnResRoomType|trans({}, "messages", user_locale)}}<br/>
                                                {{reservation.getOwnResCountAdults}} {{"ADULTS"|trans({}, "messages", user_locale)}}<br/>
                                                {{reservation.getOwnResCountChildrens}} {{"KIDS"|trans({}, "messages", user_locale)}}<br/>
                                                {{"ARRIVAL_RESERVATION"|trans({}, "messages", user_locale)}}: {{reservation.getOwnResReservationFromDate | date('d/m/Y')}}<br/>
                                                {{"NIGHTS"|trans({}, "messages", user_locale)}}: {{nights[loop.index0]}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="34%" valign="top" align="right" style="font-family: arial; font-size: 13px; line-height: 20px; text-align: right">
                                    <b>ID {{"RESERVATION_RESERVE"|trans({}, "messages", user_locale)}}:</b> CAS.{{reservation.getOwnResGenResId.getGenResId}}<br/><br/>
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_AVAILABLE'))%}
                                        <span style="background-color: #FF7300; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"AVAILABLE"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_PENDING'))%}
                                        <span style="background-color: #BBBBBB; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"PENDING"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus > constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_AVAILABLE') and reservation.getOwnResStatus < constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED'))%}
                                        <span style="background-color: #1E4C97; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"NOT_AVAILABLE"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED') and booking is not defined)%}
                                        <span style="background-color: #1E4C97; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"NOT_AVAILABLE"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED') and booking is defined)%}
                                        <span style="background-color: #c43c35; color: #ffffff;"><b>&nbsp;&nbsp;&nbsp;{{"PAYED"|trans({}, "messages", user_locale)}}&nbsp;&nbsp;&nbsp;</b></span><br/>
                                    {% endif %}
                                    <h3>{{"RESERVATION_TOTAL" | trans({}, "messages", user_locale) | upper}}:
                                       {%if reservation.getOwnResNightPrice != 0%}
                                        {{ (reservation.getOwnResNightPrice * nights[loop.index0]) | price(user_currency)}}
                                       {%else%}
                                            {{ reservation.ownResTotalInSite | price(user_currency)}}
                                       {%endif%}
                                    </h3>
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_AVAILABLE'))%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_mycasatrip_available',{'locale':user_locale,'_locale':user_locale,}) }}">{{"CONTINUE_RESERVING"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_PENDING'))%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_details_ownership',{'own_name':reservation.getOwnResGenResId.getGenResOwnId.getOwnName | urlNormalize,'locale':user_locale,'_locale':user_locale,}) }}">{{"VIEW_DETAILS"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus > constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_AVAILABLE') and reservation.getOwnResStatus < constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED'))%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1','locale':user_locale,'_locale':user_locale,}) }}">{{"LOOK_FOR_ALTERNATIVE"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED') and booking is not defined)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1','locale':user_locale,'_locale':user_locale,}) }}">{{"LOOK_FOR_ALTERNATIVE"|trans({}, "messages", user_locale)}}</a>
                                    {% endif %}
                                    {% if (reservation.getOwnResStatus == constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_RESERVED') and booking is defined)%}
                                        <a  style="color: #F89406; font-size: 14px; font-weight: bold" href="{{app.request.getSchemeAndHttpHost() ~ getUrl('frontend_view_confirmation_reservation',{'id_booking':booking,'locale':user_locale,'_locale':user_locale,}) }}">{{ 'VIEW_CONFIRMATION'|trans({}, "messages", user_locale) }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
        {% endfor %}

    <p style="font-size: 14px;font-family: arial"><b>{{"VALID_OFFER_TWENTY_FOUR"|trans({}, "messages", user_locale)}}</b></p>
    <h4 style="font-size: 16px; font-weight: normal; font-style: italic">
        {{"EMAIL_GREETINGS" | trans({}, "messages", user_locale)}}.<br/>
        {{"EMAIL_GREETINGS_2" | trans({}, "messages", user_locale)}},<br/>
        {{"MYCP_TEAM" | trans({}, "messages", user_locale)}}
    </h4>
{% endblock %}
