<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
     table td{ padding:3px;}
     tr.content td{font-size: 12px;}
    </style>
</head>
<body style="font-family: Arial; font-size: 15px">
Hola:
Desde MyCasaParticular.com le enviamos el directorio de casas activas actualizado. El fichero se encuentra adjunto a este mensaje.
{% if ownerships %}
 También, a continuación le informamos acerca de los últimos alojamientos agregados al sitio.<br/>
<h3>Últimos alojamientos añadidos</h3>
<table>
    <tr>
        <td><b>Código</b></td>
        <td><b>Nombre</b></td>
        <td><b>Habitaciones</b></td>
        <td><b>Propietario 1</b></td>
        <td><b>Propietario 2</b></td>
        <td><b>Teléfono</b></td>
        <td><b>Móvil</b></td>
        <td><b>Dirección</b></td>
        <td><b>Provincia</b></td>
        <td><b>Municipio</b></td>
        <td><b>Estado</b></td>
        <td><b>Temporada Baja</b></td>
        <td><b>Temporada Alta</b></td>
    </tr>
    {%for own in ownerships%}
    <tr class="content">
    <td>{{own.mycpCode}}</td>
    <td>{{own.name}}</td>
    <td>{{own.totalRooms}}</td>
    <td>{{own.owner1}}</td>
    <td>{{own.owner2}}</td>
    <td>(+53) {{own.provCode}} {{own.phone}}</td>
    <td>{{own.mobile}}</td>
    <td>{{own.street}} {{own.number}} entre {{own.between1}} y {{own.between2}}</td>
    <td>{{own.province}}</td>
    <td>{{own.municipality}}</td>
    <td>{{own.status}}</td>
    <td>
        {%if own.lowDown != own.highDown%}
            {{own.lowDown}} - {{own.highDown}} CUC
        {%else%}
            {{own.highDown}} CUC
        {%endif%}
    </td>
    <td>
        {%if own.lowUp != own.highUp%}
            {{own.lowUp}} - {{own.highUp}} CUC
        {%else%}
            {{own.highUp}} CUC
        {%endif%}
    </td>
    </tr>
    {%endfor%}
</table>
{% endif %}
<br/>
Saludos.
</body>
</html>