<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body style="font-family: Arial; font-size: 15px">
<h3>Fecha y hora</h3>
{{ "now"|date("D, d M Y H:m:s O") }}<br/><br/>
Referencia de reserva: {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMcpCode}}<br/><br/>
ID reserva: CAS.{{reservations[0].getOwnResGenResId.getGenResId}}
<h4>Datos del cliente</h4>
<ul>
    <li><b>Nombre:</b> {{user.getUserUserName}}</li>
    <li><b>Apellido:</b> {{user.getUserLastName}}</li>
    <li><b>Correo electrónico:</b> {{user.getUserEmail}}</li>
    <li><b>Dirección:</b> {{user.getUserAddress}}</li>
    <li><b>Código postal:</b> {{user_tourist.getUserTouristPostalCode}}</li>
    <li><b>Ciudad:</b> {{user.getUserCity}}</li>
    <li><b>País:</b> {{user.getUserCountry.getCoName}}</li>
    <li><b>Teléfono:</b> {{user.getUserPhone}}</li>
    <li><b>Lenguaje:</b> {{user_tourist.getUserTouristLanguage.getLangName}}</li>
    <li><b>Moneda:</b> {% if user_tourist.getUserTouristCurrency.getCurrName is defined %}
            {{user_tourist.getUserTouristCurrency.getCurrName}}
            {% else %}
                CUC
            {% endif %}
    </li>
    <li><b>Comentarios:</b><br/>{{ comment }}</li>

</ul>
<h4>Datos de reserva ({{reservations|length}} {% if reservations|length == 1%}Habitación{% else %}Habitaciones{% endif %})</h4>
{% for reservation in reservations %}
<ul>
    <li><b>Habitación:</b> {{reservation.getOwnResRoomType}}</li>
    <li><b>Adultos:</b> {{reservation.getOwnResCountAdults}}</li>
    <li><b>Niños:</b> {{reservation.getOwnResCountChildrens}}</li>
    <li><b>Fecha de arribo:</b> {{reservation.getOwnResReservationFromDate|date("d/m/Y")}}</li>
    <li><b>Noches:</b> {{nigths[loop.index0]}}</li>
</ul>
{% endfor %}
<h4>Datos de la casa</h4>
<ul>
    <li><b>Nombre:</b> {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnName}}</li>
    <li><b>Propietarios:</b> 
        {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner1}}
        {% if reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 %}
        y {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner2}}
        {% endif %}
    </li>
    <li><b>Dirección:</b>
        {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressStreet}}
        No. {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressNumber}}
        e/ {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet1}} y {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet2}}. {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}, {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}</li>
    <li><b>Teléfono:</b> {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnPhoneNumber}}</li>
    <li><b>Celular: </b>{{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMobileNumber}}</li>
</ul>
</body>
</html>