<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body style="font-family: Arial; font-size: 15px">
<h3>Fecha y hora</h3>
{{ "now"|date("D, d M Y H:m:s O") }}<br/><br/>
Referencia de reserva: {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMcpCode}}<br/><br/>
ID Reserva: {{reservations[0].getOwnResGenResId.getCASId}}
<h4>Datos del cliente</h4>
<ul>
    <li><b>Nombre:</b> {{user.getUserUserName}}</li>
    <li><b>Apellido:</b> {{user.getUserLastName}}</li>
    <li><b>Correo electrónico:</b> {{user.getUserEmail}}</li>
    <li><b>Dirección:</b> {{user.getUserAddress}}</li>
    <li><b>Ciudad:</b> {{user.getUserCity}}</li>
    <li><b>País:</b> {{user.getUserCountry.getCoName}}</li>
    <li><b>Teléfono:</b> {{user.getUserPhone}}</li>
    <li><b>Lenguaje:</b> {{user.getUserLanguage.getLangName}}</li>
    <li><b>Moneda:</b> {{user.getUserCurrency.getCurrName}}
    </li>
    <li><b>Comentarios:</b><br/>{{ comment }}</li>

</ul>
<h4>Datos de reserva ({{reservations|length}} {% if reservations|length == 1%}Habitación{% else %}Habitaciones{% endif %})</h4>
{% for reservation in reservations %}
    {% set outerRoomNumber = roomNums[loop.index0] %}
<ul>
    <li><b>Habitación:</b> Hab #{{roomNums[loop.index0]}} {{reservation.getOwnResRoomType}}</li>
    <li><b>Adultos:</b> {{reservation.getOwnResCountAdults}}</li>
    <li><b>Niños:</b> {{reservation.getOwnResCountChildrens}}
        {% if reservation.getOwnResGenResId.getChildrenAges != null %}
            {% for roomNumber, ages in reservation.getOwnResGenResId.getChildrenAges %}
                {% if roomNumber == outerRoomNumber %}  (Edades: {% for age in ages %}{% if loop.index0 > 0 %}, {% endif %}{{ age }} años {% endfor %}) {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li><b>Fecha de arribo:</b> {{reservation.getOwnResReservationFromDate|date("d/m/Y")}}</li>
    <li><b>Fecha de salida:</b> {{reservation.getOwnResReservationToDate|date("d/m/Y")}}</li>
    <li><b>Noches:</b> {{nigths[loop.index0]}}</li>
</ul>
{% endfor %}
<br/>
<h4>Datos de la casa</h4>
<ul>
    <li><b>Nombre:</b> {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnName}}</li>
    <li><b>Propietarios:</b>
        {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner1}}
        {% if reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 %}
        y {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner2}}
        {% endif %}
    </li>
    <li><b>Dirección:</b>
        Calle {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressStreet}}
        No. {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressNumber}}
        {%if reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet1 != "" and reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet2 != ""%}
        e/ {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet1}} y {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet2}}.
        {%else%}.{%endif%}
        {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}, {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}
    </li>
    <li><b>Teléfono:</b>
        {%if reservations[0].getOwnResGenResId.getGenResOwnId.getOwnPhoneNumber != ""%}
        (+53) {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.provPhoneCode}} {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnPhoneNumber}}
        {%endif%}
        </li>
    <li><b>Celular: </b>{{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMobileNumber}}</li>
</ul>
</body>
</html>