<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body style="font-family: Arial; font-size: 15px">
<h3>Fecha y hora</h3>
{{ "now"|date("D, d M Y H:m:s O") }}<br/><br/>
Referencia de reserva: {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMcpCode}}<br/><br/>
ID reserva: CAS.{{reservations[0].getOwnResGenResId.getGenResId}}
<h4>Datos del cliente</h4>
<ul>
    <li><b>Nombre:</b> <i>{{user.getUserUserName}}</i></li>
    <li><b>Apellido:</b> <i>{{user.getUserLastName}}</i></li>
    <li><b>Correo electrónico:</b> <i>{{user.getUserEmail}}</i></li>
    <li><b>Dirección:</b> <i>{{user.getUserAddress}}</i></li>
    <li><b>Código postal:</b> <i>{{user_tourist.getUserTouristPostalCode}}</i></li>
    <li><b>Ciudad:</b> <i>{{user.getUserCity}}</i></li>
    <li><b>País:</b> <i>{{user.getUserCountry.getCoName}}</i></li>
    <li><b>Teléfono:</b> <i>{{user.getUserPhone}}</i></li>
    <li><b>Lenguaje:</b> <i>{{user_tourist.getUserTouristLanguage.getLangName}}</i></li>
    <li><b>Moneda:</b> <i>{% if user_tourist.getUserTouristCurrency.getCurrName is defined %}
            {{user_tourist.getUserTouristCurrency.getCurrName}}
            {% else %}
                CUC
            {% endif %}
        </i></li>

</ul>
<h4>Datos de reserva ({{reservations|length}} {% if reservations|length == 1%}Habitación{% else %}Habitaciones{% endif %})</h4>
{% for reservation in reservations %}
<ul>
    <li><b>Habitación:</b> <i>{{reservation.getOwnResRoomType}}</i></li>
    <li><b>Adultos:</b> {{reservation.getOwnResCountAdults}}</li>
    <li><b>Niños:</b> {{reservation.getOwnResCountChildrens}}</li>
    <li><b>Fecha de arribo:</b> {{reservation.getOwnResReservationFromDate|date("d/m/Y")}}</li>
    <li><b>Noches:</b> {{nigths[loop.index0]}}</li>
</ul>
{% endfor %}
<h4>Datos de la casa</h4>
<ul>
    <li><b>Nombre:</b> <i>{{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnName}}</i></li>
    <li><b>Propietarios:</b> <i>
        {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner1}}
        {% if reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner2 %}
        y {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnHomeowner2}}
        {% endif %}
    </i></li>
    <li><b>Dirección:</b><i>
        {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressStreet}}
        No. {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressNumber}}
        e/ {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet1}} y {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressBetweenStreet2}}. {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressProvince.getProvName}}, {{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnAddressMunicipality.getMunName}}</i></li>
    <li><b>Teléfono:</b> <i>{{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnPhoneNumber}}</i></li>
    <li><b>Celular: </b><i>{{reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMobileNumber}}</i></li>
</ul>
</body>
</html>