<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body style="font-family: Arial; font-size: 15px">
<h2>Confirmación de pago a equipo de reservación:</h2>
Fecha: {{ "now"|date("D, d M Y H:m:s O") }}
<br/><br/>
{% if payment_pending == 1%}
  <h2 style="color: #eb2200">Pendiente de control de pago</h2>
{% endif %}
<b>Booking:</b> {{ booking }}
<br/>
<b>Cliente:</b> {{ user.getUserUserName }} {{ user.getUserLastName }}
<br/>
<b>Ciudad:</b> {{ user.getUserCity }}
<br/>
<b>País:</b> {{ user.getUserCountry.getCoName }}
<br/>
<b>Correo electrónico:</b> <a href="mailto:{{ user.getUserEmail }}">{{ user.getUserEmail }}</a>
<br/>
<b>Idioma:</b> {{ user_tourist[0].getUserTouristLanguage.getLangName }}
<br/>
<b>Moneda:</b> {{ user_tourist[0].getUserTouristCurrency.getCurrName }}
<br/>
<b>Alojamiento:</b> {{ reservations[0].getOwnResGenResId.getGenResOwnId.getOwnMcpCode }} - {{ reservations[0].getOwnResGenResId.getGenResOwnId.getOwnName }}
<br/>
<br/>
<h3>Reservas (Total: {{ reservations| length }})</h3>
{% set total_price = 0 %}
{% set total_payed = 0 %}
{% set reservationCAS = "" %}
{% for reservation in reservations %}
{% if reservationCAS != reservation.getOwnResGenResId.getCASId %}
    {% set reservationCAS = reservation.getOwnResGenResId.getCASId %}
    <b>Reserva: {{ reservationCAS }}</b><br/><br/>
{% endif %}
<b>Habitación: </b> Habitación #{{ rooms[reservation.getOwnResId()].getRoomNum() }} - {{ reservation.getOwnResRoomType }}
<br/>
<b>Adultos: </b> {{ reservation.getOwnResCountAdults }}
<br/>
<b>Niños: </b> {{ reservation.getOwnResCountChildrens }}
    {% if reservation.getOwnResGenResId.getChildrenAges != null %}
        {% for roomNumber, ages in reservation.getOwnResGenResId.getChildrenAges %}
            {% if roomNumber == rooms[reservation.getOwnResId()].getRoomNum() %}  (Edades: {% for age in ages %}{% if loop.index0 > 0 %}, {% endif %}{{ age }} años {% endfor %}) {% endif %}
        {% endfor %}
    {% endif %}
<br/>
<b>Fecha de arribo: </b> {{ reservation.getOwnResReservationFromDate|date('d/m/Y') }}
<br/>
<b>Noches: </b> {{ nights[reservation.getOwnResId] }}<br/>
 {% set subtotal = reservation.ownResTotalInSite - ( reservation.ownResTotalInSite * reservation.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)  %}
 {% set subtotal_payed = ( reservation.ownResTotalInSite * reservation.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)  %}
<b>Subtotal a pagar en casa:</b> {{ subtotal }} CUC en efectivo.<br/>
{% set total_price = total_price + subtotal %}
{% set total_payed = total_payed + subtotal_payed %}
<br/>
<br/>
{% endfor %}
<br/>
<b>Total a pagar en casa:</b> {{ total_price }} CUC en efectivo.
<br/>
<br/>
<b>Saldo pagado:</b> {{ payedAmount }} {# { total_payed + configuration_service_fee } #} CUC en efectivo.
<br/>
<br/>
<b>Tasa de cambio:</b> 1 CUC = {{ user_tourist[0].getUserTouristCurrency.getCurrCucChange }} {{ user_tourist[0].getUserTouristCurrency.getCurrCode | upper }}

<br/>
<br/>
<b>ID de transacción de Skrill:</b>
<br/>
<br/>
<b>MSID:</b>
<br/>
<br/>
</body>
</html>