{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <p style="font-family: Arial; font-size: 14px">
    <p>Hola, {{ homeOwner }}:</p>
    <p>Todavía hay mucho camino por delante. Eres un anfitrión de <b>MyCasaParticular</b>, así que eres de los grandes. Si atraviesas un difícil momento puedes estar seguro de que lo superaremos juntos.</p>
    <p>Sabemos que tienes mucho potencial, solo es hora de tomar un impulso. Tus números indican que puedes mejorar en algunos aspectos. </p>
    <p>Te damos la oportunidad de escalar posiciones en nuestro ranking y disfrutar las ventajas de ser un <b>Anfitrión Estrella</b>. Podemos ayudarte si sigues nuestros <a href="https://www.mycasaparticular.com/mycasa/consejos">Consejos para ser una Best Casa</a>.</p>
    <p>Te mantenemos al tanto de cada avance que hagas. Verte escalar posiciones será estupendo. Cuenta con nosotros para lograrlo.</p>
    <p>
        <br/>
        <b>SIGUE LAS ESTADÍSTICAS DE TU CASA ESTE MES</b>
    </p>
    <p>{{ date | date('d/m/Y') }}</p>
    <p><b>Tu casa tiene {{ ranking }} puntos en el ranking</b></p>
    <p>Vas en {{ place }} lugar entre los alojamientos de <b>MyCasaParticular</b></p>
    <p><b>Eres el número {{ destinationPlace }} entre los alojamientos de {{ destination }}</b></p>
    <p>El perfil de tu alojamiento en <b>MyCasaParticular</b> recibió {{ visits }} visitas</p>
    <p>Los clientes solicitaron {{ totalAvailableRooms }} habitaciones disponibles</p>
    <p>Los clientes solicitaron {{ totalNonAvailableRooms }} habitaciones, que se encontraban no disponibles</p>
    <p>Tienes {{ totalReservedRooms }} habitaciones reservada, por ello debes facturar {{ totalFacturation | number_format(2) }} CUC</p>
    <p><b>En este mes has facturado {{ currentMonthFacturation | number_format(2) }} CUC </b></p>
    <p>
        <br/> <br/>
        Sigue avanzando hasta conseguir escalar nuevas posiciones. Te lo recomendamos de <span style="font-size: 20px">&#x2661;</span>
    </p>
    <p><b>Equipo de MyCasaParticular</b></p>


{% endblock %}