<div class="modal fade" id="send_to_friend_popup" data-url="{{ path('recommend_2_friend') }}">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 style="margin-top: 12px">{{'SEND_TO_FRIEND' | trans}}</h3>
                <hr style="margin-bottom: 0"/>
            </div>
            <div class="modal-body" style="padding-top: 0; padding-bottom: 0">
                <form name="mail_popup_form" class="form-horizontal">

                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-6">
                            {{'FROM' | trans}}
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px">
                        <label class="col-lg-4 control-label no-bold" for="name_from">{{'SENDER_NAME' | trans}}:</label>
                        <div class="col-lg-6">
                            <input id="name_from" class="form-control" type="text" class="mycp_text_box" required />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4 control-label no-bold" for="email_from">{{'SENDER_EMAIL' | trans}}</label>
                        <div class="col-lg-6">
                            <input id="email_from" class="form-control" type="email" class="mycp_text_box" required />
                        </div>
                    </div>

                    <div class="row" style="margin: 10px 0">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-6">
                            {{'TO' | trans}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4 control-label no-bold" for="email_from">{{'EMAIL_TO' | trans}}</label>
                        <div class="col-lg-6">
                            <input id="email_to" class="form-control" type="email"  required />
                        </div>
                    </div>
                </form>
                <div id="sending_mail" class="hidden">
                    <div class="loading-signal ">
                        <img src="{{ asset('bundles/frontend/img/loading.gif') }}" class="img-circle load-icon"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button style="padding-right: 30px; padding-left: 30px" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | trans}}</button>
                <button style="padding-right: 30px; padding-left: 30px" class="btn btn-primary" onclick="send2Friend();">{{'SEND_COMMENT_DETAILS' | trans}}</button>
            </div>
        </div>
    </div>
</div>