{% extends 'FrontEndBundle:layout:translatedbaseMailTemplateNew.html.twig' %}

{% block content %}
    <style type="text/css">
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            background-color: transparent;
            border-spacing: 0;
            border-collapse: collapse;
            border-top: 1px solid #e7eaec;
            line-height: 1.42857;
            padding: 8px;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            border: 1px solid #e7eaec;
            line-height: 1.42857;
            padding: 8px;
            vertical-align: top;
        }

        th {
            text-align: left;
        }

        tr > td.center {
            text-align: center;
        }

    </style>

    <p style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">{{ "DEAR_MR" | trans({}, "messages", user_locale) }}:
        <i>{{ user_name }}</i>
    </p>

    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
        ยก{{ "EMAIL_USER_ACCOUNT_BODY_TEXT_1"|trans({}, "messages", user_locale) }}!</p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 108%;text-align: left;">
        {{ "REGISTER_MESSAGE1"|trans({}, "messages", user_locale) | raw  }}
    </p>

    <h3>
        {{ "REGISTER_MESSAGE_TABLE1"|trans({}, "messages", user_locale) }}
    </h3>

    {{ include('FrontEndBundle:mails/partials:_tax_table.html.twig') }}

    {{ "REGISTER_MESSAGE_INFO"|trans({}, "messages", user_locale) }}<a href="mailto:services@mycasaparticular.com" class="a" target="_blank">services@mycasaparticular.com</a>

    <p> {{ "REGISTER_MESSAGE_INFO2"|trans({}, "messages", user_locale) }}</p>
    <p> {{ "REGISTER_MESSAGE_GREETINGS2"|trans({}, "messages", user_locale) }}</p>
    <p> {{ "MYCP_TEAM"|trans({}, "messages", user_locale) }}</p>

</p>

{% endblock %}