{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock stylesheets %}
{% block carousel %}
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for i in 1..8 %}
                {% set image_url = ['bundles/partner/img/slideshow/1/', i, '.jpg']|join %}
                <div class="item {% if loop.first %} active {% endif %}">
                    <div class="container">
                        <div class="carousel-caption" style="right: 72px !important;top: 110px !important;">
                            {% block textCarousel %}
                                <h1>{{ 'label.carousel_text_backend_one' | trans | raw }}</h1>
                                <p>{{ 'label.carousel_text_backend_two' | trans | raw }}</p>
                            {% endblock %}
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div style="background-blend-mode: overlay;
                            background: rgba(0, 0, 0, 0.1) url('{{ asset(image_url) }}') no-repeat scroll center center / cover ;
                            position: absolute;
                            height: 100%;
                            width: 100%;">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row" style="background-color: #06354f">
        <div class="container m-t-sm" style="width: 96%">
            <div class="col-md-7">
                {% include 'PartnerBundle:Backend:searcher.html.twig' %}
            </div>
            <div class="col-md-5 text-right">
                <span class="color-white MyriadProBoldCond" style="font-size: 48px">{{ 'label.gest.reserv_one' | trans }}</span></br>
                <span class="color-white MyriadProLightCond" style="font-size: 48px">{{ 'label.gest.reserv_two' | trans }}</span>
            </div>
        </div>
    </div>
    <div id="wrapper">
        {% block nav %}
            {% include 'PartnerBundle:Layout:menu.html.twig' %}
        {% endblock nav %}

        <div id="page-wrapper" class="gray-bg">
            {% block content %}
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row" id="sortable-view">
                        <div id="content-box" class="col-lg-12">
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var today_date = "{{"now"|date("d/m/Y") }}";
        var start_date = "{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
        var end_date = "{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y")}}";

        $(document).ready(function () {
            WinMove();

            jQuery('#side-menu').on('click', ' li > a.ajaxify', function (e) {
                e.preventDefault();
                var href = $(this).data('href');

                $.ajax({
                    type: "POST",
                    url: href,
                    success: function(result) {
                        var a = $('#content-box').append('<div class="row">' + result.html + '</div>');

                        renderPlugins(a);
                    }
                });
            });

            function renderPlugins(element){
                element.find('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

                element.find('.chosen-select').chosen();
                element.find('.chosen-select-deselect').chosen({allow_single_deselect: true});
                element.find('.chosen-container-single').width('100%');
                element.find('.chosen-container-multi').width('100%');
            }
        });

    </script>
{% endblock %}
