{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .filter-form .field-filter{
            padding-left: 4px;
            padding-right: 4px;
        }

        .ibox-title div.title-card {
            display: inline-block;
            float: left;
            font-size: 30px;
            margin: 0 0 7px;
            padding: 0;
            color:  #0d4e76;
            text-overflow: ellipsis;
        }

        .ibox-title.card, .ibox-content.card, .ibox.card{
            background-color: #dfe9f4;
        }

        .filter-form .form-control::-moz-placeholder, .filter-form .form-control {
            font-size: 12px;
            color: #64a433;
            background-color: #d6d7da;
        }

        .filter-form  .input-group-addon {
            background-color: #d6d7da;
        }

        .chosen-single.chosen-default, .chosen-container-single .chosen-single {
            background: #d6d7da none repeat scroll 0 0;
        }

        .filter-form .fa, .filter-form .fa-letter, .filter-form .chosen-single span {
            font-size: 12px;
            color: #64a433 !important;
            opacity: 1 !important;
        }

        .btn-search{
            background-color: #d6d7da;
            /*border-color: #1ab394;*/
            font-size: 12px;
            color: #64a433;
        }

        .date .form-control{
            border-right: 0px;
        }

        .filter-form .input-group-addon {
            padding: 6px;
        }

        .card .table-responsive {
            overflow-x: inherit;
        }

        .rt, .rst {
            font-size: 18px;
            color: #0d4e76;
        }

        .rt {
            font-family: MyriadProCond;
        }

        .rst {
            font-family: MyriadProLightCondIt;
        }

    </style>
{% endblock stylesheets %}

{% block body %}
    <div id="wrapper">

        {% block nav %}
            {% include 'PartnerBundle:Layout:menu.html.twig' %}
        {% endblock nav %}

        <div id="page-wrapper" class="gray-bg">
            {% block content %}
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row" id="sortable-view">
                        <div id="content-box" class="col-lg-12">
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var today_date = "{{"now"|date("d/m/Y") }}";
        var start_date = "{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
        var end_date = "{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y")}}";

        $(document).ready(function () {
            WinMove();

            jQuery('#side-menu').on('click', ' li > a.ajaxify', function (e) {
                e.preventDefault();
                var href = $(this).data('href');

                $.ajax({
                    type: "POST",
                    url: href,
                    success: function(result) {
                        var a = $('#content-box').append('<div class="row">' + result.html + '</div>');

                        renderPlugins(a);
                    }
                });
            });

            function renderPlugins(element){
                element.find('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

                element.find('.chosen-select').chosen();
                element.find('.chosen-select-deselect').chosen({allow_single_deselect: true});
                element.find('.chosen-container-single').width('100%');
                element.find('.chosen-container-multi').width('100%');
            }
        });

    </script>
{% endblock %}
