{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block body %}
    <div id="wrapper">

        {% block nav %}
              {% include 'PartnerBundle:Layout:menu.html.twig' %}
        {% endblock nav %}

        <div id="page-wrapper" class="gray-bg">

            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                            <i class="ico_pinunpin fa fa-bars"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="{{ path('frontend_partner_home') }}">
                                <span class="m-r-sm text-muted welcome-message">{{ 'page.welcome' | trans }}</span>
                            </a>

                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i>  <span class="label label-warning">0</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>  <span class="label label-primary">0</span>
                            </a>
                        </li>


                        <li>
                            <a href="{{ path('frontend_partner_logout') }}">
                                <i class="fa fa-sign-out"></i> {{ 'page.logout' | trans }}
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            {% block content %}{% endblock content %}

        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        var today_date="{{"now"|date("d/m/Y") }}";
        var start_date="{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
        var end_date="{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y")}}";

        /*$.fn.typeahead &&
         $('[data-provide="typeahead"]').typeahead({
         name: "states",
         local: '{#{ autocomplete_text_list |raw}#}',
         limit: 4
         });*/
        $("#priceFilter").slider({});
        $('#more_filters').on('click',function(){
            if($('#more_filters').hasClass('collapsed')){
                $('#button_research').addClass('hide');
                $('#more_filters').removeClass('collapsed');

                var full_height = $(window).height() - ($("#search-container").offset().top + $(".filters-container").height() + 20);
                var scroll_h = full_height - 100;

                $('#collapseFilters .thumbnail').css("height",full_height+"px");

                $('#collapseFilters .thumbnail .content-filter').slimScroll({
                    height: scroll_h+'px',
                    start: 'top'
                });


            }
            else{
                $('#button_research').removeClass('hide');
                $('#more_filters').addClass('collapsed');
            }
        });

    </script>
{% endblock %}