{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock stylesheets %}

{% block body %}
    <div id="wrapper">

        {% block nav %}
            {% include 'PartnerBundle:Layout:menu.html.twig' %}
        {% endblock nav %}

        <div id="page-wrapper" class="gray-bg">
            {% block content %}
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row" id="sortable-view">
                        <div id="content-box" class="col-lg-12">
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var today_date = "{{"now"|date("d/m/Y") }}";
        var start_date = "{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
        var end_date = "{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y")}}";

        $(document).ready(function () {
            WinMove();

            jQuery('#side-menu').on('click', ' li > a.ajaxify', function (e) {
                e.preventDefault();
                var href = $(this).data('href');

                $.ajax({
                    type: "POST",
                    url: href,
                    success: function(result) {
                        var a = $('#content-box').append('<div class="row">' + result.html + '</div>');

                        renderPlugins(a);
                    }
                });
            });

            function renderPlugins(element){
                element.find('.input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

                element.find('.chosen-select').chosen();
                element.find('.chosen-select-deselect').chosen({allow_single_deselect: true});
                element.find('.chosen-container-single').width('100%');
                element.find('.chosen-container-multi').width('100%');
            }
        });

    </script>
{% endblock %}
