{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .filter-form .field-filter {
            padding-left: 4px;
            padding-right: 4px;
        }

        .ibox-title span.title-card {
            display: inline-block;
            font-family: MyriadProRegular;
            float: left;
            font-size: 30px;
            margin: 0 0 7px;
            padding: 0;
            color: #0d4e76;
            text-overflow: ellipsis;
        }

        .ibox-title.card {
            padding: 0 15px;
        }

        .card .ibox-tools {
            margin-top: 10px;
        }

        .ibox-title.card, .ibox-content.card, .ibox.card {
            background-color: #dfe9f4;
        }

        .ibox.card {
            margin-bottom: 5px;
        }

        .filter-form .form-control::-moz-placeholder, .filter-form .form-control {
            font-size: 12px;
            color: #64a433;
            background-color: #d6d7da;
        }

        .card .form-control {
            padding: 6px !important;
        }

        .filter-form .input-group-addon {
            background-color: #d6d7da;
        }

        .chosen-single.chosen-default, .chosen-container-single .chosen-single {
            background: #d6d7da none repeat scroll 0 0;
        }

        .filter-form .fa, .filter-form .fa-letter, .filter-form .chosen-single span {
            font-size: 12px;
            color: #64a433 !important;
            opacity: 1 !important;
        }

        .btn-search {
            background-color: #d6d7da;
            /*border-color: #1ab394;*/
            font-size: 14px;
            color: #64a433;
        }

        .date .form-control {
            border-right: 0px;
        }

        .filter-form .input-group-addon {
            padding: 6px;
        }

        .card .table-responsive {
            overflow-x: inherit;
        }

        .rt, .rst {
            font-size: 20px;
            color: #0d4e76;
        }

        .rt {
            font-family: MyriadProCond;
        }

        .rst {
            font-family: MyriadProLightCondIt;
        }

        .card .table > tbody > tr > td, .card .table > tfoot > tr > td {
            border-top: inherit;
        }

        .card .ibox-tools a {
            color: #0d4e76;
        }

        .card .dataTables_wrapper {
            padding-bottom: 0;
        }

        .card.ibox-content, .card .ibox-content {
            padding: 0 20px 0;
        }

        .activeLink, .activeLink .rt {
            color: #f39921 !important;
        }

        .card .form-control:focus, .card .single-line:focus {
            border: 1px solid transparent !important;
        }

        .focus-parent {
            border: 1px solid #1ab394 !important;
        }

        .card .chosen-container-active.chosen-with-drop .chosen-single {
            border: 1px solid #1ab394 !important;
        }

        .card .chosen-container .chosen-drop {
            border-top-color: -moz-use-text-color;
            border-right-color: #1ab394;
            border-left-color: #1ab394;
            border-bottom-color: #1ab394;
            box-shadow: none;
        }

    </style>
{% endblock stylesheets %}
{% block carousel %}
    <div id="inSlider" class="carousel carousel-fade hidden-xs" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for i in 1..2 %}
                {% set image_url = ['bundles/partner/img/slideshow/1/', i, '.jpg']|join %}
                <div class="item {% if loop.first %} active {% endif %}">
                    <div class="container">
                        <div class="carousel-caption" style="right: 72px !important;top: 110px !important;">
                            {% block textCarousel %}
                                <h1 style="line-height: 1 !important">{{ 'label.carousel_text_backend_one' | trans | raw }}</h1>
                                <p style="color: #d5f2fa !important;margin-top: -40px !important">{{ 'label.carousel_text_backend_two' | trans | raw }}</p>
                            {% endblock %}
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div style="background-blend-mode: overlay;
                            background: rgba(0, 0, 0, 0.1) url('{{ asset(image_url) }}') no-repeat scroll center center / cover ;
                            position: absolute;
                            height: 100%;
                            width: 100%;">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row" style="background-color: #06354f">
        <div class="container m-t-sm" style="width: 96%">
            <div class="col-md-7">
                {% include 'PartnerBundle:Backend:searcher.html.twig' %}
            </div>
            <div class="col-md-5 text-right m-t-md" style="line-height: 1">
                <div class="row hidden-xs">
                    <span class="color-white MyriadProBoldCond" style="font-size: 48px">{{ 'label.gest.reserv_one' | trans }}</span></br>
                    <span class="color-white MyriadProLightCond" style="font-size: 48px">{{ 'label.gest.reserv_two' | trans }}</span>
                </div>
                <div class="row bg-white container-map" style="margin-top: 100px">
                    <div id="big_map" style="width:100%;height: 580px;" class="google-maps hide" data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}" data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row text-right hidden-xs" style="background-color: #0c4d77">
        <div class="col-md-4">

        </div>
        <div class="col-md-8 m-t-md" style="line-height: 1;padding-bottom: 20px;margin-left: -40px">
            <span class="color-white MyriadProBold" style="font-size: 36px">{{ 'dashboard.text_reserv_one' | trans }}</span></br>
            <span class="color-white MyriadProBoldIt" style="font-size: 24px">{{ 'dashboard.text_reserv_two' | trans }}</span>
        </div>
    </div>
    <div id="wrapper" style="background-color: #0c4d77" class="dashboard-partner">
        {% block nav %}
            {% include 'PartnerBundle:Layout:menu.html.twig' %}
        {% endblock nav %}

        <div id="page-wrapper" class="gray-bg">
            {% block content %}
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row" id="sortable-view">
                        <div id="content-box" class="col-lg-12">
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var today_date = "{{"now"|date("d/m/Y") }}";
        var start_date = "{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
        var end_date = "{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y")}}";

        $(document).ready(function () {
            WinMove();

            jQuery('#side-menu').on('click', ' li > a.ajaxify', function (e) {
                e.preventDefault();
                var link = $(this);
                executeAjax(link, null);
            });
        });

        function executeAjax(link, hrefx) {
            HoldOn.open();
            var attribute = (link && link.data('class')) ? link.data('class') : '';
            var href = (link) ? (link.data('href')) : (hrefx);

            $.ajax({
                type: "POST",
                url: href,
                success: function (result) {
                    HoldOn.close();
                    (link) ? (link.addClass('activeLink')) : (null);

                    var oldItem = $('#' + result.id);
                    if (oldItem.length > 0) {
                        oldItem.remove();
                    }

                    var element = $('#content-box');
                    var firstChild = element.children();
                    var newItem = $('<div id=' + result.id + ' class="row ' + attribute + '">' + result.html + '</div>');

                    if (firstChild.length == 0) {
                        element.append(newItem);
                    }
                    else {
                        newItem.insertBefore(firstChild[0]);
                    }

                    renderPlugins(newItem, link);
                },
                error: function () {
                    HoldOn.close();
                }
            });
        }

        function renderPlugins(element, link) {
            $('html,body').animate({
                        scrollTop: $("#content-box").offset().top - 100
                    },
                    'slow');

            element.find('.input-group.date').datepicker({
                todayBtn: "linked",
                format: 'dd-mm-yyyy',
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            element.find('.chosen-select').chosen();
            element.find('.chosen-select-deselect').chosen({allow_single_deselect: true});
            element.find('.chosen-container-single').width('100%');
            element.find('.chosen-container-multi').width('100%');

            // Close ibox function
            element.find('.close-link').click(function () {
                var content = $(this).closest('div.ibox');
                (link) ? (link.removeClass('activeLink')) : (null);
                content.remove();
            });

            // Collapse ibox function
            element.find('.collapse-link').click(function () {
                var ibox = $(this).closest('div.ibox');
                var button = $(this).find('i');
                var content = ibox.find('div.ibox-content');
                content.slideToggle(200);
                button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                ibox.toggleClass('').toggleClass('border-bottom');
                setTimeout(function () {
                    ibox.resize();
                    ibox.find('[id^=map-]').resize();
                }, 50);
            });

            element.find('input.form-control').focusin(function () {
                var input = $(this);
                var parent = input.parent();
                parent.addClass('focus-parent');
            });
            element.find('input.form-control').focusout(function () {
                var input = $(this);
                var parent = input.parent();
                parent.removeClass('focus-parent');
            });
        }
    </script>
{% endblock %}
