<li class="with-sons {{ activeClass('my_casa_module_reservations') }}{{ activeClass('my_cp_casa_module_calendar') }}{{ activeClass('my_casa_module_clients') }}">
    <a href="#"><i class="glyphicons address_book menu-icon"></i>
        <span class="nav-label">Reservaciones</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li class="{{ activeClass('my_casa_module_reservations') }}"><a class="glyphicons tags menu-icon normal" href="{{ path("my_casa_module_reservations") }}"><span>Reservas</span></a></li>
        <li class="{{ activeClass('my_cp_casa_module_calendar') }}"><a class="glyphicons calendar menu-icon normal" href="{{ path('my_cp_casa_module_calendar') }}"><span>Disponibilidad</span></a></li>
        <li class="{{ activeClass('my_casa_module_clients') }}"><a class="glyphicons parents menu-icon normal" href="{{ path("my_casa_module_clients") }}"><span>Clientes</span></a></li>
    </ul>
</li>
<li class="{{ activeClass('my_casa_module_comments') }}">
    <a href="{{ path("my_casa_module_comments") }}" class="normal"><i class="glyphicons chat menu-icon"></i> <span class="nav-label">Opiniones</span></a>
</li>
<li class="with-sons {{ activeClass('show_casa') }}{{ activeClass('show_description') }}{{ activeClass('show_room') }}{{ activeClass('show_facilities') }}{{ activeClass('casa_show_photos') }}">
    <a data-href="{{ path('show_property') }}" class="redirect"><i class="glyphicons home menu-icon"></i> <span class="nav-label">Propiedad</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse" style="height: 0px;">
        <li class="{{ activeClass('show_casa') }}"><a class="glyphicons home menu-icon normal" href="{{ path('show_casa') }}"><span>Datos de su propiedad</span></a></li>
        <li class="{{ activeClass('show_description') }}"><a class="glyphicons align_left menu-icon normal" href="{{ path('show_description') }}"><span>Descripción</span></a></li>
        <li class="{{ activeClass('show_room') }}"><a class="glyphicons keys menu-icon normal" href="{{ path('show_room') }}"><span>Habitaciones</span></a></li>
        <li class="{{ activeClass('show_facilities') }}"><a class="glyphicons plus menu-icon normal" href="{{ path("show_facilities") }}"><span>Facilidades</span></a></li>
        <li class="{{ activeClass('casa_show_photos') }}"><a class="glyphicons picture menu-icon normal" href="{{ path('casa_show_photos') }}"><span>Imágenes</span></a></li>

        {#<li><a class="glyphicons chat menu-icon normal" href="graph_sparkline.html"><span>Ver comentarios</span></a></li>#}
    </ul>
</li>
<li class="{{ activeClass('show_user_profile') }}">
    <a href="{{ path("show_user_profile") }}" class="normal"><i class="glyphicons nameplate menu-icon"></i> <span class="nav-label">Perfil</span></a>
</li>

<li class="{{ activeClass('show_stats') }}">
    <a href="{{ path("show_stats") }}" class="normal"><i class="glyphicons stats menu-icon"></i> <span class="nav-label">Estadística</span></a>
</li>

<li class="with-sons {{ activeClass('my_casa_module_actives_notifications') }} {{ activeClass('my_casa_module_inactives_notifications') }}">
    <a href="#"><i class="ion-android-textsms glyphicons menu-icon"></i>
        <span class="nav-label">Notificaciones</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li class="{{ activeClass('my_casa_module_actives_notifications') }}"><a class="glyphicons tags menu-icon normal" href="{{ path("my_casa_module_actives_notifications") }}"><span>Activas</span></a></li>
        <li class="{{ activeClass('my_casa_module_inactives_notifications') }}"><a class="glyphicons tags menu-icon normal" href="{{ path("my_casa_module_inactives_notifications") }}"><span>Inactivas</span></a></li>
        {#<li class="{{ activeClass('my_casa_module_clients') }}"><a class="glyphicons parents menu-icon normal" href="{{ path("my_casa_module_clients") }}"><span>Clientes</span></a></li>#}
    </ul>
</li>

<li class="{{ activeClass('my_casa_module_advice') }}">
    <a href="{{ path("my_casa_module_advice") }}" class="normal"><i class="glyphicons conversation menu-icon"></i> <span class="nav-label">Consejos</span></a>
</li>