{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Plantillas de correo</li>
</ul>
{% endblock %}
{% block content %}
<h2>Plantillas de correo</h2>
<hr/>

<form id="form" method="post" action="">
    <div class="row-fluid"><b>Correo: </b>
        <input type="text" name="tEmail" id="tEmail"/>
    </div>
</form>
<h5>Equipo de Reservación</h5>
<table style="width:100%" class="table">
    <thead>
    <th style="width: 82%; text-align: left">Correo</th>
    <th>Acción</th>
    </thead>
    <tr>
        <td>Enviar voucher</td>
        <td style="text-align: right"><button class="btn btn-primary bAction" data-url="{{path("mycp_test_send_voucher_rt")}}">Test</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_check_available_rt")}}">Consulta de disponibilidad</a></td>
        <td style="text-align: right">
                <div class="row-fluid">
                    <b>CAS.: </b>
                    <input type="text" name="tReservation" id="tReservation" style="width:50px"/>
                    <button title="Escriba el identificador de una reservación para ver el contenido del correo que se le envia al equipo de reservación" class="btn btn-danger bActionDisponibility" data-url="{{path("mycp_test_check_available_rt")}}">Ver</button>
                </div>
        </td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_accommodation_notification_rt")}}">Comando: Notificación de últimos alojamientos añadidos</a></td>
        <td></td>
    </tr>
</table><hr/>

<h5>Remarketing</h5>
<table style="width:100%;" class="table">
    <thead>
    <th style="width: 70%; text-align: left" colspan="2">Correo</th>
    <th>Acción</th>
    </thead>
    <tr>
        <td rowspan="3" style="width: 20%">Accommodation still available</td>
        <td><a href="{{path("mycp_test_accommodation_still_available", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_accommodation_still_available_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_accommodation_still_available_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_accommodation_still_available", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_accommodation_still_available_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_accommodation_still_available_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_accommodation_still_available", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_accommodation_still_available_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_accommodation_still_available_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td rowspan="3" style="width: 20%">Last chance to book</td>
        <td><a href="{{path("mycp_test_lastChanceToBook", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_lastChanceToBook_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_lastChanceToBook_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_lastChanceToBook", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_lastChanceToBook_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_lastChanceToBook_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_lastChanceToBook", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_lastChanceToBook_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_lastChanceToBook_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td rowspan="3" style="width: 20%">Sorry, Not available anymore!</td>
        <td><a href="{{path("mycp_test_not_available", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_not_available_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_not_available_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_not_available", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_not_available_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_not_available_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_not_available", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_not_available_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_not_available_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td rowspan="3" style="width: 20%">Shopping Cart full - What do you want to do?</td>
        <td><a href="{{path("mycp_test_cart_full_reminder", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_cart_full_reminder_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_cart_full_reminder_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_cart_full_reminder", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_cart_full_reminder_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_cart_full_reminder_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_cart_full_reminder", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_cart_full_reminder_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_cart_full_reminder_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td rowspan="3" style="width: 20%">Feedback - Please give us your feedback</td>
        <td><a href="{{path("mycp_test_feedback_reminder", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_feedback_reminder_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_feedback_reminder_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_feedback_reminder", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_feedback_reminder_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_feedback_reminder_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_feedback_reminder", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_feedback_reminder_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_feedback_reminder_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
</table><hr/>

<h5>Cuentas de Usuario</h5>
<table style="width:100%;" class="table">
    <thead>
    <th style="width: 70%; text-align: left" colspan="2">Correo</th>
    <th>Acción</th>
    </thead>
    <tr>
        <td rowspan="3" style="width: 20%">Activate your account</td>
        <td><a href="{{path("mycp_test_activate_user_account", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_account_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_account_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_activate_user_account", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_account_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_account_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_activate_user_account", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_account_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_account_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td rowspan="3" style="width: 20%">Activate your account (reminder)</td>
        <td><a href="{{path("mycp_test_activate_user_reminder_account", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_reminder_account_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_reminder_account_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_activate_user_reminder_account", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_reminder_account_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_reminder_account_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_activate_user_reminder_account", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_reminder_account_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_reminder_account_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td rowspan="3" style="width: 20%">Not activated yet/Having any trouble?</td>
        <td><a href="{{path("mycp_test_activate_user_last_reminder_account", {'langCode':'es'})}}">Español</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_last_reminder_account_send", {'langCode':'es', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_last_reminder_account_send", {'langCode':'es', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_activate_user_last_reminder_account", {'langCode':'en'})}}">Inglés</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_last_reminder_account_send", {'langCode':'en', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_last_reminder_account_send", {'langCode':'en', 'newMethod':1})}}">Método 2</button></td>
    </tr>
    <tr>
        <td><a href="{{path("mycp_test_activate_user_last_reminder_account", {'langCode':'de'})}}">Alemán</a></td>
        <td><button class="btn btn-primary bAction" data-url="{{path("mycp_test_activate_user_last_reminder_account_send", {'langCode':'de', 'newMethod':0})}}">Método 1</button>
            <button class="btn btn-success bAction" data-url="{{path("mycp_test_activate_user_last_reminder_account_send", {'langCode':'de', 'newMethod':1})}}">Método 2</button></td>
    </tr>
</table><hr/>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/mycp/js/common_list.js') }}"></script>

<script type="text/javascript">
    $(".bAction").click(function(){
        url = $(this).attr("data-url");
        mail = $("#tEmail").val();
        url=url+'/'+mail;
        $('#form').attr('action',url);
        $('#form').submit();
    });

    $(".bActionDisponibility").click(function(){
        url = $(this).attr("data-url");
        reservation = $("#tReservation").val();
        url=url+'/'+reservation;
        /*$('#form').attr('action',url);
        $('#form').submit();*/
        window.location = url;
    });
</script>
{% endblock %}
