<div class="bg-gray font-black p-0 m-t-10 detailsContainer">
    <div class="row">
        <div class="col-sm-4 p-40">
            <span class="font-blue step-span">Reserva {{ reservation.casId }}</span>
            <div class="row" style="margin: 20px 0">
                <img  class='img-circle img-grey-border' title='{{ user.userTouristUser.userCompleteName }}' src='{{ (user.userTouristUser.userPhoto != null) ? asset("uploads/userImages/") ~ user.userTouristUser.userPhoto.phoName : asset("uploads/userImages/no_photo.gif") }}' alt="{{"Photo" | trans}}"/>
            </div>
            <div class="row">
                <span class="control-label">Nombre: </span> <span class="font-blue">{{ user.userTouristUser.userCompleteName }}</span>
            </div>
            <div class="row m-t-5">
                <span class="control-label">Correo: </span> <span class="font-blue">{{ user.userTouristUser.userEmail | lower }}</span>
            </div>
            <div class="row m-t-5">
                <span class="control-label">Ciudad: </span> <span class="font-blue">{{ (user.userTouristUser.userCity != null and user.userTouristUser.userCity != "") ? user.userTouristUser.userCity : " - " }}</span>
            </div>
            <div class="row m-t-5">
                <span class="control-label">Idioma: </span> <span class="font-blue">{{ user.userTouristLanguage.langName }}</span>
            </div>
            <div class="row m-t-5">
                <span class="control-label">Moneda: </span> <span class="font-blue">{{ user.userTouristCurrency.currCode }}</span>
            </div>
            <div class="row m-t-5">
                <span class="control-label">País: </span> <span class="font-blue">{{ user.userTouristUser.userCountry}}</span>
            </div>
            <div class="row m-t-10">
                <span class="control-label">Estado </span> {% include 'mycpBundle:utils:general_reservation_status_name.html.twig' with {'status': reservation.genResStatus,'wrap': false, 'showInDiv': true} %}
            </div>
        </div>
        <div class="col-sm-4 lighter-gray  p-40 p-l-r-5">
            <ul class="nav nav-tabs">
                {% for roomReservation in reservations %}
                <li {% if loop.index0 == 0 %}class="active"{% endif %}><a href="#hab{{ roomReservation.ownResId }}" data-toggle="tab">Hab. # {{ rooms[loop.index0].roomNum }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% set total_adults = 0 %}
                {% set total_kids = 0 %}
                {% set total_nights = 0 %}
                {% set total_price = 0 %}
                {% set total_rooms = 0 %}
                {% for roomReservation in reservations %}
                    {%if roomReservation.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and roomReservation.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                        {% set total_adults = total_adults + roomReservation.getOwnResCountAdults %}
                        {% set total_nights = total_nights + nights[loop.index0] %}
                        {% set total_kids = total_kids + roomReservation.getOwnResCountChildrens %}
                        {% set total_rooms = total_rooms + 1 %}
                        {%set total_price = total_price + roomReservation.getOwnResTotalInSite%}
                    {%endif%}
                <div id="hab{{ roomReservation.ownResId }}" class="tab-pane fade {% if loop.index0 == 0 %}active{% endif %} in">
                    <div class="table-responsive">
                        <table class="table table-hover table-casa">
                            <tr>
                                <td colspan="2">{{rooms[loop.index0].getRoomType}}</td>
                            </tr>
                            <tr>
                                <td>Adultos</td>
                                <td>{{ roomReservation.getOwnResCountAdults}}</td>
                            </tr>
                            <tr>
                                <td>Niños</td>
                                <td>{{ roomReservation.getOwnResCountChildrens}}</td>
                            </tr>
                            <tr>
                                <td>Entrada</td>
                                <td>{{ roomReservation.getOwnResReservationFromDate | date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <td>Salida</td>
                                <td>{{ roomReservation.getOwnResReservationToDate | date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <td>Noches</td>
                                <td>{{ nights[loop.index0]}}</td>
                            </tr>
                            <tr>
                                <td>Precio Total</td>
                                <td>{{roomReservation.getOwnResTotalInSite}} CUC</td>
                            </tr>
                            <tr>
                                <td>Comisión MyCP</td>
                                <td>{{ (roomReservation.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent * roomReservation.getOwnResTotalInSite/100) | number_format(2) }} CUC</td>
                            </tr>
                            <tr>
                                <td>Pago en casa</td>
                                <td>{{(roomReservation.getOwnResTotalInSite * (1 - roomReservation.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)) | number_format(2)}} CUC</td>
                            </tr>
                        </table>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="pull-right"><a class="closeDetails"><i class="glyphicons remove_2"></i></a></div>
            <div class="p-40">
            <div class="row">
                <div class="pull-left">
                <span class="font-blue bold">Resumen de la reserva</span>
                </div>
            </div>
            <table class="table table-casa" style="margin-top: 10px">
                <tr>
                    <td style="border:none">Habitaciones</td>
                    <td style="border:none">{{ (total_rooms) ? total_rooms : " - " }}</td>
                </tr>
                <tr>
                    <td>Total de adultos</td>
                    <td>{{ (total_adults) ? total_adults : " - "  }}</td>
                </tr>
                <tr>
                    <td>Total de niños</td>
                    <td>{{ (total_kids) ? total_kids : " - " }}</td>
                </tr>
                <tr>
                    <td>Noches</td>
                    <td>{{ (total_nights) ? total_nights : " - " }}</td>
                </tr>
                <tr>
                    <td>Precio Total</td>
                    <td>{{ (total_price) ? total_price ~ " CUC"   : " - " }}</td>
                </tr>
                <tr>
                    <td>Comisión MyCP</td>
                    <td>{{ (total_price) ? (total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100) | number_format(2)  ~ " CUC"   : " - " }}</td>
                </tr>
                <tr>
                    <td class="bold">Pago en casa</td>
                    <td class="bold">{{ (total_price) ? ((total_price *( 1 - reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)) | number_format(2))  ~ " CUC"    : " - " }}</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('.closeDetails').click(function(){
        $(".detailsContainer").addClass('hidden');
    });
</script>