<footer class="bg-gradient-blue">
    <div class="container">
        <div class="col-xs-12">
            <a class="pull-left" title="{{"HOMEPAGE_TITLE" | trans}}" href="{{ path('frontend_welcome') }}" >
                <img alt="{{"HOMEPAGE_TITLE" | trans}}" src="{{ asset('bundles/frontend/img/mycp-grey.png')}}">
            </a>
            <button id="btn-footer-coll" data-target=".footer-ex1-collapse" data-toggle="collapse" class="navbar-toggle pull-right m-a-0 p-a-0" type="button">
                <i class="ion-chevron-up f-s-24"></i>
                <i class="ion-chevron-down f-s-24"></i>
            </button>
        </div>
        <div class="space space-10"></div>
        <div class="collapse navbar-collapse footer-ex1-collapse">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <h3 class="text-xs-center">{{"OUR_SERVICES" | trans}}</h3>
                    </div>
                    <div class="col-xs-6 text-xs-center">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li><a title="My Casa Particular - {{"SITE_MAP" | trans}}"  href="{{ path ('frontend_sitemap_information')}}">{{"SITE_MAP" | trans}}</a></li>
                                </ul>
                            </div>
                            <div class="space space-10"></div>
                            <div class="space space-5"></div>
                            <div class="col-xs-12">
                                <h3 class="f-s-12 m-a-0">{{"find_reservations" | trans}}</h3>
                                <ul>
                                    <li style="font-size: 13px; margin-bottom: 5px;"><a href="{{ path('frontend_mycasatrip_apps') }}" >{{ 'MyCasa Trip APP' | upper }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="f-s-12 m-a-0">{{"HOUSE_QUESTION" | trans}}</h3>
                                <ul>
                                    <li style="font-size: 13px; margin-bottom: 5px;"><a href="{{ path('frontend_mycasarenta_index') }}" >{{ 'MYCASA_RENTA_APP'|trans }}</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12">
                                <h3 class="f-s-12 m-a-0">{{"find_location" | trans}}</h3>
                                <ul>
                                    <li style="font-size: 13px; margin-bottom: 5px;"><a href="https://play.google.com/store/apps/details?id=hds.aplications.com.mycubamap" >{{ 'MyCuba Map APP' | upper }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space space-30"></div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <h3 class="text-xs-center">{{"ABOUT_MYCP" | trans}}</h3>
                    </div>
                    <div class="col-xs-12 text-xs-center">
                        <ul class="list-inline">
                            <li><a title="My Casa Particular - {{"WHO_ARE_WE" | trans}}" href="{{ path('frontend_about_us')}}">{{"WHO_ARE_WE" | trans}}</a></li>
                            <li><a title="My Casa Particular - {{"CONTACT_US" | trans}}" href="{{path('frontend_contact_user')}}">{{"CONTACT_US" | trans}}</a></li>
                            <li><a title="My Casa Particular - {{"FAQ" | trans}}" href="{{path('frontend_list_faq')}}">{{"FAQ" | trans}}</a></li>
                            <li><a title="My Casa Particular - {{"LEGAL_TERMS" | trans}}" href="{{path('frontend_legal_terms')}}">{{"LEGAL_TERMS" | trans}}</a></li>
                            <li><a title="My Casa Particular - {{"SECURITY_AND_PRIVACITY" | trans}}" href="{{path('frontend_security_privacity')}}">{{"SECURITY_AND_PRIVACITY" | trans}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 p-a-0 text-xs-center">
            <div class="row">
                <div id="social" class="col-xs-12 text-xs-center">
                    {{ include('FrontEndBundle:utils:netSocials.html.twig') }}
                </div>
                <div class="space space-10"></div>
                <div class="col-xs-12">
                    <p class="gray-mycp f-s-10">&copy; 2009 - {{'today'|date('Y')}}. <a style="font-size: 11px; color: #ffffff" href="http://www.mycasaparticular.com">MyCasaParticular.com</a>.
                        {{"FOOTER_COPYRIGHT" | trans}}.</p>
                </div>
            </div>
        </div>
    </div>
</footer>