{% extends 'MyCpMobileFrontendBundle::base.html.twig' %}
{% block body %}
    <div class="col-xs-12">
        <div class="row">
            <div id="mobile-search">
                {{ render(controller('MyCpMobileFrontendBundle:Search:orangeSearchBar')) }}
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="top_rated_placeholder" data-url="{{path('frontend_top_rated_callback_ownership')}}"
         data-url-change-category="{{path('frontend_top_rated_change_category_callback_ownership')}}">
        {{ include('@MyCpMobileFrontend/ownership/homeTopRatedOwnership.html.twig', {'own_top20_list':own_top20_list,
            'premium_total': premium_total,
            'midrange_total': midrange_total,
            'economic_total': economic_total}) }}
    </div>
    <div class="col-xs-12">
        <div class="row">
            {{ render(controller('MyCpMobileFrontendBundle:Mobile:homeCarrousel')) }}
        </div>
    </div>
    <div class="modal inmodal fade" id="myModalOwnerShipCalendar" tabindex="-1" role="dialog"  aria-hidden="true"></div>
    {{ include('MyCpMobileFrontendBundle:utils:marquesina.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@MyCpMobileFrontendBundle/Resources/public/js/fixedlink.js'
    '@MyCpMobileFrontendBundle/Resources/public/js/jquery.mobile-1.4.5.js'
    '@FrontEndBundle/Resources/public/js/ownership.min.js'
    '@MyCpMobileFrontendBundle/Resources/public/js/custom.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $('[data-provide="typeahead"]').typeahead({
            name: "states",
            local: autocompletelist,
            limit: 4
        });
    </script>
    <script type="text/javascript">
        $('.btn_check_available').on('click',function(){

        });
        $('.btn_delete_reservation').on('click',function(){
            $('#confirmation_modal_delete').modal('show');
            $('#delete_button_reservation').attr('data',$(this).attr('data'));
            $('#delete_button_reservation').attr('btn_launch',$(this).attr('id'));
        });
        $('#delete_button_reservation').on('click',function(){
            string_url="{{ path('frontend_remove_from_whislist')}}";
            data_remove=$(this).attr('data');
            $('.btn_delete_reservation').attr('disabled','disable');
            $('#'+$(this).attr('btn_launch')).attr('class','in_process');
            $('#confirmation_modal_delete').modal('hide');
            $.ajax({
                type: "POST",
                url: string_url,
                data:{'data':data_remove},
                success: function(response){
                    $('#whish-list').html(response);
                    $('#count-cart').text($('#total-cart').data('counter'));
                }
            });
        });
    </script>
    <script>
        var options = [];
        $( '.dropdown-cesta a' ).on( 'click', function( event ) {
            var $target = $( event.currentTarget ),
                    val = $target.attr( 'data-value' ),
                    $inp = $target.find( 'input' ),
                    idx;

            if ( ( idx = options.indexOf( val ) ) > -1 ) {
                options.splice( idx, 1 );
                setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
            } else {
                options.push( val );
                setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
            }

            $( event.target ).blur();
            return false;
        });

        $(function() {

            $("#marquee-close").on("click", function (e) {
                e.preventDefault();
                $(".marquesina").hide();
            });

            $(".marquesina").addClass("fixed-top");
            $(".marquesina").removeClass('animated bounceInRight').addClass('animated bounceInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                $(this).removeClass('animated bounceInRight');
            });

        });
    </script>
    {{ include('FrontEndBundle:script:script.html.twig') }}
{% endblock javascripts %}