{% extends dashboard ? 'MyCpCasaModuleBundle:Default:dashboard.html.twig': 'MyCpCasaModuleBundle::layout.html.twig'%}

{% block content %}
        <div class="row-eq-height p-b-40">
        <div class="col-md-9 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2 class="font-blue">Bienvenido a su perfil en MyCasaParticular.com.</h2>
                    <h3 class="font-green">Aquí encontrará las claves para gestionar su alojamiento.</h3>
                </div>
            </div>
            <div class="">
                <div class="col-md-11 col-xs-12 bg-gray font-black" style="padding: 0">
                    <div class="col-md-12 col-xs-12">
                        <h2 class="font-blue">{{ ownership.ownName }}</h2>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-1 col-xs-4">
                                <h3 style="font-size: 20px; margin-top: 25px;">desde:</h3>
                            </div>
                            <div class="col-md-11 col-xs-8">
                                <h2 class="font-blue" style="padding-left: 10px;">{{ ownership.ownMinimumPrice }} CUC</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-xs-12">
                        <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <div class="{% if ownership is defined and ownership.ownCategory is not null %}{% if ownership.ownCategory =='Económica'  %}glyphicons blue certificate{% endif %}{% if ownership.ownCategory =='Rango medio'  %}glyphicons green cup{% endif %}{% if ownership.ownCategory =='Premium'  %}glyphicons orange crown{% endif %}{% endif %}"></div>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <span style="color: #b5b5b5 ; font-size: 20px;margin-left: -10px;">{% if ownership is defined and ownership.ownCategory is not null %}{{ ownership.ownCategory }}{% endif %}</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-md-8 col-xs-12">
                            <span style="color: #b5b5b5 ; font-size: 36px;margin-left: -10px;">{{ ownership.ownMcpCode }}</span>
                        </div>
                        <div class="col-md-4 col-xs-12 text-center">
                            <button type="button" id="deactive-property" data-href="{{ path('active_property') }}" class="btn btn-default  dim {% if ownership.ownStatus.statusId !=1 %} hide {% endif %}" ><i class="glyphicons eye_close" style="color:#fff"></i> Desactivar</button>
                            <button type="button" id="activate-property" data-href="{{ path('active_property') }}" class="btn btn-default  dim {% if ownership.ownStatus.statusId ==1 %} hide {% endif %}" ><i class="glyphicons eye_open" style="color:#fff"></i> Activar</button>
                            <button type="button" id="delete-property" class="btn btn-danger  dim"><i class="glyphicons bin" style="color:#fff"></i> Eliminar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="infont col-md-2 col-sm-2 col-xs-6">
                    <a href="{{ path('show_casa') }}">
                        <img src="{{ asset('bundles/mycpcasamodule/img/Casa.png') }}" class="img-title-dashboard m-t-25" >
                        <span>Datos de su propiedad</span>
                    </a>
                </div>

                <div class="infont col-md-2 col-sm-2 col-xs-6">
                    <a href="{{ path('show_description') }}">
                        <img src="{{ asset('bundles/mycpcasamodule/img/Descripcion.png') }}" class="img-title-dashboard m-t-25">
                        <span>Descripción</span>
                    </a>
                </div>
                <div class="infont col-md-2 col-sm-2 col-xs-6">
                    <a href="{{ path('show_room') }}">
                        <img src="{{ asset('bundles/mycpcasamodule/img/Habitaciones.png') }}" class="img-title-dashboard m-t-25" >
                        <span>Habitaciones</span>
                    </a>
                </div>

                <div class="infont col-md-2 col-sm-2 col-xs-6">
                    <a href="{{ path("show_facilities") }}">
                        <img src="{{ asset('bundles/mycpcasamodule/img/Facilidades.png') }}" class="img-title-dashboard m-t-25" >
                        <span>Facilidades</span>
                    </a>
                </div>

                <div class="infont col-md-2 col-sm-2 col-xs-6">
                    <a href="{{ path('casa_show_photos') }}">
                        <img src="{{ asset('bundles/mycpcasamodule/img/Imagenes.png') }}" class="img-title-dashboard m-t-25" >
                        <span>Imágenes</span>
                    </a>
                </div>

                <div class="infont col-md-2 col-sm-2 col-xs-6">
                    <a href="{{ path('show_stats') }}">
                        <img src="{{ asset('bundles/mycpcasamodule/img/estdisticas.png') }}" class="img-title-dashboard m-t-25" >
                        <span>Estadísticas</span>
                    </a>
                </div>



            </div>
        </div>
        <div class="col-md-3 col-xs-12 oneblue-bg col-content">
            <div class="row">
                <div class="col-md-12 m-t-20">
                    <p>Esta sección muestra los datos principales de su propiedad que MyCasa
                        tiene registrados. De ellos, solo podrá modificar los que se pueden
                        editar. Para salvar los cambios dé clic sobre el botón "Guardar".</p>
                </div>
                <div class="col-sm-12 m-t-20 text-center" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 12px solid rgb(88, 174, 23);">
                    <img width="100" src="{{ asset("bundles/frontend/img/mycasarenta/logo1.png") }}">
                </div>
                <div class="col-sm-12 m-t-10 m-b-10 text-center"><a target="_blank" title="Descargar la Aplicación de MyCasa Renta" href="https://play.google.com/store/apps/details?id=hds.aplications.com.homedroid" class="btn btn-danger" style="background-color: rgb(0, 0, 0); font-size: 19px;"><i class="fa fa-android"></i> Descargar Aplicación</a></div>
                <div class="col-sm-12 text-center m-b-10"><a target="_blank" title="Descargar Instructivo de MyCasa Renta" href="{{ path("my_casarenta_manual_download") }}" class="btn btn-danger"><i class="fa fa-download"></i> Descargar Instructivo</a></div>
            </div>
            {#<div class="row">#}
                {#<div class="col-md-12 m-t-40">#}
                    {#<p>Si desea que alguna otra información se modifique por nuestro equipo,#}
                        {#por favor, accione sobre el botón "Solicitar cambio" y descríbalo. Su#}
                        {#petición se reflejará en nuestro sitio lo antes posible.</p>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
    {% include 'MyCpCasaModuleBundle:login:login.html.twig' %}
{% endblock %}