<div class="col-md-12 row-eq-height hide animated fadeInRight" id="step0-services">
    <div class="col-md-9 white-bg">
        <h2 class="font-blue">Somos profesionales y podemos ayudarle.<br>¡Mire nuestras ofertas!</h2>

        <div class="bg-gray m-t-20 m-b-20 p-20">
            <div class="row">
        <div class="col-sm-2">
            <img src="{{ asset('bundles/mycpcasamodule/img/services1.png') }}">
        </div>
            <div class="col-sm-10">
                <h3 style="color: #90a4ae; font-weight: 700; font-size: 24px;"> Contenido profesional</h3>
                <p style="color: #373737; font-size: 16px;">Nuestro equipo de profesionales se encarga de la descripción de su propiedad en 3 idiomas: español, inglés y alemán.
                <br/>
                    Nuestros especialistas supervisarán la actualización de sus contenidos de manera sistemática.
                </p>
                <span style="font-size: 20px; color: #64a433; margin-right: 20px;">Precio: 70 CUC</span><a href="{{ path('casa_contact_services',{'id':1}) }}" class="btn btn-primary dim">Solicitar</a>
        </div>
            </div>
        </div>

        <div class="bg-gray m-t-20 m-b-20 p-20">
            <div class="row">
        <div class="col-sm-2">
            <img src="{{ asset('bundles/mycpcasamodule/img/services2.png') }}">
        </div>
            <div class="col-sm-10">
                <h3 style="color: #90a4ae; font-weight: 700; font-size: 24px;"> Fotografía profesional</h3>
                <p style="color: #373737; font-size: 16px;">
                Realizamos la fotografía y edición de imágenes de su propiedad. Contamos con la técnica y los recursos necesarios.
                </p>
                <span style="font-size: 20px; color: #64a433; margin-right: 20px;">Precio: 160 CUC</span><a href="{{ path('casa_contact_services',{'id':2}) }}" class="btn btn-primary dim">Solicitar</a>
        </div>
            </div>
        </div>
        <div class="bg-gray m-t-20 m-b-20 p-20">
            <div class="row">
        <div class="col-sm-2">
            <img src="{{ asset('bundles/mycpcasamodule/img/services3.png') }}">
        </div>
            <div class="col-sm-10">
                <h3 style="color: #90a4ae; font-weight: 700; font-size: 24px;"> Videos promocionales</h3>
                <p style="color: #373737; font-size: 16px;">
                Desarrollamos y editamos videos de su propiedad.
                </p>
                <span style="font-size: 20px; color: #64a433; margin-right: 20px;">Precio: 195 CUC</span><a href="{{ path('casa_contact_services',{'id':3}) }}" class="btn btn-primary dim">Solicitar</a>
        </div>
            </div>
        </div>

        <div class="bg-gray m-t-20 m-b-20 p-20">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services1.png') }}">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services3.png') }}">
                </div>
                <div class="col-sm-10">
                    <h3 style="color: #90a4ae; font-weight: 700; font-size: 24px;"> Paquete Contenido profesional + Video Promocional</h3>
                    <p style="color: #373737; font-size: 16px;">Nuestro equipo de profesionales se encarga de la descripción de su propiedad en 3 idiomas: español, inglés y alemán.
                        <br/>
                        <br/>
                        Nuestros especialistas supervisarán la actualización de sus contenidos de manera sistemática.
                        <br/>
                        <br/>
                        Desarrollamos y editamos videos de su propiedad.
                    </p>
                    <span style="font-size: 20px; color: #64a433; margin-right: 20px;">Precio: 235 CUC</span><a href="{{ path('casa_contact_services',{'id':4}) }}" class="btn btn-primary dim">Solicitar</a>
                </div>
            </div>
        </div>
        <div class="bg-gray m-t-20 m-b-20 p-20">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services2.png') }}">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services3.png') }}">
                </div>
                <div class="col-sm-10">
                    <h3 style="color: #90a4ae; font-weight: 700; font-size: 24px;"> Paquete Foto profesional + Video Promocional</h3>
                    <p style="color: #373737; font-size: 16px;">
                        Realizamos la fotografía y edición de imágenes de su propiedad. Contamos con la técnica y los recursos necesarios.
                        <br/>
                        <br/>
                        Desarrollamos y editamos videos de su propiedad.
                    </p>
                    <span style="font-size: 20px; color: #64a433; margin-right: 20px;">Precio: 320 CUC</span><a href="{{ path('casa_contact_services',{'id':5}) }}" class="btn btn-primary dim">Solicitar</a>
                </div>
            </div>
        </div>

        <div class="bg-gray m-t-20 m-b-20 p-20">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services1.png') }}">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services2.png') }}">
                    <img src="{{ asset('bundles/mycpcasamodule/img/services3.png') }}">
                </div>
                <div class="col-sm-10">
                    <h3 style="color: #90a4ae; font-weight: 700; font-size: 24px;"> Paquete Contenido profesional + Foto profesional + Video Promocional</h3>
                    <p style="color: #373737; font-size: 16px;">Nuestro equipo de profesionales se encarga de la descripción de su propiedad en 3 idiomas: español, inglés y alemán.
                        <br/>
                        <br/>
                        Nuestros especialistas supervisarán la actualización de sus contenidos de manera sistemática.
                        <br/>
                        <br/>
                        Realizamos la fotografía y edición de imágenes de su propiedad. Contamos con la técnica y los recursos necesarios.
                        <br/>
                        <br/>
                        Desarrollamos y editamos videos de su propiedad.
                    </p>
                    <span style="font-size: 20px; color: #64a433; margin-right: 20px;">Precio: 380 CUC</span><a href="{{ path('casa_contact_services',{'id':6}) }}" class="btn btn-primary dim">Solicitar</a>
                </div>
            </div>
        </div>
        <div class="m-t-30">
            <button class="btn btn-default dim changeBtn1" style="color: #373737; font-size: 16px;" data-cmpdisabled="#step0-services" data-cmpenabled="#step0-steps" type="button"><img src="{{ asset('bundles/mycpcasamodule/img/previous.png') }}" > Inscribirme manualmente</button>
        </div>
    </div>
    <div class="col-md-3 oneblue-bg">
        <h3 class="m-t-20">Trabaje con nosotros, le ofrecemos:</h3>
        <ul>
            <li>Servicios profesionales en tiempo récord.</li>
            <li>Optimización de su anuncio de forma sistemática.</li>
            <li>Consejos para mejorar su posición en el ranking de resultados de MyCasaParticular.com .</li>
        </ul>
        <h3 class="m-t-20">¿Cómo pagarnos?<br> Es simple.</h3>
        <ul>
            <li>Puede pagarnos al momento(ahora solo disponible en La Habana).</li>
        </ul>
        <p style="font-size: 16px;">Al solicitar la oferta o paquete de su preferencia tiene la opción de pagar en el momento el precio total del servicio. Nuestro departamento de ventas se pondrá en contacto con usted.</p>
        <h3 class="m-t-20">¡Esperamos por usted!</h3>
    </div>
</div>