{% extends 'FrontEndBundle:mycasatrip:layout_blank.html.twig' %}
{% block body_inner %}
<div class="row" style="margin-top: 30px">
    <div class="col-sm-10">
        <h1 class="caecilia-roman h-green h-size-1 no-margin">{{"RESERVATION_CONFIRM"|trans}}</h1>
    </div>
    <div class="col-sm-2">
        <a target="_blank" href="{{ path('frontend_boucher_reservation',{'id_booking': booking.getBookingId}) }}" class="btn btn-primary btn-block">
            {{"PRINT"|trans}}
            </a>
        </div>
    </div>
    <hr class="hr-green"/>
    <h4 class="h-grey" style="font-size: 30px">{{"DEAR_MR"|trans}} {{ user.getUserUserName }} {{ user.getUserLastName }}</h4>
{{"THANKS_RESERVATION_MYCP"|trans}} <b><a href="{{ path('frontend_welcome') }}">MyCasaParticular.com</a></b><br/>
{{"PLEASE_PRINT_CONFIRMATION_OF_SERVICE"|trans}}<br/>
{{"CAN_FOLLOWING_RESERVATIONS_MYCT"|trans}} <a href="{{ path('frontend_mycasatrip_pending') }}">MyCasaTrip</a>
    <br/>
    <br/>
    <h4 class="h-green">{{"CLIENT_INFORMATION"|trans}}</h4>
    <div class="row">
        <div class="col-sm-6">
            <table class="full-width table table-type-1">
                <tr>
                    <td><b>{{"RESERVATION_NUMBER"|trans}}:</b></td>
                    <td>ID_{{ booking.getBookingId }}</td>
                </tr>
                <tr>
                    <td><b>{{"CLIENT_NAME"|trans}}:</b></td>
                    <td>{{ user.getUserUserName }} {{ user.getUserLastName }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-type-1">
                <tr>
                    <td><b>{{"EMAIL_TO"|trans}}</b></td>
                    <td>{{ user.getUserEmail }}</td>
                </tr>
                <tr>
                    <td><b>{{"NACIONALITY"|trans}}:</b></td>
                    <td>{{ user.getUserCountry.getCoName }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% for own in own_res %}
    <hr class="hr-grey-wide"/>

    <table class="table table-type-1">
        <tbody>
            <tr style="border-top:none;">
                <td width="70%" style="border-top:none;">
                    <h3 class="h-green h-green-line">
                        <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-voucher icon-vaccomodation" alt="{{"Pixel" | trans}}">
                            {{"ACCOMMODATION"|trans}} {{loop.index}}
                    </h3>
                </td>
                <td width="30%" style="vertical-align: middle; text-align: right; border-top:none;">
                    <b>{{"RESERVATION_NUMBER"|trans}}:</b> ID_{{ booking.getBookingId }}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-type-1">
        <tbody>
            <tr style="border-top:none;">
                <td width="30%" style="border-top:none;"><b>{{"ACCOMMODATION_NAME"|trans}}:</b></td>
                <td width="40%" style="border-top:none;"><a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':own.name  | urlNormalize}) }}">{{ own.name }}</a></td>
                <td rowspan="5" style="border-top:none;">
                    <div class="thumbnail" style="padding: 12px; margin-left: 12px;">
                        <img src='https://maps.googleapis.com/maps/api/staticmap?center={{own.geo_x}},{{own.geo_y}}&zoom=15&size=200x200&sensor=false&markers=icon:{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}%7C{{own.geo_x}},{{own.geo_y}}&a.jpg' alt="{{"Maps" | trans}}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"ID_HOME"|trans}}:</b></td>
                <td>{{ own.mycp_code }}</td>
            </tr>
            <tr>
                <td><b>{{"OWNERS_NAME"|trans}}:</b></td>
                <td>{{ own.owner_1 }} {% if own.owner_2 %}& {{ own.owner_2 }}{% endif %}</td>
            </tr>
            <tr>
                <td><b>{{"ADDRESS"|trans}}:</b></td>
                <td>{{ own.main_street }} {{ own.number }}, {{ own.street_1 }} & {{ own.street_2 }}.
                    {{ own.municipality }}, {{own.province }}.
                    </td>
                </tr>
                <tr>
                    <td><b>{{"FORMS_PHONE"|trans}}:</b></td>
                    <td>(+53{{ own.prov_code }}) {{ own.phone_number }}</td>
                </tr>
            {% if own.own_email_1 != "" or own.own_email_2 != "" %}
            <tr>
                <td><b>{{"FORMS_EMAIL"|trans}}:</b></td>
                <td>{% if own.own_email_1 == "" and own.own_email_2 == "" %}-{% else %}<a href="mailto:{{ own.own_email_1 }}">{{ own.own_email_1 }}</a>{% if own.own_email_1 != "" and own.own_email_2 != "" %}, {% endif %}<a href="mailto:{{ own.own_email_2 }}">{{ own.own_email_2 }}</a>{% endif %}</td>
            </tr>
        {% endif %}
            </tbody>
        </table>
        {%for res_room in own_res_rooms[own.id]%}
        <h4 class="voucher-subtitle">
            <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-voucher icon-vbed" alt="{{"Pixel" | trans}}">
            {{"RESERVATION_DETAILS"|trans}}: {{"ROOM_SINGULAR"|trans | capitalize}} {{loop.index}}
        </h4>
        <table class="table table-type-1">
            <tbody>
                <tr>
                    <td colspan="6"><h4 class="h-only-blue">{{res_room.own_res_room_type|trans}}</h4></td>
                </tr>
                <tr>
                    <td><b>{{"ARRIVAL_RESERVATION"|trans}}:</b></td>
                    <td>{{ res_room.own_res_reservation_from_date| date("d/m/Y") }}</td>
                    <td><b>{{"DEPARTURE_RESERVATION"|trans}}:</b></td>
                    <td>{{ res_room.own_res_reservation_to_date| date("d/m/Y") }}</td>
                    <td><b>{{"NIGHTS"|trans}}:</b></td>
                    <td>{{ nights[res_room.own_res_id] }}</td>
                </tr>
                <tr>
                    <td><b>{{"SELECT_ROOM_TYPE_OPTION"|trans}}:</b></td>
                    <td>{{ res_room.own_res_room_type|trans }}</td>
                    <td><b>{{"ADULTS"|trans}}:</b></td>
                    <td>{{ res_room.own_res_count_adults }}</td>
                    <td><b>{{"KIDS"|trans}}:</b></td>
                    <td>{{ res_room.own_res_count_childrens }}</td>
                </tr>
                <tr>
                    <td><b>{{"SELECT_BATHROOM_TYPE_OPTION"|trans}}:</b></td>
                    <td>{{ res_room.room_bathroom|trans }}</td>
                    <td><b>{{ "PRICE_NIGHT" | trans }}</b></td>
                    <td>{{ currency_symbol }} {{ (((res_room.priceNight) ? res_room.priceNight : res_room.priceInSite / nights[res_room.own_res_id]) * currency_rate) | number_format(2) }}</td>
                    <td><b>{{ "RESERVATION_COST" | trans }}</b></td>
                    <td>{{ currency_symbol }} {{ (res_room.priceInSite * currency_rate) | number_format(2) }}</td>
                </tr>
            </tbody>
        </table>
        {%endfor%}
        {% if own_res | length > 1 %}
        <h4 class="voucher-subtitle">
            <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-voucher icon-vcurrency" alt="{{"Pixel" | trans}}">
        {{"PAYMENT_DETAILS"|trans}}:
        </h4>
        <table style="width:100%">

            <tr>
                <td><b>{{ "ACCOMMODATION_TOTAL_COST" | trans }}</b></td>
                <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ (own_res_payments[own.id].total_price)| number_format(2) }}</h4></td>
            </tr>
            <tr>
                <td><b>{{ "SERVICES_TOTAL_COST" | trans }}</b></td>
                <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ ((own_res_payments[own.id].touristTax)) | number_format(2) }}</h4></td>
            </tr>
            {% set fixedTax = 0 %}
            {% if own_res | length == 1 %}
                {% set fixedTax = service_charge_total %}
            <tr>
                <td><b>{{"SERVICE_FIXED_TAX"|trans}}</b></td>
                <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ fixedTax | number_format(2)}}</h4></td>
            </tr>
            {% endif %}
            <tr class="b-cyan">
                <td><b>{{ "PRICE_TOTAL_TO_PAY" | trans }} - {{"ACCOMMODATION"|trans}} {{loop.index}}</b></td>
                <td class="text-right">
                    <h4 class="no-margin">
                        {{ currency_symbol }} {{ (own_res_payments[own.id].total_price + fixedTax + own_res_payments[own.id].touristTax)| number_format(2) }}
                    </h4>
                </td>
            </tr>
            <tr>
                <td><b>{{ "ONLINE_PREPAYMENT" | trans }}</b></td>
                <td class="text-right">
                    <h4 class="no-margin">
                    {{ currency_symbol }} {{ (own_res_payments[own.id].prepayment + own_res_payments[own.id].touristTax + fixedTax) | number_format(2) }}
                    </h4>
                </td>
            </tr>
            <tr>
                <td>-{{"PERCENT_ACCOMMODATION_AMOUNT" | trans | replace({"%percent%": own.commission_percent ~ "%"})}}</td>
                <td class="text-right">{{ currency_symbol }} {{ ((own_res_payments[own.id].prepayment)) | number_format(2) }}</td>
            </tr>
            <tr>
                <td>-{{ "SERVICES_TOTAL_COST" | trans }}</td>
                <td class="text-right">{{ currency_symbol }} {{ ((own_res_payments[own.id].touristTax)) | number_format(2) }}</td>
            </tr>
            {% if own_res | length == 1 %}
                <tr>
                    <td>-{{"SERVICE_FIXED_TAX"|trans}}</td>
                    <td class="text-right">{{ currency_symbol }} {{ fixedTax | number_format(2)}}</td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2"><b>{{ "PAY_AT_ACCOMMODATION" | trans }}</b></td>
            </tr>
            <tr>
                <td>-{{"PERCENT_ACCOMMODATION_AMOUNT" | trans | replace({"%percent%": (100 - own.commission_percent) ~ "%"})}}</td>
                <td class="text-right">
                    <h4 class="no-margin">
                        {{ currency_symbol }} {{ (own_res_payments[own.id].pay_at_service) | number_format(2) }}
                    </h4>
                    <h6 class="no-margin">
                        CUC {{ (own_res_payments[own.id].pay_at_service_cuc) | number_format(2) }}
                    </h6>
                </td>
            </tr>
        </table>
        {% endif %}
    {% endfor %}

            <table class="table">
                <tr style="border-top:none;">
                    <td width="100%" style="border-top:none;padding:0px">
                        <hr class="upper-bottom"/>
                    </td>
                    <td style="text-wrap: none; border-top:none;text-align: right;padding:0px" nowrap="nowrap">
                        <h3 class="no-margin c-bbbb">{{"END_OF_YOUR_RESERVATION" | trans}}</h3>
                    </td>
                </tr>
            </table>

            <h3 class="h-green">{{"PAYMENTS"|trans}}</h3>
    <table style="width:100%">
        <tr>
            <td><b>{{ "ACCOMMODATION_TOTAL_COST_PLURAL" | trans }}</b></td>
            <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ (accommodations_service_charge)| number_format(2) }}</h4></td>
        </tr>
        <tr>
            <td><b>{{"SERVICES_TOTAL_COST"|trans}}</b></td>
            <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ (tourist_tax_total) | number_format(2) }}</h4></td>
        </tr>
        <tr>
            <td><b>{{"SERVICE_FIXED_TAX"|trans}}</b></td>
            <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ service_charge_total | number_format(2)}}</h4></td>
        </tr>
        <tr class="b-cyan">
            <td><b>{{ "PRICE_TOTAL_TO_PAY" | trans }}</b></td>
            <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ ((total_prepayment + total_servicing_price)) | number_format(2) }}</h4></td>
        </tr>
        <tr>
            <td><b>{{ "PREPAYMENT" | trans }}</b></td>
            <td class="text-right"><h4 class="no-margin">{{ currency_symbol }} {{ total_prepayment | number_format(2)}}</h4></td>
        </tr>
        <tr>
            <td>- {{"SERVICE_ACCOMMODATION_TAX"|trans}} ({% for comm in commissions %}{{comm}}%{% if not loop.last %}, {% endif %}{% endfor %})</td>
            <td class="text-right">{{ currency_symbol }} {{ (prepayment_accommodations) | number_format(2) }}</td>
        </tr>
        <tr>
            <td>- {{"SERVICES_TOTAL_COST"|trans}}</td>
            <td class="text-right">{{ currency_symbol }} {{ (tourist_tax_total) | number_format(2) }}</td>
        </tr>
        <tr>
            <td>- {{"SERVICE_FIXED_TAX"|trans}}</td>
            <td class="text-right">{{ currency_symbol }} {{ service_charge_total | number_format(2)}}</td>
        </tr>

        <tr>
            <td colspan="2"><b>{{ "PAY_AT_ACCOMMODATION" | trans }}</b></td>
        </tr>

        <tr>
            <td>-{{"ACCOMMODATION_TOTAL_COST_PLURAL" | trans}} ({% for comm in commissions %}{{100-comm}}%{% if not loop.last %}, {% endif %}{% endfor %})</td>
            <td class="text-right"><h4 class="no-margin">
                    {{ currency_symbol }} {{ (total_servicing_price) | number_format(2)}}
                </h4>
                <h6 class="no-margin">
                    CUC {{ (total_price_to_pay_at_service_in_cuc) | number_format(2) }}
                </h6>
                <!--h6 class="no-margin cursive h-only-blue">
                    1 CUC = {#{currency_rate}#} {#{currency_symbol}#}
                </h6-->
            </td>
        </tr>
    </table>

            <hr class="hr-green"/>
            <div class="row">
                <div class="col-sm-10">

                </div>
                <div class="col-sm-2">
                    <a target="_blank" href="{{ path('frontend_boucher_reservation',{'id_booking': booking.getBookingId}) }}" class="btn btn-primary btn-block">
                {{"PRINT"|trans}}
                        </a>
                    </div>
                </div>
                <!-- Google Code for Payment Conversion Page -->
                <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 1016854742;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "-guECPr9lAMQ1vHv5AM";
                    var google_conversion_value = {{ total_prepayment_cuc }};
                    var google_remarketing_only = false;
                    /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                    <div style="display:inline;">
                        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1016854742/?value={{ total_prepayment_cuc }}&amp;label=-guECPr9lAMQ1vHv5AM&amp;guid=ON&amp;script=0"/>
                    </div>
                    </noscript>
{% endblock %}
