{% extends 'MyCpMobileFrontendBundle::base.html.twig'%}
{% block include_css %}
    <style>
        .form-check-label{
            color:black;
        }
        
    </style>
{% endblock %}
{% block content %}
    {%if total_errors > 0%}
        <div class="alert alert-danger" style='margin:0'>
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">warning</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b> {{"FILL_FORM_CORRECTLY" | trans}}</b>
        </div>
        </div>

    {%endif%}

<div class="main main-raised">
    <div class="text-center caecilia-roman white f-s-16" style="background: #f4941c; color:white; font-size:20px; ">
        CONTINUE_RESERVING
        <a><i class='material-icons'>shopping_cart</i>{{"CONTINUE_RESERVING" | trans}}</a>



    </div>
    <div class="profile-content" style="margin-top:5%;">
    <div class="container">

        <div class="panel-heading">
        <div class='col-10 ' data-toggle="collapse" data-parent="#accordion" href="#details">
            <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#details">
                <b>{{"RESERVATION_DETAILS" | trans}} </b>
            </a>
        </div>
        </div>
    <div class="items-cart panel-collapse collapse in show" id="details">
        {% for reservation in reservations %}
            {% set accommodation = reservation.ownResGenResId.genResOwnId %}
            <div class="item">
                <table cellpadding="4" class="full-width" style="width: 100%">
                    <tbody><tr>

                        <td>
                            <b>{{ accommodation.ownName }}</b><br/>
                            {{ accommodation.ownAddressMunicipality.munName }}, {{ accommodation.ownAddressProvince.provName }} <br/>
                            <small>
                                {% if reservation.ownResGenResId.completeReservationMode %}
                                {{ "Propiedad completa" | trans }}, {{ reservation.ownResGenResId.genResOwnId.ownRoomsTotal }} {{ "ROOMS" | trans }}
                                {% else %}
                                    {{reservation.ownResRoomType|trans}}
                                {% endif %}
                                , {{"ADULTS" | trans}}: {{reservation.ownResCountAdults}}, {{"KIDS" | trans}}: {{reservation.ownResCountChildrens}}<br/>
                                {{"ARRIVAL_WATERMARK" | trans}}: {{reservation.ownResReservationFromDate |date('d/m/Y')}}, {{"DEPARTURE_WATERMARK" | trans}}: {{reservation.ownResReservationToDate|date('d/m/Y')}}, {{ "NIGHTS" | trans }}: {{ nights[loop.index0] }}
                            </small>
                        </td>
                        <td>

                        </td>
                        <td class="text-right cost">
                                 <div class="no-margin h1-blue">
                                {{reservation.ownResTotalInSite | price}}
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td class="text-right cost" >
                               <h3 class="no-margin">
                                   {% if reservations | length > 1 %}<a onclick='HoldOn.open();' href="{{ path("frontend_reservation_removing_payment_page", {"idReservation": reservation.ownResId }) }}"><i class="fa fa-times"></i></a> <br/>{% endif %}

                               </h3>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0" alt="{{"Gradient" | trans}}"></div>

    {% set prepayment =  ceil_round((total_percent_price + currentServiceFee.fixedFee + touristTax)) | price%}

     <div class="row" style="padding-right: 20px">
        <div style="font-size: 10px;" class="col-xs-12 text-right text-uppercase" rel="tooltip" title="{{ "ACCOMMODATION_TOTAL_COST_PLURAL_TOOLTIP" | trans }}">{{"ACCOMMODATION_TOTAL_COST" | trans}} <span style="font-size: 16px;"><b>{{total_price | price}}</b></span></div>
        <div style="font-size: 10px;" class="col-xs-12 text-right text-uppercase" rel="tooltip" title="{{ "SERVICE_TOURIST_TAX_TITLE" | trans }}">{{"SERVICE_TOURIST_TAX" | trans}}: <span style="font-size: 16px;"><b>{{touristTax | price}}</b></span></div>
        <div style="font-size: 10px;" class="col-xs-12 text-right text-uppercase" rel="tooltip" title="{{ "SERVICE_FIXED_TAX_TITLE" | trans }}">{{"SERVICE_FIXED_TAX" | trans}}: <span style="font-size: 16px;"><b>{{currentServiceFee.fixedFee | price}}</b></span></div>
        <div class="col-xs-12 text-right text-uppercase" style="font-size: larger; color: #218CDC" rel="tooltip" title="{{ "ACCOMMODATION_TOTAL_COST_PLURAL_TOOLTIP" | trans }}">
            {{ 'RESERVATION_TOTAL_PRICE' | trans }} <span><b>{{(total_price + touristTax + currentServiceFee.fixedFee) | price}}</b></span>
        </div>
    </div>
    <div class="row" style="color: #218CDC; padding-right: 20px" >
        <div style="font-size: 12px;"  class="col-xs-12 text-right text-uppercase" rel="tooltip" title="{{ "PREPAYMENT_TOOLTIP" | trans }}">
            {{"PREPAYMENT" | trans}}: <span style="font-size: 14px;"><b>{{(total_percent_price +touristTax + currentServiceFee.fixedFee) | price}}</b></span>
        </div>
        <div class="col-xs-12 text-right text-uppercase" rel="tooltip" title="{{ "TOTAL_PAY_AT_SERVICE_TOOLTIP" | trans }}">
            {{"TOTAL_PAY_AT_SERVICE" | trans}}: <span><b>{{(total_price - total_percent_price) | price}}</b></span> <br/>
            {% set currSymbol = app.session.get('curr_symbol') != null ? app.session.get('curr_symbol'): default_currency().currsymbol %}
            {% if currSymbol != "CUC" %}
                <span style="font-size: small"><b>CUC {{ (total_price - total_percent_price) | number_format(2) }}</b></span>
            {% endif %}
        </div>
    </div>


        <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0" alt="{{"Gradient" | trans}}"></div>

        <form  class='col-xs-12' method="POST" action="{{ path('frontend_reservation_reservation') }}" style="width: 100%" novalidate target="_blank">

        <h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal;margin-top:0;">{{"YOUR_PAYMENT" | trans}}</h1>

        <div class="col-xs-12 ">
            <div class="col-xs-12 checkbox_skrill ">
                  
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input c" type="radio" name="payment_method" value="skrill" checked="">
                        {{"SKRILL_PAYMENT" | trans}}
                          <span class="circle">
            <span class="check"></span>
        </span>
                    </label>
                    <img class=" full-width" style="margin-right: 10px;margin-left: 10px;height: 20px; background-color: #f3f3f300; margin-bottom: 5px" src="{{ asset('bundles/frontend/img/skrill.gif') }}" alt="{{"Skrill" | trans}}">
     
                       
                </div>

            </div>
            <div class="col-xs-12 ">
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="payment_method" value="postfinance">
                        {{"POSTFINANCE_PAYMENT" | trans}}
                        
                        <span class="circle">
                        <span class="check"></span>
                          </span>
                    </label>
                      <img class=" full-width" style="height: 40px; background-color: #f3f3f300; margin-bottom: 5px" src="/MyCasaParticular/web/bundles/frontend/img/Todospostfinance.png" alt="Skrill">
                   
                         
                </div>

            </div>
        </div>
        <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0" alt="{{"Gradient" | trans}}"></div>

        <div class="col-xs-12">
            <div class="col-xs-12 ">
                <h1 class="h-blue caecilia-roman h-size-1" style="font-weight: normal;margin-top:0;">{{"FINAL_STEP" | trans}}</h1>
            </div>
            <div class="col-xs-12 ">
                <div class="form-check">
                    <label class="form-check-label">
                        <input id='terms_conditions'onclick="onClickHandler(this)" class="form-check-input" {% if post['terms_conditions'] is defined %} checked="checked" {% endif %} name="terms_conditions" type="checkbox">
                        {{"ACCEPT_TERMS_CONDITIONS" | trans}}
                        <span class="form-check-sign">
              <span class="check"></span>

            </span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="user_tourist_send_newsletter" type="checkbox" {% if post["user_tourist_send_newsletter"] is defined or user.UserNewsletters %}checked{%endif%}>
                        {{"SEND_ME_OFFERS" | trans}}
                        <span class="form-check-sign">
              <span class="check"></span>
            </span>
                    </label>
                </div>

            </div>
            <div class="col-xs-12 text-center">
                <h4 class="h-grey">{{"AMOUNT_TO_PAY_NOW" | trans}}</h4>
                <h3 class="h-blue" style="font-size: 24px">{{ prepayment }}</h3>
            </div>
            <div class="col-xs-12 text-center">
                <button id="btn_payment"  type="submit" class="btn btn-primary btn-lg" disabled="disabled"><b>{{"PAYMENT_CONFIRM" | trans}}</b></button>
            </div>
            <div class="col-xs-12 text-center">
                <a onclick='HoldOn.open();' href="{{ path("frontend_mycasatrip_available") }}" style="margin-top: 35px; margin-left: 15px"><b>{{"GO_MYCASATRIP" | trans}}</b></a>
            </div>
            <div class="col-xs-12 text-center">
                <p  style="margin-top: 0; font-size: 12px; color: #6C726B">{{"PAYMENT_CONFIRMATION_TEXT" | trans}}: {{prepayment}}</p>
            </div>
        </div>
    </form>
    </div>
</div>

</div>
{% endblock %}
{% block includejs %}
    <script type="text/javascript">
        $('#mct_change_order').change(function(){
            $('#order_by_form').submit();
        })



        if($('#terms_conditions').is(":checked"))
            $('#btn_payment').removeAttr('disabled');
        else
            $('#btn_payment').attr('disabled','disabled');
        function onClickHandler(cb) {

            if ($('#terms_conditions').is(':checked')) {

                $('#btn_payment').removeAttr('disabled');


            }
            if($('#terms_conditions').is(":not(:checked)")) {

                $('#btn_payment').attr('disabled', 'disabled');
            }
        };



    </script>
{% endblock includejs %}
