{%for destination in list%}
<div class="item">
    <div class="row-fluid">
    <div class="span2">
        <a title="{{"MORE_INFO_PREFFIX" | trans}} {{destination['destination_name']}}" href="{{ path('frontend_details_destination',{'destination_name':destination['destination_name']|lower|replace(' ','_')}) }}">
            <img class="img-polaroid" src="{{ asset("uploads/destinationImages/thumbnails/" ~ destination['photo'])}}"/>
        </a>
        {{destination['municipality_name']}} / {{destination['province_name']}}
    </div>
    <div class="span10">
        <a title="{{"MORE_INFO_PREFFIX" | trans}} {{destination['destination_name']}}" href="{{ path('frontend_details_destination',{'destination_name':destination['destination_name']|lower|replace(' ','_')}) }}">{{destination['destination_name']}}</a>
        <p>{{(destination['desc_brief'] != "") ? destination['desc_brief'] |striptags: ""}}</p>
    </div>
    </div>
</div>
{%else%}
<div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}

{%if total_items is defined and items_per_page is defined and popular_places | length and total_items > items_per_page%}
    <div class="paginator-cont top_margin">
    {{ simple_paginator_render('frontend_list_destinations',null,{
    'container_class': 'paginator',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': null
}) }}
</div>
{%endif%}
