<div class="col-sm-4 lazy-cont">
           <table class="col-sm-12">
               <tr>
                   <td class="full-width">
                       <a href="{{ path('frontend_details_destination',{'destination_name':des_name|urlNormalize}) }}">
                           {% set url_image = asset("uploads/destinationImages/" ~ (des_photo)) %}
                           <img src="{{ asset('bundles/frontend/img/nophoto.gif') }}" title="alt="{{ des_name }}"" alt="{{ des_name }}" id="image_d{{ des_id }}" class="bttrlazyloading" data-bttrlazyloading-md-src="{{ url_image | apply_filter('my_thumb_destination') }}" />
                       </a>
                   </td>
                   <td>
                       <div class="square-grey-cont">
                           <div class="cont">
                               {{"DES_POBLATION" | trans}}<br/><b>{{ des_poblation }}</b>
                           </div>
                       </div>
                       <div class="square-grey-cont">
                           <div class="cont">
                               {{"DES_REF_PLACE" | trans}}<br/><b>{{ des_refPlace | slice(0, 20)}}</b>
                           </div>

                       </div>
                   </td>
               </tr>
           </table>
           <a href="{{ path('frontend_details_destination',{'destination_name':des_name|urlNormalize}) }}">
           <h3 class="h-blue">{{des_name}}</h3>
           </a>
            <div class="dest-description">
           {{ des_description | slice(0,200) | striptags }}{% if des_description|length>200 %}...{% endif %}
            </div>
           <div class="row margin-t-t">
               <div class="col">
                   {{ include('FrontEndBundle:favorite:itemFavorite.html.twig',
                        {'is_in_favorite': is_in_favorite,
                         'favorite_type': 'destination',
                         'element_id':des_id,
                         'list_preffix' : 'destination_list',
                         'include_text': true
                         }) }}
               </div>
               <div class="col text-right">
                   <a href="{{ path('frontend_details_destination',{'destination_name':des_name|urlNormalize}) }}">
                   <small>{{'RESERVATION_CONFIRM_DESTINATION_MORE' | trans | lower}} <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-medium icon-more" title="MyCasaparticular" alt="{{"MyCasaparticular" | trans}}"/></small>
                   </a>
               </div>
           </div>
           <hr/>
           <div class="text-right">
               <h4><small>{{'RESERVATION_CONFIRM_DESTINATION_OWNS_AVAILABLE' | trans}} </small><b>{{des_count_owns}}</b></h4>
           </div>

       </div>
