{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{destination.desname}}
{% endblock %}
{% set main_tab = 2 %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="{{ path('frontend_list_destinations') }}" title="{{"DESTINATIONS" | trans}}">{{"DESTINATIONS" | trans}}</a>
    <span>››</span>
    <a href="#" class="active" title="{{destination.desname}}">{{destination.desname}}</a>
{% endblock %}
{% block body %}
<div  class="container">
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-sm-3">
            {%if destination.desgeolocatex != null and destination.desgeolocatey != null%}
            <div class="thumbnail" style="padding: 12px">
                <div id="big_map_details" class="google-maps" style="width:100%;height: 150px;"
                    data-x="{{destination.desgeolocatex}}"
                    data-y="{{destination.desgeolocatey}}"
                    data-name="{{destination.desName}}"
                    data-description=""
                    data-image="{{asset('uploads/destinationImages/thumbnails/'~((gallery_photos[0] is defined) ? gallery_photos[0] : "no_photo.png"))}}"
                    data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}">
                </div>
            </div>
        {%endif%}
         {{ include('frontEndBundle:ownership:verticalSearcherOwnership.html.twig',
        {'is_within_search_results':false, 
        'autocomplete_text_list': autocomplete_text_list, 
        'locale': locale})}}   
        </div>
        {%if gallery_photos | length%}
        <div class="col-sm-5">
            <div id="gallery" class="royalSlider rsDefault gallery" style="width: 100%!important;">
                {% for photo in  gallery_photos%}
                <a class="rsImg " data-rsbigimg="{{asset('uploads/destinationImages/'~photo)}}" href="{{asset('uploads/destinationImages/'~photo)}}">
                    <img class="rsTmb" src="{{asset('uploads/destinationImages/thumbnails/'~photo)}}" height="72" width="96"/>
                </a>
                {%endfor%}

            </div>
        </div>
        {%endif%}
        <div {%if gallery_photos | length%}class="col-sm-4"{%else%}class="col-sm-9"{%endif%}>
            <div class="square-grey-cont">
            <div class="cont">
                <h1 class="caecilia-roman h-blue-3">{{destination.desName}}</h1>
                <p>
                    {{description | raw}}
                </p>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div id="accordion2" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                            {{"POPULAR_DESTINATIONS_HOME_TABS" | trans}}
                        </a>
                    </div>
                    <div class="accordion-body collapse in" id="collapseOne">
                        <div class="accordion-inner">
                            {%for destination in popular_list%}
                           <a href="{{ path('frontend_details_destination',{'destination_name':popular_destinations_for_url[destination.des_id]|replace(' ','_')|replace('ñ','nn')|replace('Ñ','nn')|replace('Á','a')|replace('É','e')|replace('Í','i')|replace('Ó','o')|replace('Ú','u')|replace('á','a')|replace('é','e')|replace('í','i')|replace('ó','o')|replace('ú','u')|lower}) }}">{{destination['des_name']}}</a><br/>

                        {%else%}
                        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
                        {%endfor%}
                        {%if popular_list |length%}
                           <a  class="fontsize_10" href="{{path('frontend_list_destinations')}}">{{"SEEMORE_LINK_TEXT" | trans}}</a>                         
                        {%endif%}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                            {{"MORE_IN_DETAILS" | trans}} {{location_municipality}}
                        </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseTwo">
                        <div class="accordion-inner">
                            {%for destination in other_destinations_in_municipality%}
                          <a href="{{ path('frontend_details_destination',{'destination_name':other_destinations_in_municipality_for_url[destination.des_id]}) }}">{{destination.desname}}</a><br/>

                        {%else%}
                        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
                        {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                            {{"MORE_IN_DETAILS" | trans}} {{location_province}}
                        </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseThree">
                        <div class="accordion-inner">
                            {%for destination in other_destinations_in_province%}
                           <a href="{{ path('frontend_details_destination',{'destination_name':other_destinations_in_province_for_url[destination.des_id]}) }}">{{destination.desname}}</a><br/>                        {%else%}
                        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
                        {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                            {{"ALL_PROVINCES" | trans}}
                        </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseFour">
                        <div class="accordion-inner">
                            {%for province in provinces%}
                                <a href="{{ path('frontend_search_ownership',{'text':provinces_for_url[province.provid], 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}">{{province.provName}}</a><br/>                        
                           {%else%}
                        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
                        {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            {{ include('frontEndBundle:favorite:detailsFavorite.html.twig',
            {'is_in_favorite': is_in_favorite,
            'favorite_type': 'destination',
            'element_id':destination.desid
            }) }}
        <a href="#send_to_friend_popup" title="{{'SEND_TO_FRIEND' | trans}}" data-toggle="modal" style="text-decoration: none">
            <button style="margin-top: 15px" class="btn btn-default btn-block" onclick="$('#send_to_friend_popup').attr('data-email-type', 'recommend_destiny'); $('#send_to_friend_popup').attr('data-dest-prop-id', '{{destination.getDesId}}');">
                <img src="{{ asset('bundles/frontend/img/main_to_friend.gif') }}">{{"TELL_A_FRIEND" | trans}}
            </button>
        </a>
        </div>
        <div class="col-sm-9">
            {%if owns_nearby | length%}
            <div class="bg-solid-blue-bar" style="margin-top: 0">
                <div class="row">
                    <div class="col-xs-8">
                        <h1 class="h-white caecilia-roman">
                            {{'WHERE_RENT_IN_DESTINATION' | trans ({'%destinationName%': destination.desName})}}
                        </h1>
                    </div>
                    <div class="col-xs-4 text-right">
                        
                        <a id="change_view_to_list" href="#" data-url="{{path('frontend_change_view_destination', {'destination_name':destination.desName,'destination_id': destination.desId})}}" rel="tooltip" data-placement="top" title="{{'LIST_VIEW' | trans}}"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon three-lines2-icon"></a>
                        <a id="change_view_to_photo" href="#" data-url="{{path('frontend_change_view_destination', {'destination_name':destination.desName,'destination_id': destination.desId})}}" rel="tooltip" data-placement="top" title="{{'MOISAIC_VIEW' | trans}}"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon cam-icon"></a>
                        <a id="change_view_to_map" href="#" data-url="{{path('frontend_change_view_destination', {'destination_name':destination.desName,'destination_id': destination.desId})}}" rel="tooltip" data-placement="top" title="{{'MAP_VIEW' | trans}}"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon point-icon"></a>
                        
                    </div>
                </div>
            </div>
            <div id="near_houses_container" class="houses-list" data-url="{{path('frontend_nearby_destination',{'destination_name': destination.desname | lower | replace(" ", "_"),'destination_id': destination.desid })}}">
                {{include('frontEndBundle:destination:detailsOwnsNearByDestination.html.twig', 
                        {'owns_nearby': owns_nearby,
                         'destination_name': destination.desname | lower | replace(" ", "_"),
                         'destination_id': destination.desid,
                         'data_view' : data_view })}}
            </div>
                {%endif%}
        </div>
    </div>
    <br/>
{% render 'frontEndBundle:public:home_carrousel' %}
</div>
{% block include_javascripts %}
<script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.infobox.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/destination_details.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery.royalslider.min.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#gallery').royalSlider({
            controlNavigation: 'thumbnails',
            autoScaleSlider: true,
            autoScaleSliderWidth: 5,
            autoScaleSliderHeight: 5,
            loop: false,
            imageScaleMode: 'fill',
            navigateByClick: true,
            numImagesToPreload:2,
            arrowsNav:true,
            arrowsNavAutoHide: true,
            arrowsNavHideOnTouch: true,
            keyboardNavEnabled: true,
            fadeinLoadedSlide: true,
            globalCaption: true,
            globalCaptionInside: false,
            thumbs: {
                appendSpan: true,
                firstMargin: true,
                paddingBottom: 4
            }
        });
    });
</script>
{% endblock %}
{% endblock %}