{% extends 'FrontEndBundle:new_layout:base_filters.html.twig' %}

{% block include_javascripts_and_css %}
    {% stylesheets
        '@FrontEndBundle/Resources/public/js/plugins/bootstrap-select/bootstrap-select.min.css'

        '@FrontEndBundle/Resources/public/css/filtersv2.css'
        filter='?uglifycss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
    </style>
{% endblock %}
{% block other_load_js %}

{% endblock %}

{% set desName = destination_name %}
{% block title %}
    {% if get_tagvalue_bytag('Destino ' ~ destination.desName, lang_code, 'title') == false %}
        {{ 'DESTINATION_DETAILS' | trans ({'%destinationName%': desName}) }}
    {% else %}
        {{ get_tagvalue_bytag('Destino ' ~ destination.desName, lang_code, 'title')|raw }}
    {% endif %}
{% endblock %}


{% set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_DESTINATIONS') %}

 {% block metas %}
     {{ get_metas('Destino ' ~ destination.desName, lang_code)|raw }}
 {% endblock metas %}

{% set main_tab = 2 %}
{% block content_nav_top_body %}
    {{"SEARCH_DESCRIPTION_MAIN_MENU" | trans}}
{% endblock %}
{% block marquesina %}{% endblock %}

{% block class_breadcrumbs %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block body %}


    <div class="container">
        <div id="main-search " class="d-none">
            {{ render(controller('FrontEndBundle:Ownership:orangeSearchBar')) }}

        </div>
        <div class="row">
        <div class="col-md-6 mb-1">

            <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    {% for photo in  gallery_photos %}
                        <li data-target="#carousel-example-1z" data-slide-to="{{ loop.index }}" class="{% if loop.index==1 %}active{% endif %}"></li>
                    {% endfor %}

                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    {% for photo in  gallery_photos %}
                        <div class="carousel-item {% if loop.index==1 %}active{% endif %}">
                            {% set img_url= asset('uploads/destinationImages/'~photo) %}
                            <img class="d-block w-100 h-100" src="{{ img_url |  apply_filter('my_thumb_destination') }}" data-src="{{  img_url }}" alt="{{ loop.index }} slide">
                        </div>
                    {% endfor %}


                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->


        </div>
        <div class="col-md-6 mb-1" style="background-image: url({{ asset('bundles/frontend/img/background2.jpg') }}); visibility: visible; animation-name: fadeIn;">

            <!-- Content -->
            <div class="card-body text-white ">

                <h1 class="mb-4">
                    <strong>{{ desName }}</strong>
                </h1>

                <div class="mb-4 scroll">
                    <strong>{{ description | raw }}</strong>
                </div>
                <div class="text-center">
                <a  href="{{ path('frontend_search_ownership',{'text':desName|urlNormalize})}}"  class="btn btn-outline-white btn-lg waves-effect waves-light">

                    <i class="fa fa-search ml-2"> {{ 'KEEP_SEARCHING'|trans }}</i>
                </a>
                </div>
            </div>
            <!-- Content -->
        </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-3">
                <div id="accordion2" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                {{ "POPULAR_DESTINATIONS_HOME_TABS" | trans }}
                            </a>
                        </div>
                        <div class="accordion-body collapse in" id="collapseOne">
                            <div class="accordion-inner">
                                {% for destination in popular_list %}
                                    <a href="{{ path('frontend_details_destination',{'destination_name':popular_destinations_for_url[destination.des_id]}) }}">{{ destination['des_name'] }}</a><br/>

                                {% else %}
                                    <div class="alert a alert-info">{{ "EMPTY_LIST" | trans }}</div>
                                {% endfor %}
                                {% if popular_list |length %}
                                    <a class="fontsize_10" href="{{ path('frontend_list_destinations') }}">{{ "SEEMORE_LINK_TEXT" | trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                {{ "MORE_IN_DETAILS" | trans }} {{ location_municipality }}
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseTwo">
                            <div class="accordion-inner">
                                {% for destination in other_destinations_in_municipality %}
                                    <a href="{{ path('frontend_details_destination',{'destination_name':other_destinations_in_municipality_for_url[destination.desid]}) }}">{{ destination.desname }}</a><br/>

                                {% else %}
                                    <div class="alert a alert-info">{{ "EMPTY_LIST" | trans }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                {{ "MORE_IN_DETAILS" | trans }} {{ location_province }}
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseThree">
                            <div class="accordion-inner">
                                {% for destination in other_destinations_in_province %}
                                    <a href="{{ path('frontend_details_destination',{'destination_name':other_destinations_in_province_for_url[destination.desid]}) }}">{{ destination.desname }}</a><br/>                        {% else %}
                                    <div class="alert a alert-info">{{ "EMPTY_LIST" | trans }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                {{ "ALL_PROVINCES" | trans }}
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseFour">
                            <div class="accordion-inner">
                                {% for province in provinces %}
                                    <a href="{{ path('frontend_search_ownership',{'text':provinces_for_url[province.provid]})}}">{{ province.provName }}</a><br/>
                                {% else %}
                                    <div class="alert a alert-info">{{ "EMPTY_LIST" | trans }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {{ include('FrontEndBundle:favorite:detailsFavorite.html.twig',
                {'is_in_favorite': is_in_favorite,
                    'favorite_type': 'destination',
                    'element_id':destination.desid
                }) }}
                <a href="#send_to_friend_popup" title="{{ 'SEND_TO_FRIEND' | trans }}" data-toggle="modal" style="text-decoration: none">
                    <button style="margin-top: 15px" class="btn btn-default btn-block" onclick="$('#send_to_friend_popup').attr('data-email-type', 'recommend_destiny'); $('#send_to_friend_popup').attr('data-dest-prop-id', '{{ destination.getDesId }}');">
                        <img src="{{ asset('bundles/frontend/img/main_to_friend.gif') }}" alt="{{ "TELL_A_FRIEND" | trans }}">{{ "TELL_A_FRIEND" | trans }}
                    </button>
                </a>
            </div>
            <div class="col-sm-9">
                <a name="#nearby"></a>
                {% if owns_nearby | length %}

                    <div class="bg-solid-blue-bar" style="margin-top: 0">
                        <div class="row">
                            <div class="col text-center">
                                <h2 class="text-white caecilia-roman">
                                    {{ 'NEARBY_HOUSES_DETAILS' | trans }}
                                </h2>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="myModalOwnerShipCalendar"  tabindex="-1" role="dialog"  aria-hidden="true" role="dialog" >
                        <div class="modal-dialog modal-lg "  role="document" style="width: auto">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" >{{ 'RESERVATION_RESERVE' | trans }}</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                                    {#<h4 class="modal-title">{{ 'RESERVATION_RESERVE' | trans }}</h4>#}
                                    {#<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>#}
                                </div>
                                <div class="modal-body">

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'CANCEL' | trans }}</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="near_houses_container" class="houses-list scroll" data-url="{{ path('frontend_nearby_destination',{'destination_name': destination.desname | lower | replace(" ", "-"),'destination_id': destination.desid }) }}">
                        {{ include('FrontEndBundle:destination:detailsOwnsNearByDestination.html.twig',
                        {'owns_nearby': owns_nearby,
                            'destination_name': destination.desname | lower | replace(" ", "-"),
                            'destination_id': destination.desid,
                            'data_view' : data_view }) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <br/>


    </div>
    {% block include_javascripts %}
        <script>


            function initJSTwig() {


                $('.scroll').slimScroll({
                    height: 400+'px',
                    start: 'top',
                    allowPageScroll: true
                })




            }
        </script>
        {{ include('FrontEndBundle:script:script.html.twig') }}
    {% endblock %}
{% endblock %}
