{%if owns_nearby | length%}
<div class="blue_nav_tools row-fluid">
    <div class="tool">{{"VISUALIZE" | trans}} 1 x
        <div class="btn-group">
            <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <label class="inline_label" id="items_per_page">{{app.session.get("destination_details_show_rows")}}</label>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="details_items_per_page {%if app.session.get('destination_details_show_rows') == 2%}active{%endif%}" data-content-value="2"><a>2</a></li>
                <li class="details_items_per_page {%if app.session.get('destination_details_show_rows') == 3%}active{%endif%}" data-content-value="3"><a>3</a></li>
                <li class="details_items_per_page {%if app.session.get('destination_details_show_rows') == 4%}active{%endif%}" data-content-value="4"><a>4</a></li>
            </ul>
        </div></div>
    <div class="tool">
        <div class="paginator-cont">
            {{ simple_paginator_render('frontend_details_destination',null,{
            'container_class': 'paginator_orange',
            'previousPageText': '«',
            'nextPageText': '»',
            'currentClass': 'current',
            'firstPageText': 'FIRST_PAGE' | trans,
            'lastPageText': 'LAST_PAGE' | trans,
            'route_params': {'destination_name':destination_name}
            }) }}
        </div>
    </div>
    <div class="tool"> 
        {{ include('frontEndBundle:utils:netSocials.html.twig') }}
    </div>
</div>
<div class="row-fluid result_list ownerships_list" id="div_result">
    {{ include('frontEndBundle:ownership:ownershipArrayItemList.html.twig',
         {'list': owns_nearby,
          'list_preffix' : 'own_nearby',
          'is_in_favorites_list': false
          }) 
    }}      
</div>
{%endif%}