{%for destination in popular_places%}
<div class="item">
    <div class="row-fluid">
    <div class="span2">
        <a title="{{"MORE_INFO_PREFFIX" | trans}} {{destination.desName}}" href="{{ path('frontend_details_destination',{'destination_id':destination.desid}) }}">
            <img class="img-polaroid" src="{{ asset("uploads/destinationImages/" ~ popular_places_photos[destination.desid])}}"/>
        </a>
        {{popular_places_location[destination.desid]}}
    </div>
    <div class="span10">
        <a title="{{"MORE_INFO_PREFFIX" | trans}} {{destination.desName}}" href="{{ path('frontend_details_destination',{'destination_id':destination.desid}) }}">{{destination.desName}}</a>
        <p>{{popular_places_description[destination.desid].deslangbrief |striptags}}</p>
    </div>
    </div>

</div>
{%else%}
<div class="noData">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}
