{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"POPULAR_DESTINATIONS_PAGE_TITLE" | trans}}
{% endblock %}

{% block include_javascripts_and_css %}
<link href="{{ asset('bundles/frontend/css/royalslider.css') }}" rel="stylesheet" >
<link href="{{ asset('bundles/frontend/css/rs-default.css') }}" rel="stylesheet" >
<script src="{{ asset('bundles/frontend/js/jquery.royalslider.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/destinations.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#full-width-slider').royalSlider({
            arrowsNav: true,
            loop: false,
            keyboardNavEnabled: true,
            imageScaleMode: 'fill',
            arrowsNavAutoHide: false,
            autoScaleSlider: true,
            autoScaleSliderWidth: 1466,
            autoScaleSliderHeight: 350,
            controlNavigation: 'bullets',
            thumbsFitInViewport: false,
            navigateByClick: true,
            startSlideId: 0,
            autoPlay: false,
            transitionType:'move',
            globalCaption: false,
            deeplinking: {
                enabled: true,
                change: false
            }
        });
    });
</script>
{% endblock %}
{% set main_tab = 2 %}

{% block body %}
<div class="container cont-form">
<div id="main-search-2">
    {% render "frontEndBundle:ownership:orangeSearchBar" %}
</div>
</div>

<div class="container">
    <h1 class="caecilia-roman text-center h-grey h-size-1">{{"HOMEPAGE_SUBTITLE_2" | trans}}</h1>
    <div>
        <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
            <div class="rsContent"><img class="rsImg" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}" alt="" /></div>
            <div class="rsContent"><img class="rsImg" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/2.jpg') }}" alt="" /></div>
        </div>
    </div>
    <h1 class="caecilia-roman text-center h-orange h-size-2">{{"MAIN_CUBAN_DESTINATIONS" | trans}}</h1>
    <hr/>
    {% set flag = 0%}
{%for destination in main_destinations%}
   {% if flag == 0 %}
    <div class="row thumbs-houses thumbs-destination">
   {% endif %}
       <div class="col-sm-4">
           <table class="col-sm-12">
               <tr>
                   <td class="full-width">
                       <a href="{{ path('frontend_details_destination',{'destination_name':destination[0].desName|lower|replace(' ','_')}) }}">
                       <img class="thumbnail full-width" src="{{ asset("uploads/destinationImages/thumbnails/" ~ (destination['photo'])) }}"/>
                       </a>
                   </td>
                   <td>
                       <div class="square-grey-cont">
                           <div class="cont">
                               {{"DES_POBLATION" | trans}}<br/><b>{{ destination[0].desPoblation }}</b>
                           </div>
                       </div>
                       <div class="square-grey-cont">
                           <div class="cont">
                               {{"DES_REF_PLACE" | trans}}<br/><b>{{ destination[0].desRefPlace | slice(0, 20)}}</b>
                           </div>

                       </div>
                   </td>
               </tr>
           </table>
           <a href="{{ path('frontend_details_destination',{'destination_name':destination[0].desName|lower|replace(' ','_')}) }}">
           <h1 class="h-blue">{{destination[0].desName}}</h1>
           </a>
           {{(destination[1] != null or destination[1] != "") ? (destination[1] | slice(0,200) | striptags) : ""}}            
{%if (destination[1] == null)%}
                    {%for i in 1..250%}
                        &nbsp;
                    {%endfor%}
            {%else%}
                    {%if destination[1] | length < 250%}
                     {%for i in 1..(250 - (destination[1] | length))%}
                        &nbsp;
                     {%endfor%}
                     {%else%}...
                    {%endif%}
            {%endif%}        
           <div class="row margin-t-t">
               <div class="col-xs-8">
                   {{ include('frontEndBundle:favorite:itemFavorite.html.twig', 
                        {'is_in_favorite': destination.is_in_favorites,
                         'favorite_type': 'destination',
                         'element_id':destination[0].desId,
                         'list_preffix' : 'destination_list',
                         'include_text': true
                         }) }}
               </div>
               <div class="col-xs-4 text-right">
                   <a href="{{ path('frontend_details_destination',{'destination_name':destination[0].desName|lower|replace(' ','_')}) }}">
                   <small>{{'RESERVATION_CONFIRM_DESTINATION_MORE' | trans | lower}} <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-medium icon-more"/></small>
                   </a>
               </div>
           </div>
           <hr/>
           <div class="text-right">
               <h4><small>{{'RESERVATION_CONFIRM_DESTINATION_OWNS_AVAILABLE' | trans}} </small><b>{{destination.count_ownership}}</b></h4>
           </div>

       </div>
  {% set flag = flag + 1 %}
{% if flag == 3%}
{% set flag = 0%}
    </div>
   {% endif%}
{%else%}
    <div class="noData">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}
{% if flag != 0%}
</div>
{% endif %}
    
    <div class="bg-gradient-green-bar"><h1 class="caecilia-roman h-white text-center">{{'FIND_DESTINATIONS_BY_PROVINCES' | trans}}</h1></div>
    <div>Mapa</div>
    <br/>
    {% render 'frontEndBundle:public:home_carrousel' %}
</div>




{% endblock %}