{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"POPULAR_DESTINATIONS_PAGE_TITLE" | trans}}
{% endblock %}

{% block include_javascripts_and_css %}
<link href="{{ asset('bundles/frontend/css/royalslider.css') }}" rel="stylesheet" >
<link href="{{ asset('bundles/frontend/css/rs-default.css') }}" rel="stylesheet" >
<script src="{{ asset('bundles/frontend/js/jquery.royalslider.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/destinations.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#full-width-slider').royalSlider({
            arrowsNav: true,
            loop: false,
            keyboardNavEnabled: true,
            imageScaleMode: 'fill',
            arrowsNavAutoHide: false,
            autoScaleSlider: true,
            autoScaleSliderWidth: 1466,
            autoScaleSliderHeight: 350,
            controlNavigation: false,
            thumbsFitInViewport: false,
            navigateByClick: true,
            startSlideId: 0,
            autoPlay: false,
            transitionType:'move',
            globalCaption: false,
            deeplinking: {
                enabled: true,
                change: false
            }
        });
    });
</script>
{% endblock %}
{% set main_tab = 2 %}

{% block body %}
<div class="container cont-form">
<div id="main-search-2">
    {% render "frontEndBundle:ownership:orangeSearchBar" %}
</div>
</div>

<div class="container">
    <h1 class="caecilia-roman text-center h-grey h-size-1">{{"HOMEPAGE_SUBTITLE_2" | trans}}</h1>   
    <div id="full-width-slider" class="royalSlider rsDefault">
        <img class="rsImg" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}" alt="" />
        <img class="rsImg" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/2.jpg') }}" alt="" />
    </div>    
    <h1 class="caecilia-roman text-center h-orange h-size-2">{{"MAIN_CUBAN_DESTINATIONS" | trans}}</h1>
    <hr/>
    {% set flag = 0%}
{%for destination in main_destinations%}
   {% if flag == 0 %}
    <div class="row thumbs-houses thumbs-destination">
   {% endif %}
       {{ include('frontEndBundle:destination:destinationItem.html.twig',{
                        'des_name': destination[0].desName,
                        'des_photo': destination['photo'],
                        'des_poblation': destination[0].desPoblation,
                        'des_refPlace': destination[0].desRefPlace,
                        'des_description': destination[1],
                        'is_in_favorite':destination.is_in_favorites,
                        'des_id': destination[0].desId,
                        'des_count_owns': destination.count_ownership }) }}
  {% set flag = flag + 1 %}
{% if flag == 3%}
{% set flag = 0%}
    </div>
   {% endif%}
{%else%}
    <div class="noData">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}
{% if flag != 0%}
</div>
{% endif %}
    
    <div class="bg-gradient-green-bar"><h1 class="caecilia-roman h-white text-center">{{'FIND_DESTINATIONS_BY_PROVINCES' | trans}}</h1></div>
    <div>Mapa</div>
    <br/>
    {% render 'frontEndBundle:public:home_carrousel' %}
</div>




{% endblock %}