<nav role="navigation" class="navbar-default navbar-static-side">
<div class="sidebar-collapse">
<ul id="side-menu" class="nav metismenu" style="line-height: 0">
<li class="active">
    <a class="bluemenu-bb"><span class="nav-label">{{"dashboard.admin" | trans}}</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse in" style="line-height: 0.9">
        <li><a class="ajaxify" data-class="profile-agency" data-href="{{ path('partnet_dashboard_profile_agency') }}">{{"dashboard.profile" | trans}}</a></li>
        {#<li><a class="ajaxify" data-href="#">{{"dashboard.user" | trans}}</a></li>#}
    </ul>
</li>
<li class="active">
    <a class="bluemenu-bb"><span class="nav-label">{{"dashboard.booking" | trans}}</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse" style="line-height: 0.9">
        {#<li><a class="ajaxify" data-action="proccess" data-href="{{ path('partner_dashboard_booking_proccess') }}"> {{"dashboard.booking.proccess" | trans}} </a></li>#}
        <li><a class="ajaxify" data-action="pending" data-href="{{ path('partner_dashboard_booking_pending') }}"> {{"dashboard.booking.pending" | trans}} </a></li>
        <li><a class="ajaxify" data-action="availability" data-href="{{ path('partner_dashboard_booking_availability') }}">{{"dashboard.booking.availability" | trans}}</a></li>
        <li><a class="ajaxify" data-action="notavailability" data-href="{{ path('partner_dashboard_booking_notavailability') }}">{{"dashboard.booking.notavailability" | trans}}</a></li>
        <li><a class="ajaxify" data-action="reserved" data-href="{{ path('partner_dashboard_booking_reserved') }}">{{"dashboard.booking.reserved" | trans}}</a></li>
        <li><a class="ajaxify" data-action="beaten" data-href="{{ path('partner_dashboard_booking_beaten') }}">{{"dashboard.booking.beaten" | trans}}</a></li>
        <li><a class="ajaxify" data-action="canceled" data-href="{{ path('partner_dashboard_booking_canceled') }}">{{"dashboard.booking.canceled" | trans}}</a></li>
        <li><a class="ajaxify" data-action="checkin" data-href="{{ path('partner_dashboard_booking_checkin') }}">{{"dashboard.booking.checkin" | trans}}</a></li>
    </ul>
</li>
{#<li>
    <a href="layouts.html" class="bluemenu-bb"><span class="nav-label">{{"dashboard.payment" | trans}}</span></a>
</li>#}
</ul>

</div>
</nav>