<li class="{{ activeClass('my_casa_module_reservations') }}{{ activeClass('my_cp_casa_module_calendar') }}{{ activeClass('my_casa_module_clients') }}">
    <a href="#" class="normal"><span class="nav-label">{{ "pa_pending" | trans }}</span></a>
</li>
<li class="{{ activeClass('my_casa_module_comments') }}">
    <a href="#" class="normal"><span class="nav-label">{{ "pa_available" | trans }}</span></a>
</li>
<li class="{{ activeClass('show_casa') }}{{ activeClass('show_description') }}{{ activeClass('show_room') }}{{ activeClass('show_facilities') }}{{ activeClass('casa_show_photos') }}">
    <a href="#" class="normal"><span class="nav-label">{{ "pa_payed" | trans }}</span></a>
</li>
<li class="{{ activeClass('show_user_profile') }}">
    <a href="#" class="normal"><span class="nav-label">{{ "pa_cancelled" | trans }}</span></a>
</li>
<li class="{{ activeClass('show_user_profile') }}">
    <a href="#" class="normal"><span class="nav-label">{{ "pa_outdated" | trans }}</span></a>
</li>