<div class="navbar-wrapper">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('frontend_partner_home') }}"><img class="icon tiny-lang-icon" src="{{ asset('bundles/partner/img/icon/mycasapartner.png')}}" alt="{{"label.home" | trans}}" style="margin-top: 7px" width="200px"/></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#page-top" class="page-scroll">{{ 'label.how_work'|trans }}</a></li>
                    {% if app.request.get('_route') %}
                        {{ render_esi(url('frontend_partner_navbar', { 'route': app.request.get('_route'), 'routeParams': app.request.get('_route_params')|json_encode|url_encode })) }}
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        # This user entered their credentials THIS session
                    {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        # User logged in via a cookie (ie: Auth again before doing sensitive things)
                    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        # This is a `guest` or anonymous user
                    {% endif %}
                    {% if app.user.getUserUserName is defined %}
                        <li>
                            <a href="{{ path('frontend_partner_logout') }}">
                                <i class="fa fa-sign-out"></i> {{ 'page.logout' | trans }}
                            </a>
                        </li>
                    {% else %}
                        <li><a id="login-overlay" data-overlay="#overlay-login" class="page-scroll">{{ 'label.login'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>