{% extends 'LayoutBundle:Layout:layout_partner_backend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock stylesheets %}
{% block carousel %}

{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="for-header-pages">
            <h1>Reserva la casa particular que tus clientes prefieren en Cuba.</h1>
            <h2>Consulta todos los detalles del alojamiento.</h2>
        </div>
    </div>
    <div class="col-sm-12 for-body-page-detail">
        <div class="row">
            <div class="col-sm-12 for-body-page-detail-tab">
                <div class="col-sm-4"><a href="">Detalles de la casa</a></div>
                <div class="col-sm-4"><a href="">Detalles de la casa</a></div>
                <div class="col-sm-4"><a href="">Detalles de la casa</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 for-body-page-detail-tab-content">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="for-accomodation-main-image">
                            <img class="img-responsive" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 for-accomodation-main-image-thumb">
                            <ul>
                                <li>
                                    <a href=""><img class="img-responsive" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}"></a>
                                </li>
                                <li>
                                    <a href=""><img class="img-responsive" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}"></a>
                                </li>
                                <li>
                                    <a href=""><img class="img-responsive" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}"></a>
                                </li>
                                <li>
                                    <a href=""><img class="img-responsive" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}"></a>
                                </li>
                                <li>
                                    <a href=""><img class="img-responsive" src="{{ asset('bundles/frontend/img/destiny_slide_imgs/1.jpg') }}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h2>Casa Particular En Guanabo La Casa De Elena</h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12"><span>La Habana, Habana del Este</span></div>
                                    <div class="col-sm-12"><span>Penthouse / 2 habitaciones</span></div>
                                    <div class="col-sm-12"><span>CH 1403</span></div>
                                    <div class="col-sm-6"><span>20.00 Euro</span><span>/noche</span></div>
                                    <div class="col-sm-4"><span>Premium</span></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-6">
                                    <div class="col-sm-12">Reserva Rapida</div>
                                    <div class="col-sm-12">5 Estrellas</div>
                                </div>
                                <div class="col-sm-4"><img src="{{ asset('apple-touch-icon.png') }}" /></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4"><button class="btn">Solicitar Casa</button></div>
                                <div class="col-sm-4"><button class="btn">Favoritos <i class="fa fa-star"></i></button></div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function () {

        });

    </script>
{% endblock %}