{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_albums') }}">Álbumes</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_category_album') }}">Categorías</a> <span class="divider">/</span></li>
    <li class="active">Adicionar categoría</li>
    <li class="pull-right"><a href="{{ path('mycp_list_category_album') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<div class="form-actions">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_category_album') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>Adicionar categoría</h2>
<hr/>
<form action="{{ path('mycp_new_category_album')}}" method="POST" novalidate='true'>

    {{form_widget(form)}}
    {{ form_rest(form) }}

{% endblock %}
