{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_albums') }}">Álbumes</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_category_album') }}">Categorías</a> <span class="divider">/</span></li>
    <li class="active">{% if edit_category is defined %}Editar categoría{% else %}Adicionar categoría{% endif %}</li>
    <li class="pull-right"><a href="{{ path('mycp_list_category_album') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_albums') }}">Álbumes</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_category_album') }}">Categorías</a> <span class="divider">/</span></li>
    <li class="active">{% if edit_category is defined %}Editar categoría{% else %}Adicionar categoría{% endif %}</li>
    <li class="pull-right"><a href="{{ path('mycp_list_category_album') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_category_album') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if edit_category is defined %}Editar categoría {{ name_category }}{% else %}Adicionar categoría{% endif %}</h2>
<hr/>
<form action="{% if edit_category is defined %}{{ path('mycp_edit_category_album',{'id_category':edit_category})}}{% else %}{{ path('mycp_new_category_album')}}{% endif %}" method="POST" novalidate='true'>

    {{form_widget(form)}}
    {{ form_rest(form) }}

{% endblock %}
