{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_albums') }}">Álbumes</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_photos_album',{'id_album':id_album })}}">Fotografías</a> <span class="divider">/</span></li>
    <li class="active">Adicionar fotografía</li>
    <li class="pull-right"><a href="{{path('mycp_list_photos_album',{'id_album':id_album}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_albums') }}">Álbumes</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_photos_album',{'id_album':id_album })}}">Fotografías</a> <span class="divider">/</span></li>
    <li class="active">Adicionar fotografía</li>
    <li class="pull-right"><a href="{{path('mycp_list_photos_album',{'id_album':id_album}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn" href="{{path('mycp_list_photos_album',{'id_album':id_album}) }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>Álbumes (Fotografías '{{album.getAlbumName}}')</h2>
<hr/>
{% if errors is defined and errors or data['error'] is defined %}<label class="alert alert-error">Debe llenar el formulario correctamente.</label>{%endif%}
<form action="{{ path('mycp_new_photos_album',{'id_album':id_album}) }}" method="POST" enctype="multipart/form-data">
    {% if data['error'] is defined %}<label class="error">{{ data['error'] }}</label>{% endif %}
    <input title="Seleccionar fichero..." type="file" name="images[files][]" multiple='multiple' accept="image/*"/>
<br/><br/>
    <h3 class="title">Descripción breve</h3>
    {% for language in data['languages'] %}
    <label>{{language.lang_name |title}}:</label>
    {%if errors["description_"~language.lang_id] is defined %}<label class="error">{{errors["description_"~language.lang_id]|trim(':')}}</label>{%endif%}
    <input type="text" class="span12 textarea" name="description_{{language.lang_id}}" value="{%if post["description_"~language.lang_id] is defined %}{{post["description_"~language.lang_id]}}{%endif%}"><br/>
    {% endfor %}
{% endblock %}
    {% block javascripts %}
        {% javascripts
        '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
        filter='?uglifyjs2'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}