<html>
<head>
<title>{{ 'Cuenta de Agencia Desactivada' | trans }}</title>
</head>
<body>
<h4 style="font-family: Arial; font-size: 20px">{{ 'Agencia Desactivada' | trans }}: {{ agency.name }}</h4>
<p style="font-family: arial; font-size: 14px">
    {{ 'La agencia' }}: {{ agency.name }} {{ 'ha sido desactivada' | trans }}
</p>
</body>
</html>