<h1 style='font-size: 20px'>Solicitud de cambios en propiedad {{  ownership_mcp }} por su propietario</h1>
<p style="font-size: 12px">El Sr(a). {{ owner_name }}, con numero de teléfono {{ owner_phone }}, con numero de celular {{ owner_mobile }}
y email {{ owner_email }} ha solicitado los siguientes cambios en su propiedad con nombre {{ ownership_name}} y código MCP {{ ownership_mcp }}
ha solicitado los siguientes cambios:<br/> {{ message_for_change }}</p>
