{% extends 'mycpBundle:layout:base.html.twig' %}
{% block title %}¿Olvidó clave?{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{ path("backend_login") }}">Inicio</a> <span class="divider">/</span></li>
        <li class="active">¿Olvidó clave?</li>
    </ul>
{% endblock %}
{% block body %}
    <div class="row-fluid ">

        <div class="span6 offset3">
            <div class="well ">
                <h2 class="form">¿Olvidó clave?</h2>
                <hr/>
                {% for message in app.session.flashbag.get('message_ok') %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
                {% for error in app.session.flashbag.get('message_error') %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            <form novalidate class="form-horizontal" action="{{ path("mycp_forget_password") }}" method="post">
                <div class="control-group">
                    <label class="control-label">{{ form_label(form.user_name) }}</label>
                    <div class="controls">
                        {{ form_widget(form.user_name) }}
                        {{ form_errors(form.user_name) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ form_label(form.user_email) }}</label>
                    <div class="controls">
                        {{ form_widget(form.user_email) }}
                        {{ form_errors(form.user_email) }}
                    </div>
                    {{ form_rest(form)}}
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" type="submit">Resetear mi clave</button>
                    </div>
                </div>
            </form>
                </div>
            </div>

        </div>
{%endblock%}
