{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="#">Perfil</a> <span class="divider">/</span></li>
    <li class="active">Editar usuario</li>
</ul>
{% endblock %}
{% block helpContent %}
    <p>En esta sección podrá cambiar su contraseña para autenticarse en el Módulo Casa. Además, podrá  modificar su foto de usuario. La foto de usuario que seleccione, aparecerá como foto del propietario en la página de su propiedad en nuestro sitio. Para salvar los cambios dé clic sobre el botón "Guardar".</p>
    {% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="#">Perfil</a> <span class="divider">/</span></li>
    <li class="active">Editar usuario</li>
</ul>
<div class="form-actions">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_lodging_front') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>Perfil de usuario</h2>
<hr/>
{% if data['error'] is defined %}<div class="alert alert-error">{{data['error']}}</div>{%endif%}
<form class="sfgen"  method="POST" action="{{ path('mycp_lodging_update_user',{'id_user':edit_user}) }}" novalidate="true" enctype="multipart/form-data">
    {% if edit_user is defined%}
        {{ render(controller('mycpBundle:BackendUser:getUserPhotoPath', {'userId': edit_user})) }}
    {% endif %}
    <div class="row-fluid">
        <div class="span3"><div><label for="user_photo" class="required">Foto del Propietario:</label><input type="file" id="user_photo" name="user_photo" required="required" title="Seleccionar fichero..." accept="image/*" /></div></div>
    </div>
    <div class="row-fluid">
        <div class="span4"><label for="user_password" class="required">Nueva Clave:</label>    <input type="password" id="user_password" name="user_password" required="required" placeholder="Mantener la anterior" /></div>
        <div class="span4"><label for="user_repeat_password" class="required">Repetir Nueva Clave:</label>    <input type="password" id="user_repeat_password" name="user_repeat_password" required="required" placeholder="Mantener la anterior"/></div>
    </div>

    <script type="text/javascript">
        $('.sfgen input').addClass('input-block-level')
        $('.sfgen select').addClass('input-block-level')
    </script>
    {% javascripts
    '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}