<h1 style='font-size: 20px'>Solicitud Transfer</h1>
<p style="font-size: 12px">El Sr(a). {{ tourist_name }} {{ tourist_last_name }}, con email {{ tourist_email }},
   esta solicitando un transfer de {{ origen }} hasta {{ destino }} para {{ pax }} personas en un vehiculo {{ transporte }}
   y  ha dejado los siguientes detalles el siguiente comentario: </p><br/><br/>
<p>
    {{ tourist_comment }}
</p>
<br/>
<h1 style='font-size: 20px'>Direccion Fecha Y Hora</h1>
<br/>
<span>Direccion:{{ direccion }}</span>
<br/>
<span>Fecha:{{ time }}</span>
<br/>
<span>Hora:{{ h }}</span>
<br/>
<span>Aereolinea:{{ airline }}</span>
<br/>
<span>Vuelo:{{ fly }}</span>