{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    {% stylesheets
    '@mycpBundle/Resources/public/css/zabuto/zabuto_calendar.min.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li class="active">Administración</li>
</ul>
{% endblock %}
{% block content %}
<h1 style="margin: 0 0 10px 0;">Bienvenido(a), {% if app.user.getUserUserName is defined %}{{app.user.getUserUserName}}{% else %}{{app.user.getUserName}}{% endif %}</h1>
<div class="row-fluid">
    <div class="span2 text-center">
        {% if photo %}
        <img src="{{ asset('uploads/userImages/')}}{{photo.getPhoName}}" class="img-polaroid span12"/>
        {% else %}
        <img src="{{ asset('bundles/frontend/img/user_no_photo.gif')}}" class="img-polaroid span12" />
        {% endif %}
        <br/>
        <a href="{{ path('mycp_lodging_edit_user')}}">Cambiar Foto</a>
    </div>
    <div class="span10">
        {{ render(controller('mycpBundle:Lodging:getRoomsMiniCalendar')) }}
    </div>
</div>
        <br/>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/zabuto/html5shiv.js'
    '@mycpBundle/Resources/public/js/zabuto/respond.min.js'
    '@mycpBundle/Resources/public/js/zabuto/zabuto_calendar.min.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var eventData = [
            {"date":"2015-11-01","badge":false,"title":"Example 1", "classname":"orangeTag"},
            {"date":"2015-11-02","badge":false,"title":"Example 2", "classname":"blueTag"},
            {"date":"2015-11-10","badge":false,"title":"Example 2", "classname":"redTag"}
        ];
        $(document).ready(function () {
            var urlAvailability = "{{ path('mycp_lodging_rooms_minicalendar_json_callback') }}";
            urlAvailability = urlAvailability.replace('/-1', '');
            $( ".roomMiniCalendar" ).each(function() {
                var idRoom = $(this).data("id");
                $( this ).zabuto_calendar({
                    language: "es",
                    show_previous: false,
                    show_next: false,
                    cell_border: true,
                    weekstartson: 0,
                    /*data: eventData,*/
                    ajax: {
                        url: urlAvailability + '/' + idRoom
                    }
                });
            });
            /*$(".roomMiniCalendar").zabuto_calendar({
                language: "es",
                show_previous: false,
                show_next: false,
                cell_border: true,
                weekstartson: 0,
                /*data: eventData,*/
                 /*ajax: {
                 url: urlAvailability + '/' + $(this).data("id")
                 }
            });*/
        });
    </script>

{% endblock %}
