{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_municipality') }}">Municipios</a> <span class="divider">/</span></li>
    <li class="active">{% if edit is defined %}Editar {% else %}Adicionar {% endif %}municipio</li>
    <li class="pull-right"><a href="{{ path('mycp_list_municipality') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_municipality') }}">Municipios</a> <span class="divider">/</span></li>
    <li class="active">{% if edit is defined %}Editar {% else %}Adicionar {% endif %}municipio</li>
    <li class="pull-right"><a href="{{ path('mycp_list_municipality') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_municipality') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if edit is defined %}Editar {% else %}Adicionar {% endif %}municipio</h2>
<hr/>
<form class="sfgen" enctype="multipart/form-data" method="POST" action="{% if edit is defined %}{{path('mycp_edit_municipality',{'id_municipality': id_municipality})}}{% else %}{{path('mycp_new_municipality')}}{% endif %}" novalidate="true">
<div class="row-fluid">
    <div class="span4">
        {{form_row(form.mun_name)}}
        {{form_row(form.mun_prov_id)}}
        {{form_rest(form)}}
    </div>
</div>
{% endblock %}
    {% block javascripts %}
        {% javascripts
        '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
        filter='?uglifyjs2'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}