{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Meta Tags</li>
</ul>
{% endblock %}
{% block content %}
<h2>Meta Tags</h2>
<hr/>

<br/><br/>
{% if metas %}
<div class="row-fluid">
    <div class="span5"><b>Sección</b></div>
    <div class="span4"><b>Sección Padre</b></div>
    <div class="span2" style="text-align:center"><b>Traducciones</b></div>
    <div class="span1" style="text-align: right"><b>Acciones</b></div>
</div>

<ul id="sortable" class="ui-sortable">
    {% set cont=0 %}
    {% for meta in metas %}
    <li id="{{meta.meta_id}}" {% if cont ==0 %}class="grey"{% set cont=1 %}{% else %}{% set cont=0 %}{% endif %}>
        <div class="row-fluid">
            <div class="span5">{{meta.meta_title}}</div>
            <div class="span4">{{meta.parent_title}}</div>
            <div class="span2" style="text-align:center">{% if meta.langs_total==0%}<span class="label label-important">Sin Traducir</span>{% else %} <span class="label label-success">{{meta.langs_total}}</span>{% endif %}</div>
            <div class="span1 actions actions2 no-margin">
                <a class="btn btn-mini" style="margin: 0" href="{{ path('mycp_edit_metatags',{'meta_id':meta.meta_id}) }}">Traducir</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
       <p> <div class="alert alert-block">No hay Meta Tags disponibles.</div></p>
{% endif %}
{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea eliminar el elemento?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% if metas %}
    {% javascripts
    '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.core.js'
    '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.widget.js'
    '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.mouse.js'
    '@mycpBundle/Resources/public/js/jquery.ui/jquery.ui.sortable.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function() {
            $( "#sortable" ).sortable({
                stop: function(event, ui) {

                    var result = $('#sortable').sortable('toArray');
                    //alert(result);
                    url = "{{ path('mycp_set_order_destination', { 'ids': '-1' }) }}";
                    url=url.replace('/-1','');
                    $.ajax({
                        type:"POST",
                        url:url + '/' + result,
                        success:function (msg) {
                        }
                    });
                }

            });
            $( "#sortable" ).disableSelection();
        });
    </script>
{% endif %}
{% endblock %}
