{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}
    {{"MyCasa Trip APP" | trans}}
{% endblock %}

{% block content_nav_top_body %}
   {# {{(("MyCasa Trip" | upper) ~ "_CONTENT") | trans}}#}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block include_javascripts_and_css %}
    <style>
        .paraf {
            font-family: "Myriad Pro";
            font-size: 18px;
        }

        .paraf_text {
            font-size: 18px;
            color: #1d1d1b;
        }

        h1,h2,h3,h4,h5 {
            font-family: "CaeciliaRoman";
            font-weight: 100;
        }

        .btn-green, .btn-green:hover, .btn-green:focus {
            background-color: #a1cb37;
            color: white;
            font-size: 16px;
            padding: 15px 20px;
            box-shadow: none;
            border-radius: 10px;
        }

        p>a, p>a:hover {
            color:#095075;
        }

        @media (max-width: 991px) {
            .text_center{
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block big_banner %}
    <div style="width: 100%">
        {#<h2 style="color: #095075;text-align: center;position: absolute;left:35%">{{ 'Descarga App My Casa Trip'|trans }}</h2>#}
        <img src="{{ asset('bundles/frontend/img/mycasatrip/b2_' ~ app.request.locale ~ '.png') }}" style="width: 100%" alt="{{"MyCp" | trans}}">
    </div>
{% endblock %}

{% block nav_heigth %}
{% endblock %}

{% block body %}
    <div class="container padding_l_r_0">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12" style="text-align: center">
                <p style="font-family: CaeciliaRoman;font-size: 18px">{{ 'mycasatrip_description'|trans }}</p>
            </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px;">
            <a href="{{ path('frontend_download_apptrip') }}">
                <img src="{{ asset('bundles/frontend/img/mycasatrip/nuebe.png') }}" alt="{{"Number" | trans}}">
            </a>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12  col-md-3" style="text-align: center">
                        <img src="{{ asset('bundles/frontend/img/mycasatrip/mapa.png') }}" alt="{{"Map" | trans}}">
                    </div>
                    <div class="col-xs-1   col-md-1 hidden-xs hidden-sm"></div>
                    <div class="col-xs-12  col-md-8">
                        <h2 class="text_center" style="color: #095075;">{{ 'mycasatrip_location'|trans }}</h2>
                        <p class="paraf_text text_center">{{ 'mycasatrip_location_text'|trans }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12  col-md-3" style="text-align: center">
                        <img src="{{ asset('bundles/frontend/img/mycasatrip/movil.png') }}" alt="{{"Movil" | trans}}">
                    </div>
                    <div class="col-xs-1   hidden-xs hidden-sm"></div>
                    <div class="col-xs-12  col-md-8">
                        <h2 class="text_center" style="color: #095075;">{{ 'mycasatrip_optimization'|trans }}</h2>
                        <p class="paraf_text text_center">{{ 'mycasatrip_optimization_text'|trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12  col-md-3" style="text-align: center">
                        <img src="{{ asset('bundles/frontend/img/mycasatrip/casa.png') }}" alt="{{"House" | trans}}">
                    </div>
                    <div class="col-xs-1   col-md-1 hidden-xs hidden-sm"></div>
                    <div class="col-xs-12  col-md-8">
                        <h2 class="text_center" style="color: #095075;">{{ 'RESERVATION_TITLE'|trans }}</h2>
                        <p class="paraf_text text_center">{{ 'mycasatrip_reservations_text'|trans }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12  col-md-3" style="text-align: center">
                        <img src="{{ asset('bundles/frontend/img/mycasatrip/icono-destino.png') }}" alt="{{"DESTINATION" | trans}}">
                    </div>
                    <div class="col-xs-1   hidden-xs hidden-sm"></div>
                    <div class="col-xs-12  col-md-8">
                        <h2 class="text_center" style="color: #095075;">{{ 'mycasatrip_accuracy'|trans }}</h2>
                        <p class="paraf_text text_center">{{ 'mycasatrip_accuracy_text'|trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-3 hidden-xs hidden-sm"></div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12  col-md-3" style="text-align: center">
                        <img src="{{ asset('bundles/frontend/img/mycasatrip/brujula.png') }}" alt="{{"Brujula" | trans}}">
                    </div>
                    <div class="col-xs-1   hidden-xs hidden-sm"></div>
                    <div class="col-xs-12  col-md-8">
                        <h2 class="text_center" style="color: #095075;">{{ 'mycasatrip_bearing'|trans }}</h2>
                        <p class="paraf_text text_center">{{ 'mycasatrip_bearing_text'|trans }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm"></div>
        </div>
    </div>


    {% block include_javascripts %}

    {% endblock %}
{% endblock %}

{% block footer_big %}
    <div class="banner_footer" style="text-align: center;margin-top: 50px">
        <a href="{{ path('frontend_download_apptrip') }}" class="btn btn-green"><i class="fa fa-download"></i> {{ 'DOWNLOAD_APP'|trans }}</a>

        <i class="hidden-xs hidden-sm" style="margin-left: 50px"></i>
        <a href="https://play.google.com/store/apps/details?id=hds.aplications.com.mycplight" target="_blank"><img src="{{ asset('bundles/frontend/img/google-play.png') }}" alt="{{"Google play" | trans}}"></a>
    </div>
{% endblock %}

{% block go_up %}
{% endblock %}
