{% set menu = 10 %}
{% extends 'FrontEndBundle:mycasatrip:layout.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}" title="MyCasa Trip">MyCasa Trip</a>
    <span>››</span>
    <a href="#" class="active" title="{{"CANCEL_OFFER" | trans}}">{{"CANCEL_OFFER" | trans}}</a>
{% endblock %}
{% block body_inner %}
    <div class="container">
        <div class="row-fluid">
        <h4>
            {{"CANCEL_OFFER_TEXT_1" | trans}} {{generalReservation.getCASId}}. {{"CANCEL_OFFER_TEXT_2" | trans}} {{initialPayment | price}}.
        </h4>
        <br/>
        </div>
       <form method="POST" action="{{ path('frontend_cancel_offer_callback',{'genResID' : generalReservation.genResId}) }}">
        <div class="row-fluid text-right">
            <a href="{{ path('frontend_mycasatrip_available') }}" class="btn btn-success" style="width: 150px; color: #ffffff">
                    {{"INITIAL_DEPOSIT" | trans}}</a>
                <button type="submit" class="btn btn-danger" style="width: 150px; color: #ffffff">
                    {{"CANCEL_OFFER" | trans}}</button>
        </div>
        </form>
        <hr/>
    {% for res in reservations %}
<div class="row no-margin">
    <div class="col-sm-3">
        <div data-text="&nbsp;&nbsp;&nbsp;{{res.ownResStatus | ownershipReservationStatusType | trans}}&nbsp;&nbsp;&nbsp;" class="thumbnail has-ribbon has-ribbon-left">
            {% if photos[loop.index0][0].getPhoName is defined %}
                <a href="{{ path('frontend_details_ownership',{'own_name':generalReservation.genResOwnId.ownName  | urlNormalize}) }}">
                    <img class="lazy" data-src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0][0]) }}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                    <noscript><img class="nolazy" src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0][0]) }}"></noscript>
                </a>
            {% else %}
                <a href="{{ path('frontend_details_ownership',{'own_name':generalReservation.genResOwnId.ownName  | urlNormalize}) }}">
                    <img class="lazy" data-src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                    <noscript><img class="nolazy" src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}"></noscript>
                </a>
            {% endif %}
        </div>
    </div>
        <div class="col-sm-6">
            <a href="{{ path('frontend_details_ownership',{'own_name':generalReservation.genResOwnId.ownName  | urlNormalize}) }}">
                <h1 class="h-blue">{{ generalReservation.genResOwnId.ownName }}</h1>
            </a>
            <small class="top">{{ generalReservation.genResOwnId.ownAddressProvince.provName|title }}, {{ generalReservation.genResOwnId.ownAddressMunicipality.munName |title }}
            <br/>{{res.ownResRoomType|trans}}<br/></small>
            <small class="top">{{"ADULTS" | trans}}: {{res.ownResCountAdults}}, {{"KIDS" | trans}}: {{res.ownResCountChildrens}}<br/></small>
            <small class="top">{{"FROM_PRICES" | trans}}: {{res.ownResReservationFromDate | date('d/m/Y')}} {{"TO_PRICES" | trans}}: {{res.ownResReservationToDate|date('d/m/Y')}}</small>
</div>
        <div class="col-sm-3 text-center">
            <h2 class="no-margin h-grey margin-t">
            {%if res.ownResNightPrice != 0%}
                {{(res.ownResNightPrice *(nights[loop.index0])) | price}}
                {%else%}
                    {{res.ownResTotalInSite | price}}
                {%endif%}
            </h2>
            <div>
                </div>
                <div style="margin-top: 10px">{{"ID_RESERVATION" | trans}}: <b>{{generalReservation.getCASId}}</b></div>
            </div>
        </div>
        <hr/>
{% else %}
        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{% endfor %}
    </div>

{% endblock %}
