{%if comment_type == "ownerships"%}
{%set menu = 9%}
{%endif%}
{% extends 'frontEndBundle:mycasatrip:layout.html.twig' %}
{% block body_inner %}
{%if comment_type == "ownerships"%}
<div class="row-fluid result_list ownerships_list" id="div_result">
    {%for comment in comments%}
        <div class="tab-pane user_comment fade in active" style="border:1px solid #ddd; padding: 3px; margin-bottom: 5px;">
                    <div class="row-fluid">
                        <div class="span2">                            
                            <label class="name">{{comment.comdate | date('d/m/Y')}}</label>
                            <div class="rating_star">
                                {%if comment.getComRate > 0%}
                                        {%for i in 1..comment.getComRate%}
                                    <img src="{{ asset('bundles/frontend/images/star_on.png')}}" align="absmiddle"/>
                                {%endfor%}
                                        {%endif%}

                                        {%if comment.getComRate < 5%}
                                        {%for i in 1..(5-comment.getComRate)%}
                                    <img src="{{ asset('bundles/frontend/images/star_off.png')}}" align="absmiddle"/>
                                    {%endfor%}
                                        {%endif%}
                            </div>
                        </div>
                        <div class="span10">
                           {{comment.getComComments}}
                        </div>
                    </div>
            </div>
    {%else%}
           <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>

                    {%endfor%}
                    {%if comments | length and total_items > items_per_page%}
                        <div class="text-center">
                        {{ simple_paginator_render('frontend_mycasatrip_comments',null,{
                        'container_class': 'pagination',
                        'previousPageText': '«',
                        'nextPageText': '»',
                        'currentClass': 'current',
                        'firstPageText': 'FIRST_PAGE' | trans,
                        'lastPageText': 'LAST_PAGE' | trans,
                        'route_params': {'comment_type':comment_type}
                    }) }}
                    </div>
                    {%endif%}     
</div>
{%endif%}
{% endblock %}