{%if comment_type == "ownerships"%}
{%set menu = 9%}
{%endif%}
{% extends 'frontEndBundle:mycasatrip:layout.html.twig' %}
{% block body_inner %}
{%if comment_type == "ownerships"%}
    {%for comment in comments%}

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="name">{{comment.comdate | date('d/m/Y')}}</label>
                            <div class="rating_star">
                                {%if comment.getComRate > 0%}
                                        {%for i in 1..comment.getComRate%}
                                    <img class="icon icon-2 tiny-star-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                                {%endfor%}
                                        {%endif%}

                                        {%if comment.getComRate < 5%}
                                        {%for i in 1..(5-comment.getComRate)%}
                                   <img class="icon icon-2 tiny-star-off-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                                    {%endfor%}
                                        {%endif%}
                            </div>
                        </div>
                        <div class="col-sm-10">
                           {{comment.getComComments}}
                        </div>
                    </div>
    {%else%}
           <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>

    {%endfor%}
                    {%if comments | length and total_items > items_per_page%}
                        <div class="text-center">
                        {{ simple_paginator_render('frontend_mycasatrip_comments',null,{
                        'container_class': 'pagination',
                        'previousPageText': '«',
                        'nextPageText': '»',
                        'currentClass': 'current',
                        'firstPageText': 'FIRST_PAGE' | trans,
                        'lastPageText': 'LAST_PAGE' | trans,
                        'route_params': {'comment_type':comment_type}
                    }) }}
                    </div>
                    {%endif%}
{%endif%}
{% endblock %}