{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_MYCASATRIP') %}
{% block title %}MyCasaTrip{% endblock %}
{% block body %}
<div  class="container">
 {% for message in app.session.flashbag.get('message') %}
  <div class="alert alert-info" style="margin-bottom: 10px">{{ message }}</div>
{% endfor %}

{% if menu is not defined %}
   {% set menu = 0 %}
   {% endif %}
    {{ render(controller('FrontEndBundle:Mycasatrip:getMenuCount', {'menu_selected': menu})) }}

{% block body_inner %}
   {% endblock %}
</div>
{% if app.session.get('app_lang_code')|lower =='de' or  app.session.get('app_lang_code')|lower =='en'%}
    <div class="tabbable" onclick="window.location='https://www.touristenkarte-kuba.de/?sPartner=mc';" style="background: url({{ asset('bundles/frontend/img/promo_'~app.session.get('app_lang_code')|lower)}}.jpg)  no-repeat scroll 50%;height: 300px;background-size: 100%;cursor: pointer">

    </div>
    {% else %}
        <div class="tabbable banner-dow" onclick="window.location='{{ path('frontend_mycasatrip_apps') }}';">
            <div id="div_b" style="float: right; vertical-align: middle; margin-right: 50px; margin-top: 55px">
                <h4>{{ 'find_reservations'|trans }}</h4>
                <h1>MyCasa Trip APP</h1>
            </div>

        </div>
{% endif %}

<script>

</script>

</div>

{% endblock %}
