<div class="row myct-menu">
<a href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}"><div class="col-sm-4 {% if menu == 1 or menu == 2 %}active{% endif %}" style="width: 20%"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services eye-icon"> {{"CONSULTS" | trans}}</div></a>
<a href="{{ path('frontend_mycasatrip_payment') }}"><div class="col-sm-4 {% if menu == 3 or menu == 4 %}active{% endif %}" style="width: 20%"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services flag-icon"> {{"RESERVES" | trans}}</div></a>
<a href=""><div class="col-sm-4" style="width: 20%"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services graph-icon"> {{"HISTORY" | trans}}</div></a>
<a href="{{ path('frontend_mycasatrip_favorites', {'favorite_type':'ownerships'}) }}"><div class="col-sm-4 {% if menu == 7 or menu == 8 %}active{% endif %}" style="width: 20%"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services heart-3-icon"> {{"FAVORITIES" | trans}}</div></a>
<a href="{{ path('frontend_mycasatrip_comments', {'comment_type':'ownerships'}) }}"><div class="col-sm-4 {% if menu == 9 %}active{% endif %}" style="width: 20%"><img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services persons-icon"> {{"FORMS_COMMENTS" | trans}}</div></a>
</div>
<div class="tabbable">
        <ul class="nav nav-tabs">
            {%if menu == 1 or menu == 2%}
            <li class="{% if menu == 1 %}active{% endif %}"><a href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}">{{"RESPONSE_PENDING" | trans}} ({{counts['pending']}})</a></li>
            <li class="{% if menu == 2 %}active{% endif %}"><a href="{{ path('frontend_mycasatrip_available', {'order_by':0}) }}"><i class="icon-home"></i> {{"DISPONIBILITY" | trans}} ({{counts['available']}})</a></li>
            {%endif%}

            {%if menu == 3 or menu == 4%}
            <li class="{% if menu == 3 %}active{% endif %}"><a href="{{path('frontend_mycasatrip_payment') }}">{{"RESERVED" | trans}} ({{counts['reserve']}})</a></li>
            <!--li class="{% if menu == 4 %}active{% endif %}"><a href="{{ path('frontend_mycasatrip_payment') }}"><i class="icon-home"></i> {{"PAYMENT_CONFIRM_2" | trans}} ({{counts['payed']}})</a></li-->
            {%endif%}

            {%if menu == 7 or menu == 8%}
            <li class="{% if menu == 7 %}active{% endif %}"><a href="{{ path('frontend_mycasatrip_favorites', {'favorite_type':'ownerships'}) }}"><i class="icon-home"></i> {{"OWNERSHIPS" | trans}} (<span id="total_fav_own">{{counts['favorites_ownerships']}}</span>)</a></li>
            <li class="{% if menu == 8 %}active{% endif %}"><a href="{{ path('frontend_mycasatrip_favorites', {'favorite_type':'destinations'}) }}">{{"DESTINATIONS" | trans}} (<span id="total_fav_dest">{{counts['favorites_destinations']}}</span>)</a></li>
            {%endif%}
        </ul>