<ul class="nav nav-pills nav-fill myct-menu">
    <li class="nav-item {% if menu == 1 or menu == 2 %}active{% endif %}">
        <a   href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}" class="nav-link ">

            <div class="col" >
                <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services eye-icon" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/>
                <br/>{{"CONSULTS" | trans}}
            </div>
        </a>

    </li>
    <li class="nav-item {% if menu == 3 or menu == 4 %}active{% endif %}">
        <a   href="{{ path('frontend_mycasatrip_payment') }}" class="nav-link " >

            <div class="col" >
                <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services flag-icon" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/>
                <br/>{{"RESERVES" | trans}}
            </div>
        </a>

    </li>
    <li class="nav-item {% if menu == 5 or menu == 6 %}active{% endif %}">
        <a   href="{{ path('frontend_mycasatrip_historial_consult', {'order_by':0}) }}" class="nav-link ">

            <div class="col" >
                <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services graph-icon" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/>
                <br/>{{"HISTORY" | trans}}
            </div>
        </a>

    </li>
    <li class="nav-item {% if menu == 7 or menu == 8 %}active{% endif %}">
        <a   href="{{ path('frontend_mycasatrip_favorites_accomodations') }}" class="nav-link " >

            <div class="col" >
                <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services heart-3-icon" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/>
                <br/>{{"FAVORITIES" | trans}}
            </div>
        </a>

    </li>
    <li class="nav-item {% if menu == 9 %}active{% endif %}">
        <a   href="{{ path('frontend_mycasatrip_comments', {'comment_type':'ownerships'}) }}" class="nav-link " >

            <div class="col" >
                <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon-services persons-icon" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/>
                <br/>{{"FORMS_COMMENTS" | trans}}
            </div>
        </a>

    </li>

</ul>


<div class="tabbable" style="margin-top: 20px;">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {%if menu == 1 or menu == 2%}
              <a class="nav-item  {% if menu == 1 %}active{% endif %}"   href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}" role="tab" aria-controls="nav-home" aria-selected="true">{{"RESPONSE_PENDING" | trans}} ({{counts['pending']}})</a>
                <a class="nav-item  {% if menu == 2 %}active{% endif %}"  href="{{ path('frontend_mycasatrip_available',{'order_by':0}) }}" role="tab" aria-controls="nav-home" aria-selected="true">{{"DISPONIBILITY" | trans}} ({{counts['available']}})</a>

            {% endif %}
            {%if menu == 3 or menu == 4%}
                <a class="nav-item  {% if menu == 3 %}active{% endif %}"   href="{{ path('frontend_mycasatrip_payment') }}" role="tab" aria-controls="nav-home" aria-selected="true">{{"RESERVED" | trans}} ({{counts['payed']}})</a>
                <a class="nav-item  {% if menu == 4 %}active{% endif %}"  href="{{ path('frontend_mycasatrip_payment') }}" role="tab" aria-controls="nav-home" aria-selected="true">{{"PAYMENT_CONFIRM_2" | trans}} ({{counts['payed']}})</a>

            {% endif %}
            {%if menu == 5 or menu == 6%}
                <a class="nav-item  {% if menu == 5 %}active{% endif %}"  href="{{ path('frontend_mycasatrip_historial_consult', {'order_by':0}) }}" role="tab" aria-controls="nav-home" aria-selected="true"><i class="icon-home"></i> {{"CONSULTS" | trans}} (<span id="total_fav_own">{{counts['consult']}}</span>)</a>
                <a class="nav-item  {% if menu == 6 %}active{% endif %}"  href="{{ path('frontend_mycasatrip_historial_reserve') }}" role="tab" aria-controls="nav-home" aria-selected="true">{{"RESERVES" | trans}} (<span id="total_fav_dest">{{counts['reserve_history']}}</span>)</a>

            {% endif %}
            {%if menu == 7 or menu == 8%}
                <a class="nav-item  {% if menu == 7 %}active{% endif %}"  href="{{ path('frontend_mycasatrip_favorites_accomodations') }}" role="tab" aria-controls="nav-home" aria-selected="true"><i class="icon-home"></i> {{"OWNERSHIPS" | trans}} (<span id="total_fav_own">{{counts['favorites_ownerships']}}</span>)</a>
                <a class="nav-item  {% if menu == 8 %}active{% endif %}"  href="{{ path('frontend_mycasatrip_favorites_destinations') }}" role="tab" aria-controls="nav-home" aria-selected="true">{{"DESTINATIONS" | trans}} (<span id="total_fav_dest">{{counts['favorites_destinations']}}</span>)</a>

            {% endif %}
            {%if menu == 9%}
                <a class="nav-item  {% if menu == 9 %}active{% endif %}"  href="#" role="tab" aria-controls="nav-home" aria-selected="true">{{"FORMS_COMMENTS" | trans}} ({{counts['comments_ownerships']}})</a>

            {% endif %}
            {%if menu == 10%}
                <a class="nav-item  {% if menu == 9 %}active{% endif %}"  href="#" role="tab" aria-controls="nav-home" aria-selected="true">{{"CANCEL_OFFER" | trans}}</a>

            {% endif %}
           </div>
    </nav>


</div>