{% set menu = 3 %}
{% extends 'FrontEndBundle:mycasatrip:layout_order_by.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="{{ path('frontend_mycasatrip_pending',{'order_by':0}) }}" title="MyCasa Trip">MyCasa Trip</a>
    <span>››</span>
    <a href="#" class="active" title="{{"RESERVES" | trans}}">{{"RESERVES" | trans}}</a>
{% endblock %}

{% block body_inner %}
<div class="thumbs-houses houses-list myct-records lazy-cont">
{% for res in res_payment %}
{% if res['own_res_reservation_booking']['booking_id'] is defined %}
<div class="row no-margin">
    <div class="col-sm-3">
        <div data-text="&nbsp;&nbsp;&nbsp;{{'RESERVE_SINGULAR' | trans}}&nbsp;&nbsp;&nbsp;" class="thumbnail has-ribbon-red has-ribbon has-ribbon-left">
            {% if photos[loop.index0]%}
                <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
                    <img class="lazy" data-src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0]) }}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                    <noscript><img class="nolazy" src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0]) }}"></noscript>
                </a>
            {% else %}
                <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
                    <img class="lazy" data-src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                    <noscript><img class="nolazy" src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}"></noscript>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-6">
        <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
            <h1 class="h-blue">{{ res['own_res_gen_res_id']['gen_res_own_id']['own_name'] }}</h1>
        </a>
        <small class="top">{{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_municipality']['mun_name']|title }} , {{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_province']['prov_name']|title }}
            <br>{{res['own_res_room_type']|trans}}</small>
        <small class="top">{{"ADULTS" | trans}}: {{res['own_res_count_adults']}} {{"KIDS" | trans}}: {{res['own_res_count_childrens']}}</small>
        <small class="top">{{"FROM_PRICES" | trans}}: {{res['own_res_reservation_from_date']|date('d/m/Y')}} {{"TO_PRICES" | trans}}: {{res['own_res_reservation_to_date']|date('d/m/Y')}}</small>
    </div>
    <div class="col-sm-3 text-center">
        <h2 class="no-margin h-grey margin-t">{{(res['own_res_night_price'] *(nights[loop.index0])) | price}}</h2>
        <div>
            <a style="width: 150px; color: #ffffff" target="_blank" class="btn btn-danger" href="{{ path('frontend_view_confirmation_reservation',{'id_booking':res['own_res_reservation_booking']['booking_id']}) }}">
                {{ 'VIEW_CONFIRMATION'|trans }}</a></div>
        <div style="margin-top: 10px">{{"ID_RESERVATION" | trans}}: <b>CAS.{{res['own_res_gen_res_id']['gen_res_id']}}</b></div>
    </div>
</div>
    <hr/>
{% endif %}
{% else %}
        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{% endfor %}
 {%if res_payment | length and total_items > items_per_page%}
        <div class="text-center">
    {{ simple_paginator_render('frontend_mycasatrip_payment',null,{
    'container_class': 'pagination',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': null
}) }}
</div>
            {%endif%}
</div>
{% endblock %}
