{% set menu = 1 %}
{% extends 'frontEndBundle:mycasatrip:layout_order_by.html.twig' %}
{% block body_inner %}
{% for res in res_pending %}
<div class="well mycasatrip_result">
    <div class="row-fluid">
        <div class="span4"><a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | lower | replace(' ','_')}) }}">
            {% if photos[loop.index0]%}
            <img src="{{ asset('uploads/ownershipImages/thumbnails/'~ photos[loop.index0]) }}" class="span12 img-polaroid">
            {% else %}
            <img src="{{ asset('uploads/ownershipImages/thumbnails/no_photo.png') }}" class="span12 img-polaroid">
            {% endif %}
        </a></div>
        <div style="margin-left: 10px" class="span8">
            <table style="width: 100%">
                <tbody><tr>
                    <td>
                        <h4 class="title_1">{{ res['own_res_gen_res_id']['gen_res_own_id']['own_name'] }}</h4>
                        <p class="note">
                            {{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_municipality']['mun_name']|title }} - {{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_province']['prov_name']|title }}

                            <br><b>{{res['own_res_room_type']|trans}}</b>
                            <br>{{"ADULTS" | trans}}: <b>{{res['own_res_count_adults']}}</b> &nbsp;&nbsp;{{"KIDS" | trans}}: <b>{{res['own_res_count_childrens']}}</b>

                        <br/>
                            {{"FROM_PRICES" | trans}}: {{res['own_res_reservation_from_date']|date('d/m/Y')}} {{"TO_PRICES" | trans}}: {{res['own_res_reservation_to_date']|date('d/m/Y')}}
                        </p>
                    </td>

                    <td>
                        <p class="note"><b>{{"ID_RESERVATION" | trans}}:</b> CAS.{{res['own_res_id']}}
                            <br>
                            <br>
                            <span class="badge">{{"RESPONSE_PENDING" | trans}}</span>

                        </p><h4>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{res['own_res_total_in_site'] * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | lower | replace(' ','_')}) }}" class="btn mycp_btn mycp_btn_green" style="width: 150px">{{"VIEW_DETAILS" | trans}}</a></td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>
{% else %}
        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{% endfor %}

{% endblock %}
