{% extends 'frontEndBundle:mycasatrip:layout_blank.html.twig' %}
{% block body_inner %}
<link href="{{ asset('bundles/frontend/css/customReservationProcess.css') }}" rel="stylesheet" media="screen">
<table style="width: 100%;">
    <tr>
        <td style="width: 7%" class="arrow_cont_cyan">
            <img src="{{ asset('bundles/frontend/images/ball_1.gif') }}"/>
        </td>
        <td style="width: 1.4%">&nbsp</td>
        <td>
            <div class="cyan_cont">
                <h1>{{"RESERVATION_DETAILS" | trans}}</h1>
                <b>{{"ARRIVAL_RESERVATION" | trans}}:</b> {{reservation[0]['own_res_reservation_from_date']|date("d/m/Y")}} <b style="margin-left: 20px">{{"DEPARTURE_RESERVATION" | trans}}:</b> {{reservation[0]['own_res_reservation_to_date']|date("d/m/Y")}}
                <br/><br/>
                <table class="table" style="width: 100%; text-align: left; font-size: 12px">
                    <thead>
                    <tr>
                        <th>{{"DATE" | trans}}</th>
                        <th>{{"OWNERSHIPS" | trans}}</th>
                        <th>{{"ROOM_DETAIL" | trans}}</th>
                        <th>{{"PRICE" | trans}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for date in dates%}
                    <tr>
                        <td>{{date}}</td>
                        <td><b>{{ reservation[0]['own_res_gen_res_id']['gen_res_own_id']['own_address_municipality']['mun_name']}}, {{ reservation[0]['own_res_gen_res_id']['gen_res_own_id']['own_name']}}</b></td>
                        <td>{{ reservation[0]['own_res_room_type']|trans}}</td>
                        <td style="text-align: right">
                            {% if loop.last %}
                            --
                            {% else %}
                            {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ reservation[0]['own_res_night_price'] * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')) }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <thead>
                    <tr>
                        <th>{{"TOTAL" | trans}}</th>
                        <th></th>
                        <th></th>
                        <th>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ reservation[0]['own_res_night_price'] * ((dates|length)-1) * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')) }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td><img class="arrow_cont" src="{{ asset('bundles/frontend/images/cyan_arrow.gif') }}"/></td>
        <td></td>
        <td></td>
    </tr>
</table>

<table style="width: 100%;">
    <tr>
        <td style="width: 7%" class="arrow_cont_grey">
            <img src="{{ asset('bundles/frontend/images/ball_2.gif') }}"/>
        </td>
        <td style="width: 1.4%">&nbsp</td>
        <td>
            <div class="grey_cont">
                <h1>{{"YOUR_DATA" | trans}} <small>{{"REQUIRED_FIELDS" | trans}}</small></h1>
                <div class="row-fluid">
                    <div class="span5">
                        <label>{{"GENDER" | trans}}<span>*</span></label>
                        <div class="btn-group mycp_combo span12">
                            <a id="combo_label_1" href="#" data-toggle="dropdown" class="btn dropdown-toggle span12" data-value="">
                                {{"SELECT" | trans}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data="combo_label_1" class="option" data-value="Masculino">{{"MALE" | trans}}</a></li>
                                <li><a data="combo_label_1" class="option" data-value="Femenino">{{"FEMALE" | trans}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span5">
                        <label>{{"ZIPCODE" | trans}}<span>*</span></label>
                        <input type="text" class="mycp_text_box input-block-level" value=""/>
                    </div>    
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <label>{{"FORMS_NAME" | trans}}<span>*</span></label>
                        <input type="text" class="mycp_text_box input-block-level" value="{{ user.getUserName |capitalize}}"/>
                    </div>
                    <div class="span5">
                        <label>{{"FORMS_LASTNAME" | trans}}<span>*</span></label>
                        <input type="text" class="mycp_text_box input-block-level" value="{{ user.getUserLastName |capitalize}}"/>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <label>{{"FORMS_EMAIL" | trans}}<span>*</span></label>
                        <input type="text" class="mycp_text_box input-block-level"  value="{{ user.getUserEmail}}"/>
                    </div>
                    <div class="span5">
                        <label>{{"CONFIRM_MAIL" | trans}}<span>*</span></label>
                        <input type="text" class="mycp_text_box input-block-level"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>{{"NACIONALITY" | trans}}<span>*</span></label>
                        <div class="btn-group mycp_combo span12">
                            <a id="combo_label_2" href="#" data-toggle="dropdown" class="btn dropdown-toggle span12" data-value="">
                                {{"SELECT" | trans}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data="combo_label_2" class="option" data-value="Nacionalidad 1">Nacionalidad 1</a></li>
                                <li><a data="combo_label_2" class="option" data-value="Nacionalidad 2">Nacionalidad 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span5">
                        <label>{{"ARRIVAL_TIME" | trans}}<span>*</span></label>
                        <div class="btn-group mycp_combo span12">
                            <a id="combo_label_3" href="#" data-toggle="dropdown" class="btn dropdown-toggle span12" data-value="">
                                {{"SELECT" | trans}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="option" data="combo_label_3" data-value="Hora 1">Hora 1</a></li>
                                <li><a class="option" data="combo_label_3" data-value="Hora 2">Hora 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label>{{"FORMS_PHONE" | trans}}</label>
                        <input type="text" class="mycp_text_box input-block-level"  value="{{ user.getUserPhone}}"/>
                    </div>
                    <div class="span5">
                        <label>{{"CELL_NUMBER" | trans}}</label>
                        <input type="text" class="mycp_text_box input-block-level"/>
                    </div>
                </div>

            </div>
        </td>
    </tr>
    <tr>
        <td><img class="arrow_cont" src="{{ asset('bundles/frontend/images/grey_arrow.gif') }}"/></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table style="width: 100%;">
    <tr>
        <td style="width: 7%" class="arrow_cont_grey">
            <img src="{{ asset('bundles/frontend/images/ball_3.gif') }}"/>
        </td>
        <td style="width: 1.4%">&nbsp</td>
        <td>
            <div class="grey_cont">
                <h1>{{"YOUR_PAYMENT" | trans}}</h1>
                <div class="row-fluid">
                    <div class="span4 well well-small">
                        <img src="{{ asset('bundles/frontend/images/skrill.gif') }}" style="margin-bottom: 10px"><br/>
                        <b>{{"SKRILL_PAYMENT" | trans}}</b>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><img class="arrow_cont" src="{{ asset('bundles/frontend/images/grey_arrow.gif') }}"/></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table style="width: 100%;">
    <tr>
        <td style="width: 7%" class="arrow_cont_green">
            <img src="{{ asset('bundles/frontend/images/ball_4.gif') }}"/>
        </td>
        <td style="width: 1.4%">&nbsp</td>
        <td>
            <div class="green_cont">
                <h1 style="border: none; margin-bottom: 0">{{"FINAL_STEP" | trans}}</h1>
                <div class="line_green" style="margin-top: 0px">&nbsp;</div>
                <label class="checkbox"><input type="checkbox"> {{"OBTAIN_PROTECTION" | trans}} US$2.00 <img src="{{ asset('bundles/frontend/images/question_icon.gif') }}"/></label>
                <div class="line_green">&nbsp;</div>
                <label class="checkbox"><input type="checkbox"> {{"ACCEPT_TERMS_CONDITIONS" | trans}}</label>
                <label class="checkbox"><input type="checkbox"> {{"SEND_ME_OFFERS" | trans}}</label>
                <h3>Total a pagar ahora: CHF 00.00</h3>
                <button style="padding-left: 30px; padding-right: 30px; margin-top: 10px" class="btn mycp_btn_green"><b>{{"PAYMENT_CONFIRM" | trans}}</b></button>
                <p style="margin-top: 10px; font-size: 12px; color: #6C726B">{{"PAYMENT_CONFIRMATION_TEXT" | trans}}: CHF 00.00</p>
            </div>
        </td>
    </tr>
</table>
{% endblock %}