{% extends 'MyCpMobileFrontendBundle::base.html.twig' %}
{% block title %}
    {% if get_tagvalue_bytag('Calendar', app.session.get('app_lang_code')|lower, 'title') == false %}
        Calendar
    {% else %}
        {{ get_tagvalue_bytag('Calendar', app.session.get('app_lang_code')|lower, 'title')|raw }}
    {% endif %}
{% endblock %}
{% set start_date = "now"|date("d/m/Y") %}
{% set end_date = "+2 days" |date("d/m/Y") %}
{% set modal_check_class = true %}
{% block include_css %}
<style>
    .card-title {
        display: block;
        border: 1px solid #668a26;
        border-left-color: #84b231;
        color: #fff;
        margin: 0;
        text-shadow: 0 -1px 1px #999;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
        -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
        box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
        background-image: -moz-linear-gradient(top,#95c939,#84b231);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#95c939),to(#84b231));
        background-image: -webkit-linear-gradient(top,#95c939,#84b231);
        background-image: -o-linear-gradient(top,#95c939,#84b231);
        background-image: linear-gradient(#95c939,#84b231);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95c939',endColorstr='#ff84b231',GradientType=0);
    }
    .card-body {
        background: #f8f8f8;

    }
</style>

{% endblock %}
{% block content %}

    <div class="main main-raised">

        <div class="container" style=' padding-top: 0;'>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">{{ 'RESERVATION_RESERVE' | trans }}</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 mr-auto">
                                    {%  include 'MyCpMobileFrontendBundle:ownership:ownership_details_calendar.html.twig' with { 'modal_check_class' : true }  %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block includejs %}


    {% include '@MyCpMobileFrontend/utils/script.html.twig' %}
    <script type="text/javascript">
        var login=false;
        {% if app.user.getUserUserName is defined %}
        login=true;
        {% endif %}

        {% if modal_check_class is defined and modal_check_class == true %}
        var form = $("#form-check-available");

        form.on("submit", function (e) {
            HoldOn.open();
            e.stopPropagation();
            e.preventDefault();
            //Solo se envia por ajax
            //1-si el usuario no esta logueado solo se envia para el wishlist.
            //2-Cuando el usser esta login se manda por ajax la wishlist y la consulta de disponibilidad.
            if((login && ($('#check_dispo').val()==1 || $('#check_dispo').val()=='')) || (login && $('#check_dispo').val()=='2')){

                var formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: "post",
                    dataType: "html",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        HoldOn.close();
                        if(response=='0'){
                            if($('#check_dispo').val()==2 || $('#check_dispo').val()==1){
                                swal("{{ 'ADD_TO_CEST_ERROR'| trans }}", "", "error");
                            }
                            else
                                    swal("{{ 'ADD_TO_CART_ERROR'| trans }}", "", "error");

                        }
                        else{
                            if(login){
                                if($('#check_dispo').val()==''){

                                    swal("{{ 'MSG_ADD_WISH_LITS'| trans }}", "", "info");

                                }
                                if($('#check_dispo').val()==1){
                                    swal("{{ 'REQUEST_IN_PROCESS_24_HOURS'| trans }}", "", "info");
                                    window.location.href="{{ path('frontend_mycasatrip_pending') }}";
                                    HoldOn.open();
                                }
                                if($('#check_dispo').val()==2){

                                    swal("{{ 'VOUCHER_PREHEADER'| trans }}", "", "info");
                                    window.location.href="{{ path('frontend_mycasatrip_available') }}";
                                    HoldOn.open();
                                }
                            }
                            else{
                                swal("{{ 'MSG_ADD_WISH_LITS'| trans }}", "", "info");
                                window.location.href="{{ path('frontend_public_login') }}";
                                HoldOn.open();

                            }

                        }

                    }
                });
            }
        });


        $('#checkAvailable').on('click',function(){
            $('#check_dispo').val('1');

        });
        $('#reservedOwnerShip').on('click',function(){
            $('#check_dispo').val('2');

        });
        {% endif %}
    </script>
{% endblock %}