{% extends 'MyCpMobileFrontendBundle::base.html.twig' %}
{% block title %}
    {% if get_tagvalue_bytag('Calendar', app.session.get('app_lang_code')|lower, 'title') == false %}
        Calendar
    {% else %}
        {{ get_tagvalue_bytag('Calendar', app.session.get('app_lang_code')|lower, 'title')|raw }}
    {% endif %}
{% endblock %}
{% set start_date = "now"|date("d/m/Y") %}
{% set end_date = "+2 days" |date("d/m/Y") %}

{% block include_css %}


{% endblock %}
{% block content %}

    <div class="main main-raised">

        <div class="container" style=' padding-top: 0;'>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">{{ 'RESERVATION_RESERVE' | trans }}</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 mr-auto">
                                    {%  include 'MyCpMobileFrontendBundle:ownership:ownership_details_calendar.html.twig' with { 'modal_check_class' : true }  %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block includejs %}


    {% include '@MyCpMobileFrontend/utils/script.html.twig' %}
    <script type="text/javascript">
        var login=false;
        {% if app.user.getUserUserName is defined %}
        login=true;
        {% endif %}

        {% if modal_check_class is defined and modal_check_class == true %}
        var form = $("#form-check-available");
        form.on("submit", function (e) {
            //Solo se envia por ajax
            //1-si el usuario no esta logueado solo se envia para el wishlist.
            //2-Cuando el usser esta login se manda por ajax la wishlist y la consulta de disponibilidad.
            if((login && ($('#check_dispo').val()==1 || $('#check_dispo').val()=='')) || (!login && $('#check_dispo').val()=='')){
                e.stopPropagation();
                e.preventDefault();
                var formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: "post",
                    dataType: "html",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        if(response=='0'){
                            if($('#check_dispo').val()==2 || $('#check_dispo').val()==1){
                                swal("{{ 'ADD_TO_CEST_ERROR'| trans }}", "", "error");
                            }
                            else
                                    {#swal("{{ 'ADD_TO_CART_ERROR'| trans }}", "", "error");#}
                                $('#addWhisList').removeClass('hide');
                        }
                        else{
                            if(login){
                                if($('#check_dispo').val()==''){
                                    $('#list-cart').attr('href','#');
                                    $('#list-cart').attr('data-toggle','dropdown');
                                    $('#list-cart').addClass('dropdown-toggle');
                                    $('#whish-list').html(response);
                                    $('#count-cart').text($('#total-cart').data('counter'));
                                    swal("{{ 'MSG_ADD_WISH_LITS'| trans }}", "", "success");
                                    $('#addWhisList').removeClass('hide');
                                }
                                if($('#check_dispo').val()==1){
                                    swal("{{ 'REQUEST_IN_PROCESS_24_HOURS'| trans }}", "", "success");
                                }
                                if($('#check_dispo').val()==2){
                                    window.location.href="{{ path('frontend_mycasatrip_available') }}";
                                    swal("{{ 'VOUCHER_PREHEADER'| trans }}", "", "success");
                                }
                            }
                            else{
                                swal("{{ 'MSG_ADD_WISH_LITS'| trans }}", "", "success");
                                window.location.href="{{ path('frontend_public_login') }}";
                                $('#addWhisList').removeClass('hide');
                            }

                        }

                    }
                });
            }
        });

        $('#addWhisList').on('click',function(){
            $('#addWhisList').addClass('hide');
            $('#myModalOwnerShipCalendar').modal('hide');
            if($(this).data('modal')){
                $('#myModalOwnerShipCalendar').modal('hide');

            }

        });
        $('#checkAvailable').on('click',function(){
            $('#check_dispo').val('1');
            $('#myModalOwnerShipCalendar').modal('hide');
        });
        $('#reservedOwnerShip').on('click',function(){
            $('#check_dispo').val('2');
            $('#myModalOwnerShipCalendar').modal('hide');
        });
        {% endif %}
    </script>
{% endblock %}