{% if list | length%}
    {%for ownership in list%}
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="row">
                    <div style="background-image: url('{{ (ownership.photo != "") ? asset("uploads/ownershipImages/thumbnails/" ~ ownership.photo) : asset("uploads/ownershipImages/thumbnails/no_photo.png") }}')"
                         class="thumbnail {% if ownership.OwnInmediateBooking %}with-quick-ribbon{% endif %}"

                         {% if ownership.OwnInmediateBooking %}data-text="{{ 'quick_bookinhg'|trans }}"{% endif %}
                         style="position:relative" rel="tooltip"
                         title="{% if ownership.OwnInmediateBooking %}{{ "quick_booking_tooltip" | trans }}{% else %}{{ "MORE_INFO_PREFFIX" | trans }} {{ownership.own_name | title }}

         {% endif %}">

                        {% if ownership.OwnInmediateBooking %}
                            <div class="quick-ribbon">
                                <i class="glyphicons white electricity"></i> <span
                                        style="text-align: left;">{{ 'quick_bookinhg'|trans }}</span></div>
                        {% endif %}
                        <div class="thumbnail-title p-x-1 clearfix">
                            {% if ownership.award %}
                                <img src="{{ asset("uploads/awards/" ~ ownership.award) }}"
                                     style="top: 10px; width: 64px; height: 63px;position: absolute; z-index: 1;box-shadow: 5px 5px 10px #686765;border-radius:100px"
                                     alt="{{ "Awards" | trans }}"/>
                            {% endif %}
                            <span class="h-blue pull-right text-uppercase f-s-30 m-a-0"><small
                                        style="display: inline-block">{{ "FROM" | trans }}:</small> {{ownership.minimum_price | price }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 bg-gray-mycp">
                    <div class="col-xs-10" style="padding-left: 5px;">
                        <a href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | urlNormalize}) }}">
                            <h1 class="h-blue">{{ownership.own_name | title }}</h1>
                        </a>
                    </div>
                    <div class="col-xs-2" style="text-align: center;">
                        {{ include('@MyCpMobileFrontend/favorite/itemFavorite.html.twig',
                        {'is_in_favorite': ownership.is_in_favorites,
                            'favorite_type': 'ownership',
                            'element_id':ownership.own_id,
                            'list_preffix' : list_preffix,
                            'include_text': false
                        }) }}
                    </div>
                <div class="row">
                    <div class="col-xs-12">
                        {%if ownership.category == "Premium"%}
                            <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-premium-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" style="margin-top: -5px;" alt="{{"Pixel" | trans}}"/>
                        {%else%}
                            {%if (ownership.category | lower) == ("Rango Medio" | lower)%}
                                <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-middle-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" style="margin-top: -5px;" alt="{{"Pixel" | trans}}"/>
                            {%else%}
                                <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-economic-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" style="margin-top: -5px;" alt="{{"Pixel" | trans}}"/>
                            {%endif%}
                        {%endif%}
                        <span>{{ownership.category | trans}}</span>
                        <div class="col-xs-12 p-0">
                            <p style="margin: 0;">{{ ownership.prov_name | trans }}, {{ ownership.mun_name }}</p>
                        </div>
                        <div class="col-xs-12 p-0">
                            <p style="margin: 0;">{{ ownership.type | trans }}/ {{ ownership.rooms_count }} {% if ownership.rooms_count> 1 %}{{ 'ROOM_PLURAL'|trans }}{% else %}{{ 'ROOM_SINGULAR'|trans }}{% endif %}</p>
                        </div>
                        <div class="col-xs-12 p-0">
                            {%if ownership.rating > 0%}
                                {%for i in 1..ownership.rating%}
                                    <img class="icon icon-2 tiny-star-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" style="margin-top: -5px;" alt="{{"Pixel" | trans}}"/>
                                {%endfor%}
                            {%endif%}

                            {%if ownership.rating < 5%}
                                {%for i in 1..(5-ownership.rating)%}
                                    <img class="icon icon-2 tiny-star-off-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" style="margin-top: -5px;" alt="{{"Pixel" | trans}}"/>
                                {%endfor%}
                            {%endif%}
                            <span>{{ ownership.comments_total }} {{ 'FORMS_COMMENTS'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space space-20"></div>
    {%endfor%}
{% endif %}
