{% for own in pay_own %}
        <td><b>Código de Casa:</b> {{ own.getUserCasa.getOwnMcpCode }} - <b>Nombre de la casa:</b> {{ own.getUserCasa.getOwnName }}</td>
        <td>{{ own.getPayAmount }} CUC </td>
{% endfor %}

{% for tourist in pay_tourist %}
    <td><b>Nombre Cliente (Turista) :</b>{{ tourist.getUserTourist.getUserTouristUser.getUserCompleteName }} - <b>Correo:</b>{{ tourist.getUserTourist.getUserTouristUser.getUserEmail }}</td>
    <td>{{ tourist.getPayAmount }} {{ tourist.getCancelId.getBooking.getBookingCurrency.getCurrSymbol }} </td>
{% endfor %}