{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_reservations_booking') }}">Bookings</a> <span class="divider">/</span></li>
    <li class="active">Detalles de Booking</li>
    <li class="pull-right"><a href="{{ path('mycp_list_reservations_booking') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_reservations_booking') }}">Bookings</a> <span class="divider">/</span></li>
    <li class="active">Detalles de Booking</li>
    <li class="pull-right"><a href="{{ path('mycp_list_reservations_booking') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block content %}
<h2>Booking {{ payment.booking.bookingId }}</h2>
<hr/>
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#reservas" data-toggle="tab">Cliente</a>
            </li>
        </ul>
        <table class="table table-striped" style="font-size: 12px">
            <tr>
                <td><b>Nombre: </b>{{ user.getUserTouristUser.getUserUserName }} {{ user.getUserTouristUser.getUserLastName }}</td>
                <td><b>País: </b>{{ user.getUserTouristUser.getUserCountry }}</td>
            </tr>
            <tr>
                <td><b>Correo: </b>{{ user.getUserTouristUser.getUserEmail }}</td>
                <td><b>Ciudad:</b>{{ user.getUserTouristUser.getUserCity }}</td>
            </tr>
            <tr>
                <td><b>Idioma: </b>{{ user.getUserTouristLanguage.getLangName }}</td>
                <td><b>Moneda: </b>{% if user.getUserTouristCurrency.getCurrName is defined %}{{ user.getUserTouristCurrency.getCurrName }}{% endif %}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Dirección:</b>{{ user.getUserTouristUser.getUserAddress }}</td>
            </tr>
        </table>
    </div>
    <div class="row-fluid">
    <div class="span12">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#reservas" data-toggle="tab">Reservaciones</a>
        </li>
    </ul>
    <table class="table table-striped" style="font-size: 12px">
        <thead>
        <tr>
            <th>Booking</th>
            <th>Reserva</th>
            <th>Código Propiedad</th>
            <th>Nombre Propiedad</th>
            <th>Tipo Habitación</th>
            <th>Desde</th>
            <th>Hasta</th>
        </tr>

        </thead>
        {% for reservation in reservations %}
        <tr>
            <td>{{ payment.booking.bookingId }}</td>
            <td>CAS.{{ reservation.getOwnResGenResId.getGenResId }}</td>
            <td>{{ reservation.getOwnResGenResId.getGenResOwnId.getOwnMcpCode }}</td>
            <td>{{ reservation.getOwnResGenResId.getGenResOwnId.getOwnName }}</td>
            <td>{{ reservation.getOwnResRoomType}}</td>
            <td>{{ reservation.getOwnResReservationFromDate|date("d/m/Y")}}</td>
            <td>{{ reservation.getOwnResReservationToDate|date("d/m/Y")}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6" style="text-align: right"><b>TOTAL PREPAGADO</b></td>
            <td>{{payment.currency.currCode}} {{payment.payedAmount}}</td>
        </tr>
    </table>
</div>
</div>
</div>
{% endblock %}
