<h4>
    Últimos clientes
    <a class="btn btn-success pull-right" style="font-size: 1.3em" href="{{ path("mycp_list_readonly_reservations_user") }}">+</a>
</h4>
<hr/>
{% if list %}
<div class="row-fluid">
    <div class="span6">
        <b>Cliente</b>
    </div>
    <div class="span6"><b>País</b></div>
</div>
{% for item in list %}
<div class="row-fluid">
    <div class="span6">
      <a href="{{ path("mycp_details_readonly_client_reservation", {"id_client": item.user_id}) }}">{{ item.user_user_name }} {{ item.user_last_name }}</a>
    </div>
    <div class="span6">{{ item.co_name }}</div>
</div>
{% endfor %}
{% else %}
    <div class="alert alert-block">
        No se encontró información para esta sección
    </div>
{% endif %}
