{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Reservas</li>
</ul>
{% endblock %}
{% block content %}
<h2>Reservas</h2>
<hr/>
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#reservas">Reservas</a></li>
    <li class=""><a href="{{ path('mycp_list_reservations_user') }}">Clientes</a></li>
    <li class=""><a href="{{ path('mycp_list_reservations_booking') }}">Booking</a></li>
    <li class=""><a href="{{ path('mycp_list_reservations_checkin') }}">Check-in</a></li>
</ul>
    <div class="tab-content" id="myTabContent">
        <div id="reservas" class="tab-pane fade active in">

            {% for message in app.session.flashbag.get('message_error_local') %}
            <div class="alert alert-error">{{ message }}</div>
            {% endfor %}
            <form onkeypress="javascript:submit_filters(event);" id="filter" method="post" action="{{path('mycp_list_reservations')}}">
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4"><label>ID Reserva:</label>
                            <input id="filter_offer_number" name="filter_offer_number" type="text" class="input-block-level" value="{{filter_offer_number}}"/>
                        </div>
                        <div class="span4"><label>ID Casa:</label>
                            <input id="filter_reference" name="filter_reference" type="text" class="input-block-level" value="{{filter_reference}}"/>
                        </div>
                        <div class="span4"><label>ID Booking:</label>
                            <input id="filter_booking_number" name="filter_booking_number" type="text" class="input-block-level" value="{{ filter_booking_number }}"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4"><label>Fecha reserva:</label>
                            <input id="filter_date_reserve" name="filter_date_reserve" type="text" class="datepicker input-block-level" value="{{filter_date_reserve}}"/>
                        </div>
                        <div class="span3"><label>Fecha de llegada:</label>
                            <input id="filter_date_from" name="filter_date_from" type="text" class="datepicker input-block-level" value="{{filter_date_from}}"/>
                        </div>
                        <div class="span3"><label>Fecha de salida:</label>
                            <input id="filter_date_to" name="filter_date_to" type="text" class="datepicker input-block-level" value="{{filter_date_to}}"/>
                        </div>
                        <div class="span2">
                            <label>&nbsp;</label>
                            <div class="row-fluid">
                                <div class="span6">
                                    <a rel="tooltip" title="Filtrar listado" href="javascript:action_submit();" class="tooltip_msg btn btn-block btn-success"><i class="icon-filter icon-white"></i></a>
                                </div>
                                <div class="span6">
                                    <a rel="tooltip" title="Resetear filtrado " href="{{ path('mycp_list_reservations') }}" class="tooltip_msg btn btn-block btn-danger"><i class="icon-remove icon-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% if reservations %}
            <div class="alert">
                <div class="row-fluid">
                    <div class="pull-left">
                        Mostrando del {{items_per_page * current_page - items_per_page}} al {% if items_per_page * current_page >  total_items%}{{total_items }}{% else %}{{ items_per_page * current_page }}{% endif %} de {{total_items}} registros
                    </div>
                    <div class="pull-right">
                        Mostrar:
                        {% if filter_date_reserve ==''%}{% set filter_date_reserve='null'%}{%endif%}
                        {% if filter_offer_number ==''%}{% set filter_offer_number='null'%}{%endif%}
                        {% if filter_reference ==''%}{% set filter_reference='null'%}{%endif%}
                        {% if filter_date_from ==''%}{% set filter_date_from='null'%}{%endif%}
                        {% if filter_date_to ==''%}{% set filter_date_to='null'%}{%endif%}
                        {% if filter_date_reserve_twig ==''%}{% set filter_date_reserve_twig='null'%}{%endif%}
                        {% if filter_date_from_twig ==''%}{% set filter_date_from_twig='null'%}{%endif%}
                        {% if filter_date_to_twig ==''%}{% set filter_date_to_twig='null'%}{%endif%}
                        {% if sort_by=='' %}
                           {% set sort_by=0 %}
                        {% endif %}
                        <a class="{% if items_per_page == 100 %}selected{% endif %}" href="{{ path('mycp_list_reservations',{'items_per_page':100,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'sort_by':sort_by})}}">100</a>
                        <a class="{% if items_per_page == 300 %}selected{% endif %}" href="{{ path('mycp_list_reservations',{'items_per_page':300,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'sort_by':sort_by})}}">300</a>
                        <a class="{% if items_per_page == 500 %}selected{% endif %}" href="{{ path('mycp_list_reservations',{'items_per_page':500,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'sort_by':sort_by})}}">500</a>
                        <input class="hidden" name="items_per_page" value="100">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3"  style="margin-top: 10px">
                    <input type="button" class="btn-mini btn-success btn-action-reservation"  onclick="sendReservation();" value="Enviar como No Disponibles" data-url="{{path("mycp_set_not_available_reservation_callback")}}"/>
                </div>
                <div class="span6">
                    <div class="paginator-cont">


                        {{ simple_paginator_render('mycp_list_reservations',null,{
                'container_class': 'paginator',
                'previousPageText': '«',
                'nextPageText': '»',
                'currentClass': 'current',
                'firstPageText': 'Primera',
                'lastPageText': 'Última',
                'route_params': {'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'sort_by':sort_by}
                }) }}

                    </div>
                </div>

                <div class="span3" style="margin-top: 10px" >
                    <div class="row-fluid">
                        <div class="span4" style="margin-top: 4px; font-size: 12px">
                            Organizar:
                        </div>
                        <div class="span8">
                            <select name="sort_by" id="sort_by" onchange="javascript:action_submit()" class="input-block-level pull-right">
                                {{ render(controller('mycpBundle:BackendReservation:get_sort_by', {'sort_by': sort_by})) }}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            </form>
            <table class="table table-hover table-striped" style="font-size: 12px">
                <thead>
                <tr>
                    <th></th>
                    <th>Fecha</th>
                    <th>Reservation ID</th>
                    <th>ID Casa</th>
                    <th>Habit.</th>
                    <th>Huésp.</th>
                    <th>Llegada</th>
                    <th>Noches</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th style="text-align: right">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% set flag=0 %}
                {%set pending = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_PENDING')%}
                {%set available = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_AVAILABLE')%}
                {%set reserved = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_RESERVED')%}
                {%set not_available = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_NOT_AVAILABLE')%}
                {%set partially_available = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_PARTIAL_AVAILABLE')%}
                {%set partially_reserved = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_PARTIAL_RESERVED')%}
                {%set cancelled = constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_CANCELLED')%}

                {% for reservation in reservations %}
                <tr class="{% if reservation[0].gen_res_status==available %}warning{%endif%}{% if reservation[0].gen_res_status==reserved %}error{%endif%}{% if reservation[0].gen_res_status==not_available %}info{%endif%}">
                    <td>
                        {% if reservation[0].gen_res_status==pending %}
                        <input type="checkbox" name="check_reservations" class="ch_reservation" data-reservation-id="{{reservation[0].gen_res_id}}"/>
                        {%endif%}
                    </td>
                    <td>{{reservation[0].gen_res_date |date("d/m/Y")}}</td>
                    <td>CAS.{{reservation[0].gen_res_id}}</td>
                    <td>{{reservation[0].gen_res_own_id.own_mcp_code}}</td>
                    <td>{{reservation[1]}}</td>
                    <td>{{reservation[3]+reservation[5]}}</td>
                    <td>{{reservation[7]|date("d/m/Y")}}</td>
                    <td>{{total_nights[loop.index0]}}</td>
                    <td>{{ reservation[0].gen_res_total_in_site }} CUC</td>
                    <td>
                        {{ render(controller('mycpBundle:BackendReservation:getGeneralReservationStatusName', {'status': reservation[0].gen_res_status, 'wrap': false, 'showInDiv': true})) }}
                    </td>
                    <td style="text-align: right">
                        <a class="btn btn-mini" href="{{ path('mycp_details_reservation',{'id_reservation':reservation[0].gen_res_id}) }}">Detalles</a>
                    </td>
                </tr>
                {% set flag = flag + 1%}
                {% endfor %}
                </tbody>
            </table>
            <div class="row-fluid">
                <div class="span3"  style="margin-top: 10px">
                    <input type="button" class="btn-mini btn-success btn-action-reservation"  onclick="sendReservation();" value="Enviar como No Disponibles" data-url="{{path("mycp_set_not_available_reservation_callback")}}"/>
                </div>
                <div class="paginator-cont span9">
                    {{ simple_paginator_render('mycp_list_reservations',null,{
                'container_class': 'paginator',
                'previousPageText': '«',
                'nextPageText': '»',
                'currentClass': 'current',
                'firstPageText': 'Primera',
                'lastPageText': 'Última',
                'route_params': {'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'sort_by':sort_by}
                }) }}
                </div>
            </div>
            {% else %}
            <p> <div class="alert alert-block">No hay Reservas disponibles.</div></p>
            {% endif %}
        </div>

    </div>
<link href="{{ asset('bundles/mycp/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ asset('bundles/mycp/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/mycp/js/bootstrap-datepicker.es.js') }}" charset="UTF-8"></script>
<script>
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: 'linked',
        language: 'es'
    });

    function sendReservation()
    {
        var checkValues = $('input[name=check_reservations]:checked').map(function() {
        return $(this).attr('data-reservation-id');
    }).get();

    if(checkValues.length == 0)
    {
        alert("Seleccione alguno de los elementos");
        return;
    }

     var url = $(".btn-action-reservation").attr("data-url");
     $.post(url, {
        'reservations_ids': checkValues
    }, function(data) {
        if(data != "ERROR")
            window.location = data;
        else
            alert(data);
    });
    }

    function submit_filters(ev)
    {
        if(ev.keyCode==13)
        {
            action_submit();
        }
    }

    function action_submit()
    {
        items_per_page={{items_per_page}};
        filter_date_reserve=$('#filter_date_reserve').val();
        if(filter_date_reserve=='')filter_date_reserve='null';
        filter_offer_number=$('#filter_offer_number').val();
        if(filter_offer_number=='')filter_offer_number='null';
        filter_booking_number=$('#filter_booking_number').val();
        if(filter_booking_number=='')filter_booking_number='null';
        filter_reference=$('#filter_reference').val();
        if(filter_reference=='')filter_reference='null';
        filter_date_from=$('#filter_date_from').val();
        if(filter_date_from=='')filter_date_from='null';
        filter_date_to=$('#filter_date_to').val();
        if(filter_date_to=='')filter_date_to='null';
        sort_by=$('#sort_by').val();
        if(sort_by=='')sort_by='null';
        filter_date_from=filter_date_from.replace('/',"_");
        filter_date_from=filter_date_from.replace('/',"_");
        filter_date_to=filter_date_to.replace('/',"_");
        filter_date_to=filter_date_to.replace('/',"_");
        filter_date_reserve=filter_date_reserve.replace('/',"_");
        filter_date_reserve=filter_date_reserve.replace('/',"_");
        url_submit=$('#filter').attr('action');
        url_submit=url_submit+'/'+items_per_page+'/'+filter_date_reserve+'/'+filter_offer_number+'/'+filter_reference+'/'+filter_date_from+'/'+filter_date_to+'/'+sort_by+'/'+filter_booking_number;
        $('#filter').attr('action',url_submit);
        $('#filter').submit();
    }

</script>
{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea eliminar el elemento?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/mycp/js/common_list.js') }}"></script>
{% endblock %}
