{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    {% stylesheets
    '@mycpBundle/Resources/public/css/datepicker.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Clientes</li>
</ul>
{% endblock %}
{% block content %}
<h2>Clientes</h2>
<hr/>
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#cliente">Clientes</a></li>
    <li><a href="{{ path('mycp_list_reservations_ag_booking') }}">Booking</a></li>
    <li><a href="{{ path('mycp_list_agency_checkin') }}">Check-in</a></li>
    <li><a href="{{ path('mycp_list_reservations_ag') }}">Reservas</a></li>
</ul>
    <div class="tab-content" id="myTabContent">
        <div id="cliente" class="tab-pane fade active in">

            {% for message in app.session.flashbag.get('message_error_local') %}
            <div class="alert alert-error">{{ message }}</div>
            {% endfor %}
            <form onkeypress="javascript:submit_filters(event);" id="filter" method="post" action="{{path('mycp_list_reservations_byuser_ag')}}">
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span3"><label>Cliente de agencia:</label>
                            <input id="filter_name" name="filter_name" type="text" class="input-block-level" value="{{ filter_name }}"/>
                        </div>
                        <div class="span3"><label>Estado:</label>
                            <select id="filter_status" name="filter_status" class="input-block-level">
                                {% include 'mycpBundle:utils:clientStatusList.html.twig' with {"status": filter_status} %}
                            </select>
                        </div>
                        <div class="span3"><label>Alojamiento (Código o Nombre):</label>
                            <input id="filter_accommodation" name="filter_accommodation" type="text" class="input-block-level" value="{{ filter_accommodation }}"/>
                        </div>
                        <div class="span3"><label>Destino:</label>
                            <select id="filter_destination" name="filter_destination" class="input-block-level">
                                {{ render(controller('mycpBundle:Public:getDestinations', {'post': {'ownership_destination':filter_destination}})) }}
                            </select>
                        </div>

                    </div>
                    <div class="row-fluid">

                        <div class="span3"><label>Agencia (Código o Nombre):</label>
                            <input id="filter_agencia" name="filter_agencia" type="text" class="input-block-level" value="{{ filter_agencia }}"/>
                        </div>

                        <div class="span3"><label>Rango de Fechas:</label>
                            <input id="filter_range_from" name="filter_range_from" type="text" class="datepicker input-block-level" value="{{ filter_range_from }}"/>
                        </div>
                        <div class="span4">
                            <label>&nbsp;</label>
                            <input id="filter_range_to" name="filter_range_to" type="text" class="datepicker input-block-level" value="{{ filter_range_to }}"/>
                        </div>
                        <div class="span2">
                            <label>&nbsp;</label>
                            <div class="row-fluid">
                                {% if filter_name ==''%}{% set filter_name='null'%}{%endif%}
                                {% if filter_agencia ==''%}{% set filter_agencia='null'%}{%endif%}
                                {% if filter_status ==''%}{% set filter_status='null'%}{%endif%}
                                {% if filter_accommodation ==''%}{% set filter_accommodation='null'%}{%endif%}
                                {% if filter_destination ==''%}{% set filter_destination='null'%}{%endif%}
                                {% if filter_range_from ==''%}{% set filter_range_from='null'%}{%endif%}
                                {% if filter_range_to ==''%}{% set filter_range_to='null'%}{%endif%}
                                <div class="span6">
                                    <a rel="tooltip" title="Filtrar listado" href="javascript:action_submit();" class="tooltip_msg btn btn-block btn-success"><i class="icon-filter icon-white"></i></a>
                                </div>
                                <div class="span6">
                                    <a rel="tooltip" title="Resetear filtrado " href="{{ path('mycp_list_reservations_byuser_ag') }}" class="tooltip_msg btn btn-block btn-danger"><i class="icon-remove icon-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% if reservations %}
            <div class="alert">
                <div class="row-fluid">
                    <div class="pull-left">
                        Mostrando del {{items_per_page * current_page - items_per_page}} al {% if items_per_page * current_page >  total_items%}{{total_items }}{% else %}{{ items_per_page * current_page }}{% endif %} de {{total_items}} registros
                    </div>
                    <div class="pull-right">
                        Mostrar:
                        <a class="{% if items_per_page == 100 %}selected{% endif %}" href="{{ path('mycp_list_reservations_byuser_ag',{'items_per_page':100, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to})}}">100</a>
                        <a class="{% if items_per_page == 300 %}selected{% endif %}" href="{{ path('mycp_list_reservations_byuser_ag',{'items_per_page':300, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to})}}">300</a>
                        <a class="{% if items_per_page == 500 %}selected{% endif %}" href="{{ path('mycp_list_reservations_byuser_ag',{'items_per_page':500, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to})}}">500</a>
                        <input class="hidden" name="items_per_page" value="100">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="btn-group dropup btn-action-download" data-url="{{path("mycp_generate_clients_callback")}}" data-reload="{{ path("mycp_list_reservations_byuser_ag", {'items_per_page':items_per_page, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to}) }}" style="display:inline-table">
                        <button type="button" class="btn-mini btn-success" onclick="javascript:download()">Descargar</button>
                    </div>
                    <div class="lblLoading hidden" style="width: 100px; display: inline-table">Cargando...</div>
                </div>
                <div class="span9">
                    <div class="paginator-cont">


                        {{ simple_paginator_render('mycp_list_reservations_byuser_ag',null,{
                'container_class': 'paginator',
                'previousPageText': '«',
                'nextPageText': '»',
                'currentClass': 'current',
                'firstPageText': 'Primera',
                'lastPageText': 'Última',
                'route_params': {'items_per_page':items_per_page, 'filter_name':filter_name, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to}
                }) }}

                    </div>
                </div>
            </div>
            <table class="table table-hover table-striped" style="font-size: 12px">
                <thead>
                <tr>
                    <th></th>
                    <th>Fecha</th>
                    <th>Hora</th>

                    <th>Agencia</th>

                    <th>Cliente</th>
                    <th>Solicitudes</th>
                    <th>Alojamientos Pendientes</th>
                    <th>Noches Solicitadas</th>
                    <th>Destinos No Atendidos</th>
                    <th>Estado</th>
                    <th style="text-align: right; width: 150px;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% set flag=0 %}
                {% for reservation in reservations %}
                    {% set accommodations =  accommodationsByClient(reservation.user_id, reservation.gen_res_date)%}
                    {% set destinations =  destinationsByClient(reservation.user_id, reservation.gen_res_date)%}
                    {% set status =  statusByClient(reservation.user_id, reservation.gen_res_date)%}
                    {% set notShowed = 0 %}
                    {%set attended = constant('\\MyCp\\mycpBundle\\Entity\\userTourist::STATUS_ATTENDED')%}
                    {%set paid = constant('\\MyCp\\mycpBundle\\Entity\\userTourist::STATUS_ATTENDED_PAID')%}
                    {%set notAttended = constant('\\MyCp\\mycpBundle\\Entity\\userTourist::STATUS_NOT_ATTENDED')%}
                    {%set incomplete = constant('\\MyCp\\mycpBundle\\Entity\\userTourist::STATUS_ATTENDED_INCOMPLETE')%}
                <tr class="{% if status==attended %}success{%endif%}{% if status==paid %}info{%endif%}{% if status==notAttended%}warning{% endif %} {% if status==incomplete%}yellow{%endif%}">
                    <td>
                        {% if status != attended and status != paid and reservation.gen_res_date|date("U") >= "-72 hours"|date("U") %}
                        <input type="checkbox" name="check_users" class="ch_reservation" data-user-id="{{reservation.user_id}}"/>
                        {% endif %}
                    </td>
                    <td>{{ reservation.gen_res_date | date('d/m/Y') }}</td>

                    <td>{% if reservation.hourRes != null %}{{ reservation.hourRes | date('H:i') }}{% else %}{{ reservation.hourSavedRes }}h{% endif %}</td>

                    <td>
                    <a title="Editar datos de la agencia" href="{{ path("mycp_edit_agency",{"id": reservation.agencyid}) }}"> {{ reservation.agency_name }}

</a>

                    </td>
                    <td>{{ reservation.fullname }}

                    </td>

                    {#<td><a title="Editar datos del cliente" href="{{ path("mycp_edit_user_tourist",{"id_user": reservation.user_id}) }}">{{ reservation.user_user_name }} {{ reservation.user_last_name }}</a></td>#}
                    <td>{{ reservation.total }}</td>
                    <td>{% for accommodation in  accommodations %}
                        <a href="{{ path("mycp_edit_ownership", {"id_ownership": accommodation.own_id}) }}">{{ accommodation.own_mcp_code }} {% if accommodation.own_inmediate_booking %}<i class="glyphicons electricity" title="Reserva Rápida"></i>{% endif %}</a>{% if not loop.last %}, {% endif %}
                        {% else %} -
                        {% endfor %}
                    </td>
                    <td>{{ reservation.nights }}</td>
                    <td>
                        {% set currentDestination = 0 %}
                        {% for destination in  destinations %}
                            {% if currentDestination != destination.des_id %}
                                {% set currentDestination = destination.des_id %}
                                {% if destination.pending + destination.notAvailable == destination.total %}
                                <a href="{{ path("mycp_edit_destination", {"id_destination": destination.des_id}) }}">{{ destination.des_name }}</a>{% if not loop.last %}, {% endif %}
                                {% else %}
                                    {% set notShowed = notShowed + 1  %}
                                {% endif %}
                            {% endif %}
                        {% else %} -
                        {% endfor %}
                        {% if notShowed == destinations | length and destinations | length > 0%}-{% endif %}
                    </td>
                    <td>{% include 'mycpBundle:utils:clientStatus.html.twig' with {'status': status,'wrap': false, 'showInDiv': true} %}</td>
                    <td style="text-align: right">
                        {% if status != attended and reservation.gen_res_date|date("U") >= "-72 hours"|date("U")%}
                        <a title="Exportar" class="btn btn-mini btn-success" href="{{path('mycp_export_users_reservations', {'idClient': reservation.user_id})}}"><i class="icon-download-alt"></i></a>
                        {% endif %}
                        <a title="Nueva oferta" class="btn btn-mini btn-info" href="{{path('mycp_new_offer_to_client', {'idClient': reservation.user_id, 'attendedDate': reservation.gen_res_date|date("Y-m-d")})}}"><i class="icon-asterisk icon-white"></i></a>
                        <a target="_blank" title="Ver Historial de Reservas" class="btn btn-mini" href="{{ path('mycp_details_client_reservation',{'id_client':reservation.agencyid}) }}"><i class="icon-tags"></i></a>
                    </td>
                </tr>
                {% set flag = flag + 1%}
                {% endfor %}
                </tbody>
            </table>
            <div class="row-fluid">
                <div class="span3">
                    <div class="btn-group dropup btn-action-download" data-url="{{path("mycp_generate_clients_callback")}}" data-reload="{{ path("mycp_list_reservations_byuser_ag", {'items_per_page':items_per_page, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to}) }}" style="display:inline-table">
                        <button type="button" class="btn-mini btn-success" onclick="javascript:download()">Descargar</button>
                    </div>
                    <div class="lblLoading hidden" style="width: 100px; display: inline-table">Cargando...</div>

                </div>
                <div class="paginator-cont span9">
                    {{ simple_paginator_render('mycp_list_reservations_byuser_ag',null,{
                'container_class': 'paginator',
                'previousPageText': '«',
                'nextPageText': '»',
                'currentClass': 'current',
                'firstPageText': 'Primera',
                'lastPageText': 'Última',
                'route_params': {'items_per_page':items_per_page, 'filter_name':filter_name,'filter_agencia':filter_agencia,'filter_status':filter_status,'filter_accommodation':filter_accommodation,'filter_destination':filter_destination,'filter_range_from':filter_range_from,'filter_range_to':filter_range_to}
                }) }}
                </div>
            </div>
            {% else %}
            <p> <div class="alert alert-block">No hay Reservas disponibles.</div></p>
            {% endif %}
        </div>

    </div>
{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea eliminar el elemento?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.es.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayBtn: 'linked',
            autoclose: true,
            language: 'es'
        });

        function submit_filters(ev)
        {
            if(ev.keyCode==13)
            {
                action_submit();
            }
        }

        function action_submit()
        {
            items_per_page={{items_per_page}};
            filter_name=$('#filter_name').val();
            if(filter_name=='')filter_name='null';
            filter_agencia=$('#filter_agencia').val();
            if(filter_agencia=='')filter_agencia='null';

            filter_status=$('#filter_status').val();
            if(filter_status=='')filter_status='null';
            filter_accommodation=$('#filter_accommodation').val();
            if(filter_accommodation=='')filter_accommodation='null';
            filter_destination=$('#filter_destination').val();
            if(filter_destination=='')filter_destination='null';
            filter_range_from=$('#filter_range_from').val();
            if(filter_range_from=='')filter_range_from='null';
            filter_range_to=$('#filter_range_to').val();
            if(filter_range_to=='')filter_range_to='null';

            url_submit=$('#filter').attr('action');
            url_submit=url_submit+'/'+items_per_page+'/'+filter_name+'/'+filter_agencia+'/'+filter_status+'/'+filter_accommodation+'/'+filter_destination+'/'+filter_range_from+'/'+filter_range_to;
            $('#filter').attr('action',url_submit);
            $('#filter').submit();
        }

        function download()
        {
            $(".lblLoading").removeClass("hidden");
            var checkValues = $('input[name=check_users]:checked').map(function() {
                return $(this).attr('data-user-id');
            }).get();

            if(checkValues.length == 0)
            {
                hds.msg.show(1, "Seleccione alguno de los clientes");
                return;
            }

            var url = $(".btn-action-download").attr("data-url");
            //var reload = $(".btn-action-download").attr("data-reload");
            $.post(url, {
                'users_ids': checkValues,
                'page': 0

            }, function(data) {
                if(data != "ERROR")
                {
                    window.location = data;
                    $(".lblLoading").addClass("hidden");
                }
                else {
                    alert(data);
                    $(".lblLoading").addClass("hidden");
                }
            });
        }

    </script>
{% endblock %}
