{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_list_reservations') }}">Reservas</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_details_reservation',{'id_reservation':reservation.genResId}) }}">Reserva {{ reservation.getCASId }}</a> <span class="divider">/</span></li>
        <li class="active">Nueva Oferta</li>
        <li class="pull-right"><a href="{{ path('mycp_details_reservation',{'id_reservation':reservation.genResId}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
    </ul>
{% endblock %}
{% block form_actions %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_list_reservations') }}">Reservas</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_details_reservation',{'id_reservation':reservation.genResId}) }}">Reserva {{ reservation.getCASId }}</a> <span class="divider">/</span></li>
        <li class="active">Nueva Oferta</li>
        <li class="pull-right"><a href="{{ path('mycp_details_reservation',{'id_reservation':reservation.genResId}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
    </ul>
    <script type="text/javascript">
        $('#btn_submit').click(function(){
            if($('.calendar-results').css('display')=='block'){
                $('#form_submit').submit();

            }
            else
            {

            }
        });
    </script>
{% endblock %}
{% block content %}
    <link href="{{ asset('bundles/mycp/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    {%set start_date = reservation.genResFromDate |date("d/m/Y")%}
    {%set end_date = reservation.genResToDate |date("d/m/Y")%}
    <h2>Nueva Oferta - Reserva {{reservation.getCASId}}
    {{ render(controller('mycpBundle:BackendReservation:getGeneralReservationStatusName', {'status': reservation.genresstatus, 'showInDiv': false})) }}
    </h2>
    <hr/>
    {% for message in app.session.flashbag.get('message_error_local') %}
        <div class="alert alert-error">{{ message | raw }}</div>
    {% endfor %}
    <div class="row-fluid">
        <div class="span6">
        {{include('mycpBundle:utils:clientInfoShortTab.html.twig', {"user":user, "tourist": tourist})}}
        </div>
        <div class="span6">
        {{include('mycpBundle:utils:paymentInfoShortTab.html.twig', {"bookings":bookings, "payment": payment})}}
        </div>
     </div>
    {%if bookings and reservation.genresStatus == constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_CANCELLED')%}
    <hr/>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#dates" data-toggle="tab">Modificar fechas</a>
        </li>
        <li>
            <a href="#house" data-toggle="tab">Ofrecer alojamiento</a>
        </li>
    </ul>
    <div class="tab-content tabs_cont">
        <div class="tab-pane active" id="dates">
        <h5>{{reservation.genResOwnId.ownMcpCode}} - {{reservation.genResOwnId.ownName}}</h5>
        <form id="form_dates" action="{{ path('mycp_changes_dates_reservation',{'id_tourist':id_tourist,'id_reservation':reservation.genResId}) }}" method="POST">
    <table class="table table-striped" style="font-size: 12px">
        <thead>
        <tr>
            <th>Habitación</th>
            <th>Adultos</th>
            <th>Niños</th>
            <th>Entrada</th>
            <th>Noches</th>
            <th>Precios</th>
            <th>Precio/Noche</th>
            <th>Comisión</th>
            <th>Total</th>
        </tr>
        </thead>
        {% set flag = 0 %}
        {% set total_adults = 0 %}
        {% set total_kids = 0 %}
        {% set total_nights = 0 %}
        {% set total_price = 0 %}
        {% set total_rooms = 0 %}
        {% for reservation_rooms in reservations%}
        {% set total_adults = total_adults + reservation_rooms.getOwnResCountAdults %}
        {% set total_kids = total_kids + reservation_rooms.getOwnResCountChildrens %}
        {% set total_nights = total_nights + nights[loop.index0] %}
        {% set total_rooms = total_rooms + 1 %}
        <tr>
            <td>
               Hab #{{rooms[flag].getRoomNum}} - {{rooms[flag].getRoomType}}
             </td>
            <td style="width: 50px">{{reservation_rooms.getOwnResCountAdults}}</td>
            <td>{{reservation_rooms.getOwnResCountChildrens}}</td>
            <td>
                {%if errors['date_from_' ~ reservation_rooms.getOwnResId] is defined%}
                    <label class="error">Rango incorrecto</label>
                {%endif%}
                <input name="date_from_{{reservation_rooms.getOwnResId}}" data-localization="es" type="text" data-res-id="{{reservation_rooms.getOwnResId}}" data-night="{{nights[loop.index0]}}" class="input-block-level datepicker_textbox" value="{% if post['date_from_'~reservation_rooms.getOwnResId] is defined %}{{ post['date_from_'~reservation_rooms.getOwnResId] }}{% else %}{{ reservation_rooms.getOwnResReservationFromDate | date("d/m/Y") }}{% endif %}"/></td>
                <input type="hidden" name="original_date_{{reservation_rooms.getOwnResId}}" data-res-id="{{reservation_rooms.getOwnResId}}" value="{{ reservation_rooms.getOwnResReservationFromDate | date("d/m/Y") }}" />
            <td>{{nights[loop.index0]}}
            <input name="nights_{{reservation_rooms.getOwnResId}}" type="hidden" value="{{nights[loop.index0]}}"/>
            </td>
            <td nowrap=nowrap>
                {%if rooms[flag]%}
                    Baja: {{ rooms[flag].getRoomPriceDownTo }} CUC <br/>
                    Alta: {{ rooms[flag].getRoomPriceUpTo }} CUC
                    {%if rooms[flag].getRoomPriceSpecial is defined and rooms[flag].getRoomPriceSpecial != "" and rooms[flag].getRoomPriceSpecial != 0%}
                    <br/>
                    Especial: {{ rooms[flag].getRoomPriceSpecial }} CUC
                    {%endif%}
                {%endif%}
            </td>
            <td style="width: 7%">
                {% set price_own_res =0%}
                {% if post['service_room_price_'~reservation_rooms.getOwnResId] is defined %}
                    {% set price_own_res=post['service_room_price_'~reservation_rooms.getOwnResId] %}
                {% else %}
                    {% if reservation_rooms.getOwnResNightPrice ==0%}
                        {% set price_own_res=0 %}
                    {% else %}
                        {% set price_own_res=reservation_rooms.getOwnResNightPrice %}
                    {% endif %}
                {% endif %}
                <input type="text" class="input-block-level" value="{{ price_own_res }}" name="service_room_price_{{reservation_rooms.getOwnResId}}"/>
                {% if reservation_rooms.getOwnResNightPrice ==0%}
                ({{ceil_round(reservation_rooms.getOwnResTotalInSite / nights[loop.index0]) }} CUC)
                <input name="price_{{reservation_rooms.getOwnResId}}" type="hidden" value="{{ceil_round(reservation_rooms.getOwnResTotalInSite / nights[loop.index0])}}"/>
                {%else%}
                ({{reservation_rooms.getOwnResNightPrice}} CUC)
                <input name="price_{{reservation_rooms.getOwnResId}}" type="hidden" value="{{reservation_rooms.getOwnResNightPrice}}"/>
                {%endif%}
            </td>
            <td>{{ reservation_rooms.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent }}%</td>
            <td>
                {%if reservation_rooms.getOwnResNightPrice != 0%}
                    {{nights[loop.index0] * reservation_rooms.getOwnResNightPrice}} CUC
                    {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                        {%set total_price = total_price + (nights[loop.index0] * reservation_rooms.getOwnResNightPrice)%}
                    {%endif%}
                {%else%}
                {{reservation_rooms.getOwnResTotalInSite}}CUC</td>
                {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                {%set total_price = total_price + reservation_rooms.getOwnResTotalInSite%}
                {%endif%}
            {%endif%}
        </tr>
        {% set flag = flag + 1%}
        {% endfor %}
    </table>
                <hr/>
    <h4>Mensaje</h4>
    <textarea name="message_body" style="width:95%"></textarea>
    <div class="row-fluid" style="text-align: right">
        {%if bookings and reservation.genresStatus == constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_CANCELLED')%}
        <button class="btn btn-primary" id="btn_dates">Guardar</button>
        {%endif%}
        <a class="btn" href="{{ path('mycp_details_reservation',{'id_reservation':reservation.genResId}) }}">Cancelar</a>
    </div>
            </form>
        </div>
    <div class="tab-pane" id="house">
    <div class="row-fluid">
        <div class="span6">
            <select id="ownership" name="own" class="input-block-level">
                {% for own in ownerships %}
                    <option data-percent="{{ own.own_commission_percent }}" value="{{ own.own_id }}">{{own.own_mcp_code}} - {{ own.own_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span3">
            <input value="{{start_date}}"  type="text" id="filter_date_from" class="form-control input-block-level" placeholder="Entrada" data-localization='es'>
        </div>
        <div class="span3">
            <input value="{{ end_date }}" type="text" id="filter_date_to" class="form-control input-block-level" placeholder="Salida" data-localization='es'>
        </div>
    </div>
     <form id="form_submit" action="{{ path('mycp_new_offer_reservation',{'id_tourist':id_tourist,'id_reservation':reservation.genResId}) }}" method="POST">
    <div class="container_loading" id="body_calendar" style="overflow-x: auto;">

    </div>

    <ul class="price calendar-cont calendar-results">
        <li class="lead-2">
            <table id="rooms_selected" class="table" style="margin-bottom: 0px; display: none;">
                <thead>
                <tr>
                    <th>Habitaciones seleccionadas</th>
                    <th>Tipo</th>
                    <th>No. de habitaciones</th>
                    <th>Adultos</th>
                    <th>Niños</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </li>
        <br/>
        <li class="lead">
            <div class="row-fluid all-prices-numbers">
                <div class="span2">
                    Precio total:<br/> <span id="total_price"></span> CUC
                </div>
                <div class="span2">
                    Comisión MyCP: <br/> <span id="initial_deposit"></span> CUC
                </div>
                <div class="span2">
                    Cargo por servicio:<br/>  <span id="service_recharge">{{configuration_service_fee}}</span> CUC
                </div>
            <div class="span2">
                Pago inicial: <br/><span id="total_prepayment"></span> CUC
            </div>
            <div class="span2">
                Pago al arribar:<br/> <span id="pay_at_service"></span> CUC
            </div>
            <div class="span2">
                <span id="error" class="alert-error">El nuevo precio total no coincide con el precio anterior</span>
            </div>
                </div>
        </li>
        <li class="lead-2">
            {% if post['reservation_filter_date_from'] is defined %}
                {% set date_from = post['reservation_filter_date_from']|replace("/","&") %}
            {% else %}
                {% set date_from = "now"|date("d&m&Y") %}
            {% endif %}

            {% if post['reservation_filter_date_to'] is defined%}
                {% set date_to = post['reservation_filter_date_to']|replace("/","&") %}
            {% else %}
                {% set date_to = "+6 day"|date("d&m&Y") %}
            {% endif %}

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-4">
                            <input from_date="{{ start_date | replace('/','&') }}" to_date="{{ end_date | replace('/','&') }}" type="text" style="visibility: hidden; margin-bottom: -50px" name="data_reservation" id="data_reservation"/>
                            <input type="text" style="visibility: hidden; margin-bottom: -50px" name="data_ownership" id="data_ownership" value=""/>
                        </div>
                    </div>
                </div>

        </li>
    </ul>
             <h4>Mensaje</h4>
    <textarea name="message_body" style="width:95%"></textarea>
            <div class="row-fluid" style="text-align: right">
        {%if bookings and reservation.genresStatus == constant('\\MyCp\\mycpBundle\\Entity\\generalReservation::STATUS_CANCELLED')%}
        <button class="btn btn-primary" id="btn_submit" disabled="disabled">Guardar</button>
        {%endif%}
        <a class="btn" href="{{ path('mycp_details_reservation',{'id_reservation':reservation.genResId}) }}">Cancelar</a>
        </form>
    </div>
        </div>
        </div>


    <script src="{{ asset('bundles/mycp/js/wysihtml5-0.3.0.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var url_css_color="{{ asset('bundles/mycp/css/wysiwyg-color.css') }}";
    </script>
    <script src="{{ asset('bundles/mycp/js/bootstrap-wysihtml5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/frontend/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/bootstrap-datepicker.es.js') }}"></script>
    <link href="{{ asset('bundles/mycp/css/bootstrap-wysihtml5.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('bundles/mycp/js/bootstrap-combobox.js') }}"></script>
    <link href="{{ asset('bundles/mycp/css/bootstrap-combobox.css') }}" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var today_date = "{{"now"|date("d/m/Y") }}";
        var start_date = "{{ start_date }}";
        var end_date = "{{ end_date }}";
        var originalTotalPrice = {{reservation.getGenResTotalInSite}};

        $("#btn_dates").click(function(){
           $('#form_dates').submit();
        });

        function create_date_in(date_text) {
            var date = date_text.split('/');
            new_date = date[2] + '-' + date[1] + '-' + date[0];
            return new_date;
        }

        function refresh_calendar(from, to , own_id)
        {
            $('.calendar-results').css({display: 'none'});
            element = $("#body_calendar");
            element.attr('class', 'container_loading');
            element.html('<div>&nbsp;</div>');
            $('#rooms_selected').css({display: 'none'});
            $('#all_data_numbers').css({display: 'none'});

            fields_dates=$('.form-control')
            btn_refresh=$('#button_refresh_calendar')
            fields_dates.attr('disabled','true');

            $.ajax({
                url: "{{ path('frontend_get_reservation_calendar_ownership_callback') }}",
                data: {from: from, to: to, own_id: own_id, backend: true}

            }).done(function(resp) {
                        element.removeAttr('class');
                        element.html(resp);
                        from = from.replace('/', '&');
                        from = from.replace('/', '&');
                        to = to.replace('/', '&');
                        to = to.replace('/', '&');
                        $('#data_reservation').attr('from_date', from);
                        $('#data_reservation').attr('to_date', to);
                        fields_dates.removeAttr('disabled');
                    });

        }

        $('input#filter_date_to,#ownership').change(function() {
            from = $('#filter_date_from').val();
            to = $('#filter_date_to').val();
            own = $('#ownership').val();
            refresh_calendar(from, to, own);
            $('#data_ownership').val(own);

        });

        from = $('#filter_date_from').val();
        to = $('#filter_date_to').val();
        own = $('#ownership').val();
        refresh_calendar(from, to,own);


        function datePickersStarUp(){
            $('#filter_date_from').datepicker({
                format:'dd/mm/yyyy',
                todayBtn:'linked',
                autoclose: true,
                startDate: new Date(),
                date: start_date,
                language: $('#filter_date_from').attr('data-localization')
            }).on('changeDate', function(ev){
                        var startDate = new Date(ev.date);
                        startDate.setDate(startDate.getDate() + 1);
                        $('#filter_date_to').datepicker("setStartDate", startDate);
                        var date = new Date(ev.date);
                        date.setDate(date.getDate() + 2);
                        $('#filter_date_to').datepicker("setDate", date);
                        $('.datepicker').hide();

                        own = $('#ownership').val();
                        refresh_calendar(ev.date.getDate() + '/' + (ev.date.getMonth() + 1) + '/' + ev.date.getFullYear(),date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear(),own);

                    });

            var filter_date_to =$('#filter_date_to').datepicker({
                format:'dd/mm/yyyy',
                todayBtn:false,
                autoclose: true,
                startDate: '+1d',
                date: end_date,
                language: $('#filter_date_to').attr('data-localization')
            }).data('datepicker');
        }
        datePickersStarUp();
        own = $('#ownership').val();
        $('#data_ownership').val(own);
    </script>
    <script type="text/javascript">
        $('.textarea').wysihtml5();
        $('.datepicker_textbox').datepicker({
            language: 'es',
            format:'dd/mm/yyyy'
        }).on('changeDate', function(ev){
             $('.datepicker').hide();

                });
    </script>
    <script src="{{ asset('bundles/mycp/js/ownership.calendar.js') }}"></script>
    {%endif%}
{% endblock %}
