{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_list_reservations') }}">Reservas</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_details_reservation',{'id_reservation':id_reservation}) }}">Reserva CAS.{{ id_reservation }}</a> <span class="divider">/</span></li>
        <li class="active">Nueva Oferta</li>
        <li class="pull-right"><a href="{{ path('mycp_details_reservation',{'id_reservation':id_reservation}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
    </ul>
{% endblock %}
{% block form_actions %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_list_reservations') }}">Reservas</a> <span class="divider">/</span></li>
        <li><a href="{{ path('mycp_details_reservation',{'id_reservation':id_reservation}) }}">Reserva CAS.{{ id_reservation }}</a> <span class="divider">/</span></li>
        <li class="active">Nueva Oferta</li>
        <li class="pull-right"><a href="{{ path('mycp_details_reservation',{'id_reservation':id_reservation}) }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h2>Nueva Oferta para {{ user.getUserName }} {{ user.getUserLastName }}</h2>
    <hr/>

{% endblock %}
