{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}

{% block another_in_head %}
    {{ parent() }}
    {% stylesheets
    '@mycpBundle/Resources/public/css/datepicker.css'
    '@mycpBundle/Resources/public/vendors/select2/css/select2.min.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{path('mycp_list_reservations')}}">Reservas</a> <span class="divider">/</span></li>
    <li class="active">Nueva Oferta</li>
</ul>
{% endblock %}
{% block content %}
<h2>Nueva Oferta</h2>
<hr/>
<div class="row-fluid">
{% if client is defined and client != null %}
    {{include('mycpBundle:utils:clientInfoTab.html.twig', {"user":client, "tourist": tourist})}}
    <input type="hidden" name="idUser" id="idUser" value="{{ client.userId }}"/>
{% else %}
    {{ render(controller('mycpBundle:BackendReservation:searchClients')) }}
{% endif %}
</div>
{% if client is defined and client != null %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#accommodation" data-toggle="tab">Alojamiento</a>
        </li>
    </ul>
<form id="form_submit" action="{{ path("mycp_new_offer_to_client", {"idClient": client.userId}) }}" method="POST">
    {{ render(controller('mycpBundle:BackendReservation:searchAccommodations')) }}
    <div class="row-fluid" style="text-align: right">
        <button class="btn btn-primary btn_submit" id="btn_submit" disabled="disabled" onclick="javascript:submit_button({{constant('\\MyCp\\mycpBundle\\Helpers\\Operations::SAVE_AND_EXIT')}})">Guardar</button>
        <button class="btn btn-warning btn_submit" id="btn_submit" disabled="disabled" onclick="javascript:submit_button({{constant('\\MyCp\\mycpBundle\\Helpers\\Operations::SAVE_OFFER_AND_VIEW')}})">Guardar y ver oferta</button>
        <button class="btn btn-danger btn_submit" id="btn_sendSubmit" disabled="disabled" onclick="javascript:submit_button({{constant('\\MyCp\\mycpBundle\\Helpers\\Operations::SAVE_OFFER_AND_SEND')}})">Guardar y enviar</button>
        <a class="btn" href="{{ path('mycp_list_reservations') }}">Cancelar</a>
    </div>
    <input id="save_operation" name="save_operation" value="{{constant('\\MyCp\\mycpBundle\\Helpers\\Operations::SAVE_AND_EXIT')}}" class="hidden">
</form>
{% endif %}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.es.js'
    '@mycpBundle/Resources/public/js/common_list.js'
    '@mycpBundle/Resources/public/vendors/select2/js/select2.min.js'
    '@mycpBundle/Resources/public/vendors/select2/js/i18n/es.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).on('ready', function(){
            $('.select').select2();
        });

        function submit_button(operation)
        {
            $("#save_operation").val(operation);
            if($('.calendar-results').css('display')=='block'){
                $('#form_submit').submit();

            }
        }
    </script>
    <script>

        $("#btnSelect").click(function (){
            var url = $("#hClientData").val();
            url = url + "/" + $("#ddlUsersEmail").val();

            window.location = url;
        });

    </script>

{% endblock %}
