<ul class="paginator">

    {% if current_page > 1 %}
        <li class="first"><a href="{{ path('mycp_list_reservations_ag', {'page': 1, 'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'filter_booking_number': filter_booking_number, 'filter_status':filter_status, 'filter_client':filter_client,'sort_by':sort_by}) }}">Primera</a></li>
        <li class="left"><a href="{{ path('mycp_list_reservations_ag', {'page': current_page - 1, 'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'filter_booking_number': filter_booking_number, 'filter_status':filter_status, 'filter_client':filter_client,'sort_by':sort_by}) }}">«</a></li>
    {% else %}
        <li class="first_disabled">Primera</li>
        <li class="left_disabled">«</li>
    {% endif %}

    {% for page in start_page..end_page %}
        {% if page == current_page %}
            <li class="current">{{ page }}</li>
        {% else %}
            <li><a href="{{ path('mycp_list_reservations_ag', {'page': page, 'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'filter_booking_number': filter_booking_number, 'filter_status':filter_status, 'filter_client':filter_client,'sort_by':sort_by}) }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {% if current_page < last_page_number %}
        <li class="right"><a href="{{ path('mycp_list_reservations_ag', {'page': current_page + 1, 'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'filter_booking_number': filter_booking_number, 'filter_status':filter_status, 'filter_client':filter_client,'sort_by':sort_by}) }}">»</a></li>
        <li class="last"><a href="{{ path('mycp_list_reservations_ag', {'page': last_page_number, 'items_per_page':items_per_page,'filter_date_reserve':filter_date_reserve_twig,'filter_offer_number':filter_offer_number,'filter_reference':filter_reference,'filter_date_from':filter_date_from_twig,'filter_date_to':filter_date_to_twig,'filter_booking_number': filter_booking_number, 'filter_status':filter_status, 'filter_client':filter_client,'sort_by':sort_by}) }}">Última</a></li>
    {% else %}
        <li class="right_disabled">»</li>
        <li class="last_disabled">Última</li>
    {% endif %}
</ul>