{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_readonly_reservations') }}">Reservas</a> <span class="divider">/</span></li>
    <li class="active">Detalles de reserva</li>
    <li class="pull-right"><a href="{% if from_calendar == 0 %}{{ path('mycp_list_readonly_reservations') }}{% else %}{{ path('mycp_lodging_unavailabilityDetails_calendar') }}{% endif %}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_readonly_reservations') }}">Reservas</a> <span class="divider">/</span></li>
    <li class="active">Detalles de reserva</li>
    <li class="pull-right"><a href="{% if from_calendar == 0 %}{{ path('mycp_list_readonly_reservations') }}{% else %}{{ path('mycp_lodging_unavailabilityDetails_calendar') }}{% endif %}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block content %}
<h2>Detalles de Reserva ({{ reservation.getCASId }})</h2>
<hr/>
<div class="row-fluid">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#reservas" data-toggle="tab">Cliente</a>
            </li>
        </ul>
        <table class="table table-striped" style="font-size: 12px">
            <tr>
                <td><b>Nombre:</b> {{ reservation.getGenResUserId.getUserUserName }} {{ reservation.getGenResUserId.getUserLastName }}</td>
                <td><b>Correo:</b> {{ reservation.getGenResUserId.getUserEmail }}</td>
                <td><b>Ciudad:</b> {%if reservation.getGenResUserId.getUserCity != null%}{{ reservation.getGenResUserId.getUserCity }}{%else%}-{%endif%}</td>
            </tr>
            <tr>
                <td><b>Idioma:</b> {{ user[0].getUserTouristLanguage.getLangName }}</td>
                <td><b>Moneda:</b> {% if user[0].getUserTouristCurrency.getCurrName is defined %}{{ user[0].getUserTouristCurrency.getCurrName }}{% endif %}</td>
                <td><b>País:</b> {{ reservation.getGenResUserId.getUserCountry }}</td>
            </tr>
            {%if reservation.getGenResUserId.getUserAddress != null%}
            <tr>
                <td colspan="3"><b>Dirección:</b> {{ reservation.getGenResUserId.getUserAddress }}</td>
            </tr>
            {%endif%}
        </table>
    </div>

<div class="row-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#reservas" data-toggle="tab">Habitaciones reservadas</a>
        </li>
    </ul>
        <table class="table" style="font-size: 12px;">
        <thead>
        <tr>
            <th>Habitación</th>
            <th>Adultos</th>
            <th>Niños</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Noches</th>
            <th>Precio Total</th>
            <th>Comisión MyCP</th>
            <th>Pago en casa</th>
            <th>Estado</th>
        </tr>
        </thead>
    {% set total_adults = 0 %}
    {% set total_kids = 0 %}
    {% set total_nights = 0 %}
    {% set total_price = 0 %}
        {% set total_rooms = 0 %}
    {% for reservation_rooms in reservations%}
     {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
    {% set total_adults = total_adults + reservation_rooms.getOwnResCountAdults %}
    {% set total_kids = total_kids + reservation_rooms.getOwnResCountChildrens %}
    {% set total_nights = total_nights + nights[loop.index0] %}
    {% set total_price = total_price + nights[loop.index0] * reservation_rooms.getOwnResNightPrice %}
        {% set total_rooms = total_rooms + 1 %}
    {%endif%}
        {% set partial_price = 0 %}
        <tr>
            <td>{{ reservation_rooms.getOwnResRoomType }}</td>
            <td>{{ reservation_rooms.getOwnResCountAdults }}</td>
            <td>{{ reservation_rooms.getOwnResCountChildrens }}</td>
            <td>{{reservation_rooms.getOwnResReservationFromDate | date("d/m/Y")}}</td>
            <td>{{reservation_rooms.getOwnResReservationToDate | date("d/m/Y")}}</td>
            <td>{{ nights[loop.index0] }}</td>
            <td>
                {%if reservation_rooms.getOwnResNightPrice != 0%}
                    {{nights[loop.index0] * reservation_rooms.getOwnResNightPrice}} CUC
                    {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                        {%set partial_price = (nights[loop.index0] * reservation_rooms.getOwnResNightPrice)%}
                    {%endif%}
                {%else%}
                {{reservation_rooms.getOwnResTotalInSite}}CUC</td>
                {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                {%set partial_price = reservation_rooms.getOwnResTotalInSite%}
                {%endif%}
            {%endif%}
                {%set total_price = total_price + partial_price%}
            </td>
            <td>{{ partial_price * reservation_rooms.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100}} CUC</td>
            <td>{{ partial_price - ( partial_price * reservation_rooms.getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)}} CUC</td>
            <td>
            {{ render(controller('mycpBundle:BackendReservation:reservationStatusName', {'status': reservation_rooms.getOwnResStatus})) }}
            </td>
         </tr>
         {% endfor %}
    </table>

</div>

<ul class="nav nav-tabs">
        <li class="active">
            <a href="#reservas" data-toggle="tab">Resumen</a>
        </li>
    </ul>
    <table class="table" style="font-size: 12px;">
        <thead>
        <tr>
            <th>Habitaciones</th>
            <th>Adultos</th>
            <th>Niños</th>
            <th>Noches</th>
            <th>Precio Total</th>
            <th>Comisión MyCP</th>
            <th>Pago en casa</th>
        </tr>
        </thead>

        <tr>
            <td>{{ total_rooms }}</td>
            <td>{{ total_adults }}</td>
            <td>{{ total_kids }}</td>
            <td>{{ total_nights }}</td>
            <td>{{ total_price}} CUC</td>
            <td>{{ total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100}} CUC</td>
            <td>{{ total_price - ( total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)}} CUC</td>

        </tr>
    </table>
{% endblock %}
