{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_readonly_reservations') }}">Reservas</a> <span class="divider">/</span></li>
    <li class="active">Detalles de reserva</li>
    <li class="pull-right"><a href="{% if from_calendar == 0 %}{{ path('mycp_list_readonly_reservations') }}{% else %}{{ path('mycp_lodging_unavailabilityDetails_calendar') }}{% endif %}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_readonly_reservations') }}">Reservas</a> <span class="divider">/</span></li>
    <li class="active">Detalles de reserva</li>
    <li class="pull-right"><a href="{% if from_calendar == 0 %}{{ path('mycp_list_readonly_reservations') }}{% else %}{{ path('mycp_lodging_unavailabilityDetails_calendar') }}{% endif %}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block content %}
<h2>Detalles de Reserva ({{ reservation.getGenResOwnId.getOwnMcpCode }} {{ reservation.getGenResOwnId.getOwnName }})</h2>
<hr/>
<div class="row-fluid">
<div class="span6">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#reservas" data-toggle="tab">Casa</a>
        </li>
    </ul>
    <table class="table table-striped " style="font-size: 12px">
        <tr>
            <td><b>ID Casa:</b></td>
            <td>{{ reservation.getGenResOwnId.getOwnMcpCode }} {{ reservation.getGenResOwnId.getOwnName }}</td>
        </tr>
        <tr>
            <td><b>Tipo de propiedad:</b></td>
            <td>{{ reservation.getGenResOwnId.getOwnType }}</td>
        </tr>
        <tr>
            <td><b>Propietario:</b></td>
            <td>{{ reservation.getGenResOwnId.getOwnHomeowner1 }}</td>
        </tr>
        <tr>
            <td><b>Dirección:</b></td>
            <td>{{ reservation.getGenResOwnId.getOwnAddressStreet }} {{ reservation.getGenResOwnId.getOwnAddressNumber }} e/ {{ reservation.getGenResOwnId.getOwnAddressBetweenStreet1 }} y {{ reservation.getGenResOwnId.getOwnAddressBetweenStreet2 }} {{ reservation.getGenResOwnId.getOwnAddressMunicipality }}</td>
        </tr>
        <tr>
            <td><b>Teléfono:</b></td>
            <td>{{ reservation.getGenResOwnId.getOwnPhoneCode }} {{ reservation.getGenResOwnId.getOwnPhoneNumber }}</td>
        </tr>
    </table>
</div>
    <div class="span6">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#reservas" data-toggle="tab">Cliente</a>
            </li>
        </ul>
        <table class="table table-striped" style="font-size: 12px">
            <tr>
                <td><b>Nombre:</b></td>
                <td colspan="3">{{ reservation.getGenResUserId.getUserUserName }} {{ reservation.getGenResUserId.getUserLastName }}</td>
            </tr>
            <tr>
                <td><b>Dirección:</b></td>
                <td colspan="3">{{ reservation.getGenResUserId.getUserAddress }}</td>
            </tr>
            <tr>
                <td><b>Ciudad:</b></td>
                <td>{{ reservation.getGenResUserId.getUserCity }}</td>
                <td><b>País:</b></td>
                <td>{{ reservation.getGenResUserId.getUserCountry }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td colspan="3">{{ reservation.getGenResUserId.getUserEmail }}</td>
            </tr>
            <tr>
                <td><b>Idioma:</b></td>
                <td>{{ user[0].getUserTouristLanguage.getLangName }}</td>
                <td><b>Moneda:</b></td>
                <td>{% if user[0].getUserTouristCurrency.getCurrName is defined %}{{ user[0].getUserTouristCurrency.getCurrName }}{% endif %}</td>
            </tr>
        </table>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#reservas" data-toggle="tab">Resumen de Reserva</a>
        </li>
    </ul>
    {% set total_adults = 0 %}
    {% set total_kids = 0 %}
    {% set total_nights = 0 %}
    {% set total_price = 0 %}
    {% for reservation_rooms in reservations%}
    {% set total_adults = total_adults + reservation_rooms.getOwnResCountAdults %}
    {% set total_kids = total_kids + reservation_rooms.getOwnResCountChildrens %}
    {% set total_nights = total_nights + nights[loop.index0] %}
    {% set total_price = total_price + nights[loop.index0] * reservation_rooms.getOwnResNightPrice %}
    {% endfor %}
    <table class="table" style="font-size: 12px;">
        <thead>
        <tr>
            <th>Habitación</th>
            <th>Adultos</th>
            <th>Niños</th>
            <th>Noches</th>
            <th>Precio Total</th>
            <th>Comisión MyCP</th>
            <th>Pago en casa</th>
        </tr>
        </thead>

        <tr>
            <td>{{ reservations|length }}</td>
            <td>{{ total_adults }}</td>
            <td>{{ total_kids }}</td>
            <td>{{ total_nights }}</td>
            <td>{{ total_price}} CUC</td>
            <td>{{ total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100}} CUC</td>
            <td>{{ total_price - ( total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)}} CUC</td>
        </tr>
    </table>

</div>
{% endblock %}
