
<button type="button" onclick="javascript:close_tab({{ reservation.getGenResId }})" class="close_tab pull-right btn btn-mini btn-danger"><i class="icon-white icon-remove"></i> Cerrar</button>
<a  href="{{ path("mycp_details_reservation", {"id_reservation": reservation.getGenResId}) }}" class="pull-right btn btn-mini btn-primary"  style="margin-right: 1em"><i class="icon-white icon-edit"></i> Editar</a>

<div class="row-fluid">
<div class="row-fluid">
    <h5>Propiedad</h5>
     <hr style="margin-top: 0px"/>
    <table class="table table-striped" style="font-size: 12px">
        <tr>
            <td colspan="2"><b>Propiedad: </b> {{ reservation.getGenResOwnId.getOwnMcpCode }} {{ reservation.getGenResOwnId.getOwnName }}</td>
            <td><b>Tipo de propiedad: </b> {{ reservation.getGenResOwnId.getOwnType }}</td>
        </tr>
        <tr>
            <td><b>Propietario: </b>{{ reservation.getGenResOwnId.getOwnHomeowner1 }}</td>
            <td><b>Dirección: </b>{{ reservation.getGenResOwnId.getOwnAddressStreet }} {{ reservation.getGenResOwnId.getOwnAddressNumber }} e/ {{ reservation.getGenResOwnId.getOwnAddressBetweenStreet1 }} y {{ reservation.getGenResOwnId.getOwnAddressBetweenStreet2 }} {{ reservation.getGenResOwnId.getOwnAddressMunicipality }}</td>
            <td><b>Teléfono: </b>{{ reservation.getGenResOwnId.getOwnPhoneCode }} {{ reservation.getGenResOwnId.getOwnPhoneNumber }}</td>
        </tr>
    </table>
</div>
<div class="row-fluid">
    <div class="span12">
        <h5>Habitaciones reservadas</h5>
        <hr style="margin-top: 0px"/>
        <table class="table table-striped" style="font-size: 12px">
            <thead>
            <tr>
                <th>Habitación</th>
                <th>Adultos</th>
                <th>Niños</th>
                <th>Período</th>
                <th>Noches</th>
                <th>Precios</th>
                <th>Precio/Noche</th>
                <th>Comisión</th>
                <th>Total</th>
                <th>Estado</th>
            </tr>
            </thead>
            {% set flag = 0 %}
            {% set total_adults = 0 %}
            {% set total_childrens = 0 %}
            {% set total_nights = 0 %}
            {% set total_price_own_res = 0%}
            {% set total_price = 0 %}
            {% set total_rooms = 0 %}

            {% for reservation_rooms in reservations%}
            {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
            {% set total_adults = total_adults +  reservation_rooms.getOwnResCountAdults %}
            {% set total_childrens = total_childrens +  reservation_rooms.getOwnResCountChildrens %}
            {#% set total_nights = total_nights +  reservation_rooms.ownResNights %}
            {% set total_price_own_res = total_price_own_res +   reservation_rooms.ownResNights * reservation_rooms.getOwnResNightPrice %#}
            {% set total_nights = total_nights +  nights[loop.index0] %}
            {% set total_price_own_res = total_price_own_res +   nights[loop.index0] * reservation_rooms.getOwnResNightPrice %}

            {%endif%}
            <tr>
                {% set res_type ='' %}
                {% if reservation_rooms.getOwnResRoomType %}
                {% set res_type = reservation_rooms.getOwnResRoomType %}
                {% else %}
                {% set res_type = rooms[flag].getRoomType %}
                {% endif %}
                <td>Hab #{{rooms[flag].getRoomNum}} - {{rooms[flag].getRoomType}}</td>
                <td>{{ reservation_rooms.getOwnResCountAdults}}</td>
                <td>{{reservation_rooms.getOwnResCountChildrens}}</td>
                <td>{{ reservation.getGenResFromDate | date("d/m/Y") }} <br/>
                    {{ reservation.getGenResToDate | date("d/m/Y") }}</td>
                <td>{{ nights[loop.index0] }}{#{ reservation_rooms.ownResNights }#}</td>
                <td nowrap=nowrap>
                {%if rooms[flag]%}
                    Baja: {{ rooms[flag].getRoomPriceDownTo }} CUC <br/>
                    Alta: {{ rooms[flag].getRoomPriceUpTo }} CUC
                    {%if rooms[flag].getRoomPriceSpecial is defined and rooms[flag].getRoomPriceSpecial != "" and rooms[flag].getRoomPriceSpecial != 0%}
                    <br/>
                    Especial: {{ rooms[flag].getRoomPriceSpecial }} CUC
                    {%endif%}
                {%endif%}
            </td>
                <td style="width: 7%">
                    {% set price_own_res =0%}

                    {% if reservation_rooms.getOwnResNightPrice ==0%}
                        {% set price_own_res=0 %}
                    {% else %}
                        {% set price_own_res=reservation_rooms.getOwnResNightPrice %}
                    {% endif %}
                {{ price_own_res }}
                </td>
                <td>{{ reservation.genResOwnId.getOwnCommissionPercent }}%</td>
                <td>
                {%if reservation_rooms.getOwnResNightPrice != 0%}
                    {#{{reservation_rooms.ownResNights * reservation_rooms.getOwnResNightPrice}} CUC
                    {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                        {%set total_price = total_price + (reservation_rooms.ownResNights * reservation_rooms.getOwnResNightPrice)%}
                    {%endif%#}
                    {{nights[loop.index0] * reservation_rooms.getOwnResNightPrice}} CUC
                    {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                        {%set total_price = total_price + (nights[loop.index0] * reservation_rooms.getOwnResNightPrice)%}
                    {%endif%}
                {%else%}
                {{reservation_rooms.getOwnResTotalInSite}}CUC</td>
                {%if reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_NOT_AVAILABLE') and reservation_rooms.ownResStatus != constant('\\MyCp\\mycpBundle\\Entity\\ownershipReservation::STATUS_CANCELLED')%}
                {%set total_price = total_price + reservation_rooms.getOwnResTotalInSite%}
                {%endif%}
            {%endif%}
                </td>
                <td>
                    {{ render(controller('mycpBundle:BackendReservation:reservationStatusName', {'status': reservation_rooms.getOwnResStatus})) }}</td>
            </tr>
            {% set flag = flag + 1%}
            {% endfor %}
        </table>
    </div>
</div>
<h5>Resumen</h5>
     <hr style="margin-top: 0px"/>
<table class="table" style="font-size: 12px;">
    <thead>
    <tr>
        <th>Habitación</th>
        <th>Adultos</th>
        <th>Niños</th>
        <th>Noches</th>
        <th>Precio Total</th>
        <th>Prepago</th>
        <th>Pago en casa</th>
        <th>Pago por servicio</th>
        <th style="text-align: right">Anticipo total a pagar</th>
    </tr>
    </thead>

    <tr>
        <td>{{ reservations|length }}</td>
        <td>{{ total_adults }}</td>
        <td>{{ total_childrens }}</td>
        <td>{{ total_nights }}</td>
        <td>{{total_price}} CUC</td>
        <td>{{ total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100}} CUC</td>
            <td>{{ total_price - ( total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100)}} CUC</td>
            <td>{%if total_price%}{{configuration_service_fee}} CUC{%else%} - {%endif%}</td>
            {% if user[0].getUserTouristCurrency.getCurrCucChange is defined %}
            <td style="text-align: right"><b>{{ (total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100) + ((total_price)?configuration_service_fee: 0)}} CUC ({{((total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100) + ((total_price)?configuration_service_fee: 0)) * user[0].getUserTouristCurrency.getCurrCucChange }} {{ user[0].getUserTouristCurrency.getCurrCode|upper }})</b></td>
            {% else %}
            <td style="text-align: right"><b>{{ (total_price * reservations[0].getOwnResGenResId.getGenResOwnId.getOwnCommissionPercent / 100) + ((total_price)?configuration_service_fee: 0)}} CUC </b></td>
            {% endif %}
    </tr>
    <tr>
            <td colspan="9" style="text-align: right; border:none; margin-top: 0; padding-top: 0; font-style: italic">
                {% if user[0].getUserTouristCurrency.getCurrCucChange is defined %}
                    <b>1 CUC = {{user[0].getUserTouristCurrency.getCurrCucChange }} {{ user[0].getUserTouristCurrency.getCurrCode|upper }}</b>
                {%endif%}
            </td>
        </tr>
</table>

    {% if bookings %}
    <h5>Bookings</h5>
    <hr style="margin-top: 0px"/>
    {% include 'mycpBundle:utils:bookings.html.twig' with {'bookings': bookings}%}
    {% endif %}

    {% if logs %}
        <h5>Logs</h5>
        <hr style="margin-top: 0px"/>
        {% include 'mycpBundle:utils:offerLogs.html.twig' with {'logs': logs}%}
    {% endif %}
</div>