{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    {% stylesheets
    '@mycpBundle/Resources/public/css/datepicker.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{%set date = (filter_date == "") ? "null" : filter_date%}

{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Sincronizar Pagos</li>
</ul>
{% endblock %}
{% block content %}
<h2>Reservas</h2>
<hr/>

<ul class="nav nav-tabs" id="myTab">
    <li class=""><a href="{{ path('mycp_list_reservations')}}">Reservas</a></li>
    <li class=""><a href="{{ path('mycp_list_reservations_user') }}">Clientes</a></li>
    <li class="active"><a data-toggle="tab" href="#booking">Booking</a></li>
    <li class=""><a href="{{ path('mycp_list_reservations_checkin') }}">Check-in</a></li>
</ul>
    <div class="tab-content" id="myTabContent">
        <div id="reservas" class="tab-pane fade active in">

            {% for message in app.session.flashbag.get('message_error_local') %}
            <div class="alert alert-error">{{ message }}</div>
            {% endfor %}
            <form onkeypress="javascript:submit_filters(event);" id="filter" method="post" action="{{path('mycp_reservation_sync_booking_list')}}">
                <div class="well well-small">
                    <div class="row-fluid">
                        <div class="span4"><label>Desde:</label>
                            <input id="filter_date" name="filter_date" type="text" class="datepicker input-block-level" value="{{ filter_date }}"/>
                        </div>
                        <div class="span3">
                            <label>&nbsp;</label>
                            <div class="row-fluid">
                                <div class="span6">
                                    <a rel="tooltip" title="Filtrar listado" href="javascript:action_submit();" class="tooltip_msg btn btn-block btn-success"><i class="icon-filter icon-white"></i></a>
                                </div>
                                <div class="span6">
                                    <a rel="tooltip" title="Resetear filtrado " href="{{ path('mycp_reservation_sync_booking_list') }}" class="tooltip_msg btn btn-block btn-danger"><i class="icon-remove icon-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% if bookings %}
            <div class="alert">
                <div class="row-fluid">
                       {{bookings | length}} registros
                </div>
            </div>
            </form>
            <div class="row-fluid">
            <a class="btn btn-info btn-mini btn-action-sync" onclick="syncPayments();"data-url="{{path("mycp_reservation_sync_payment")}}"><i class="icon-refresh"></i> Sincronizar seleccionados</a>&nbsp;
                <div class="lblLoading hidden" style="width: 100px; display: inline">Cargando...</div>
        <br/><br/>
                </div>
            <table class="table table-hover table-striped" style="font-size: 12px">
                <thead>
                <tr>
                    <th>ID Booking</th>
                    <th>Prepago</th>
                    <th>Usuario</th>
                    <th style="text-align: right">Sincronizar</th>
                </tr>
                </thead>
                <tbody>
                {% set flag=0 %}
                {% for booking in bookings %}
                <tr>

                    <td>{{ booking.bookingId}}</td>
                    <td>{{ booking.bookingPrepay }} {{ booking.getBookingCurrency.getCurrCode }}</td>
                    <td>{{ booking.bookingUserDates }}</td>
                   <td style="text-align: right">
                        <input type="checkbox" name="checkPayment" class="checkPayment" data-booking="{{ booking.bookingId }}"/>
                    </td>
                </tr>
                {% set flag = flag + 1%}
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p> <div class="alert alert-block">No hay pagos para sincronizar</div></p>
            {% endif %}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.es.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: 'linked',
        language: 'es'

    });

    function submit_filters(ev)
    {
        if(ev.keyCode==13)
        {
            action_submit();
        }
    }

    function action_submit()
    {
        filter_date=$('#filter_date').val();
        filter_date=filter_date.replace('/',"_");
        filter_date=filter_date.replace('/',"_");
        if(filter_date=='')filter_date='null';

        url_submit=$('#filter').attr('action');
        url_submit=url_submit+'/'+filter_date;
        $('#filter').attr('action',url_submit);
        $('#filter').submit();
    }

    function syncPayments()
    {
        $(".lblLoading").removeClass("hidden");
        var checkValues = $('input[name=checkPayment]:checked').map(function() {
            return $(this).attr('data-booking');
        }).get();


        if(checkValues.length == 0)
        {
            alert("Seleccione alguno de los elementos");
            return;
        }

        var url = $(".btn-action-sync").attr("data-url");
        $.post(url, {
            'bookings_ids': checkValues
        }, function(data) {
            if(data != "ERROR")
            {
                window.location = data;
            }
            else {
                alert(data);
                $(".lblLoading").addClass("hidden");
            }
        });
    }

</script>
{% endblock %}
