{#
IMPORTANT:
    This page is not displayed to a user. Instead the form is immediately posted to Skrill by Javascript.
    That is why it should contain only barebone HTML and nothing else to keep the load time low.
#}
<html>
    <body>
        <form action="{{ action_url }}" target="_self" id="postfinanceForm" style="display:none">
            <input type="hidden" NAME="PSPID" value="{{ PSPID }}">
            <input type="hidden" NAME="ORDERID" value="{{ orderID }}">
            <input type="hidden" NAME="AMOUNT" value="{{ amount }}">
            <input type="hidden" NAME="CURRENCY" value="{{ currency }}">
            <input type="hidden" NAME="LANGUAGE" value="{{ language }}">
            <!-- lay out information -->

            {#<input type="hidden" NAME="TITLE" value="">#}
            {#<input type="hidden" NAME="BGCOLOR" value="">#}
            {#<input type="hidden" NAME="TXTCOLOR" value="">#}
            {#<input type="hidden" NAME="TBLBGCOLOR" value="fill here your table background color">#}
            {#<input type="hidden" NAME="TBLTXTCOLOR" value="fill here your table text color">#}
            {#<input type="hidden" NAME="BUTTONBGCOLOR" value="fill here your background button color">#}
            {#<input type="hidden" NAME="BUTTONTXTCOLOR" value="fill here your button text color">#}
            {#<input type="hidden" NAME="FONTTYPE" value="fill here your font">#}
            {#<input type="hidden" NAME="LOGO" value="fill here your logo file name">            <!-- or dynamic template page -->#}
            {#<input type="hidden" NAME="TP" value="fill here your template page">#}

            <!-- post-payment redirection -->
            <input type="hidden" NAME="ACCEPTURL" VALUE="{{ ACCEPTURL }}">
            <input type="hidden" NAME="DECLINEURL" VALUE="{{ DECLINEURL }}">
            <input type="hidden" NAME="EXCEPTIONURL" VALUE="{{ EXCEPTIONURL }}">
            <input type="hidden" NAME="CANCELURL" VALUE="{{ CANCELURL }}">
            <input type="hidden" NAME="BACKURL" VALUE="{{ BACKURL }}">
            <!-- miscellanous -->
            {#<input type="hidden" NAME="HOMEURL" VALUE="">#}
            <input type="hidden" NAME="CN" value="{{ first_name }}">
            <input type="hidden" name="EMAIL" value="{{ EMAIL }}">
            <input type="hidden" NAME="PM" VALUE="{{ PM }}">
            <input type="hidden" NAME="BRAND" VALUE="{{ BRAND }}">
            <input type="hidden" NAME="OWNERZIP" VALUE="{{ ownerZIP }}">
            <input type="hidden" NAME="OWNERADDRESS" VALUE="{{ owneraddress }}">
            <input type="hidden" NAME="OWNERADDRESS2" VALUE="{{ owneraddress }}">
            <input type="hidden" NAME="OWNERADDRESS3" VALUE="{{ owneraddress }}">
            <input type="hidden" NAME="SHASIGN" value="">
            <input type="hidden" NAME="ALIAS" VALUE="">
            <input type="hidden" NAME="ALIASUSAGE" VALUE="">
            <input type="hidden" NAME="ALIASOPERATION" VALUE="">
            <input type="hidden" NAME="COM" VALUE="">
            <input type="hidden" NAME="COMPLUS" VALUE="">
            <input type="hidden" NAME="PARAMPLUS" VALUE="">
            <input type="hidden" NAME="USERID" VALUE="{{ USERID }}">
            <input type="hidden" NAME="CREDITCODE" VALUE="">
            <input type="hidden" name="CATALOGURL" value="{{ catalogUrl }}">
            <input type="hidden" name="HOMEURL" value="{{ homeUrl }}">
            <input type="hidden" name="SHASign" value="{{ SHASign }}">
            <input type="hidden" name="PM list type" value="{{ PM_list_type }}">
            <input type="submit" name="skrill_submit_button" id="submit_button" value="{{ button_text }}" >

        </form>

        <script language="javascript">
            window.onload = function(e){
                document.getElementById("submit_button").click();
            }
        </script>

    </body>
</html>
