{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
    <h2>Waiting for payment...</h2>
{% endblock %}


{% block body %}
    <p>{{ pollingUrl }}</p>
    Results here:
    <p></p><div class="json_result"></div></p>
{% block include_javascripts_and_css %}
    <script>
        var counter = 0;

        $(document).ready(function () {
            pollPayment();
            counter = 0;
        });

        function getCounter() {
            counter = counter + 1;
            return counter;
        }

        function resetCounter() {
            counter = 0;
        }

        function pollPayment(){
            $.getJSON('{{ pollingUrl }}', function(data) {
                var mycounter = getCounter();

                $.each(data, function(key, val) {
                    $(".json_result").html(key + " " + val + " " + mycounter);

                    if(key == "status") {
                        switch(val) {
                            case "payment_found":
                                window.location.href = '{{ confirmationUrl }}';
                                break;
                            case "payment_failed":
                                window.location.href = '{{ failedUrl }}';
                                break;
                            case "payment_cancelled":
                                window.location.href = '{{ cancelUrl }}';
                                break;
                            case "payment_pending":
                                window.location.href = '{{ pendingUrl }}';
                                break;
                            default:
                                // continue polling in other cases
                                return false;
                        }
                    }
                });

                if(mycounter > {{ timeout }}) {
                    resetCounter();
                    window.location.href = '{{ timeoutUrl }}';
                }

                //window.location.replace("http://stackoverflow.com");
                //window.location.href = "http://stackoverflow.com";

                setTimeout(pollPayment, {{ pollingPeriodMsec }} );
            });
        }
    </script>
{% endblock %}
{% endblock %}