<div id="pppppxxx" class="overlay deactivate overlay-slidedown" style="height: auto">
    <div class="row">
        <div class="">
            <div id="overlayLoading" class="hide col-md-11 text-right">
                <i class="fa fa-refresh fa-spin fa-2x" style="margin-top: 20px"></i>
            </div>
        </div>
        <div class="col-md-1" style="float: right;">
            <button type="button" class="fa fa-times overlay-close"></button>
        </div>
    </div>

    <div class="row text-center" style="margin-top: 30px">
        <div class="col-md-12" style="line-height: 0.8">
            <p style="font-size: 24px;color: #fff" class="MyriadProRegular">{{ 'label.overlay.cart_1' | trans }}</p>

            <p style="font-size: 24px;color: #fff" class="MyriadProRegular">{{ 'label.overlay.cart_2' | trans }}</p>
        </div>
    </div>
    <div class="row text-center m-t-md">
        <p style="font-size: 30px;color: #fff" class="MyriadProRegular">{{ 'label.overlay.cart_3' | trans }}</p>
    </div>

    <div class="row" id="selectedReservations">

    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row hide" id="paymentsRow" style="font-size: 18px;color: #195476; margin: 0; padding: 0">
            <div class="col-md-4">
                <div class="panel panel-default" style="background: rgb(31, 93, 130) none repeat scroll 0px 0px; color: white;">
                    <div class="panel-heading" style="background: rgb(31, 93, 130) none repeat scroll 0px 0px; color: white;">
                        <h5 class="panel-title MyriadProBold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#prepaymentCollapse">
                                {{ 'payment.online_prepayment' | trans }}: <span id="totalPrepayment" class="pull-right"></span>
                            </a>
                        </h5>
                    </div>
                    <div id="prepaymentCollapse" class="panel-collapse collapse">
                        <div class="panel-body MyriadProRegular" style="font-size: smaller">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.commission_percent" | trans | replace({"#percent#": ""}) }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="totalPercentAccommodationsPrepayment"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.service_fee" | trans }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="totalServiceTaxesPrepayment"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.fixed_fee" | trans }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="fixedTaxPrepayment"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" style="background: rgb(31, 93, 130) none repeat scroll 0px 0px; color: white;">
                    <div class="panel-heading" style="background: rgb(31, 93, 130) none repeat scroll 0px 0px; color: white;">
                        <h5 class="panel-title MyriadProBold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#totalPaymentCollapse" style="width: 100%">
                                {{ "payment.total" | trans }} <span id="totalPayment" class="pull-right"></span>
                            </a>
                        </h5>
                    </div>
                    <div id="totalPaymentCollapse" class="panel-collapse collapse">
                        <div class="panel-body MyriadProRegular" style="font-size: smaller">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.lodging_price" | trans }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="totalAccommodationsPayment"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.service_fee" | trans }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="totalServiceTaxesPayment"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.fixed_fee" | trans }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="fixedTax"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" style="background: rgb(31, 93, 130) none repeat scroll 0px 0px; color: white;">
                    <div class="panel-heading" style="background: rgb(31, 93, 130) none repeat scroll 0px 0px; color: white;">
                        <h5 class="panel-title MyriadProBold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#payAtAccommodationCollapse">
                                {{ "payment.pay_at_service" | trans }}: <span id="atServicePayment" class="pull-right"></span>
                            </a>
                        </h5>
                    </div>
                    <div id="payAtAccommodationCollapse" class="panel-collapse collapse">
                        <div class="panel-body MyriadProRegular" style="font-size: smaller">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ "payment.commission_percent" | trans | replace({"#percent#": ""}) }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <span id="atServicePercentPayment"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 5px 0">
        <div class="col-md-4 text-right">
            <a class="bg-blue color-white payButton" id="payNow" data-url="{{ path("partner_dashboard_paynow_cart") }}">
                <i class="glyphicons coins"></i> {{ "cart.paynow_button" | trans }}</a>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a class="overlay-close-second bg-blue color-white payButton">
                <i class="glyphicons undo"></i> {{ "cart.back_button" | trans }}</a>
            </a>
        </div>
        <div class="col-md-4">
            <a class="bg-blue color-white payButton" href="{{ path("backend_partner_seacrh") }}">
                <i class="glyphicons search"></i> {{ "cart.search_again" | trans }}</a>
            </a>
        </div>
    </div>
</div>