{% if items |length %}
    <div>
        {% for item in items %}
            <div class="row bg-blue color-white cartItem">
                <div class="container">
                    <div class="row">
                        <div  class="col-md-4">
                            <h2 class="normal-font">{{ "pa.modal.reservation.reserve" | trans | upper }} {{ loop.index }} - {{ item.fullname }}</h2>
                        </div>
                        <div  class="col-md-4">

                            <h2 style="font-size: 21px"> {{ item.available }} {{ "available_casas" | trans }} / <span id="accommodationsToPay_{{ item.id }}">{{ (item.showOpened) ? (details[item.id] | length) : 0 }}</span> {{ "requested_casas" | trans }} </h2>
                        </div>
                        <div  class="col-md-2 text-right">
                            <h2 style="font-size: 20px"><a class="deleteFromCart" data-id="{{ item.id }}" data-urlsuccess="{{ path("partner_dashboard_cart") }}" data-url="{{ path("partner_dashboard_delete_from_cart") }}"><i class="glyphicons bin" style="margin-bottom: 10px"></i>  {{ "backend.delete" | trans }}</a></h2>
                        </div>
                        <div class="col-md-1" style="margin-top: 1.8%;">
                            <img id="icon_down_{{ item.id }}" data-id ="{{ item.id }}" class="icon-down {% if item.showOpened %}hide{% endif %}" src="{{ asset('bundles/partner/img/icon/back_lighter.png')}}" style="cursor: pointer" data-element="#reservationContent_{{ item.id }}" data-url="{{ path("partner_dashboard_cart_show_reservation_details") }}"/>
                            <img id="icon_up_{{ item.id }}" data-id ="{{ item.id }}" class="{% if not item.showOpened %}hide{% endif %} icon-up" src="{{ asset('bundles/partner/img/icon/top_lighter.png')}}" style="cursor: pointer" data-element="#reservationContent_{{ item.id }}"/>

                            <h2> {{ item.available }} {{ "available_casas" | trans }} / <span id="accommodationsToPay_{{ item.id }}">0</span> {{ "requested_casas" | trans }} </h2>
                        </div>
                        <div  class="col-md-2 text-right">
                            <h2><a class="deleteFromCart" data-id="{{ item.id }}" data-url="{{ path("partner_dashboard_delete_from_cart") }}"><i class="glyphicons bin" style="margin-bottom: 10px"></i>  {{ "backend.delete" | trans }}</a></h2>
                        </div>
                        <div class="col-md-1" style="margin-top: 1.8%;">
                            <img id="icon_down_{{ item.id }}" data-id ="{{ item.id }}" class="icon-down" src="{{ asset('bundles/partner/img/icon/back_lighter.png')}}" style="cursor: pointer" data-element="#reservationContent_{{ item.id }}" data-url="{{ path("partner_dashboard_cart_show_reservation_details") }}"/>
                            <img id="icon_up_{{ item.id }}" data-id ="{{ item.id }}" class="hide icon-up" src="{{ asset('bundles/partner/img/icon/top_lighter.png')}}" style="cursor: pointer" data-element="#reservationContent_{{ item.id }}"/>

                        </div>
                        <div class="col-md-1" style="margin-top: 1.5%;">
                            <div class="hide" id="loading_{{ item.id }}">
                                <i class="fa fa-refresh fa-spin fa-2x" style="margin-bottom: 10px"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row {% if not item.showOpened %}hide{% endif %}" id="reservationContent_{{ item.id }}" data-hascontent="{% if item.showOpened %}true{% else %}false{% endif %}">
                        {% if item.showOpened %}
                            {% include "PartnerBundle:Cart:cart_body.html.twig" with {list: details[item.id]} %}
                        {% endif %}
                    </div>

                    <div class="row hide" id="reservationContent_{{ item.id }}" data-hascontent="false"></div>

                </div>
            </div>
            <div class="space space-30 bg-white" style="float:none"></div>

        {% endfor %}

    </div>

    <div class="row text-center" style="margin-bottom: 30px">

    <div class="col-md-6 text-right">
        <a class="bg-grey color-white payButton {% if disablePaymentButton %}hide{% endif %}" id="toPayButtonAction">
            <i class="glyphicons coins"></i>  {{ "cart.paynow_button" | trans }}</a>
        </a>
        <a class="bg-blue color-white payButton {% if not disablePaymentButton %}hide{% endif %}" id="trigger-overlay" data-url="{{ path("partner_dashboard_pay_selected_reservations_cart") }}" disabled="disabled">
            <i class="glyphicons coins"></i>  {{ "cart.paynow_button" | trans }}</a>
        </a>
    </div>
    <div class="col-md-6 text-left">
        <a class="bg-blue color-white payButton" id="emptyCart" data-url="{{ path("partner_dashboard_empty_cart") }}">
            <i class="glyphicons bin"></i> {{ "cart.empty_button" | trans }}</a>
        </a>
    </div>
    </div>

        <a class="bg-blue color-white" id="payButton">
            <i class="glyphicons coins"></i>  {{ "pay_action" | trans }}</a>
        </a>
    </div>

{% else %}
    <div class="container">
        <h3>{{ "EMPTY_LIST"|trans }}</h3>
    </div>

{% endif %}