{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}{{"ACCOMMODATION" | trans}}{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="#" class="active" title="{{"ACCOMMODATION" | trans}}">{{"ACCOMMODATION" | trans}}</a>
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="caecilia-roman big-price-green text-center no-margin" style="font-weight: normal;">{{"ENABLE_ACCOUNT" | trans }}</h2>
    <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0"></div>

    <form class="form-horizontal" method="POST" action="{{ path('frontend_userCasa_activateAccount',{'token':secret_token}) }}" enctype="multipart/form-data" novalidate="true">

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{ form_widget(form)}}
                </div>
        <div class="col-sm-4"></div>
        </div>
            <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><button id="btn_submit" style="margin-top: 20px" type="submit" class="btn btn-primary btn-block">{{"SAVE" | trans}}</button></div>
        <div class="col-sm-4"></div>
    </div>
        </form>
</div>
    {% javascripts
    '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $('input:text').addClass('input-block-level');
    $('input:password').addClass('input-block-level');
    $('input:password').addClass('form-control');
</script>
{%endblock%}
