{% for language in languages %}
    {% if arrTransDest is defined %}
        <a rel="nofollow" class="dropdown-item" href="{{ path('frontend_change_language_callback',{'lang': language.getLangCode|lower, 'route': route, 'routeParams': arrTransDest[language.getLangCode|lower] }) }}">{{ language.getLangName }}</a>
    {% else %}
        <a rel="nofollow" class="dropdown-item" href="{{ path('frontend_change_language_callback',{'lang': language.getLangCode|lower }) }}">{{ language.getLangName }}</a>

        {#<li><a rel="nofollow" href="{{ path('frontend_change_language_callback',{'lang': language.getLangCode|lower, 'route': route, 'routeParams': language.getLangCode|lower }) }}">{{ language.getLangName }}</a></li>#}
    {% endif %}
{% endfor %}

