{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"MOST_VISITED_CITIES"  | trans }}
{% endblock %}

{% set main_tab = 2 %}

{% block body %}
<div class="container">
    <div>&nbsp;</div>
    <div class="row result_list ownerships_list" id="div_result">
   {%for item in list%}
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{{item.reservation_total}} {{"VISITS" | trans | lower }}&nbsp;&nbsp;&nbsp;">
                        <img src="{{ asset("uploads/destinationImages/thumbnails/" ~ item.photo)}}">
                    </div>
                </div>

                <div class="col-sm-8">  
                    <div class="row">
                        <a href="{{ path('frontend_search_ownership',{'text':item.municipality | lower | replace(' ','_'), 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}">
                            <h1 class="h-blue">{{item.municipality}}</h1>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div>{{"OWNERSHIPS" | trans}} ({{"TOTAL" | trans}}: {{item.owns_total}})</div>
        {%set owns_count = 1%}
        {%for own in item.owns_list%}
                            <a title="{{'MORE_INFO_PREFFIX' | trans}} {{own.ownname}}" href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}">{{own.ownname}}</a><br/>
        {%set owns_count = owns_count + 1%}
        {%endfor%}
        {%if item['owns_total'] > item['owns_list']|length%}
                            <div class="thumbs-houses">
                                <a href="{{ path('frontend_search_ownership',{'text':item.municipality, 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}">
                                    <small>{{'RESERVATION_CONFIRM_DESTINATION_MORE' | trans | lower}} <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-medium icon-more"/></small>
                                </a>
                            </div>
        {%endif%}
                        </div>
            {%if item['des_total'] > 0%}
                        <div class="col-sm-4 link_list">    
                            <div>{{"DESTINATIONS" | trans}} ({{"TOTAL" | trans}}: {{item.des_total}})</div>
        {%set des_count = 1%}
        {%for des in item.des_list%}
                            <a title="{{"MORE_INFO_PREFFIX" | trans}} {{des.desname}}" href="{{ path('frontend_details_destination',{'destination_name':des.desname|lower|replace(' ','_')}) }}">{{des.desname}}</a><br/>
        {%set des_count = des_count + 1%}
        {%endfor%}
                        </div>
        {%endif%}
                    </div>
                </div>
            </div>
            <hr/>      
{%else%}
           <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}
{%if list | length  and total_items > items_per_page%}
            <div class="text-center">
    {{ simple_paginator_render('frontend_get_with_reservations_municipality',null,{
    'container_class': 'pagination',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': null
}) }}
                </div>
{%endif%}
            </div>
        </div>
 {% block include_javascripts %}

{% endblock %}
{% endblock %}
