<ul class="nav nav-tabs">
        <li class="active">
            <a href="#reservas" data-toggle="tab">Cliente</a>
        </li>
    </ul>
    <table class="table  table-striped" style="font-size: 12px;">
        <tr>
            <td rowspan="3"  style="width: 100px"><a {#title="Editar" href="{{ path("mycp_edit_user_tourist", {'id_user': user.userId}) }}"#}>{{ render(controller('mycpBundle:BackendUser:getUserPhotoPath', {'userId': user.userId})) }}</a></td>
            <td><b>Nombre:</b> <a {#title="Editar" href="{{ path("mycp_edit_user_tourist", {'id_user': user.userId}) }}"#}>{{user.getUserUserName}} {{user.getUserLastName}}</a></td>
            <td><b>Correo:</b> <a href="mailto:{{ user.getUserEmail | lower }}">{{user.getUserEmail | lower}}</a></td>
            <td colspan="2"><b>País:</b> {{ user.getUserCountry}}
                {%if user.getUserCity != null%}(Ciudad: {{user.getUserCity}}){%endif%}
            </td>
        </tr>
        {#<tr>
            <td><b>Idioma: </b>{{ tourist.getUserTouristLanguage.getLangName }}</td>
            <td colspan="2"><b>Moneda: </b>{% if tourist.getUserTouristCurrency.getCurrName is defined %}{{ tourist.getUserTouristCurrency.getCurrName }}{% endif %}</td>
        </tr>#}
        <tr>
            <td colspan="3"><b>Dirección:</b> {%if user.getUserAddress != null%}{{user.getUserAddress}}{%else%}-{%endif%}</td>
            <td><b>Teléfono:</b> {{user.getUserPhone}}</td>
        </tr>
    </table>