{%set return_url = 'mycp_list_ownerships'%}
{% if comments %}
{% for comment in comments %}
<div class="row-fluid" style="background-color: #ffffff">
   <div class="span12">
    <div class="span2">
        <label class="name">{{ comment.getComUser.getName }}</label>
        <div class="rating_star">
            {% for i in 1 .. 5 %}{% if i <= comment.getComRate %}<img src="{{ asset('bundles/frontend/img/star_on.png')}}" alt="{{"Start on" | trans}}"/>{% else %}<img src="{{ asset('bundles/frontend/img/star_off.png')}}"/>{% endif %} {% endfor %}
        </div>
        {% if comment.getComPublic==0%}<span class="label label-important">No publicado</span>{% else %} <span class="label label-success">Publicado</span>{% endif %}
        <br/><em>{{comment.comdate |date("d/m/Y")}}</em>
    </div>
    <div class="span10" style="font-size: 12px;">
        {{ comment.getComComments }}
        <div class="row-fluid text-right" style="text-align: right">
            <a class="btn btn-mini" href="{{ path('mycp_edit_comment',{'id_comment':comment.getComId, 'return_url':return_url}) }}">Editar</a>
            {%if not comment.compublic%}
            <a class="btn btn-mini btn-success" href="{{ path('mycp_public_comment',{'id_comment':comment.getComId, 'return_url':return_url}) }}">Publicar</a>
            {%endif%}
            <button data='{{ path('mycp_delete_comment',{'id_comment':comment.getComId, 'return_url':return_url}) }}' class="btn btn-mini btn-danger delete">Eliminar</button>
      </div>
    </div>
   </div>
</div>
{% if not loop.last %}<hr/>{% endif %}
{% endfor %}
{% else %}
<div class="alert alert-block">No hay comentarios disponibles.</div>
{% endif %}