

<option value="{{constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_DEFAULT')}}"></option>
<option {% if selected== constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_NUMBER') %} selected="TRUE" {% endif %} value="{{constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_NUMBER')}}">Número de reserva</option>
<option {% if selected== constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_DATE') %} selected="TRUE" {% endif %} value="{{constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_DATE')}}">Fecha reserva</option>
<option {% if selected== constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_DATE_ARRIVE') %} selected="TRUE" {% endif %} value="{{constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_DATE_ARRIVE')}}">Fecha llegada</option>
<option {% if selected== constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_PRICE_TOTAL') %} selected="TRUE" {% endif %} value="{{constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_PRICE_TOTAL')}}">Precio</option>
<option {% if selected== constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_STATUS') %} selected="TRUE" {% endif %} value="{{constant('\\MyCp\\mycpBundle\\Helpers\\ReservationSortField::RESERVATION_STATUS')}}">Estado de reserva</option>