{% if start_date is not defined %}
{% set start_date = "today" | date("d/m/Y") %}
{% endif %}
{% if end_date is not defined %}
{% set end_date = "+2 days" | date("d/m/Y") %}
{% endif %}
<div class="row-fluid">
    <div class="span6">
        <select id="ownership" name="own" class="input-block-level select">
            {% for own in ownerships %}
                <option data-percent="{{ own.ownCommissionPercent }}" value="{{ own.ownId }}" {% if loop.index == 0 %}selected{% endif %}>{{own.ownMcpCode}} - {{ own.ownName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="span3">
        <input type="text" value="{{ start_date }}" id="filter_date_from" class="form-control input-block-level" placeholder="Entrada" data-localization='es'>
    </div>
    <div class="span3">
        <input type="text" value="{{ end_date }}" id="filter_date_to" class="form-control input-block-level" placeholder="Salida" data-localization='es'>
    </div>
</div>

    <div class="container_loading" id="body_calendar" style="overflow-x: auto;">

    </div>

    <ul class="price calendar-cont calendar-results">
        <li class="lead-2">
            <table id="rooms_selected" class="table" style="margin-bottom: 0px; display: none;">
                <thead>
                <tr>
                    <th>Habitaciones seleccionadas</th>
                    <th>Tipo</th>
                    <th>Noches</th>
                    <th>Adultos</th>
                    <th>Niños</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </li>
        <li class="lead">
            <div class="row-fluid all-prices-numbers">
                <div class="span2">
                    Noches:<br/> <span id="totalNightsToShow"></span>
                </div>
                <div class="span2">
                    Precio total:<br/> <span id="total_price"></span> CUC
                </div>
                <div class="span2">
                    Comisión MyCP (<span id="commissionPercent"></span>%): <br/> <span id="initial_deposit"></span> CUC
                </div>
                <div class="span2">
                    Cargo por servicio:<br/>  <span id="service_recharge">{{configuration_service_fee}}</span> CUC
                </div>
                <div class="span2">
                    Pago inicial: <br/><span id="total_prepayment"></span> CUC
                </div>
                <div class="span2">
                    Pago al arribar:<br/> <span id="pay_at_service"></span> CUC
                </div>
            </div>
            <div class="row-fluid">
                <span id="error" class="alert-error">El nuevo precio total no coincide con el precio anterior</span>
            </div>
        </li>
        <li class="lead-2">
            {% if post['reservation_filter_date_from'] is defined %}
                {% set date_from = post['reservation_filter_date_from']|replace("/","&") %}
            {% else %}
                {% set date_from = "now"|date("d&m&Y") %}
            {% endif %}

            {% if post['reservation_filter_date_to'] is defined%}
                {% set date_to = post['reservation_filter_date_to']|replace("/","&") %}
            {% else %}
                {% set date_to = "+6 day"|date("d&m&Y") %}
            {% endif %}

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-4">
                        <input from_date="{{ start_date | replace('/','&') }}" to_date="{{ end_date | replace('/','&') }}" type="text" style="visibility: hidden; margin-bottom: -50px" name="data_reservation" id="data_reservation"/>
                        <input type="text" style="visibility: hidden; margin-bottom: -50px" name="data_ownership" id="data_ownership" value=""/>
                    </div>
                </div>
            </div>

        </li>
    </ul>
    <h4>Mensaje</h4>
    <textarea name="message_body" style="width:95%"></textarea><br/>
    <em>(Este mensaje se enviará solo si dá clic sobre el botón "Guardar y Enviar")</em>

<script type="text/javascript">
    var url_css_color="{{ asset('bundles/mycp/css/wysiwyg-color.css') }}";
</script>
