{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administraci칩n{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administraci칩n</a> <span class="divider">/</span></li>
    <li class="active">Procesar Im치genes</li>
</ul>
{% endblock %}
{% block content %}
<h2>Procesar Im치genes</h2>
<hr/>
<div class="alert alert-success">{{ message | raw}}</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
        var finished_process = {{(finished_process is defined) ? finished_process : 'true'}};
        var finished_copy = {{(finished_copy is defined) ? finished_copy : 'false'}};
        
        if(!finished_process)
            window.location = '{{path('mycp_process_images')}}'; 
        else if(!finished_copy)
            window.location = '{{path('mycp_copy_images')}}'; 
        
    </script>
{% endblock %}