{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"ABOUT_US" | trans}}
{% endblock %}

{% set main_tab = 4 %}
{% block content_nav_top_body %}
{{(("ABOUT_US" | upper) ~ "_CONTENT") | trans}}
{% endblock %}
{% block breadcrumbs %}
    <br/>
    <div class="container">
        <div class="breadcrumb">
            <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
            <span>/</span>
            {{"ABOUT_US"|trans}}
        </div>
    </div>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <h1 class="caecilia-roman h-green">{{ 'WHO_ARE_WE'|trans }}</h1>
                <hr class="hr-grey" style="margin-bottom: 30px"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 45px; height: 45px" class="icon-who" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/></div>
                    <div class="col-xs-9">{{ 'INFORMATION_PRO_TRAVELLER'|trans }} <img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/></div>
                </div>
                <hr class="hr-grey" style="margin: 30px 0"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 57px; height: 46px; background-position: 0 -45px" class="icon-who" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/></div>
                    <div class="col-xs-9">{{ 'INFORMATION_PUBLICITY_HOUSES'|trans }} <img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/></div>
                </div>
                <hr class="hr-grey" style="margin: 30px 0"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 49px; height: 57px; background-position: 0 -91px" class="icon-who" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/></div>
                    <div class="col-xs-9">{{ 'POSSIBILITY_RESERVE_ONLINE'|trans }} <img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/></div>
                </div>
            </div>
            <div class="col-sm-8">
                <img class="full-width" src="{{ asset('bundles/frontend/img/cuba.png') }}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <div class="thumbnail" id="some_numbers" style="background-color: #f5f5f5; padding: 10px 30px; margin-top: -145px">
                    <h3 class="no-margin margin-b-t">{{ "SOME_NUMBERS"|trans }}</h3>
                    {{ 'FOUNDED_APRIL_2010'|trans }}<br/>
                    {{ numbers['acc'] }} {{ 'ACCOMMODATIONS'|trans }}<br/>
                    {{ numbers['rooms'] }} {{ 'ROOMS'|trans }}<br/>
                    {{ 'ACCOMMODATIONS_ALL_PROVINCES'|trans }}<br/>
                    {{ numbers['langs'] }} {{ 'LANGUAGE'|trans }}s
                </div>
            </div>
        </div>
        <hr class="hr-grey" style="margin-bottom: 40px"/>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {% for info in information %}
                    <li {% if loop.index == 1%}class="active"{% endif %}><a data-toggle="tab" href="#id_{{ info.getInfoLangId }}">{{ info.getInfoLangName }}</a></li>
                {% endfor %}
                <!--li class="active"><a data-toggle="tab" href="#theenterprise">{{ "THE_ENTERPRISE"|trans }}</a></li>
                <li><a data-toggle="tab" href="#mainvalue">Valor fundamental</a></li>
                <li><a data-toggle="tab" href="#team">Equipo de colaboradores</a></li>
                <li><a data-toggle="tab" href="#history">Historia de MyCasaParticular</a></li>
                <li><a data-toggle="tab" href="#seo" style="margin-bottom: 110px">Su fundador</a></-->
            </ul>
            <div class="tab-content">
                {% for info in information %}
                <div id="id_{{ info.getInfoLangId }}" class="tab-pane {% if loop.index == 1%}active{% endif %}">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">{{ info.getInfoLangName }}</h3>
                    <p>{{ info.getInfoLangContent | raw }}</p>                    
                </div>
                {% endfor %}
                
                
                <!--div id="theenterprise" class="tab-pane active">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">La empresa</h3>
                    <p>MyCasaParticular es una plataforma online para la reservación en línea de alojamientos privados en Cuba y otros servicios asociados. Nuestra visión es hacer de los alojamientos privados la primera alternativa de hospedaje del viajero. Lograr que los viajeros tenga una experiencia única conociendo mejor esta tierra, su gente y su cultura. Brindar una alternativa de alojamiento autentica diferente a la de los Hoteles.</p>
                    <p>MyCasaParticular está consiente del impacto social y económico que representa cada visita de un turista a un alojamiento privado. Miles de familia cubanas se benefician de esta manera además de crear puestos de trabajos. El equipo de MyCasaParticular no conoce un método mejor de ayudar al pueblo de Cuba, practicar un turismo equitativo, responsable y de respeto a la naturaleza.</p>
                </div>
                <div id="mainvalue" class="tab-pane">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">Valor fundamental</h3>
                    <p>Confianza y un Servicio WOW en todo lo que hacemos!</p>
                </div>
                <div id="team" class="tab-pane">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">Equipo de colaboradores</h3>
                    <p>Todos amantes de lo que hacen, programadores, diseñadores, especialistas de viaje, traductores (si, gente de verdad que traducen y no máquinas), gestores de ventas, especialistas de marketing, contadores y muchos colaboradores más en Cuba y el resto del mundo.</p>
                    <div class="thumb-con">
                    <img data-placement="top" rel="tooltip" data-original-title="Descripción" src="{{ asset('bundles/frontend/img/team/coll-1.jpg') }}"/>
                    <img data-placement="top" rel="tooltip" data-original-title="Descripción" src="{{ asset('bundles/frontend/img/team/coll-2.jpg') }}"/>
                    <img data-placement="top" rel="tooltip" data-original-title="Descripción" src="{{ asset('bundles/frontend/img/team/coll-1.jpg') }}"/>
                    <img data-placement="top" rel="tooltip" data-original-title="Descripción" src="{{ asset('bundles/frontend/img/team/coll-2.jpg') }}"/>
                    <img data-placement="top" rel="tooltip" data-original-title="Descripción" src="{{ asset('bundles/frontend/img/team/coll-1.jpg') }}"/>
                    <img data-placement="top" rel="tooltip" data-original-title="Descripción" src="{{ asset('bundles/frontend/img/team/coll-2.jpg') }}"/>
                    </div>
                </div>
                <div id="history" class="tab-pane">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">Historia de MyCasaParticular</h3>
                    <p>MyCasaParticular fue una idea que tuvo su fundador Pedro Torres hace muchos años. Su familia posee un alojamiento privado y siempre soñó con la idea de potenciar y promocionar este fantástico servicio por el mundo. De esta manera poder ayudar al desarrollo económico del país estimulando directamente el sector privado.
                    <br/>Este sueño se hizo realidad durante los años de estudio de gerencia empresarial en Suiza de Pedro. Donde se creó la primera versión de MyCasaParticular.com y decidió llevar el negocio adelante fundando ABUC Media Network GmbH en el 2010.
                    <br/>Desde entonces ha crecido la empresa y la experiencia en el mercado. MyCasaParticular tiene actualmente más de 1500 alojamientos, más de 3500 habitaciones representada en todos los destinos turísticos de Cuba y sus provincia. Con la meta principal de brindar un servicio con calidad y seguridad para todos nuestros clientes y socios bajo el concepto de un turismo responsable y equitativo.</p>
                    <p> …Y seguimos trabajando duro para mantener este sueño que es MyCasaParticular.</p>
                </div>
                <div id="seo" class="tab-pane">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">Su fundador</h3>
                    <table class="table-responsive-v2">
                        <tr>
                            <td style="vertical-align: top">
                                <img id="pedro" src="{{ asset('bundles/frontend/img/pedro.jpg') }}"/>
                            </td>
                            <td class="last" style="vertical-align: top">
                                <h3 style="margin-top: 0">Pedro Torres</h3>
                                Nací y crecí en Cuba. Estudié administración de empresas en Suiza.
                                Hablo: Español, Alemán, Ingles y cubano
                                <br/>
                                <br/>
                                <b>Sobre mi persona:</b><br/>
                                Amo a mi familia (soy casado y tengo un hermoso hijo). Trabajo con pasión cubana y exactitud suiza. En mi tiempo libre viajo, leo y practico senderismo o ciclismo.
                            </td>
                        </tr>
                    </table>

                </div-->
            </div>
        </div>
    </div>
{% block include_javascripts %}
    
{% endblock %}
{% endblock %}