{% extends 'FrontEndBundle:layout:base.html.twig' %}
{%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_WHO_WE_ARE')%}
{% block title %}
{{"ABOUT_US" | trans}}
{% endblock %}

{% set main_tab = 4 %}
{% block content_nav_top_body %}
{{(("ABOUT_US" | upper) ~ "_CONTENT") | trans}}
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="#" class="active"  title="{{"ABOUT_US"|trans}}">{{"ABOUT_US"|trans}}</a>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <h1 class="caecilia-roman h-green">{{ 'WHO_ARE_WE'|trans }}</h1>
                <hr class="hr-grey" style="margin-bottom: 30px"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 45px; height: 45px" class="icon-who" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/></div>
                    <div class="col-xs-9">{{ 'INFORMATION_PRO_TRAVELLER'|trans }} <img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/></div>
                </div>
                <hr class="hr-grey" style="margin: 30px 0"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 57px; height: 46px; background-position: 0 -45px" class="icon-who" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/></div>
                    <div class="col-xs-9">{{ 'INFORMATION_PUBLICITY_HOUSES'|trans }} <img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/></div>
                </div>
                <hr class="hr-grey" style="margin: 30px 0"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 49px; height: 57px; background-position: 0 -91px" class="icon-who" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/></div>
                    <div class="col-xs-9">{{ 'POSSIBILITY_RESERVE_ONLINE'|trans }} <img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/></div>
                </div>
            </div>
            <div class="col-sm-8">
                <img class="full-width" src="{{ asset('bundles/frontend/img/cuba.png') }}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <div class="thumbnail" id="some_numbers" style="background-color: #f5f5f5; padding: 10px 30px; margin-top: -145px">
                    <h3 class="no-margin margin-b-t">{{ "SOME_NUMBERS"|trans }}</h3>
                    {{ 'FOUNDED_APRIL_2010'|trans }}<br/>
                    {{ numbers['acc'] }} {{ 'ACCOMMODATIONS'|trans }}<br/>
                    {{ numbers['rooms'] }} {{ 'ROOMS'|trans }}<br/>
                    {{ 'ACCOMMODATIONS_ALL_PROVINCES'|trans }}<br/>
                    {{ numbers['langs'] }} {{ 'LANGUAGE'|trans }}s
                </div>
            </div>
        </div>
        <hr class="hr-grey" style="margin-bottom: 40px"/>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" style="height: 320px;">
                {% for info in information %}
                    <li {% if loop.index == 1%}class="active"{% endif %}><a data-toggle="tab" href="#id_{{ info.getInfoLangId }}">{{ info.getInfoLangName }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for info in information %}
                <div id="id_{{ info.getInfoLangId }}" class="tab-pane {% if loop.index == 1%}active{% endif %}">
                    <h3 class="no-margin h-blue h-size-3 margin-b-t">{{ info.getInfoLangName }}</h3>
                    <p>{{ info.getInfoLangContent | raw }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr class="hr-grey" style="margin-bottom: 40px"/>
        <div class="row"  style="margin-bottom: 20px;background-color: #f5f5f5;padding: 10px 0px;">
            <div class="col-sm-4">
            <div>
                    <h3 class="no-margin margin-b-t">{{ "OUR_OFFICE"|trans }}</h3>
                    ABUC media network GmbH<br/>
                    MyCasaParticular.com<br/><br/>
                    Peter Merian-Strasse 54<br/>
                    4052 Basel<br/>
                    {{"ADDRESS_MCP_COUNTRY" | trans}}<br/><br/>
                    <em class="icon-headphones"></em> {{"FORMS_PHONE" | trans}}: {{mycasa_office_phone}}<br/>
                    <div class="col-sm-1" style="padding:0; width:20px"><em class="icon-mail-reply"></em></div>
                    <div class="col-sm-8" style="padding:0">
                    info@mycasaparticular.com<br/>
                    reservation@mycasaparticular.com
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <img class="img-polaroid" src='http://maps.googleapis.com/maps/api/staticmap?center={{mycasa_office_geolocate_x}},{{mycasa_office_geolocate_y}}&zoom=15&size=630x400&sensor=false&markers=icon:{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}%7C{{mycasa_office_geolocate_x}},{{mycasa_office_geolocate_y}}&a.jpg'/>
            </div>

        </div>
    </div>
{% block include_javascripts %}

{% endblock %}
{% endblock %}
