{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_WHO_WE_ARE') %}

{% block title %}
    {{ "ABOUT_US" | trans }}
{% endblock %}

{% block metas %}
    {{ get_metas('Quiénes somos', app.session.get('app_lang_code')|lower )|raw }}
{% endblock metas %}

{% set main_tab = 4 %}
{% block content_nav_top_body %}
    {{ (("ABOUT_US" | upper) ~ "_CONTENT") | trans }}
{% endblock %}

{% block include_javascripts_and_css %}
<style>
    .nav-tabs--vertical {
        border-bottom: none;

        display: flex;
        flex-flow: column nowrap;
    }
    .nav-tabs--left {
        margin: 0 15px;
    }
    .nav-tabs--left .nav-item + .nav-item {
        margin-top: .25rem;
    }
    .nav-tabs--left .nav-link {
        transition: border-color .125s ease-in;
        white-space: nowrap;
        color: #84b231;
    }

    .nav-tabs--left .nav-link:hover {
        background-color: #f7f7f7;
        border-color: transparent;
    }
    .nav-tabs--left .nav-link.active {
        border-bottom-color: #ddd;
        border-right-color: #fff;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
        margin-right: -1px;
    }
    .nav-tabs--left .nav-link.active:hover {
        background-color: #fff;
        border-color: #0275d8 #fff #0275d8 #0275d8;
    }


</style>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <h1 class="caecilia-roman h-green">{{ 'WHO_ARE_WE'|trans }}</h1>
                <hr class="hr-grey" style="margin-bottom: 30px"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 45px; height: 45px" class="icon-who"
                                               src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                               title="{{ 'WHO_ARE_WE'|trans }}" alt="{{ 'WHO_ARE_WE'|trans }}"/></div>
                    <div class="col-xs-9">{{ 'INFORMATION_PRO_TRAVELLER'|trans }}
                        {#<img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/>#}

                    </div>
                </div>
                <hr class="hr-grey" style="margin: 30px 0"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 57px; height: 46px; background-position: 0 -45px"
                                               class="icon-who"
                                               src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                               title="{{ 'INFORMATION_PUBLICITY_HOUSES'|trans }}"
                                               alt="{{ "INFORMATION_PUBLICITY_HOUSES" | trans }}"/></div>
                    <div class="col-xs-9">{{ 'INFORMATION_PUBLICITY_HOUSES'|trans }}
                        {#<img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/>#}
                    </div>
                </div>
                <hr class="hr-grey" style="margin: 30px 0"/>
                <div class="row">
                    <div class="col-xs-3"><img style="width: 49px; height: 57px; background-position: 0 -91px"
                                               class="icon-who"
                                               src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                               title="{{ 'POSSIBILITY_RESERVE_ONLINE'|trans }}"
                                               alt="{{ "POSSIBILITY_RESERVE_ONLINE" | trans }}"/></div>
                    <div class="col-xs-9">{{ 'POSSIBILITY_RESERVE_ONLINE'|trans }}
                        {#<img src="{{ asset('bundles/frontend/img/icons/arrow-1.png') }}"/>#}

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <img class="full-width" src="{{ asset('bundles/frontend/img/cuba.png') }}" title="{{ "Cuba" | trans }}"
                     alt="{{ "Cuba" | trans }}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <div class="thumbnail" id="some_numbers"
                     style="background-color: #f5f5f5; padding: 10px 30px; margin-top: -145px">
                    <h3 class="no-margin margin-b-t">{{ "SOME_NUMBERS"|trans }}</h3>
                    {{ 'FOUNDED_APRIL_2010'|trans }}<br/>
                    {{ numbers['acc'] }} {{ 'ACCOMMODATIONS'|trans }}<br/>
                    {{ numbers['rooms'] }} {{ 'ROOMS'|trans }}<br/>
                    {{ 'ACCOMMODATIONS_ALL_PROVINCES'|trans }}<br/>
                    {{ numbers['langs'] }} {{ 'LANGUAGE'|trans }}
                </div>
            </div>
        </div>
        <hr class="hr-grey" style="margin-bottom: 40px"/>
        <div class="tabbable tabs-left">
            <div class="d-flex flex-row mt-2">
                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
                    {% for info in information %}
                        <li class="nav-item {% if loop.index == 1 %}active{% endif %}" ><a class="nav-link {% if loop.index == 1 %}active{% endif %}" style="color: #84b231;" data-toggle="tab"
                                                                                 href="#id_{{ info.getInfoLangId }}">{{ info.getInfoLangName }}</a>
                        </li>
                    {% endfor %}

                </ul>
                <div class="tab-content">
                    {% for info in information %}
                        <div id="id_{{ info.getInfoLangId }}" class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"role="tabpanel">
                            <h3 class="no-margin h-blue h-size-3 margin-b-t">{{ info.getInfoLangName }}</h3>
                            <p>{{ info.getInfoLangContent | raw }}</p>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
        <hr class="hr-grey" style="margin-bottom: 40px"/>
        <div class="row" style="margin-bottom: 20px;background-color: #f5f5f5;padding: 10px 0px;">
            <div class="col-sm-4">
                <div>
                    <h3 class="no-margin margin-b-t">{{ "OUR_OFFICE"|trans }},{{ "ADDRESS_MCP_COUNTRY" | trans }}</h3>
                    ABUC media network GmbH<br/>
                    Pedro Torres Cobas<br/>
                    Lindenstrasse 33,4102<br/>
                    {#<em class="icon-headphones"></em> {{"FORMS_PHONE" | trans}}: {{mycasa_office_phone}}<br/>#}
                    <div class=style="padding:0">
                        <i class="fa fa-phone"></i>
                        (+41) 61 588 09 56

                    </div>
                </div>
                </br>
                <div>
                    <h3 class="no-margin margin-b-t">{{ "OUR_OFFICE"|trans }},Cuba</h3>
                    {{ "HDS_ADDRESS"|trans }}

                    {#<em class="icon-headphones"></em> {{"FORMS_PHONE" | trans}}: {{mycasa_office_phone}}<br/>#}

                    <div class=style="padding:0">
                        <i class="fa fa-phone"></i>
                        (+53) 55599750

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <img alt="map" src="{{ asset('img/map_pic.png') }}">
            </div>

        </div>


    </div>
    {% block include_javascripts %}

    {% endblock %}
{% endblock %}
