{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_HOW_IT_WORKS') %}
{% block title %}
    {% if get_tagvalue_bytag('HowItWorks', app.session.get('app_lang_code')|lower, 'title') == false %}
        {{ "HOW_IT_WORKS" | trans }}
    {% else %}
        {{ get_tagvalue_bytag('HowItWorks', app.session.get('app_lang_code')|lower, 'title')|raw }}
    {% endif %}
{% endblock %}
{% block metas %}
    {{ get_metas('HowItWorks', app.session.get('app_lang_code')|lower )|raw }}
{% endblock metas %}
{% set main_tab = 4 %}
{% block content_nav_top_body %}
    {{ "HOW_IT_WORKS_CONTENT" | trans }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('frontend-welcome') }}" title="{{ "HOMEPAGE_TITLE" | trans }}">{{ "HOME_MAIN_MENU" | trans }}</a>
    <span>››</span>
    <a href="#" class="active" title="{{ "OWNERSHIPS" | trans }}">{{ "HOW_IT_WORKS" | trans }}</a>
{% endblock %}
{% block body %}
    <div class="container">
        {% for content in contents %}
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="caecilia-roman h-green carousel-title"
                        style="padding-bottom: 12px">{{ content.title }}</h1>
                </div>
            </div>
            {{ content.content|raw }}
        {% endfor %}
    </div>
{% endblock %}
