{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"HOW_IT_WORKS" | trans}}
{% endblock %}

{% set main_tab = 4 %}
{% block content_nav_top_body %}
{{"HOW_IT_WORKS_CONTENT" | trans}}
{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li><a href="{{ path('frontend_welcome') }}" title="{{"GO_HOME_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a> <span class="divider">»</span></li>
    <li class="active">{{"INFO_MAIN_MENU" | trans}}<span class="divider">»</span></li>
    <li class="active">{{"HOW_IT_WORKS" | trans}}</li>
</ul>
<div class="row-fluid filter_1">
    <div class="span3 offset9">
    <a class="btn btn-block mycp_btn_orange mycp_btn" href="{{path('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'})}}">{{"START_SEARCHING" | trans}}</a>
    </div>
</div>

<div class="row-fluid hiw_items_list">
    <div class="row-fluid hiw_item">
        <div class="span1">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/search_big.png')}}"/>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span9 title">
                    <h2>{{"SEARCH" | trans | title}}</h2>
                </div>
                <div class="span3 link">
                    <a>{{"HIW_SEARCH_LINK" | trans}}</a>
                </div>
            </div>
            <div class="row-fluid content">
                {{"HIW_SEARCH_CONTENT" | trans}}
            </div>
            
        </div>
    </div>
    <div class="row-fluid separator">&nbsp;</div>
    <div class="row-fluid hiw_item">
        <div class="span1">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/contact_big.png')}}"/>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span9 title">
                    <h2>{{"HIW_CONTACT_TITLE" | trans}}</h2>
                </div>
                <div class="span3 link">
                    <a>{{"HIW_CONTACT_LINK" | trans}}</a>
                </div>
            </div>
            <div class="row-fluid content">
                {{"HIW_CONTACT_CONTENT" | trans}}
            </div>
            
        </div>
    </div>
    <div class="row-fluid separator">&nbsp;</div>
    <div class="row-fluid hiw_item">
        <div class="span1">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/reserve_big.png')}}"/>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span9 title">
                    <h2>{{"HIW_RESERVE_TITLE" | trans}}</h2>
                </div>
                <div class="span3 link">
                    <a>{{"HIW_RESERVE_LINK" | trans}}</a>
                </div>
            </div>
            <div class="row-fluid content">
                {{"HIW_RESERVE_CONTENT" | trans}}
            </div>
            
        </div>
    </div>
    <div class="row-fluid separator">&nbsp;</div>
    <div class="row-fluid hiw_item">
        <div class="span1">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/travel_big.png')}}"/>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span9 title">
                    <h2>{{"HIW_TRAVEL_TITLE" | trans}}</h2>
                </div>
                <div class="span3 link">
                    <a>{{"HIW_TRAVEL_LINK" | trans}}</a>
                </div>
            </div>
            <div class="row-fluid content">
                {{"HIW_TRAVEL_CONTENT" | trans}}
            </div>
            
        </div>
    </div>
    <div class="row-fluid small_icons">
        <div class="span3 offset2">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/faq_small.png')}}"/>
           <a href="{{ path('frontend_list_faq')}}">{{"FAQ" | trans }}</a>
        </div>
         <div class="span3">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/service_guarantee_small.png')}}"/>
            <a href="{{ path('frontend_list_information',{'information_type':'service_guarantee'})}}">{{"SERVICE_GUARANTEE" | trans }}</a>
        </div>
         <div class="span3">
            <img src="{{asset('bundles/frontend/images/how_it_works_images/privacy_small.png')}}"/>
            <a href="{{ path('frontend_list_information',{'information_type':'security_privacity'})}}">{{"SECURITY_AND_PRIVACY" | trans}}</a>
        </div>
    </div>
        
</div>
{% block include_javascripts %}
    
{% endblock %}
{% endblock %}