{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"SITEMAP" | trans}}
{% endblock %}

{% set main_tab = 4 %}
{% block content_nav_top_body %}
{{"SITEMAP_CONTENT" | trans}}
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="#" class="active"  title="{{"SITEMAP"|trans}}">{{"SITEMAP"|trans}}</a>
{% endblock %}
{% block body %}
<div class="container text-center site-map">
    <h4 class="caecilia-roman"><a href="{{path('frontend_welcome')}}">{{"HOME_MAIN_MENU" | trans}}</a></h4>

    <br/>
    <h4 class="caecilia-roman upper">{{"DESTINATIONS" | trans}}</h4>
    <a href="{{ path('frontend_list_destinations')}}">{{"DESTINATIONS" | trans}}</a>
    <a href="{{ path('frontend_get_with_reservations_municipality') }}">{{"MOST_VISITED_CITIES" | trans}}</a>
    <br/>
    <br/>
    <h4 class="caecilia-roman upper">{{"ACCOMMODATIONS" | trans}}</h4>
    <a href="{{ path('frontend_voted_best_list_ownership')}}">{{"TOP_RATED" | trans}}</a>
    <a href="{{ path('frontend_type_list_ownership',{'type':'Penthouse'})}}">{{"Penthouse" | trans}}</a>
    <a href="{{ path('frontend_type_list_ownership',{'type':'Villa con piscina'})}}">{{"Villa con piscina" | trans}}</a>
    <a href="{{ path('frontend_type_list_ownership',{'type':'Apartamento'})}}">{{"Apartamento" | trans}}</a>
    <a href="{{ path('frontend_type_list_ownership',{'type':'Casa particular'})}}">{{"Casa particular" | trans}}</a>
    <a href="{{ path('frontend_type_list_ownership',{'type':'Propiedad completa'})}}">{{"Propiedad completa" | trans}}</a>
    <br/>
    <br/>
    <h4 class="caecilia-roman upper">{{"INFO_MAIN_MENU" | trans}}</h4>
    <a href="{{ path('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}">{{"SEARCH_MAIN_MENU" | trans}}</a>
    <a href="{{ path('frontend_how_it_works_information')}}">{{"HOW_IT_WORKS" | trans }}</a>
    <a href="{{ path ('frontend_sitemap_information')}}">{{"SITE_MAP" | trans}}</a>
    <br/>
    <br/>
    <h4 class="caecilia-roman upper">{{"USER_COMUNITY" | trans}}</h4>
    <a href="{{path('frontend_contact_user')}}">{{"CONTACT_US" | trans}}</a>
    <a href="{{ path('frontend_list_favorite') }}" title="{{"FAVORITIES" | trans}}">{{"FAVORITIES" | trans }}</a>
    {% if is_granted('ROLE_CLIENT_TOURIST') or is_granted('ROLE_CLIENT_STAFF')%}
        <a title="{{"LOG_OUT" | trans}}" href="{{ path('mycp_logout') }}">{{"LOG_OUT" | trans}} {{app.user.getUserUserName}}</a>
    {% else %}
        <a title="{{"LOG_IN" | trans }}" href="{{ path('mycp_login') }}">{{"LOG_IN" | trans }}</a>
    {% endif %}
    <a href="{{ path('frontend_mycasatrip_home') }}">MyCasaTrip</a>
    <a href="{{ path('frontend_profile_user') }}">{{"USER_PROFILE" | trans}}</a>
    <a href="{{ path('frontend_register_user') }}">{{"REGISTER" | trans}}</a>
    <br/>
    <br/>
    <h4 class="caecilia-roman upper">{{"ABOUT_MYCP" | trans}}</h4>
    <a href="{{ path('frontend_about_us')}}">{{"WHO_ARE_WE" | trans}}</a>
    <!--<a href="{{ path('frontend_list_information',{'information_type':'testimonies'})}}">{{"TESTIMONIES" | trans}}</a>
        <a href="{{ path('frontend_list_information',{'information_type':'press'})}}">{{"PRESS" | trans }}</a>
        <a href="{{ path('frontend_list_information',{'information_type':'partners'})}}">{{"PARTNERS" | trans}}</a>
        <a href="{{ path('frontend_list_information',{'information_type':'jobs'})}}">{{"JOBS" | trans}}</a>-->
    <!--class="nav-header">{{"OUR_SERVICES" | trans}}
        <a href="{{ path('frontend_list_faq')}}">{{"FAQ" | trans }}</a>
        <a href="{{ path('frontend_list_information',{'information_type':'service_guarantee'})}}">{{"SERVICE_GUARANTEE" | trans }}</a>
        <a href="{{ path('frontend_list_information',{'information_type':'legal_terms'})}}">{{"LEGAL_TERMS" | trans}}</a>
        <a href="{{ path('frontend_list_information',{'information_type':'security_privacity'})}}">{{"SECURITY_AND_PRIVACY" | trans}}</a>-->
</div>
{% block include_javascripts %}
    
{% endblock %}
{% endblock %}