{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"SITEMAP" | trans}}
{% endblock %}

{% set main_tab = 4 %}
{% block content_nav_top_body %}
{{"SITEMAP_CONTENT" | trans}}
{% endblock %}
{% block breadcrumbs %}
    <br/>
    <div class="container">
        <div class="breadcrumb">
            <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
            <span>/</span>
            {{"SITEMAP"|trans}}
        </div>
    </div>
{% endblock %}
{% block body %}
<div class="container">
<div class="row sitemap_list">
    <div class="col-sm-4">
        <ul class="nav nav-list mycp_nav_list">
        <li><a href="{{path('frontend_welcome')}}">{{"HOME_MAIN_MENU" | trans}}</a></li>
        <li class="nav-header">{{"DESTINATIONS" | trans}}</li>
        <li><a href="{{ path('frontend_list_destinations')}}">{{"DESTINATIONS" | trans}}</a></li>
        <li><a href="">{{"MOST_VISITED_CITIES" | trans}}</a></li>
        <li class="nav-header">{{"ACCOMMODATION" | trans}}</li>
        <li><a href="{{ path('frontend_voted_best_list_ownership')}}">{{"TOP_RATED" | trans}}</a></li>
        <li><a href="{{ path('frontend_type_list_ownership',{'type':'Penthouse'})}}">{{"Penthouse" | trans}}</a></li>
        <li><a href="{{ path('frontend_type_list_ownership',{'type':'Villa con piscina'})}}">{{"Villa con piscina" | trans}}</a></li>
        <li><a href="{{ path('frontend_type_list_ownership',{'type':'Apartamento'})}}">{{"Apartamento" | trans}}</a></li>
        <li><a href="{{ path('frontend_type_list_ownership',{'type':'Casa particular'})}}">{{"Casa particular" | trans}}</a></li>
        <li><a href="{{ path('frontend_type_list_ownership',{'type':'Propiedad completa'})}}">{{"Propiedad completa" | trans}}</a></li>
        </ul>
    </div>    
    <div class="col-sm-4">
        <ul class="nav nav-list mycp_nav_list">
            <li class="nav-header">{{"INFO_MAIN_MENU" | trans}}</li>
            <li><a href="{{ path('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1', 'rooms':'1'}) }}">{{"SEARCH_MAIN_MENU" | trans}}</a></li>
            <li><a href="{{ path('frontend_how_it_works_information')}}">{{"HOW_IT_WORKS" | trans }}</a></li>
            <li><a href="{{ path ('frontend_sitemap_information')}}">{{"SITE_MAP" | trans}}</a></li>
        <li class="nav-header">{{"USER_COMUNITY" | trans}}</li>
        <li><a href="{{path('frontend_contact_user')}}">{{"CONTACT_US" | trans}}</a></li>
        <li><a href="#" title="{{"FAVORITIES" | trans}}">{{"FAVORITIES" | trans }}</a></li>
        <li>
            {% if is_granted('ROLE_CLIENT_TOURIST') or is_granted('ROLE_CLIENT_STAFF')%}
                <a title="{{"LOG_OUT" | trans}}" href="{{ path('mycp_logout') }}">{{"LOG_OUT" | trans}} {{app.user.getUserUserName}}</a>
            {% else %}
                <a title="{{"LOG_IN" | trans }}" href="{{ path('mycp_login') }}">{{"LOG_IN" | trans }}</a>
            {% endif %}
        </li>
        <li><a href="{{ path('frontend_mycasatrip_home') }}">MyCasaTrip</a></li>
        <li><a href="{{ path('frontend_profile_user') }}">{{"USER_PROFILE" | trans}}</a></li>
        <li><a href="{{ path('frontend_register_user') }}">{{"REGISTER" | trans}}</a></li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="nav nav-list mycp_nav_list">
        <li class="nav-header">{{"ABOUT_MYCP" | trans}}</li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'about_us'})}}">{{"WHO_ARE_WE" | trans}}</a></li>
        <!--li><a href="{{ path('frontend_list_information',{'information_type':'testimonies'})}}">{{"TESTIMONIES" | trans}}</a></li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'press'})}}">{{"PRESS" | trans }}</a></li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'partners'})}}">{{"PARTNERS" | trans}}</a></li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'jobs'})}}">{{"JOBS" | trans}}</a></li-->
        <!--li class="nav-header">{{"OUR_SERVICES" | trans}}</li>
        <li><a href="{{ path('frontend_list_faq')}}">{{"FAQ" | trans }}</a></li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'service_guarantee'})}}">{{"SERVICE_GUARANTEE" | trans }}</a></li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'legal_terms'})}}">{{"LEGAL_TERMS" | trans}}</a></li>
        <li><a href="{{ path('frontend_list_information',{'information_type':'security_privacity'})}}">{{"SECURITY_AND_PRIVACY" | trans}}</a></li-->

        </ul>
    </div>
        
</div>
</div>
{% block include_javascripts %}
    
{% endblock %}
{% endblock %}