<div class="modal inmodal fade form-agency" id="myModalReservation" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-agency" style="background-color: #25323b !important;">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body modal-reservation pb-0">
                <form class="form-horizontal form-agency agency" action="{{ path('frontend_partner_registeragency') }}" method="post" id="form-agency">
                    <div class="col-md-8">
                        <h3>{{ "pa.modal.reservation.title" | trans }}</h3>
                        <div class="row m-0" id="openReservationsList" data-content="false" data-url="{{ path("partnet_dashboard_open_reservations_list") }}" data-loadingtext ="{{ "pa.loading" | trans }}">

                        </div>
                    </div>
                <div class="col-md-4">
                    <div class="row">
                    <h3 class="text-right">{{ "pa.modal.reservation.new_reservation" | trans }}</h3>
                    </div>
                        <div class="row">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="glyphicons user"></i></span>
                                    {{ form_widget(form.name, { 'attr': {'placeholder': 'label.name.client'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                                </div>
                         </div>
                    <div class="row">
                    <div class="col-md-6" style="padding-left: 0">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="glyphicons user"></i></span>
                                    {{ form_widget(form.adults, { 'attr': {'placeholder': 'label.reservation.adults'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                                </div>
                    </div>
                    <div class="col-md-6 pull-right" style="padding-right: 0">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="glyphicons user"></i></span>
                                    {{ form_widget(form.children, { 'attr': {'placeholder': 'label.reservation.children'|trans,'data-toggle':'tooltip', 'data-container':'body', 'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 0">
                            <span class="hidden alertLabel">{{ "missing_data" | trans }}</span>
                        </div>
                        <div class="col-md-6 text-right" style="padding-right: 0">
                        <a id="btnAddNewOpenReservation" data-url="{{ path("partnet_dashboard_new_open_reservation") }}">{{ "pa.modal.reservation.add" | trans }}</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>