{% for reservation in list %}
<div class="row reservation-details">
    <div class="row m-0">
        <div class="col-sm-6 p-0">
            {{ "pa.modal.reservation.reserve" | trans | upper }} {{ loop.index }}
            <div class="smaller">{{ reservation.created | date("d/m/Y") }}</div>
        </div>
        <div class="col-sm-4 pr-0"><a>{{ "pa.modal.reservation.end_reservation" | trans }}</a></div>
        <div class="col-sm-2 pr-0 text-right"><a>{{ "pa.modal.reservation.add" | trans }}</a></div>
    </div>
    <div class="row m-0">
        <div class="col-md-5 p-0">
            <div class="input-group">
                <span class="input-group-addon borderless"><i class="glyphicons user"></i></span>
                <div class="smaller">{{ reservation.client.fullName }}</div>
            </div>
        </div>
        <div class="col-md-4 text-right smaller green pr-0">
            {{ "pa.modal.reservation.guest_total" | trans }} <b class="bigger">{{ reservation.adults + reservation.children }}</b>
        </div>
        <div class="col-md-3 smaller green text-right pr-0">{{ "pa.modal.reservation.guest_with_reservation" | trans }}
            <b class="bigger">{{ reservation.adultsWithAccommodation + reservation.childrenWithAccommodation }} </b>
        </div>
    </div>
</div>
{% else %}
    <div>
        {{ "pa.modal.reservation.no_data_open_reservation_list" | trans }}
    </div>
{% endfor %}