<div class="row reservation-details">
    <div class="row m-0">
        <div class="col-sm-6 p-0">
            {{ "pa.modal.reservation.reserve" | trans | upper }} 1
            <div class="smaller">23/09/2016</div>
        </div>
        <div class="col-sm-4 pr-0"><a>{{ "pa.modal.reservation.end_reservation" | trans }}</a></div>
        <div class="col-sm-2 pr-0 text-right"><a>{{ "pa.modal.reservation.add" | trans }}</a></div>
    </div>
    <div class="row m-0">
        <div class="col-md-5 p-0">
            <div class="input-group">
                <span class="input-group-addon borderless"><i class="glyphicons user"></i></span>
                <div class="smaller">Yanet Morales</div>
            </div>
        </div>
        <div class="col-md-4 text-right smaller green pr-0">
            {{ "pa.modal.reservation.guest_total" | trans }} <b class="bigger">12</b>
        </div>
        <div class="col-md-3 smaller green text-right pr-0">{{ "pa.modal.reservation.guest_with_reservation" | trans }} <b class="bigger">12</b></div>
    </div>
</div>