

<div class="thumbnail {% if ownership.OwnInmediateBooking %}with-quick-ribbon{% endif %}"
        {% if ownership.OwnInmediateBooking and ownership.OwnInmediateBooking2 %}
            data-text="{{ 'IMMEDIATE_BOOKING'|trans }}"
        {% elseif  ownership.OwnInmediateBooking and not ownership.OwnInmediateBooking2 %}
            data-text="{{ 'quick_bookinhg'|trans }}"
        {% elseif  ownership.OwnInmediateBooking2 and not ownership.OwnInmediateBooking %}
            data-text="{{ 'IMMEDIATE_BOOKING'|trans }}"
        {% endif %}
     style="position:relative" rel="tooltip" title="
    {% if ownership.OwnInmediateBooking and ownership.OwnInmediateBooking2 %}
            {{"TOOL_TIP_IMMEDIATE_BOOKING" | trans}}
    {% elseif  ownership.OwnInmediateBooking and not ownership.OwnInmediateBooking2 %}
           {{"quick_booking_tooltip" | trans}}
    {% elseif  ownership.OwnInmediateBooking2 and not ownership.OwnInmediateBooking %}
           {{"TOOL_TIP_IMMEDIATE_BOOKING" | trans}}
     {% else %}
        {{"MORE_INFO_PREFFIX" | trans}} {{name}}
     {% endif %}">

    {% if ownership.OwnInmediateBooking and ownership.OwnInmediateBooking2 %}
        <div class="quick-ribbon" style="background-color: #ff0000">
            <i class="fa fa-rocket" style="padding: 0px 5px"></i> <span style="text-align: left;">{{ 'IMMEDIATE_BOOKING'|trans }}</span>
        </div>
        {% elseif  ownership.OwnInmediateBooking and not ownership.OwnInmediateBooking2 %}
            <div class="quick-ribbon">
                <i class="glyphicons white electricity icon-padding"></i> <span style="text-align: left;">{{ 'quick_bookinhg'|trans }}</span>
            </div>
        {% elseif  ownership.OwnInmediateBooking2 and not ownership.OwnInmediateBooking %}
            <div class="quick-ribbon" style="background-color: #ff0000">
                <i class="fa fa-rocket" style="padding: 0px 5px"></i> <span style="text-align: left;">{{ 'IMMEDIATE_BOOKING'|trans }}</span>
            </div>
    {% endif %}

    <div>
        {% if award %}
            <img src="{{ asset("uploads/awards/" ~ award) }}" style="width: 64px; height: 63px;position: relative; z-index: 1;box-shadow: 5px 5px 10px #686765;border-radius:100px" alt="{{"Awards" | trans}}"/>
        {% endif %}
        <span class="h-blue pull-right" style="font-size: 25px"><small style="display: inline-block">{{ "FROM" | trans }}:</small> {{ minPrice | price }}</span>
    </div>
    <a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':name  | urlNormalize}) }}">
    {% if notLazyLoad is defined and notLazyLoad %}
        <img alt="{{ name }}" class="lazy" src="{{ asset("uploads/ownershipImages/thumbnails/" ~ photo)}}" alt="{{"Thumbnails" | trans}}"/>
    {% else %}
    <img alt="{{ name }}"
         class="lazy"
         data-src="{{ (photo != "") ? asset("uploads/ownershipImages/thumbnails/" ~ photo) : asset("uploads/ownershipImages/thumbnails/no_photo.png")}}"
         src="{{ asset('bundles/frontend/img/nophoto-transp.png') }}"
         {% if award %}style="position: relative; top:-15px; {% if ownership.OwnInmediateBooking %}z-index:0;{% endif %}"{% else %}{% if ownership.OwnInmediateBooking %}style="z-index: 0;"{% endif %}{% endif %}   />
     </a>
    <noscript>
        <a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':name  | urlNormalize}) }}">
        <img class="nolazy" src="{{ (photo != "") ? asset("uploads/ownershipImages/thumbnails/" ~ photo) : asset("uploads/ownershipImages/thumbnails/no_photo.png")}}" {% if award %}style="position: relative; top:-15px"{% endif %} alt="{{"Thumbnails" | trans}}" />
    </a>
        {% endif %}
    </noscript>
    {#<div style="bottom: 0px;background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0;height: 60px ">
        <small style="color:#fff">Solicitar casa</small>
    </div>#}
</div>

<div class="row">
    <a target="_blank"  href="{{ path('frontend_details_ownership',{'own_name':name  | urlNormalize}) }}">
    <div class="col-sm-9 h-blue">
        {{ name| title }}
    </div>
    </a>
    <div class="col-sm-3" style="margin-top: 20px;">
        {{ include('FrontEndBundle:favorite:itemFavorite.html.twig',
        {'is_in_favorite': is_in_favorite,
        'favorite_type': 'ownership',
        'element_id':id,
        'list_preffix' : list_preffix,
        'include_text': false
        }) }}
        {{ include('FrontEndBundle:cart:addCart.html.twig',{'idOwnership':ownership.own_id}) }}
    </div>
</div>
