{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{("OWNERSHIP_"~title| upper~"_CATEGORYPAGE_TITLE")  | trans }}
{% endblock %}

{% set main_tab = 5 %}
{% block content_nav_top_body %}
{{("OWNERSHIP_"~title| upper~"_DESCRIPTION")  | trans }}
{% endblock %}

{% block body %}
<br/>
<div class="container">
    <h1 class="caecilia-roman h-green carousel-title" style="padding-bottom: 20px">
     {{(category | upper ~ "_OWNERSHIP") | trans}}
    </h1>
<div class="row result_list ownerships_list" id="div_result">
    {{ include('frontEndBundle:ownership:ownershipArrayItemList.html.twig', 
                        {'list': list,
                         'list_preffix': list_preffix
                         }) }}      
</div>
{%if list | length and total_items > items_per_page%}
    <div class="text-center">
        {{ simple_paginator_render('frontend_category_ownership',null,{
        'container_class': 'pagination',
        'previousPageText': '«',
        'nextPageText': '»',
        'currentClass': 'current',
        'firstPageText': 'FIRST_PAGE' | trans,
        'lastPageText': 'LAST_PAGE' | trans,
        'route_params': {'category': category}
    }) }}
    </div>
{%endif%}
    </div>
 {% block include_javascripts %}
{% endblock %}
{% endblock %}
