
<div class="col-sm-4">
                <table class="full-width">
                    <tbody><tr>
                        <td class="">
                            <div class="thumbnail has-ribbon has-ribbon-right">
                                <a target="_blank" title="{{ own_name }}" href="{{ accommdationDetailsUrl  }}">
                                    <img alt="{{ own_name }}" src="{{ mail_base_url~'uploads/ownershipImages/thumbnails/' ~ photo }}" alt="{{"Thumbnails" | trans}}">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="name-cont">
                            <a target="_blank" title="{{ own_name }}" href="{{ accommdationDetailsUrl }}">
                            <h1 class="h-blue">{{ own_name }}</h1>
                            </a>
                            <small>{{own_province}}, {{own_municipality}}<br>{{own_type  | trans}} {%if (own_rooms_count != 0) %}
                        / {{own_rooms_count}} {% if own_rooms_count == 1%} {{"ROOM_SINGULAR" | trans}} {%else%} {{"ROOM_PLURAL" | trans}} {%endif%}{%endif%}</small>
                        </td>
                        <td style="text-align: right">
                            <small>{{"FROM_PRICES" | trans | lower}}:</small>
                            <div class="big-price-blue">{{own_minimum_price | price }}</div>
                            <small>{{"BYNIGHT" | trans}}</small>

                        </td>
                    </tr>
                    </tbody></table>
            </div>







