{%if history_list | length%}
    <div class="thumbnail head">
        <div class="header">{{"LAST_VISITED_OWNERSHIPS" | trans}}</div>
        <div class="subheader"></div>
        <div class="content">
            {%for own in history_list%}
            <div class="item row-fluid">
                <div class="span4">
                    <a title="{{"MORE_INFO_PREFFIX" | trans}} {{own.ownName}}"
                       href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}"><img
                            src="{{ asset("uploads/ownershipImages/thumbnails/" ~ photos[own.ownid])}}"></a>
                </div>
                <div class="span8">
                    <a title="{{"MORE_INFO_PREFFIX" | trans}} {{own.ownName}}"
                       href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}">{{own.ownName}}</a>
                    <br/>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}} {{own.ownminimumprice * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}} {{"BYNIGHTS_PRICES" | trans | lower}}<br/>
                    {{own.owntype | trans}}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endif%}