{%if history_list | length%}
<div class="carousel slide carousel-mini" id="housesCarousel">
                <h4 class="carousel-title">{{"LAST_VISITED_OWNERSHIPS" | trans}}</h4>
                <div class="carousel-inner">
                    {%set counter = 0%}
                    {%for own in history_list%}
                    <div class="item {%if counter == 0%}active{%endif%}">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}">
                                <img src="{{ asset("uploads/ownershipImages/thumbnails/" ~ photos[own.ownid])}}" class="thumbnail full-width"/>
                                </a>
                            </div>
                            <div class="col-xs-6"><b>
                                    <a href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}">
                                    {{own.ownName}}
                                    </a>
                                </b><br/>{{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}} {{own.ownminimumprice * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}} {{"BYNIGHTS_PRICES" | trans | lower}}
                                <br/>{{own.owntype | trans}}</div>
                        </div>
                    </div>
                        {%set counter = counter + 1%}
                        {%endfor%}
                </div>
                <a data-slide="prev" href="#housesCarousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#housesCarousel" class="right carousel-control">›</a>
            </div>
{%endif%}
