<div class="top_rated_items">
    {%set cont=0%}
    {%for ownership in own_top20_list%}
    {% if cont <4 %}
    <div class="item">
        <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownname}}">
           <div class="image" style="background-image: url('{{ asset("uploads/ownershipImages/" ~ own_top20_photos[ownership.ownid])}}')">
             <div class="rating">{%if ownership.owncommentstotal > 0%}+{%endif%}{{ownership.owncommentstotal}}</div></div>
            <div class="title">{{ ownership.ownname| title }}
                <div class="place">({{ownership.ownaddressprovince}})</div>
            </div>
            <div class="description">
                {%if own_top20_descriptions[ownership.ownid] != null%}
                <p>{{own_top20_descriptions[ownership.ownid] |striptags |capitalize}} (...Más)</p>
                {%endif%}

            </div>
        </a>
    </div>
    {% set cont=cont+1 %}
    {% else %}
    {% set cont=0 %}
</div>
<div class="top_rated_items">
    <div class="item">
        <a href="{{ path('frontend_details_ownership',{'owner_id':ownership.ownid}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership.ownname}}">
           <div class="image" style="background-image: url('{{ asset("uploads/ownershipImages/" ~ own_top20_photos[ownership.ownid])}}')">
             <div class="rating">{%if ownership.owncommentstotal > 0%}+{%endif%}{{ownership.owncommentstotal}}</div></div>
            <div class="title">{{ ownership.ownname| title }}
                <div class="place">({{ownership.ownaddressprovince}})</div>
            </div>
            <div class="description">
                {%if own_top20_descriptions[ownership.ownid] != null%}
                <p>{{own_top20_descriptions[ownership.ownid] |striptags |capitalize}} (...Más)</p>
                {%endif%}

            </div>
        </a>
    </div>
    {% endif %}
    {%endfor%}

</div>