
<div class="col-sm-3">
    
        <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{%if own_comments > 0%}+{%endif%}{{own_comments}}&nbsp;&nbsp;&nbsp;">
            <a title="{{ own_name }}" href="{{ path('frontend_details_ownership',{'own_name':own_name  | lower | replace(' ','_')}) }}">
                <img alt="{{ own_name }}" class="lazy" data-src="{{ asset("uploads/ownershipImages/thumbnails/" ~ photo)}}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                <noscript><img class="nolazy" src="{{ asset("uploads/ownershipImages/thumbnails/" ~ photo)}}"></noscript>
            </a>
        </div>
        <a title="{{ own_name }}" href="{{ path('frontend_details_ownership',{'own_name':own_name  | lower | replace(' ','_')}) }}">
        <h2 class="h-blue">{{own_name | title | slice(0, 27)}}{%if own_name | length > 27%}...{%endif%}
            <small>({{own_province}})</small></h2>
        </a>

            <table>
                <tr>
                    <td>
                        {%if own_rating > 0%}
                           {%for i in 1..own_rating%}
                                <img class="icon icon-2 tiny-star-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endfor%}
                            {%endif%}

                            {%if own_rating < 5%}
                            {%for i in 1..(5-own_rating)%}
                                   <img class="icon icon-2 tiny-star-off-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endfor%}
                            {%endif%}
                    </td>
                    <td>
                        {%if category == "Premium"%}
                        <img rel="tooltip" title="{{category | trans}}" class="icon icon-3 tiny-premium-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                        {%else%}
                            {%if (category | lower) == ("Rango Medio" | lower)%}
                            <img rel="tooltip" title="{{category | trans}}" class="icon icon-3 tiny-middle-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%else%}
                                <img rel="tooltip" title="{{category | trans}}" class="icon icon-3 tiny-economic-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endif%}
                        {%endif%}
                        {{ include('frontEndBundle:favorite:itemFavorite.html.twig', 
                        {'is_in_favorite': is_in_favorite,
                         'favorite_type': 'ownership',
                         'element_id':own_id,
                         'list_preffix' : list_preffix,
                         'include_text': false
                         }) }}
                    </td>
                </tr>
            </table>
            <div class="h-blue h-blue-2">
                 {{"FROM_PRICES" | trans | lower}} {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{own_minimum_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')) }}
            </div>
</div>






