{% if own_top20_list | length%}
<div class="head_menu_top_rated">
    {{"TOP_HOUSES_HOME_TITLE" | trans}}
</div>

<div id="top_rated_list">
    {{ include('frontEndBundle:ownership:homeTopRatedList.html.twig') }}
</div>

<div class="top_rated_tools row-fluid">
    <div class="tool">{{"VISUALIZE" | trans}} 3 x
        <div class="btn-group">
            <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <label class="inline_label" id="items_per_page">{{app.session.get("top_rated_show_rows")}}</label>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="top20_items_per_page {%if app.session.get('top_rated_show_rows') == 1%}active{%endif%}" data-content-value="1"><a>1</a></li>
                <li class="top20_items_per_page {%if app.session.get('top_rated_show_rows') == 2%}active{%endif%}" data-content-value="2"><a>2</a></li>
                <li class="top20_items_per_page {%if app.session.get('top_rated_show_rows') == 3%}active{%endif%}" data-content-value="3"><a>3</a></li>
                <li class="top20_items_per_page {%if app.session.get('top_rated_show_rows') == 4%}active{%endif%}" data-content-value="4"><a>4</a></li>
            </ul>
        </div></div>
    <div class="tool">
    {%if top_rated_total_items > top_rated_items_per_page%}
    <div class="paginator-cont">
    {{ simple_paginator_render('frontend_welcome',null,{
    'container_class': 'paginator_orange',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': {'items_per_page':top_rated_items_per_page}
    }) }}
    </div>
    {%endif%}
    </div>
    <div class="tool"><span class="hide_small_screen">{{"TELL_A_FRIEND" | trans}}:</span> 
        <img title="{{"CONTACT_US" | trans}}" src="{{ asset('bundles/frontend/images/mail.gif') }}">
             <img title="{{"FOLLOW_US_FACEBOOK" | trans}}" src="{{ asset('bundles/frontend/images/facebook.gif') }}">
             <img title="{{"FOLLOW_US_TWITTER" | trans}}" src="{{ asset('bundles/frontend/images/twitter.gif') }}">
    </div>
</div>
{% endif %}