<div class="thumbs-houses lazy-cont">
    <div class="row">
    {%set cont=0%}
    {%for ownership in own_top20_list%}
    {% if cont <4 %}
    <div class="col-sm-3">
            <a rel="tooltip" href="{{ path('frontend_details_ownership',{'own_name':ownership['own_name']  | lower | replace(' ','_')}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership['own_name']}}">
            <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{%if ownership['comments_total'] > 0%}+{%endif%}{{ownership['comments_total']}}&nbsp;&nbsp;&nbsp;">
                <img alt="{{ ownership['own_name'] }}" class="lazy" data-src="{{ asset("uploads/ownershipImages/thumbnails/" ~ ownership['photo'])}}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                <noscript><img class="nolazy" src="{{ asset("uploads/ownershipImages/thumbnails/" ~ ownership['photo'])}}"></noscript>
            </div>
            <h2 class="h-blue">{{ ownership['own_name']| title }} <small>({{ownership['prov_name']}})</small></h2>
            </a>
            <h5>
                {%if ownership['description'] != null%}
                    {{ownership['description'] | striptags | slice(0,120) }} (...{{"RESERVATION_CONFIRM_DESTINATION_MORE" | trans | capitalize}})
                {%endif%}
            </h5>
        </div>
    {% set cont=cont+1 %}
    {% else %}
    {% set cont=1 %}
</div>
<div class="row" style="margin-top: 25px">
    <div class="col-sm-3">
            <a rel="tooltip" href="{{ path('frontend_details_ownership',{'own_name':ownership['own_name']  | lower | replace(' ','_')}) }}" title="{{"MORE_INFO_PREFFIX" | trans}} {{ownership['own_name']}}">
            <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{%if ownership['comments_total'] > 0%}+{%endif%}{{ownership['comments_total']}}&nbsp;&nbsp;&nbsp;">
                <img alt="{{ ownership['own_name'] }}" src="{{ asset("uploads/ownershipImages/thumbnails/" ~ ownership['photo'])}}">
            </div>
            <h1 class="h-blue">{{ ownership['own_name']| title }} <small>({{ownership['prov_name']}})</small></h1>
            <h5>
                {%if ownership['description'] != null%}
                    {{ownership['description'] | striptags | slice(0,120) }} (...{{"RESERVATION_CONFIRM_DESTINATION_MORE" | trans | capitalize}})
                {%endif%}
            </h5>
            </a>
        </div>
 
    {% endif %}
    {%endfor%}
</div>
</div>