{% extends 'FrontEndBundle:layout:base.html.twig' %}
{%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_LAST_ADDED')%}
{% block title %}
{{ "LAST_ADDED_PAGE_TITLE" | trans }}
{% endblock %}
{% set main_tab = 5 %}
{% block content_nav_top_body %}
{{"LAST_ADDED_DESCRIPTION" | trans}}
{% endblock %}

{% block body %}
<br/>
<div class="container">
    <h1 class="caecilia-roman h-green carousel-title" style="padding-bottom: 20px">
     {{"LAST_ADDED_BREADCRUMB" | trans}}
    </h1>
<div class="row result_list ownerships_list" id="div_result">
    {{ include('FrontEndBundle:ownership:ownershipArrayItemList.html.twig',
                        {'list': list,
                         'list_preffix': list_preffix
                         }) }}
</div>
{%if list | length and total_items > items_per_page%}
        <div class="text-center">
    {{ simple_paginator_render('frontend_last_added_ownership',null,{
    'container_class': 'pagination',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': null
}) }}
            </div>
{%endif%}
    </div>
    <script>
        $(function(){
            $('img.lazy').jail();
        });
    </script>
{% endblock %}
