{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{ "LAST_ADDED_PAGE_TITLE" | trans }}
{% endblock %}
{% set main_tab = 5 %}
{% block content_nav_top_body %}
{{"LAST_ADDED_DESCRIPTION" | trans}}
{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li><a href="{{ path('frontend_welcome') }}" title="{{"GO_HOME_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a> <span class="divider">»</span></li>
    <li class="active">{{"LAST_ADDED_BREADCRUMB" | trans}}</li>
</ul>
<div class="row-fluid filter_1">

</div>
<div id="loading" class="alert alert-info hidden"> <img src="{{ asset('bundles/frontend/images/loading.gif') }}"/> {{"LOADING_MESSAGE" | trans}}</div>
<div class="row-fluid result_list ownerships_list" id="div_result">
    {{ include('frontEndBundle:ownership:ownershipItemList.html.twig', 
                        {'list': list,
                         'photos':photos,
                         'rooms' : rooms,
                         'is_in_favorities' : is_in_favorities,
                         'list_preffix': list_preffix,
                         'counts': counts
                         }) }}      
</div>
{%if list | length and total_items > items_per_page%}
    <div class="paginator-cont top_margin">
    {{ simple_paginator_render('frontend_last_added_ownership',null,{
    'container_class': 'paginator',
    'previousPageText': '«',
    'nextPageText': '»',
    'currentClass': 'current',
    'firstPageText': 'FIRST_PAGE' | trans,
    'lastPageText': 'LAST_PAGE' | trans,
    'route_params': null
}) }}
</div>
{%endif%}
{% endblock %}