{%if destinations | length%}
<div class="carousel slide carousel-mini" id="destinationCarousel">
                <h4 class="carousel-title">{{"VISIT_ANOTHER_DESTINATIONS" | trans}}</h4>
                <div class="carousel-inner">
                    {%set counter = 0%}
                    {%for dest in destinations%}
                    <div class="item {%if counter == 0%}active{%endif%}">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('frontend_details_destination',{'destination_name':dest.des_name|lower|replace(' ','-')}) }}">
                                <img src="{{ asset("uploads/destinationImages/thumbnails/" ~ dest.photo)}}" class="thumbnail full-width">
                                </a>
                            </div>
                            <div class="col-xs-6"><b>
                            <a href="{{ path('frontend_details_destination',{'destination_name':dest.des_name|lower|replace(' ','-')}) }}">
                            {{dest.des_name}}
                            </a></b><br/>
                            {{"FROM_PRICES" | trans | lower}} {{dest.min_price | price }} {{"BYNIGHT" | trans}}<br/>
                            {{(dest.desc_brief != null or dest.desc_brief != "") ? (dest.desc_brief | slice(0,50) | striptags) : ""}}            
                            {%if (dest.desc_brief != null and dest.desc_brief | length > 50)%}...{%endif%}   
                           </div>
                        </div>
                    </div>
                        {%set counter = counter + 1%}
                    {%endfor%}
                </div>
                <a data-slide="prev" href="#destinationCarousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#destinationCarousel" class="right carousel-control">›</a>
            </div>
{%endif%}
