<script src="{{ asset('bundles/frontend/js/ownership.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/typeahead.min.js') }}"></script>


<div class="form bg-gradient-orange" id="orange_search_bar">
        <div class="row">
            <div class="col-sm-12" style="">
                <form class="form-inline">
                    <div class="col-sm-3">
                        <input type="text" id="input_text" placeholder="{{'PLACE_WATERMARK' | trans}}" class="form-control" autocomplete="off" data-highlighter="null" data-items="5" data-provide="typeahead">
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group" data-datepicker="true" style="padding: 0; z-index: 250">
                            <input class="form-control" value="{{(app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date('d/m/Y')) : ('now' |date('d/m/Y'))}}" id="input_arrival_date" placeholder="{{'ARRIVAL_WATERMARK' | trans}}" type="text" data-localization='{{locale}}' data-value='{{arrival_date}}'>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group" style="padding: 0; z-index: 250">
                            <input class="form-control" value="{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : ("+2 days" |date("d/m/Y"))}}" id="input_departure_date" placeholder="{{"DEPARTURE_WATERMARK" | trans}}" type="text" data-localization='{{locale}}' data-value='{{departure_date}}'>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" id="input_guests">
                            <option value="1">{{"GUEST_WATERMARK" | trans}}</option>
                            <option value="2">2 {{"GUESTS" | trans}}</option>
                            <option value="3">3 {{"GUESTS" | trans}}</option>
                            <option value="4">4 {{"GUESTS" | trans}}</option>
                            <option value="5">5 {{"GUESTS" | trans}}</option>
                            <option value="6">6 {{"GUESTS" | trans}}</option>
                            <option value="7">7 {{"GUESTS" | trans}}</option>
                            <option value="8">8 {{"GUESTS" | trans}}</option>
                            <option value="9">9 {{"GUESTS" | trans}}</option>
                            <option value="10">10 {{"GUESTS" | trans}}</option>
                            <option value="+10">+10 {{"GUESTS" | trans}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" id="input_room">
                            <option value="1">{{"ROOM_WATERMARK" | trans }}</option>
                            <option value="2">2 {{"ROOM_PLURAL" | trans | capitalize}}</option>
                            <option value="3">3 {{"ROOM_PLURAL" | trans | capitalize}}</option>
                            <option value="4">4 {{"ROOM_PLURAL" | trans | capitalize}}</option>
                            <option value="5">5 {{"ROOM_PLURAL" | trans | capitalize}}</option>
                            <option value="+5">+5 {{"ROOM_PLURAL" | trans | capitalize}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-block btn-primary" id="btn_search" data-url="{{ path('frontend_search_ownership',{'text':'_text', 'arrival':'_arrival','departure':'_departure','guests':'_guests','rooms':'_rooms'})}}">{{"SEARCH" | trans | capitalize}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
    var today_date="{{"now"|date("d/m/Y") }}";
    var start_date="{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
    var end_date="{{(app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y")}}";

    $.fn.typeahead &&
    $('[data-provide="typeahead"]').typeahead({
        name: "states",
        local: {{ autocomplete_text_list |raw}},
        limit: 4
    });
</script>
