{% extends 'FrontendBundle:layout:base.html.twig' %}
{% block title %}{{ownership.ownname}}{% endblock %}
{% block jsAndCss %}
<link href="{{ asset('bundles/frontend/libs/gallery/jquery.ad-gallery.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ asset('bundles/frontend/js/ownDetails.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/frontend/libs/gallery/jquery.ad-gallery.js') }}"></script>

<script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
<section>

     {{ include('FrontendBundle:utils:menuPrincipal.html.twig',{'cursor': 'destinos',
                                                                'casa':ownership, 'rooms': totalHabitaciones}) }}

    <div id="detalleCasa" class="row">
        <div class="span9 casaFotos">
            <div class="row">
                <div class="tabbable casaTabs"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        {%if gallery_photos | length%}
                        <li class=""><a href="#tab1" data-toggle="tab">Fotos</a></li>
                        {%endif%}

                        <li class=""><a href="#tab2" data-toggle="tab">Mapas</a></li>

                        <!--li class=""><a href="#tab3" data-toggle="tab">Google Street View</a></li>

                        <li class=""><a href="#tab4" data-toggle="tab">Calendario</a></li-->

                    </ul>
                    <div class="tab-content">    
                        {%if gallery_photos | length%}
                        <div class="tab-pane" id="tab1">
                            <div class="row">
                                {{ include('FrontendBundle:utils:detailGallery.html.twig', 
                                 {'gallery_photos': gallery_photos,
                                  'gallery_photo_descriptions': gallery_photo_descriptions}) }} 
                            </div>
                        </div>
                            {%endif%}

                        <div class="tab-pane" id="tab2">
                            <div class="row">
                                <div id="big_map_details" style="width:100%;height: 500px;" 
                                     data-x="{{ownership.OwnGeolocateX}}" 
                                     data-y="{{ownership.OwnGeolocateY}}" 
                                     data-name="{{ownership.ownname}}" 
                                     data-description="{{description | striptags}}" 
                                     data-image="" 
                                     data-icon1="http://www.mycasaparticular.com/maps.png"
                                     data-icon="http://{{app.request.host}}{{asset('/web/bundles/frontend/images/map_marker.png')}}"></div>
                            </div>

                        </div>

                        <!--div class="tab-pane" id="tab3">
                            <div class="row">
                                Google Street View
                            </div>
                        </div>

                        <div class="tab-pane" id="tab4">
                            <div class="row">
                                Calendario de Reservaciones
                            </div>
                        </div-->

                        <div class="tab-pane" id="tab5">
                            <div class="row">

                            </div>

                        </div>

                        <div class="tab-pane" id="tab6">
                            <div class="row">

                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="tabbable otherTabs"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class=""><a href="#tab1" data-toggle="tab">Descripción</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">Servicios</a></li>                        
                        <li class=""><a href="#tab3" data-toggle="tab">Descripción (propuesta mia)</a></li>
                        <li class=""><a href="#tab4" data-toggle="tab">Habitaciones (propuesta mia)</a></li>

                    </ul>
                    <div class="tab-content">    

                        <div class="tab-pane" id="tab1">
                           <table class="description">
                                    <tr>
                                        {%if description != ''%}
                                        <td class="leftColumn" valign="top">{{description| raw}}</td>
                                        {%endif%}
                                        <td class="rightColumn" valign="top">
                                            <table class="generales">
                                                <tr>
                                                    <td colspan="2" class="own_category">Casa <b>{{ownership.owncategory}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Tipo:</td>
                                                    <td class="generales_right">{{ownership.owntype}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Capacidad:</td>
                                                    <td class="generales_right">{{ownership.ownmaximumnumberguests}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Dormitorios:</td>
                                                    <td class="generales_right">{{totalHabitaciones}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Ciudad:</td>
                                                    <td class="generales_right">{{ownership.ownaddressmunicipality}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Provincia:</td>
                                                    <td class="generales_right">{{ownership.ownaddressprovince}}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>                                
                        </div>

                        <div class="tab-pane" id="tab2">
                            <div class="row">
                                 <table class="description">                                                
                                                <tr>
                                                    <td colspan="2" class="own_category">Servicios</td>
                                                </tr>
                                                {%if ownership.ownFacilitiesBreakfast %}
                                                <tr>
                                                    <td class="generales_left">Desayuno:</td>
                                                    <td class="generales_right">
                                                    {%if ownership.ownFacilitiesBreakfastPrice != null and ownership.ownFacilitiesBreakfastPrice != 0%}
                                                        $ {{ownership.ownFacilitiesBreakfastPrice}} 
                                                    {%else%} Sí{%endif%}</td>
                                                </tr>
                                                {%endif%}
                                                
                                                {%if ownership.ownFacilitiesDinner %}
                                                <tr>
                                                    <td class="generales_left">Cena:</td>
                                                    <td class="generales_right">
                                                    {%if ownership.ownFacilitiesDinnerPriceFrom != null and ownership.ownFacilitiesDinnerPriceFrom != 0%}
                                                        $ {{ownership.ownFacilitiesDinnerPriceFrom}} 
                                                        {%if ownership.ownFacilitiesDinnerPriceTo != null and ownership.ownFacilitiesDinnerPriceTo != 0%}
                                                           - $ {{ownership.ownFacilitiesDinnerPriceTo}} 
                                                        {%endif%}
                                                    {%else%} Sí{%endif%}</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownFacilitiesParking %}
                                                <tr>
                                                    <td class="generales_left">Parqueo:</td>
                                                    <td class="generales_right">
                                                    {%if ownership.ownFacilitiesParkingPrice != null and ownership.ownFacilitiesParkingPrice != 0%}
                                                        $ {{ownership.ownFacilitiesParkingPrice}} 
                                                    {%else%} Sí{%endif%}</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionBicycleParking %}
                                                <tr>
                                                    <td class="generales_left">Parqueo para Bicicletas:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionPets %}
                                                <tr>
                                                    <td class="generales_left">Mascotas:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionLaundry %}
                                                <tr>
                                                    <td class="generales_left">Lavado:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionInternet %}
                                                <tr>
                                                    <td class="generales_left">Internet / Correo:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownWaterJacuzee %}
                                                <tr>
                                                    <td class="generales_left">Jacuzee:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownWaterSauna %}
                                                <tr>
                                                    <td class="generales_left">Sauna:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownWaterPiscina %}
                                                <tr>
                                                    <td class="generales_left">Piscina:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                               
                                            </table>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="row">
                                 <table class="description">
                                    <tr>
                                        {%if description != ''%}
                                        <td class="leftColumn" valign="top">{{description | raw}}</td>
                                        {%endif%}
                                        <td class="rightColumn" valign="top">
                                            <table class="generales">
                                                <tr>
                                                    <td colspan="2" class="own_category">Casa <b>{{ownership.owncategory}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Tipo:</td>
                                                    <td class="generales_right">{{ownership.owntype}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Capacidad:</td>
                                                    <td class="generales_right">{{ownership.ownmaximumnumberguests}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Dormitorios:</td>
                                                    <td class="generales_right">{{totalHabitaciones}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Ciudad:</td>
                                                    <td class="generales_right">{{ownership.ownaddressmunicipality}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="generales_left">Provincia:</td>
                                                    <td class="generales_right">{{ownership.ownaddressprovince}}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td colspan="2" class="own_category">Servicios</td>
                                                </tr>
                                                {%if ownership.ownFacilitiesBreakfast %}
                                                <tr>
                                                    <td class="generales_left">Desayuno:</td>
                                                    <td class="generales_right">
                                                    {%if ownership.ownFacilitiesBreakfastPrice != null and ownership.ownFacilitiesBreakfastPrice != 0%}
                                                        $ {{ownership.ownFacilitiesBreakfastPrice}} 
                                                    {%else%} Sí{%endif%}</td>
                                                </tr>
                                                {%endif%}
                                                
                                                {%if ownership.ownFacilitiesDinner %}
                                                <tr>
                                                    <td class="generales_left">Cena:</td>
                                                    <td class="generales_right">
                                                    {%if ownership.ownFacilitiesDinnerPriceFrom != null and ownership.ownFacilitiesDinnerPriceFrom != 0%}
                                                        $ {{ownership.ownFacilitiesDinnerPriceFrom}} 
                                                        {%if ownership.ownFacilitiesDinnerPriceTo != null and ownership.ownFacilitiesDinnerPriceTo != 0%}
                                                           - $ {{ownership.ownFacilitiesDinnerPriceTo}} 
                                                        {%endif%}
                                                    {%else%} Sí{%endif%}</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownFacilitiesParking %}
                                                <tr>
                                                    <td class="generales_left">Parqueo:</td>
                                                    <td class="generales_right">
                                                    {%if ownership.ownFacilitiesParkingPrice != null and ownership.ownFacilitiesParkingPrice != 0%}
                                                        $ {{ownership.ownFacilitiesParkingPrice}} 
                                                    {%else%} Sí{%endif%}</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionBicycleParking %}
                                                <tr>
                                                    <td class="generales_left">Parqueo para Bicicletas:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionPets %}
                                                <tr>
                                                    <td class="generales_left">Mascotas:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionLaundry %}
                                                <tr>
                                                    <td class="generales_left">Lavado:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownDescriptionInternet %}
                                                <tr>
                                                    <td class="generales_left">Internet / Correo:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownWaterJacuzee %}
                                                <tr>
                                                    <td class="generales_left">Jacuzee:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownWaterSauna %}
                                                <tr>
                                                    <td class="generales_left">Sauna:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                                {%if ownership.ownWaterPiscina %}
                                                <tr>
                                                    <td class="generales_left">Piscina:</td>
                                                    <td class="generales_right"> Sí</td>
                                                </tr>
                                                {%endif%}
                                               
                                            </table>
                                        </td>
                                    </tr>
                                </table>  
                            </div>

                        </div>
                        
                        <div class="tab-pane" id="tab4">                           
                            {%for room in rooms%}
                                 <div class="row room">
                                     <table>
                                         <tr>
                                             <td colspan="3" class="own_category">
                                                 {{room.roomtype}}
                                             </td>
                                             <td rowspan="2" class="alignRight">
                                             {% if room.roomPriceUpFrom != null and room.roomPriceUpFrom != 0%}
                                                     Alta: <span class="priceText">${{room.roomPriceUpFrom}}</span> 
                                             {%if room.roomPriceUpTo != null and room.roomPriceUpTo != 0 and room.roomPriceUpFrom != room.roomPriceUpTo%}
                                                    <span class="priceText"> - ${{room.roomPriceUpTo}}</span>
                                             {%endif%}
                                             
                                             {%endif%}
                                             {% if room.roomPriceDownFrom != null and room.roomPriceDownFrom != 0 and room.roomPriceDownFrom != room.roomPriceDownTo%}
                                               <br/>
                                               <br/>
                                               Baja: <span class="priceText">${{room.roomPriceDownFrom}}</span>
                                             {%if room.roomPriceDownTo != null and room.roomPriceDownTo != 0%}
                                               <span class="priceText"> - ${{room.roomPriceDownTo}}</span>
                                             {%endif%}
                                               {%endif%}
                                             </td>
                                         </tr>
                                         <tr>
                                             <td>Camas: <b>{{room.roomBeds}}</b></td>
                                         </tr>
                                         <tr>
                                             <td colspan="4">
                                                 <h3>Características Principales</h3>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td colspan="2">Climatizacion: <b>{{room.roomClimate}}</b></td>
                                             <td rowspan="3" colspan="2">
                                                 Ventanas: <b>{%if room.roomWindows != null and room.roomWindows != 0%} {{room.roomWindows}} {%else%} No {%endif%} </b><br/>
                                                 Balcón: <b>{%if room.roomBalcony %} Sí {%else%} No {%endif%}</b> <br/>
                                                 Terraza: <b>{%if room.roomTerrace %} Sí {%else%} No {%endif%}</b> <br/>
                                                 Patio: <b>{%if room.roomYard %} Sí {%else%} No {%endif%}</b> <br/>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td colspan="2">Audiovisuales: <b>{%if room.roomAudiovisual != null and room.roomAudiovisual != '' %}{{room.roomAudiovisual}} {%else%} No {%endif%}</b></td>
                                         </tr>
                                         <tr>
                                             <td colspan="2">Baño: <b>{%if room.roomBathroom != null and room.roomBathroom != '' %}{{room.roomBathroom}}{%else%}No{%endif%}</b></td>
                                         </tr>
                                         <tr>
                                             <td colspan="4">
                                                 <h3>Otras</h3>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td>Fumador: <b>{%if room.roomSmoker %} Sí {%else%} No {%endif%}</b></td>
                                             <td>Caja Fuerte: <b>{%if room.roomSafe %} Sí {%else%} No {%endif%}</b></td>
                                             <td>Estéreo: <b>{%if room.roomStereo %} Sí {%else%} No {%endif%}</b></td>
                                             <td>Niños: <b>{%if room.roomBaby %} Sí {%else%} No {%endif%}</b></td>
                                         </tr>
                                     </table>
                                 </div>
                            {%endfor%}                 

                        </div>

                    </div>
                </div>
            </div>
           
           <div class="row" id="divComments">
           {{ include('FrontendBundle:utils:own_comments.html.twig', 
           {'listado': comments, 'friends': friends, 'show_comments_and_friends': show_comments_and_friends}) }} 
            </div>
        </div>
        <div class="span3 rightColumn">
            <fieldset>
                <div id="precios">                   
                    <table>
                        <tr>
                            <td colspan="3">Desde</td>
                        </tr>
                        <tr>
                            <td class="bigBlueText">
                                ${{ownership.ownminimumprice}}
                            </td>
                            <td colspan="2" class="alignRight">
                                <select id="byNights">
                                    <option>Por noches</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="separator"></td>
                        </tr>
                        <tr>
                            <td>Llegada</td>
                            <td>Salida</td>
                            <td>Huéspedes</td>
                        </tr>
                        <tr>
                            <td><input type="text" class="smaller" id="inputLlegada" name="inputLlegada"/></td>
                            <td><input type="text" class="smaller" id="inputSalida" name="inputSalida"/></td>
                            <td><input type="text" class="smaller numeric" id="inputHuespedes" name="inputHuespedes"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="separator"></td>
                        </tr>
                        <tr>
                            <td colspan="3">Subtotal</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="bigGrayText">$ 103</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="row botonBuscarDiv">
                                    <button class="botonBuscar" id="botonReservar" data-url="">Resérvalo</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="blueText">Incluye tarifa de limpieza</td>
                        </tr>
                    </table>
                </div>
            </fieldset>

            <fieldset class="center_content">
                <button class="botonAgragarFavoritos" id="botonAgregarFAvoritos" data-url="">Añadir a Mis Casas Favoritas</button>
            </fieldset>

            <fieldset>
                <div id="own_rating" data-url="{{ path('mycp_update_own_rating',{'ownid':ownership.ownid}) }}">
                 {{ include('FrontendBundle:utils:own_rating.html.twig', 
                                 {'ownership': ownership}) }} 
                    </div>
                            <hr/>
                            <table id="formComments">
                                <tr>
                                    <td>Nombre *</td>
                                </tr>
                                <tr>
                                    <td><input id="inputCommentName" type="text"/></td>
                                </tr>
                                <tr>
                                    <td>Correo *</td>
                                </tr>
                                <tr>
                                    <td><input id="inputCommentMail" type="text"/></td>
                                </tr>
                                <tr>
                                    <td>Opinión *</td>
                                </tr>                   
                                <tr>
                                    <td><textarea id="inputCommentOpinion"></textarea></td>
                                </tr>
                                <tr>
                                    <td><em>Los campos marcados con (*) son obligatorios.</em></td>
                                </tr>
                                <tr>
                                    <td class="valoracionBigText">¿Recomendaría este alojamiento para ir de vacaciones?</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td><input name="radioValoracion" id="option5" type="radio" checked="checked" value="5"/> Un alojamiento excelente!! </td>
                                                <td><img src="{{ asset('bundles/frontend/images/opcion5.png')}}" align="absmiddle"/></td>
                                            </tr>
                                            <tr>
                                                <td><input name="radioValoracion" id="option4" type="radio" value="4"/> Sí, me gustó.</td>
                                                <td><img src="{{ asset('bundles/frontend/images/opcion4.png')}}" align="absmiddle"/></td>
                                            </tr>
                                            <tr>
                                                <td><input name="radioValoracion" id="option3" type="radio" value="3"/> Normal.</td>
                                                <td><img src="{{ asset('bundles/frontend/images/opcion3.png')}}" align="absmiddle"/></td>
                                            </tr>
                                            <tr>
                                                <td><input name="radioValoracion" id="option2" type="radio" value="2"/> No me gustó.</td>
                                                <td><img src="{{ asset('bundles/frontend/images/opcion2.png')}}" align="absmiddle"/></td>
                                            </tr>
                                            <tr>
                                                <td><input name="radioValoracion" id="option1" type="radio" value="1"/> No lo recomendaría.</td>
                                                <td><img src="{{ asset('bundles/frontend/images/opcion1.png')}}" align="absmiddle"/></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Captcha</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="cargando" class="oculto">
                                            <img src="{{ asset('bundles/frontend/images/load.gif')}}" width="20px" height="20px"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center_content"><button class="botonComentar" id="botonComentar" data-url="{{ path('mycp_comment_insert',{'ownid':ownership.ownid}) }}">Enviar</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="messageError" class="oculto">
                                        </div><div id="messageOK" class="oculto">
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </fieldset>

                        {%if total_similar_houses > 0%}
                        <fieldset class="casasSimilares">
                            <div class="header">Casas Similares ({{total_similar_houses}})</div>
                            <div class="subheader">{{total_similar_houses}} listings <a title="Ver más casas {{ownership.owncategory}}" href="{{ path('mycp_category_owns',{'category':ownership.owncategory})}}">(ver todo)</a></div>
                            <div class="content">
                            {%for casa in similar_houses%}
                               <div class="row">
                                   <div class="span1 photo">
                                       <a title="Ver más información de {{casa.ownName}}" href="{{ path('mycp_ownership_details',{'ownerid':casa.ownid}) }}">
                                            <img src="{{ asset("uploads/ownershipImages/" ~ photos_similar_houses[casa.ownid])}}" align="absmiddle" class="foto" height="100px"/>
                                       </a>
                                   </div>
                                   <div class="span2 details">
                                       <div class="row own_name"><a title="Ver más información de {{casa.ownName}}" href="{{ path('mycp_ownership_details',{'ownerid':casa.ownid}) }}">{{casa.ownName}}</a></div>
                                       <div class="row own_other">{{casa.ownminimumprice}} por noche</div>
                                       <div class="row own_other">{{casa.owntype}}</div>
                                   </div>
                               </div>
                            {%endfor%}
                            </div>
                      </fieldset>
                      {%endif%}
                    </div>
                </div>
            </section> 

{% endblock %}
