
{%for own in list%}
<div class="row" data-id="{{own.ownid}}">
    <div class="col-sm-4">
        <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{%if own.owncommentstotal > 0%}+{%endif%}{{own.owncommentstotal}}&nbsp;&nbsp;&nbsp;">
            <a href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}">
            <img src="{{ asset("uploads/ownershipImages/thumbnails/" ~  photos[own.ownid])}}">
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <table class="full-width">
            <tr>
                <td>
                    <a href="{{ path('frontend_details_ownership',{'own_name':own.ownname  | lower | replace(' ','_')}) }}">
                    <h1 class="h-blue">{{own.ownname}}</h1>
                    </a>
                    {%if own.ownCategory == "Premium"%}
                        <img rel="tooltip" title="{{own.ownCategory | trans}}" class="icon icon-3 tiny-premium-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                        {%else%}
                            {%if (own.ownCategory | lower) == ("Rango Medio" | lower)%}
                            <img rel="tooltip" title="{{own.ownCategory | trans}}" class="icon icon-3 tiny-middle-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%else%}
                                <img rel="tooltip" title="{{own.ownCategory | trans}}" class="icon icon-3 tiny-economic-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endif%}
                        {%endif%} 
                    <span>{{own.ownCategory | trans}}</span><br/>
                    <small class="top">{{own.ownAddressProvince}}, {{own.ownAddressMunicipality}}<br/>
                     {{own.ownType  | trans}} 
                     {%if (rooms[own.ownid] != 0) %}
                        / {{rooms[own.ownid]}} {% if rooms[own.ownid] == 1%} {{"ROOM_SINGULAR" | trans}} 
                     {%else%} {{"ROOM_PLURAL" | trans}} 
                     {%endif%}
                     {%endif%}
                     </small>
                    <br/>
                    {%if own.ownRating > 0%}
                        {%for i in 1..own.ownRating%}
                           <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon icon-2 tiny-star-icon">
                        {%endfor%}
                        {%endif%}

                        {%if own.ownRating < 5%}
                        {%for i in 1..(5-own.ownRating)%}
                          <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon icon-2 tiny-star-off-icon">
                        {%endfor%}
                    {%endif%}
                    <small>{{counts[own.ownid][0]["comments"]}} {{"FORMS_COMMENTS" | trans | lower}}</small>                    
                    <br/>
                    <small>{{own.count_reservations}} {{"RESERVATIONS" | trans | lower}}</small>                   
                </td>
                <td class="text-right">
                    <small>{{"FROM_PRICES" | trans}}:</small><span class="big-price-blue">
                        {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{own.ownMinimumPrice * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))}}
                    </span>
                    <br/>
                    <br/>
                    <br/>
                        {{ include('frontEndBundle:favorite:itemFavorite.html.twig', 
                        {'is_in_favorite': is_in_favorities[own.ownid],
                         'favorite_type': 'ownership',
                         'element_id':own.ownid,
                         'list_preffix' : list_preffix,
                         'include_text': true
                         }) }}  
                </td>
            </tr>
        </table>

    </div>
</div>
<hr/>
{%else%}
   <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}
