{%set currRate = (app.session.get('curr_rate') == null or fromBackend ? 1 : app.session.get('curr_rate'))%}
<table class="table "style="margin-bottom: 0px">
    <thead>
    <tr>
        <th>{{'RESERVATION_ROOMS' | trans}}</th>
        <th>{{'RESERVATION_ROOM_TYPE' | trans}}</th>
        {% for date in array_dates %}
            <th>{{ date['day_name'] | trans}} {{ date['day_number'] }}</th>
        {% endfor %}
        <th>{{'ADULTS' | trans}}</th>
        <th>{{'KIDS' | trans}}</th>
        <th id="childreAgeTh" colspan="6" style="display: none">{{ "children.ages" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% set cont = 1 %}
    {% for room in rooms %}

        <input class="hidden real_price_room" value="{{ room.getRoomPriceUpFrom }}">

        {% set available = 1 %}
        <tr {% if reservations[room.getRoomId] is defined %} style="color: #f4961c!important;" {% set available = 0 %} {% endif %}>
            <td style="width: 100px">{{'RESERVATION_ROOM' | trans}} # {{cont}}</td>
            <td style="width: 200px">{{ room.getRoomType | trans}}</td>
            {% set cont_days = 1 %}
            {% for date in array_dates %}
                <td>
                    {% set print_price = 1%}
                    {% if no_available_days[room.getRoomId] is defined%}
                        {% set print_price = 1%}
                        {% set print_x = 1 %}
                        {% for day in no_available_days[room.getRoomId]%}
                            {% if cont_days == day %}
                                {% set print_price = 0%}
                                {% if print_x==1 %}
                                    {% set print_x = 0%}
                                    X
                                {% endif %}
                            {% endif %}
                        {% endfor%}
                    {% endif %}
                    {% if print_price == 1%}
                        {% if prices_dates[cont-1][loop.index0] is defined %}
                            {{ prices_dates[cont-1][loop.index0] * currRate}}
                        {% else %}
                            -
                        {% endif %}
                    {% endif %}
                </td>
                {% set cont_days = cont_days+1 %}
            {% endfor %}
            <td {% if available != 1 %} colspan="8" {% endif %}>
                {% if available == 1 %}
                <select data_total="{{array_prices[cont-1]}}"
                        id="combo_guest_{{room.getRoomId}}"
                        name="combo_guest_{{room.getRoomId}}"
                        data='{{room.getRoomId}}'
                        percent_charge="{{ ownership.OwnCommissionPercent }}"
                        data_curr="{{ currRate }}"
                        class="guest_number form-control form-control-2"
                        data_triple_recharge ="{{configuration_triple_room_charge}}"
                        data_type_room='{{room.getRoomType}}'
                        data_is_triple='{{room.isTriple}}'
                        style="width: 50px">
                    <option value="0">0</option>
                    {{ include('FrontEndBundle:ownership:listGuestRoomOwnership.html.twig',{'room_type': room.getRoomType}) }}
                </select>
            </td>
            <td>
                <select data_total="{{array_prices[cont-1]}}"
                        id="combo_kids_{{room.getRoomId}}"
                        name="combo_kids_{{room.getRoomId}}"
                        data='{{room.getRoomId}}'
                        percent_charge="{{ ownership.OwnCommissionPercent }}"
                        data_curr="{{ currRate }}"
                        class="guest_number form-control form-control-2"
                        data_type_room='{{room.getRoomType}}'
                        data_is_triple='{{room.isTriple}}'
                        data_triple_recharge ="{{configuration_triple_room_charge}}"
                        style="width: 50px">
                    <option value="0">0</option>
                    {{ include('FrontEndBundle:ownership:listGuestRoomOwnership.html.twig',{'room_type': room.getRoomType}) }}
                </select>
            </td>
            <td id="childrenImg1_{{room.getRoomId}}" style="display: none; {% if loop.index < rooms | length %}border-bottom: 1px solid #bbbbbb;{% endif %}"><img class="icon-services children" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="{{"Pixel" | trans}}"/></td>
            <td id="childrenAge1_{{room.getRoomId}}" style="display: none; {% if loop.index < rooms | length %}border-bottom: 1px solid #bbbbbb;{% endif %}">
                <select
                        id="combo_kidsage_1_{{room.getRoomId}}"
                        name="combo_kidsage_1_{{room.getRoomId}}"
                        data='{{room.getRoomId}}'
                        data_curr="{{ currRate }}"
                        percent_charge="{{ ownership.OwnCommissionPercent }}"
                        class="guest_age guest_age_1 form-control form-control-2"
                        style="width: 50px">
                    <option value="-1"></option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </td>
            <td id="childrenImg2_{{room.getRoomId}}" style="display: none; {% if loop.index < rooms | length %}border-bottom: 1px solid #bbbbbb;{% endif %}"><img class="icon-services children" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="{{"Pixel" | trans}}"/></td>
                <td id="childrenAge2_{{room.getRoomId}}" style="display: none; {% if loop.index < rooms | length %}border-bottom: 1px solid #bbbbbb;{% endif %}">
                    <select
                            id="combo_kidsage_2_{{room.getRoomId}}"
                            name="combo_kidsage_2_{{room.getRoomId}}"
                            data='{{room.getRoomId}}'
                            data_curr="{{ currRate }}"
                            percent_charge="{{ ownership.OwnCommissionPercent }}"
                            class="guest_age guest_age_2 form-control form-control-2"
                            style="width: 50px">
                        <option value="-1"></option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </td>
            <td  id="childrenImg3_{{room.getRoomId}}" style="display: none; {% if loop.index < rooms | length %}border-bottom: 1px solid #bbbbbb;{% endif %}"><img class="icon-services children" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="{{"Children" | trans}}"/></td>
            <td id="childrenAge3_{{room.getRoomId}}" style="display: none; {% if loop.index < rooms | length %}border-bottom: 1px solid #bbbbbb;{% endif %}">
                <select
                        id="combo_kidsage_3_{{room.getRoomId}}"
                        name="combo_kidsage_3_{{room.getRoomId}}"
                        data='{{room.getRoomId}}'
                        data_curr="{{ currRate }}"
                        percent_charge="{{ ownership.OwnCommissionPercent }}"
                        class="guest_age guest_age_3 form-control form-control-2"
                        style="width: 50px">
                    <option value="-1"></option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </td>
        {% else %}
            <div style="text-align: center" class="badge badge-warning btn-block">{{"NOT_AVAILABLE"|trans}}</div>
            </td>
            {% endif %}

        </tr>
        {% set cont = cont +1%}
    {% endfor %}
    </tbody>
</table>
<input type="hidden" id="totalNights" value="{{ nights}}"/>
<div style="text-align: right">
    <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
         class="icon-services question" rel="tooltip" title="{{ "RESERVATION_TRIPLE_CHARGE" | trans}} {{configuration_triple_room_charge | price}}" alt="{{"Question" | trans}}"/>
</div>
<script type="text/javascript">
    var cont_array_dates={{ array_dates | length}};
    $("#body_calendar").scrollLeft(999999);
    var today_date="{{"now"|date("d/m/Y") }}";
</script>
{%if fromBackend%}
    {% javascripts
    '@mycpBundle/Resources/public/js/ownership.calendar.backend.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{%else%}
    {% javascripts
    '@FrontEndBundle/Resources/public/js/ownership.calendar.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{%endif%}

