{% extends 'frontEndBundle:layout:baseBlank.html.twig' %}
{% block content %}
<div id="big_map_details" class="google-maps" style="width:100%;height: 500px;"
    data-x="{{ownership.OwnGeolocateX}}"
    data-y="{{ownership.OwnGeolocateY}}"
    data-name="{{ownership.ownname}}"
    data-description="{{description | striptags}}"
    data-image="{{asset('uploads/ownershipImages/thumbnails/'~image)}}"
    data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}">
</div>
 {% block include_javascripts_and_css %}
    <script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/frontend/js/jquery.ui.map.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/jquery.ui.map.infobox.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/ownership.min.js') }}"></script>
{% endblock %}
{% endblock %}