{% set start_date = (post['reservation_filter_date_from'] is defined) ? ( post['reservation_filter_date_from']) : ((app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now" |date("d/m/Y"))) %}
{% set end_date = (post['reservation_filter_date_to'] is defined) ? (post['reservation_filter_date_to']) : ((app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : ("+2 days" |date("d/m/Y"))) %}
{% set image = ((gallery_photos[0] is defined) ? gallery_photos[0].photo_name : "no_photo.png") %}

{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_ACCOMMODATIONS') %}
{% block metas %}
    <meta name="description"
          content="{{ ownership.owntype  | trans }} {{ "IN" | trans }} {{ ownership.ownAddressProvince }}: {{ ownership.ownname }} ({{ ownership.mycpcode }}).
                {% if rooms is defined and rooms | length %}
                    {{ rooms | length }} {% if rooms | length == 1 %} {{ "ROOM_SINGULAR" | trans }} {% else %} {{ "ROOM_PLURAL" | trans }} {% endif %}.
                {% endif %}
                {{ "FROM_PRICES" | trans }} {{ ownership.ownminimumprice | price }} {{ "NIGHT_PER_ROOM" | trans }}">
    <meta name="keywords"
          content="{{ ownership.owntype }} {{ ownership.owntype | trans }} {{ ownership.ownaddressmunicipality }} {{ ownership.ownAddressProvince }} Cuba {{ ownership.ownname }}">

{% endblock %}
{% block open_graph_metas %}
    <!-- Propiedades Open Graph -->
    <meta property="og:title" content="{{ ownership.ownname }} - MyCasaParticular"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset('uploads/ownershipImages/') ~ image }}"/>
    <meta property="og:author" content="ABUC media network GmbH"/>
    <meta property="og:site_name" content="MyCasaParticular"/>
    <meta property="og:description"
          content="{{ ownership.owntype  | trans }} {{ "IN" | trans }} {{ ownership.ownAddressProvince }}: {{ ownership.ownname }} ({{ ownership.mycpcode }}). {% if rooms is defined and rooms | length %}{{ rooms | length }} {% if rooms | length == 1 %}{{ "ROOM_SINGULAR" | trans | trim }}{% else %}{{ "ROOM_PLURAL" | trans | trim }} {% endif %}{% endif %}. {{ "FROM_PRICES" | trans }} {{ ownership.ownminimumprice | price }} {{ "NIGHT_PER_ROOM" | trans }}"/>
    <meta property="og:see_also" content="{{ mail_base_url }}"/>
    <!--meta property="og:locale" content="en_US"/-->
    <meta property="og:url"
          content="{{ url('frontend_details_ownership',{'own_name':ownership.ownname  | urlNormalize}) }}"/>
    <meta property=”fb:admins” content=”312774092497”/>
{% endblock %}

{% block title %}{{ ownership.ownname }}{% endblock %}
{% set main_tab = 5 %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{ "HOMEPAGE_TITLE" | trans }}">{{ "HOME_MAIN_MENU" | trans }}</a>
    <span>››</span>
    <a href="{{ path('frontend_search_ownership') }}" title="{{ "OWNERSHIPS" | trans }}">{{ "OWNERSHIPS" | trans }}</a>
    <span>››</span>
    <a href="#" class="active" title="{{ ownership.ownname }}">{{ ownership.ownname }}</a>
{% endblock %}
{% block body %}
    <div class="bg-solid-ligth-blue" style="margin-top: -16px">
        <div class="container">
            <div class="row">
                <div {% if ownership.award %}class="col-lg-10"{% endif %}>
                    <h1 class="caecilia-roman h-size-3">
                        {{ ownership.owntype  | trans }} {{ "IN" | trans }} {{ ownership.ownAddressProvince }}
                        : {{ ownership.ownname }} ({{ ownership.mycpcode }}).
                        {% if rooms is defined and rooms | length %}
                            {{ rooms | length }} {% if rooms | length == 1 %} {{ "ROOM_SINGULAR" | trans }} {% else %} {{ "ROOM_PLURAL" | trans }} {% endif %}.
                        {% endif %}
                        {{ "FROM_PRICES" | trans }} {{ ownership.ownminimumprice | price }} {{ "NIGHT_PER_ROOM" | trans }}
                    </h1>
                </div>
                {% if ownership.award %}
                <div class="col-lg-1">
                        <img src="{{ asset("uploads/awards/") ~ ownership.award }}" style="margin-top: 5px;" alt="{{"Upload" | trans}}"/>
                </div>
                {% endif %}
            </div>


            <!--label class="place">
    {{ ownership.owntype | trans }}
    {% if (ownership.ownAddressStreet != null and ownership.ownAddressStreet != '') or (ownership.ownAddressNumber != null and ownership.ownAddressNumber != '') %}
          / {{ ownership.ownAddressStreet }} {{ ownership.ownAddressNumber }}
    {% endif %}
          / {{ ownership.ownAddressProvince }}
      </label-->
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        {% if gallery_photos | length %}
                            <li onclick="javascript:hide_calendar()" class="active li-tabs"><a data-toggle="tab"
                                                                                               href="#tab-photos">{{ "PHOTO_TAB_DETAILS" | trans }}</a>
                            </li>
                        {% endif %}
                        {% if ownership.OwnGeolocateX != "" and ownership.OwnGeolocateY != "" %}
                            <li onclick="javascript:hide_calendar()" {% if not gallery_photos | length %} class="active li-tabs" {% endif %}>
                                <a id="mapTab" data-toggle="tab" href="#tab-map">{{ "MAPS_TAB_DETAILS" | trans }}</a>
                            </li>
                        {% endif %}

                        <li id="li-reservations"
                            class="li-tabs {% if gallery_photos | length == 0 and ownership.OwnGeolocateX == "" and ownership.OwnGeolocateY == "" %}active{% endif %}">
                            <a data-toggle="tab" href="#tab-reservations">{{ 'RESERVATION_TITLE' | trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        {% if gallery_photos | length %}
                            <div id="tab-photos" class="tab-pane active">
                                <div id="full-width-slider" class="royalSlider rsDefault">

                                </div>
                            </div>
                        {% endif %}
                        {% if ownership.OwnGeolocateX != "" and ownership.OwnGeolocateY != "" %}
                            <div id="tab-map" class="tab-pane {% if gallery_photos | length == 0 %}active{% endif %}">
                                <div id="big_map_details" class="flexible-container google-maps"
                                     data-x="{{ ownership.OwnGeolocateX }}"
                                     data-y="{{ ownership.OwnGeolocateY }}"
                                     data-name="{{ ownership.ownname }}"
                                     data-description="{{ "FROM_PRICES" | trans }} {{ ownership.ownminimumprice | price }} {{ "BYNIGHTS_PRICES" | trans }}"
                                     data-image="{{ asset('uploads/ownershipImages/thumbnails/'~image) }}"
                                     data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}">
                                </div>
                            </div>
                        {% endif %}
                        <div id="tab-reservations"
                             class="tab-pane {% if gallery_photos | length == 0 and ownership.OwnGeolocateX == "" and ownership.OwnGeolocateY == "" %}active{% endif %}">
                            {{ include("FrontEndBundle:ownership:ownership_details_calendar.html.twig") }}
                        </div>
                    </div>
                </div>
                <br/>

                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab"
                                              href="#tab-desc">{{ "DESCRIPTION_TAB_DETAILS" | trans }}</a></li>
                        <li><a data-toggle="tab" href="#tab-serv">{{ "SERVICES_TAB_DETAILS" | trans }}</a></li>
                        <li><a data-toggle="tab" href="#tab-rooms">{{ "ROOMS_TAB_DETAILS" | trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-desc" class="tab-pane active">
                            <div class="row">
                                <div class="col-sm-7">
                                    {% if automaticTranslation %}
                                        <p style="text-align: right"><img
                                                    src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                    class="icon-services google-translator"
                                                    title="{{ "AUTOMATIC_TRANSLATED" | trans }}"
                                                    alt="{{ "AUTOMATIC_TRANSLATED" | trans }}"/></p>
                                    {% endif %}
                                    <h1 class="h-size-4" style="margin-top: 0">{{ ownership.ownname }}</h1>

                                    <p>{{ description| raw }}</p>
                                </div>
                                <div class="col-sm-5">
                                    <ul class="span4 price">
                                        <li>{{ "TYPE_TAB_DESCRIPTION" | trans }}: <b>{{ ownership.owntype | trans }}</b>
                                        </li>
                                        <li>{{ "CATEGORY_TAB_DESCRIPTION" | trans }}:
                                            <b>{{ ownership.category | trans }}</b></li>
                                        <li>{{ "LANG_TAB_DESCRIPTION" | trans }}: <b>{{ languages }}</b></li>
                                        <li>{{ "BEDROOMS_TAB_DESCRIPTION" | trans }}: <b>{{ rooms|length }}</b></li>
                                        <li>{{ "CAPACITY_TAB_DESCRIPTION" | trans }}:
                                            <b>{{ ownership.ownmaximumnumberguests }}</b></li>
                                        <li>{{ "CITY_TAB_DESCRIPTION" | trans }}:
                                            <b>{{ ownership.ownaddressmunicipality }}</b></li>
                                        <li>{{ "PROVINCE_TAB_DESCRIPTION" | trans }}:
                                            <b>{{ ownership.ownAddressProvince }}</b></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div id="tab-serv" class="tab-pane">
                            <div class="row">
                                <div class="col-sm-12 services">
                                    <ul class="price">
                                        {% if ownership.ownFacilitiesBreakfast %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services cofee-icon" alt="Service" /> {{ "BREAKFAST_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right">
                                                        <b>
                                                            {% if ownership.ownFacilitiesBreakfastPrice != null and ownership.ownFacilitiesBreakfastPrice != 0 %}
                                                                {{ ownership.ownFacilitiesBreakfastPrice | price }}
                                                            {% else %} {{ "YES" | trans }}{% endif %}
                                                        </b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownFacilitiesDinner %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services food-icon" alt="Pixel" /> {{ "DINNER_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>
                                                            {% if ownership.ownFacilitiesDinnerPriceFrom != null and ownership.ownFacilitiesDinnerPriceFrom != 0 %}
                                                                {{ ownership.ownFacilitiesDinnerPriceFrom | price }}
                                                                {% if ownership.ownFacilitiesDinnerPriceTo != null and ownership.ownFacilitiesDinnerPriceTo != 0 %}
                                                                    - {{ ownership.ownFacilitiesDinnerPriceTo | price }}
                                                                {% endif %}
                                                            {% else %} {{ "YES" | trans }}{% endif %}
                                                        </b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownFacilitiesParking %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services parking-icon" alt="Service" /> {{ "PARKING_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right">
                                                        <b>
                                                            {% if ownership.ownFacilitiesParkingPrice != null and ownership.ownFacilitiesParkingPrice != 0 %}
                                                                {{ ownership.ownFacilitiesParkingPrice | price }}
                                                            {% else %}
                                                                {{ "YES" | trans }}
                                                            {% endif %}
                                                        </b>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownDescriptionBicycleParking %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services bicicle-icon" alt="Pixel" /> {{ "BIKE_PARKING_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownDescriptionPets %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services pet-icon" alt="Service" /> {{ "PETS_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownDescriptionLaundry %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services laund-icon" alt="Service" /> {{ "LAUNDRY_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownDescriptionInternet %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services inet-icon" alt="Service" /> {{ "INTERNET_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownWaterJacuzee %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services jacuzee-icon" alt="Service" /> {{ "JACUZEE_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownWaterSauna %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services sauna-icon" alt="Service" /> {{ "SAUNA_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if ownership.ownWaterPiscina %}
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-xs-8"><img
                                                                src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                class="icon-services pool-icon" alt="Service" /> {{ "POOL_TAB_DESCRIPTION" | trans }}
                                                    </div>
                                                    <div class="col-xs-4 text-right"><b>{{ "YES" | trans }}</b></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tab-rooms" class="tab-pane">
                            {% for room in rooms %}
                                <div class="row services">
                                    <div class="col-sm-12">
                                        <ul class="price">
                                            <li class="lead">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h4 class="no-margin text-left"
                                                            style="margin-left: 20px">{{ room.roomtype | trans | title }}</h4>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <h4 class="no-margin text-right"
                                                            style="margin-right: 20px">{{ "FROM_PRICES" | trans }} {{ room.roomPriceDownTo | price }}</h4>
                                                    </div>
                                                </div>

                                            </li>
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services bed-icon" alt="Service" /> {{ "BEDS_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6"><b>{{ room.roomBeds }}</b></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services win-icon" alt="Service" /> {{ "WINDOWS_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomWindows != null and room.roomWindows != 0 %} {{ room.roomWindows }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services clima-icon" alt="Service" /> {{ "CLIMATIZATION_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6"><b>{{ room.roomClimate | trans }}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services bal-icon" alt="Service" /> {{ "BALCONY_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomBalcony %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services media-icon" alt="Service" /> {{ "AUDIOVISUALS_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomAudiovisual != null and room.roomAudiovisual != '' %}{{ room.roomAudiovisual | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services terr-icon" alt="Service" /> {{ "TERRACE_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomTerrace %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services ba-icon" alt="Service" /> {{ "BATHROOM_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomBathroom != null and room.roomBathroom != '' %}{{ room.roomBathroom | trans }}{% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services gard-icon" alt="Icon" /> {{ "YARD_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomYard %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services smok-icon" alt="Icon" /> {{ "SMOKER_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomSmoker %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services est-icon" alt="Icon" /> {{ "STEREO_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomStereo %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="lead-2">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services box-icon" alt="Icon" /> {{ "SAFE_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomSafe %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6"><img
                                                                        src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                                        class="icon-services kids-icon" alt="Icon" /> {{ "KIDS_ROOMS" | trans }}
                                                                :
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <b>{% if room.roomBaby %} {{ "YES" | trans }} {% else %} {{ "NO" | trans }} {% endif %}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if can_comment %}
                        <h3 class="h-grey">{{ "QUEST_COMMENTS_DETAILS" | trans }}</h3>
                        <div class="radio"><label><input type="radio" value="5" id="option5"
                                                         name="radio_rating">{{ "5_STARS_COMMENTS_DETAILS" | trans }}
                            </label></div>
                        <div class="radio"><label><input type="radio" value="4" id="option4"
                                                         name="radio_rating">{{ "4_STARS_COMMENTS_DETAILS" | trans }}
                            </label></div>
                        <div class="radio"><label><input type="radio" checked="checked" value="3" id="option3"
                                                         name="radio_rating">{{ "3_STARS_COMMENTS_DETAILS" | trans }}
                            </label></div>
                        <div class="radio"><label><input type="radio" value="2" id="option2"
                                                         name="radio_rating">{{ "2_STARS_COMMENTS_DETAILS" | trans }}
                            </label></div>
                        <div class="radio"><label><input type="radio" value="1" id="option1"
                                                         name="radio_rating">{{ "1_STARS_COMMENTS_DETAILS" | trans }}
                            </label></div>
                        <span class="h-grey" style="font-size: 24px;">{{ "TEXT_COMMENTS_DETAILS" | trans }} *</span><br/>
                        <textarea class="col-sm-12 form-control" id="input_comment"
                                  required-message="{{ "COMMENTTEXT_REQUIERED_MESSAGE" | trans }}"></textarea>
                        <button class="btn btn-primary margin-t" id="btn_insert_comment"
                                data-url="{{ path('frontend_insert_comment',{'ownid':ownership.own_id}) }}">
                            {{ "SEND_COMMENT_DETAILS" | trans }}
                        </button>
                        <div id="loading" class="alert alert-info hidden">
                            <img src="{{ asset('bundles/frontend/img/loading.gif') }}" alt="{{"Loading" | trans}}"/>
                        </div>
                        <div id="message_text" class="hidden"
                             ok-message="{% if can_public_comment %}{{ "COMMENT_INSERTED" | trans }}{% else %}{{ "COMMENT_TO_PUBLIC" | trans }}{% endif %}"></div>
                        {#<hr class="margin-t hr-green"/>#}
                    {% endif %}
                    {% if show_comments_and_friends %}
                        <div id="user_comments">
                            {{ include('FrontEndBundle:comment:listComments.html.twig',
                            {'show_comments_and_friends': show_comments_and_friends,
                                'comments': comments}) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4">
                <ul class="span4 price">
                    <li>
                        {% if ownership.category == "Premium" %}
                            <img rel="tooltip" title="{{ ownership.category | trans }}"
                                 class="icon icon-3 tiny-premium-icon"
                                 src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="Pixel" />
                        {% else %}
                            {% if (ownership.category | lower) == ("Rango Medio" | lower) %}
                                <img rel="tooltip" title="{{ ownership.category | trans }}"
                                     class="icon icon-3 tiny-middle-icon"
                                     src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="Pixel" />
                            {% else %}
                                <img rel="tooltip" title="{{ ownership.category | trans }}"
                                     class="icon icon-3 tiny-economic-icon"
                                     src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" alt="Pixel" >
                            {% endif %}
                        {% endif %}
                        {{ "CATEGORY_TAB_DESCRIPTION" | trans }}: {{ ownership.category | trans }}
                    </li>
                    <li class="lead"  {% if ownership['OwnInmediateBooking'] %}style="padding: 0; font-size: 18px; border: none;"{% endif %}>
                        {% if ownership['OwnInmediateBooking'] %}
                            <div class="row">
                                <div class="col-md-12">
                        <div class="col-md-5">
                            <style>
                                /*@media (min-width: 1016px) {*/
                                    /*.icon-padding {*/
                                        /*margin-left: -20px;*/
                                        /*margin-bottom: -20px;*/
                                    /*}*/
                                /*}*/
                            </style>
                            <div class="row" style="background-color: #e94b3d;padding: 10px 0px;"rel="tooltip" title="{{"quick_booking_tooltip" | trans}}">



                           <i class="glyphicons white electricity icon-padding"></i> <span style="text-align: left;">{{ 'quick_bookinhg'|trans }}</span></div>
                        </div>
                        <div class="col-md-7">
                            <h2 class="no-margin" style="margin-top: 3px;">
                                <small class="h-white-1">{{ "FROM_PRICES" | trans | lower }}</small> {{ ownership.ownminimumprice | price }}
                            </h2>
                        </div>
                                </div>
                            </div>
                            {% else %}
                        <h1 class="no-margin">
                            <small class="h-white-1">{{ "FROM_PRICES" | trans | lower }}</small> {{ ownership.ownminimumprice | price }}
                        </h1>
                            {% endif %}

                    </li>
                    <li class="lead-2">
                        {{ "ARRIVAL_RESERVATION" | trans }}<br/>

                        <div style="padding: 0" class="input-group">
                            <input type="text" placeholder="{{ "ARRIVAL_RESERVATION" | trans }}" class="form-control"
                                   name="top_reservation_filter_date_from"
                                   id="top_reservation_filter_date_from"
                                   value="{{ start_date }}"
                                   data-localization='{{ locale }}'>
                            <span class="input-group-addon show_calendar"><span class="icon-calendar"></span></span>
                        </div>
                    </li>
                    <li class="lead-2">
                        {{ "DEPARTURE_RESERVATION" | trans }}<br/>

                        <div style="padding: 0" class="input-group">
                            <input type="text" placeholder="{{ "DEPARTURE_RESERVATION" | trans }}" class="form-control"
                                   name="top_reservation_filter_date_to"
                                   id="top_reservation_filter_date_to"
                                   value="{{ end_date }}"
                                   data-localization='{{ locale }}'>
                            <span class="input-group-addon show_calendar"><span class="icon-calendar"></span></span>
                        </div>
                    </li>
                    <li>
                        <button onclick="javascript:refresh_calendar_button()"
                                class="btn btn-primary">{{ "VERIFY_PRICES_FOR_THIS_DATES" | trans }}</button>
                    </li>
                </ul>
                <hr class="margin-t"/>
                {{ render(controller( 'FrontEndBundle:Ownership:ownersPhotos', { 'ownership_id': ownership.own_id, 'photo': ownership.ownerPhotoName} )) }}
                {% if ownership.owner1 %}
                    <div class="text-center">
                        <h4>
                            {{ "OWNERS" | trans }}: {{ ownership.owner1 }}
                            {% if ownership.owner2 != "" %}, {% endif %}
                            {{ ownership.owner2 }}
                        </h4>
                    </div>
                {% endif %}
                <hr class="margin-t"/>
                {{ include('FrontEndBundle:favorite:detailsFavorite.html.twig',
                {'is_in_favorite': is_in_favorite,
                    'favorite_type': 'ownership',
                    'element_id':ownership.own_id
                }) }}
                <hr class="no-margin" style="margin-bottom: 5px"/>
                <a href="#send_to_friend_popup" title="{{ 'SEND_TO_FRIEND' | trans }}" data-toggle="modal"
                   style="text-decoration: none">
                    <button class="btn btn-default btn-block" style="padding: 6px 25%; text-align: left"
                            onclick="$('#send_to_friend_popup').attr('data-email-type', 'recommend_property');
                                    $('#send_to_friend_popup').attr('data-dest-prop-id', '{{ ownership.own_id }}');">
                        <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon icon-mail" alt="{{"Pixel" | trans}}"/>
                        {{ "TELL_A_FRIEND" | trans }}
                    </button>
                </a>
                <hr class="no-margin" style="margin-bottom: 5px"/>
                <div>
                    <a class="click" onclick="facebookPopup();">
                        <button class="btn btn-default btn-block" style="padding: 6px 25%; text-align: left">
                            <img src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}" class="icon-services  icon-facebook" alt="{{"Facebook" | trans}}"/>
                            {{ "SHARE_FACEBOOK" | trans }}
                        </button>
                    </a>
                </div>
                {{ include('FrontEndBundle:ownership:ownershipRating.html.twig',
                {'ownership': ownership}) }}

                <hr/>
                {{ render(controller( 'FrontEndBundle:Ownership:lastOwnsVisited', { 'exclude_ownership_id': ownership.own_id })) }}
                {{ render(controller( "FrontEndBundle:Ownership:nearByDestinations", { 'municipality_id': ownership.ownaddressmunicipality_id, 'province_id': ownership.ownAddressProvince_id} )) }}
                {#% if total_similar_houses > 0 %#}


                {#% endif %#}
                <hr class="margin-t"/>
                <h3 class="caecilia-roman text-center margin-t">{{ "RECOMENDS_RATINGS" | trans }}</h3>

                <h1 class="text-center big-price-green no-margin">
                    {% if ownership.comments_total > 0 %}+{% endif %}{{ ownership.comments_total }}
                </h1>
                {#<hr class="no-margin" style="margin-bottom: 10px"/>#}
                {#{% if can_comment %}#}
                    {#<span class="h-grey">{{ "QUEST_COMMENTS_DETAILS" | trans }}</span>#}
                    {#<div class="radio"><label><input type="radio" value="5" id="option5"#}
                                                     {#name="radio_rating">{{ "5_STARS_COMMENTS_DETAILS" | trans }}#}
                        {#</label></div>#}
                    {#<div class="radio"><label><input type="radio" value="4" id="option4"#}
                                                     {#name="radio_rating">{{ "4_STARS_COMMENTS_DETAILS" | trans }}#}
                        {#</label></div>#}
                    {#<div class="radio"><label><input type="radio" checked="checked" value="3" id="option3"#}
                                                     {#name="radio_rating">{{ "3_STARS_COMMENTS_DETAILS" | trans }}#}
                        {#</label></div>#}
                    {#<div class="radio"><label><input type="radio" value="2" id="option2"#}
                                                     {#name="radio_rating">{{ "2_STARS_COMMENTS_DETAILS" | trans }}#}
                        {#</label></div>#}
                    {#<div class="radio"><label><input type="radio" value="1" id="option1"#}
                                                     {#name="radio_rating">{{ "1_STARS_COMMENTS_DETAILS" | trans }}#}
                        {#</label></div>#}
                    {#<span class="h-grey">{{ "TEXT_COMMENTS_DETAILS" | trans }} *</span><br/>#}
                    {#<textarea class="col-sm-12 form-control" id="input_comment"#}
                              {#requiered-message="{{ "COMMENTTEXT_REQUIERED_MESSAGE" | trans }}"></textarea>#}
                    {#<button class="btn btn-primary margin-t" id="btn_insert_comment"#}
                            {#data-url="{{ path('frontend_insert_comment',{'ownid':ownership.own_id}) }}">#}
                        {#{{ "SEND_COMMENT_DETAILS" | trans }}#}
                    {#</button>#}
                    {#<div id="loading" class="alert alert-info hidden">#}
                        {#<img src="{{ asset('bundles/frontend/img/loading.gif') }}"/>#}
                    {#</div>#}
                    {#<div id="message_text" class="hidden"#}
                         {#ok-message="{% if can_public_comment %}{{ "COMMENT_INSERTED" | trans }}{% else %}{{ "COMMENT_TO_PUBLIC" | trans }}{% endif %}"></div>#}
                    {#<hr class="margin-t hr-green"/>#}
                {#{% endif %}#}

            </div>
        </div>
    </div>


    {% block include_javascripts %}
        <script type="text/javascript">
            var reservation_see_prices_text = "{{"RESERVATION_SEE_PRICES" | trans}}";
            var own_id = "{{ownership.own_id}}";
            var today_date = "{{"now"|date("d/m/Y") }}";
        </script>
        <script type="text/javascript">

            var cont_array_dates
                    ={{ array_dates | length}};
            var today_date = "{{"now"|date("d/m/Y") }}";
            var start_date = "{{start_date }}";
            var end_date = "{{end_date}}";

            $(document).ready(function ($) {
                $('#full-width-slider').royalSlider({
                    arrowsNav: true,
                    numImagesToPreload: 5,
                    loop: false,
                    keyboardNavEnabled: true,
                    imageScaleMode: 'fill fit',
                    arrowsNavAutoHide: false,
                    autoScaleSlider: true,
                    autoScaleSliderWidth: 640,
                    autoScaleSliderHeight: 480,
                    controlNavigation: false,
                    thumbsFitInViewport: false,
                    navigateByClick: true,
                    startSlideId: 0,
                    autoPlay: false,
                    transitionType: 'move',
                    globalCaption: false,
                    deeplinking: {
                        enabled: true,
                        change: false
                    }
                });
                {% for photo in  gallery_photos%}
                var slider = $("#full-width-slider").data('royalSlider');
                var img = "{{asset('uploads/ownershipImages/'~photo.photo_name)}}";
                var description = "{{photo.photo_description}}";

                slider.appendSlide('<img rel="tooltip" title="' + description + '" class="rsImg" src="' + img + '" alt="" />');
                {% endfor %}
            });

            $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                //console.log(e.target); // activated tab
            })

            $('input#filter_date_to').change(function () {
                from = $('#filter_date_from').val();
                to = $('#filter_date_to').val();
                refresh_calendar(from, to);
                //$('#top_reservation_filter_date_from').datepicker("setDate", new Date(create_date(from)));
                //$('#top_reservation_filter_date_to').datepicker("setDate", new Date(create_date(to)));
            });

            function refresh_calendar_button() {
                $('#tabs_pho_map_res li').each(function () {
                    $(this).removeClass('active');
                });
                $('#tab-reservations').attr('class', 'active');
                $('.li-tabs').attr('class', '');
                $('#tab-photos').removeClass('active');
                $('#tab-map').removeClass('active');
                $('#li-reservations').attr('class', 'active');

                from = $('#top_reservation_filter_date_from').val();
                to = $('#top_reservation_filter_date_to').val();
                $('#filter_date_from').datepicker("setDate", new Date(create_date_in(from)));
                $('#filter_date_to').datepicker("setDate", new Date(create_date_in(to)));

                refresh_calendar(from, to);
            }

            function hide_calendar() {
                $('#tab-reservations').attr('class', 'tab-pane');
            }

            function refresh_calendar(from, to) {
                if (from != '' && to != '') {
                    $('.calendar-results').css({display: 'none'});
                    element = $("#body_calendar");
                    element.attr('class', 'container_loading');
                    element.html('<div>&nbsp;</div>');
                    $('#rooms_selected').css({display: 'none'});
                    $('#all_data_numbers').css({display: 'none'});

                    fields_dates = $('.form-control')
                    btn_refresh = $('#button_refresh_calendar')
                    fields_dates.attr('disabled', 'true');
                    if (own_id) {
                        $.ajax({
                            url: "{{ path('frontend_get_reservation_calendar_ownership_callback') }}",
                            data: {from: from, to: to, own_id: own_id}

                        }).done(function (resp) {
                            element.removeAttr('class');
                            element.html(resp);
                            from = from.replace('/', '&');
                            from = from.replace('/', '&');
                            to = to.replace('/', '&');
                            to = to.replace('/', '&');
                            $('#data_reservation').attr('from_date', from);
                            $('#data_reservation').attr('to_date', to);
                            fields_dates.removeAttr('disabled');
                        });
                    }
                }


            }

            function create_date_in(date_text) {
                var date = date_text.split('/');
                new_date = date[2] + '-' + date[1] + '-' + date[0];
                return new_date;


            }

        </script>

        <script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>

        {% javascripts
        '@FrontEndBundle/Resources/public/js/ownership.calendar.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <script type="text/javascript">
        from = $('#filter_date_from').val();
        to = $('#filter_date_to').val();

        refresh_calendar(from, to);

        var faceAppId = "{{ fb_app_id }}";
        var shareUrl = "{{url('frontend_details_ownership',{'own_name':ownership.ownname  | urlNormalize})}}";

        function facebookPopup() {
            FB.ui({
                method: 'share',
                href: shareUrl
            }, function (response) {
            });
        }


        window.fbAsyncInit = function () {
            FB.init({
                appId: faceAppId,
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>


{% endblock %}

