<ul class="price calendar-cont">
    <li class="lead-2">
        <div class="row">
            <form style="width: 100%;display: inline-flex;"id="calendar_form" method="POST"
                  action="{{ path('frontend_details_ownership',{'own_name':ownership.ownname  | urlNormalize}) }}"
                  novalidate>
                <div class="col">
                    <div rel="tooltip" title="{{ 'ARRIVAL_WATERMARK' | trans }}"
                         class="input-group" style="padding: 0">
                        <input value="{{ start_date }}" type="text" id="filter_date_from"
                               class="form-control"
                               placeholder="{{ "ARRIVAL_RESERVATION" | trans }}"
                               data-localization='{{ locale }}'>
                        <span class="input-group-addon show_calendar"><span
                                    class="icon-calendar"></span></span>
                    </div>
                </div>
                <div class="col">
                    <div rel="tooltip" title="{{ 'DEPARTURE_WATERMARK' | trans }}"
                         class="input-group" style="padding: 0">
                        <input value="{{ end_date }}" type="text" id="filter_date_to"
                               class="form-control"
                               placeholder="{{ "DEPARTURE_RESERVATION" | trans }}"
                               data-localization='{{ locale }}'>
                        <span class="input-group-addon show_calendar"><span
                                    class="icon-calendar"></span></span>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="lead-2">
        <div id="body_calendar" style="overflow-x: auto;">

        </div>
    </li>
</ul>
<ul class="price calendar-cont calendar-results">
    <li class="lead-2" {% if hasCompleteReservation is defined and hasCompleteReservation %} style="display: none" {% endif %}>
        <table id="rooms_selected" class="table" style="margin-bottom: 0px; display: none;">
            <thead>
            <tr>
                <th>{{ 'RESERVATION_SELECTED_ROOM' | trans }}</th>
                <th>{{ 'RESERVATION_TYPE' | trans }}</th>
                <th>{{ 'RESERVATION_ROOM_NUMBER' | trans }}</th>
                <th>{{ 'ADULTS' | trans }}</th>
                <th>{{ 'KIDS' | trans }}</th>
                <th>{{ 'RESERVATION_PRICE' | trans }}</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </li>
    <li class="lead">
        <div class="col-md-12 mb-4">

            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-black-50">{{ 'YOUR_PAYMENT'|trans }}</span>
                <span rel="tooltip" id="discount" title="More than 10 nights " class="d-none float-lg-right badge badge-pill badge-warning large ">-30%</span>

            </h4>

            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1 "style="margin: 0;">
                {% set currSymbol = app.session.get('curr_symbol') != null ? app.session.get('curr_symbol'): default_currency().currsymbol %}

                <li class="list-group-item d-flex justify-content-between lh-condensed" style="padding-bottom: 0;">
                    <div>
                        <h6 rel="tooltip" title="{{ "ACCOMMODATION_TOTAL_COST_PLURAL_TOOLTIP" | trans }}" class="my-0 text-black-50">  {{ 'ACCOMMODATION_TOTAL_COST' | trans }}</h6>

                    </div>
                    <strong id="accommodation_price" class="text-muted"></strong>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed" style="padding-bottom: 0;">
                    <div>
                        <h6 rel="tooltip" class="my-0 text-black-50"  title="{{ 'SERVICE_TOURIST_TAX_TITLE' | trans()}}" >{{ 'SERVICE_TOURIST_TAX' | trans }}</h6>

                    </div>
                    <strong id="tourist_service"
                          data-one-nr-until-20-percent ="{{ currentServiceFee.oneNrUntil20Percent }}"
                          data-one-nr-from-20-to-25-percent ="{{ currentServiceFee.oneNrFrom20To25Percent }}"
                          data-one-nr-from-more-25-percent = "{{ currentServiceFee.oneNrFromMore25Percent }}"
                          data-one-night-several-rooms-percent = "{{ currentServiceFee.oneNightSeveralRoomsPercent }}"
                          data-one-2-nights-percent = "{{ currentServiceFee.one2NightsPercent }}"
                          data-one-3-nights-percent = "{{ currentServiceFee.one3NightsPercent }}"
                          data-one-4-nights-percent = "{{ currentServiceFee.one4NightsPercent }}"
                          data-one-5-nights-percent = "{{ currentServiceFee.one5NightsPercent }}"
                          data-fixed-tax = "{{ currentServiceFee.fixedFee }}" class="text-muted"></strong>
                </li>
                <li class="d-none list-group-item justify-content-between lh-condensed" style="padding-bottom: 0;">
                    <div>
                        <h6 rel="tooltip" title="{{ 'SERVICE_FIXED_TAX_TITLE' | trans()}}" class="my-0">{{ 'SERVICE_FIXED_TAX' | trans }}</h6>

                    </div>
                    <strong id="service_recharge" class="text-muted"> {{ (currentServiceFee.fixedFee * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate'))) | number_format(2) }}</strong>
                </li>
                <li id="discount-cotent" class="list-group-item d-none justify-content-between bg-light" style="padding-bottom: 0;">
                    <div class="text-warning">
                        <h6 class="my-0">More than 10 nights</h6>
                        <small>ONLINE PAYMENT DISCOUNT</small>
                        <span rel="tooltip" title="More than 10 nights " class="d-none float-lg-right badge badge-pill badge-warning large ">-30%</span>

                    </div>
                    <strong id="discount-amount" class="text-warning"></strong>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="padding-bottom: 0;">
                    <span class="text-black-50" rel="tooltip" title="{{ 'ACCOMMODATION_TOTAL_COST_PLURAL_TOOLTIP' | trans()}}" > {{ 'RESERVATION_TOTAL_PRICE' | trans }} ( {{ currSymbol }})</span>
                    <strong class="text-black-50" id="total_price"></strong>
                </li>
            </ul>

            <!-- Cart -->

            <!-- Promo code -->

            <!-- Promo code -->

        </div>

        <div class="row row all-prices-numbers" style="font-size: 20px; margin-top: 10px">
            <div class="col-sm-6" rel="tooltip" title="{{ 'PREPAYMENT_TOOLTIP' | trans()}}">
                {{ 'PREPAYMENT'|trans }}
                : {{ currSymbol }}
                <span id="total_prepayment"></span>
            </div>
            <div class="col-sm-6 text-right" style="padding-right: 25px" rel="tooltip" title="{{ 'TOTAL_PAY_AT_SERVICE_TOOLTIP' | trans()}}">
                {{ 'TOTAL_PAY_AT_SERVICE'|trans }}
                : {{ currSymbol }}
                <span id="pay_at_service"></span><br/>
                {% if currSymbol != "CUC" %}
                    <span id="pay_at_service_cuc" style="font-size: small"></span>
                {% endif %}
            </div>

        </div>
        <div class="row" style="    margin-right: 20px;font-size: 20px; margin-top: 10px;margin-left: 20px;">
            <span id="texto-cal" class="d-none text-warning list-group-item justify-content-between bg-light "  > {{ 'OFFERT_TEXT2'|trans }}</span>
        </div>

    </li>
    <li class="lead-2">
        {% if post['reservation_filter_date_from'] is defined %}
            {% set date_from = post['reservation_filter_date_from']|replace("/","&") %}
        {% else %}
            {% set date_from = "now"|date("d&m&Y") %}
        {% endif %}

        {% if post['reservation_filter_date_to'] is defined %}
            {% set date_to = post['reservation_filter_date_to']|replace("/","&") %}
        {% else %}
            {% set date_to = "+6 day"|date("d&m&Y") %}
        {% endif %}
        <form action="{{ path('frontend_add_to_cart',{'id_ownership':ownership.own_id}) }}" id="form-check-available" method="POST">
            <input type="hidden" value="{{ hasCompleteReservation }}" name="hasCompleteReservation"/>
            <div class="row">
                <div class="row text-center">
                    <div class="col">
                        <button style="padding: 5px 10px" onclick="$('#check_dispo').val('')" class="btn btn-primary {% if ownership.OwnInmediateBooking2 %} hide {% endif %}" id="addWhisList" {% if modal_check_class is defined %}data-modal="{{ modal_check_class }}"{% endif %}>
                            <img style="width: 23px; height: 23px;" src="{{ asset('bundles/frontend/img/icons/wishlistwhite.png')}}" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/> {{ 'ADD_WHISH_LIST' | trans }}
                        </button>
                    </div>
                    <input type="hidden"  value="{% if ownership.OwnInmediateBooking2 %}2{% else %}1{% endif %}" name="check_dispo" id="check_dispo"/>
                    <div class="col">
                        {% if ownership.OwnInmediateBooking2 %}
                            <button style="padding: 5px 10px" type="submit" class="btn btn-primary" id="reservedOwnerShip" {% if modal_check_class is defined %}data-modal="{{ modal_check_class }}"{% endif %}>
                                <i class="fa fa-check"></i> {{ 'RESERVATION_RESERVE' | trans }}
                            </button>
                        {% else %}
                            <button style="padding: 5px 10px" {% if app.user.getUserUserName is not defined %} type="submit"  {% endif %} class="btn btn-primary" id="checkAvailable" {% if modal_check_class is defined %}data-modal="{{ modal_check_class }}"{% endif %}>
                                <img style="width: 23px; height: 23px;" src="{{ asset('bundles/frontend/img/icons/consult.dispowhite.png')}}" alt="{{"Mycasaparticular" | trans}}" title="{{"Mycasaparticular" | trans}}"/> {{ 'RESERVATION_CHECK_AVAILABILITY' | trans }}
                            </button>
                        {% endif %}
                    </div>


                    <div class="col-sm-4">
                        <input from_date="{{ start_date | replace('/','&') }}"
                               to_date="{{ end_date | replace('/','&') }}" type="text"
                               style="visibility: hidden; margin-bottom: -50px"
                               name="data_reservation" id="data_reservation"/>
                    </div>
                </div>
            </div>
        </form>
    </li>
</ul>

<script type="text/javascript">
    var login=false;
    {% if app.user.getUserUserName is defined %}
    login=true;
    {% endif %}

    {% if modal_check_class is defined and modal_check_class == true %}
    var form = $("#form-check-available");
    form.on("submit", function (e) {
        //Solo se envia por ajax
        //1-si el usuario no esta logueado solo se envia para el wishlist.
        //2-Cuando el usser esta login se manda por ajax la wishlist y la consulta de disponibilidad.
        if((login && ($('#check_dispo').val()==1 || $('#check_dispo').val()=='')) || (!login && $('#check_dispo').val()=='')){
            e.stopPropagation();
            e.preventDefault();
            var formData = new FormData(form[0]);
            $.ajax({
                url: form.attr('action'),
                type: "post",
                dataType: "html",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(response){
                    if(response=='0'){
                        if($('#check_dispo').val()==2 || $('#check_dispo').val()==1){
                            swal("{{ 'ADD_TO_CEST_ERROR'| trans }}", "", "error");
                        }
                        else
                            swal("{{ 'ADD_TO_CART_ERROR'| trans }}", "", "error");
                        $('#addWhisList').removeClass('hide');
                    }
                    else{
                        if(login){
                            if($('#check_dispo').val()==''){
                                $('#list-cart').attr('href','#');
                                $('#list-cart').attr('data-toggle','dropdown');
                                $('#list-cart').addClass('dropdown-toggle');
                                $('#whish-list').html(response);
                                $('#count-cart').text($('#total-cart').data('counter'));
                                swal("{{ 'MSG_ADD_WISH_LITS'| trans }}", "", "success");
                                $('#addWhisList').removeClass('hide');
                            }
                            if($('#check_dispo').val()==1){
                                swal("{{ 'REQUEST_IN_PROCESS_24_HOURS'| trans }}", "", "success");
                            }
                            if($('#check_dispo').val()==2){
                                window.location.href="{{ path('frontend_mycasatrip_available') }}";
                                swal("{{ 'VOUCHER_PREHEADER'| trans }}", "", "success");
                            }
                        }
                        else{
                            swal("{{ 'MSG_ADD_WISH_LITS'| trans }}", "", "success");
                            window.location.href="{{ path('frontend_public_login') }}";
                            $('#addWhisList').removeClass('hide');
                        }

                    }

                }
            });
        }
    });

    $('#addWhisList').on('click',function(){
        $('#addWhisList').addClass('hide');
        $('#myModalOwnerShipCalendar').modal('hide');
        if($(this).data('modal')){
            $('#myModalOwnerShipCalendar').modal('hide');

        }

    });
    $('#checkAvailable').on('click',function(){
        $('#check_dispo').val('1');
        $('#myModalOwnerShipCalendar').modal('hide');
    });
    $('#reservedOwnerShip').on('click',function(){
        $('#check_dispo').val('2');
        $('#myModalOwnerShipCalendar').modal('hide');
    });
    {% endif %}
</script>