<div class="row-fluid result_list ownerships_mosaic">
{% if list | length%}
<div class="row-fluid">
    {%set cont=0%}
    {%for own in list%}
    {% if cont <3 %}
    <div class="span4">
        <div class="thumbnail">
            <a title="{{"MORE_INFO_PREFFIX" | trans}} {{own.ownName}}" href="{{ path('frontend_details_ownership',{'owner_id':own.ownid}) }}">
            <div class="image" style="background-image: url('{{ asset("uploads/ownershipImages/" ~ photos[own.ownid])}}')">
                <div class="rating" title="{{own.ownCommentsTotal}} {{"RECOMENDS_RATINGS" | trans | lower}}">
                    {%if own.ownCommentsTotal > 0%}+{%endif%}
                    {{own.ownCommentsTotal}}
                </div>
            </div>
            </a>
            <div class="title">
                <a title="{{"MORE_INFO_PREFFIX" | trans}} {{own.ownName}}" href="{{ path('frontend_details_ownership',{'owner_id':own.ownid}) }}">
                    {{own.ownName | slice(0, 27)}}
                    {%if own.ownName | length > 27%}
                        ...
                    {%endif%}
                </a>
            </div>
            <div class="description">
                <div class="row-fluid">
                    <div class="span5">
                        <span class="category">{{own.ownCategory}}</span>
                        <table>
                            <tr>
                                {%if own.ownRating > 0%}
                                {%for i in 1..own.ownRating%}
                                    <td><img src="{{ asset('bundles/frontend/images/star_on.png')}}" align="absmiddle"/></td>
                                {%endfor%}
                                {%endif%}

                                {%if own.ownRating < 5%}
                                {%for i in 1..(5-own.ownRating)%}
                                        <td><img src="{{ asset('bundles/frontend/images/star_off.png')}}" align="absmiddle"/></td>
                                {%endfor%}
                                {%endif%}
                             </tr>
                </table>
                    </div>
                    <div class="span7" style="text-align: right">
                        <div class="big_price small_price small_price_2">&euro; 
                        {%if own.ownMinimumPrice != own.ownMaximumPrice%}
                                   {{own.ownMinimumPrice}}/{{own.ownMaximumPrice}}
                                 {%else%}
                                    {{own.ownMinimumPrice}}
                                 {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% set cont=cont+1 %}
{% else %}
{% set cont=0 %}
</div>
<div class="row-fluid">
 <div class="span4">
        <div class="thumbnail">
           <a title="{{"MORE_INFO_PREFFIX" | trans}} {{own.ownName}}" href="{{ path('frontend_details_ownership',{'owner_id':own.ownid}) }}">
            <div class="image" style="background-image: url('{{ asset("uploads/ownershipImages/" ~ photos[own.ownid])}}')">
                <div class="rating" title="{{own.ownCommentsTotal}} {{"RECOMENDS_RATINGS" | trans | lower}}">
                    {%if own.ownCommentsTotal > 0%}+{%endif%}
                    {{own.ownCommentsTotal}}
                </div>
            </div>
            </a>
            <div class="title">
                <a title="{{"MORE_INFO_PREFFIX" | trans}} {{own.ownName}}" href="{{ path('frontend_details_ownership',{'owner_id':own.ownid}) }}">
                    {{own.ownName | slice(0, 27)}}
                    {%if own.ownName | length > 27%}
                        ...
                    {%endif%}
                </a>
            </div>
            <div class="description">
                <div class="row-fluid">
                    <div class="span5">
                        <span class="category">{{own.ownCategory}}</span>
                        <table>
                            <tr>
                                {%if own.ownRating > 0%}
                                {%for i in 1..own.ownRating%}
                                    <td><img src="{{ asset('bundles/frontend/images/star_on.png')}}" align="absmiddle"/></td>
                                {%endfor%}
                                {%endif%}

                                {%if own.ownRating < 5%}
                                {%for i in 1..(5-own.ownRating)%}
                                        <td><img src="{{ asset('bundles/frontend/images/star_off.png')}}" align="absmiddle"/></td>
                                {%endfor%}
                                {%endif%}
                             </tr>
                </table>
                    </div>
                    <div class="span7" style="text-align: right">
                        <div class="big_price small_price small_price_2">&euro; 
                        {%if own.ownMinimumPrice != own.ownMaximumPrice%}
                                   {{own.ownMinimumPrice}}/{{own.ownMaximumPrice}}
                                 {%else%}
                                    {{own.ownMinimumPrice}}
                                 {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            {% endif %}
    {%else%}
         <div class="noData">{{"EMPTY_LIST" | trans}}</div>
     {%endfor%}
{% endif %}
</div>
    </div>
            
            
    

           