{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block include_javascripts_and_css %}
    {% stylesheets
    '@FrontEndBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.css'
    '@FrontEndBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css'
    '@FrontEndBundle/Resources/public/js/plugins/bootstrap-select/bootstrap-select.min.css'
    '@FrontEndBundle/Resources/public/css/slider.css'
    '@FrontEndBundle/Resources/public/css/filtersv2.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {#<link href="{{ asset('bundles/frontend/css/plugins/ionRangeSlider/ion.rangeSlider.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('bundles/frontend/css/plugins/ionRangeSlider/') }}" rel="stylesheet">#}
    {#<link href="{{ asset('bundles/frontend/') }}" rel="stylesheet">#}
    {#<link href="{{ asset('bundles/frontend/') }}" rel="stylesheet">#}
    {#<link href="{{ asset('bundles/frontend/') }}" rel="stylesheet">#}
    {% javascripts
    '@FrontEndBundle/Resources/public/js/plugins/ionRangeSlider/ion.rangeSlider.min.js'
    '@FrontEndBundle/Resources/public/js/bootstrap-slider.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<style>
</style>
{% endblock %}
{%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_ACCOMMODATIONS')%}

{% block title %}{{"SEARCH_RESULTS_PAGE_TITLE" | trans}}{% endblock %}

 {% block metas %}
     {#{{parent()}}#}
     {{ get_metas('Alojamientos', app.session.get('app_lang_code')|lower )|raw }}
     {#{% if search_text=='la habana' %}
         {{ get_metas('casa particular habana', app.session.get('app_lang_code')|lower )|raw }}
     {% endif %}#}
 {% endblock metas %}

{% set main_tab = 5 %}
{% block content_nav_top_body %}
    {{"SEARCH_DESCRIPTION_MAIN_MENU" | trans}}
{% endblock %}
{% block marquesina %}{% endblock %}
{% block custom_menus %}
    <div id="top-menu-cont" style="height: 52px; margin: 0; background: #86b32b;">
        <nav id="top-menu" role="navigation" class="navbar navbar-inverse bg-gradient-blue" style="{% if is_home is defined %}border-bottom: solid #98CD34 7px;{% endif %}">
            <div class="container">
                {% include 'FrontEndBundle:utils:searchTopNav.html.twig' with { 'route': app.request.get('_route'), 'routeParams': app.request.get('_route_params')|json_encode|url_encode } %}
            </div>
        </nav>
    </div>
{% endblock %}
{% block class_breadcrumbs %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block body %}
  <div class="row" id="search-container" style="width: 100%; margin:0;">
            <div class="col-sm-7 p-0" style="padding-right: 0; position: relative">
                <div id="loading" class="hidden">
                    <div class="layer-loading"></div>
                    <div class="loading-signal"><img class="img-circle load-icon" src="{{ asset('bundles/frontend/img/loading.gif') }}" alt="{{"Loading" | trans}}"/></div>
                </div>
                {#{%if view_results != 'MAP'%}#}
                    {#<div class="thumbnail" id="map" style="width:100%;height:150px;" class="google-maps"></div>#}
                {#{%endif%}#}
                {#<div  id="json_source" data-url="{{path("frontend_map_markers_ownership_callback")}}"#}
                      {#data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}"#}
                      {#data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"></div>#}

                {{ include('FrontEndBundle:ownership:verticalSearcherOwnershipv2.html.twig',
                {'is_within_search_results':true,
                'autocomplete_text_list': autocomplete_text_list,
                'locale': locale})}}
                <div class="filter accordion-body collapse" id="collapseFilters">
                    <div id="filters" data-url-filter="{{ path('frontend_filter_ownership_callback') }}" data-url-statistics="{{ path('frontend_filter_statistics_ownership_callback') }}">
                        {%if check_filters is defined%}
                            {{ include('FrontEndBundle:ownership:filtersv2.html.twig',
                            {'own_statistics': own_statistics,'check_filters': check_filters}) }}
                        {%else%}
                            {{ include('FrontEndBundle:ownership:filtersv2.html.twig',
                            {'own_statistics': own_statistics}) }}
                        {%endif%}
                    </div>
                </div>
                <div id="filter_upper">
                    {%if check_filters is defined and check_filters | length%}

                    {%endif%}
                </div>

                <div class="col-sm-12">
                    <div class="modal inmodal fade" id="myModalOwnerShipCalendar" tabindex="-1" role="dialog"  aria-hidden="true"></div>
                    <div class="houses-list thumbs-houses lazy-cont result_list ownerships_mosaic" id="div_result" data-current-page="{{ current_page }}" data-cant-page="{{ cant_pages }}">

                        {#{{ include('FrontEndBundle:ownership:searchMosaicOwnershipv2.html.twig',#}
                                {#{'list': list,#}
                                    {#'list_preffix': 'mosaic'#}
                                {#}) }}#}

                    </div>
                </div>
            </div>
            <div class="col-sm-5 p-0">
                {%if view_results != 'MAP'%}
                <div class="thumbnail" id="search_map" style="width:100%;" class="google-maps"></div>
                {%endif%}
                <div  id="json_search_source" data-url="{{path("frontend_map_markers_ownership_callback")}}"
                data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}"
                data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"></div>

            </div>
        </div>
    {% block marquesina_js %}{% endblock %}
    {% block include_javascripts %}

        <script>var otherpage = {{ current_page }};</script>

        {% javascripts
        '@FrontEndBundle/Resources/public/js/plugins/bootstrap-select/bootstrap-select.min.js'
        '@FrontEndBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
        '@FrontEndBundle/Resources/public/js/ownership.js'
        filter='?uglifyjs2'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $('.bs-select').selectpicker({
                iconBase: 'fa',
                tickIcon: 'fa-check'
            });

            var h = $(window).height() - 24 - $('#top-menu-cont').height()-$('.filters-container').height();

            $('#div_result').slimScroll({
                height: h+'px',
                start: 'top',
                allowPageScroll: true
            }).bind('slimscrolling', function(e, pos){
                if ( pos >= $('#div_result')[0].scrollHeight - $('#div_result').height() ){
                    otherpage++;
                    if ( parseInt(otherpage) <= parseInt($('#div_result').attr("data-cant-page")) ){
                        $('#div_result')[0].scrollTop = pos - 200;
                        research(otherpage);

//                        $(".elementList").each(function (e) {
//                            var h = $(this).height();
//                            if ($(this).find('img.lazy').hasClass('taller'))
//                                $(this).find('.efect-blur').css('background-size', 'auto ' + h + "px");
//                        });
                    }
                }
            });

//            $('#div_result').scroll(function () {
//                if ($('#search-result').scrollTop() >= $('#list-ownership').height() - $('#search-result').height()) {
//
//                }
//            });

            var h1 = $('#search-container').height();

            $('#search_map').css('height',h1+'px');


            $('[data-submenu]').submenupicker();

            $(function() {
               $(".show-more-footer a").click(function (e) {
                   e.preventDefault();
                   $(".show-more-footer, footer.footer-static").toggleClass("showFooter");
               })

                $("iframe").css("position", "fixed");
            });

        </script>
        {{ include('FrontEndBundle:script:script.html.twig') }}
    {% endblock %}
{% endblock %}
{% block go_up %}
    <div class="show-more-footer text-center"><a title="{{"FOOTER" | trans }}" href="#"><i class="ion-more"></i></a></div>
{% endblock %}
{% block forsearch %}{{ 'footer-static' }}{% endblock %}
