{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block nav_heigth %}52px{% endblock %}
{% block include_javascripts_and_css %}
    {#{% stylesheets#}
    {#'@FrontEndBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.css'#}
    {#filter='?uglifycss'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link href="{{ asset('bundles/frontend/css/plugins/ionRangeSlider/ion.rangeSlider.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/js/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/slider.css') }}" rel="stylesheet">
    {% javascripts
    '@FrontEndBundle/Resources/public/js/plugins/ionRangeSlider/ion.rangeSlider.min.js'
    '@FrontEndBundle/Resources/public/js/bootstrap-slider.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<style>
    .filters-container{
        background-color: #e2e2e2;
        padding: 10px 20px;
        border-bottom: 4px solid #bfbfbf;
    }
    .form-control{
        box-shadow: none;
        padding: 4px 10px;
        font-size: 14px;
        transition: none;
        border-radius: 2px;
    }
    .input-group-addon{
        padding: 5px 10px;
        border-radius: 2px;
    }
    .p-0{
        padding: 0;
    }
    .p-5{
        padding: 5px;
    }
    .btn{
        box-shadow: none;
        border-radius: 2px;
        text-shadow: none;
        color:  #555555;
    }
    .btn-white{
        background-color: #f4f4f4;
        color: #555555;
    }
    .btn-white.active{
        background-color: #bfbfbf;
        box-shadow: none;
    }
    .btn-group, .btn-group-vertical {
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
   .btn-group > .btn:first-child {
        margin-left: 0;
    }

   .float-e-margins .btn {
        margin-bottom: 5px;
    }

   .btn-group-vertical > .btn, .btn-group > .btn {
        float: left;
        position: relative;
    }
    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
    }
    .btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
        margin-left: -1px;
    }
    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .btn-primary {
        background-color: #84b231;
        border-color: rgba(0, 0, 0, 0.25);
        color: white;
    }
    .btn-large {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        padding: 5px 15px;
    }
    .h-blue {
        font-size: 16px;
    }
    .houses-list h1{
        margin: 0;
    }
    .houses-list span {
        color: #6d6c6c;
    }
    .thumbnail {
        position: relative;
    }
    .thumbnail-over {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 15px;
        background-color: rgba(255, 255, 255, 0.75);

    }
    .irs-from, .irs-to, .irs-single {
        background: #027ed4 none repeat scroll 0 0;
        border-radius: 4px;
        font-size: 12px;
        padding: 2px 5px;

    }
    .irs-from::after, .irs-to::after, .irs-single::after {

        border-color: #027ed4 transparent transparent;
    }
    .irs-min, .irs-max {
        font-size: 12px;
    }
    .loading-signal {
        left: 50%;
        padding: 5px;
        position: absolute;
        top: 50%;
        z-index: 101;
    }
    .layer-loading {
        background-color: #ffffff;
        height: 98%;
        opacity: 0.6;
        position: absolute;
        width: 98%;
        z-index: 100;
    }
    [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"] {
        clip: rect(0px, 0px, 0px, 0px);
        pointer-events: none;
        position: absolute;
    }
    .breadcrumb-top {
     border-bottom: none;
    }
    .checkbox-searcher{
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
</style>
{% endblock %}
{%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_ACCOMMODATIONS')%}
{% block title %}
    {{"SEARCH_RESULTS_PAGE_TITLE" | trans}}
{% endblock %}
{% set main_tab = 5 %}
{% block content_nav_top_body %}
    {{"SEARCH_DESCRIPTION_MAIN_MENU" | trans}}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block body %}
  <div class="row" id="search-container">
            <div class="col-sm-7" style="padding-right: 0;">
                <div id="loading" class="hidden">
                    <div class="layer-loading"></div>
                    <div class="loading-signal"><img class="img-circle load-icon" src="{{ asset('bundles/frontend/img/loading.gif') }}"/></div>
                </div>
                {#{%if view_results != 'MAP'%}#}
                    {#<div class="thumbnail" id="map" style="width:100%;height:150px;" class="google-maps"></div>#}
                {#{%endif%}#}
                {#<div  id="json_source" data-url="{{path("frontend_map_markers_ownership_callback")}}"#}
                      {#data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}"#}
                      {#data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"></div>#}

                {{ include('FrontEndBundle:ownership:verticalSearcherOwnershipv2.html.twig',
                {'is_within_search_results':true,
                'autocomplete_text_list': autocomplete_text_list,
                'locale': locale})}}
                <div class="filter accordion-body collapse" id="collapseFilters">
                    <div id="filters" data-url-filter="{{ path('frontend_filter_ownership_callback') }}" data-url-statistics="{{ path('frontend_filter_statistics_ownership_callback') }}">
                        {%if check_filters is defined%}
                            {{ include('FrontEndBundle:ownership:filtersv2.html.twig',
                            {'own_statistics': own_statistics,'check_filters': check_filters}) }}
                        {%else%}
                            {{ include('FrontEndBundle:ownership:filtersv2.html.twig',
                            {'own_statistics': own_statistics}) }}
                        {%endif%}
                    </div>
                </div>
                <div id="filter_upper">
                    {%if check_filters is defined and check_filters | length%}

                    {%endif%}
                </div>

                <div class="col-sm-12">
                    <div class="houses-list thumbs-houses lazy-cont" id="div_result">

                        {{ include('FrontEndBundle:ownership:searchMosaicOwnershipv2.html.twig',
                                {'list': list,
                                    'list_preffix': 'mosaic'
                                }) }}

                    </div>
                </div>
            </div>
            <div class="col-sm-5 p-0">
                {%if view_results != 'MAP'%}
                <div class="thumbnail" id="map" style="width:100%;height:500px;" class="google-maps"></div>
                {%endif%}
                <div  id="json_source" data-url="{{path("frontend_map_markers_ownership_callback")}}"
                data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}"
                data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"></div>

            </div>
        </div>

    {% block include_javascripts %}
        <script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
        {% javascripts
        '@FrontEndBundle/Resources/public/js/jquery.ui.map.js'
        '@FrontEndBundle/Resources/public/js/jquery.ui.map.infobox.js'
        '@FrontEndBundle/Resources/public/js/jquery.ui.map.markerclusterer.js'
        '@FrontEndBundle/Resources/public/js/plugins/bootstrap-select/bootstrap-select.min.js'
        '@FrontEndBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
        '@FrontEndBundle/Resources/public/js/ownership.js'
        filter='?uglifyjs2'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
//            searchdivcont = $('#search-container');
//            searchdiv = $("#search-container").offset().top - $("#top-menu-cont").offset().top;
//            $('#search-container').affix({
//                offset: {
//                    top: function() {
//                        searchdivcont.html = "&nbsp;";
//                        return searchdiv;
//                    }
//                }
//            });
//            searchCont = $('#search-container');
//            topSearch = $("#search-container").offset().top;
//            $('#search-container').affix({
//                offset: {
//                    top: function() {
//                        searchCont.html = "&nbsp;";
//                        return topmenu;
//                    }
//                }
//            });
$('.bs-select').selectpicker({
    iconBase: 'fa',
    tickIcon: 'fa-check'
});
var h=$(window).height()-55-$('.filters-container').height();
var h1=h+$('.filters-container').height();

$('#map').css('height',h1+'px');
$('#div_result').slimScroll({
    height: h+'px',
    start: 'top'
});
        </script>
    {% endblock %}
{% endblock %}
