{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}
{{"SEARCH_RESULTS_PAGE_TITLE" | trans}}
{% endblock %}
{% set main_tab = 5 %}
{% block content_nav_top_body %}
{{"SEARCH_DESCRIPTION_MAIN_MENU" | trans}}
{% endblock %}

{% block body %}
<div  class="container">
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-sm-3">
            {%if view_results != 'MAP'%}
            <div class="thumbnail" id="map" style="width:100%;height:150px;" class="google-maps"></div>
        {%endif%}
            <div  id="json_source" data-url="{{path("frontend_map_markers_ownership")}}"
                 data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}"
                 data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map.png') }}"></div>
            {{ include('frontEndBundle:ownership:verticalSearcherOwnership.html.twig',
            {'is_within_search_results':true, 
             'autocomplete_text_list': autocomplete_text_list,
             'locale': locale})}}
            <div class="filter">            
                <div id="filters" data-url-filter="{{ path('frontend_filter_ownership') }}" data-url-statistics="{{ path('frontend_filter_statistics_ownership') }}">
                {%if check_filters is defined%}
                {{ include('frontEndBundle:ownership:filters.html.twig', 
                {'own_statistics': own_statistics,'check_filters': check_filters}) }} 
                {%else%}
                {{ include('frontEndBundle:ownership:filters.html.twig', 
                {'own_statistics': own_statistics}) }} 
                {%endif%}
                    </div>
                </div>
            
        </div>
        <div class="col-sm-9">
            <button class="btn btn-default"><i class="icon-remove-sign"></i> Penthouse (0)</button>
            <button class="btn btn-default"><i class="icon-remove-sign"></i> Penthouse (0)</button>
            <button class="btn btn-default"><i class="icon-remove-sign"></i> Penthouse (0)</button>
            <button class="btn btn-default"><i class="icon-remove-sign"></i> Penthouse (0)</button>
            <button class="btn btn-default"><i class="icon-remove-sign"></i> Penthouse (0)</button>
            <div class="bg-solid-blue-bar">
                <div class="row">
                    <div class="col-xs-5">
                        <select class="form-control" id="select_change_order" data-url="{{ path('frontend_order_search_results_ownership') }}">
                            <option value="PRICE_LOW_HIGH">{{"PRICE_LOW_HIGH_ORDER_BY" | trans}}</option>
                            <option value="PRICE_HIGH_LOW">{{"PRICE_HIGH_LOW_ORDER_BY" | trans}}</option>
                            <option value="BEST_VALUED">{{"BEST_VALUED_ORDER_BY" | trans}}</option>
                            <option value="WORST_VALUED">{{"WORST_VALUED_ORDER_BY" | trans}}</option>
                            <option value="A_Z">{{"A_Z_ORDER_BY" | trans}}</option>
                            <option value="Z_A">{{"Z_A_ORDER_BY" | trans}}</option>
                        </select>
                    </div>
                    <div class="col-xs-7 text-right">
                        <a href="#" id="change_view_to_list" data-url="{{path('frontend_change_view_ownership')}}" rel="tooltip" data-placement="top" title="{{'LIST_VIEW' | trans}}"><img src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon three-lines2-icon"></a>
                        <a href="#" id="change_view_to_photo" data-url="{{path('frontend_change_view_ownership')}}" rel="tooltip" data-placement="top" title="{{'MOISAIC_VIEW' | trans}}"><img src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon cam-icon"></a>
                        <a href="#" id="change_view_to_map" data-url="{{path('frontend_change_view_ownership')}}" rel="tooltip" data-placement="top" title="{{'MAP_VIEW' | trans}}"><img src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon point-icon"></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="houses-list thumbs-houses" id="div_result">
                    {% render "frontEndBundle:ownership:search_change_view_results" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block include_javascripts %}
<!--script src="{{ global_google_maps_api_url_with_key }}" type="text/javascript"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.infobox.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/jquery.ui.map.markerclusterer.js') }}"></script-->
<script src="{{ asset('bundles/frontend/js/search_ownership.js') }}"></script>    
<link href="{{ asset('bundles/frontend/css/customMap.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% endblock %}