<div class="row result_list ownerships_mosaic">
{% if list | length%}
<div class="row">
    {%set cont=0%}
    {%for ownership in list%}
    {% if cont <3 %}
    <div class="col-sm-4">    
        <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{%if ownership.comments_total > 0%}+{%endif%}{{ownership.comments_total}}&nbsp;&nbsp;&nbsp;">
            <a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | lower | replace(' ','-')}) }}">
                <img alt="{{ ownership.own_name }}" class="lazy" data-src="{{ asset("uploads/ownershipImages/thumbnails/" ~  ownership.photo)}}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
                <noscript><img class="nolazy" src="{{ asset("uploads/ownershipImages/thumbnails/" ~  ownership.photo)}}"></noscript>
            </a>
        </div>
        <a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | lower | replace(' ','-')}) }}">
        <h1 class="h-blue">{{ownership.own_name | title | slice(0, 27)}}{%if ownership.own_name | length > 27%}...{%endif%} 
            <small>({{ownership.prov_name}})</small></h1>
        </a>
        <h5>
            <table>
                <tr>
                    <td>
                        {%if ownership.rating > 0%}
                           {%for i in 1..ownership.rating%}
                                <img class="icon icon-2 tiny-star-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endfor%}
                            {%endif%}

                            {%if ownership.rating < 5%}
                            {%for i in 1..(5-ownership.rating)%}
                                   <img class="icon icon-2 tiny-star-off-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endfor%}
                            {%endif%}
                    </td>
                    <td>
                        {%if ownership.category == "Premium"%}
                        <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-premium-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                        {%else%}
                            {%if (ownership.category | lower) == ("Rango Medio" | lower)%}
                            <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-middle-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%else%}
                                <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-economic-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endif%}
                        {%endif%}
                        {{ include('frontEndBundle:favorite:itemFavorite.html.twig', 
                        {'is_in_favorite': ownership.is_in_favorites,
                         'favorite_type': 'ownership',
                         'element_id':ownership.own_id,
                         'list_preffix' : list_preffix,
                         'include_text': false
                         }) }} 
                    </td>
                </tr>
            </table>
            <h6 class="h-blue h-blue-2">
                 {{"FROM_PRICES" | trans | lower}} {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ownership.minimum_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')) }}
            </h6>
        </h5>
</div>
{% set cont=cont+1 %}
{% else %}
{% set cont=1 %}
</div>
<div class="row">
  <div class="col-sm-4">    
        <div class="thumbnail has-ribbon has-ribbon-right" data-text="&nbsp;&nbsp;&nbsp;{%if ownership.comments_total > 0%}+{%endif%}{{ownership.comments_total}}&nbsp;&nbsp;&nbsp;">
            <a href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | lower | replace(' ','-')}) }}">
                <img src="{{ asset("uploads/ownershipImages/thumbnails/" ~ ownership.photo)}}">
            </a>
        </div>
        <a href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | lower | replace(' ','-')}) }}">
        <h1 class="h-blue">{{ownership.own_name | title | slice(0, 27)}}{%if ownership.own_name | length > 27%}...{%endif%} 
            <small>({{ownership.prov_name}})</small></h1>
        </a>
        <h5>
            <table>
                <tr>
                    <td>
                        {%if ownership.rating > 0%}
                           {%for i in 1..ownership.rating%}
                                <img class="icon icon-2 tiny-star-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endfor%}
                            {%endif%}

                            {%if ownership.rating < 5%}
                            {%for i in 1..(5-ownership.rating)%}
                                   <img class="icon icon-2 tiny-star-off-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endfor%}
                            {%endif%}
                    </td>
                    <td>
                        {%if ownership.category == "Premium"%}
                        <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-premium-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                        {%else%}
                            {%if (ownership.category | lower) == ("Rango Medio" | lower)%}
                            <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-middle-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%else%}
                                <img rel="tooltip" title="{{ownership.category | trans}}" class="icon icon-3 tiny-economic-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                            {%endif%}
                        {%endif%}
                        {{ include('frontEndBundle:favorite:itemFavorite.html.twig', 
                        {'is_in_favorite': ownership.is_in_favorites,
                         'favorite_type': 'ownership',
                         'element_id':ownership.own_id,
                         'list_preffix' : list_preffix,
                         'include_text': false
                         }) }} 
                    </td>
                </tr>
            </table>
            <h6 class="h-blue h-blue-2">
                 {{"FROM_PRICES" | trans | lower}} {{app.session.get('curr_symbol') == null ? "$" : app.session.get('curr_symbol')}}{{ownership.minimum_price * (app.session.get('curr_rate') == null ? 1 : app.session.get('curr_rate')) }}
            </h6>
        </h5>
</div>
            {% endif %}
    {%else%}
         <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
     {%endfor%}
     </div>
     {%if (show_paginator is defined and show_paginator) and list | length and total_items > items_per_page%}
        <div class="text-center">
        {{ simple_paginator_render('frontend_search_ownership',null,{
        'container_class': 'pagination',
        'previousPageText': '«',
        'nextPageText': '»',
        'currentClass': 'current',
        'firstPageText': 'FIRST_PAGE' | trans,
        'lastPageText': 'LAST_PAGE' | trans,
        'route_params': {'text': app.session.get('search_text'), 
                        'arrival':app.session.get('search_arrival_date'), 
                        'departure': app.session.get('search_departure_date'), 
                        'guests': app.session.get('search_guests'),
                        'rooms': app.session.get('search_rooms')}
    }) }}
            </div>
    {%endif%}
        {%else%}
        <div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{% endif %}

    </div>
 <script src="{{ asset('bundles/frontend/js/jail.min.js') }}"></script>
<script type="text/javascript">
        $(function(){
            $('img.lazy').jail();
        });
</script>           
            
    

           