{% set service_breakfast_included = false %}
{% if check_filters['own_others_included'] is defined %}
    {% for service in check_filters['own_others_included'] %}
        {% if service == "BREAKFAST_INCLUDED" %}
            {% set service_breakfast_included = true %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="filters-container">
    <div class="row-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-1"><input {% if isDestination is defined and isDestination == true %}disabled{% endif %} type="text" class="form-control gtm-input-text"
                                             {% if app.session.get('search_text') != null and app.session.get('search_text') != 'null' %}value="{{ app.session.get('search_text') }}"{% endif %}
                                             placeholder="{{ "PLACE_WATERMARK" | trans }}" id="input_text"
                                             autocomplete="off" data-highlighter="null" data-items="5"
                                             data-provide="typeahead"/></div>
            <div class="col-lg-2 col-md-6 mb-1">
                <div rel="tooltip" title="{{ 'ARRIVAL_WATERMARK' | trans }}" class="input-group" style="padding: 0">
                    <input class="form-control" type="text"
                           value="{{ (isDateTime(app.session.get('search_arrival_date')) ) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now" |date("d/m/Y")) }}"
                           placeholder="{{ "ARRIVAL_WATERMARK" | trans }}" id="input_arrival_date"
                           data-localization='{{ locale }}'>
                    <span class="input-group-addon show_calendar"><span class="icon-calendar"></span></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-1">
                <div rel="tooltip" title="{{ 'DEPARTURE_WATERMARK' | trans }}" class="input-group" style="padding: 0">
                    <input class="form-control" type="text"
                           value="{{ (isDateTime(app.session.get('search_departure_date')) ) ? (app.session.get('search_departure_date')|date("d/m/Y")) : ("+2 days" |date("d/m/Y")) }}"
                           placeholder="{{ "DEPARTURE_WATERMARK" | trans }}" id="input_departure_date"
                           data-localization='{{ locale }}'>
                    <span class="input-group-addon show_calendar"><span class="icon-calendar"></span></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-1"><select class="form-control bs-select" id="input_guests">
                    <option value="1" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "1" %} selected {% endif %}>{{ "GUEST_WATERMARK" | trans }}</option>
                    <option value="2" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "2" %} selected {% endif %}>
                        2 {{ "GUESTS" | trans }}</option>
                    <option value="3" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "3" %} selected {% endif %}>
                        3 {{ "GUESTS" | trans }}</option>
                    <option value="4" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "4" %} selected {% endif %}>
                        4 {{ "GUESTS" | trans }}</option>
                    <option value="5" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "5" %} selected {% endif %}>
                        5 {{ "GUESTS" | trans }}</option>
                    <option value="6" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "6" %} selected {% endif %}>
                        6 {{ "GUESTS" | trans }}</option>
                    <option value="7" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "7" %} selected {% endif %}>
                        7 {{ "GUESTS" | trans }}</option>
                    <option value="8" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "8" %} selected {% endif %}>
                        8 {{ "GUESTS" | trans }}</option>
                    <option value="9" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "9" %} selected {% endif %}>
                        9 {{ "GUESTS" | trans }}</option>
                    <option value="10" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "10" %} selected {% endif %}>
                        10 {{ "GUESTS" | trans }}</option>
                    <option value="+10" {% if app.session.get('search_guests') != null and app.session.get('search_guests') == "+10" %} selected {% endif %}>
                        +10 {{ "GUESTS" | trans }}</option>
                </select></div>
            <div class="col-lg-2 col-md-6 mb-1"><select class="form-control bs-select" id="input_room">
                    <option value="1" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "1" %} selected {% endif %}>{{ "ROOM_WATERMARK" | trans }}</option>
                    <option value="2" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "2" %} selected {% endif %}>
                        2 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                    <option value="3" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "3" %} selected {% endif %}>
                        3 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                    <option value="4" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "4" %} selected {% endif %}>
                        4 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                    <option value="5" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "5" %} selected {% endif %}>
                        5 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                    <option value="+5" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "+5" %} selected {% endif %}>
                        +5 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                </select></div>
            <div class="col-lg-1 col-md-6 mb-1 pull-right">
                {% if is_within_search_results %}
                    <button style="margin: 0;padding: 2px 15px;" id="button_research" class="btn btn-primary btn-large pull-right"
                            data-url="{{ path('frontend_research_ownership_callback') }}">{{ "SEARCH" | trans|capitalize }}</button>
                {% else %}
                    <button style="margin: 0;padding: 2px 15px;" id="btn_search" class="btn btn-primary btn-large pull-right"
                            data-url="{{ path('frontend_search_ownership',{'text':'_text', 'arrival':'_arrival','departure':'_departure','guests':'_guests','rooms':'_rooms','order_price':'_order_price', 'order_comments':'_order_comments', 'order_books':'_order_books' }) }}"
                            onclick="search()">{{ "SEARCH" | trans|capitalize }}</button>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="row-fluid text-center">
    <div class="row">
        <div class="col">
            <div class="checkbox" style="margin: 0">
                <label>
                    <input class="form-check-input action_remove_filter_up" type="checkbox" id="own_inmediate_booking2"
                           name="own_inmediate_booking2" {% if app.session.get('inmediate') != null and app.session.get('inmediate') == "1" %} checked="checked"{% endif %}
                           data-aux-text="{{ "IMMEDIATE_BOOKING" | trans }}"
                           data-aux-text="{{ "IMMEDIATE_BOOKING" | trans }}"/>{{ 'IMMEDIATE_BOOKING'|trans }}
                </label>
            </div>
        </div>
        <div class="col">
            <div class="checkbox" style="margin: 0">
                <label>
                    <input class="form-check-input action_remove_filter_up" type="checkbox" name="others_included"
                           id="breakfast_included"
                           value="BREAKFAST_INCLUDED" {% if service_breakfast_included %} checked="checked" {% endif %} {% if not( own_statistics['own_services_breakfast_include'] > 0 or service_breakfast_included ) %} disabled="disabled" {% endif %}/>{{ "INCLUDE_BREAKFAST" | trans }}
                </label>
                <span class="tag">{{ "NEW" | trans }}</span>
            </div>
        </div>
        <div class="col">
            <div class="checkbox" style="margin: 0">
                <label>
                    <input class="form-check-input action_remove_filter_up" type="checkbox" id="own_update_avaliable"
                           name="own_update_avaliable" {% if check_filters is defined and check_filters['own_update_avaliable'] is defined and check_filters['own_update_avaliable'] %} checked="checked"{% endif %}
                           data-aux-text="{{ "Calendario Actualizado" | trans }}"
                           data-aux-text="{{ "Calendario Actualizado" | trans }}"/>{{ "Calendario Actualizado" | trans }}
                </label>
            </div>
        </div>
        <div class="col-sm-2" style="margin: 0">
            <select class="form-control custom-select d-block w-100" id="select_change_order"
                    data-url="{{ path('frontend_order_search_results_ownership_callback') }}">
                {{ render(controller('mycpBundle:BackendUtils:orderBy', {'sortBy': app.session.get("search_order"), 'elementToOrder': constant('\\MyCp\\mycpBundle\\Helpers\\ElementToOrder::SEARCHER'), 'doTranlations': true})) }}
            </select>
        </div>
    </div>
    </div>

    <div class="d-none row">
        <div class="col-sm-12 text-center">
            <a id="more_filters" class="collapsed" data-toggle="collapse" href="#collapseFilters"
               style="margin-right: 10px;">{{ 'MORE_FILTERS'|trans }}</a>
        </div>
    </div>

</div>


<script type="text/javascript">
    var today_date = "{{ "now"|date("d/m/Y") }}";
    var start_date = "{{ (isDateTime(app.session.get('search_arrival_date')) ) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
    var end_date = "{{ (isDateTime(app.session.get('search_departure_date')) ) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y") }}";

    var url_autocomplete = "{{ path('frontend_autocompletetext_callback') }}";
</script>