<div class="overlay overlay-slidedown m-t-lg">
    <button type="button" class="fa fa-times btn-clouseOverlayBlack"></button>
    <div class="middle-box text-center loginscreen animated fadeInDown" style="margin-top: 100px">
        <div class="loginscreen text-center animated fadeInDown">
            <div class="row text-left">
                <div class="col-md-12">
                    <span style="font-size: 24px;color: #232222" class="MyriadProRegular">{{ 'label.change.password' | trans }}</span>
                </div>
            </div>
            <div class="row">
                <form novalidate class="form-horizontal change-password-form" action="{{ path('partnet_dashboard_changepassword_agency') }}" method="post">
                    <div class="row m-t-md">
                        <div class="col-md-12">
                            <input placeholder="{{ 'label.old.password' | trans }}" type="password" class="form-control required valid" name="old-password" id="old-password" aria-required="true" aria-invalid="false">
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-md-12">
                            <input placeholder="{{ 'label.new.password' | trans }}" type="password" class="form-control required valid" name="password" id="password" aria-required="true" aria-invalid="false">
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-md-12">
                            <input placeholder="{{ 'label.new.password.repeat' | trans }}" type="password" class="form-control required error" name="confirm" id="confirm" aria-required="true" aria-invalid="true">
                        </div>
                    </div>
                    <button class="btnChangePass" type="submit">{{"label.btn.accept" | trans}}</button>
                </form>
            </div>

        </div>
    </div>
</div>