{% extends 'mycpBundle:layout:base.html.twig' %}


{% block body %}
{% for message in app.session.flashbag.get('message_ok') %}
<div class="alert alert-info">{{ message }}</div>
{% endfor %}
{% for message in app.session.flashbag.get('message_error_main') %}
<div class="alert alert-error">{{ message }}</div>
{% endfor %}
<div class="row-fluid">
<div class="span3">
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Contenidos
                </a>
            </div>
            {% set temp = app.request.attributes.get('_controller')|split("\\")[3] %}
            {% set temp = temp|split("::")[0] %}
            <div id="collapseOne" class="accordion-body collapse {%if  temp == 'BackendMetaController' or temp == 'BackendGeneralInformationController' or temp == 'BackendCommentController' or temp == 'BackendDestinationController' or temp == 'BackendAlbumController' or temp == 'BackendFAQSController' or temp == 'BackendOwnershipController' or temp == 'BackendUnavailabilityDetailsController' %}in{%endif%}">
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_metatags') }}"><i class="icon-search"></i> Meta Tags</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_destination') }}"><i class="icon-briefcase"></i> Destinos</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_ownerships') }}"><i class="icon-home"></i> Propiedades</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_unavailabilityDetails') }}"><i class="icon-file"></i> Disponibilidad</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_albums') }}"><i class="icon-picture"></i> Álbumes</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_faqs') }}"><i class="icon-question-sign"></i> Preguntas frecuentes</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_informations') }}"><i class="icon-th-list"></i> Informaciónes Generales</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_comments') }}"><i class="icon-bullhorn"></i> Comentarios</a>
                </div>

            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Reservaciones
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse {%if temp == 'BackendReservationController'%}in{%endif%}">
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_reservations') }}"><i class="icon-tags"></i> Reservas</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_faqs') }}"><i class="icon-file"></i> Informes</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_albums') }}"><i class="icon-star"></i> Clientes</a>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    Generales
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse {%if  temp == 'BackendCurrencyController' or temp == 'BackendLanguageController' or temp == 'BackendLogController' or temp == 'BackendUserController'%}in{%endif%}">
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_users') }}"><i class="icon-user"></i> Usuarios</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_logs') }}"><i class="icon-list-alt"></i> Logs</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_currencies') }}"><i class="icon-shopping-cart"></i> Monedas</a>
                </div>
                <div class="accordion-inner">
                    <a href="{{ path('mycp_list_languages') }}"><i class="icon-globe"></i> Idiomas</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="span9">
    {% block content %}
    {% endblock %}
</div>
</div>

{% endblock %}
