{% set current_ranking = ranking["ranking"][1]["current_rank"] %}
{% set current_statistic = ranking["ranking"][0]["current_statistic"] %}

{#{% if beforeranking | length > 0 %}#}
    {#{% set before_ranking = beforeranking["ranking"][0]["current_rank"] %}#}
{#{% endif %}#}

{% if current_ranking is not null %}

    {% if ranking["upPosition"] | length > 0 %}
        {% set up_current_ranking = ranking["upPosition"][0]["current_rank"] %}
        {% set how_move_up_current_ranking = ranking["upPosition"][1]["up_down"] %}
    {% endif %}

    {% if ranking["downPosition"] | length > 0 %}
        {% set down_current_ranking = ranking["downPosition"][0]["current_rank"] %}
        {% set how_move_down_current_ranking = ranking["downPosition"][1]["up_down"] %}
    {% endif %}

    {% if ranking["upDestinationPosition"] | length > 0 %}
        {% set up_destination_ranking = ranking["upDestinationPosition"][0]["current_rank"] %}
        {% set how_move_up_destination_ranking = ranking["upDestinationPosition"][1]["up_down_destination"] %}
    {% endif %}

    {% if ranking["downDestinationPosition"] | length > 0 %}
        {% set down_destination_ranking = ranking["downDestinationPosition"][0]["current_rank"] %}
        {% set how_move_down_destination_ranking = ranking["downDestinationPosition"][1]["up_down_destination"] %}
    {% endif %}


    {% set how_move_current_destination_rankig = ranking["ranking"][2]["up_down_destination"] %}
    {% set how_move_current_rankig = ranking["ranking"][2]["up_down"] %}



{% set max_point_ranking = 525 %}
{% set bronce = 50 %}
{% set plata = 140 %}
{% set oro = 360 %}

{% set positionBronce = bronce * 100 / max_point_ranking %}
{% set positionPlata = plata * 100 / max_point_ranking %}
{% set positionOro = oro * 100 / max_point_ranking %}
{% set current_position = current_ranking.ranking * 100 / max_point_ranking %}


<div class="col-md-12">

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img width="50" src="{{ asset('bundles/mycpcasamodule/img/1imagen.png') }}">
                    <span class="font-blue" style="font-size: 22px; margin-left: 10px;">Puntos en el Ranking</span>
                </div>
                <div class="col-md-12 graph-premiun">
                    <div class="row">
                        <div class="col-sm-1"><span class="font-blue">0</span></div>
                        <div class="col-sm-9 graph-bar-content">
                            <div style="left: {{ positionBronce }}%" class="graph-marker bronce"><img width="30"
                                                                                                      src="{{ asset('bundles/mycpcasamodule/img/bronce50.png') }}">
                            </div>
                            <div style="left: {{ positionPlata }}%" class="graph-marker plata"><img width="35"
                                                                                                    src="{{ asset('bundles/mycpcasamodule/img/plata140.png') }}">
                            </div>
                            <div style="left: {{ positionOro }}%" class="graph-marker oro"><img width="40"
                                                                                                src="{{ asset('bundles/mycpcasamodule/img/oro460.png') }}">
                            </div>
                            <div class="graph-bar"></div>
                            <div style="left: {{ current_position }}%" class="graph-current-marker"><span
                                        class="font-blue">{{ current_ranking.ranking }}</span>
                            </div>
                        </div>
                        <div class="col-sm-1"><span class="font-blue">{{ max_point_ranking }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 m-t-40">
            <div class="col-sm-12 m-t-30">
                <div class="row">
                    {% if current_ranking.ranking < bronce %}
                        <div class="col-sm-12 text-center">
                                            <span style="font-size: 45px; font-weight: bold; color: #c8c8c8;"
                                                  class="font-blue">AMATEUR</span>
                        </div>
                    {% else %}
                        <div class="col-sm-12 text-center p-0">
                            <div class="col-sm-5">
                                {% if current_ranking.ranking >= oro %}
                                    <img class="trofeo-oro" width="100%"
                                         src="{{ asset('bundles/mycpcasamodule/img/trofeooro.png') }}">
                                {% elseif current_ranking.ranking >= plata and current_ranking.ranking < oro %}
                                    <img class="trofeo-plata" width="100%"
                                         src="{{ asset('bundles/mycpcasamodule/img/trofeoplata.png') }}">
                                {% elseif current_ranking.ranking >= bronce and current_ranking.ranking < plata %}
                                    <img class="trofeo-bronce" width="100%"
                                         src="{{ asset('bundles/mycpcasamodule/img/trofeobronce.png') }}">
                                {% endif %}
                            </div>
                            <div class="col-sm-7 m-t-10">
                                {% if current_ranking.ranking >= oro %}
                                    <span class="font-blue" style="font-size: 45px; font-weight: bold; color: #d0a41e;">ORO</span>
                                {% elseif current_ranking.ranking >= plata and current_ranking.ranking < oro %}
                                    <span style="font-size: 45px; font-weight: bold; color: #c8c8c8;" class="font-blue">PLATA</span>
                                {% elseif current_ranking.ranking >= bronce and current_ranking.ranking < plata %}
                                    <span style="font-size: 45px; font-weight: bold; color: #b57940;" class="font-blue">BRONCE</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12">
                    <img width="50"
                         src="{{ asset('bundles/mycpcasamodule/img/2imagenstats.png') }}"> <span
                            class="font-blue step-span "
                            style="font-size: 19px;font-variant-caps: petite-caps">Lugar en <b
                                style="color: green;font-weight: bold">My</b><b>CasaParticular</b></span>
                </div>
                <div class="col-sm-12">
                    <ul class="ranking-mycp">
                        <li>
                                {% if up_current_ranking is defined %}
                                    {% if how_move_up_current_ranking == "subio" %}
                                        <i class="glyphicons up_arrow"></i>
                                    {% elseif how_move_up_current_ranking == "mantuvo" %}
                                        <i class="fa fa-minus"></i>
                                    {% else %}
                                        <i class="glyphicons down_arrow"></i>
                                    {% endif %}
                                    <span>{{ up_current_ranking.place }}</span>
                                    <span> {{ up_current_ranking.accommodation.getOwnName | replace("Casa Particular en","") }}</span>
                                {% endif %}
                        </li>
                        <li class="current">
                            {% if how_move_current_rankig == "subio" %}
                                <i class="glyphicons up_arrow"></i>
                            {% elseif how_move_current_rankig == "mantuvo" %}
                                <i class="fa fa-minus"></i>
                            {% else %}
                                <i class="glyphicons down_arrow"></i>
                            {% endif %}
                            <span>{{ current_ranking.place }}</span>
                            <span> {{ current_ranking.accommodation.getOwnName | replace("Casa Particular en","") }}</span>
                        </li>

                            <li>
                                {% if down_current_ranking is defined %}
                                    {% if how_move_down_current_ranking == "subio" %}
                                        <i class="glyphicons up_arrow"></i>
                                    {% elseif how_move_down_current_ranking == "mantuvo" %}
                                        <i class="fa fa-minus"></i>
                                    {% else %}
                                        <i class="glyphicons down_arrow"></i>
                                    {% endif %}
                                    <span>{{ down_current_ranking.place }}</span>
                                    <span> {{ down_current_ranking.accommodation.getOwnName | replace("Casa Particular en","") }}</span>
                                {% endif %}
                            </li>

                    </ul>
                </div>
                <div class="col-sm-12">
                    <span style="display: block; margin: 0px 10px; text-align: center; color: rgb(255, 255, 255); background: rgb(149, 149, 149) none repeat scroll 0px 0px; font-size: 18px;">de {{ totalOwnerShipActive }} Casas</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12">
                    <img width="50" src="{{ asset('bundles/mycpcasamodule/img/3imagen.png') }}">
                    <span class="font-blue step-span "
                          style="font-size: 20px;font-variant-caps: petite-caps">Lugar en {{ ownership.getOwnDestination.getDesName }}</span>
                </div>
                <div class="col-sm-12">
                    <ul class="ranking-mycp inprovince">
                            <li>
                                {% if up_destination_ranking is defined %}

                                {% if how_move_up_destination_ranking == "subio" %}
                                    <i class="glyphicons up_arrow"></i>
                                {% elseif how_move_up_destination_ranking == "mantuvo" %}
                                    <i class="fa fa-minus"></i>
                                {% else %}
                                    <i class="glyphicons down_arrow"></i>
                                {% endif %}
                                <span>{{ up_destination_ranking.destinationPlace }}</span>
                                <span> {{ up_destination_ranking.accommodation.getOwnName }}</span>
                                {% endif %}

                            </li>
                        <li class="current">
                            {% if how_move_current_destination_rankig == "subio" %}
                                <i class="glyphicons up_arrow"></i>
                            {% elseif how_move_current_destination_rankig == "mantuvo" %}
                                <i class="fa fa-minus"></i>
                            {% else %}
                                <i class="glyphicons down_arrow"></i>
                            {% endif %}
                            <span>{{ current_ranking.destinationPlace }}</span>
                            <span> {{ current_ranking.accommodation.getOwnName }}</span>
                        </li>
                            <li>
                                {% if down_destination_ranking is defined %}

                                {% if how_move_down_destination_ranking == "subio" %}
                                    <i class="glyphicons up_arrow"></i>
                                {% elseif how_move_down_destination_ranking == "mantuvo" %}
                                    <i class="fa fa-minus"></i>
                                {% else %}
                                    <i class="glyphicons down_arrow"></i>
                                {% endif %}
                                <span>{{ down_destination_ranking.destinationPlace }}</span>
                                <span> {{ down_destination_ranking.accommodation.getOwnName }}</span>
                                {% endif %}

                            </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <span style="display: block; margin: 0px 10px; text-align: center; color: rgb(255, 255, 255); background: rgb(149, 149, 149) none repeat scroll 0px 0px; font-size: 18px;">de {{ totalOwnerShipByDestination }} Casas</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="col-sm-12">
        <p>No hay Información para este mes.</p>
    </div>
{% endif %}
<div class="col-sm-12 m-t-30">
    <div class="col-sm-6">
        <div class="row">
            {% if current_statistic.totalAvailableRooms is not null  %}
                <div class="col-sm-12">

                    {% set total_reserved = current_statistic.totalAvailableRooms + current_statistic.totalNonAvailableRooms %}
                    {% set nonavaliable_percent = current_statistic.totalNonAvailableRooms * 100 / total_reserved %}
                    {% set avaliable_percent = current_statistic.totalAvailableRooms * 100 / total_reserved %}

                    <span style="font-size: 20px;">Total de solicitudes: <b>{{ total_reserved }}</b></span>
                </div>
                <div class="col-sm-12 m-t-20">
                    <div class="flot-chart">
                        <div data-nonavaliable-percent="{{ nonavaliable_percent }}" data-avaliable-percent="{{ avaliable_percent }}" class="flot-chart-pie-content" id="flot-pie-chart"></div>
                    </div>
                </div>
                <div class="col-sm-12 m-t-20">
                    <div class="row">
                        <div class="col-sm-6">
                                        <span class="font-green">
                                            <b>{{ current_statistic.totalAvailableRooms is null ? 0 : current_statistic.totalAvailableRooms }}</b> Disponibles
                                        <br>
                                            A recibir <b>{{ current_statistic.getTotalAvailableFacturation is null ? 0 : current_statistic.getTotalAvailableFacturation }} CUC</b>
                                    </span>
                        </div>
                        <div class="col-sm-6 p-0">
                                        <span class="font-blue">
                                            <b>{{ current_statistic.totalNonAvailableRooms is null ? 0 : current_statistic.totalNonAvailableRooms }}</b> No Disponibles
                                            <br>
                                            Dejo de recibir <b>{{ current_statistic.getTotalNonAvailableFacturation is null ? 0 : current_statistic.getTotalNonAvailableFacturation }} CUC</b>
                                        </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12">
                <img style="margin-right: 10px;" width="35"
                     src="{{ asset('bundles/mycpcasamodule/img/8imagengalax.png') }}"> <span
                        class="font-blue step-span "
                        style="font-size: 17px;font-variant-caps: petite-caps">Visitas a su alojamiento: <b>{{  current_statistic.getVisits is null ? 0 : current_statistic.getVisits }}</b></span>
            </div>
            <div class="col-md-12">
                <img style="margin-right: 10px;" width="35"
                     src="{{ asset('bundles/mycpcasamodule/img/6imagenpuerta.png') }}"> <span
                        class="font-green step-span "
                        style="font-size: 17px;font-variant-caps: petite-caps">Total de reservas: <b>{{ current_statistic.totalReservedRooms is null ? 0 : current_statistic.totalReservedRooms }}</b></span>
            </div>
            <div class="col-md-12">
                <i class="glyphicons coins"
                   style="color: rgb(149, 149, 149); margin: 0px 11px;"></i> <span
                        class="font-green step-span "
                        style="font-size: 17px;font-variant-caps: petite-caps">A recibir: <b>{{ current_statistic.totalFacturation is null ? 0 : current_statistic.totalFacturation }}</b></span>
            </div>
            <div class="col-md-12">
                <img style="margin: 6px;" width="35"
                     src="{{ asset('bundles/mycpcasamodule/img/7imagemoney.png') }}"> <span
                        class="font-blue step-span "
                        style="font-size: 17px;font-variant-caps: petite-caps">Facturado por alojamiento:</span>
            </div>
            <div class="col-md-12">
                <div class="col-sm-6">
                    {% if current_ranking is not null %}
                        <div class="col-sm-12 text-center facturated blue">
                            <i class="glyphicons calendar"></i>
                            <span class="mes">{{ current_ranking.startDate | localizeddate('none', 'none', "es", null, "MMMM") | capitalize }}</span>
                            <span class="number">{{ current_ranking.currentMonthFacturation }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12 text-center facturated green">
                        <i class="glyphicons calendar"></i>
                        <span class="mes">{{ current_statistic.startDate | localizeddate('none', 'none', "es", null, "MMMM") | capitalize }}</span>
                        <span class="number">{{ current_statistic.currentMonthFacturation is null ? 0 : current_statistic.currentMonthFacturation }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 m-t-20"></div>