{% extends 'MyCpCasaModuleBundle::layout_clean.html.twig' %}
    {% block stylesheets %}
        {% stylesheets
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/iCheck/custom.css'
        filter='?uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>

            #terms-error {
                margin-top: 2px;
                min-width: 230px;
            }
            .control-label{
                font-size: 18px;
            }
        </style>
    {% endblock %}
{% block alerts %}{% endblock %}
{% block content %}
    <div class="middle-box text-center animated fadeInDown">
        <div>
            <img src="{{ asset('img/mycp.png') }}">
        </div>
        <h2 class="font-blue">Bienvenido!</h2>
        {% if error is defined and error is not null %}
            <div class="alert alert-error">{{ error.message | trans }}</div>
        {% endif %}
        <form class="form-horizontal" method="POST" action="{{ path('frontend_userCasa_activateAccount',{'token':secret_token}) }}" enctype="multipart/form-data" novalidate="true">
        <div class="bg-gray m-t-20">
            {{ form_widget(form)}}
            </div>
            <div class="col-md-12 m-t-20 m-b-20">

            </div>
            <button type="submit" class="btn btn-success m-b-40">Autenticarse</button>
        </form>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@FrontEndBundle/Resources/public/js/jquery-validation/jquery.validate.min.js'
    '@MyCpCasaModuleBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/localization/messages_'~app.request.locale~'.js') }}"></script>
    <script type="text/javascript">
        $(document).on('ready', function(){
            $('.i-checks').iCheck({
//             checkboxClass: 'icheckbox_square-green',
                checkboxClass: 'iradio_square-green',
                radioClass: 'iradio_square-green'
            });
        });
    </script>
{% endblock %}