{% extends 'MyCpCasaModuleBundle::layout_clean.html.twig' %}
    {% block stylesheets %}
        {% stylesheets
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/iCheck/custom.css'
        filter='?uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>

            #terms-error {
                margin-top: 2px;
                min-width: 230px;
            }
        </style>
    {% endblock %}
{% block alerts %}{% endblock %}
{% block content %}
   <div class="middle-box text-center animated fadeInDown">
      <div>
         <img src="{{ asset('img/mycp.png') }}">
      </div>
      <h2 class="font-blue">¡Bienvenido!</h2>
      <h3 class="font-blue">Registre su propiedad. Verá que fácil es!</h3>
       {% for message in app.session.flashbag.get('message_ok') %}
           <div class="alert alert-info alert-dismissable">
               <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
               {{ message }}</div>
       {% endfor %}
       {% for message in app.session.flashbag.get('message_error') %}
           <div class="alert alert-danger alert-dismissable">
               <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
               {{ message }}</div>
       {% endfor %}
       {% if error is defined and error is not null %}
           <div class="alert alert-danger alert-dismissable">
               <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>{{ error.message | trans }}</div>
       {% endif %}
       <form role="form" action="{{ path('my_cp_casa_module_registration') }}" method="post" id="registerOwn">
       <div class="bg-gray m-t-20">

            <div class="form-group row"><div class="col-sm-12"><label>Nombre de la casa</label></div>
           <div class="col-xs-1"><i class="glyphicons home form-icon"></i> </div><div class="col-xs-11"> <input type="text" name="own_name" required minlength="6" class="form-control" placeholder="Nombre de la casa"></div></div>
           <div class="form-group row"><div class="col-sm-12"><label>Número de la licencia</label></div>
               <div class="col-xs-1"><i class="glyphicons nameplate form-icon"></i> </div><div class="col-xs-11"> <input type="text" name="own_license_number" required minlength="3" class="form-control" placeholder="Número de la licencia"></div></div>
            <div class="row">
                <div class="col-sm-7">
            <div class="form-group row">
                <div class="col-sm-12"><label>Provincia</label></div>
                <div class="col-xs-1"><i class="glyphicons google_maps form-icon"></i> </div><div class="col-sm-10 col-xs-11">
                    <select required class="form-control" name="own_province" id="own_province">
                       {{ render(controller('mycpBundle:Public:get_provinces', {'post': {'ownership_address_province':''}})) }}
                    </select> </div></div>
           </div>
                <div class="col-sm-5" style="padding-left: 0;">
                    <div class="form-group"><label>Municipio</label>
                        <select required class="form-control" name="own_municipality" id="own_municipality">
                            {{ render(controller('mycpBundle:Public:get_mun', {'post': {'ownership_address_municipality':''}})) }}
                        </select> </div>     </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-12">  <label>Nombre del propietario principal</label> </div>
                <div class="col-xs-1"><i class="glyphicons user form-icon"></i> </div><div class="col-xs-11">
                    <input type="text" required name="own_homeowner_1" {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}value="{{ app.user.userUserName~' '~app.user.userLastName }}" {% endif %} class="form-control" placeholder="Nombre del propietario principal"></div></div>
            <div class="form-group row">
                <div class="col-sm-12"> <label>Correo principal</label> </div>
                <div class="col-xs-1"><i class="glyphicons envelope form-icon"></i> </div><div class="col-xs-11">
                <input type="email" {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}value="{{ app.user.userEmail }}" {% endif %}required name="own_email_1" class="form-control" placeholder="Correo principal"></div>
                </div>
            <div class="form-group row">
                <div class="col-sm-12"><label>Teléfono</label></div>
                <div class="col-xs-1"><i class="glyphicons phone_alt form-icon"></i> </div><div class="col-xs-11">
                <input type="text" name="own_phone" required minlength="6"  class="form-control" placeholder="Teléfono"></div>
                </div>


      </div>
      <div class="bg-yellow m-t-30">
          <h3>La inscripción de su propiedad tiene un costo de 30 CUC</h3>
          <h3>Por favor revise nuestros</h3>
          <h3 class="font-blue">Términos y condiciones de uso</h3>
          {#<i class="fa fa-check-circle register-check"></i>#}
          <div class="form-group row">
          <label> <input type="checkbox" name="terms" required value="accepted" class="i-checks">
              <div class="col-md-12"><h3>Acepte para continuar</h3></div>
          </label>
          </div>

      </div>
       <button class="btn btn-primary dim m-t-30 m-b-30" type="submit">Registrarse</button>
       </form>
   </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@FrontEndBundle/Resources/public/js/jquery-validation/jquery.validate.min.js'
    '@MyCpCasaModuleBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
     filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/localization/messages_es.js') }}"></script>
    <script type="text/javascript">
     $(document).on('ready', function(){
         $('.i-checks').iCheck({
//             checkboxClass: 'icheckbox_square-green',
             checkboxClass: 'iradio_square-green',
             radioClass: 'iradio_square-green'
         });
         url = "{{ path('mycp_get_mun_by_prov', { 'country_code': '-1' }) }}";
         url=url.replace('/-1','');
         $('#own_province').change(function(){
             code = $('#own_province').val();
             if(code!='')
             {
                 $('#own_municipality').html('<option value="">Cargando...</option>');


                 $.ajax({
                     type:"POST",
                     url:url + '/' + code,
                     success:function (msg) {

                         $('#own_municipality').html(msg);
                     }
                 });
             }
         });
         $("#registerOwn").validate({
             submitHandler: function(form) {
                 form.submit();
             },
             ignore: "",
             errorElement: 'span', //default input error message container
             errorClass: 'help-block', // default input error message class
             focusInvalid: false // do not focus the last invalid input
             ,
             invalidHandler: function(event, validator) { //display error alert on form submit

             },
             rules: {
//                 'mycp_frontendbundle_change_password_usertype[user_password][Clave]':{
//                     required: true,
//                     minlength: 6
//                 },
//                 'mycp_frontendbundle_change_password_usertype[user_password][Repetir]': {
//                     equalTo: "#mycp_frontendbundle_change_password_usertype_user_password_Clave"
//                 }
             },


             highlight: function(element) { // hightlight error inputs
                 $(element)
                         .closest('.form-group').addClass('has-error'); // set error class to the control group
             },

             success: function(label) {
                 label.closest('.form-group').removeClass('has-error');
                 label.remove();
             }
         });

     })
    </script>
{% endblock %}
{##{% block javascripts %}#}
    {#{{ parent() }}#}
{#<script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/jquery.validate.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/localization/messages_'~app.request.locale~'.js') }}"></script>#}
{#{% endblock %}}#}