{% spaceless %}
{% set lang_code=app.session.get('app_lang_code')|lower %}
<!DOCTYPE html>
<html id="top" {{ get_lang(lang_code)|raw }}>
<head>
    <title>{% block title %}{{"WELCOMEPAGE_TITLE" | trans }}{% endblock %} - MyCasaParticular</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="google" content="notranslate" />
    {% block metas %}
    {{ get_metas('Main', lang_code)|raw }}
    {% endblock metas %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    {% stylesheets
     '@MyCpMobileFrontendBundle/Resources/public/css/material-icons.css'
    '@MyCpMobileFrontendBundle/Resources/public/css/material-kit.css'
    '@MyCpMobileFrontendBundle/Resources/public/css/mycp.css'
    '@LayoutBundle/Resources/public/css/plugins/sweetalert/sweetalert.css'
    '@LayoutBundle/Resources/public/css/plugins/holdon/HoldOn.min.css'

    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block include_css %}{% endblock %}



</head>
<body class="profile-page">
{% include 'MyCpMobileFrontendBundle:menus:navbar.html.twig' %}
<div class="page-header " data-parallax="true" style="background-color: #f4941c; height:71px;">


</div>
{% if app.user.getUserUserName is defined %}
{{ render(controller('MyCpMobileFrontendBundle:Mobile:countCestaItems')) }}
{% endif %}
{% block content %}
{# COntenido#}
{% endblock %}
{{ render(controller('MyCpMobileFrontendBundle:Search:overlaySearchBar')) }}

{% include 'MyCpMobileFrontendBundle:menus:footer.html.twig' %}



{% javascripts
'@FrontEndBundle/Resources/public/js/jquery-3.1.1.min.js'
'@LayoutBundle/Resources/public/js/plugins/holdon/HoldOn.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/core/popper.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/bootstrap-material-design.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/plugins/moment.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/plugins/bootstrap-datetimepicker.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/plugins/nouislider.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/material-kit.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/carousel-swipe.js'
'@LayoutBundle/Resources/public/js/plugins/sweetalert/sweetalert.min.js'
'@MyCpMobileFrontendBundle/Resources/public/js/ownership.calendar.js'

'@MyCpMobileFrontendBundle/Resources/public/js/mycp.js'
'@MyCpMobileFrontendBundle/Resources/public/js/searchers.js'

filter='?uglifyjs2'
%}
<script src="{{ asset_url }}"></script>

{% endjavascripts %}
<!-- Google Analytics -->
{% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% include "GoogleBundle:Adwords:track.html.twig" %}


<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1240648305949371');
    fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=1240648305949371&ev=PageView&noscript=1"
               alt="{{ "Facebook" | trans }}"/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NQDW23K');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQDW23K"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% block includejs %}

{% endblock %}

</body>
</html>
{% endspaceless %}