{% extends 'LayoutBundle:Layout:layout_partner_frontend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block login_register %}
    {% include 'LayoutBundle:Security:overlay_login.html.twig' %}
{% endblock %}
{% block body %}
    {% for message in app.session.flashbag.get('message_error_emailagency') %}
        <div class="alert alert-danger alert-dismissable container">
            <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message }}</div>
    {% endfor %}
    {#-----Modal-----#}
    {{ include('PartnerBundle:Modal:modal-register-partner.html.twig') }}
    {#-----Section win-----#}
    {{ include('PartnerBundle:Section:win-partner.html.twig') }}
    {#-----Section package-----#}
    {{ include('PartnerBundle:Section:package-partner.html.twig') }}
    {#-----Section offer-----#}
    {{ include('PartnerBundle:Section:offer-partner.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@PartnerBundle/Resources/public/js/App.js'
    filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


