<div class="thumbs-houses container lazy-cont">
{% for own in list %}
<div class="row no-margin">
    <div class="col-xs-3">
        <div data-text="&nbsp;&nbsp;&nbsp;{%if own['comments_total'] > 0%}+{%endif%}{{own['comments_total']}}&nbsp;&nbsp;&nbsp;" class="thumbnail has-ribbon has-ribbon-left">
            <a href="{{ path('frontend_details_ownership',{'own_name':own['own_name']  | urlNormalize}) }}">
                <img class="lazy" data-src="{{ asset("uploads/ownershipImages/thumbnails/" ~ own['photo'])}}" src="{{ asset('bundles/frontend/img/nophoto-transp.png') }}" alt="{{"No photo" | trans}}"/>
                <noscript><img class="nolazy" src="{{ asset("uploads/ownershipImages/thumbnails/" ~ own['photo'])}}" alt="{{"Thumbnails" | trans}}"></noscript>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <a href="{{ path('frontend_details_ownership',{'own_name':own['own_name']  | urlNormalize}) }}">
            <h1 class="h-blue">{{ own['own_name']}}</h1>
        </a>
        <small class="top">{{own['prov_name']}}, {{own['mun_name']}}</small><br>
                {%if own.category == "Premium"%}
        <img rel="tooltip" title="{{own.category | trans}}" class="icon icon-3 tiny-premium-icon" alt="{{"Pixel" | trans}}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                {%else%}
                    {%if (own.category | lower) == ("Rango Medio" | lower)%}
        <img rel="tooltip" title="{{own.category | trans}}" class="icon icon-3 tiny-middle-icon" alt="{{"Pixel" | trans}}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                    {%else%}
        <img rel="tooltip" title="{{own.category | trans}}" class="icon icon-3 tiny-economic-icon" alt="{{"Pixel" | trans}}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}">
                    {%endif%}
                {%endif%}
        <span>{{own.category | trans}}</span><br/>
        <small class="top">{{own.type  | trans}}  {%if (own.rooms_count != 0) %} / {{own.rooms_count}} {% if own.rooms_count == 1%} {{"ROOM_SINGULAR" | trans}} {%else%} {{"ROOM_PLURAL" | trans}} {%endif%}{%endif%}</small><br/>
                {%if own['rating'] > 0%}
                {%for i in 1..own['rating']%}
        <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon icon-2 tiny-star-icon" alt="{{"Pixel" | trans}}">
                {%endfor%}
                {%endif%}

                {%if own['rating'] < 5%}
                {%for i in 1..(5-own['rating'])%}
        <img src="{{asset('bundles/frontend/img/icons/pixel.gif')}}" class="icon icon-2 tiny-star-off-icon" alt="{{"Pixel" | trans}}">
                {%endfor%}
                {%endif%}
        <small>{{own['comments']}} {{"FORMS_COMMENTS" | trans | lower}}</small>
    </div>
    <div class="col-xs-3 text-center">
        <small>{{"FROM_PRICES" | trans}}:</small><h2 class="no-margin h-grey margin-t">{{own['minimum_price'] | price}}</h2>
                {{ include('FrontEndBundle:favorite:itemFavorite.html.twig',
                        {'is_in_favorite': own['is_in_favorites'],
                         'favorite_type': 'ownershipfav',
                         'element_id':own['own_id'],
                         'is_in_favorites_list' : true,
                         'list_preffix' : 'list_preffix',
                         'include_text': true
                         }) }}

    </div>
</div>
<hr/>
{% else %}
<div class="alert a alert-info">{{"EMPTY_LIST" | trans}}</div>
{%endfor%}
</div>
