{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_ownerships') }}">Alojamientos</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_edit_ownership',{'id_ownership':accommodation.ownId}) }}">{{ accommodation.ownMcpCode }}</a> <span class="divider">/</span></li>
    <li class="active">Fallos </li>
</ul>
{% endblock %}
{% block content %}
<h2>Fallos: {% include 'mycpBundle:utils:ownership_header.html.twig' with {'ownership':accommodation}%}</h2>
<hr/>
<a class="btn" href="{{ path("mycp_create_touristfailures", {"accommodationId": accommodation.ownId}) }}"><i class="icon-plus"></i> Adicionar fallo</a>&nbsp;
<br/><br/>
{% for message in app.session.flashbag.get('message_error_local') %}
<div class="alert alert-error">{{ message }}</div>
{% endfor %}
{% if list %}
<div class="paginator-cont span11">
    {{ simple_paginator_render('mycp_list_touristfailures',null,{
'container_class': 'paginator',
'previousPageText': '«',
'nextPageText': '»',
'currentClass': 'current',
'firstPageText': 'Primera',
'lastPageText': 'Última',
'route_params': {'accommodationId':accommodation.ownId}
}) }}
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Fecha Creación</th>
        <th>Usuario</th>
        <th>Tipo</th>
        <th>Motivo</th>
        <th>Reserva</th>
        <th style="text-align: right">
            Acciones
        </th>
    </tr>
    </thead>
    <tbody>
    {% for failure in list %}
    <tr>
        <td>{{ failure.creationDate | date("d/m/Y h:i A")  }}</td>
        <td>{{ failure.user.getUserCompleteName }}</td>
        <td>{{ failure.type.translations[0].nomLangDescription }}</td>
        <td>{{ failure.description }}</td>
        <td>{% if failure.reservation != null %}<a href="{{ path("mycp_details_reservation", {"id_reservation": failure.reservation.genResId}) }}">{{ failure.reservation.casId }}</a>{% else %} - {% endif %}</td>
        <td style="text-align: right">
            <button data='{{ path('mycp_delete_touristfailures',{'idFailure':failure.id}) }}' class="btn btn-mini btn-danger delete">Eliminar</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="paginator-cont span11">
    {{ simple_paginator_render('mycp_list_touristfailures',null,{
'container_class': 'paginator',
'previousPageText': '«',
'nextPageText': '»',
'currentClass': 'current',
'firstPageText': 'Primera',
'lastPageText': 'Última',
'route_params': {'accommodationId':accommodation.ownId}
}) }}
</div>
    {% else %}
    <p> <div class="alert alert-block">Este alojamiento no tiene fallos</div></p>
    {% endif %}
{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea eliminar el elemento?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
