{% if num is not defined %}
    {% set num=1 %}
{% endif %}
{% if room is defined %}
    <div class="row m-t-20 m-l-25">
        <button id="deactivateRoom" type="button" class="btn btn-default  dim" data-idRoom="{{ room.RoomId }}"><i class="glyphicons eye_close" style="color:#fff"></i> Desactivar</button>
        <button id="deleteRoom" type="button" class="btn btn-danger  dim" data-idRoom="{{ room.RoomId }}"><i class="glyphicons bin" style="color:#fff"></i> Eliminar</button>
    </div>
{% endif %}
<form class="form-horizontal" style="padding-bottom: 25px" id="{% if room is defined %}form-number-{{ room.RoomId }}{% else %}form-number-{{ num }}{% endif %}" action="{{ path('save_step4') }}">
    {% if room is defined %}
        <input type="hidden" class="form-control" name="idRoom" value="{{ room.RoomId }}">
    {% endif %}
    <div class="m-t-20 m-l-25">
        <label for="comment">Tipo de habitación </label>
        <img class="help-icon" data-href="help-step3-one" src="{{ asset('/bundles/mycpcasamodule/img/ayuda.png') }}">
        <img class="help-icon" src="{{ asset('/bundles/mycpcasamodule/img/Zaeta-Derecha.png') }}">
        <div class="row m-t-5">
            <div class="col-md-1">
                <a class="glyphicons keys m-t-5 m-l-10 menu-textarea"></a>
            </div>
            <div class="col-md-5 p-l-0">
                {% if room is defined %}
                    <span id="label_room_type_{{ room.RoomId }}" class="font-blue step-span">{{ room.RoomType }}</span>
                {% endif %}
                <select id="select_room_type_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" name="room_type" class="form-control {% if room is defined %}hide{% endif %}">
                    <option  value="Habitación individual">Habitación individual</option>
                    <option  value="Habitación doble">Habitación doble</option>
                    <option  value="Habitación doble (Dos camas)">Habitación doble (Dos camas)</option>
                    <option  value="Habitación Triple">Habitación Triple</option>
                </select>

            </div>
            {% if room is defined %}
                <button data-cmpdisabled="#label_room_type_{{ room.RoomId }}" data-cmpenabled="#select_room_type_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" class="btn btn-primary dim changeDataStep4" type="button">Cambiar</button>
            {% endif %}
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <label for="comment">No. De camas </label>
        <img class="help-icon" data-href="help-step3-one" src="{{ asset('/bundles/mycpcasamodule/img/ayuda.png') }}">
        <img class="help-icon" src="{{ asset('/bundles/mycpcasamodule/img/Zaeta-Derecha.png') }}">
        <div class="row m-t-5">
            <div class="col-md-1">
                <img class="m-t-5 m-l-10" src="{{ asset('/bundles/mycpcasamodule/img/vbed.png') }}">
            </div>
            <div class="col-md-5 p-l-0">
                {% if room is defined %}
                    <span id="label_number_beds_{{ room.RoomId }}" class="font-blue step-span">{{ room.RoomBeds }}</span>
                {% endif %}
                <select id="select_number_beds_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" name="number_beds" class="form-control {% if room is defined %}hide{% endif %}">
                    <option  value="1">1</option>
                    <option  value="2">2</option>
                    <option  value="3">3</option>
                </select>
            </div>
            {% if room is defined %}
                <button data-cmpdisabled="#label_number_beds_{{ room.RoomId }}" data-cmpenabled="#select_number_beds_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" class="btn btn-primary dim changeDataStep4" type="button">Cambiar</button>
            {% endif %}
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <div class="row">
            <div class="col-md-1 m-t-10">
                <a class="glyphicons money"></a>
            </div>
            <div class="col-md-2 p-l-0">
                <span class="text-price-step3">Precios</span>
            </div>
            <div class="col-md-2 p-l-0 m-t-10 m-n-l-25">
                <img class="help-icon" data-href="help-step3-one" src="{{ asset('/bundles/mycpcasamodule/img/ayuda.png') }}">
                <img class="help-icon" src="{{ asset('/bundles/mycpcasamodule/img/Zaeta-Derecha.png') }}">
            </div>
        </div>

        <div class="row m-t-5">
            <div class="col-md-5">
                <label>Precio en temporada alta</label>
            </div>
            <div class="col-md-2 p-l-0">
                {% if room is defined %}
                    <span id="label_price_high_season_{{ room.RoomId }}" class="font-blue step-span">{{ room.RoomPriceUpTo }}</span>
                {% endif %}
                <input id="input_price_high_season_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" type="text" class="form-control  {% if room is defined %}hide{% endif %}" name="price_high_season">
            </div>
            <div class="col-md-1 p-l-0 m-t-5">
                CUC
            </div>
            {% if room is defined %}
                <div class="col-md-1 p-l-0 m-t-5">
                    <button data-cmpdisabled="#label_price_high_season_{{ room.RoomId }}" data-cmpenabled="#input_price_high_season_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" class="btn btn-primary dim changeDataStep4" type="button">Cambiar</button>
                </div>
            {% endif %}

        </div>
        <div class="row m-t-5">
            <div class="col-md-5">
                <label>Precio en temporada baja</label>
            </div>
            <div class="col-md-2 p-l-0">
                {% if room is defined %}
                    <span id="label_price_low_season_{{ room.RoomId }}" class="font-blue step-span">{{ room.RoomPriceDownTo }}</span>
                {% endif %}
                <input id="input_price_low_season_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" type="text" class="form-control {% if room is defined %}hide{% endif %}" name="price_low_season">
            </div>
            <div class="col-md-1 p-l-0 m-t-5">
                CUC
            </div>
            {% if room is defined %}
                <div class="col-md-1 p-l-0 m-t-5">
                    <button data-cmpdisabled="#label_price_low_season_{{ room.RoomId }}" data-cmpenabled="#input_price_low_season_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" class="btn btn-primary dim changeDataStep4" type="button">Cambiar</button>
                </div>
            {% endif %}
        </div>
        <div class="row m-t-5">
            <div class="col-md-5">
                <label>Precio en temporada especial</label>
            </div>
            <div class="col-md-2 p-l-0">
                {% if room is defined %}
                    <span id="label_price_special_season_{{ room.RoomId }}" class="font-blue step-span">{{ room.RoomPriceSpecial }}</span>
                {% endif %}
                <input id="input_price_special_season_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" type="text" class="form-control {% if room is defined %}hide{% endif %}" name="price_special_season">
            </div>
            <div class="col-md-1 p-l-0 m-t-5">
                CUC
            </div>
            {% if room is defined %}
                <div class="col-md-1 p-l-0 m-t-5">
                    <button data-cmpdisabled="#label_price_special_season_{{ room.RoomId }}" data-cmpenabled="#input_price_special_season_{% if room is defined %}{{ room.RoomId }}{% else %}{{ num }}{% endif %}" class="btn btn-primary dim changeDataStep4" type="button">Cambiar</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <div class="row text-center">
            <img  src="{{ asset('/bundles/mycpcasamodule/img/alarma.png') }}">
        </div>
        <div class="row text-step3">
            <div class="col-md-11">
                <p>A partir del precio definido por usted, MyCasaParticular cobra al TURISTA un pago por adelantado correspondiente al 20% del precio publicado en el sitio.</p>
            </div>
        </div>
        <div class="row text-step3">
            <div class="col-md-11">
                <p>Usted NO PAGA COMISIÓN.</p>
            </div>
        </div>
        <div class="row text-step3">
            <div class="col-md-11">
                <p>El valor que hacemos público incluye el  precio que usted pone a su alojamiento más la comisión nuestra.</p>
            </div>
        </div>
    </div>
    <div class="row m-t-20 m-l-25">
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicons snowflake step-form-icon m-t-5"></i>
                <label class="control-label">Climatización</label>
            </div>
            <div class="col-md-8 p-l-0 m-t-5 m-n-l-70">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_climate"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicons display step-form-icon m-t-5"></i>
                <label class="control-label">Audiovisuales</label>
            </div>
            <div class="col-md-8 p-l-0 m-t-5 m-n-l-70">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_audiovisual"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('bundles/mycpcasamodule/img/bathroom.png') }}" class="img-step4" >
                <label class="control-label">Tipo de baño</label>
            </div>
            <div class="col-md-3 p-l-0 m-t-5">
                <select name="room_bathroom" class="form-control">
                    <option value="Interior privado">Interior privado</option>
                    <option value="Exterior privado">Exterior privado</option>
                    <option value="Compartido">Compartido</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{{ asset('bundles/mycpcasamodule/img/ventanas.png') }}" class="img-step4">
                <label class="control-label">Cantidad de ventanas</label>
            </div>
            <div class="col-md-3 p-l-0 m-t-5">
                <select name="room_window" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{{ asset('bundles/mycpcasamodule/img/balcones.png') }}" class="img-step4">
                <label class="control-label">Cantidad de balcones</label>
            </div>
            <div class="col-md-3 p-l-0 m-t-5">
                <select name="room_balcony" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('bundles/mycpcasamodule/img/terraza.png') }}" class="img-step4">
                <label class="control-label">Terraza</label>
            </div>
            <div class="col-md-1 m-n-l-70 m-t-5">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_terrace"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('bundles/mycpcasamodule/img/patio.png') }}" class="img-step4">
                <label class="control-label">Patio</label>
            </div>
            <div class="col-md-1 m-n-l-70 m-t-5">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_yard"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <i class="glyphicons smoking step-form-icon m-t-5"></i>
                <label class="control-label">Fumador</label>
            </div>
            <div class="col-md-1 m-n-l-50 m-t-5">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_smoker"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('bundles/mycpcasamodule/img/caja-fuerte.png') }}" class="img-step4">
                <label class="control-label">Caja fuerte</label>
            </div>
            <div class="col-md-1 m-n-l-50 m-t-5">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_safe"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <i class="glyphicons stroller step-form-icon m-t-5"></i>
                <label class="control-label">Facilidades para bebé</label>
            </div>
            <div class="col-md-1 m-n-l-50 m-t-5">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_baby"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicons note step-form-icon m-t-5"></i>
                <label class="control-label">Estéreo</label>
            </div>
            <div class="col-md-1 m-n-l-50 m-t-5">
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_stereo"/>
            </div>
        </div>
    </div>
</form>