{% if num is not defined %}
    {% set num=1 %}
{% endif %}
<form class="form-horizontal" style="padding-bottom: 25px" id="form-number-{{ num }}" action="{{ path('save_step4') }}">
    <div class="m-t-20 m-l-25">
        <label for="comment">Tipo de habitación </label>
        <img class="help-icon" data-href="help-step3-one" src="{{ asset('/bundles/mycpcasamodule/img/ayuda.png') }}">
        <img class="help-icon" src="{{ asset('/bundles/mycpcasamodule/img/Zaeta-Derecha.png') }}">
        <div class="row m-t-5">
            <div class="col-md-1">
                <a class="glyphicons keys m-t-5 m-l-10 menu-textarea"></a>
            </div><div class="col-md-5 p-l-0">
                <select name="room_type" class="form-control">
                    <option  value="Habitación individual">Habitación individual</option>
                    <option  value="Habitación doble">Habitación doble</option>
                    <option  value="Habitación doble (Dos camas)">Habitación doble (Dos camas)</option>
                    <option  value="Habitación Triple">Habitación Triple</option>
                </select>
            </div>
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <label for="comment">No. De camas </label>
        <img class="help-icon" data-href="help-step3-one" src="{{ asset('/bundles/mycpcasamodule/img/ayuda.png') }}">
        <img class="help-icon" src="{{ asset('/bundles/mycpcasamodule/img/Zaeta-Derecha.png') }}">
        <div class="row m-t-5">
            <div class="col-md-1">
                <img class="m-t-5 m-l-10" src="{{ asset('/bundles/mycpcasamodule/img/vbed.png') }}">
            </div><div class="col-md-5 p-l-0">
                <select name="number_beds" class="form-control">
                    <option  value="1">1</option>
                    <option  value="2">2</option>
                    <option  value="3">3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <div class="row">
            <div class="col-md-1 m-t-10">
                <a class="glyphicons money"></a>
            </div>
            <div class="col-md-2 p-l-0">
                <span class="text-price-step3">Precios</span>
            </div>
            <div class="col-md-2 p-l-0 m-t-10 m-n-l-50">
                <img class="help-icon" data-href="help-step3-one" src="{{ asset('/bundles/mycpcasamodule/img/ayuda.png') }}">
                <img class="help-icon" src="{{ asset('/bundles/mycpcasamodule/img/Zaeta-Derecha.png') }}">
            </div>
        </div>

        <div class="row m-t-5">
            <div class="col-md-5">
                <label>Precio en temporada alta</label>
            </div>
            <div class="col-md-2 p-l-0">
                <input type="text" class="form-control" name="price_high_season">
            </div>
            <div class="col-md-1 p-l-0 m-t-5">
                CUC
            </div>
        </div>
        <div class="row m-t-5">
            <div class="col-md-5">
                <label>Precio en temporada baja</label>
            </div>
            <div class="col-md-2 p-l-0">
                <input type="text" class="form-control" name="price_low_season">
            </div>
            <div class="col-md-1 p-l-0 m-t-5">
                CUC
            </div>
        </div>
        <div class="row m-t-5">
            <div class="col-md-5">
                <label>Precio en temporada especial</label>
            </div>
            <div class="col-md-2 p-l-0">
                <input type="text" class="form-control" name="price_special_season">
            </div>
            <div class="col-md-2 p-l-0 m-t-5">
                CUC
            </div>
        </div>
    </div>
    <div class="m-t-20 m-l-25">
        <div class="row text-center">
            <img  src="{{ asset('/bundles/mycpcasamodule/img/alarma.png') }}">
        </div>
        <div class="row text-step3">
            <div class="col-md-11">
                <p>A partir del precio definido por usted, MyCasaParticular cobra al TURISTA un pago por adelantado correspondiente al 20% del precio publicado en el sitio.</p>
            </div>
        </div>
        <div class="row text-step3">
            <div class="col-md-11">
                <p>Usted NO PAGA COMISIÓN.</p>
            </div>
        </div>
        <div class="row text-step3">
            <div class="col-md-11">
                <p>El valor que hacemos público incluye el  precio que usted pone a su alojamiento más la comisión nuestra.</p>
            </div>
        </div>
    </div>
    <div class="row m-t-20 m-l-25">

        <div class="row">
            <div class="col-md-12">
                <i class="glyphicons snowflake step-form-icon m-t-5"></i>
                <label class="control-label">Climatización</label>
                <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_climate"/>
            </div>
        </div>
        <div>
            <i class="glyphicons display step-form-icon m-t-5"></i>
            <label class="control-label">Audiovisuales</label>
            <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_audiovisual"/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <i class="glyphicons display step-form-icon m-t-5"></i>
                <label class="control-label">Tipo de baño</label>
            </div>
            <div class="col-md-6 m-t-5 p-l-0">
                <select name="room_bathroom" class="form-control">
                    <option value="Interior privado">Interior privado</option>
                    <option value="Exterior privado">Exterior privado</option>
                    <option value="Compartido">Compartido</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <i class="glyphicons display step-form-icon m-t-5"></i>
                <label class="control-label">Cantidad de ventanas</label>
            </div>
            <div class="col-md-6 m-t-5 p-l-0">
                <select name="room_window" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <i class="glyphicons display step-form-icon m-t-5"></i>
                <label class="control-label">Cantidad de balcones</label>
            </div>
            <div class="col-md-6 m-t-5 p-l-0">
                <select name="room_balcony" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <i class="glyphicons snowflake step-form-icon m-t-5"></i>
            <label class="control-label">Terraza</label>
            <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_terrace"/>
        </div>
        <div class="row">
            <i class="glyphicons snowflake step-form-icon m-t-5"></i>
            <label class="control-label">Patio</label>
            <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_yard"/>
        </div>
        <div class="row">
            <i class="glyphicons smoking step-form-icon m-t-5"></i>
            <label class="control-label">Fumador</label>
            <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_smoker"/>
        </div>
        <div class="row">
            <i class="glyphicons smoking step-form-icon m-t-5"></i>
            <label class="control-label">Caja fuerte</label>
            <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_safe"/>
        </div>
        <div class="row">
            <i class="glyphicons stroller step-form-icon m-t-5"></i>
            <label class="control-label">Facilidades para bebé</label>
            <input type="checkbox" class="js-switch-{{ num }} m-l-10" name="room_safe"/>
        </div>
    </div>
</form>