<form class="form-horizontal" id="form-description-short-room" action="{{ path('save_description') }}">
    <div class="form-group">
        <label for="comment">Describa su alojamiento de forma sencilla y breve. Comente a los huéspedes cómo es su espacio y cuáles son sus gustos e intereses como anfitrión.</label>
        <div class="row">
            <div class="col-md-12">
                <p id="label_odlbriefdescription" class="font-blue step-span">{{ ownDescriptionLang.OdlBriefDescription }}</p>
                <textarea id="textarea_odlbriefdescription" class="form-control hide" rows="10" name="comment-one">{{ ownDescriptionLang.OdlBriefDescription }}</textarea>
                <button data-cmpdisabled="#label_odlbriefdescription" data-cmpenabled="#textarea_odlbriefdescription" class="btn btn-primary dim changeBtn" type="button">Cambiar</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Promocione su alojamiento también en las redes sociales. Hágalo de manera clara y con pocas palabras. A sus huéspedes les encantará.</label>
        <div class="row">
            <div class="col-md-12">
                <p id="label_odldescription" class="font-blue step-span">{{ ownDescriptionLang.OdlDescription }}</p>
                <textarea id="textarea_odldescription" class="form-control hide" rows="2" name="comment-two">{{ ownDescriptionLang.OdlDescription }}</textarea>
                <button data-cmpdisabled="#label_odldescription" data-cmpenabled="#textarea_odldescription" class="btn btn-primary dim changeBtn" type="button">Cambiar</button>
            </div>
        </div>
    </div>
</form>