{%set included_in_price = own_statistics['own_water_jacuzzi'] > 0 or (check_filters is defined and check_filters['own_others_included'] == "JACUZZY") or own_statistics['own_water_sauna'] > 0 or (check_filters is defined and check_filters['own_others_included'] == "SAUNA") or own_statistics['own_water_pool'] > 0 or (check_filters is defined and check_filters['own_others_included'] == "POOL")%}
{%set languages = own_statistics['own_lang_english'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '1___') or own_statistics['own_lang_french'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '_1__') or own_statistics['own_lang_german'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '__1_') or own_statistics['own_lang_italian'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '___1')%}
{%set show_bath_inner =  own_statistics['own_bathroom_inner'] > 0 or (check_filters is defined and 'Interior privado' in check_filters['room_bathroom']) %}
{%set show_bath_outer =  own_statistics['own_bathroom_outer'] > 0 or (check_filters is defined and 'Exterior privado' in check_filters['room_bathroom']) %}
{%set show_bath_shared =  own_statistics['own_bathroom_shared'] > 0 or (check_filters is defined and 'Compartido' in check_filters['room_bathroom']) %}
{%set service_breakfast = false%}
{%set service_dinner = false%}
{%set service_laundry = false%}
{%set service_parking = false%}

{%set service_pool = false%}
{%set service_sauna = false%}
{%set service_jacuzzy = false%}

{%if check_filters is defined and check_filters != null%}
    {% if check_filters['own_others_not_included'] is defined  %}
    {%for service in check_filters['own_others_not_included']%}
        {%if service == "BREAKFAST"%}
            {%set service_breakfast = true%}
        {%endif%}
        {%if service == "DINNER"%}
            {%set service_dinner = true%}
        {%endif%}
        {%if service == "LAUNDRY"%}
            {%set service_laundry = true%}
        {%endif%}
        {%if service == "PARKING"%}
            {%set service_parking = true%}
        {%endif%}
    {%endfor%}
    {% endif %}
  {% if check_filters['own_others_included'] is defined  %}
    {%for service in check_filters['own_others_included']%}
        {%if service == "POOL"%}
            {%set service_pool = true%}
        {%endif%}
        {%if service == "SAUNA"%}
            {%set service_sauna = true%}
        {%endif%}
        {%if service == "JACUZZY"%}
            {%set service_jacuzzy = true%}
        {%endif%}
    {%endfor%}
{% endif %}
{%endif%}

<input type="hidden" id="filter_url" value="{{ path('frontend_filter_ownership_callback') }}"/>

<div class="mobile-more-filter bg-gray-mycp col-xs-12">
    <div id="content-filter" class="content-filter">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center m-b-1 col-xs-12">{{"SELECT_OWNERSHIP_PRICES_OPTION" | trans}}</span>
                    {% set count=owns_prices|length-1 %}
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 p-x-2">
                                <input id="priceFilter" type="text" class="span2" value="" data-slider-min="0" data-slider-max="{{ owns_prices[count][1] }}" data-slider-step="1" data-slider-value="[{{ owns_prices[0][0] }},{{ owns_prices[count][1] }}]"/>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6 p-a-0 text-xs-left">
                                    <span class="f-f-Arial f-s-12">${{ owns_prices[0][0] }}</span>
                                </div>
                                <div class="col-xs-6 p-a-0 text-xs-right">
                                    <span class="f-f-Arial f-s-12">${{ owns_prices[count][1] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 border-top-gray">
                <a data-toggle="collapse" data-target="#ownership_type_option" href="#ownership_type_option">
                    <span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center col-xs-12">{{"SELECT_OWNERSHIP_TYPE_OPTION" | trans}}</span>
                </a>
                <ul id="ownership_type_option" class="list-inline collapse">
                    {%for type in owns_types%}
                        <li>
                            <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                                <input class="action_remove_filter_up" type="checkbox" name="own_type" value="{{type[0]}}" {%if check_filters is defined and check_filters['own_type'] is defined and type[0] in check_filters['own_type']%} checked="checked" {%endif%} {%if type[1] == '0'%} disabled="disabled" {%endif%}/>
                                <div class="control__indicator border-gray"></div>
                                {{type[0] | trans}}
                            </label>
                        </li>
                    {%endfor%}
                </ul>
            </div>
            {#<div class="col-xs-12 border-top-gray">#}
                {#<span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center m-y-1 col-xs-12">{{"ROOM_BEDS" | trans}}</span>#}
                {#<ul id="ownership_type" class="list-inline">#}
                    {#<li>#}
                        {#<label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">#}
                            {#<input class="action_remove_filter_up" type="checkbox" data-aux-text="{{"BEDS_ROOMS" | trans}}" name="room_beds_total" value="1" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '1' in check_filters['own_beds_total']%} checked="checked" {%endif%} {%if own_statistics['room_total_beds_1'] == 0%} disabled="disabled" {%endif%}/>#}
                            {#<div class="control__indicator border-gray"></div>#}
                            {#1#}
                        {#</label>#}
                    {#</li>#}
                    {#<li>#}
                        {#<label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">#}
                            {#<input class="action_remove_filter_up" type="checkbox" data-aux-text="{{"BEDS_ROOMS" | trans}}" name="room_beds_total" value="2" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '2' in check_filters['own_beds_total']%} checked="checked" {%endif%} {%if own_statistics['room_total_beds_2'] == 0%} disabled="disabled" {%endif%}/>#}
                            {#<div class="control__indicator border-gray"></div>#}
                            {#2#}
                        {#</label>#}
                    {#</li>#}
                    {#<li>#}
                        {#<label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">#}
                            {#<input class="action_remove_filter_up" type="checkbox" data-aux-text="{{"BEDS_ROOMS" | trans}}" name="room_beds_total" value="3" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '3' in check_filters['own_beds_total']%} checked="checked" {%endif%} {%if own_statistics['room_total_beds_3'] == 0%} disabled="disabled" {%endif%}/>#}
                            {#<div class="control__indicator border-gray"></div>#}
                            {#3#}
                        {#</label>#}
                    {#</li>#}
                    {#<li>#}
                        {#<label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">#}
                            {#<input class="action_remove_filter_up" type="checkbox" data-aux-text="{{"BEDS_ROOMS" | trans}}" name="room_beds_total" value="4" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '4' in check_filters['own_beds_total']%} checked="checked" {%endif%} {%if own_statistics['room_total_beds_4'] == 0%} disabled="disabled" {%endif%}/>#}
                            {#<div class="control__indicator border-gray"></div>#}
                            {#4#}
                        {#</label>#}
                    {#</li>#}
                    {#<li>#}
                        {#<label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">#}
                            {#<input class="action_remove_filter_up" type="checkbox" data-aux-text="{{"BEDS_ROOMS" | trans}}" data-aux-text="{{"BEDS_ROOMS" | trans}}" name="room_beds_total" value="5" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '5' in check_filters['own_beds_total']%} checked="checked" {%endif%} {%if own_statistics['room_total_beds_5'] == 0%} disabled="disabled" {%endif%}/>#}
                            {#<div class="control__indicator border-gray"></div>#}
                            {#5#}
                        {#</label>#}
                    {#</li>#}
                    {#<li>#}
                        {#<label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">#}
                            {#<input class="action_remove_filter_up" type="checkbox" data-aux-text="{{"BEDS_ROOMS" | trans}}" name="room_beds_total" value="+6" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '+6' in check_filters['own_beds_total']%} checked="checked" {%endif%} {%if own_statistics['room_total_beds_more_5'] == 0%} disabled="disabled" {%endif%}/>#}
                            {#<div class="control__indicator border-gray"></div>#}
                            {#+ 5#}
                        {#</label>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            <div class="col-xs-12 border-top-gray">
                <a data-toggle="collapse" data-target="#rooms_type" href="#rooms_type">
                    <span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center col-xs-12">{{"SELECT_ROOM_TYPE_OPTION" | trans}}</span>
                </a>
                <ul id="rooms_type" class="list-inline collapse">
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_type" value="Habitación individual" {%if check_filters is defined and check_filters['room_type'] is defined and 'Habitación individual' in check_filters['room_type']%} checked="checked" {%endif%} {%if not (own_statistics['room_simple'] > 0 or (check_filters is defined and 'Habitación individual' in check_filters['room_type']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"SINGLE_ROOM_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_type" value="Habitación doble" {%if check_filters is defined and check_filters['room_type'] is defined and  'Habitación doble' in check_filters['room_type']%} checked="checked" {%endif%} {%if not(own_statistics['room_double'] > 0 or (check_filters is defined and 'Habitación doble' in check_filters['room_type']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"DOUBLE_ROOM_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_type" value="Habitación doble (Dos camas)" {%if check_filters is defined and check_filters['room_type'] is defined and 'Habitación doble (Dos camas)' in check_filters['room_type']%} checked="checked" {%endif%} {%if not( own_statistics['room_double_two_beds'] > 0 or (check_filters is defined and 'Habitación doble (Dos camas)' in check_filters['room_type']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"DOUBLE_2_BEDS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_type" value="Habitación Triple" {%if check_filters is defined and check_filters['room_type'] is defined and 'Habitación Triple' in check_filters['room_type']%} checked="checked" {%endif%} {%if not(own_statistics['room_triple'] > 0 or (check_filters is defined and 'Habitación Triple' in check_filters['room_type']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"TRIPLE_ROOM_FILTER" | trans}}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 border-top-gray">
                <a data-toggle="collapse" data-target="#services" href="#services">
                    <span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center col-xs-12">
                        {{"backend.menu.package.services" | trans}}
                    </span>
                </a>
                <ul id="services" class="list-inline collapse">
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_airconditioner" data-value="Aire acondicionado" {%if check_filters is defined and check_filters['room_climatization'] is defined and check_filters['room_climatization']%} checked="checked" {%endif%} {%if not( own_statistics['room_climatization'] > 0 or (check_filters is defined and check_filters['room_climatization']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"AIR_CONDITIONING_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_others_pets" {%if check_filters is defined and check_filters['own_others_pets'] is defined and check_filters['own_others_pets']%} checked="checked" {%endif%} {%if not( own_statistics['own_services_pets'] > 0 or (check_filters is defined and check_filters['own_others_pets']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"PETS_OTHERS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_audiovisuals" {%if check_filters is defined and check_filters['room_audiovisuals'] is defined and check_filters['room_audiovisuals']%} checked="checked" {%endif%} {%if not(own_statistics['room_audio_visuals'] > 0 or (check_filters is defined and check_filters['room_audiovisuals']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"AUDIOVISUALS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_kids" {%if check_filters is defined and check_filters['room_kids'] is defined and check_filters['room_kids']%} checked="checked" {%endif%} {%if not(own_statistics['room_kids'] > 0 or (check_filters is defined and check_filters['room_kids']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"KIDS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_smoker" {%if check_filters is defined and check_filters['room_smoker'] is defined and check_filters['room_smoker']%} checked="checked" {%endif%} {%if not(own_statistics['room_smoker'] > 0 or (check_filters is defined and check_filters['room_smoker']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"SMOKER_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_safe" {%if check_filters is defined and check_filters['room_safe'] is defined and check_filters['room_safe']%} checked="checked" {%endif%} {%if not( own_statistics['room_safe'] > 0 or (check_filters is defined and check_filters['room_safe']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"SAFE_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_balcony" {%if check_filters is defined and check_filters['room_balcony'] is defined and check_filters['room_balcony']%} checked="checked" {%endif%} {%if not(own_statistics['room_balcony'] > 0 or (check_filters is defined and check_filters['room_balcony']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"BALCONY_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_terraza" {%if check_filters is defined and check_filters['room_terraza'] is defined and check_filters['room_terraza']%} checked="checked" {%endif%} {%if not( own_statistics['room_terrace'] > 0 or (check_filters is defined and check_filters['room_terraza']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"TERRACE_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_courtyard" {%if check_filters is defined and check_filters['room_courtyard'] is defined and check_filters['room_courtyard']%} checked="checked" {%endif%} {%if not(own_statistics['room_yard'] > 0 or (check_filters is defined and check_filters['room_courtyard']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"COURTYARD_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" id="room_others_internet" {%if check_filters is defined and check_filters['own_others_internet'] is defined and check_filters['own_others_internet']%} checked="checked" {%endif%} {%if not( own_statistics['own_service_internet_email'] > 0 or (check_filters is defined and check_filters['own_others_internet']))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"INTERNET_OTHERS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_included" value="JACUZZY" {%if service_jacuzzy%} checked="checked" {%endif%} {%if not( own_statistics['own_water_jacuzzi'] > 0 or service_jacuzzy)%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"JACUZZI_BATROOM_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_included" value="POOL" {%if service_pool%} checked="checked" {%endif%} {%if not(own_statistics['own_water_pool'] > 0 or service_pool)%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"POOL_OTHERS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_not_included" value="BREAKFAST" {%if service_breakfast%} checked="checked" {%endif%} {%if not( own_statistics['own_services_breakfast'] > 0 or service_breakfast)%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"BREAKFAST_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_not_included" value="DINNER" {%if service_dinner%} checked="checked" {%endif%} {%if not(own_statistics['own_services_dinner'] > 0 or service_dinner)%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"DINNER_OTHERS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_not_included" value="LAUNDRY" {%if service_laundry%} checked="checked" {%endif%} {%if not(own_statistics['own_services_laundry'] > 0 or service_laundry)%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"LAUNDRY_OTHERS_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_not_included" value="PARKING" {%if service_parking%} checked="checked" {%endif%} {%if not(own_statistics['own_services_parking'] > 0 or service_parking)%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"PARKING_THERS_FILTER" | trans}}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 border-top-gray">
                <a data-toggle="collapse" data-target="#languages" href="#languages">
                    <span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center col-xs-12">
                        {{"SELECT_OTHER_LANGUAGE_OPTION" | trans}}
                    </span>
                </a>
                <ul id="languages" class="list-inline collapse">
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_languages" value="1___" {%if check_filters is defined and check_filters['own_others_languages'] is defined and check_filters['own_others_languages'] == '1___'%} checked="checked" {%endif%} {%if not( own_statistics['own_lang_english'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '1___'))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"LANG_ENGLISH" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_languages" value="_1__" {%if check_filters is defined and check_filters['own_others_languages'] is defined and check_filters['own_others_languages'] == '_1__'%} checked="checked" {%endif%} {%if not(own_statistics['own_lang_french'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '_1__'))%}disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"LANG_FRENCH" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_languages" value="__1_" {%if check_filters is defined and check_filters['own_others_languages'] is defined and check_filters['own_others_languages'] == '__1_'%} checked="checked" {%endif%} {%if not( own_statistics['own_lang_german'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '__1_'))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"LANG_GERMAN" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="others_languages" value="___1" {%if check_filters is defined and check_filters['own_others_languages'] is defined and check_filters['own_others_languages'] == '___1'%} checked="checked" {%endif%} {%if not( own_statistics['own_lang_italian'] > 0 or (check_filters is defined and check_filters['own_others_languages'] == '___1'))%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"LANG_ITALIAN" | trans}}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 border-top-gray">
                <a data-toggle="collapse" data-target="#bathroom_type" href="#bathroom_type">
                    <span class="f-s-18 f-f-Arial color-454242 f-w-bold text-xs-center col-xs-12">
                        {{"SELECT_BATHROOM_TYPE_OPTION" | trans}}
                    </span>
                </a>
                <ul id="bathroom_type" class="list-inline collapse">
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_bathroom" value="Interior privado" {%if check_filters is defined and check_filters['room_bathroom'] is defined and 'Interior privado' in check_filters['room_bathroom']%} checked="checked" {%endif%} {%if not show_bath_inner%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"INNER_PRIVATE_BATHROOM_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_bathroom" value="Exterior privado" {%if check_filters is defined and check_filters['room_bathroom'] is defined and 'Exterior privado' in check_filters['room_bathroom']%} checked="checked" {%endif%} {%if not show_bath_outer%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"OUTER_PRIVATE_BATHROOM_FILTER" | trans}}
                        </label>
                    </li>
                    <li>
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="room_bathroom" value="Compartido" {%if check_filters is defined  and check_filters['room_bathroom'] is defined and 'Compartido' in check_filters['room_bathroom']%} checked="checked" {%endif%} {%if not show_bath_shared%} disabled="disabled" {%endif%}/>
                            <div class="control__indicator border-gray"></div>
                            {{"SHARED_BATHROOM_FILTER" | trans}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="content-button clearfix p-y-1">
    <div class="col-xs-12">
        <div class="row">
        <div class="col-xs-4 p-a-0">
            <select class="form-control bs-select" id="input_bed_room">
                <option value="1" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '1' in check_filters['own_beds_total']%} selected {%endif%} > {{ "ROOM_WATERMARK" | trans }} </option>
                <option value="2" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '2' in check_filters['own_beds_total']%} selected {%endif%} >2 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                <option value="3" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '2' in check_filters['own_beds_total']%} selected {%endif%} >
                    3 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                <option value="4" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '2' in check_filters['own_beds_total']%} selected {%endif%}>4 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                <option value="5" {%if check_filters is defined and check_filters['own_beds_total'] is defined and '2' in check_filters['own_beds_total']%} selected {%endif%} >
                    5 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
                <option value="+5" {% if app.session.get('search_rooms') != null and app.session.get('search_rooms') == "+5" %} selected {% endif %}>
                    +5 {{ "ROOM_PLURAL" | trans | capitalize }}</option>
            </select>
        </div>
        <div class="col-xs-4">
                {%for award in awards%}
                        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                            <input class="action_remove_filter_up" type="checkbox" name="own_awards" value="{{ award.id }}" {%if check_filters is defined and check_filters['own_award'] is defined and check_filters['own_award'] == award.id %} checked="checked"{% endif %} data-aux-text="{{"BEDS_ROOMS" | trans}}" data-aux-text="{{"BEDS_ROOMS" | trans}}" />
                            <div class="control__indicator border-gray"></div>
                            {{ award.name }}
                        </label>
                {%endfor%}
        </div>
        <div class="col-xs-4 p-a-0">
            <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                <input class="action_remove_filter_up" type="checkbox" id="own_inmediate_booking" name="own_inmediate_booking"  {%if check_filters is defined and check_filters['own_inmediate_booking'] is defined and check_filters['own_inmediate_booking'] %} checked="checked"{% endif %} data-aux-text="{{"quick_bookinhg" | trans}}" data-aux-text="{{"quick_bookinhg" | trans}}" />
                <div class="control__indicator border-gray"></div>
                {{ 'quick_bookinhg'|trans }}
            </label>
        </div>
        </div>
    </div>
    <div class="col-xs-12 p-a-0">
        <label class="control control--checkbox f-s-12 f-f-Arial color-454242 f-w-light">
                    <input class="action_remove_filter_up" type="checkbox" id="own_inmediate_booking2" name="own_inmediate_booking2" {%if inmediate is defined and inmediate == "1" %} checked="checked" {%endif%} />
                    <div class="control__indicator border-gray"></div>
                    {{ "IMMEDIATE_BOOKING" | trans}}
        </label>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-4">
                <a data-toggle="collapse" data-target="#collapseFilters" href="#" class="btn btn-default btn-block pull-right" id="cancel-filters">{{ 'CANCEL'|trans }}</a>
            </div>
            <div class="col-xs-5 p-a-0">
                <a data-toggle="collapse" data-target="#collapseFilters" href="#" class="btn btn-primary btn-block pull-right" id="filters-submit">{{ 'SHOW_RESULTS'|trans }}</a>
            </div>
        </div>
    </div>
</div>
</div>