{% extends 'MyCpMobileFrontendBundle::base.html.twig' %}
{% block nav_heigth %}52px{% endblock %}
{% block include_javascripts_and_css %}
    {#{% stylesheets#}
    {#'@FrontEndBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.css'#}
    {#filter='?uglifycss'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link href="{{ asset('bundles/frontend/css/plugins/ionRangeSlider/ion.rangeSlider.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css') }}"
          rel="stylesheet">
    <link href="{{ asset('bundles/frontend/js/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/slider.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/frontend/css/filtersv2.css') }}" rel="stylesheet">
    <style>
    </style>
{% endblock %}
{% set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_ACCOMMODATIONS') %}

{% block title %}{{ "SEARCH_RESULTS_PAGE_TITLE" | trans }}{% endblock %}

 {% block metas %}
     {#{{parent()}}#}
     {{ get_metas('Alojamientos', app.session.get('app_lang_code')|lower )|raw }}
     {#{% if search_text=='la habana' %}
         {{ get_metas('casa particular habana', app.session.get('app_lang_code')|lower )|raw }}
     {% endif %}#}
 {% endblock metas %}

{% set main_tab = 5 %}
{% block content_nav_top_body %}
    {{ "SEARCH_DESCRIPTION_MAIN_MENU" | trans }}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block body %}
    <div class="col-xs-12" id="search-container">
        <div class="row">
            <div id="loading" class="hidden">
                <div class="layer-loading"></div>
                <div class="loading-signal"><img class="img-circle load-icon"
                                                 src="{{ asset('bundles/frontend/img/loading.gif') }}"
                                                 alt="{{ "Loading" | trans }}"/></div>
            </div>
            {#{%if view_results != 'MAP'%}#}
            {#<div class="thumbnail" id="map" style="width:100%;height:150px;" class="google-maps"></div>#}
            {#{%endif%}#}
            {#<div  id="json_source" data-url="{{path("frontend_map_markers_ownership_callback")}}"#}
            {#data-icon-small="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_small.png') }}"#}
            {#data-icon="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/map_marker.png') }}"></div>#}

            {{ include('MyCpMobileFrontendBundle:search:topSearchBar.html.twig',
            {'is_within_search_results':true,
                'autocomplete_text_list': autocomplete_text_list,
                'locale': locale}) }}
            <div class="filter accordion-body collapse" id="collapseFilters">
                <div id="filters" data-url-filter="{{ path('frontend_filter_ownership_callback') }}"
                     data-url-statistics="{{ path('frontend_filter_statistics_ownership_callback') }}">
                    {% if check_filters is defined %}
                        {{ include('MyCpMobileFrontendBundle:search:filtersv2.html.twig',
                        {'own_statistics': own_statistics,'check_filters': check_filters}) }}
                    {% else %}
                        {{ include('MyCpMobileFrontendBundle:search:filtersv2.html.twig',
                        {'own_statistics': own_statistics}) }}
                    {% endif %}
                </div>
            </div>
            <div id="filter_upper">
                {% if check_filters is defined and check_filters | length %}

                {% endif %}
            </div>

            <div class="col-sm-12">
                <div class="houses-list thumbs-houses lazy-cont" id="div_result">

                    {{ include('MyCpMobileFrontendBundle:ownership:searchMosaicOwnershipv2.html.twig',
                    {'list': list,
                        'list_preffix': 'mosaic'
                    }) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        '@FrontEndBundle/Resources/public/js/plugins/ionRangeSlider/ion.rangeSlider.min.js'
        '@FrontEndBundle/Resources/public/js/bootstrap-slider.js'
        '@FrontEndBundle/Resources/public/js/plugins/bootstrap-select/bootstrap-select.min.js'
        '@FrontEndBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
        '@FrontEndBundle/Resources/public/js/ownership.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            var today_date = "{{ "now"|date("d/m/Y") }}";
            var start_date = "{{ (app.session.get('search_arrival_date') != null) ? (app.session.get('search_arrival_date')|date("d/m/Y")) : ("now"|date("d/m/Y")) }}";
            var end_date = "{{ (app.session.get('search_departure_date') != null) ? (app.session.get('search_departure_date')|date("d/m/Y")) : "+2 days" |date("d/m/Y") }}";

            $.fn.typeahead &&
            $('[data-provide="typeahead"]').typeahead({
                name: "states",
                local: {{ autocomplete_text_list |raw }},
                limit: 4
            });

            $('#more_filters').on('click', function () {
                if ($('#more_filters').hasClass('collapsed')) {
                    $('#button_research').addClass('hide');
                    $('#more_filters').removeClass('collapsed');


                    var full_height = $(window).height() - ($("#search-container").offset().top + $(".filters-container").height() + 20);
                    var scroll_h = full_height - 100;

                    $('#collapseFilters .thumbnail').css("height", full_height + "px");

                    $('#collapseFilters .thumbnail .content-filter').slimScroll({
                        height: scroll_h + 'px',
                        start: 'top'
                    });


                }
                else {
                    $('#button_research').removeClass('hide');
                    $('#more_filters').addClass('collapsed');
                }
            });


//            $('.bs-select').selectpicker({
//                iconBase: 'fa',
//                tickIcon: 'fa-check'
//            });

            var h = $(window).height() - 55 - $('.filters-container').height();
            var h1 = h + $('.filters-container').height();

            $('#map').css('height', h1 + 'px');

            $('#div_result').slimScroll({
                height: h + 'px',
                start: 'top',
                allowPageScroll: true
            }).bind('slimscrolling', function (e, pos) {
                $(window).scroll();
            });


            $("#priceFilter").slider({});
            $('#cancel-filters').on('click',function(){
                $('#button_research').removeClass('hide');
                $('#more_filters').addClass('collapsed');
            });

            $(function(){
                $('img.lazy').jail();

                $(".elementList").each(function(e){
                    var h = $(this).height();
                    if ($(this).find('img.lazy').hasClass('taller'))
                        $(this).find('.efect-blur').css('background-size','auto '+h+"px");
                });
                /*$('.accommodationPhoto').each(function(){
                 var imageHeight = parseInt($(this).height());
                 var imageWidth = parseInt($(this).width());
                 if (imageHeight > imageWidth) {
                 $(this).addClass('taller');
                 }
                 });*/

            });

        </script>
    {% endblock %}

