<a title="My Casa Particular - {{"DESTINATIONS_MAIN_MENU" | trans}}" href="{{ path('frontend_list_destinations') }}">{{"DESTINATIONS_MAIN_MENU" | trans}} {%if destinations | length%}<b class="caret"></b>{%endif%}</a>
{%if destinations | length%} 
<ul class="dropdown-menu">
{%for des in destinations%}
    <li><a href="{{ path('frontend_details_destination',{'destination_name':des.des_name|lower|replace(' ','_')}) }}">{{des.des_name}} ({{des.total_owns}})</a></li>
{%endfor%}
</ul>
{%endif%}