    <a title="{{"USER_ZONE" | trans }}" data-toggle="dropdown" class="dropdown-toggle" href="#">

        {% if app.user.getUserUserName is defined and app.user.UserPhoto.phoName is not null %}
            <img class="icon-avatar img-circle" src="{{ asset('uploads/userImages/'~app.user.UserPhoto.phoName)}}" />
        {% else %}
            <img class="icon-avatar img-circle" src="{{ asset('bundles/frontend/img/user-no-photo.gif')}}"/>
        {% endif %}
        {% if app.user.getUserUserName is defined %}
            {{app.user.getUserUserName | slice(0,10)}}{% if app.user.getUserUserName|length > 10 %}...{% endif %}
        {%else%}
            {{"USER_ZONE" | trans}}
        {%endif%}
        <b class="caret caret-new"></b></a>
    <ul class="dropdown-menu">
        {% if app.user.getUserUserName is defined %}
            <li><a title="{{"USER_PROFILE" | trans }}" href="{{ path('frontend_profile_user') }}">{{"USER_PROFILE" | trans }}</a></li>
            <li><a title="{{"LOG_OUT" | trans}}" href="{{ path('mycp_logout') }}">{{"LOG_OUT" | trans}} </a></li>
        {% else %}
            <li><a title="{{"LOG_IN" | trans }}" href="{{ path('frontend_public_login') }}">{{"LOG_IN" | trans }}</a></li>
            <li><a title="{{"USER_NEW_ACCOUNT" | trans }}" href="{{ path('frontend_register_user') }}">{{"USER_NEW_ACCOUNT" | trans }}</a></li>
        {% endif %}
    </ul>