{% if main_tab is not defined %}
    {% set main_tab = 1 %}
{% endif %}
<ul class="nav nav-tabs" id="main_tab">
    <li {%if  main_tab == 1 %}class="active"{% endif %}><a href="{{ path('frontend_welcome') }}">{{"HOME_MAIN_MENU" | trans}}</a></li>
    <li {%if  main_tab == 2 %}class="active"{% endif %}><a href="{{ path('frontend_list_destinations') }}">{{"DESTINATIONS_MAIN_MENU" | trans}}</a></li>
    <li {%if  main_tab == 3 %}class="active"{% endif %}><a href="#">{{"OFFERS_MAIN_MENU" | trans}}</a></li>
    <li {%if  main_tab == 4 %}class="active"{% endif %}><a href="{{ path('frontend_list_faq')}}">{{"INFO_MAIN_MENU" | trans}}</a></li>
    <li {%if  main_tab == 5 %}class="active"{% endif %}><a href="{{ path('frontend_search_ownership',{'text':'null', 'arrival':'null','departure':'null','guests':'1'}) }}">{{"SEARCH_MAIN_MENU" | trans}}</a></li>
</ul>