<a href="#send_to_friend_popup" title="{{'SEND_TO_FRIEND' | trans}}" data-toggle="modal"><img src="{{ asset('bundles/frontend/images/mail.gif') }}"></a>
<a href="http://www.facebook.com/MyCasaParticular" target="_blank" title="{{'FOLLOW_US_FACEBOOK' | trans}}"><img src="{{ asset('bundles/frontend/images/facebook.gif') }}"></a>
<a href="https://twitter.com/MyCP" target="_blank" title="{{'FOLLOW_US_TWITTER' | trans}}"><img src="{{ asset('bundles/frontend/images/twitter.gif') }}"></a>
<a href="https://pinterest.com/MyCasaParticular" target="_blank" title="{{'FOLLOW_US_PINENTEREST' | trans}}"><img src="{{ asset('bundles/frontend/images/pinenterest.gif') }}"></a>
<a href="#" target="_blank" title="{{'FOLLOW_US_YOUTUBE' | trans}}"><img src="{{ asset('bundles/frontend/images/youtube.gif') }}"></a>

<div class="popup_form modal fade" id="send_to_friend_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <h3 class="form big_price" style="margin: 0;font-size: 25px;">{{'SEND_TO_FRIEND' | trans}}</h3>
        <hr/>
        <p style="font-weight: normal;">One fine body…</p>
        <div class="row-fluid">
            <div class="span6"></div>
            <div class="span3"><button class="btn btn-block mycp_btn_grey mycp_btn" data-dismiss="modal">Cancelar</button></div>
            <div class="span3"><button class="btn btn-block mycp_btn_orange mycp_btn">Enviar</button></div>
        </div>
    </div>
</div>