{% if app.user %}
    <li class="nav-header">
        <div class="dropdown profile-element">
            {{include('MyCpCasaModuleBundle::img-account.html.twig')}}
            {% if app.user.UserPhoto is not null %}
                {% set avatar_img =  asset('uploads/userImages/'~app.user.UserPhoto.phoName) %}
            {% else %}
                {% set avatar_img = asset('bundles/frontend/img/user-no-photo.png') %}
            {% endif %}
            <span class="img-circle dashboard-avatar" style="background: url({{ avatar_img}}) transparent no-repeat scroll center center / cover;display: block;width: 140px;height: 140px;margin-left: 50px">
                {% if app.user.UserPhoto is not null %}
                    {% set avatar_img =  asset('uploads/userImages/'~app.user.UserPhoto.phoName) %}
                {% else %}
                    {% set avatar_img = asset('bundles/sabrusfrontend/img/profile-picture.png') %}
                {% endif %}
               {# {% if app.user.UserPhoto is not null %}
                    <img class="img-circle dashboard-avatar" alt="{{"User image" | trans}}" width="140px" height="140px" style="background: url('{{ asset('uploads/userImages/'~app.user.UserPhoto.phoName)}}')"/>
                {% else %}
                    <img alt="image" class="img-circle dashboard-avatar" src="{{ asset('bundles/frontend/img/user-no-photo.png') }}" width="140px" height="140px"/>
                {% endif %}
#}
            </span>
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">Hola {{ app.user.userUserName~' '~ app.user.userLastName }}</strong>
                </span>
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="text-muted text-xs block" style="font-size: 16px;">{{ 'Subir foto' | trans }} </span></a>
        </div>
        <div class="logo-element">
            <a class="navbar-minimalize">
                <i class="ico_pinunpin glyphicons white right_arrow "></i>
            </a>
        </div>
    </li>
{% endif %}