{% extends 'MyCpCasaModuleBundle::base_dashboard.html.twig' %}

    {% block stylesheets %}

        {{ parent() }}
        <title>{% block title %}{{"WELCOMEPAGE_TITLE" | trans | title}}{% endblock %} *** MyCasaParticular</title>
        {% stylesheets
        '@MyCpCasaModuleBundle/Resources/public/css/bootstrap.min.css'
        '@MyCpCasaModuleBundle/Resources/public/font-awesome/css/font-awesome.min.css'
        '@MyCpCasaModuleBundle/Resources/public/css/glyphicons.css'
        '@MyCpCasaModuleBundle/Resources/public/css/animate.css'
        '@MyCpCasaModuleBundle/Resources/public/css/style.css'
        '@MyCpCasaModuleBundle/Resources/public/css/casa-module.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/chosen/chosen.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/select2/select2.min.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/holdon/HoldOn.min.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/toastr/toastr.min.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/sweetalert/sweetalert.css'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/switchery/switchery.css'
        filter='?uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    {% endblock stylesheets %}

    {% block javascripts_first %}{% endblock javascripts_first %}

    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        '@MyCpCasaModuleBundle/Resources/public/js/jquery-2.1.1.js'
        '@MyCpCasaModuleBundle/Resources/public/js/bootstrap.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/pace/pace.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/toastr/toastr.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/chosen/chosen.jquery.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/select2/select2.full.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/holdon/HoldOn.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/sweetalert/sweetalert.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/switchery/switchery.js'
        '@MyCpCasaModuleBundle/Resources/public/js/inspinia.js'
        '@FrontEndBundle/Resources/public/js/jquery-validation/jquery.validate.min.js'
        '@MyCpCasaModuleBundle/Resources/public/css/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/jquery-geocomplete/jquery.geocomplete.min.js'
        '@MyCpCasaModuleBundle/Resources/public/js/plugins/signals/signals.js'
        '@MyCpCasaModuleBundle/Resources/public/js/App.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step1.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step2.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step3.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step4.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step5.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step6.js'
        '@MyCpCasaModuleBundle/Resources/public/js/script/step7.js'
        filter='?uglifyjs2'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- Custom config -->
        {% include 'MyCpCasaModuleBundle::layout_config.html.twig' %}
        <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/localization/messages_'~app.request.locale~'.js') }}"></script>
    {% endblock javascripts %}

    {% block body %}
        <div id="wrapper">

            {% block nav %}
                <nav class="navbar-default navbar-static-side" role="navigation">
                  <div class="row">
                     <a class="navbar-minimalize minimalize-styl-2 pull-right nav-label" style="margin-right: 20px;" href="#">
                              {#<i class="collapse_arrow"></i>#}
                         <img src="{{ asset('bundles/mycpcasamodule/img/Zaeta-Izquierda.png') }}">
                          </a>
                  </div>
                    <div class="sidebar-collapse">

                        <ul class="nav metismenu" id="side-menu">

                            {% block profile %}
                                {% include 'MyCpCasaModuleBundle::layout_profile.html.twig' %}
                            {% endblock profile %}

                            {% block menu %}
                                {% include 'MyCpCasaModuleBundle::menu.html.twig' %}
                            {% endblock menu %}

                        </ul>
                    </div>
                </nav>
            {% endblock nav %}

            <div id="page-wrapper" class="white-bg">

                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 pull-left hidden-sm hidden-md hidden-lg nav-label" href="#">
                                <i class="ico_pinunpin glyphicons left_arrow"></i>
                            </a>
                            <img src="{{ asset('img/mycp.png') }}" style="margin-top: 5px; margin-left: 25px;">

                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="pull-left" style="margin-right: 10px;">{{ app.user.getName }}</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a href="{{ path('my_cp_casa_logout') }}">
                                    <i class="fa fa-sign-out"></i> Cerrar sesión
                                    </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </nav>
                </div>

                <div id="content_id" class="row white-bg" style="padding-bottom:40px">
                     {% block content %}
                         {% include 'MyCpCasaModuleBundle:Steps:wizard.html.twig' %}
                     {% endblock content %}
                </div>

                {% block footer %}
                    {% include 'MyCpCasaModuleBundle::layout_footer.html.twig' %}
                {% endblock footer %}

            </div>
        </div>
    {% endblock body %}