{% if app.user %}
    <li class="nav-header">
        <div class="dropdown profile-element">
            {{include('MyCpCasaModuleBundle::img-account.html.twig')}}
            <span>
                {% if app.user.UserPhoto is not null %}
                    <img class="img-circle dashboard-avatar" src="{{ asset('uploads/userImages/'~app.user.UserPhoto.phoName)}}" alt="{{"User image" | trans}}" />
                {% else %}
                    <img alt="image" class="img-circle dashboard-avatar" src="{{ asset('bundles/frontend/img/user-no-photo.gif') }}" width="140px" height="140px"/>
                {% endif %}

            </span>
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">Hola {{ app.user.userUserName~' '~ app.user.userLastName }}</strong>
                </span>
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="text-muted text-xs block" style="font-size: 16px;">{{ 'Subir foto' | trans }} </span></a>
        </div>
        <div class="logo-element">
            <a class="navbar-minimalize">
                <i class="ico_pinunpin glyphicons white right_arrow "></i>
            </a>
        </div>
    </li>
{% endif %}