{% extends 'mycpBundle:layout:lodging.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_lodging_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Comentarios</li>
</ul>
{% endblock %}
{% block helpContent %}
<p>En esta sección podrá visualizar todos los comentarios que sus clientes han realizado sobre su propiedad. No podrá editar ni eliminar ninguno de los comentarios que aparecen en el listado, solo podrá ordenarlos por la fecha en que se realizó, la puntuación y el nombre del cliente.</p>
    {% endblock %}
{% block content %}
<h2>Comentarios</h2>
<hr/>
{% for message in app.session.flashbag.get('message_error_local') %}
<div class="alert alert-error">{{ message }}</div>
{% endfor %}
{% if comments %}
<div class="alert">
    {% if filter_ownership ==''%}{% set filter_ownership='null'%}{%endif%}
    {% if filter_user ==''%}{% set filter_user='null'%}{%endif%}
    {% if filter_keyword ==''%}{% set filter_keyword='null'%}{%endif%}
    {% if filter_rate ==''%}{% set filter_rate='null'%}{%endif%}
    {% if sort_by ==''%}{% set sort_by='null'%}{%endif%}
    <div class="row-fluid">
    <div class="pull-left">
       Mostrando del {{items_per_page * current_page - items_per_page}} al {% if items_per_page * current_page >  total_items%}{{total_items }}{% else %}{{ items_per_page * current_page }}{% endif %} de {{total_items}} registros
    </div>
    <div class="pull-right">
        Mostrar:
            <a class="{% if items_per_page == 20 %}selected{% endif %}" href="{{ path('mycp_list_readonly_comments',{'items_per_page':20,'filter_ownership':filter_ownership,'filter_user':filter_user,'filter_keyword':filter_keyword,'filter_rate':filter_rate,'sort_by':sort_by})}}">20</a>
            <a class="{% if items_per_page == 50 %}selected{% endif %}" href="{{ path('mycp_list_readonly_comments',{'items_per_page':50,'filter_ownership':filter_ownership,'filter_user':filter_user,'filter_keyword':filter_keyword,'filter_rate':filter_rate,'sort_by':sort_by})}}">50</a>
            <a class="{% if items_per_page == 100 %}selected{% endif %}" href="{{ path('mycp_list_readonly_comments',{'items_per_page':100,'filter_ownership':filter_ownership,'filter_user':filter_user,'filter_keyword':filter_keyword,'filter_rate':filter_rate,'sort_by':sort_by})}}">100</a>
         <input class="hidden" name="items_per_page" value="100">
    </div>
    </div>
</div>
<div class="row-fluid">
<div class="paginator-cont span9">
    {% if filter_keyword ==''%}{% set filter_keyword='null'%}{%endif%}
    {{ simple_paginator_render('mycp_list_readonly_comments',null,{
'container_class': 'paginator',
'previousPageText': '«',
'nextPageText': '»',
'currentClass': 'current',
'firstPageText': 'Primera',
'lastPageText': 'Última',
'route_params': {'items_per_page':items_per_page,'filter_ownership':filter_ownership,'filter_user':filter_user,'filter_keyword':filter_keyword,'filter_rate':filter_rate,'sort_by':sort_by}
}) }}
</div>
        <div class="span3" style="margin-top: 10px" >
            <form onkeypress="javascript:submit_filters(event);" id="filter" method="post" action="{{path("mycp_list_readonly_comments")}}">
                    <div class="row-fluid">
                        <div class="span3" style="margin-top: 4px; font-size: 12px">
                            Organizar:
                        </div>
                        <div class="span9">
                            <select name="sort_by" id="sort_by" onchange="javascript:action_submit()" class="input-block-level pull-right">
                                {{ render(controller('mycpBundle:BackendUtils:orderBy', {'sortBy': sort_by, 'elementToOrder': constant('\\MyCp\\mycpBundle\\Helpers\\ElementToOrder::COMMENT_LODGING_MODULE')})) }}
                            </select>
                        </div>
                    </div>
                </form>
                </div>
    </div>
    {% if comments %}
        {% for comment in comments %}
            <div class="row-fluid" style="background-color: #ffffff">
                <div class="span12">
                    <div class="span2">
                        <img class="img-polaroid" src="{{ asset('bundles/frontend/img/user_no_photo.gif') }}" alt=""><br/>
                        <em>{{ comment.getComUser.getName }} {{ comment.getComUser.getUserLastName }}</em><br/>
                        <div class="rating_star">
                            {% for i in 1 .. 5 %}{% if i <= comment.getComRate %}<img src="{{ asset('bundles/frontend/img/star_on.png')}}" alt="{{"Start on" | trans}}"/>{% else %}<img src="{{ asset('bundles/frontend/img/star_off.png')}}" alt="{{"Start off" | trans}}"/>{% endif %} {% endfor %}
                        </div>
                    </div>
                    <div class="span10" style="font-size: 16px;">
                        <b style="margin-right: 10px; color: #f06b12">{{comment.comDate | date('d/m/Y')}}</b>
                        {% if comment.getComPublic==0%}<span class="label label-important">No publicado</span>{% else %} <span class="label label-success">Publicado</span>{% endif %}
                        <br /><br />
                        <p style="margin-right: 10%; line_height: 24px">{{ comment.getComComments }}</p>

                    </div>
                </div>
            </div>
            {% if not loop.last %}<hr/>{% endif %}
        {% endfor %}
    {% endif %}

<div class="paginator-cont span11">
    {% if filter_keyword ==''%}{% set filter_keyword='null'%}{%endif%}
    {{ simple_paginator_render('mycp_list_readonly_comments',null,{
'container_class': 'paginator',
'previousPageText': '«',
'nextPageText': '»',
'currentClass': 'current',
'firstPageText': 'Primera',
'lastPageText': 'Última',
'route_params': {'items_per_page':items_per_page,'filter_ownership':filter_ownership,'filter_user':filter_user,'filter_keyword':filter_keyword,'filter_rate':filter_rate,'sort_by':sort_by}
}) }}
</div>
{% else %}
       <p> <div class="alert alert-block">No hay Comentarios disponibles.</div></p>
{% endif %}
{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea eliminar el elemento?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">


        function submit_filters(e)
        {
            if(e.keyCode==13)
            {
                action_submit();
            }
        }

        function action_submit()
        {

            items_per_page={{items_per_page}};
            /*filter_ownership=$('#filter_ownership').val();
             if(filter_ownership=='')*/
            filter_ownership='null';

            /*filter_user=$('#filter_user').val();
             if(filter_user=='')*/
            filter_user='null';

            /*filter_keyword=$('#filter_keyword').val();
             if(filter_keyword=='')*/
            filter_keyword='null';

            /*filter_rate=$('#filter_rate').val();
             if(filter_rate=='')*/
            filter_rate='null';

            sort_by=$('#sort_by').val();
            if(sort_by=='')sort_by='null';

            url_submit=$('#filter').attr('action');
            url_submit=url_submit+'/'+items_per_page+'/'+filter_ownership+'/'+filter_user+'/'+filter_keyword+'/'+filter_rate+'/'+sort_by;
            $('#filter').attr('action',url_submit);
            $('#filter').submit();
        }
    </script>
{% endblock %}
