{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_comments') }}">Comentarios</a> <span class="divider">/</span></li>
    <li class="active">{% if edit_comment is defined %}Editar {% else %}Adicionar {% endif %}comentario</li>
    <li class="pull-right"><a href="{{ path('mycp_list_comments') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_comments') }}">Comentarios</a> <span class="divider">/</span></li>
    <li class="active">{% if edit_comment is defined %}Editar {% else %}Adicionar {% endif %}comentario</li>
    <li class="pull-right"><a href="{{ path('mycp_list_comments') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_comments') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if edit_comment is defined %}Editar {% else %}Adicionar {% endif %}comentario</h2>
<hr/>
<form class="sfgen" {{form_enctype(form)}} method="POST" action="{% if edit_comment is defined %}{{path('mycp_edit_comment',{'id_comment':edit_comment})}}{% else %}{{path('mycp_new_comment')}}{% endif %}" novalidate="true">
{{form_widget(form)}}
{% endblock %}
