{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    {% stylesheets
    '@mycpBundle/Resources/public/css/bootstrap-wysihtml5.css'
    '@LayoutBundle/Resources/public/css/plugins/holdon/HoldOn.min.css'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_mail_list') }}">Listas de correo</a> <span class="divider">/</span></li>
    <li class="active">{% if edit is defined %}Editar {% else %}Adicionar {% endif %}lista</li>
    <li class="pull-right"><a href="{{ path('mycp_list_mail_list') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_mail_list') }}">Listas de correo</a> <span class="divider">/</span></li>
    <li class="active">{% if edit is defined %}Editar {% else %}Adicionar {% endif %}lista</li>
    <li class="pull-right"><a href="{{ path('mycp_list_mail_list') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-success" id="btn_save">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_mail_list') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if edit is defined %}Editar {% else %}Adicionar {% endif %}suplantación de usuario</h2>
<hr/>
<form action="{% if edit_override is defined %}{{ path('mycp_edit_override_user', {'id': edit_override})}}{% else %}{{ path('mycp_add_override_user')}}{% endif %}" method="POST" class="sfgen" enctype="multipart/form-data">
    {% if edit_override is defined %}<input style="display: none;" name="edit_override" value="{{edit_override}}"> {% endif %}
    {{form_row(form._token)}}
    <div class="row-fluid">
        <div class="span4">
            <input type="text" name="user_name_by" id="user_name_by" placeholder="Usuario que suplanta" style="width: 100%">
        </div>
        <div class="span2">
            <a class="btn btn-mini" id="find_user_by"><i class="fa fa-search"></i></a>
        </div>
        <div class="span4">
            <input type="text" name="user_name_to" id="user_name_to" placeholder="Usuario a suplantar" style="width: 100%">
        </div>
        <div class="span2">
            <a class="btn btn-mini" id="find_user_to"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <label class="required"><b>Nombre completo:</b></label>
            <label class="required"><b>Corrreo:</b></label>
        </div>
        <div class="span4">
            <label class="required" id="label_name_by"></label>
            <label class="required" id="label_email_by"></label>
        </div>
        <div class="span2">
            <label class="required"><b>Nombre completo:</b></label>
            <label class="required"><b>Corrreo:</b></label>
        </div>
        <div class="span4">
            <label class="required" id="label_name_to"></label>
            <label class="required" id="label_email_to"></label>
        </div>
    </div>
    <div class="row-fluid">
        {{form_row(form.reason)}}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var url_css_color="{{ asset('bundles/mycp/css/wysiwyg-color.css') }}";
    </script>
    {% javascripts
    '@mycpBundle/Resources/public/js/wysihtml5-0.3.0.min.js'
    '@mycpBundle/Resources/public/js/bootstrap-wysihtml5.js'
    '@mycpBundle/Resources/public/vendors/select2/js/select2.min.js'
    '@mycpBundle/Resources/public/vendors/select2/js/i18n/es.js'
    '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
    '@LayoutBundle/Resources/public/js/plugins/holdon/HoldOn.min.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('.textarea').wysihtml5();
        $(document).ready(function() {
            var idOverrideBy='';
            var idOverrideTo='';
            $('#find_user_by').click(function () {
                find_user($('#user_name_by').val(),$('#label_name_by'),$('#label_email_by'),idOverrideBy);
            });
            $('#find_user_to').click(function () {
                find_user($('#user_name_to').val(),$('#label_name_to'),$('#label_email_to'),idOverrideTo);
            });
            $('#btn_save').click(function () {
                HoldOn.open();
                $.ajax({
                    type:"POST",
                    url:"{{ path('mycp_override_user') }}",
                    data:{'idOverrideBy':idOverrideBy,'idOverrideTo':idOverrideTo},
                    success:function (response) {
                        HoldOn.close();
                        if(response.success){
                        }
                    }
                });
            });
            /**
             *
             * @param name
             */
            function find_user(name,lbName,lbEmail,id){
                if(name!=''){
                    HoldOn.open();
                    $.ajax({
                        type:"POST",
                        url:"{{ path('mycp_find_user') }}",
                        data:{'name':name},
                        success:function (response) {
                            HoldOn.close();
                            if(response.success){
                                lbName.text(response.name);
                                id=response.iduser;
                            }
                        }
                    });
                }

            }
        });
    </script>
{% endblock %}