{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_mail_list') }}">Listas de correo</a> <span class="divider">/</span></li>
    <li class="active">{% if edit is defined %}Editar {% else %}Adicionar {% endif %}lista</li>
    <li class="pull-right"><a href="{{ path('mycp_list_mail_list') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_mail_list') }}">Listas de correo</a> <span class="divider">/</span></li>
    <li class="active">{% if edit is defined %}Editar {% else %}Adicionar {% endif %}lista</li>
    <li class="pull-right"><a href="{{ path('mycp_list_mail_list') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_mail_list') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if edit is defined %}Editar {% else %}Adicionar {% endif %}suplantación de usuario</h2>
<hr/>
<form action="{% if edit_override is defined %}{{ path('mycp_edit_override_user', {'id': edit_override})}}{% else %}{{ path('mycp_add_override_user')}}{% endif %}" method="POST" class="sfgen" enctype="multipart/form-data">
    {% if edit_override is defined %}<input style="display: none;" name="edit_override" value="{{edit_override}}"> {% endif %}

    {{form_widget(form)}}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/wysihtml5-0.3.0.min.js'
    '@mycpBundle/Resources/public/js/bootstrap-wysihtml5.js'
    '@mycpBundle/Resources/public/vendors/select2/js/select2.min.js'
    '@mycpBundle/Resources/public/vendors/select2/js/i18n/es.js'
    '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {%if edit is defined%}
        <script>
            $('.textarea').wysihtml5();
            $(document).ready(function() {

            });
        </script>
    {%endif%}
{% endblock %}