{% extends 'PartnerBundle:Mail:translateMailTemplate.html.twig' %}
{% set user_locale='es' %}
{% block content %}
    <p style="font-family: Arial; font-size: 14px">
        {{ 'label.hellow'|trans({}, "messages", user_locale) }} {{ user_full_name }}: <br/>

        {{ 'partner.email.registeraccount.release'|trans({}, "messages", user_locale) | raw }}

        <br>
        <a target="_blank" href="{{ url('partner.email.registeraccount.release.go') }}"> {{ 'label.email.registeraccount.text.seven'|trans({}, "messages", user_locale) }}</a>
    </p>
{% endblock %}
