<h4 style="font-family: Arial; font-size: 20px">{{"FORGOT_PASSWORD_PAGE_TITLE"|trans}}</h4>
<p style="font-family: arial; font-size: 14px">
    {{ "EMAIL_NEW_PASSWORD"|trans }}: {{ newPassword }}
</p>
<p style="font-family: arial; font-size: 14px">
    {{ "EMAIL_VISIT_LINK"|trans }} <a href='{{ changeUrl }}'>{{ 'PASSWORD_RECOVERY_PAGE_TITLE'|trans }}</a>
</p>