<!--Carousel Wrapper-->

<div id="carousel-example-1z" class="carousel slide carousel-fade" data-interval="5000" data-pause="false" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="view" style="background-image: url('{{ asset('bundles/frontend/img/slideshow/nuevas/2.jpg') }}'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class=" mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="d-none d-md-block row text-center mx-5 wow fadeIn firstwow">
                        <h1 class="mb-4">
                            <strong>{{ "SLOGAN_1" | trans }} {{ "SLOGAN_2" | trans }}</strong>
                        </h1>

                        <h5 class="mb-4 d-none d-md-block dropdown-menu_partner">
                            <strong>{{ "SLOGAN_3" | trans }}</strong>
                        </h5>





                    </div>
                    <!-- Content -->
                    <div class="d-md-none text-center white-text mx-5 wow wow2 fadeIn">
                        <h2 class="mb-4">
                            <strong>{{ "SLOGAN_1" | trans }} {{ "SLOGAN_2" | trans }}</strong>
                        </h2>


                    </div>
                </div>

                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <div class="view" style="background-image: url('{{ asset('bundles/frontend/img/slideshow/nuevas/3.jpg') }}'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class=" mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="d-none d-md-block row text-center mx-5 wow fadeIn firstwow">
                        <h1 class="mb-4">
                            <strong>{{ "SLOGAN_1" | trans }} {{ "SLOGAN_2" | trans }}</strong>
                        </h1>

                        <h5 class="mb-4 d-none d-md-block dropdown-menu_partner">
                            <strong>{{ "SLOGAN_3" | trans }}</strong>
                        </h5>





                    </div>
                    <!-- Content -->
                    <div class="d-md-none text-center white-text mx-5 wow wow2 fadeIn">
                        <h2 class="mb-4">
                            <strong>{{ "SLOGAN_1" | trans }} {{ "SLOGAN_2" | trans }}</strong>
                        </h2>


                    </div>
                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
            <div class="view" style="background-image: url('{{ asset('bundles/frontend/img/slideshow/nuevas/1.jpg') }}'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class=" mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="d-none d-md-block row text-center mx-5 wow fadeIn firstwow">
                        <h1 class="mb-4">
                            <strong>{{ "SLOGAN_1" | trans }} {{ "SLOGAN_2" | trans }}</strong>
                        </h1>

                        <h5 class="mb-4 d-none d-md-block dropdown-menu_partner">
                            <strong>{{ "SLOGAN_3" | trans }}</strong>
                        </h5>





                    </div>
                    <!-- Content -->
                    <div class="d-md-none text-center white-text mx-5 wow wow2 fadeIn">
                        <h2 class="mb-4">
                            <strong>{{ "SLOGAN_1" | trans }} {{ "SLOGAN_2" | trans }}</strong>
                        </h2>


                    </div>
                </div> <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

</div>
<div id="main-search" style="position: relative; z-index: 999;top: 10px;">
    {{ render(controller('FrontEndBundle:Ownership:orangeSearchBar')) }}

</div>
<!--/.Carousel Wrapper-->
