<!--Footer-->
<footer class="page-footer bg-gradient-blue text-center font-small mt-4 wow fadeIn" style="border-top: solid #98CD34 7px;">

    <!--Call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="{{ path('frontend_partner_home') }}" target="_blank" role="button">{{ 'hazte_partner' | trans | upper }}

        </a>
        <a class="btn btn-outline-white" href="{{ path('frontend_mycasatrip_apps') }}" target="_blank" role="button">{{ 'MyCasa Trip APP' | upper }}

        </a>
    </div>
    <!--/.Call to action-->
    </br>

    <!-- Social referes -->
    <!-- Social icons -->

    <div class="pb-5" style="font-size: 40px;">
        <a href="https://www.facebook.com/MyCasaParticular" target="_blank">
            <i class="fa fa-facebook mr-4"></i>
        </a>

        <a href="https://twitter.com/MyCP" target="_blank">
            <i class="fa fa-twitter mr-4"></i>
        </a>

        <a href="https://www.youtube.com/user/MyCasaParticular/featured" target="_blank">
            <i class="fa fa-youtube mr-4"></i>
        </a>



        <a href="https://pinterest.com/MyCasaParticular" target="_blank">
            <i class="fa fa-pinterest mr-4"></i>
        </a>


    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">

        © 2009 - {{ 'today'|date('Y') }}{{ "FOOTER_COPYRIGHT" | trans }}:
        <a href="https://www.mycasaparticular.com" target="_blank"> MyCasaParticular.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->