<!--Footer-->
<footer class="page-footer bg-gradient-blue text-center font-small mt-4 wow fadeIn" style="border-top: solid #98CD34 7px;">
    <div class="container">

        <!--/.Call to action-->
        </br>

        <div class="row">


            <div class="col-md-3">
                <h5 style="    text-align: left;">{{"ABOUT_MYCP" | trans}}</h5>
                <ul class="list-footer" >
                    <li><a title="My Casa Particular - {{"WHO_ARE_WE" | trans}}" href="{{ path('frontend_about_us')}}">{{"WHO_ARE_WE" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"CONTACT_US" | trans}}" href="{{path('frontend_contact_user')}}">{{"CONTACT_US" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"FAQ" | trans}}" href="{{path('frontend_list_faq')}}">{{"FAQ" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"LEGAL_TERMS" | trans}}" href="{{path('frontend_legal_terms')}}">{{"LEGAL_TERMS" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"SECURITY_AND_PRIVACITY" | trans}}" href="{{path('frontend_security_privacity')}}">{{"SECURITY_AND_PRIVACITY" | trans}}</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5 style="    text-align: left;">{{"OUR_SERVICES" | trans}}</h5>
                <ul class="list-footer" >
                    <li>
                        <a  href="{{ path('frontend_partner_home') }}"  role="button">{{ 'hazte_partner' | trans | upper }}

                        </a>

                    </li>
                    <li>
                        <a  href="{{ path('frontend_mycasatrip_apps') }}"  role="button">{{ 'MyCasa Trip APP' | upper }}

                        </a>

                    </li>
                    <li><a
                                href="https://play.google.com/store/apps/details?id=hds.aplications.com.mycubamap">{{ 'MyCuba Map APP' | upper }}</a>
                    <li>
                        <a href="{{ path('frontend_mycasarenta_index') }}">{{ 'MYCASA_RENTA_APP'|trans }}</a>
                    </li>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="text-align: left;">{{"ACCOMMODATIONS" | trans}}</h5>
                <ul class="list-footer">
                    <li><a title="My Casa Particular - {{"TOP_RATED" | trans}}" href="{{ path('frontend_voted_best_list_ownership')}}">{{"TOP_RATED" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Penthouse" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'penthouse' | trans})}}">{{"Penthouse" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Villa con piscina" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'villa-con-piscina' | trans})}}">{{"Villa con piscina" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Apartamento" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'apartamento' | trans})}}">{{"Apartamento" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Casa particular" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'casa-particular' | trans})}}">{{"Casa particular" | trans}}</a></li>
                    {#<li><a title="My Casa Particular - {{"Propiedad completa" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'propiedad-completa' | trans})}}">{{"Propiedad completa" | trans}}</a></li>#}
                </ul>
            </div>




        </div>
    </div>
    <!--Call to action-->


    <!-- Social referes -->
    <!-- Social icons -->

    <div class="pb-2" style="font-size: 35px;">
        <a href="https://www.facebook.com/MyCasaParticular" target="_blank">
            <i class="fa fa-facebook mr-4"></i>
        </a>

        <a href="https://twitter.com/MyCP" target="_blank">
            <i class="fa fa-twitter mr-4"></i>
        </a>

        <a href="https://www.youtube.com/user/MyCasaParticular/featured" target="_blank">
            <i class="fa fa-youtube mr-4"></i>
        </a>



        <a href="https://pinterest.com/MyCasaParticular" target="_blank">
            <i class="fa fa-pinterest mr-4"></i>
        </a>




    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">

        © 2009 - {{ 'today'|date('Y') }}    <a href="https://www.mycasaparticular.com" target="_blank"> MyCasaParticular.com </a> {{ "FOOTER_COPYRIGHT" | trans }}:



    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->