{% if list | length %}
    <style type="text/css">
        .mbox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
            border: 1px solid #e7eaec;
            background-color: #e2e2e2;
        }

        .mbox-header {
            padding: 0;

        }

        .mbox-body {

        }

        .quick-ribbon-custom {
            background-color: #e44f37;
            box-shadow: 4px 5px 5px #444;
            color: white;
            font-size: 14px;
            left: -10px;
            padding: 6px 10px;
            position: absolute;
            top: 5%;
            z-index: 200;
        }

        .quick-ribbon-custom > span {
            color: white !important;
            font-size: 14px;
        }

        .mbox:hover {
            border: solid 1px #A1CB37;
            -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
        }

        .product-desc {
            padding: 8px;
            position: relative;
        }

        .product-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%
        }


    </style>
    <div class="row" style="padding: 10px;color: #6d6c6c;">
        {% for ownership in list %}
            <div class="col-md-4 col-sm-4 col-lg-4 col-xlg-4">
                <div class="mbox">
                    <div class="mbox-header">
                        <div class="thumbnail elementList {% if ownership.OwnInmediateBooking %}with-quick-ribbon {% endif %}"
                             data-id="{{ ownership.own_id }}">
                            {% if ownership.OwnInmediateBooking and ownership.OwnInmediateBooking2 %}
                                <div class="quick-ribbon-custom" style="background-color: #ff0000">
                                    <i class="fa fa-rocket" style="padding: 0px 5px"></i> <span
                                            style="text-align: left;">{{ 'IMMEDIATE_BOOKING'|trans }}</span>
                                </div>
                            {% elseif  ownership.OwnInmediateBooking2 and not ownership.OwnInmediateBooking %}
                                <div class="quick-ribbon-custom" style="background-color: #ff0000">
                                    <i class="fa fa-rocket" style="padding: 0px 5px"></i> <span
                                            style="text-align: left;">{{ 'IMMEDIATE_BOOKING'|trans }}</span>
                                </div>
                            {% endif %}
                            <a target="_blank"
                               href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | urlNormalize}) }}">
                                {{ render(controller( 'FrontEndBundle:Ownership:getThumbnailForSearcher', { 'photo': ownership.photo, 'title': ownership.own_name} )) }}
                            </a>

                            <div class="thumbnail-over col-sm-12">
                                <div class="efect-blur" style="
                                        background-blend-mode: lighten;
                                        background-color: rgba(255, 255, 255, 0.8);
                                        background-position: center top;
                                        background-repeat: no-repeat;
                                        background-size: 100% auto;
                                        -webkit-filter: blur(3px);
                                        filter: blur(3px);
                                        left: 0;
                                        overflow: hidden;
                                        padding-top: 15px;
                                        position: absolute;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        ">
                                </div>
                                <p style="position: relative; float: right;">
                                    {{ "FROM_PRICES" | trans | capitalize }}:
                                    <span class="h-blue h-blue-2"
                                          style="color: #0088dd; font-weight: bold;"> {{ ownership.minimum_price | price }}</span>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="mbox-body">
                        <div class="product-desc">
                            <div class="product-title">
                                <a target="_blank"
                                   href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | urlNormalize}) }}">
                                    <h1 class="h-blue"
                                        style="padding-bottom: 12px;">{{ ownership.own_name | title }}</h1>
                                </a>
                            </div>

                            {% if ownership.category == "Premium" %}
                                <img rel="tooltip" title="{{ ownership.category | trans }}"
                                     class="icon icon-3 tiny-premium-icon"
                                     src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                     style="margin-top: -5px;"
                                     alt="{{ "Mycasaparticular" | trans }}"
                                     title="{{ "Mycasaparticular" | trans }}"/>
                            {% else %}
                                {% if (ownership.category | lower) == ("Rango Medio" | lower) %}
                                    <img alt="{{ "Mycasaparticular" | trans }}"
                                         title="{{ "Mycasaparticular" | trans }}"
                                         rel="tooltip" title="{{ ownership.category | trans }}"
                                         class="icon icon-3 tiny-middle-icon"
                                         src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                         style="margin-top: -5px;"/>
                                {% else %}
                                    <img alt="{{ "Mycasaparticular" | trans }}"
                                         title="{{ "Mycasaparticular" | trans }}"
                                         rel="tooltip" title="{{ ownership.category | trans }}"
                                         class="icon icon-3 tiny-economic-icon"
                                         src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                         style="margin-top: -5px;"/>
                                {% endif %}
                            {% endif %}
                            <span style="color: #0b3251">{{ ownership.category | trans }}</span>

                            {{ include('FrontEndBundle:favorite:itemFavorite.html.twig',
                                {'is_in_favorite': ownership.is_in_favorites,
                                    'favorite_type': 'ownership',
                                    'element_id':ownership.own_id,
                                    'list_preffix' : list_preffix,
                                    'include_text': false
                                }) }}
                            {{ include('FrontEndBundle:cart:addCart.html.twig',{'idOwnership':ownership.own_id}) }}
                            {% if ownership.breakfast_include %}
                                <img class="icon icon-medium cofee-icon" style="float: right;
                                    margin-right: 7px;
                                    margin-top: -4px"
                                     src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                     title="{{ "INCLUDE_BREAKFAST" | trans }}" alt="{{ "INCLUDE_BREAKFAST" | trans }}">
                            {% endif %}
                            <p style="margin: 0;">{{ ownership.prov_name | trans }} , {{ ownership.mun_name }}</p>
                            <p style="margin: 0;">{{ ownership.type | trans }}
                                {{ include('FrontEndBundle:script:script.html.twig') }}
                                {{ ownership.rooms_count }} {% if ownership.rooms_count> 1 %}{{ 'ROOM_PLURAL'|trans }}{% else %}{{ 'ROOM_SINGULAR'|trans }}{% endif %}
                            </p>

                            {% if ownership.rating > 0 %}
                                {% for i in 1..ownership.rating %}
                                    <img class="icon icon-2 tiny-star-icon"
                                         src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                         style="margin-top: -5px;"
                                         alt="{{ "Mycasaparticular" | trans }}"
                                         title="{{ "Mycasaparticular" | trans }}"/>
                                {% endfor %}
                            {% endif %}

                            {% if ownership.rating < 5 %}
                                {% for i in 1..(5-ownership.rating) %}
                                    <img class="icon icon-2 tiny-star-off-icon"
                                         src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                         style="margin-top: -5px;"
                                         alt="{{ "Mycasaparticular" | trans }}"
                                         title="{{ "Mycasaparticular" | trans }}"/>
                                {% endfor %}
                            {% endif %}
                            <span style="color: #0b3251">{{ ownership.comments_total }} {{ 'FORMS_COMMENTS'|trans }}</span>
                            {% if ownership.award %}
                                <img src="{{ asset("uploads/awards/") ~ ownership.award }}" class="pull-right"
                                     style="margin-top: -40px; width: 20%" alt="{{ "Mycasaparticular" | trans }}"
                                     title="{{ "Mycasaparticular" | trans }}"/>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert a alert-info">{{ "EMPTY_LIST" | trans }}</div>
{% endif %}




