{% if list | length %}
    <style type="text/css">


        .quick-ribbon-custom {
            background-color: #e44f37;
            box-shadow: 4px 5px 5px #444;
            color: white;
            font-size: 14px;
            left: -10px;
            padding: 6px 10px;
            position: absolute;
            top: 5%;
            z-index: 1002;
        }

        .quick-ribbon-custom > span {
            color: white !important;
            font-size: 14px;
        }




    </style>
    <div class="row" style="margin:0;">
        {% for ownership in list %}
            <div class="col-lg-4 col-md-10 col-md-5 mb-3">
                <div class="card">

                    <!--Card image-->
                    <div class="view">
                        {% set url_image = asset("uploads/ownershipImages/" ~ ownership.photo) %}
                        {{ render(controller( 'FrontEndBundle:Ownership:getThumbnailForSearcher', { 'photo': ownership.photo, 'title': ownership.own_name} )) }}

                        <a target="_blank" href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | urlNormalize}) }}">
                            <div class="overlay mask rgba-white-slight ">
                                <div class="thumbnail-title  clearfix">
                                    <p style="position: relative; float: right;">
                                        {{ "FROM_PRICES" | trans | capitalize }}:
                                        <span class="h-blue h-blue-2"
                                              style="color: #0088dd; font-weight: bold;"> {{ ownership.minimum_price | price }}</span>
                                    </p>
                                </div>

                                {% if ownership.OwnInmediateBooking2 %}
                                    <div class="quick-ribbon-custom" style="background-color: #ff0000">
                                        <i class="fa fa-rocket" style="padding: 0px 5px"></i>
                                        <span style="text-align: left;">{{ 'IMMEDIATE_BOOKING'|trans }}</span>
                                    </div>

                                {% elseif  ownership.OwnInmediateBooking %}
                                    <div class="quick-ribbon-custom" style="background-color: #e44f37">
                                        <i class="fa fa-flash" style="padding: 0px 5px"></i>
                                        <span style="text-align: left;">{{ 'quick_bookinhg'|trans }}</span>
                                    </div>


                                {% endif %}
                            </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <div class="card-title">
                        <a target="_blank"
                           href="{{ path('frontend_details_ownership',{'own_name':ownership.own_name  | urlNormalize}) }}">
                            <h1 class="h-blue"
                                style="padding-bottom: 12px;">{{ ownership.own_name | title }}</h1>
                        </a>
                            {% if ownership.award %}
                                <img src="{{ asset("uploads/awards/") ~ ownership.award }}" class="overlay pull-right"
                                     style="margin-top: -50px; width: 20%" alt="{{ "Mycasaparticular" | trans }}"
                                     title="{{ "Mycasaparticular" | trans }}"/>

                            {% endif %}
                        </div>
                        <!--Text-->

                        <div class="no-margin">
                            <div class="row">
                                <div class="col">
                                    {% if ownership.category == "Premium" %}
                                        <img rel="tooltip" title="{{ ownership.category | trans }}"
                                             class="icon icon-3 tiny-premium-icon"
                                             src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                             style="margin-top: -5px;"
                                             alt="{{ "Mycasaparticular" | trans }}"
                                             title="{{ "Mycasaparticular" | trans }}"/>
                                    {% else %}
                                        {% if (ownership.category | lower) == ("Rango Medio" | lower) %}
                                            <img alt="{{ "Mycasaparticular" | trans }}"
                                                 title="{{ "Mycasaparticular" | trans }}"
                                                 rel="tooltip" title="{{ ownership.category | trans }}"
                                                 class="icon icon-3 tiny-middle-icon"
                                                 src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                 style="margin-top: -5px;"/>
                                        {% else %}
                                            <img alt="{{ "Mycasaparticular" | trans }}"
                                                 title="{{ "Mycasaparticular" | trans }}"
                                                 rel="tooltip" title="{{ ownership.category | trans }}"
                                                 class="icon icon-3 tiny-economic-icon"
                                                 src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                                 style="margin-top: -5px;"/>
                                        {% endif %}
                                    {% endif %}
                                    <small>{{ ownership.category | trans }}</small>
                                </div>

                            </div>



                            <p style="margin: 0;">{{ ownership.prov_name | trans }} , {{ ownership.mun_name }}</p>
                            <p style="margin: 0;">{{ ownership.type | trans }}

                                {#<script type="text/javascript">#}
                                {#$(function () {#}
                                {#$("img.lazyload").unveil();#}

                                {#/*$('.accommodationPhoto').each(function()}#}
                                {#var imageHeight = parseInt($(this).height());#}
                                {#var imageWidth = parseInt($(this).width());#}
                                {#if (imageHeight > imageWidth) }#}
                                {#$(this).addClass('taller');#}
                                {#}#}
                                {#});*/#}


                                {#});#}
                                {#</script>#}
                                {{ include('FrontEndBundle:script:script.html.twig') }}
                                {{ ownership.rooms_count }} {% if ownership.rooms_count> 1 %}{{ 'ROOM_PLURAL'|trans }}{% else %}{{ 'ROOM_SINGULAR'|trans }}{% endif %}
                            </p>

                            {% if ownership.rating > 0 %}
                                {% for i in 1..ownership.rating %}
                                    <img class="icon icon-2 tiny-star-icon"
                                         src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                         style="margin-top: -5px;"
                                         alt="{{ "Mycasaparticular" | trans }}"
                                         title="{{ "Mycasaparticular" | trans }}"/>
                                {% endfor %}
                            {% endif %}

                            {% if ownership.rating < 5 %}
                                {% for i in 1..(5-ownership.rating) %}
                                    <img class="icon icon-2 tiny-star-off-icon"
                                         src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                         style="margin-top: -5px;"
                                         alt="{{ "Mycasaparticular" | trans }}"
                                         title="{{ "Mycasaparticular" | trans }}"/>
                                {% endfor %}
                            {% endif %}
                            <small>{{ ownership.comments_total }} {{ 'FORMS_COMMENTS'|trans }}</small>
                            <div class="row-eq-height">
                                <div class="pull-right">
                                    {% if ownership.breakfast_include %}
                                        <span class="favorite_action" style="margin-right: 16px;">
                                <img class="icon icon-medium cofee-icon" style="margin-left:-8px"
                                     src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"
                                     title="{{ "INCLUDE_BREAKFAST" | trans }}" alt="{{ "INCLUDE_BREAKFAST" | trans }}">
                                   </span>
                                    {% endif %}
                                    {{ include('FrontEndBundle:favorite:itemFavorite.html.twig',
                                        {'is_in_favorite': ownership.is_in_favorites,
                                            'favorite_type': 'ownership',
                                            'element_id':ownership.own_id,
                                            'list_preffix' : list_preffix,
                                            'include_text': false
                                        }) }}
                                    {{ include('FrontEndBundle:cart:addCart.html.twig',{'idOwnership':ownership.own_id}) }}

                                </div> </div>
                        </div>
                    </div>

                </div>



            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert a alert-info">{{ "EMPTY_LIST" | trans }}</div>
{% endif %} 