{%if show_comments_and_friends > 0%}
<h3>{{"USER_COMMENTS_TAB" | trans}} ({{comments_total_items}})</h3>
                <hr class="hr-green margin-t" style="margin-bottom: 20px"/>
                <div class="comments">
                    {%for comment in comments%}
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="{{asset('uploads/userImages/no_photo.gif')}}"/>
                        </div>
                        <div class="col-xs-10">
                             {%if comment.getComRate > 0%}
                                        {%for i in 1..comment.getComRate%}
                                   <img class="icon icon-2 tiny-star-icon" src="{{asset('bundles/frontend/img/icons/pixel.gif')}}">
                                {%endfor%}
                                        {%endif%}

                                        {%if comment.getComRate < 5%}
                                        {%for i in 1..(5-comment.getComRate)%}
                                    <img class="icon icon-2 tiny-star-off-icon" src="{{asset('bundles/frontend/img/icons/pixel.gif')}}">
                                    {%endfor%}
                                        {%endif%}
                            <br/>
                            <h4 class="caecilia-roman">{{comment.getComUser.getUserCompleteName}} - <small>{{comment.comdate | date('M d, Y')}}</small></h4>
                            <p>
                                {{comment.getComComments}}
                            </p>
                        </div>
                    </div>
                    <hr class="margin-t"/>
                    {%endfor%}
                </div>
                <div class="text-center">
                     {%if comments | length and comments_total_items > comments_items_per_page%}   
                        <div class="text-center">
                        {{ simple_paginator_render('frontend_details_ownership',null,{
                        'container_class': 'pagination',
                        'previousPageText': '«',
                        'nextPageText': '»',
                        'currentClass': 'current',
                        'firstPageText': 'FIRST_PAGE' | trans,
                        'lastPageText': 'LAST_PAGE' | trans,
                        'route_params': {'own_name':ownership.ownname|lower|replace(' ','_')}
                    }) }}
                            </div>
                    {%endif%}                    
                </div>
{%endif%}