{% set flag = 0%}
{% set service_flag = 0%}
{% set totalRoomPrice = 0 %}
{% set total_percent = 0 %}
{% for date in dates_string %}
    {% set service_flag = 0%}
    {% if array_clear_date[dates_timestamp[flag]] is not defined %}
        {% if not loop.last %}
            <div class="item" id="">
                <table cellpadding="15" class="full-width">
                    <tbody><tr>
                        <td class="date"><span>{{dates_string_day[flag]}}</span>{{date}}</td>
                        <td class="content_table">
                                {% for item in cartItems %}
                                {% set plus = 0 %}
                                {% set season_type = array_season[dates_timestamp[flag]][service_flag]%}
                                {% set roomPrice = roomPriceBySeason(item.cartRoom, season_type)%}
                                {% if item.tripleRoomCharged %}
                                    {% set plus = configuration_triple_room_charge %}
                                {% endif %}
                                {% if dates_timestamp[flag] >= item.cartDateFrom | date("U") and dates_timestamp[flag] <= item.cartDateTo | date("U")%}
                                    {% if dates_timestamp[flag] != item.cartDateTo | date("U") %}
                                        <table class="full-width">
                                            <tr id="{{ item.cartId }}-{{ dates_timestamp[flag] }}">
                                                <td class="name">{{ item.cartRoom.roomOwnership.ownAddressMunicipality.munName}}, {{ item.cartRoom.roomOwnership.ownName}}</td>
                                                <td class="room-type">{{ item.cartRoom.roomType |trans}}</td>
                                                <td class="persons">{{"ADULTS"|trans}}: {{ item.cartCountAdults}} <br/> {{"KIDS"|trans}}: {{ item.cartCountChildren}}</td>
                                                <td class="cost"><h3 class="no-margin">

                                                        {% set total_percent =  total_percent + ((roomPrice + plus) * item.cartRoom.roomOwnership.ownCommissionPercent / 100) %}
                                                        {% if item.tripleRoomCharged%}
                                                            {{ roomPrice | price}}
                                                            {% set totalRoomPrice = totalRoomPrice +  (roomPrice + plus) %}
                                                        {% else %}
                                                            {{ roomPrice | price}}
                                                            {% set totalRoomPrice = totalRoomPrice +  roomPrice %}
                                                        {% endif %}


                                                    </h3><small class="margin-b-t"><i>{{ "PRICE_NIGHT"|trans }}</i></small></td>
                                                {% if item.tripleRoomCharged %}
                                                <td style="vertical-align: top; padding-top: 2%"> + </td>
                                                <td style="vertical-align: top"  rel="tooltip" title="{{ "RESERVATION_TRIPLE_CHARGE" | trans}} {{configuration_triple_room_charge | price}}"><h5>{{plus | price}}</h5></td>
                                                {%endif%}
                                                <td class="text-center"><button data="{{ item.cartId }}-{{ dates_timestamp[flag] }}" class="btn_delete" rel="tooltip" data-placement="top" title="{{ 'REMOVE_RESERVE'|trans }}"><i class="icon-remove-sign"></i></button></td>
                                            </tr>
                                        </table>
                                    {% else %}

                                    {% endif %}
                                {% endif %}
                                {% set service_flag = service_flag + 1%}
                            {% endfor %}</td>
                    </tr>
                    </tbody></table>
            </div>
        {% endif %}
    {% endif %}
    {% set flag = flag + 1 %}
{% endfor %}
{% set nights = dates_string | length %}
<!--label>Comentarios:</label-->
<form method="POST" action="{{ path('frontend_check_availability_submit_cart') }}">
<!--textarea style="height: 100px" name="comment_cart" class="form-control"></textarea-->
<div class="row h-blue prices-cart">
    <div class="col-sm-3">{{"ACCOMMODATION_TOTAL_COST" | trans}} <br/><span>{{totalRoomPrice | price}}</span></div>
    <div class="col-sm-1">
        <label>+</label>
    </div>
    <div class="col-sm-2">{{"SERVICE_TOURIST_TAX" | trans}}: <br/><span>{{touristTax | price}}</span></div>
    <div class="col-sm-1">
        <label>+</label>
    </div>
    <div class="col-sm-2">{{"SERVICE_FIXED_TAX" | trans}}: <br/><span>{{currentServiceFee.fixedFee | price}}</span></div>
    <div class="col-sm-1">
        <label>=</label>
    </div>
    <div class="col-sm-2 text-right">
        {{ 'RESERVATION_TOTAL_PRICE' | trans }} <br/>
        <span>{{(totalRoomPrice + touristTax + currentServiceFee.fixedFee) | price}}</span>
    </div>
</div>
<div class="row h-blue prices-cart">
    <div class="col-sm-6">
        {{"TOTAL_PREPAYMENT" | trans}}: <span>{{(total_percent +touristTax + currentServiceFee.fixedFee) | price}}</span>
    </div>
    <div class="col-sm-6 text-right">
        {{"TOTAL_PAY_AT_SERVICE" | trans}}: <span>{{(totalRoomPrice - total_percent) | price}}</span> <br/>
        {% set currSymbol = app.session.get('curr_symbol') != null ? app.session.get('curr_symbol'): default_currency().currsymbol %}
        {% if currSymbol != "CUC" %}
            <span style="font-size: small">CUC {{ (totalRoomPrice - total_percent) | number_format(2) }}</span>
        {% endif %}
    </div>
</div>
<script type="text/javascript">

    $('.content_table').each(function(){

        if($(this).children("table").length==0)
        {
            $(this).parent().parent().remove();
        }
    });
    $('.btn_delete').click(function(){
        $('#confirmation_modal').modal('show');
        $('#delete_button').attr('data',$(this).attr('data'));
        $('#delete_button').attr('btn_launch',$(this).attr('id'));
    });

</script>