<a title="{{"CART" | trans }}" href="{{ path('frontend_view_cart') }}" style="margin-top: 10px" class="count-info">
  <img style="width: 26px; height: 23px;" class="icon {%if count > 0%}cart-full-icon{%else%}cart-icon{%endif%}" src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}"/>
   {{"CART" | trans }}
    <span style="height: 15px;width: 20px" class="label" id="count-cart">  {{count}} </span>
</a>
{#<span {%if count > 0%}style="color: #87AB41;{% endif %} font-size: 13px"><b>({{count}})</b></span>#}
