<a style="margin-left: -20px"  title="{{"FAVORITIES" | trans }}" href="{{ path('frontend_list_favorite') }}">    {#<span class="label" id="count-cart">  {{count}} </span>#}
    <span style="background: #f4981d;
    position: relative;
    border-radius: 50%;
    top: -10px;
    left: 3px;" class="badge" id="count-favorites">  {{count}} </span>


    <img  style="width: 26px; height: 23px;" class="icon big-heart-icon" title="{{"FAVORITIES" | trans}}" alt="{{"FAVORITIES" | trans}}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/> {{"FAVORITIES" | trans }}




</a>
