<a id="list-cart" title="{{"WHISH_LIST" | trans }}" {%if count > 0%}href="#"{% else %}href="{{ path('frontend_view_cart') }}"{% endif %} style="margin-top: 10px"  {%if count > 0%} data-toggle="dropdown" class="dropdown-toggle count-info" aria-expanded="true"{% else %} class="count-info" {% endif %}>
    <span style="height: 19px;margin-right: 25px;margin-top: 3px;position: absolute;width: 20px;" class="label" id="count-cart">  {{count}} </span>
    {%if count > 0%}
        <img style="width: 23px; height: 23px;" src="{{ asset('bundles/frontend/img/icons/whishlistv.png')}}" alt="{{"Pixel" | trans}}"/>
        {% else %}
            <img style="width: 23px; height: 23px;" src="{{ asset('bundles/frontend/img/icons/whishlist.png')}}" alt="{{"Pixel" | trans}}"/>
    {% endif %}
    {% if is_mobile() != true %} {{"WHISH_LIST" | trans }} {% endif %}

</a>
 {{ render(controller('FrontEndBundle:Cart:getCartBody',{'flag':'true'})) }}