<a title="{{"CART" | trans }}" {%if count > 0%}href="#"{% else %}href="{{ path('frontend_mycasatrip_available') }}"{% endif %} style="margin-top: 10px" {%if count > 0%} data-toggle="dropdown" class="dropdown-toggle count-info" aria-expanded="true"{% else %} class="count-info" {% endif %}>
    <img style="width: 26px; height: 23px;" class="icon {%if count > 0%}cart-full-icon{%else%}cart-icon{%endif%}" src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" alt="{{"Pixel" | trans}}"/>
    {% if is_mobile() != true %} {{"CART" | trans }} {% endif %}
    <span style="height: 15px;width: 20px" class="label" id="count-cesta">  {{count}} </span>
</a>
{{ render(controller('FrontEndBundle:Mycasatrip:available',{'order_by':'0','flag':'1'})) }}
