<div id="total-cesta" class="hide" data-counter="{{ res_available | length }}"></div>
<li>
    <div class="text-center link-block">
        <a href="{{ path('frontend_mycasatrip_available') }}" onclick="window.location=this.href">
            <i class="fa fa-shopping-cart"></i> <strong> {{"CART" | trans }}</strong>
        </a>
    </div>
</li>
<li class="divider"></li>
<form method="POST" action="{{ path('frontend_redirect_reservation_reservation') }}" style="margin: 0">
    {% for res in res_available %}
        <li>
            <div class="dropdown-messages-box container">
                <div class="row">
                    <div class="col-md-12" style="padding: 0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <a href="{{ path('frontend_details_ownership',{'own_name':res['own_res_gen_res_id']['gen_res_own_id']['own_name']  | urlNormalize}) }}">
                                        <strong>{{ res['own_res_gen_res_id']['gen_res_own_id']['own_address_municipality']['mun_name']|title }}, {{ res['own_res_gen_res_id']['gen_res_own_id']['own_name'] }}</strong>.
                                    </a>
                                    </br>
                                    <small class="text-muted">{{res['own_res_room_type']|trans}}</small>
                                </div>
                                <div class="col-md-12">
                                    <strong>{{"ADULTS"|trans}}:</strong>  {{res['own_res_count_adults']}} | <strong>{{"KIDS"|trans}}: </strong> {{res['own_res_count_childrens']}}
                                </div>
                                <div class="col-md-12" style="color:#0088dd !important;font-size: 24px">
                                    {%if res['own_res_night_price'] != 0%}
                                        {{(res['own_res_night_price'] *(nights[loop.index0])) | price}}
                                    {%else%}
                                        {{res['own_res_total_in_site'] | price}}
                                    {%endif%}
                                </div>
                                <div class="col-md-9">
                                    <a>
                                        <input name="checkbox_{{res['own_res_id']}}" type="checkbox" style="font-size: 12px"> {{"SELECT_FOR_PAYMENT" | trans}}
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-success" style=" background-image: none !important;font-size: 11px;padding: 4px;margin-left: -38px">{{"CONTINUE_RESERVING" | trans}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <hr/>
    {% endfor %}
</form>