<!-- Modal -->
<div class="modal fade" id="confirmation_modal_delete">
    <div class="modal-dialog" style="margin-top: 10%">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                {{"REMOVE_RESERVATION_CONFIRM"|trans}}
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn">{{"CANCEL"|trans}}</button>
                <button id="delete_button_reservation" data="" class="btn btn-primary">{{"REMOVE"|trans}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dalog -->
</div><!-- /.modal -->


<ul class="dropdown-menu dropdown-messages" style="background-color:#fff;width: 340px" id="whish-list">
    {{ include('FrontEndBundle:cart:contentCart.html.twig')}}
</ul>
<script type="text/javascript">
    function showModalDeleteWishList(e){
        $('#confirmation_modal_delete').modal('show');
        $('#delete_button_reservation').attr('data',e.attr('data'));
        $('#delete_button_reservation').attr('btn_launch',e.attr('id'));
    }

    $('#delete_button_reservation').on('click',function(){
        string_url="{{ path('frontend_remove_from_whislist')}}";
        data_remove=$(this).attr('data');
        $('.btn_delete_reservation').attr('disabled','disable');
        $('#'+$(this).attr('btn_launch')).attr('class','in_process');
        $('#confirmation_modal_delete').modal('hide');
        $.ajax({
            type: "POST",
            url: string_url,
            data:{'data':data_remove},
            success: function(response){
                $('#whish-list').html(response);
                $('#count-cart').text($('#total-cart').data('counter'));
            }
        });
    });
</script>