{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block another_in_head %}
    <link href="{{ asset('bundles/mycp/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li class="active">Logs</li>
</ul>
{% endblock %}
{% block content %}
<h2>Logs</h2>
<hr/>
{% for message in app.session.flashbag.get('message_error_local') %}
<div class="alert alert-error">{{ message }}</div>
{% endfor %}
{% if count_logs == 0 and msg_session==0 and post['submit'] is defined %}<div class="alert alert-error">No hay Logs disponibles.</div>{% endif %}
<form id="form_logs" action="{{ path('mycp_list_logs') }}" method="POST" >
<div class="well well-small">
    <div class="row-fluid">
        <div class="span2">
            <label>Rol:</label>
            <select class="input-block-level" name="role" id="role"/>
            {{ render(controller('mycpBundle:BackendLog:get_roles', {'selected': post})) }}
            </select>
        </div>
        <div class="span2">
            <label>Usuario:</label>
            <select class="input-block-level" name="user" id="user"/>
            {{ render(controller('mycpBundle:BackendLog:get_users', {'selected': post,'role': post['role']})) }}
            </select>
        </div>
        <div class="span2">
            <label>Módulo:</label>
            <select class="input-block-level" name="module" id="module"/>
            {{ render(controller('mycpBundle:BackendLog:get_modules', {'selected': post})) }}
            </select>
        </div>
        <div class="span2">
            <label>Fecha inicio:</label>
            <input id="from_date" value="{% if post['from_date'] is defined %}{{ post['from_date'] }}{% endif %}" class="input-block-level datepicker" name="from_date" type="text"/>
        </div>
        <div class="span2">
            <label>Fecha fin:</label>
            <input id="to_date" value="{% if post['to_date'] is defined %}{{ post['to_date'] }}{% endif %}" class="input-block-level datepicker" name="to_date" type="text"/>
        </div>
        <div class="span2">
            <label>&nbsp;</label>

            <div class="row-fluid">
                <div class="span6">
                    <a rel="tooltip" title="Filtrar listado" href="javascript:action_submit();" class="tooltip_msg btn btn-block btn-success"><i class="icon-filter icon-white"></i></a>
                </div>
                <div class="span6">
                    <a rel="tooltip" title="Resetear filtrado " href="{{ path('mycp_list_logs') }}" class="tooltip_msg btn btn-block btn-danger"><i class="icon-remove icon-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<div class="row-fluid">
    <div class="span12">
        <textarea class="input-block-level" style="height: 300px; font-size: 12px">{% if logs %}Logs{{'\n'}}-----------------------------------------------------{{'\n'}}{%endif%}{% for log in logs %}- {{log.getLogDescription}}{% if log.getLogDescription != 'Login'%} in module {% else %} into {% endif %}({{log.getLogModule | moduleName }}) by {{log.getlogUser.getName}} in date {{ log.getLogDate|date("d/m/Y") }} on time {{ log.getLogTime }}{{'\n'}}{% endfor %}</textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span9"></div>
    <div class="span3">
        <button data='{{ path('mycp_delete_logs') }}' class="btn btn-block btn-danger delete"><i class="icon-remove icon-white"></i> Limpiar informes de logs</button>
    </div>
</div>
 {% if logFiles %}
     <h4>Ficheros</h4>

     {% for file in logFiles %}
         <a href="{{ path("mycp_logs_download_file", {"fileName": file}) }}" target="_blank">{{ file }}</a>
     {% endfor %}
 {% endif %}

{% include 'mycpBundle:utils:confirmation_window.html.twig' with {'message':'¿Confirma que desea eliminar los elementos?','confirmation_action_label':'Eliminar'}%}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@mycpBundle/Resources/public/js/common_list.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.js'
    '@mycpBundle/Resources/public/js/bootstrap-datepicker.es.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        url = "{{ path('mycp_get_users_logs',{ 'selected':'-1', 'role':'-1'}) }}";
        url=url.replace('/-1','');
        url=url.replace('/-1','');

        $('#role').change(function(){
            role = $('#role').val();
            array_role=role.split('_')
            selected = $('#user').val();
            if(selected=='')
                selected='null';
            if(role!='')
            {
                $('#user').html('<option value="">Cargando...</option>');
                $.ajax({
                    type:"POST",
                    url:url+'/'+ selected + '/'+ role,
                    success:function (msg) {
                        $('#user').html(msg);
                    }
                });
            }
        });

        $('#user').change(function(){
            role_user=$('#user option:selected').attr('class');
            $("#role option[value="+ role_user +"]").attr("selected",true);
        });

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: 'linked',
            language: 'es'
        });

        function action_submit()
        {
            $('#form_logs').submit();
        }
    </script>
{% endblock %}