{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administración{% endblock %}
{% block top_body %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_destination') }}">Destinos</a> <span class="divider">/</span></li>
    {% if data['edit_destination'] is defined %}
    <li class="active">Editar destino</li>
    {% else %}
    <li class="active">Adicionar destino</li>
    {% endif %}
    <li class="pull-right"><a href="{{ path('mycp_list_destination') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
{% endblock %}
{% block form_actions %}
<ul class="breadcrumb">
    <li><a href="{{path('mycp_backend_front')}}">Administración</a> <span class="divider">/</span></li>
    <li><a href="{{ path('mycp_list_destination') }}">Destinos</a> <span class="divider">/</span></li>
    {% if data['edit_destination'] is defined %}
    <li class="active">Editar destino</li>
    {% else %}
    <li class="active">Adicionar destino</li>
    {% endif %}
    <li class="pull-right"><a href="{{ path('mycp_list_destination') }}"><i class="icon-hand-left"></i> Volver atrás</a></li>
</ul>
<div class="form-actions">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn" href="{{ path('mycp_list_destination') }}">Cancelar</a>
</div>
</form>
{% endblock %}
{% block content %}
<h2>{% if data['edit_destination'] is defined %}Editar destino ({{data['name_destination']}}){% else %} Adicionar destino {% endif %}</h2>

<hr/>
{% if errors %}<label class="alert alert-error">Debe llenar el formulario correctamente.</label>{%endif%}
<form action="{{ path('mycp_new_destination')}}" method="POST">
{% if data['edit_destination'] is defined %}<input style="display: none;" name="edit_destination" value="{{data['id_destination']}}"> {% endif %}

<label>Nombre:</label>{% if errors['name'] is defined %}<label class="error">{{errors['name']|trim(':')}}</label>{%endif%}
<input class="span12" name="name" value="{% if(data['name'] is defined) %}{{data['name']}}{% endif %}" type="text"/>
    <br/>
    <h3 class="title">Descripción breve</h3>
{% for language in languages %}
    <label>{{language.lang_name |title}}:</label>
    {%if errors["brief_"~language.lang_id] is defined %}<label class="error">{{errors["brief_"~language.lang_id]|trim(':')}}</label>{%endif%}
    <textarea class="span12 textarea" name="brief_{{language.lang_id}}">{%if data["brief_"~language.lang_id] is defined %}{{data["brief_"~language.lang_id]}}{%endif%}</textarea><br/>
{% endfor %}
    <h3 class="title">Descripción</h3>
    {% for language in languages %}
    <label>{{language.lang_name |title}}:</label>
    {%if errors["desc_"~language.lang_id] is defined %}<label class="error">{{errors["desc_"~language.lang_id]|trim(':')}}</label>{%endif%}
    <textarea class="span12 textarea" id="desc_{{language.lang_id}}" name="desc_{{language.lang_id}}">{%if data["desc_"~language.lang_id] is defined %}{{data["desc_"~language.lang_id]}}{%endif%}</textarea><br/>
    {% endfor %}
    <h3 class="title">SEO</h3>
    {% for language in languages %}
        <label>Keywords en {{language.lang_name |title}} separadas por coma:</label>
        {%if errors["seo_keyword_"~language.lang_id] is defined %}<label class="error">{{errors["seo_keyword_"~language.lang_id]|trim(':')}}</label>{%endif%}
        <input type="text" value="{% if(data["seo_keyword_"~language.lang_id] is defined) %}{{data["seo_keyword_"~language.lang_id]}}{% endif %}" class="span12" name="seo_keyword_{{language.lang_id}}">
        <br/><br/>
        <label>Descripción en {{language.lang_name |title}} máximo 160 caracteres:</label>
        {%if errors["seo_description_"~language.lang_id] is defined %}<label class="error">{{errors["seo_description_"~language.lang_id]|trim(':')}}</label>{%endif%}
        <textarea class="span12" name="seo_description_{{language.lang_id}}">{%if data["seo_description_"~language.lang_id] is defined %}{{data["seo_description_"~language.lang_id]}}{%endif%}</textarea>
        <br/>
    {% endfor %}

    <h3 class="title">Ubicación</h3>
    {%if errors["ownership_address_province"] is defined %}<label class="error">{{errors["ownership_address_province"]|trim(':')}}</label>{%endif%}
    <div class="row-fluid">
    <div class="span6">
        <label>Provincia:</label>
        <select class="input-block-level" name="ownership_address_province" id="ownership_address_province"/>
        {{ render(controller('mycpBundle:Public:get_provinces', {'post': data})) }}
        </select>
    </div>
    <div class="span6">
        <label>Municipio:</label>
        <select class="input-block-level" name="ownership_address_municipality" id="ownership_address_municipality"/>
        {{ render(controller('mycpBundle:Public:get_mun', {'post': {'ownership_address_municipality':data['ownership_address_municipality']}})) }}
        </select>
    </div>
    </div>
    <h3 class="title">Información (*)</h3>
    <div class="row-fluid">
        <div class="span6">
            <label>Población:</label>
            {%if errors["poblation"] is defined %}<label class="error">{{errors["poblation"]|trim(':')}}</label>{%endif%}
            <input type="text" name="poblation" class="input-block-level" value="{%if data["poblation"] is defined %}{{data["poblation"]}}{%endif%}"/>
        </div>
        <div class="span6">
            <label>Lugar de referencia:</label>
            {%if errors["ref_place"] is defined %}<label class="error">{{errors["ref_place"]|trim(':')}}</label>{%endif%}
            <input type="text" name="ref_place" class="input-block-level" value="{%if data["ref_place"] is defined %}{{data["ref_place"]}}{%endif%}"/>
        </div>
    </div>
    <h3 class="title">Geolocalización (*)</h3>
    <div class="row-fluid">
        <div class="span6">
            {%if errors["geolocate_x"] is defined %}<label class="error">{{errors["geolocate_x"]|trim(':')}}</label>{%endif%}
            <input type="text" placeholder="x" name="geolocate_x" class="input-block-level" value="{%if data["geolocate_x"] is defined %}{{data["geolocate_x"]}}{%endif%}"/>
        </div>
        <div class="span6">
            {%if errors["geolocate_y"] is defined %}<label class="error">{{errors["geolocate_y"]|trim(':')}}</label>{%endif%}
            <input type="text" placeholder="y" name="geolocate_y" class="input-block-level" value="{%if data["geolocate_y"] is defined %}{{data["geolocate_y"]}}{%endif%}"/>
        </div>
    </div>
    <h3 class="title">Atracciones</h3>
    {% for category in categories  %}
        <label class="checkbox">
            <input type="checkbox" {% if(data['category_'~category.getDesCatIdCat.getDesCatId] is defined) %} checked="TRUE" {% endif %} name="category_{{ category.getDesCatIdCat.getDesCatId }}"> {{ category.getDesCatName }}
        </label>
    {% endfor %}
    <div class="row-fluid">
        <div class="span6">
            <label>Posicion x (Mapa Cuba)</label>
            {%if errors["cat_location_x"] is defined %}<label class="error">{{errors["cat_location_x"]|trim(':')}}</label>{%endif%}
            <input type="number" placeholder="x" value="{% if(data['cat_location_x'] is defined) %}{{ data['cat_location_x'] }}{% endif %}" name="cat_location_x" class="input-block-level"/>
        </div>
        <div class="span6">
            <label>Posicion y (Mapa Cuba)</label>
            {%if errors["cat_location_y"] is defined %}<label class="error">{{errors["cat_location_y"]|trim(':')}}</label>{%endif%}
            <input type="number" placeholder="y" value="{% if(data['cat_location_y'] is defined) %}{{ data['cat_location_y'] }}{% endif %}" name="cat_location_y" class="input-block-level"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label>Posicion x (Mapa provincia)</label>
            {%if errors["cat_location_prov_x"] is defined %}<label class="error">{{errors["cat_location_prov_x"]|trim(':')}}</label>{%endif%}
            <input type="number" placeholder="x" value="{% if(data['cat_location_prov_x'] is defined) %}{{ data['cat_location_prov_x'] }}{% endif %}" name="cat_location_prov_x" class="input-block-level"/>
        </div>
        <div class="span6">
            <label>Posicion y (Mapa provincia)</label>
            {%if errors["cat_location_prov_y"] is defined %}<label class="error">{{errors["cat_location_prov_y"]|trim(':')}}</label>{%endif%}
            <input type="number" placeholder="y" value="{% if(data['cat_location_prov_y'] is defined) %}{{ data['cat_location_prov_y'] }}{% endif %}" name="cat_location_prov_y" class="input-block-level"/>
        </div>
    </div>

    <h3 class="title">Publicado</h3>
    <label class="checkbox">
        <input type="checkbox" {% if(data['public'] is defined) %} checked="TRUE" {% endif %} name="public"> Publicado en el sitio
    </label>
    <script src="{{ asset('bundles/mycp/js/wysihtml5-0.3.0.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var url_css_color="{{ asset('bundles/mycp/css/wysiwyg-color.css') }}";
    </script>
    <script src="{{ asset('bundles/mycp/js/bootstrap-wysihtml5.js') }}" type="text/javascript"></script>
    <link href="{{ asset('bundles/mycp/css/bootstrap-wysihtml5.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $('.textarea').wysihtml5();
        url = "{{ path('mycp_get_mun_by_prov', { 'country_code': '-1' }) }}";
        url=url.replace('/-1','');
                $('#ownership_address_province').change(function(){
                    code = $('#ownership_address_province').val();
                    if(code!='')
                    {
                        $('#ownership_address_municipality').html('<option value="">Cargando...</option>');


                        $.ajax({
                            type:"POST",
                            url:url + '/' + code,
                            success:function (msg) {

                                $('#ownership_address_municipality').html(msg);
                            }
                        });
                    }
                });

    </script>

{% endblock %}
