<p>
    Cantidad de clientes que realizaron al menos una solicitud: {{ countClientSol }}

    Cantidad de clientes a los que se les dio al menos una disponibilidad: {{ countClientDisponibility }}

    Cantidad de clientes con solicitudes en estado pendiente: {{ pending }}

    Cantidad de clientes con reservas confirmadas (pagadas):{{ reserved }}



    Cantidad de reservas (solicitudes):{{ countReservationYesterday }}

    Cantidad de reservas con estado disponible {{ countReservationDispon }}

    Cantidad de reservas no disponibles (solicitudes que se enviaron como no disponibles) {{ countReservationNoDispon }}

    Cantidad de reservas confirmadas (pagadas) {{ countReservationPag }}

</p>