<h3>Reservaciones en {{ location }}</h3>
{% if content | length %}
<div class="reportReservation">
    <div class="accordion" id="accordion_report">
        <div class="accordion-group">
            <div class="accordion-heading title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_report" href="#contact_total">
                    <h4 class="title">Generales</h4>
                </a>
            </div>
            <div id="contact_total" class="accordion-body in">
                <div class="accordion-inner">
                    <div>
                        {% render(controller("mycpBundle:BackendReport:ownershipVsReservationsStatsTotal", {"filter_province": (province != null) ? province.provId : null,
                        "filter_municipality": (municipality != null) ? municipality.munId: null,
                        "filter_destination": (destination != null) ? destination.desId: null, "dateFrom": dateFrom, "dateTo": dateTo})) %}
                    </div>
                </div>
            </div>
        </div>
        {% for accommodation in content %}
        <div class="accordion-group accordion-tab" data-id="{{ content[loop.index0].statAccommodation.ownId }}">
            <div class="accordion-heading title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_report" href="#accommodation_{{ content[loop.index0].statAccommodation.ownId }}">
                    <h4 class="title">{{ content[loop.index0].statAccommodation.ownMcpCode }} - {{ content[loop.index0].statAccommodation.ownName }}</h4>
                </a>
            </div>
            <div id="accommodation_{{ content[loop.index0].statAccommodation.ownId }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div id="content_accommodation_{{ content[loop.index0].statAccommodation.ownId }}" data-has-content = false data-url="{{ path("mycp_reports_ownership_vsReservations_stats_accommodation",
                    {'ownership': content[loop.index0].statAccommodation.ownId, 'filter_province': province, 'filter_municipality': municipality, 'filter_destination': destination, 'from_date': dateFrom, 'to_date': dateTo}) }}">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
{% else %}
    <p> <div class="alert alert-block">No hay datos almacenados para este reporte.</div></p>
{% endif %}
<script>
    var filter_province = "{{ province }}";
    var filter_municipality = "{{ municipality }}";
    var filter_destination = "{{ destination }}";
    var dateFrom = "{{ dateFrom }}";
    var dateTo = "{{ dateTo }}";
</script>

<script>
    $(".accordion-tab").on('show.bs.collapse', function(e){
        var id = $(this).attr("data-id");
        var hasContent = $("#content_accommodation_" + id).attr("data-has-content");
        var url = $("#content_accommodation_" + id).attr("data-url");


        if(!hasContent) {
            $("#content_accommodation_" + id).html("Cargando...");

            $.post(
                    url,
                    {
                        'filter_province': filter_province,
                        'filter_municipality': filter_municipality,
                        'filter_destination': filter_destination,
                        'dateFrom': dateFrom,
                        'dateTo': dateTo,
                        'ownership': id
                    },
                    function (data) {
                        $('#content_accommodation_' + id).html(data);
                        $("#content_accommodation_" + id).attr("data-has-content", true);
                    });

            //colocar la url para traer las estadisticas de cada casa
            //Revisar cómo se están sumando las estadisticas
            //Exportar a Excel
        }

    });
</script>