
{% set nom_parent='' %}
<div class="bulb">
{% for stat in content %}
    {% if stat[0].statNomenclator.nomParent!=nom_parent  %}
        </div>
    <div class="bulb">
    {% set nom_parent=stat[0].statNomenclator.nomParent%}
        <br/>
   <strong>Por {{ stat[0].statNomenclator.nomParent }}</strong>
    {% endif %}
    <div class="row-fluid rowValue">
        <div class="span6 nomValue">{{ stat[0].statNomenclator }}</div>
        <div class="span6 statValue" style="text-align: right">
                {% if stat[0].statNomenclator.nomParent.nomName == "Ingresos" %}
                    $ {{ stat['stat_value'] | number_format(2, ',', '.') }}
                {% else %}
                    {{ stat['stat_value'] }}
                {% endif %}
        </div>
        </div>
{% endfor %}
        </div>

{% stylesheets
'@mycpBundle/Resources/public/css/report.css'
filter='?uglifycss'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}