<h3>Propiedades en {{ location }}</h3>
{% set nom_parent='' %}
<div class="bulb">
{% for stat in content %}
    {% if stat[0].statNomenclator.nomParent!=nom_parent  %}
        </div>
    <div class="bulb">
    {% set nom_parent=stat[0].statNomenclator.nomParent%}
   <h4>Por {{ stat[0].statNomenclator.nomParent }}</h4>
    {% endif %}
    <div class="row-fluid rowValue">
        <div class="span6 nomValue">{{ stat[0].statNomenclator }}</div>
        <div class="span6 statValue" style="text-align: right"><a target="_blank" {% if stat['stat_value'] > 0 %}href="{{ path("mycp_reports_ownership_general_stats_links", {"nomenclator": stat[0].statNomenclator.nomId, "municipality": ((municipality != null)?municipality.munId: -1), "province": ((province != null) ? province.provId : -1)}) }}"{% endif %}>{{ stat['stat_value'] }}</a></div>
        </div>
{% endfor %}

<link href="{{ asset('bundles/mycp/css/report.css') }}" rel="stylesheet" type="text/css" />