{% set textParams = "" %}
{% for parameter in parameters %}
  <div class="row-fluid">
      <label>{{ parameter.parameterName | capitalize }}:</label>
 {% if parameter.parameterType.nomName == constant("\\MyCp\\mycpBundle\\Helpers\\ReportParameterHelper::DATE_NOMENCLATOR_NAME") %}
     <input type="text" name="dateParam" id="dateParam" class="datepicker input-block-level" value="{{ "today" | date("d/m/Y") }}" style="width: 200px"/>
     {% set textParams = textParams ~ "/_date" %}
 {% elseif  parameter.parameterType.nomName == constant("\\MyCp\\mycpBundle\\Helpers\\ReportParameterHelper::DATE_RANGE_NOMENCLATOR_NAME")%}
     <input type="text" name="dateRangeFrom" id="dateRangeFrom" class="datepicker input-block-level" value="{{ "today" | date("d/m/Y") }}" style="width: 200px"/> -
     <input type="text" name="dateRangeTo" id="dateRangeTo" class="datepicker input-block-level" value="{{ "+1 day" | date("d/m/Y") }}" style="width: 200px"/>
     {% set textParams = textParams ~ "/_dateFrom/_dateTo" %}
 {% elseif  parameter.parameterType.nomName == constant("\\MyCp\\mycpBundle\\Helpers\\ReportParameterHelper::LOCATION_NOMENCLATOR_NAME")%}
     <div class="span3">
         <label>Provincia:</label>
         <select class="input-block-level" name="filter_province" id="filter_province">
         {{ render(controller('mycpBundle:Public:get_provinces', {'post': {'ownership_address_province':''}})) }}
         </select>
     </div>
     <div class="span3">
         <label>Municipio:</label>
         <select class="input-block-level" name="filter_municipality" id="filter_municipality">
         {{ render(controller('mycpBundle:Public:get_mun', {'post': {'ownership_address_municipality':''}})) }}
         </select>
     </div>
     {% set textParams = textParams ~ "/_location" %}
 {% elseif  parameter.parameterType.nomName == constant("\\MyCp\\mycpBundle\\Helpers\\ReportParameterHelper::LOCATION_FULL_NOMENCLATOR_NAME")%}
     <div class="row-fluid">
         <div class="span3">
             <label>Provincia:</label>
             <select class="input-block-level" name="filter_province" id="filter_province">
                 {{ render(controller('mycpBundle:Public:get_provinces', {'post': {'ownership_address_province':''}})) }}
             </select>
         </div>
         <div class="span3">
             <label>Municipio:</label>
             <select class="input-block-level" name="filter_municipality" id="filter_municipality">
              {{ render(controller('mycpBundle:Public:get_mun', {'post': {'ownership_address_municipality':''}})) }}

             </select>
         </div>
         <div class="span3">
             <label>Destino:</label>
             <select class="input-block-level" name="filter_destination" id="filter_destination">
                 {{ render(controller('mycpBundle:Public:getDestinations', {'post': {'ownership_destination':''}})) }}
             </select>
         </div>

     </div>

     {% set textParams = textParams ~ "/_location" %}

 {% endif %}
  </div>
{% endfor %}

<input type="hidden" id="hdReportUrl" value="{{ path(report.reportRouteName) }}"/>
<input type="hidden" id="hdReportExportUrl" value="{{ path(report.reportExcelExportRouteName) }}"/>
<input type="hidden" id="hdParamText" value="{{ textParams }}"/>

<link href="{{ asset('bundles/mycp/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ asset('bundles/mycp/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/mycp/js/bootstrap-datepicker.es.js') }}" charset="UTF-8"></script>

<script>
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: 'linked',
        language: 'es',
        autoclose: true
    });

    $('#dateRangeFrom').datepicker({
        format:'dd/mm/yyyy',
        todayBtn:'linked',
        language:'es',
        autoclose: true
    }).on('changeDate', function(ev){
        var date = new Date(ev.date);
        date.setDate(date.getDate() + 1);
        datepicker_to.setStartDate(date);
        datepicker_to.setDate(date);
    });

    var datepicker_to = $('#dateRangeTo').datepicker({
        format:'dd/mm/yyyy',
        todayBtn:'linked',
        autoclose: true,
        language: 'es'
    }).data('datepicker');


    url = "{{ path('mycp_get_mun_by_prov', { 'country_code': '-1' }) }}";
    url=url.replace('/-1','');
    url_destination = "{{ path('mycp_get_destination_by_mun') }}";
    $('#filter_province').change(function(){
        code = $('#filter_province').val();
        if(code!='')
        {
            $('#filter_municipality').html('<option value="">Cargando...</option>');


            $.ajax({
                type:"POST",
                url:url + '/' + code,
                success:function (msg) {

                    $('#filter_municipality').html(msg);
                }
            });
        }
    });
    $('#filter_municipality').change(function() {

        $('#filter_destination').html('<option value="">Cargando...</option>');
        mun = $('#filter_municipality').val();
        prov = $('#filter_province').val();
        $.ajax({
            type: "POST",
            url: url_destination + '/' + mun + '/' + prov,
            success: function(msg) {

                $('#filter_destination').html(msg);
            }
        });
    });
</script>