{% if errorText %}
<p> <div class="alert alert-error">{{ errorText }}</div></p>
{% else %}
{% if content %}
<div class="alert">
    <div class="row-fluid">
        <div class="pull-left">
            Resultado: {{ content | length }} elementos
        </div>
    </div>
</div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Solicitudes</th>
            <th>Disponibles</th>
            <th>No disponibles</th>
            <th>Pendientes</th>
            <th>Reservaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for cont in content %}
            <tr>
                <td>
                    {{ cont.user_name~' '~cont.user_last_name }}
                 </td>
                <td>
                    {{ cont.solicitudes }}
                </td>
                <td>
                    {{ cont.disponibles }}
                </td>
                <td>
                    {{ cont.no_disponibles }}
                </td>
                <td>
                    {{ cont.pendientes }}
                </td>
                <td>
                    {{ cont.reservas }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
{% else %}
    <p> <div class="alert alert-block">No hay datos almacenados para este reporte.</div></p>
{% endif %}
{% endif %}