{% for language in languages %}
    {% if language.langCode | lower != app.request.locale %}
        {% if arrTransDest is defined %}
            <li><a class="change_" rel="nofollow"
                   data-url="{{ path('frontend_change_language_callback',{'lang': language.getLangCode|lower, 'route': route, 'routeParams': arrTransDest[language.getLangCode|lower] }) }}">{{ language.getLangName }}</a>
            </li>
        {% else %}
            <li><a class="change_" rel="nofollow"
                   data-url="{{ path('frontend_change_language_callback',{'lang': language.getLangCode|lower }) }}">{{ language.getLangName }}</a>
            </li>
            {#<li><a rel="nofollow" href="{{ path('frontend_change_language_callback',{'lang': language.getLangCode|lower, 'route': route, 'routeParams': language.getLangCode|lower }) }}">{{ language.getLangName }}</a></li>#}
        {% endif %}
    {% endif %}
{% endfor %}

