<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{"WELCOMEPAGE_TITLE" | trans}}{% endblock %} | MyCasaParticular</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/frontend/css/bootstrap/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/frontend/css/bootstrap/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/frontend/css/customMap.css') }}" rel="stylesheet" media="screen">
        <script src="{{ asset('bundles/frontend/js/jquery/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ asset('bundles/frontend/js/custom.js') }}"></script>

    </head>
    <body>
        {% block content %}

        {% block include_javascripts_and_css %}
        {% endblock %}
        {% endblock %}
        </body>
    </html>