<!DOCTYPE html>
<html id="top">
<head>
    <title>{% block title %}{{"WELCOMEPAGE_TITLE" | trans | title}}{% endblock %} *** MyCasaParticular</title>
    <meta charset="utf-8">
    {%if section is not defined%}
        {%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_GENERAL')%}
    {%endif%}
    {%if meta_description is not defined%}
        {%set meta_description =render(controller('FrontEndBundle:Public:getMetaTags', {'section':section, 'onlyDescription': true}))%}
    {%endif%}
    {% block metas %}
        {{ render(controller('FrontEndBundle:Public:getMetaTags', {'section':section})) }}
    {% endblock %}

    {% block open_graph_metas %}
    <meta name="author" content="ABUC media network GmbH">
    <meta name="copyright" content="ABUC media network GmbH">
    <meta name="language-content" content="{{app.request.locale}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@MyCP">
    <meta name="twitter:title" content="MyCasaParticular *** {{block('title')}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <meta name="twitter:creator" content="@MyCP">
    <meta name="twitter:image:src" content="{{app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/avatar.jpg') }}">

    <!-- Propiedades Open Graph -->
    <meta property="og:title" content="MyCasaParticular *** {{block('title')}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{app.request.getSchemeAndHttpHost() ~ asset('bundles/frontend/img/avatar.jpg') }}" />
    <meta property="og:author" content="ABUC media network GmbH" />
    <meta property="og:site_name" content="MyCasaParticular" />
    <meta property="og:description" content="{{meta_description}}" />
    <meta property="og:url" content="http://www.mycasaparticular.com" />
    <meta property=”fb:admins” content=”312774092497”/>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#% stylesheets '@FrontEndBundle/Resources/public/css/*' filter='yui_css' %#}
    <link href="{{ asset('bundles/frontend/css/custom.css') }}" rel="stylesheet" media="screen">
    {#% endstylesheets %#}
    {% if ownership.category is defined and  ownership.category == 'Económica'%}
        {#% stylesheets '@FrontEndBundle/Resources/public/css/*' filter='yui_css' %#}
        <link href="{{ asset('bundles/frontend/css/economic_house.css') }}" rel="stylesheet" media="screen">
        {#% endstylesheets %#}
    {% endif %}
    {% if ownership.category is defined and  ownership.category == 'Premium'%}
        {#% stylesheets '@FrontEndBundle/Resources/public/css/*' filter='yui_css' %#}
        <link href="{{ asset('bundles/frontend/css/premium_house.css') }}" rel="stylesheet" media="screen">
        {#% endstylesheets %#}
    {% endif %}
    {#% javascripts '@FrontEndBundle/Resources/public/js/*' filter='yui_js' %#}
    <script src="{{ asset('bundles/frontend/js/jquery.js') }}"></script>
    {#% endjavascripts %#}
    <link rel="shortcut icon" href="{{ asset('bundles/frontend/img/map_small.png') }}" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/frontend/img/apple_touch_icons/apple_touch_iphone.png') }}" />
    <link rel="apple-touch-icon-precomposed-precomposed" sizes="72x72" href="{{ asset('bundles/frontend/img/apple_touch_icons/apple_touch_ipad.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/frontend/img/apple_touch_icons/apple_touch_iphone4.png') }}" />

    {% block include_javascripts_and_css %}{% endblock %}
</head>
<body>
<div class="divider-hor-1">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" id="center-cont">
            <a href="{{ path('frontend_welcome') }}" class="brand"  title="{{"HOMEPAGE_TITLE" | trans}}">
                <img src="{{ asset('bundles/frontend/img/mycp.png') }}" style="max-width: 100%" alt="my casa particular"/>
            </a>
        </div>

        {{ render_esi(url('frontend_public_top_nav', { 'route': app.request.get('_route'), 'routeParams': app.request.get('_route_params')|json_encode|url_encode })) }}

    </div>
</div>
<div id="top-menu-cont" style="height: {% if is_home is defined %}52px;{% else %}{% if reservation_confirm is defined %}76px{% else %}95px{% endif %}{% endif %}">
    <nav id="top-menu" role="navigation" class="navbar navbar-inverse bg-gradient-blue" style="{% if is_home is defined %}border-bottom: solid #98CD34 7px;{% endif %}">
        <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="container">
            {{ include('FrontEndBundle:utils:navTopBody.html.twig') }}
        </div>
        {% if is_home is not defined %}
            <div class="breadcrumb-top">
                <div class="container">
                    {% block breadcrumbs %}
                        <a href="#">&nbsp;</a>
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </nav>

</div>
{% block big_banner %}{% endblock %}
{% for message in app.session.flashbag.get('message_global_success') %}
    <div class="container">
        <br/>
        <div class="alert alert-info" style="margin-bottom: 10px">{{ message }}</div>
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('message_global_error') %}
    <div class="container">
        <br/>
        <div class="alert alert-danger" style="margin-bottom: 10px">{{ message }}</div>
    </div>
{% endfor %}
{% block body %}
    {% block include_javascripts %}{% endblock %}
{% endblock %}
<hr>
<p class="text-center"><a title="{{"GO_UP" | trans }}" href="#"><em class="icon-chevron-up"></em></a></p>
<footer class="bg-gradient-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h3>{{"DESTINATIONS" | trans}}</h3>
                <ul>
                    <li><a title="My Casa Particular - {{"TOP_DESTINATIONS" | trans}}" href="{{ path('frontend_list_destinations')}}">{{"TOP_DESTINATIONS" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"MOST_VISITED_CITIES" | trans}}" href="{{path('frontend_get_with_reservations_municipality')}}">{{"MOST_VISITED_CITIES" | trans}}</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <h3>{{"ACCOMMODATIONS" | trans}}</h3>
                <ul>
                    <li><a title="My Casa Particular - {{"TOP_RATED" | trans}}" href="{{ path('frontend_voted_best_list_ownership')}}">{{"TOP_RATED" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Penthouse" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'penthouse'})}}">{{"Penthouse" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Villa con piscina" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'villa-con-piscina'})}}">{{"Villa con piscina" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Apartamento" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'apartamento'})}}">{{"Apartamento" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Casa particular" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'casa-particular'})}}">{{"Casa particular" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"Propiedad completa" | trans}}" href="{{ path('frontend_type_list_ownership',{'type':'propiedad-completa'})}}">{{"Propiedad completa" | trans}}</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <h3>{{"ABOUT_MYCP" | trans}}</h3>
                <ul>
                    <li><a title="My Casa Particular - {{"WHO_ARE_WE" | trans}}" href="{{ path('frontend_about_us')}}">{{"WHO_ARE_WE" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"CONTACT_US" | trans}}" href="{{path('frontend_contact_user')}}">{{"CONTACT_US" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"FAQ" | trans}}" href="{{path('frontend_list_faq')}}">{{"FAQ" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"LEGAL_TERMS" | trans}}" href="{{path('frontend_legal_terms')}}">{{"LEGAL_TERMS" | trans}}</a></li>
                    <li><a title="My Casa Particular - {{"SECURITY_AND_PRIVACITY" | trans}}" href="{{path('frontend_security_privacity')}}">{{"SECURITY_AND_PRIVACITY" | trans}}</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h3>{{"OUR_SERVICES" | trans}}</h3>
                <ul>
                    <li><a title="My Casa Particular - {{"SITE_MAP" | trans}}"  href="{{ path ('frontend_sitemap_information')}}">{{"SITE_MAP" | trans}}</a></li>
                </ul>
            </div>
            <div class="col-xs-3 text-right">
                <img id="firm" src="{{ asset('bundles/frontend/img/seal_'~app.session.get('app_lang_code')|lower)}}.png" width="" title="MyCasaParticular.com">
            </div>
        </div>
        <div style="margin: 0 0 10px;">
            <a title="{{"HOMEPAGE_TITLE" | trans}}" href="{{ path('frontend_welcome') }}" >
                <img alt="{{"HOMEPAGE_TITLE" | trans}}" src="{{ asset('bundles/frontend/img/mycp-grey.png')}}">
            </a>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>&copy; 2009 - {{'today'|date('Y')}}. <a style="font-size: 11px; color: #ffffff" href="http://www.mycasaparticular.com">MyCasaParticular.com</a>.
                    {{"FOOTER_COPYRIGHT" | trans}}.</p>
            </div>
            <div id="social" class="col-sm-4 text-right">
                {{ include('FrontEndBundle:utils:netSocials.html.twig') }}
            </div>
        </div>
    </div>
</footer>

</body>
{#% javascripts '@FrontEndBundle/Resources/public/js/*' filter='yui_js' %#}
<script src="{{ asset('bundles/frontend/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/respond.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/jail.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/custom.min.js') }}"></script>
{#% endjavascripts %#}
<script type="text/javascript">
    topmenucont = $('#top-menu-cont');
    topmenu = $("#top-menu").offset().top;
    $('#top-menu').affix({
        offset: {
            top: function() {
                topmenucont.html = "&nbsp;";
                return topmenu;
            }
        }
    });

    $(function() {
        $('img.lazy').jail();
    });
</script>
</html>
