<div id="top-nav" class="col-sm-9">
    <div class="row">
        <div class="col-sm-6" style="display: table;padding: 0;">
            <ul class="nav nav-pills">
                <li><a title="{{"HOW_IT_WORKS" | trans }}" href="{{ path('frontend_how_it_works_information')}}"><img class="icon tiny-book-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" alt="{{"Pixel" | trans}}"/> {{"HOW_IT_WORKS" | trans }}</a></li>
                <li><a class="count-info" title="{{"FAVORITIES" | trans }}" href="{{ path('frontend_list_favorite') }}">
                        <img  style="width: 26px; height: 23px;" src="{{ asset('bundles/frontend/img/icons/big-heart.gif')}}" alt="{{"Heart" | trans}}"/> {{"FAVORITIES" | trans }}
                        <span style="height: 15px;width: 20px;margin-left: -15px;" class="label" id="count-fav"> {{ count_fav }} </span>
                    </a></li>
                <li>
                    {{ render(controller('FrontEndBundle:Cart:countCartItems')) }}
                </li>
            </ul>
        </div>
        <div class="col-sm-6" style="display: table; " id="top-right-menu">
            <ul class="nav nav-pills nav-pills-new">
                {#<li class="dropdown pull-right">
                    <a title="{{"USER_ZONE" | trans }}" data-toggle="dropdown" class="dropdown-toggle" href="#"><img class="icon tiny-user-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}"/>
                        {% if app.user.getUserUserName is defined %}
                            {{app.user.getUserUserName | slice(0,10)}}{% if app.user.getUserUserName|length > 10 %}...{% endif %}
                        {%else%}
                            {{"USER_ZONE" | trans}}
                        {%endif%}
                        <b class="caret caret-new"></b></a>
                    <ul class="dropdown-menu">
                        {% if app.user.getUserUserName is defined %}
                            <li><a title="{{"USER_PROFILE" | trans }}" href="{{ path('frontend_profile_user') }}">{{"USER_PROFILE" | trans }}</a></li>
                            <li><a title="{{"LOG_OUT" | trans}}" href="{{ path('mycp_logout') }}">{{"LOG_OUT" | trans}} </a></li>
                        {% else %}
                            <li><a title="{{"LOG_IN" | trans }}" href="{{ path('frontend_public_login') }}">{{"LOG_IN" | trans }}</a></li>
                            <li><a title="{{"USER_NEW_ACCOUNT" | trans }}" href="{{ path('frontend_register_user') }}">{{"USER_NEW_ACCOUNT" | trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>#}
                {#<li class="nav-divider pull-right">&nbsp;</li>#}
                <li class="pull-right"><span style="font-size: 8px; color: #F4981D;     margin-left: -15px; position: absolute;"><b>{{ 'NEW'|trans|upper }}</b></span><a title="{{"JOIN_CASA" | trans }}" href="{{ path('my_cp_casa_module_registration')}}">{{"JOIN_CASA"| trans }}</a></li>

                <li class="dropdown">
                    <a title="{{"LANGUAGE" | trans }}" data-toggle="dropdown" class="dropdown-toggle" href="#"><img class="icon tiny-lang-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" alt="{{"Pixel" | trans}}"/>
                        {{(app.session.get('app_lang_name') == null or app.session.get('app_lang_name') == "") ? "Español" : app.session.get('app_lang_name')}} <b class="caret caret-new"></b></a>
                    <ul class="dropdown-menu">
                        {{ render_esi(controller('FrontEndBundle:Language:getLanguages', {'route': route, 'routeParams': routeParams})) }}
                    </ul>
                </li>
                {#<li class="nav-divider pull-right">&nbsp;</li>#}
                <li class="dropdown">
                    <a title="{{"CURRENCY" | trans }}" data-toggle="dropdown" class="dropdown-toggle" href="#"><img class="icon tiny-curr-icon" src="{{ asset('bundles/frontend/img/icons/pixel.gif')}}" alt="{{"Pixel" | trans}}"/>
                        {{(app.session.get('curr_acronym') == null or app.session.get('curr_acronym') == "") ? default_currency().currcode|upper : app.session.get('curr_acronym')|upper}} <b class="caret caret-new"></b></a>
                    <ul class="dropdown-menu">
                        {{ render_esi(controller('FrontEndBundle:Currency:getCurrencies', {'params': app.request.attributes.all, 'route': route, 'routeParams': routeParams})) }}
                    </ul>
                </li>
                {#<li class="nav-divider pull-right">&nbsp;</li>#}
                 </ul>
        </div>
    </div>
</div>
