{% extends 'mycpBundle:layout:backend.html.twig' %}
{% block title %}Administraci贸n{% endblock %}
{% block top_body %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_backend_front')}}">Administraci贸n</a> <span class="divider">/</span></li>
        <li class="active">Roles</li>
    </ul>
{% endblock %}
{% block form_actions %}
    <ul class="breadcrumb">
        <li><a href="{{path('mycp_backend_front')}}">Administraci贸n</a> <span class="divider">/</span></li>
        <li class="active">Roles</li>
    </ul>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn" href="{{ path('mycp_backend_front') }}">Cancelar</a>
    </div>
    </form>
{% endblock %}
{% block content %}
   <h2>Crear Rol</h2>
    <hr/>
<form class="sfgen" method="POST" action="{{ path('mycp_rbac_add_role') }}" novalidate="true">
    {#{{form_widget(form)}}#}
    {{form_row(form._token)}}
    <div class="span4">
        {{ form_row(form.role_name) }}
        </div>
    <div class="span4">
        {{ form_row(form.role_parent) }}
    </div>
    <div class="span4" style="padding-top:30px; ">
        {#{{ form_row(form.role_fixed) }}#}
        <label for="form_role_fixed" class="checkbox">
            {{ form_widget(form.role_fixed) }}
           Fijado
            {#{{ form.role_fixed.vars.label }}#}
        </label>
    </div>
    <div class="clearfix"></div>
    <h3 class="title">Acceso a m贸dulos</h3>
    <div id="permissions" class="row-fluid">
        {#{{ form_row(form.permissions) }}#}
    {% set cat='' %}
        <div>
        {% for choice in form.permissions.children %}
          {% set perm=form.permissions.vars.choices[choice.vars.value].data %}
            {% if perm.permCategory!=cat %}
                {% set cat=perm.permCategory %}
                </div>
         <div class="span3" style="margin-left: 0;">
                {#<h4 class="title">{{ cat }}</h4>#}
             <label class="checkbox">
                 <input name="all_select_{{cat}}" class="all_select {{cat}}" type="checkbox"/>
                 {{cat}}
             </label>

              {% endif %}
            <label for="{{ choice.vars.id }}" class="checkbox permission">
                {{ form_widget(choice, {'attr': {'class': cat}}) }}
                {{ choice.vars.label }}
            </label>

            {% endfor %}
             </div>
       {#{{ dump(form.permissions) }}#}
    {#{% for permission in form.permissions %}#}
        {#<div class="span4" style="margin-left: 0;">#}
        {#{{ form_widget(permission.selected) }}#}
        {#{{ form_widget(permission.rp_permission) }}#}
            {#</div>#}
    {#{% endfor %}#}
    </div>
{% endblock %}
    {% block javascripts %}
    <script type="text/javascript">
        $(".all_select").change(function(){
            class_name=this.className;
            array_class_name=class_name.split(' ');
            if(this.checked)
            {
                $("input:checkbox."+array_class_name[1]).attr('checked','checked');
            }
            else
            {
                $("input:checkbox."+array_class_name[1]).removeAttr('checked');
            }
        })
    </script>
{% endblock %}