 {% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}{{"PASSWORD_RECOVERY_PAGE_TITLE" | trans}}{% endblock %}
{% block body %}
        <br/>
 <div class="row-fluid ">
     <div class="span6 offset3">
         <div class="thumbnail">
             <div class="cont" style="padding: 6px 20px 0 20px">
             <h2 class="form big_price" style="font-size: 30px;">{{"PASSWORD_RECOVERY_SUBTITLE" | trans}}</h2>
        <hr/>
        <form novalidate class="sfgen" method="POST" action="{{ path('frontend_change_password_user',{'string':string}) }}">
            {{form_widget(form)}}
            <br/>
            <div style="width: 100%">
                <input class="btn btn-block btn-large" style="margin: auto" type="submit" value="{{"PASSWORD_RECOVERY_BUTTON_TEXT" | trans}}"/>
            </div>
        </form>
        </div>
         </div>
    </div>
</div>
<script type="text/javascript">
    $('.sfgen input').addClass('input-block-level')
</script>
{%endblock%}