 {% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}{{"PASSWORD_RECOVERY_PAGE_TITLE" | trans}}{% endblock %}
{% block body %}
<div class="container">
<h2 class="caecilia-roman big-price-green text-center no-margin" style="font-weight: normal; margin-top: 35px">{{"PASSWORD_RECOVERY_SUBTITLE" | trans }}</h2>
<div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0" alt="{{"Gradient" | trans}}"/></div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form novalidate class="form-horizontal" id="change-password-form" action="{{ path('frontend_change_password_user',{'string':string}) }}" method="post">
            {{ form_widget(form)}}
            <button style="margin-top: 20px" type="submit" class="btn btn-primary btn-block">{{"PASSWORD_RECOVERY_BUTTON_TEXT" | trans}}</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
    {% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-validation/localization/messages_'~app.request.locale~'.js') }}"></script>
    {% endblock javascripts %}
<script type="text/javascript">
    label=$('.form-horizontal label')
    label.css('fontWeight','normal');
    label.css('display','block');
    label.css('marginTop','10px');
    $('.form-horizontal input').attr('class','form-control');
    ul=$('.form-horizontal ul');
    ul.css('listStyle','none');
    ul.css('padding','0');
    ul.attr('class','alert alert-danger text-center');
    $("#change-password-form").validate({
        submitHandler: function(form) {
            form.submit();
        },
        ignore: "",
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false // do not focus the last invalid input
        ,
        invalidHandler: function(event, validator) { //display error alert on form submit

        },
        rules: {
            'mycp_frontendbundle_change_password_usertype[user_password][Clave]':{
                required: true,
                minlength: 6
            },
            'mycp_frontendbundle_change_password_usertype[user_password][Repetir]': {
                equalTo: "#mycp_frontendbundle_change_password_usertype_user_password_Clave"
            }
        },


        highlight: function(element) { // hightlight error inputs
            $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        },

        success: function(label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        }
    });
</script>
{%endblock%}
