{% extends 'FrontEndBundle:layout:base.html.twig' %}
{%set section = constant('\\MyCp\\mycpBundle\\Entity\\metaTag::SECTION_CONTACT_US')%}
{% block title %}{{"CONTACT_US" | trans}}{% endblock %}

{% block metas %}
    {{ get_metas('Contactos', app.session.get('app_lang_code')|lower )|raw }}
{% endblock metas %}

{% block breadcrumbs %}
    <a href="{{ path('frontend-welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="#" class="active" title="{{"CONTACT_US"|trans}}">{{"CONTACT_US"|trans}}</a>
{% endblock %}
{% block body %}
<div class="container">
    <div style="margin: 0px 0 20px">
        <h1 class="caecilia-roman h-green no-margin"> {{ 'CONTACT_US'|trans }}</h1>
    </div>
<div id="loading" class="alert alert-info hidden"> <img style="width: 20px" src="{{ asset('bundles/frontend/img/loading.gif') }}" alt="{{"Loading" | trans}}"/> {{"LOADING_MESSAGE" | trans}}</div>
<div class="contact">
<div class="accordion" id="accordion_contacts">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_contacts" href="#contact_tourist">{{"CONTACT_US_TOURIST_HEADER" | trans}}</a>
        </div>
        <div id="contact_tourist" class="accordion-body {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'tourist_form') or app.session.get("form_type") == null%} in {%endif%} collapse" {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'tourist_form') or app.session.get("form_type") == null%}style="height: auto;"{%else%}style="height: 0px;"{%endif%}>
            <div class="accordion-inner">
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <h3 class="no-margin margin-b-t">{{ "OUR_OFFICE"|trans }},{{"ADDRESS_MCP_COUNTRY" | trans}}</h3>
                            ABUC media network GmbH<br/>
                            Pedro Torres Cobas<br/>
                            Lindenstrasse 33,4102<br/>
                            {#<em class="icon-headphones"></em> {{"FORMS_PHONE" | trans}}: {{mycasa_office_phone}}<br/>#}
                            <div class= style="padding:0">
                                <i class="glyphicon glyphicons phone_alt"></i>
                                (+41) 61 588 09 56

                            </div>
                        </div>
                        </br>
                        <div>
                            <h3 class="no-margin margin-b-t">{{ "OUR_OFFICE"|trans }},Cuba</h3>
                            {{ "HDS_ADDRESS"|trans }}

                            {#<em class="icon-headphones"></em> {{"FORMS_PHONE" | trans}}: {{mycasa_office_phone}}<br/>#}

                            <div class= style="padding:0">
                                <i class="glyphicon glyphicons phone_alt"></i>
                                (+53) 55599750

                            </div>
                        </div>
                        <br>

                        <a href="mailto:info@mycasaparticular.com"><i class="glyphicon glyphicon-envelope"></i> info@mycasaparticular.com</a> <br/><br/>

                    </div>

                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <div style="padding: 10px 20px" class="form-cont">
                                <input type="hidden" id="submit_url" value="{{ path('frontend_contact_user') }}" />
                                <form novalidate class="sfgen" method="POST">
            {% if errors['no_email'] is defined%}<div class="alert alert-error">{{errors['no_email']}}</div>{% endif %}
            {{form_widget(form_tourist)}}
                                        <br/>
                                        <button id="btn_tourist_contact" class="btn btn-primary btn-block btn-lg" style="margin: auto" type="submit">
                                              {{'SEND' | trans}}
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_contacts" href="#contact_owners">
                        {{"CONTACT_US_OWNER_HEADER" | trans}}
                    </a>
                </div>
                <div id="contact_owners" class="accordion-body {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'owner_form')%} in {%endif%} collapse" {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'owner_form')%}style="height: auto;"{%else%}style="height: 0px;"{%endif%}>
                    <div class="accordion-inner">
        <div class="row">
            <div class="col-sm-6">
                <h4>{{"CONTACT_OWNER_QUESTION" | trans}}</h4>
                {{"CONTACT_OWNER_FILL_FORM" | trans}}<br/>
                <a href="mailto:info@mycasaparticular.com">info@mycasaparticular.com</a>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div style="padding: 10px 20px" class="form-cont">
                        <form novalidate class="sfgen" method="POST" id="ownerContact">
            {% if errors['no_email'] is defined%}<div class="alert alert-error">{{errors['no_email']}}</div>{% endif %}

                            {{form_widget(form_owner)}}
                                <br/>
                                <button class="btn btn-lg btn-primary btn-block" style="margin: auto" type="submit" id="btn_owner_contact">
                                 {{'SEND' | trans}}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                </div>
            </div>
        </div>
</div>
</div>
{%endblock%}
{% block javascripts %}
    <script type="text/javascript">
        function initJSTwig() {
            $('.sfgen input').addClass('form-control')
            var receiveInstructions = "{{ constant('\\MyCp\\mycpBundle\\Helpers\\Operations::CONTACT_FORM_RECEIVE_INSTRUCTIONS') }}";

            $("#mycp_frontendbundle_contact_owner_owner_instructions").change(function (){
                if($("#mycp_frontendbundle_contact_owner_owner_instructions").val() === receiveInstructions){
                    $("#mycp_frontendbundle_contact_owner_owner_comment").attr('disabled','disabled');
                    $("#mycp_frontendbundle_contact_owner_owner_comment").removeAttr("required");
                }
                else {
                    $("#mycp_frontendbundle_contact_owner_owner_comment").removeAttr('disabled');
                    $("#mycp_frontendbundle_contact_owner_owner_comment").attr('required', 'required');
                }
            });
        }
    </script>
{% endblock javascripts %}
