{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}{{"CONTACT_US" | trans}}{% endblock %}
{% block breadcrumbs %}
    <br/>
    <div class="container">
        <div class="breadcrumb">
            <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
            <span>/</span>
            {{"CONTACT_US"|trans}}
        </div>
    </div>
{% endblock %}
{% block body %}
<div class="container">
    <div style="margin: 0px 0 20px">
        <h1 class="caecilia-roman h-green no-margin"> {{ 'CONTACT_US'|trans }}</h1>
    </div>
<div id="loading" class="alert alert-info hidden"> <img style="width: 20px" src="{{ asset('bundles/frontend/img/loading.gif') }}"/> {{"LOADING_MESSAGE" | trans}}</div>
<div class="contact">
<div class="accordion" id="accordion_contacts">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_contacts" href="#contact_tourist">{{"CONTACT_US_TOURIST_HEADER" | trans}}</a>
        </div>
        <div id="contact_tourist" class="accordion-body {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'tourist_form') or app.session.get("form_type") == null%} in {%endif%} collapse" {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'tourist_form') or app.session.get("form_type") == null%}style="height: auto;"{%else%}style="height: 0px;"{%endif%}>
            <div class="accordion-inner">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>ABUC Media Network GmbH</h4>
                        <h5>{{"ADDRESS" | trans}}</h5>
                        MyCasaParticular.com <br/>
                        Postfach <br/>
                        Breisacherstrasse 63 <br/>
                        CH-4057 Basel <br/>
                        {{"ADDRESS_MCP_COUNTRY" | trans}} <br/><br/>

                        <h5>{{"FORMS_PHONE" | trans}}</h5>
                        (41) 44 586 64 44 <br/><br/>

                        <h5>{{"FORMS_EMAIL" | trans}}</h5>
                        <a href="mailto:info@mycasaparticular.com">info@mycasaparticular.com</a> <br/><br/>

                        <h5>{{"COMMERCIAL_NUMBER_REGISTRY" | trans}}</h5>
                        CH-270.4.002.844-1
                    </div>
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <div style="padding: 10px 20px" class="form-cont">
                                <input type="hidden" id="submit_url" value="{{ path('frontend_contact_user') }}" />
                                <form novalidate class="sfgen" method="POST">
            {% if errors['no_email'] is defined%}<div class="alert alert-error">{{errors['no_email']}}</div>{% endif %}
            {{form_widget(form_tourist)}}
                                        <br/>
                                        <button id="btn_tourist_contact" class="btn btn-primary btn-block btn-lg" style="margin: auto" type="submit">
                                              {{'SEND' | trans}}
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_contacts" href="#contact_owners">
                        {{"CONTACT_US_OWNER_HEADER" | trans}}
                    </a>                       
                </div>
                <div id="contact_owners" class="accordion-body {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'owner_form')%} in {%endif%} collapse" {%if (app.session.get("form_type") != null and app.session.get("form_type") == 'owner_form')%}style="height: auto;"{%else%}style="height: 0px;"{%endif%}>
                    <div class="accordion-inner">
        <div class="row">
            <div class="col-sm-6">
                <h4>{{"CONTACT_OWNER_QUESTION" | trans}}</h4> 
                {{"CONTACT_OWNER_FILL_FORM" | trans}}<br/> 
                <a href="mailto:casa@mycasaparticular.com">casa@mycasaparticular.com</a> <br/><br/>
 
                {{"CONTACT_OWNER_FILL_FORM" | trans}}
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div style="padding: 10px 20px" class="form-cont">
                        <form novalidate class="sfgen" method="POST">
            {% if errors['no_email'] is defined%}<div class="alert alert-error">{{errors['no_email']}}</div>{% endif %}
            {{form_widget(form_owner)}}
                                <br/>
                                <button class="btn btn-lg btn-primary btn-block" style="margin: auto" type="submit" id="btn_owner_contact">
                                 {{'SEND' | trans}}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                </div>
            </div>  
        </div> 
</div>
</div>
            <script type="text/javascript">
                $('.sfgen input').addClass('form-control')
                </script>
{%endblock%}