 <div class="secondary_tab row-fluid">
    <div class="nav-tabs_cont">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#favorite_destinations">{{"FAV_DESTINATION" | trans}}</a></li>
            <li><a data-toggle="tab" href="#history_destinations">{{"HISTORY_DESTINATIONS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#favorite_owns">{{"FAV_OWNERSHIPS" | trans}}</a></li>
            <li><a data-toggle="tab" href="#history_owns">{{"HISTORY_OWNERSHIPS" | trans}}</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="favorite_destinations" class="tab-pane fade in active">
            <div class="row-fluid">
                {% for destination_array in destination_favorites %}
                    <div class="span3">
                {{ include('FrontEndBundle:destination:homeItemDestination.html.twig',{
                'destination_id': destination_array['destination_id'],
                'destination_name': destination_array['destination_name'],
                'is_in_favorite': true,
                'photo': destination_array['photo'],
                'localization' : destination_array['municipality_name'] ~ ' / ' ~ destination_array['province_name'],
                'statistics': {'total': destination_array['count_ownership'], 'minimum_prize': destination_array['min_price']},
                'list_preffix': 'destination_favorites'}) }}
                            </div>
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
        </div>
        <div id="history_destinations" class="tab-pane fade in">
            <div class="row-fluid">
                {% for destination_array in history_destinations %}
                    <div class="span3">
                {{ include('FrontEndBundle:destination:homeItemDestination.html.twig',
                   {'destination_id': destination_array['destination_id'],
                'destination_name': destination_array['destination_name'],
                'is_in_favorite': destination_array['is_in_favorites'],
                'photo': destination_array['photo'],
                'localization' : destination_array['municipality_name'] ~ ' / ' ~ destination_array['province_name'],
                'statistics': {'total': destination_array['count_ownership'], 'minimum_prize': destination_array['min_price']},
                    'list_preffix': 'history_destinations'}) }}
                            </div>
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
        </div>
        <div id="favorite_owns" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership_array in favorite_owns %}
                {{ include('FrontEndBundle:ownership:homeItemOwnership.html.twig',
                    {'own_id': ownership_array['own_id'],
                     'own_name': ownership_array['own_name'],
                     'own_comments': ownership_array['comments_total'],
                     'own_rating': ownership_array['rating'],
                     'own_province': ownership_array['prov_name'],
                     'own_minimum_price': ownership_array['minimum_price'],
                     'is_in_favorite': true,
                     'photo': ownership_array['photo'],
                     'list_preffix': 'favorite_owns'}) }}
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
        </div>
        <div id="history_owns" class="tab-pane fade in">
            <div class="row-fluid">
                {% for ownership_array in history_owns %}
                {{ include('FrontEndBundle:ownership:homeItemOwnership.html.twig',
                   {'own_id': ownership_array['own_id'],
                     'own_name': ownership_array['own_name'],
                     'own_comments': ownership_array['comments_total'],
                     'own_rating': ownership_array['rating'],
                     'own_province': ownership_array['prov_name'],
                     'own_minimum_price': ownership_array['minimum_price'],
                   'is_in_favorite': ownership_array['is_in_favorites'],
                   'photo': ownership_array['photo'],
                   'list_preffix': 'history_owns'}) }}
                {% else %}
                <div class="alert alert-info" style="margin: 0;">{{"EMPTY_LIST" | trans}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
