{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}{{"USER_MY_PROFILE" | trans}}{% endblock %}
{% block breadcrumbs %}
    <a href="{{ path('frontend_welcome') }}" title="{{"HOMEPAGE_TITLE" | trans}}">{{"HOME_MAIN_MENU" | trans}}</a>
    <span>››</span>
    <a href="#" class="active" title="{{"USER_MY_PROFILE" | trans}}">{{"USER_MY_PROFILE" | trans}}</a>
{% endblock %}
{% block body %}
<div class="container">
    {% if errors['used_email'] is defined%}<div class="alert alert-danger">{{errors['used_email']}}</div>{% endif %}
    {% if errors['user_email'] is defined%}<div class="alert alert-danger">{{errors['user_email']}}</div>{% endif %}
    {% if errors['complete_form'] is defined%}<div class="alert alert-danger">{{errors['complete_form']}}</div>{% endif %}
    <h2 class="caecilia-roman big-price-green text-center no-margin" style="font-weight: normal; margin-top: 20px">{{"USER_MY_PROFILE" | trans}}</h2>
    <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0"></div>
    <div class="row" style="margin-bottom: 30px">
            <div class="col-sm-4"></div>
        <div class="col-sm-4 houses-list thumbs-houses lazy-cont ">
        {%if user.UserPhoto != ""%}
            <img class="lazy thumbnail" style="width: 150px" data-src="{{ asset('uploads/userImages/'~user.UserPhoto.phoName)}}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
            <noscript><img class="nolazy" src="{{ asset('uploads/userImages/'~user.UserPhoto.phoName)}}"></noscript>
        {%else%}
            <img class="lazy" data-src="{{ asset('bundles/frontend/img/user_no_photo.gif')}}" src="{{ asset('bundles/frontend/img/nophoto-transp.gif') }}"/>
            <noscript><img class="nolazy" src="{{ asset('bundles/frontend/img/user_no_photo.gif')}}"></noscript>
        {%endif%}
        </div>
        </div>
        <form class="form-horizontal" method="POST" action="{{ path('frontend_profile_user') }}" enctype="multipart/form-data" novalidate="true">

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input class="input-block-level" accept="image/*" title="{{'SELECT_PHOTOGRAPHY' | trans}}" type="file" name="user_photo" id="user_photo"/>
            {{ form_widget(form)}}
                </div>
        <div class="col-sm-4"></div>
        </div>
            <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><button id="btn_submit" style="margin-top: 20px" type="submit" class="btn btn-primary btn-block">{{"SAVE" | trans}}</button></div>
        <div class="col-sm-4"></div>
    </div>
        </form>
       </div>
    {% javascripts
    '@mycpBundle/Resources/public/js/bootstrap-fileinput.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $('.sfgen input:text').addClass('input-block-level');
    $('.sfgen input:password').addClass('input-block-level');
</script>
{%endblock%}
