{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}Reenviar instrucciones de confirmación{% endblock %}
{% block body %}
<ul class="breadcrumb">
    <li><a title="{{'GO_HOME_TITLE' | trans}}" href="{{path('frontend_welcome')}}">{{"HOME_MAIN_MENU" | trans}}</a> <span
            class="divider">»</span></li>
    <li class="active">Reenviar instrucciones de confirmación</li>
</ul>
<div class="row-fluid ">
    <div class="span6 offset3">
        <div class="thumbnail">
            <div class="cont" style="padding: 6px 20px 0 20px">
        <h2 class="form big_price" style="font-size: 20px;">Reenviar instrucciones de confirmación</h2>
        <hr/>
        <form novalidate class="sfgen" method="POST" action="{{ path('frontend_register_confirmation_user') }}">
            {% if errors['no_email'] is defined%}<div class="alert alert-error">{{errors['no_email']}}</div>{% endif %}
            {{form_widget(form)}}
            <br/>
                <input class="btn btn-block btn-large" style="margin: auto" type="submit" value="Resetear mi contraseña"/>
        </form>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.sfgen input').addClass('input-block-level')
</script>
{%endblock%}