{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}{{'USER_RESEND_INSTRUCTIONS' | trans}}{% endblock %}
{% block body %}
<div class="container">
    <h2 class="caecilia-roman big-price-green text-center no-margin" style="font-weight: normal; margin-top: 35px">{{"USER_RESEND_INSTRUCTIONS" | trans }}</h2>
    <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0" alt="{{"Gradient" | trans}}"/></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {% if errors['no_email'] is defined%}
                <div class="alert alert-danger text-center">{{errors['no_email']}}</div>
            {% endif %}
            {% if form_errors(form.user_email) %}
                <div class="alert alert-danger text-center">{{ form_errors(form.user_email)}}</div>
            {% endif %}
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form novalidate class="form-horizontal" action="{{ path("frontend_register_confirmation_user") }}" method="post">
                <div class="row">
                    <div class="col-sm-3 text-right to-left">
                        {{ form_label(form.user_email) }}:
                    </div>
                    <div class="col-sm-7">
                        {{ form_widget(form.user_email) }}
                        <button class="btn btn-primary btn-block" type="submit" style="margin: 20px 0">{{"PASSWORD_RECOVERY_BUTTON_TEXT" | trans}}</button>
                        <a style="text-decoration: underline" href="{{ path('frontend_restore_password_user') }}">{{"FORMS_FORGOT_PASSWORD_QUESTION" | trans}}</a>
                    </div>
                </div>
                {{ form_rest(form)}}
            </form>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<script type="text/javascript">
    $('.form-horizontal label').css('fontWeight','normal');
    ul=$('.alert-danger ul');
    ul.css('listStyle','none');
    ul.css('padding','0');
</script>
{%endblock%}
