{% extends 'frontEndBundle:layout:base.html.twig' %}
{% block title %}{{"USER_REGISTRATION_PAGE_TITLE" | trans}}{% endblock %}
{% block body %}
<ul class="breadcrumb">
    <li><a title="{{'GO_HOME_TITLE' | trans}}" href="{{path('frontend_welcome')}}">{{"HOME_MAIN_MENU" | trans}}</a> <span
            class="divider">»</span></li>
    <li class="active">{{"USER_REGISTRATION_SUBTITLE" | trans}}</li>
</ul>
<div class="row-fluid ">
    <div class="span6 offset3">
        <div class="thumbnail">
        <div class="cont" style="padding: 6px 20px 0 20px">
        <h2 class="form big_price" style="font-size: 30px;">{{"USER_REGISTRATION_SUBTITLE" | trans}}</h2>
        <hr/>
        <form novalidate class="sfgen" method="POST" action="{{ path('frontend_register_user') }}">
            {% if errors['used_email'] is defined%}<div class="alert alert-error">{{errors['used_email']}}</div>{% endif %}
        {{ form_widget(form)}}
            <label class="checkbox">
                <input {% if post['policies'] is defined %} checked="checked" {% endif %} type="checkbox" name="policies" id="policies"/> {{"PRIVATE_POLICY_USER_REGISTRATION" | trans}}
            </label>
            <label class="checkbox">
                <input {% if post['user_newsletters'] is defined %} checked="checked" {% endif %} type="checkbox" name="user_newsletters"/> {{"NEWSLETTER_USER_REGISTRATION" | trans}}
            </label>
            <br/>
            <input class="btn btn-block btn-large" id="btn_submit" disabled="disabled" type="submit" value="{{"REGISTER_USER_REGISTRATION" | trans}}"/>
        </form>
            </div>
        </div>
        <a href="{{ path('frontend_login') }}"  class="btn btn-block mycp_btn_orange mycp_btn btn-large">{{"FORMS_LOGIN_QUESTION" | trans}} </a>
    </div>
</div>
<script type="text/javascript">

    $('.sfgen input:text').addClass('input-block-level')
    $('.sfgen input:password').addClass('input-block-level')
    $('#policies').change(function(){
        if($('#policies').is(":checked"))
            $('#btn_submit').removeAttr('disabled');
        else
            $('#btn_submit').attr('disabled','disabled');
    })
</script>
{%endblock%}