{% extends 'FrontEndBundle:layout:base.html.twig' %}
{% block title %}
    {% if get_tagvalue_bytag('RegisterUser', app.session.get('app_lang_code')|lower, 'title') == false %}
        {{ "USER_REGISTRATION_PAGE_TITLE" | trans }}
    {% else %}
        {{ get_tagvalue_bytag('RegisterUser', app.session.get('app_lang_code')|lower, 'title')|raw }}
    {% endif %}

{% endblock %}
{% block metas %}
    {{ get_metas('RegisterUser', lang_code)|raw }}
{% endblock metas %}
{% block breadcrumbs %}
    <a href="{{ path('frontend-welcome') }}" title="{{ "HOMEPAGE_TITLE" | trans }}">{{ "HOME_MAIN_MENU" | trans }}</a>
    <span>››</span>
    <a href="#" class="active"
       title="{{ "USER_REGISTRATION_SUBTITLE" | trans }}">{{ "USER_REGISTRATION_SUBTITLE" | trans }}</a>
{% endblock %}
{% block body %}
    <div class="container" style=' padding-top: 0;'>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-signup">
                    <h2 class="caecilia-roman big-price-green text-center no-margin" style="font-weight: normal; margin-top: 20px">{{"USER_REGISTRATION_SUBTITLE" | trans}}</h2>
                    <div><img src="{{ asset('bundles/frontend/img/line-gradient-green.png') }}" style="width: 100%; height: 1px; margin: 16px 0" alt="{{"Gradient" | trans}}"></div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12 mr-auto">

                                <form class="form-horizontal" action="{{ path('frontend_register_user') }}" method="post">
                                    {% if errors['used_email'] is defined %}
                                        <div class="alert alert-danger text-center">{{ errors['used_email'] }}</div>
                                    {% endif %}
                                    {% if errors['user_email'] is defined %}
                                        <div class="alert alert-danger text-center">{{ errors['user_email'] }}</div>
                                    {% endif %}
                                    {% if errors['errors'] is defined %}
                                        <div class="alert alert-danger text-center">{{ errors['errors'] }}</div>
                                    {% endif %}



                                    <div class="form-group">

                                        <label for="exampleInput1" class="bmd-label-floating">{{ 'FORMS_NAME'|trans }}</label>
                                        {{ form_widget(form.user_user_name,{ 'attr': {'class': 'form-control'} }) }}

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInput1" class="bmd-label-floating">{{ 'FORMS_LASTNAME'|trans }}</label>

                                        {{ form_widget(form.user_last_name,{ 'attr': {'class': 'form-control'} }) }}

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInput1" class="bmd-label-floating">{{ 'FORMS_EMAIL'|trans }}</label>

                                        {{ form_widget(form.user_email,{ 'attr': {'class': 'form-control'} }) }}

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInput1" class="bmd-label-floating">{{ 'FORMS_PASSWORD'|trans }}</label>
                                        {{ form_widget(form.user_password.first,{ 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInput1" class="bmd-label-floating">{{ 'FORMS_REPEAT'|trans }}</label>

                                        {{ form_widget(form.user_password.confirm,{ 'attr': {'class': 'form-control'} }) }}

                                    </div>
                                    <div class="form-group">

                                        <label for="exampleInput1" class="bmd-label-floating">{{ 'COUNTRY'|trans }}</label>

                                        {{ form_widget(form.user_country,{ 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input onclick="onClickHandler(this)" class="form-check-input" {% if post['policies'] is defined %} checked="checked" {% endif %} type="checkbox"
                                                   name="policies"
                                                   id="policies"/>
                                            {{"ACCEPT_TERMS_CONDITIONS" | trans}}
                                            <span class="form-check-sign">
              <span class="check"></span>

            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input"{% if post['user_newsletters'] is defined %} checked="checked" {% endif %}
                                                   type="checkbox" name="user_newsletters"/>
                                            {{ "NEWSLETTER_USER_REGISTRATION" | trans }}
                                            <span class="form-check-sign">
              <span class="check"></span>
            </span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <div class="text-center">
                                            <button onclick='HoldOn.open();' id="btn_submit" class="btn btn-primary btn-block"
                                                    disabled="disabled" type="submit">{{ "REGISTER_USER_REGISTRATION" | trans }}</button>
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function initJSTwig() {
            if ($('#policies').is(":checked"))
                $('#btn_submit').removeAttr('disabled');
            else
                $('#btn_submit').attr('disabled', 'disabled');

            $('.sfgen input:text').addClass('input-block-level');
            $('.sfgen input:password').addClass('input-block-level');
            $('#policies').change(function () {
                if ($('#policies').is(":checked"))
                    $('#btn_submit').removeAttr('disabled');
                else
                    $('#btn_submit').attr('disabled', 'disabled');
            })

            label = $('.form-horizontal label')
            label.css('fontWeight', 'normal');
            label.css('display', 'block');
            label.css('marginTop', '10px');
            $('[type="text"]').attr('class', 'form-control');
            $('[type="password"]').attr('class', 'form-control');
        }
    </script>
{% endblock javascripts %}
