<nav class="navbar navbar-expand-lg bg-info fixed-top" >


<div class="container" style="    max-width: 100%;">

    <div class="navbar-translate">


        <a class="navbar-brand" href="{{ path('frontend-welcome') }}"  style="padding:0"><img src="{{ asset('bundles/mycpmobilefrontend/img/home.png') }}" style="height:40px;" >
            {{"Mycasaparticular" | trans}}</a>
        <div class='row' style='margin:0'>
            <div>

                <button class="btn btn-info btn-fab  btn-round  dropdown-toggle-split " onclick="openNav()"  >
                    <i id='search' class="material-icons ">search</i>




                </button>


            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>

    </div>


    <div class="collapse navbar-collapse justify-content"  id="navigation" >
        <ul class="navbar-nav ml-auto" style="    height: 100%;
    overflow-y: scroll;">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    {% if app.user.getUserUserName is defined %}
                        {{app.user.getUserUserName | slice(0,10)}}{% if app.user.getUserUserName|length > 10 %}...{% endif %}
                    {%else%}
                        {{"USER_ZONE" | trans}}
                    {%endif%}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 {% if app.user.getUserUserName is defined %}
                <a class="dropdown-item" title="{{"USER_PROFILE" | trans }}" onclick='HoldOn.open();' href="{{ path('frontend_profile_user') }}">{{"USER_PROFILE" | trans }}</a>
                     <a class="dropdown-item" title="{{"USER_CHANGE_PASSWORD" | trans }}"onclick='HoldOn.open();'  href="{{ path('frontend_change_password_start_user') }}">{{"USER_CHANGE_PASSWORD" | trans }}</a>
                     <a class="dropdown-item" title="{{"LOG_OUT" | trans}}"onclick='HoldOn.open();'  href="{{ path('mycp_logout') }}">{{"LOG_OUT" | trans}} </a>
            {% else %}
                <a class="dropdown-item" title="{{"LOG_IN" | trans }}" onclick='HoldOn.open();' href="{{ path('frontend_public_login') }}">{{"LOG_IN" | trans }}</a>
                <a class="dropdown-item" title="{{"USER_NEW_ACCOUNT" | trans }}" onclick='HoldOn.open();' href="{{ path('frontend_register_user') }}">{{"USER_NEW_ACCOUNT" | trans }}</a>




                {% endif %}


                </div>
            </li>
            {% if app.user.getUserUserName is defined %}
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-home"></i>
                   MyCasaTrip
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if menu is not defined %}
                        {% set menu = 0 %}
                    {% endif %}
                    {{ render(controller('FrontEndBundle:Mycasatrip:getMenuCount', {'menu_selected': menu})) }}


                </div>
            </li>
            {% endif %}
            {{ render(controller('FrontEndBundle:Public:getMainMenuDestinations')) }}
            {{ render(controller('FrontEndBundle:Public:getMainMenuAccomodations')) }}

            <li class="nav-item">
                <a class="nav-link"  title="{{"JOIN_CASA" | trans }}" onclick='HoldOn.open();'  href="{{ path('my_cp_casa_module_registration')}}">{{"JOIN_CASA"| trans }}</a>

            </li>

            <li class="nav-item">
                <a class="nav-link" rel="nofollow" onclick='HoldOn.open();' 
                   href="{{ path('frontend_partner_home') }}">{{ 'hazte_partner' | trans | upper }}</a>

            </li>

                <li class="nav-item dropdown">

                <a title="{{"LANGUAGE" | trans }}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-language"></i>
                    {{(app.session.get('app_lang_name') == null or app.session.get('app_lang_name') == "") ? "Español" : app.session.get('app_lang_name')}}</a>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{ render_esi(controller('MyCpMobileFrontendBundle:LanguageMobile:getLanguages', {'route': app.request.get('_route'), 'routeParams':  app.request.get('_route_params')})) }}



                </div>
            </li>
            <li class="nav-item dropdown">
                <a title="{{"CURRENCY" | trans }}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="{{"CURRENCY" | trans }}"/>
                <i class="fa fa-money"></i>
                {{(app.session.get('curr_acronym') == null or app.session.get('curr_acronym') == "") ? default_currency().currcode|upper : app.session.get('curr_acronym')|upper}} </a>


                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="height: 150px;
    overflow-y: scroll;">
                    {{ render_esi(controller('FrontEndBundle:Currency:getCurrencies', {'params': app.request.attributes.all, 'route': app.request.get('_route'), 'routeParams': app.request.get('_route_params')})) }}


                </div>
            </li>

        </ul>
    </div>
</div>
</nav>