<div id="top-nav" class="col-xs-5 p-x-1">
    <div class="row">
        <div id="menu-favorites-content" class="col-xs-12" style="display: table;padding: 0;">
            <ul id="menu-favorites" class="nav nav-pills pull-right">
                <li><a class="count-info" title="{{"FAVORITIES" | trans }}" href="{{ path('frontend_list_favorite') }}">
                        {#<img  style="width: 26px; height: 23px;" class="glyphicons heart" alt="{{"Heart" | trans}}" src="{{ asset('bundles/frontend/img/icons/pixel.gif') }}"/>#}
                        <i class="glyphicons heart_empty gray-mycp"></i>
                        <span style="height: 15px;width: 20px;" class="label" id="count-fav"> </span>
                    </a></li>
                <li>
                    {{ render(controller('FrontEndBundle:Cart:countCartItems')) }}
                </li>
            </ul>
        </div>
    </div>
</div>